{% import '@OroUI/macros.html.twig' as UI %}
{% import '@OroEntityConfig/macros.html.twig' as entityConfig %}
{% import '@OroProduct/image_macros.html.twig' as Image %}

<div class="widget-content">
    <div class="row-fluid form-horizontal">
        <div class="responsive-block">
            {% block sku_and_name %}
                {{ UI.renderProperty('oro.product.sku.label'|trans, product.sku) }}
                {{ UI.renderProperty('oro.product.names.label'|trans, product.defaultName) }}
            {% endblock %}
            {% set type = 'oro.product.type.' ~ product.type %}
            {{ UI.renderProperty('oro.product.type.label'|trans, type|trans) }}

            {% block images %}
                {% if product.images.count %}
                    {{ UI.renderHtmlProperty(
                    'oro.product.images.label'|trans,
                    Image.renderProductImages(sort_product_images(product.images), imageTypes)
                    ) }}
                {% endif %}
            {% endblock %}
            {{ entityConfig.renderDynamicFields(product) }}
        </div>
    </div>
</div>
