{% block _datagrid_toolbar_sorting_widget %}
    {% set attr = attr|merge({
        class: attr.class|default('') ~ " sorting pull-left form-horizontal",
        'data-grid-sorting': ''
    }) %}
    <div class="grid__tool">
        <div{{ block('block_attributes') }}></div>
    </div>
{% endblock %}

{% block _datagrid_toolbar_mass_actions_widget %}
    {% set attr = attr|merge({
        class: attr.class|default('') ~ " mass-actions-panel btn-group icons-holder"
    }) %}
    <div class="grid__tool">
        <div{{ block('block_attributes') }}>{{ block_widget(block) }}</div>
    </div>
{% endblock %}

{% block _datagrid_toolbar_extra_actions_widget %}
    {% set attr = attr|merge({
        class: attr.class|default('') ~ " extra-actions-panel",
        'data-grid-extra-actions-panel': ''
    }) %}
    <div class="grid__tool">
        <div{{ block('block_attributes') }}>{{ block_widget(block) }}</div>
    </div>
{% endblock %}

{% block _datagrid_toolbar_pagination_widget %}
    {% set attr = attr|merge({
        class: attr.class|default('') ~ " oro-pagination",
        'data-grid-pagination': ''
    }) %}
    <div class="grid__tool">
        <div{{ block('block_attributes') }}>{{ block_widget(block) }}</div>
    </div>
{% endblock %}

{% block _datagrid_toolbar_page_size_widget %}
    {% set attr = attr|merge({
        class: attr.class|default('') ~ " page-size pull-right form-horizontal",
        'data-grid-pagesize': ''
    }) %}
    <div class="grid__tool">
        <div{{ block('block_attributes') }}>{{ block_widget(block) }}</div>
    </div>
{% endblock %}

{% block _datagrid_toolbar_actions_widget %}
    {% set attr = attr|merge({
        class: attr.class|default('') ~ " actions-panel pull-right form-horizontal",
        'data-grid-actions-panel': ''
    }) %}
    <div class="grid__tool">
        <div{{ block('block_attributes') }}>{{ block_widget(block) }}</div>
    </div>
{% endblock %}

{% block _datagrid_toolbar_button_container_widget %}
    {% if block.children|length %}
        {% set attr = attr|merge({class: attr.class|default('') ~ "grid__tool grid__tool--specific-action"}) %}
        <div{{ block('block_attributes') }}>
            {{ block_widget(block) }}
        </div>
    {% endif %}
{% endblock %}
