{% block _middle_bar_widget %}
    {% set attr = attr|merge({
    class: attr.class|default('') ~ " middlebar"
    }) %}
    <div {{ block('block_attributes') }}>
        <div class="container-fluid">
            {{ block_widget(block) }}
        </div>
    </div>
{% endblock %}

{% block _middle_bar_logo_widget %}
    {% set attr = attr|merge({
    class: attr.class|default('') ~ " middlebar__left"
    }) %}
    <div {{ block('block_attributes') }}>
        {# In home page #}
        {% if app.request.attributes.get('_route') == 'oro_frontend_root' %}
            <img
                src="{% image '@OroFrontendBundle/Resources/public/default/images/logo/logo-oroacem.svg' %}{{ asset_url }}{% endimage %}"
                class="logo"
                alt="logo"
            >
        {% else %}
            <a href="{{ path('oro_frontend_root') }}" class="logo" style="background: url('{% image '@OroFrontendBundle/Resources/public/default/images/logo/logo-oroacem.svg' %}{{ asset_url }}{% endimage %}') no-repeat;">OROCommerce</a>
        {% endif %}
    </div>
{% endblock %}

{% block _middle_bar_center_widget %}
    {% set attr = attr|merge({
    class: attr.class|default('') ~ " middlebar__center hidden-sm hidden-xs"
    }) %}
    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _middle_bar_search_widget %}
    {% set attr = attr|merge({
        class: attr.class|default('') ~ " search-widget-wrap"
    }) %}

    {% set dom_relocation_options =  {
        responsive: [
            {
                breakpoint: 1099,
                moveTo: "[data-header-row-search-container]"
            }
        ]
    }|json_encode %}
    <div {{ block('block_attributes') }}>
        <form  id="oro_website_search_search"
               action="{{ url('oro_website_search_results') }}"
               method="GET"
               novalidate="novalidate"
               class="search-widget"
               data-dom-relocation
               data-dom-relocation-options="{{ dom_relocation_options }}"
        >
            <input class="search-widget__input input input--full" type="text" placeholder="{{ 'oro.website_search.search_field_placeholder'|trans({}, translation_domain) }}" value="" name="search"/>
            <button name="oro_website_search_search_button" class="search-widget__submit" type="submit">
                <i class="fa-search"></i>
            </button>
        </form>
    </div>
{% endblock %}
