@name = order_confirmation_email
@entityName = OroB2B\Bundle\OrderBundle\Entity\Order
@subject = Your Store Name order has been received.
@isSystem = 1
@isEditable = 1

{% macro renderAddress(address) %}
    {% if address %}
        {% if address.label %}
            <b>{{ address.label|escape }}</b>
            <br />
        {% endif %}
        {{ address|oro_format_address|escape|nl2br }}
    {% else %}
        {{ 'oro.ui.empty'|trans }}
    {% endif %}
{% endmacro %}

<h1>Hello, {{ entity.accountUser.firstName }} {{ entity.accountUser.lastName }}!</h1>

<p>Thank you for order from {{ entity.website }}. If you have any questions about your order, please contact us at
    {{ entity.owner.email }} or call us at 800-555-0199 Monday-Friday, 9am-6pm PST.</p>

<h3>Please see your order details below.</h3>

<h4>Billing Information</h4>
{{ address.renderAddress(entity.billingAddress) }}

<h4>Shipping Information</h4>
{{ address.renderAddress(entity.shippingAddress) }}

<h4>Payment Method</h4>
{{ entity.paymentTerm }}

<h4>Additional Information</h4>
<strong>Do Not Ship Later Than: </strong>{{ entity.shipUntil }}

{% if entity.customerNotes %}
    <strong>Notes: </strong>{{ entity.customerNotes }}
{% endif %}

<table>
    <thead>
    <tr>
        <th>Item</th>
        <th>Quantity</th>
        <th>Price</th>
        {#TODO: add subtotal extention#}
        {#<th>Subtotal</th>#}
    </tr>
    </thead>
    <tbody>
    {% for item in entity.lineItems %}
        <tr>
            <td>item</td>
            <td>quantity|orob2b_format_short_product_unit_value(item.productUnit)</td>
            <td>item.price|oro_format_price</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<br>
<strong>Subtotal</strong> {{ entity.subtotal }}<br>
<strong>Tax</strong> 0 <br>
<strong>Total</strong> {{ entity.total }} <br>
Thank you.
