{% block _product_datagrid_row_product_sticker_new_widget %}
    {% if
        product is defined and
        product.stickers is defined and
        product.stickers|length
    %}
        {% set stickers = product.stickers %}
    {% endif %}
    {{ block_widget(block, {'stickers' : stickers|default({})}) }}
{% endblock %}

{% block _product_datagrid_row_product_sticker_new_text_widget %}
    {% if
        product is defined and
        product.stickers is defined and
        product.stickers|length
    %}
        {% set stickers = product.stickers %}
    {% endif %}
    {{ block_widget(block, {'stickers' : stickers|default({})}) }}
{% endblock %}

{% block __oro_product_grid__product_widget %}
    {% set product = datagrid_row|merge({
        getDefaultName: datagrid_row.name
    }) %}

    {% do block|merge_context({
        class_prefix: themeOptions.currentRowView,
        product: product
    }) %}

    {% set attr = layout_attr_defaults(attr, {
        'data-page-component-module': 'oroui/js/app/components/view-component',
        '~data-page-component-options': {
            view: 'oroproduct/js/app/views/base-product-view',
            modelAttr: product|default({})
        },
        'data-layout': 'separate'
    }) %}
    <div {{ block('block_attributes') }}>
        {{ block('container_widget') }}
    </div>
{% endblock %}

{% block __oro_product_grid__product_image_holder_widget %}
    {% import 'OroProductBundle::image_macros.html.twig' as Image %}

    {% set attr = layout_attr_defaults(attr, {
        '~class': " product-item__image-holder product-item__image-holder--{{ class_prefix }}"
    }) %}

    {% set noImageUrl = Image.url(null, 'product_large') %}
    <div {{ block('block_attributes') }}>
        {% set image = product.image is defined ? product.image : noImageUrl %}
        <a href="{{ product.view_link }}" class="view-product" style="background-image: url('{{ image }}')"></a>
        {{ block('container_widget') }}
    </div>
{% endblock %}

{% block __oro_product_grid__product_title_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': " product-item__title product-item__title--{{ class_prefix }}"
    }) %}

    <h3 {{ block('block_attributes') }}>
        <a href="{{ product.view_link }}"
           class="view-product"{% if 'gallery-view' in class_prefix %} data-page-component-shortcut-line-clamp{% endif %}
        >
            {{- block('container_widget') -}}
        </a>
    </h3>
{% endblock %}

{% block __oro_product_grid__product_details_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': " product__view-details-link product__view-details-link--{{ class_prefix }}"
    }) %}
    <div {{ block('block_attributes') }}>
        <a href="{{ product.view_link }}" class="view-product">
            {{ 'oro.product.frontend.index.view_details'|trans }}<i class="fa-angle-right fa--link-r"></i>
        </a>
    </div>
{% endblock %}

{% block __oro_product_grid__product_price_container_widget %}
    {{ block("product_price_container") }}
{% endblock %}
