{% block __oro_product_grid__datagrid_widget %}
    {% set compact_view = '' %}
    {% set buttonsId = 'datagrid_row_product_line_item_form_buttons' %}
    {% if blocks[buttonsId] is not defined or blocks[buttonsId].children is empty %}
        {% set compact_view = ' product-item--compact' %}
    {% endif %}
    {% set themeOptions = grid_render_parameters.themeOptions|default({}) %}
    {% set grid_render_parameters = grid_render_parameters|merge({'themeOptions': themeOptions|merge({
        'headerHide': true,
        'currentRowView': current_row_view,
        'bodyClassName': 'grid-body products__list products__list_' ~ current_row_view,
        'rowClassName': 'grid-row product-item product-item_' ~ current_row_view ~ compact_view,
        'rowAttributes': {
            'data-layout-model': 'productModel'
        }
    })}) %}

    {{ parent_block_widget(block) }}
{% endblock %}

{% block __oro_product_grid__datagrid_toolbar_sorting_widget %}
    {% set attr = attr|merge({
        class: attr.class|default('') ~ " catalog__filter-controls__item sorting form-horizontal action-selectbox_custom_in-pager",
        'data-grid-sorting': ''
    }) %}

    <div{{ block('block_attributes') }}></div>
{% endblock %}

{% block __oro_product_grid__datagrid_toolbar_pagination_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' catalog__filter-controls__item oro-pagination',
        'data-grid-pagination': ''
    }) %}

    {{ parent_block_widget(block) }}
{% endblock %}

{% block __oro_product_grid__datagrid_toolbar_page_size_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' catalog__filter-controls__item page-size form-horizontal',
        'data-grid-pagesize': ''
    }) %}

    {{ parent_block_widget(block) }}
{% endblock %}

{% block __oro_product_grid__datagrid_toolbar_actions_widget %}
    {% set attr = attr|merge({
        class: attr.class|default('') ~ " catalog__filter-controls__item actions-panel form-horizontal",
        'data-grid-actions-panel': ''
    }) %}

    {{ parent_block_widget(block) }}
{% endblock %}

{% block _product_datagrid_toolbar_display_options_widget %}
    {% set attr = attr|merge({
        class: attr.class|default('') ~ " catalog__filter-controls__item display-options pull-right"
    }) %}
    <div{{ block('block_attributes') }}>
        {% set row_view_key = constant('Oro\\Bundle\\ProductBundle\\DataGrid\\DataGridThemeHelper::GRID_THEME_PARAM_NAME') %}
        <span class="fs14 va-m_md hidden-sm hidden-xs">Display: &nbsp;</span>
        <div class="buttons-inline-group inline">
            {% set row_view = constant('Oro\\Bundle\\ProductBundle\\DataGrid\\DataGridThemeHelper::VIEW_TILES') %}
            <a href="{{ path('oro_product_frontend_product_index', {'frontend-product-search-grid': {(row_view_key): row_view}}) }}"
               class="btn btn_transparent btn_bordered btn_squared {% if current_row_view == row_view %}current{% endif %}" data-catalog-view-trigger="gallery-view">
                <span class="catalog-view-option">
                    <i class="cf-apps cf--large"></i>
                </span>
            </a>
            {% set row_view = constant('Oro\\Bundle\\ProductBundle\\DataGrid\\DataGridThemeHelper::VIEW_GRID') %}
            <a href="{{ path('oro_product_frontend_product_index', {'frontend-product-search-grid': {(row_view_key): row_view}}) }}"
               class="btn btn_transparent btn_bordered btn_squared {% if current_row_view == row_view %}current{% endif %}"
               data-catalog-view-trigger="list-view">
                <span class="catalog-view-option">
                  <i class="cf-view_list cf--large"></i>
                </span>
            </a>
            {% set row_view = constant('Oro\\Bundle\\ProductBundle\\DataGrid\\DataGridThemeHelper::VIEW_LIST') %}
            <a href="{{ path('oro_product_frontend_product_index', {'frontend-product-search-grid': {(row_view_key): row_view}}) }}"
               class="btn btn_transparent btn_bordered btn_squared {% if current_row_view == row_view %}current{% endif %}" data-catalog-view-trigger="no-image-view">
                <span class="catalog-view-option">
                  <i class="cf-view_headline cf--large"></i>
                </span>
            </a>
        </div>
    </div>
{% endblock %}
