{% block _product_grid_widget %}
    {% set compact_view = '' %}
    {% set buttonsId = 'datagrid_row_product_line_item_form_buttons' %}
    {% if blocks[buttonsId] is not defined or blocks[buttonsId].children is empty %}
        {% set compact_view = ' product-item--compact' %}
    {% endif %}
    {% set themeOptions = grid_render_parameters.themeOptions|default({}) %}
    {% set grid_render_parameters = grid_render_parameters|merge({'themeOptions': themeOptions|merge({
        'tagName': 'div',
        'headerHide': true,
        'rowTemplateSelector': '#template-grid-row',
        'rowActionSelector': '.view-product',
        'currentRowView': current_row_view,
        'bodyClassName': 'grid-body products__list products__list_' ~ current_row_view,
        'rowClassName': 'grid-row product-item product-item_' ~ current_row_view ~ compact_view,
        'rowAttributes': {
            'data-layout': 'separate',
            'data-layout-model': 'productModel'
        }
    })}) %}
    {{ block('datagrid_widget') }}
{% endblock %}

{% block __oro_product_grid__datagrid_toolbar_sorting_widget %}
    {% set attr = attr|merge({
        class: attr.class|default('') ~ " catalog__filter-controls__item sorting form-horizontal action-selectbox_custom_in-pager",
    'data-grid-sorting': ''
    }) %}

    <div{{ block('block_attributes') }}></div>
{% endblock %}

{% block __oro_product_grid__datagrid_toolbar_mass_actions_widget %}
    {% set attr = attr|merge({
        class: attr.class|default('') ~ " mass-actions-panel btn-group icons-holder"
    }) %}
    <div class="catalog__filter-controls__item">
        <div{{ block('block_attributes') }}>{{ block(block_type_widget_id) }}</div>
    </div>
{% endblock %}

{% block __oro_product_grid__datagrid_toolbar_extra_actions_widget %}
    {% set attr = attr|merge({
        class: attr.class|default('') ~ " extra-actions-panel",
        'data-grid-extra-actions-panel': ''
    }) %}
    <div class="catalog__filter-controls__item">
        <div{{ block('block_attributes') }}>{{ block(block_type_widget_id) }}</div>
    </div>
{% endblock %}

{% block __oro_product_grid__datagrid_toolbar_pagination_widget %}
    {% set attr = attr|merge({
        class: attr.class|default('') ~ " catalog__filter-controls__item oro-pagination",
        'data-grid-pagination': ''
    }) %}

    <div{{ block('block_attributes') }}>
        {{ block(block_type_widget_id) }}
    </div>
{% endblock %}

{% block __oro_product_grid__datagrid_toolbar_page_size_widget %}
    {% set attr = attr|merge({
        class: attr.class|default('') ~ " catalog__filter-controls__item page-size form-horizontal",
        'data-grid-pagesize': ''
    }) %}

    <div{{ block('block_attributes') }}>
        {{ block(block_type_widget_id) }}
    </div>
{% endblock %}

{% block __oro_product_grid__datagrid_toolbar_actions_widget %}
    {% set attr = attr|merge({
        class: attr.class|default('') ~ " catalog__filter-controls__item actions-panel form-horizontal",
        'data-grid-actions-panel': ''
    }) %}

    <div{{ block('block_attributes') }}>
        {{ block(block_type_widget_id) }}
    </div>
{% endblock %}

{% block __oro_product_grid__datagrid_toolbar_display_options_widget %}
    {% set attr = layout_attr_defaults(attr, {
        'data-page-component-module': 'oroui/js/app/components/view-component',
        'data-page-component-options': {
            'view': 'oroproduct/js/app/views/catalog-switch-view',
            'parameterName': 'frontend-product-search-grid[row-view]'
        },
        class: attr.class|default('') ~ " catalog__filter-controls__item display-options pull-right"
    }) %}

    <div{{ block('block_attributes') }}>
        {% set row_view_key = constant('Oro\\Bundle\\ProductBundle\\DataGrid\\DataGridThemeHelper::GRID_THEME_PARAM_NAME') %}
        <span class="fs14 va-m_md hidden-sm hidden-xs">Display: &nbsp;</span>
        <div class="buttons-group">
            {% set row_view = constant('Oro\\Bundle\\ProductBundle\\DataGrid\\DataGridThemeHelper::VIEW_TILES') %}
            <a href="{{ path('oro_product_frontend_product_index', {'frontend-product-search-grid': {(row_view_key): row_view}}) }}"
               class="buttons-group__el {% if current_row_view == row_view %}current{% endif %}" data-catalog-view-trigger="gallery-view">
                    <i class="fa-th fa--no-offset"></i>
            </a>
            {% set row_view = constant('Oro\\Bundle\\ProductBundle\\DataGrid\\DataGridThemeHelper::VIEW_GRID') %}
            <a href="{{ path('oro_product_frontend_product_index', {'frontend-product-search-grid': {(row_view_key): row_view}}) }}"
               class="buttons-group__el {% if current_row_view == row_view %}current{% endif %}"
               data-catalog-view-trigger="list-view">
                    <i class="fa-th-list fa--no-offset"></i>
            </a>
            {% set row_view = constant('Oro\\Bundle\\ProductBundle\\DataGrid\\DataGridThemeHelper::VIEW_LIST') %}
            <a href="{{ path('oro_product_frontend_product_index', {'frontend-product-search-grid': {(row_view_key): row_view}}) }}"
               class="buttons-group__el {% if current_row_view == row_view %}current{% endif %}" data-catalog-view-trigger="no-image-view">
                    <i class="fa-bars fa--no-offset"></i>
            </a>
        </div>
    </div>
{% endblock %}
