{% block _product_datagrid_row_product_sticker_new_widget %}
    {% if
        product is defined and
        product.stickers is defined and
        product.stickers|length %}
        {% set stickers = product.stickers %}
    {% endif %}
    {{ block_widget(block, {'stickers' : stickers|default({})}) }}
{% endblock %}

{% block _product_datagrid_row_product_sticker_new_text_widget %}
    {% if
        product is defined and
        product.stickers is defined and
        product.stickers|length %}
        {% set stickers = product.stickers %}
    {% endif %}
    {{ block_widget(block, {'stickers' : stickers|default({})}) }}
{% endblock %}

{% block __oro_product_grid__product_widget %}
    {% set product = datagrid_row %}

    {% set matrixForm = product.matrixForm %}
    {% if matrixForm.type == 'inline' and not blocks.product_datagrid_cell_matrix_wrapper.vars.visible %}
        {# fix type for related, not matrix, blocks #}
        {% set matrixForm = matrixForm|merge({
            type: 'none'
        }) %}
    {% endif %}
    {% set matrixFormType = matrixForm.type %}

    {% set class_prefix = themeOptions.currentRowView %}

    {% set modelAttr = layout_attr_defaults(product|default({}), {
        'imageUrl': product.image
    }) %}

    {% do block|merge_context({
        class_prefix: class_prefix,
        matrixForm: matrixForm,
        matrixFormType: matrixForm.type,
        totals: matrixForm.totals|default([]),
        product: product
    }) %}

    {% set _className = matrixFormType == 'inline' ? 'product-item__wrapper--{{ class_prefix }}' : '' %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': _className ~ ' product-item__base--' ~ class_prefix,
        'data-page-component-module': 'oroui/js/app/components/view-component',
        '~data-page-component-options': {
            view: 'oroproduct/js/app/views/base-product-view',
            modelAttr: modelAttr
        },
        'data-layout': 'separate'
    }) %}
    {% if is_configurable_product_type(product.type) %}
        {% set attr = layout_attr_defaults(attr, {
            '~class': ' is-configurable',
        }) %}
    {% endif %}

    {% if is_kit_product_type(product.type) %}
        {% set attr = layout_attr_defaults(attr, {
            '~class': ' is-kit',
        }) %}
    {% endif %}

    {% do block|merge_context({
        '__productUniqId': 'product-'|uniqid,
    }) %}

    <div {{ block('block_attributes') }}>
        {{ block('container_widget') }}
    </div>
{% endblock %}

{% block __oro_product_grid__product_image_holder_widget %}
    {% set attr = layout_attr_defaults(attr, {
        'id': __productUniqId ~ 'image-holder',
        '~class': " product-item__image-holder product-item__image-holder--{{ class_prefix }}",
        'data-page-component-init-on': 'click,focusin'
    }) %}

    <div {{ block('block_attributes') }}>
        {{ block('container_widget') }}
    </div>
{% endblock %}

{% block  __oro_product_grid__product_view_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' product-item__preview',
        'href': product.view_link,
        'aria-label': 'oro.product.frontend.index.view_details_prefix'|trans ~ ' ' ~ product.name
    }) %}

    {% if popup_gallery and product.hasImage %}
        {% set options = {
            view: 'orofrontend/js/app/components/popup-gallery-widget',
            ajaxMode: true,
            ajaxRoute: 'oro_product_frontend_ajax_images_by_id',
            id: product.id,
            galleryFilter: 'product_gallery_popup',
            alt: product.name,
            uniqueTriggerToOpenGallery: '[data-role="data-trigger-gallery-open-' ~ __productUniqId ~ '"]'
        } %}

        {% set attr = layout_attr_defaults(attr, {
            'data-page-component-view': options|json_encode,
            'data-popup-gallery': ''
        }) %}
    {% endif %}

    <a {{ block('block_attributes') }}>
        {{ block('container_widget') }}
    </a>
{% endblock %}

{% block __oro_product_grid__product_popup_gallery_widget %}
    {% if product.hasImage %}
        {% set attr = layout_attr_defaults(attr, {
            '~class': ' view-product-gallery',
            'data-trigger-gallery-open': '',
            'data-role': 'data-trigger-gallery-open-' ~ __productUniqId,
            'aria-label': 'oro.product.images.zoom.label'|trans,
            'type': 'button'
        }) %}
        <button {{ block('block_attributes') }}></button>
    {% endif %}
{% endblock %}

{% block __oro_product_grid__product_view_image_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' product-item__preview-picture',
        'data-object-fit': ''
    }) %}

    {% if product.imageWebp is defined and product.imageWebp and product.imageWebp != product.image %}
        {% set sources = [{
            srcset: product.imageWebp,
            type: 'image/webp'
        }] %}
    {% endif %}

    {% include '@OroAttachment/Twig/picture.html.twig' with {
        sources: sources|default([]),
        img_attrs: {
            src: product.image,
            alt: product.name,
            class: 'product-item__preview-image',
            itemprop: 'image'
        },
        picture_attrs: attr
    } %}
{% endblock %}

{% block __oro_product_grid__product_title_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': " product-item__title product-item__title--{{ class_prefix }}"
    }) %}

    <h2 {{ block('block_attributes') }}>
        <a href="{{ product.view_link }}"
           class="view-product{% if 'gallery-view' in class_prefix %} line-clamp{% endif %}"
           itemprop="url"
           title="{{ block('container_widget')|trim|raw }}"
        >
            <span itemprop="name">{{ block('container_widget')|trim|raw }}</span>
        </a>
    </h2>
{% endblock %}

{% block __oro_product_grid__product_details_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': " product__view-details-link product__view-details-link--{{ class_prefix }}"
    }) %}
    <div {{ block('block_attributes') }}>
        <a href="{{ product.view_link }}" class="link view-product" aria-label="{{ 'oro.product.frontend.index.view_details_aria_label'|trans }}">
            {{ 'oro.product.frontend.index.view_details'|trans }}<span class="fa-angle-right fa--link-r" aria-hidden="true"></span>
        </a>
    </div>
{% endblock %}

{% block _product_datagrid_cell_matrixForm_widget %}
    {% if matrixFormType == 'inline' %}
        {% do block|merge_context({
            'prices': product.prices,
            'matrixForm': matrixForm.form,
            'rows': matrixForm.rows
        }) %}
        {{- block('container_widget') -}}
    {% endif %}
{% endblock %}

{% block _product_datagrid_cell_matrix_form_fields_widget %}
    {{ matrixForm|raw }}
{% endblock %}

{% block _product_item_select_row_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' product-item__select-row product-item__select-row--{{ class_prefix }}'
    }) %}

    {% if not is_configurable_product_type(product.type) and not is_kit_product_type(product.type) %}
        <div {{ block('block_attributes') }}>
            <div data-page-component-init-on="asap"
                 data-page-component-module="oroproduct/js/app/datagrid/cell/backend-select-row-cell"></div>
        </div>
    {% endif %}
{% endblock %}
