{% import 'OroUIBundle::macros.html.twig' as UI %}
{% import 'OroEmailBundle::actions.html.twig' as EmailActions %}

<div class="widget-content">
    <div class="row-fluid form-horizontal">
        <div class="responsive-block">
            {{ UI.renderProperty('orob2b.rfp.admin.request.first_name.label'|trans, entity.firstName) }}
            {{ UI.renderProperty('orob2b.rfp.admin.request.last_name.label'|trans, entity.lastName) }}
            {{ UI.renderHtmlProperty('orob2b.rfp.admin.request.email.label'|trans, EmailActions.sendEmailLink(entity.email, entity))}}
            {{ UI.renderProperty('orob2b.rfp.admin.request.phone.label'|trans, entity.phone) }}
            {{ UI.renderProperty('orob2b.rfp.admin.request.company.label'|trans, entity.company ? entity.company : 'N/A') }}
            {{ UI.renderProperty('orob2b.rfp.admin.request.role.label'|trans, entity.role ? entity.role : 'N/A') }}
            {{ UI.renderProperty('orob2b.rfp.admin.request.status.label'|trans, entity.status.label) }}
        </div>
    </div>
</div>
