{% extends 'OroUIBundle:actions:update.html.twig' %}
{% import 'OroDataGridBundle::macros.html.twig' as dataGrid %}

{% set entityId = entity.id %}
{% set parentCategoryId = entity.parentCategory ? entity.parentCategory.id : null %}

{% if entityId %}
    {% oro_title_set({params : {"%title%": entity.defaultTitle.string} }) %}
{% endif %}

{% set formAction = entityId ? path('orob2b_catalog_category_update', { 'id': entityId }) : path('orob2b_catalog_category_create', { 'id': parentCategoryId })  %}

{% block navButtons %}
    {% if entityId %}
        {% if resource_granted('orob2b_catalog_category_create') %}
            {{ UI.button({
                'path' : path('orob2b_catalog_category_create', { 'id': entityId }),
                'iCss': 'icon-folder-close',
                'aCss': 'btn-primary',
                'label': 'oro.ui.create_entity'|trans({'%entityName%': 'orob2b.catalog.subcategory.entity_label'|trans}),
                'title': 'oro.ui.create_entity'|trans({'%entityName%': 'orob2b.catalog.subcategory.entity_label'|trans})
            }) }}
        {% endif %}
        {% set canBeDeleted = resource_granted('DELETE', entity) and entityId != rootCategory.id %}
        {% if canBeDeleted %}
            {{ UI.deleteButton({
                'dataUrl': path('orob2b_api_delete_category', {'id': entityId}),
                'dataRedirect': path('orob2b_catalog_category_index'),
                'aCss': 'no-hash remove-button',
                'dataId': entityId,
                'id': 'btn-remove-account',
                'entity_label': 'orob2b.catalog.category.entity_label'|trans,
            }) }}
        {% endif %}
        {% if resource_granted('orob2b_catalog_category_create') or canBeDeleted %}
            {{ UI.buttonSeparator() }}
        {% endif %}
    {% endif %}

    {{ UI.cancelButton(path('orob2b_catalog_category_index')) }}
    {% set html = UI.saveAndCloseButton() %}
    {% if entityId or resource_granted('orob2b_catalog_category_update') %}
        {% set html = html ~ UI.saveAndStayButton() %}
    {% endif %}
    {{ UI.dropdownSaveButton({'html': html}) }}
{% endblock navButtons %}

{% block pageHeader %}
    {% if entityId %}
        {% set breadcrumbs = {
            'entity':      entity,
            'indexPath':   path('orob2b_catalog_category_index'),
            'indexLabel': 'orob2b.catalog.category.entity_plural_label'|trans,
            'entityTitle': entity.defaultTitle.string|default('N/A'|trans)
        } %}
        {{ parent() }}
    {% else %}
        {% set title = 'oro.ui.create_entity'|trans({'%entityName%': 'orob2b.catalog.category.entity_label'|trans}) %}
        {% include 'OroUIBundle::page_title_block.html.twig' with { title: title } %}
    {% endif %}
{% endblock pageHeader %}

{% block content_data %}
    {% set id = 'category-edit' %}

    {% set dataBlocks = [{
            'title': 'General'|trans,
            'class': 'active',
            'subblocks': [{
                'title': '',
                'data': [
                    form_widget(form.appendProducts, {'id': 'categoryAppendProducts'}),
                    form_widget(form.removeProducts, {'id': 'categoryRemoveProducts'}),
                    form_row(form.parentCategory),
                    form_row(form.titles)
                ]
            }]
        }]
    %}

    {% if resource_granted('orob2b_product_update') %}
        {% set dataBlocks = dataBlocks|merge([{
            'title' : 'orob2b.product.entity_plural_label'|trans,
            'subblocks':
            [
                {
                    'title' : null,
                    'useSpan': false,
                    'data' : [dataGrid.renderGrid('products-grid', { category_id: entityId }, { cssClass: 'inner-grid' })]
                }
            ]
        }]) %}
    {% endif %}

    {% set data = {
        'formErrors': form_errors(form),
        'dataBlocks': dataBlocks
    }%}

    <div class="category-container">
        <div class="category b2b-tree category-tree">
            {% set treeOptions = {
                'key' : 'b2b-category',
                'data' : orob2b_category_list(),
                'nodeId' : entityId ? entityId : parentCategoryId,
                'updateAllowed' : resource_granted('orob2b_catalog_category_update')
            } %}
            <div
                data-page-component-module="orob2bcatalog/js/app/components/tree-manage-component"
                data-page-component-options="{{ treeOptions|json_encode }}"
            ></div>
        </div>
    </div>
    <div class="category-data">
        {{ parent() }}
    </div>
{% endblock content_data %}
