{% block oro_currency_price_widget %}
    {% if hide_currency %}
        {{ form_widget(form.value) }}
        {{ form_widget(form.currency) }}
        {{ form_errors(form.value) }}
        {{ form_errors(form.currency) }}
    {% else %}
        <table>
            <tr>
                <td>
                    {{ form_widget(form.value) }}
                    {{ form_errors(form.value) }}
                </td>
                <td>
                    {{ form_widget(form.currency) }}
                    {{ form_errors(form.currency) }}
                </td>
            </tr>
        </table>
    {% endif %}
{% endblock %}
