{% extends 'OroUIBundle:actions:view.html.twig' %}
{% import 'OroUIBundle::macros.html.twig' as UI %}

{% oro_title_set({params : {'%title%': entity.alias} }) %}

{% block pageHeader %}
    {% set breadcrumbs = {
        'entity': entity,
        'indexPath': path('oro_cms_content_block_index'),
        'indexLabel': 'oro.cms.contentblock.entity_plural_label'|trans,
        'entityTitle': entity.alias|default('N/A'|trans)
    } %}

    {{ parent() }}
{% endblock pageHeader %}

{% set restrictionsData %}
    <table class="grid table table-bordered table-condensed quote-line-items">
        <thead>
        <tr>
            <th><span>{{ 'oro.cms.contentblock.scopes.localization.label'|trans }}</span></th>
            <th><span>{{ 'oro.cms.contentblock.scopes.website.label'|trans }}</span></th>
            <th><span>{{ 'oro.cms.contentblock.scopes.customer_group.label'|trans }}</span></th>
            <th><span>{{ 'oro.cms.contentblock.scopes.customer.label'|trans }}</span></th>
        </tr>
        </thead>
        <tbody>
        {% for scope in entity.scopes %}
                <tr>
                    <td>{{ scope.localization|default('N/A'|trans) }}</td>
                    <td>{{ scope.website|default('N/A'|trans) }}</td>
                    <td>{{ scope.customerGroup|default('N/A'|trans) }}</td>
                    <td>{{ scope.customer|default('N/A'|trans) }}</td>
                </tr>
        {% endfor %}
        </tbody>
    </table>
{% endset %}

{% set contentVariantsData %}
    {% if entity.contentVariants|length %}
        {% for variant in entity.contentVariants %}
            {{ UI.renderProperty('oro.cms.contentblock.content_variants.default.label'|trans, variant.default ?
            'oro.cms.contentblock.content_variants.default.yes.label'|trans
            :
            'oro.cms.contentblock.content_variants.default.no.label'|trans) }}
            {{ UI.renderHtmlProperty('oro.cms.page.content.label'|trans, variant.content) }}
            <table class="grid table table-bordered table-condensed quote-line-items">
                <thead>
                <tr>
                    <th><span>{{ 'oro.cms.contentblock.scopes.localization.label'|trans }}</span></th>
                    <th><span>{{ 'oro.cms.contentblock.scopes.website.label'|trans }}</span></th>
                    <th><span>{{ 'oro.cms.contentblock.scopes.customer_group.label'|trans }}</span></th>
                    <th><span>{{ 'oro.cms.contentblock.scopes.customer.label'|trans }}</span></th>
                </tr>
                </thead>
                <tbody>
                {% for variantScope in variant.scopes %}
                    <tr>
                        <td>{{ variantScope.localization|default('N/A'|trans) }}</td>
                        <td>{{ variantScope.website|default('N/A'|trans) }}</td>
                        <td>{{ variantScope.customerGroup|default('N/A'|trans) }}</td>
                        <td>{{ variantScope.customer|default('N/A'|trans) }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endfor %}
    {% else %}
        {{ 'oro.cms.contentblock.content_variants.no_content_variants.label'|trans }}
    {% endif %}
{% endset %}

{% block content_data %}
    {% set dataBlocks = [
        {
            'title': 'oro.cms.contentblock.sections.general.label'|trans,
            'class': 'active',
            'subblocks': [{
                'data' : [
                    UI.renderProperty('oro.cms.contentblock.alias.label'|trans, entity.alias),
                    UI.renderProperty('oro.cms.contentblock.enabled.label'|trans, entity.enabled ?
                    'oro.cms.contentblock.enabled.yes.label'|trans
                    :
                    'oro.cms.contentblock.enabled.no.label'|trans)
                ]
            }]
        },
        {
            'title': 'oro.cms.contentblock.sections.use_for.label'|trans,
            'subblocks': [{
                'data' : [restrictionsData]
            }]
        },
        {
            'title': 'oro.cms.contentblock.content_variants.entity_plural_label'|trans,
            'subblocks': [{
                'data' : [contentVariantsData]
            }]
        }
    ] %}

    {% set id = 'contentblock-page-view' %}
    {% set data = {'dataBlocks': dataBlocks} %}

    {{ parent() }}
{% endblock content_data %}
