{% block orob2b_account_frontend_account_user_role_widget %}
    {% set fields = [] %}
    {% for name, child in form %}
        {% if name not in ['appendUsers', 'removeUsers', 'entity', 'privileges', 'action'] %}
            {% set fields = fields|merge({(name): '#' ~ child.vars.id}) %}
        {% endif %}
    {% endfor %}

    {% set options = {
        elSelector: '.btn.role-submit',
        formName: form.vars.name,
        formSelector: '#' ~ form.vars.id,
        labelSelector: '#' ~ form.label.vars.id,
        privilegesSelector: '#' ~ form.privileges.vars.id,
        appendUsersSelector: '#roleAppendUsers',
        removeUsersSelector: '#roleRemoveUsers',
        fields: fields
    } %}

    <div data-page-component-module="orouser/js/views/role-view"
         data-page-component-options="{{ options|json_encode }}">
    </div>

    {{ form_row(form.label) }}

    {{ form_widget(form.appendUsers, {'id': 'roleAppendUsers'}) }}
    {{ form_widget(form.removeUsers, {'id': 'roleRemoveUsers'}) }}
{% endblock %}

{% block _orob2b_account_frontend_account_user_role_entity_row %}{% endblock %}
{% block _orob2b_account_frontend_account_user_role_action_row %}{% endblock %}

{% block _orob2b_account_frontend_account_user_role_label_row %}
    <div class="row mb3-md mb3-sm">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    {{ form_label(form, 'orob2b.account.frontend.sections.account_user_role.label') }}
                </div>
                <div class="col-md-4">
                    {{ form_widget(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block oro_acl_collection_widget %}
    <div data-page-component-module="{{ page_component_module|escape }}" data-page-component-options="{{ page_component_options|json_encode|escape }}">
        {% if privileges_config.view_type == 'grid' %}
            <table class="oro-grid-table oro-grid-table__access">
                <thead>
                    <tr>
                        <th class="col-md-5">
                            <div class="col-md-12">{{ 'orob2b.account.frontend.table.entity.section.label'|trans }}</div>
                        </th>
                        <th class="col-md-3">
                            <div class="col-md-6">{{ 'orob2b.account.frontend.table.entity.action.label'|trans }}</div>
                            <div class="col-md-6">{{ 'orob2b.account.frontend.table.entity.permission.label'|trans }}</div>
                        </th>
                        <th class="col-md-1"></th>
                        <th class="col-md-3">
                            <div class="col-md-6">{{ 'orob2b.account.frontend.table.entity.action.label'|trans }}</div>
                            <div class="col-md-6">{{ 'orob2b.account.frontend.table.entity.permission.label'|trans }}</div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for child in form %}
                        {{ form_widget(child) }}
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <table class="oro-grid-table oro-grid-table__capabilities">
                <tbody>
                    <tr>
                        <td class="underlined-row"></td>
                    </tr>
                    {% for child in form %}
                        <tr>
                            <td>
                                {{ form_widget(child) }}
                            </td>
                        </tr>
                        <tr>
                            <td class="underlined-row"></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>
{% endblock %}

{% block oro_acl_privilege_identity_widget %}
    {% set class = '' %}
    {% if form.parent.vars.privileges_config.view_type is defined and form.parent.vars.privileges_config.view_type == 'grid' %}
        {% set class = 'col-md-12 mt1-md mt1-sm' %}
    {% endif %}

    {{ form_widget(form, {'attr': {'class': class}}) }}
{% endblock %}

{% block oro_acl_label_widget %}
    {{ value|trans }}
    {% set type = type|default('hidden') %}
    {{ block('form_widget_simple') }}
{% endblock %}

{% block oro_acl_privilege_widget %}
   {% spaceless %}
        {% if privileges_config.view_type == 'grid' %}
            <tr {% if form.vars.value.identity.name == "(default)" %}class="default-field"{% endif %}>
                <td class="col-md-5 va-t_md">
                    {{ form_widget(form.identity) }}
                </td>
                <td class="col-md-3 va-t_md">
                    {{ form_widget(form.permissions) }}
                </td>
            </tr>
            <tr>
                <td colspan="4" class="underlined-row"></td>
            </tr>
        {% else %}
            <div class="col-md-11">
                {{ form_widget(form.identity) }}
            </div>
            <div class="col-md-1">
                {{ form_widget(form.permissions) }}
            </div>
        {% endif %}
    {% endspaceless %}
{% endblock %}

{% block oro_acl_permission_collection_widget %}
    {% set permissionsCount = (form.children|length / 2)|round %}

    {% for field in privileges_config['permissions'] %}
        {% set index = loop.index %}

        {% for permission in form %}
            {% if permission.vars.value.name == field %}
                {% if privileges_config.view_type == 'grid' %}
                    <div class="col-md-6 mt1-md mt1-sm mb1-md mb1-sm">
                        {% set aclPermission = acl_permission(permission.vars.value) %}

                        {{ aclPermission.label|default(field)|trans }}
                        {% if aclPermission.description %} ({{ aclPermission.description|trans }}){% endif %}
                    </div>
                    <div class="col-md-6 mt1-md mt1-sm mb1-md mb1-sm">
                        {{ form_widget(permission) }}
                    </div>

                    {% if index == permissionsCount %}
                        </td><td class="col-md-1"></td><td class="col-md-3 va-t_md">
                    {% endif %}
                {% else %}
                    {{ form_widget(permission) }}
                {% endif %}
            {% endif %}
        {% endfor %}
    {% endfor %}
{% endblock %}
