<!-- blocks wrappers with slider -->
{% block _main_slider_widget %}
    <div class="heero-promo">
        {% set attr = layout_attr_defaults(attr, {
            'data-page-component-options': {
                autoplaySpeed: 4000,
                arrowsNav: false,
                dotsNav: true
            }
        }) %}

        {{ block_widget(block, {attr: attr}) }}
    </div>
{% endblock %}

{% block _featured_categories_widget %}
    <div class="featured-categories">
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _featured_products_widget %}
    <div class="featured-products">
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _top_selling_items_widget %}
    <div class="top-selling-items">
        {% set attr = layout_attr_defaults(attr, {
            'data-page-component-options': {
                mobileEnabled: false
            }
        }) %}

        {{ block_widget(block, {attr: attr}) }}
    </div>
{% endblock %}

<!-- blocks wrappers for item to slide -->
{% block _main_slider_item_widget %}
    <div class="heero-promo-item">
        {{ item }}
    </div>
{% endblock %}

{% block _featured_categories_item_widget %}
    <div class="featured-categories-item">
        {{ item }}
    </div>
{% endblock %}

{% block _featured_products_item_widget %}
    <div class="featured-products-item">
        {{ item }}
    </div>
{% endblock %}

{% block _top_selling_items_item_widget %}
    <div class="top-selling-items-item">
        {{ item }}
    </div>
{% endblock %}
