{% block _hero_promo_container_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' hero-promo'
    }) %}

    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _hero_promo_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~data-page-component-options': {
            autoplaySpeed: 4000,
            arrows: false,
            dots: true
        }
    }) %}

    {{ block_widget(block, {attr: attr}) }}
{% endblock %}

{% block _featured_categories_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' featured-categories'
    }) %}

    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _featured_products_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' featured-products'
    }) %}

    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _top_selling_items_container_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' top-selling-items'
    }) %}

    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _top_selling_items_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~data-page-component-options': {
            mobileEnabled: false
        }
    }) %}

    {{ block_widget(block, {attr: attr}) }}
{% endblock %}
