<!-- hero-promo -->
{% block _hero_promo_container_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' hero-promo'
    }) %}

    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _hero_promo_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~data-page-component-options': {
            autoplaySpeed: 4000,
            arrows: false,
            dots: true
        }
    }) %}

    {{ block_widget(block, {attr: attr}) }}
{% endblock %}

{% block _hero_promo_item_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' heero-promo-item'
    }) %}

    <div {{ block('block_attributes') }}>
        {{ item }}
    </div>
{% endblock %}

<!-- featured-categories -->
{% block _featured_categories_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' featured-categories'
    }) %}

    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _featured_categories_item_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' featured-categories-item'
    }) %}

    <div {{ block('block_attributes') }}>
        {{ item }}
    </div>
{% endblock %}

<!-- featured-products -->
{% block _featured_products_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' featured-products'
    }) %}

    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _featured_products_item_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' featured-products-item'
    }) %}

    <div {{ block('block_attributes') }}>
        {{ item }}
    </div>
{% endblock %}

<!-- top-selling-items -->
{% block _top_selling_items_container_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' top-selling-items'
    }) %}

    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _top_selling_items_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~data-page-component-options': {
            mobileEnabled: false
        }
    }) %}

    {{ block_widget(block, {attr: attr}) }}
{% endblock %}

{% block _top_selling_items_item_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' top-selling-items-item'
    }) %}

    <div {{ block('block_attributes') }}>
        {{ item }}
    </div>
{% endblock %}

{#{% block _root_top_selling__template %}#}
    {#{% set attr = {#}
    {#'data-page-component-module': 'oroui/js/app/components/view-component',#}
    {#'data-page-component-options': {#}
        {#view: 'orob2bproduct/js/app/views/base-product-view'#}
    {#}|json_encode,#}
    {#'data-layout': 'separate'#}
    {#}|merge(attr|merge({#}
        {#class: attr.class|default('')#}
    {#})) %}#}
    {#123123123123#}
    {#<div {{ block('block_attributes') }}>#}
        {#{{ block_widget(block) }}#}
    {#</div>#}
{#{% endblock %}#}

{% block _root_top_selling_template_widget %}
    {% set attr = {
    'data-page-component-module': 'oroui/js/app/components/view-component',
    'data-page-component-options': {
    view: 'orob2bproduct/js/app/views/base-product-view'
    }|json_encode,
    'data-layout': 'separate'
    }|merge(attr|merge({
    class: attr.class|default('')
    })) %}

    <div {{ block('block_attributes') }}>
        {{ block('container_widget') }}
    </div>

{% endblock %}

{% block _hero_promo_template_widget %}
    {% set attr = {
    'data-page-component-module': 'oroui/js/app/components/view-component',
    'data-page-component-options': {
        view: 'orob2bproduct/js/app/views/base-product-view'
    }|json_encode,
    'data-layout': 'separate'
    }|merge(attr|merge({
    class: attr.class|default('')
    })) %}

    234234234324234234234234234234
    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>

{% endblock %}
