<!-- hero-promo -->
{% block _hero_promo_container_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' hero-promo'
    }) %}

    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _hero_promo_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~data-page-component-options': {
            autoplaySpeed: 4000,
            arrows: false,
            dots: true
        }
    }) %}

    {{ block_widget(block, {attr: attr}) }}
{% endblock %}

{% block _hero_promo_item_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' heero-promo-item'
    }) %}

    <div {{ block('block_attributes') }}>
        {{ item }}
    </div>
{% endblock %}

<!-- featured-categories -->
{% block _featured_categories_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' featured-categories'
    }) %}

    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _featured_category_widget %}
    {% import 'OroB2BProductBundle::image_macros.html.twig' as Image %}

    {% set attr = layout_attr_defaults(attr, {
        '~class': ' featured-categories-item'
    }) %}

    <div {{ block('block_attributes') }}>
        <a href="{{ path('orob2b_product_frontend_product_index', {'categoryId': item.id, 'includeSubcategories': true}) }}">
            <img
                src="{{ Image.url(item.largeImage, 'product_large') }}"
                alt="{{ item.defaultTitle }}">
            <span>{{ item.defaultTitle }}</span>
            <span>{{ 'orob2b.frontend.featuredcategories.view.items.label'|transchoice(item.products|length) }}</span>
        </a>
    </div>
{% endblock %}

<!-- featured-products -->
{% block _featured_products_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' featured-products'
    }) %}

    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _featured_products_item_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' featured-products-item'
    }) %}

    <div {{ block('block_attributes') }}>
        {{ item }}
    </div>
{% endblock %}

<!-- top-selling-items -->
{% block _top_selling_items_container_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' top-selling-items'
    }) %}

    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _top_selling_items_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~data-page-component-options': {
            mobileEnabled: false
        }
    }) %}

    {{ block_widget(block, {attr: attr}) }}
{% endblock %}

{% block _top_selling_items_item_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' top-selling-items-item'
    }) %}

    <div {{ block('block_attributes') }}>
        {{ item }}
    </div>
{% endblock %}
