<!-- hero-promo -->
{% block _hero_promo_container_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' hero-promo'
    }) %}

    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _hero_promo_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~data-page-component-options': {
            autoplaySpeed: 4000,
            arrows: false,
            dots: true
        }
    }) %}

    {{ block_widget(block, {attr: attr}) }}
{% endblock %}

{% block _hero_promo_item_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' heero-promo-item'
    }) %}

    <div {{ block('block_attributes') }}>
        {{ item }}
    </div>
{% endblock %}

<!-- featured-categories -->
{% block _featured_categories_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' featured-categories'
    }) %}

    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>

    <div class="featured-categories">
        <div class="embedded-list">
            <ul class="embedded-list__container">
                <li class="embedded-list__item">
                    <a class="featured-categories-item" href="#">
                        <img class="featured-categories-item__image"
                            src="{% image '@OroB2BFrontendBundle/Resources/public/default/scss/components/commerce/blocks/featured-categories-item/featured-categories-item.png' %}{{ asset_url }}{% endimage %}"
                            alt="Medical Uniforms">
                        <dl class="featured-categories-item__desc">
                            <dt class="featured-categories-item__name">Medical Uniforms</dt>
                            <dd class="featured-categories-item__count">19 items</dd>
                        </dl>
                    </a>
                </li>
                <li class="embedded-list__item">
                    <a class="featured-categories-item" href="#">
                        <img class="featured-categories-item__image"
                            src="{% image '@OroB2BFrontendBundle/Resources/public/default/scss/components/commerce/blocks/featured-categories-item/featured-categories-item.png' %}{{ asset_url }}{% endimage %}"
                            alt="Work Shoes">
                        <dl class="featured-categories-item__desc">
                            <dt class="featured-categories-item__name">Work Shoes</dt>
                            <dd class="featured-categories-item__count">11 items</dd>
                        </dl>
                    </a>
                </li>
                <li class="embedded-list__item">
                    <a class="featured-categories-item" href="#">
                        <img class="featured-categories-item__image"
                            src="{% image '@OroB2BFrontendBundle/Resources/public/default/scss/components/commerce/blocks/featured-categories-item/featured-categories-item.png' %}{{ asset_url }}{% endimage %}"
                            alt="Industrial Uniforms">
                        <dl class="featured-categories-item__desc">
                            <dt class="featured-categories-item__name">Industrial Uniforms</dt>
                            <dd class="featured-categories-item__count">23 items</dd>
                        </dl>
                    </a>
                </li>
                <li class="embedded-list__item">
                    <a class="featured-categories-item" href="#">
                        <img class="featured-categories-item__image"
                            src="{% image '@OroB2BFrontendBundle/Resources/public/default/scss/components/commerce/blocks/featured-categories-item/featured-categories-item.png' %}{{ asset_url }}{% endimage %}"
                            alt="Restaurant Uniforms">
                        <dl class="featured-categories-item__desc">
                            <dt class="featured-categories-item__name">Restaurant Uniforms</dt>
                            <dd class="featured-categories-item__count">16 items</dd>
                        </dl>
                    </a>
                </li>
                <li class="embedded-list__item">
                    <a class="featured-categories-item" href="#">
                        <img class="featured-categories-item__image"
                            src="{% image '@OroB2BFrontendBundle/Resources/public/default/scss/components/commerce/blocks/featured-categories-item/featured-categories-item.png' %}{{ asset_url }}{% endimage %}"
                            alt="Security Uniforms">
                        <dl class="featured-categories-item__desc">
                            <dt class="featured-categories-item__name">Security Uniforms</dt>
                            <dd class="featured-categories-item__count">13 items</dd>
                        </dl>
                    </a>
                </li>
                <li class="embedded-list__item">
                    <a class="featured-categories-item" href="#">
                        <img class="featured-categories-item__image"
                            src="{% image '@OroB2BFrontendBundle/Resources/public/default/scss/components/commerce/blocks/featured-categories-item/featured-categories-item.png' %}{{ asset_url }}{% endimage %}"
                            alt="Work Gloves">
                        <dl class="featured-categories-item__desc">
                            <dt class="featured-categories-item__name">Work Gloves</dt>
                            <dd class="featured-categories-item__count">6 items</dd>
                        </dl>
                    </a>
                </li>
                <li class="embedded-list__item">
                    <a class="featured-categories-item" href="#">
                        <img class="featured-categories-item__image"
                            src="{% image '@OroB2BFrontendBundle/Resources/public/default/scss/components/commerce/blocks/featured-categories-item/featured-categories-item.png' %}{{ asset_url }}{% endimage %}"
                            alt="Safety Ware">
                        <dl class="featured-categories-item__desc">
                            <dt class="featured-categories-item__name">Safety Ware</dt>
                            <dd class="featured-categories-item__count">8 items</dd>
                        </dl>
                    </a>
                </li>
                <li class="embedded-list__item">
                    <a class="featured-categories-item" href="#">
                        <img class="featured-categories-item__image"
                            src="{% image '@OroB2BFrontendBundle/Resources/public/default/scss/components/commerce/blocks/featured-categories-item/featured-categories-item.png' %}{{ asset_url }}{% endimage %}"
                            alt="Safety Eyeware">
                        <dl class="featured-categories-item__desc">
                            <dt class="featured-categories-item__name">Safety Eyeware</dt>
                            <dd class="featured-categories-item__count">32 items</dd>
                        </dl>
                    </a>
                </li>
                <li class="embedded-list__item">
                    <a class="featured-categories-item" href="#">
                        <img class="featured-categories-item__image"
                            src="{% image '@OroB2BFrontendBundle/Resources/public/default/scss/components/commerce/blocks/featured-categories-item/featured-categories-item.png' %}{{ asset_url }}{% endimage %}"
                            alt="Work Hats">
                        <dl class="featured-categories-item__desc">
                            <dt class="featured-categories-item__name">Work Hats</dt>
                            <dd class="featured-categories-item__count">9 items</dd>
                        </dl>
                    </a>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}

{% block _featured_categories_item_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' featured-categories-item'
    }) %}

    <div {{ block('block_attributes') }}>
        {{ item }}
    </div>
{% endblock %}

<!-- featured-products -->
{% block _featured_products_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' featured-products'
    }) %}

    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _featured_products_item_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' featured-products-item'
    }) %}

    <div {{ block('block_attributes') }}>
        {{ item }}
    </div>
{% endblock %}

<!-- top-selling-items -->
{% block _top_selling_items_container_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' top-selling-items'
    }) %}

    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _top_selling_items_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~data-page-component-options': {
            mobileEnabled: false
        }
    }) %}

    {{ block_widget(block, {attr: attr}) }}
{% endblock %}

{% block _top_selling_items_item_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' top-selling-items-item'
    }) %}

    <div {{ block('block_attributes') }}>
        {{ item }}
    </div>
{% endblock %}
