<!-- hero-promo -->
{% block _hero_promo_container_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' hero-promo'
    }) %}

    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _hero_promo_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~data-page-component-options': {
            autoplaySpeed: 4000,
            arrows: false,
            dots: true
        }
    }) %}

    {{ block_widget(block, {attr: attr}) }}
{% endblock %}

{% block _hero_promo_item_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' hero-promo-item'
    }) %}

    <div {{ block('block_attributes') }}>
        <div class="hero-promo-item__picture">
            <img class="hero-promo-item__img"
                src="{% image '@OroB2BFrontendBundle/Resources/public/default/scss/components/commerce/blocks/hero-promo-item/hero-promo-item-1.png' %}{{ asset_url }}{% endimage %}"
                alt="Ololo">
        </div>
        <div class="hero-promo-item__info">
            <img class="hero-promo-item__img"
                src="{% image '@OroB2BFrontendBundle/Resources/public/default/scss/components/commerce/blocks/hero-promo-item/hero-promo-item-2.png' %}{{ asset_url }}{% endimage %}"
                alt="Ololo">
            <div class="hero-promo-item__cover">
                <div class="hero-promo-item__desc">
                    <span class="hero-promo-item__pretitle">New items in stock</span>
                    <h2 class="hero-promo-item__title">For Kitchen Professionals</h2>
                    <a href="#" class="btn theme-btn btn-dark hero-promo-item__view-btn">
                        View Items
                        <!-- {{ item }} -->
                        <i class="cf-right-open-mini"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

<!-- featured-categories -->
{% block _featured_categories_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' featured-categories'
    }) %}

    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _featured_category_widget %}
    {% import 'OroB2BProductBundle::image_macros.html.twig' as Image %}

    {% set attr = layout_attr_defaults(attr, {
        '~class': ' featured-categories-item'
    }) %}

    <a {{ block('block_attributes') }}
        href="{{ path('orob2b_product_frontend_product_index', {'categoryId': item.id, 'includeSubcategories': true}) }}">
        <img class="featured-categories-item__image"
            src="{{ Image.url(item.largeImage, 'product_large') }}"
            alt="{{ item.defaultTitle }}">
        <dl class="featured-categories-item__desc">
            <dt class="featured-categories-item__name">{{ item.defaultTitle }}</dt>
            <dd class="featured-categories-item__qty">{{ 'orob2b.frontend.featuredcategories.view.items.label'|transchoice(item.products|length) }}</dd>
        </dl>
    </a>
{% endblock %}

<!-- featured-products -->
{% block _featured_products_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' featured-products'
    }) %}

    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _featured_products_item_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' featured-products-item'
    }) %}

    <div {{ block('block_attributes') }}>
        {{ item }}
    </div>
{% endblock %}

<!-- top-selling-items -->
{% block _top_selling_items_container_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' top-selling-items'
    }) %}

    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _top_selling_items_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~data-page-component-options': {
            mobileEnabled: false
        }
    }) %}

    {{ block_widget(block, {attr: attr}) }}
{% endblock %}

{% block _top_selling_items_item_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' top-selling-items-item'
    }) %}

    <div {{ block('block_attributes') }}>
        {{ item }}
    </div>
{% endblock %}
