{% block  __datagrid_toolbar__datagrid_toolbar_leftside_container_widget %}
    <div class="datagrid-toolbar__start" data-section="left-side">
        <% if (toolbarPosition === 'top') { %>
            <div class="actions-panel" data-grid-extra-actions-panel></div>
        <% } %>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block __datagrid_toolbar__datagrid_toolbar_rightside_container_widget %}
    <div class="datagrid-toolbar__end" data-section="right-side">
        <% if (toolbarPosition !== 'bottom') { %>
            {{ block_widget(block) }}
        <% } %>
    </div>
{% endblock %}

{% block __customer_user_shopping_list__container_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' customer-shopping-list shopping-list__container'
    }) %}

    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block __customer_user_shopping_list__content_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' customer-shopping-list__content'
    }) %}

    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block __customer_user_shopping_list__sidebar_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' customer-shopping-list__sidebar'
    }) %}

    <aside {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </aside>
{% endblock %}

{% block __customer_user_shopping_list__header_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' shopping-list__header'
    }) %}

    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{%- block __customer_user_shopping_list__header_title_container_widget -%}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' page-title with-ellipsis'
    }) %}

    <h2 {{ block('block_attributes') }}>{{ block_widget(block) }}</h2>
{%- endblock -%}

{% block __customer_user_shopping_list__header_title_wrapper_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' shopping-list__title-wrapper'
    }) %}

    {{ parent_block_widget(block) }}
{% endblock %}

{%- block __customer_user_shopping_list__header_title_text_widget -%}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' page-title__text'
    }) %}

    <span {{ block('block_attributes') }}>{{ shoppingList.label }}</span>
{%- endblock -%}

{%- block __customer_user_shopping_list__header_status_widget -%}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' status-label status-label--info'
    }) %}

    <span {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </span>
{%- endblock -%}

{% block __customer_user_shopping_list__header_owner_wrapper_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' shopping-list-owner__wrapper'
    }) %}

    {{ parent_block_widget(block) }}
{%- endblock -%}

{% block __customer_user_shopping_list__header_owner_actions_wrapper_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' shopping-list-owner__actions-wrapper'
    }) %}

    {{ parent_block_widget(block) }}
{%- endblock -%}

{% block __customer_user_shopping_list__shopping_list_actions_container_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' shopping-list-owner-wrapper__actions'
    }) %}

    {% if block.children %}
        <div{{ block('block_attributes') }}>
            {{ block_widget(block) }}
        </div>
    {% endif %}
{% endblock %}

{% block __customer_user_shopping_list__header_owner_widget %}
    {% import '@OroUI/macros.html.twig' as UI %}

    {% set attr = layout_attr_defaults(attr, {
        '~class': ' shopping-list-owner'
    }) %}

    {% set label = shoppingList.customerUser|oro_format_name|default('N/A'|trans)|e %}

    <div{{ block('block_attributes') }}>
        {{ 'oro.frontend.shoppinglist.view.assigned_to.label'|trans}}:
        {% if is_granted('VIEW', shoppingList.customerUser) %}
            {{ UI.link({
                'path': path('oro_customer_frontend_customer_user_view', {id: shoppingList.customerUser.id}),
                'label': label
            }) }}
        {% else %}
            {{ label }}
        {% endif %}
    </div>
{% endblock %}

{% block __customer_user_shopping_list__line_items_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' my-shopping-list-datagrid-container'
    }) %}

    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block __customer_user_shopping_list__summary_wrapper_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' summary-wrapper',
        'data-page-component-view': 'oroshoppinglist/js/app/views/summary-wrapper-view',
        'data-page-component-options': {
            'showMaskEvents': ['shopping-list:request'],
            'hideMaskEvents': ['shopping-list:refresh']
        }|json_encode
    }) %}

    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block __customer_user_shopping_list__summary_container_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': " summary-widget"
    }) %}

    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block __customer_user_shopping_list__summary_inner_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': " summary-widget__inner"
    }) %}

    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block __customer_user_shopping_list__summary_summary_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': " summary-widget__summary"
    }) %}

    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block __customer_user_shopping_list__combined_button_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' summary-widget__combined-bottons',
        'data-name': 'empty-items__hide'
    }) %}

    {% set mainButtonClass = mainButtonClass|default('btn btn--full direct-link') %}
    {% set additionalButtonClass = additionalButtonClass|default('btn btn--outlined btn--block direct-link') %}

    {% set buttonsCount = buttons|length %}
    {% if buttonsCount > 0 %}
        {% set button = buttons|first %}
        <div{{ block('block_attributes') }}>
            {% include button.template with button.templateData|merge({
                onlyLink: true,
                aClass: mainButtonClass,
                noIcon: true,
                noIconText: true
            }) %}

            {% if buttonsCount > 1 %}
                <div class="divider summary-widget-divider">or</div>
                {% for button in buttons|slice(1) %}
                    {% include button.template with button.templateData|merge({
                        onlyLink: true,
                        aClass: additionalButtonClass,
                        noIcon: true,
                        noIconText: true
                    }) %}
                {% endfor %}
            {% endif %}
        </div>
    {% endif %}
{% endblock %}

{% block __customer_user_shopping_list__totals_placeholder_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' totals-placeholder loading-blur',
    }) %}

    <div {{ block('block_attributes') }}></div>
{% endblock %}

{% block __customer_user_shopping_list__combined_button_placeholder_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' combined-buttons-placeholder loading-blur',
    }) %}

    <div {{ block('block_attributes') }}></div>
{% endblock %}
