{% import 'OroUIBundle::macros.html.twig' as UI %}
{% import 'OroEmailBundle::actions.html.twig' as EmailActions %}
{% import 'OroEmailBundle::macros.html.twig' as Email %}

<div class="widget-content">
    <div class="row-fluid form-horizontal">
        <div class="responsive-block">
            {% if  entity.namePrefix is defined %}
                {{ UI.renderProperty('oro.customer.accountuser.name_prefix.label'|trans, entity.namePrefix) }}
            {% endif %}
            {{ UI.renderProperty('oro.customer.accountuser.first_name.label'|trans, entity.firstName) }}
            {% if  entity.middleName is defined %}
                {{ UI.renderProperty('oro.customer.accountuser.middle_name.label'|trans, entity.middleName) }}
            {% endif %}
            {{ UI.renderProperty('oro.customer.accountuser.last_name.label'|trans, entity.lastName) }}
            {% if  entity.nameSuffix is defined %}
                {{ UI.renderProperty('oro.customer.accountuser.name_suffix.label'|trans, entity.nameSuffix) }}
            {% endif %}

            {% set birthday_string %}
                {{ entity.birthday is empty ? 'N/A'|trans : entity.birthday|oro_format_date }}
                {% if entity.birthday is not empty %}
                    ({{ entity.birthday|age_string({'default': 'N/A'}) }})
                {% endif %}
            {% endset %}
            {{ UI.renderProperty('oro.customer.accountuser.birthday.label'|trans, birthday_string) }}
            {{ UI.renderHtmlProperty('oro.customer.accountuser.email.label'|trans, Email.email_address_simple(entity.email)) }}

            {% if entity.account %}
                {{ UI.renderHtmlProperty('oro.customer.accountuser.account.label'|trans, UI.entityViewLink(entity.account, entity.account.name, 'oro_customer_account_view')) }}
            {% endif %}

            {% if resource_granted('oro_account_account_user_role_view') %}
                {% set roles = [] %}
                {% for entityRole in entity.roles %}
                    {% set roles = roles|merge([entityRole.label]) %}
                {% endfor %}
                {{ UI.renderHtmlProperty('oro.customer.accountuser.roles.label'|trans, roles|join('<br />')) }}
            {% endif %}

            {% if entity.salesRepresentatives | length %}
                {{ UI.renderHtmlProperty('oro.customer.accountuser.sales_representatives.label'|trans, UI.entityViewLinks(entity.salesRepresentatives, 'fullName', 'oro_user_view')) }}
            {% endif %}
        </div>
    </div>
</div>
