{% set formCreateQuoteAction = path('orob2b_rfp_admin_request_create_quote', { 'id': entity.id }) %}
<form id="{{ formCreateQuote.vars.id }}" name="{{ formCreateQuote.vars.name }}" action="{{ formCreateQuoteAction }}" method="post">
    {{ form_widget(formCreateQuote) }}
    <button type="submit" class="no-hash" id="rfpadmin_link_create_quote">
        <i class="icon-edit hide-text">{{ 'orob2b.rfpadmin.btn.create_quote'|trans }}</i>{{ 'orob2b.rfpadmin.btn.create_quote'|trans }}
    </button>
</form>
