<div class="widget-content">
    {% if savedId is defined and savedId %}
    <script type="text/javascript">
        require(['oroui/js/widget-manager', 'oroui/js/messenger', 'oroui/js/mediator', 'orotranslation/js/translator'],
        function(widgetManager, messenger, mediator, __) {
            widgetManager.getWidgetInstance(
                {{ app.request.get('_wid')|json_encode|raw }},
                function (widget) {
                    messenger.notificationFlashMessage('success', __('orob2b.pricing.product_price_save.flash.success'));
                    mediator.trigger('widget_success:' + widget.getAlias());
                    mediator.trigger('widget_success:' + widget.getWid());
                    widget.trigger('formSave', {{ savedId|json_encode|raw }});
                    widget.remove();
                }
            );
        });
    </script>
    {% elseif form.vars.errors|length > 0 %}
        <script type="text/javascript">
            require(['oroui/js/widget-manager'],
            function(widgetManager){
                widgetManager.getWidgetInstance({{ app.request.get('_wid')|json_encode|raw }}, function(widget) {
                    widget.trigger('formSaveError');
                });
            });
        </script>

        <div class="alert alert-error">
            {{ form_errors(form) }}
        </div>
    {% endif %}

    <form id="{{ form.vars.id }}" name="{{ form.vars.name }}" action="{{ app.request.uri }}" {{ form_enctype(form) }}
          method="{{ form.vars.method }}" data-collect="true" class="form-dialog">
        <fieldset class="form-horizontal">
            {{ form_row(form.product) }}
            {{ form_row(form.quantity) }}
            {{ form_row(form.unit) }}
            {{ form_row(form.price) }}
        </fieldset>

        <div class="hidden">
            {{ form_rest(form) }}
        </div>

        <div class="widget-actions">
            <button type="reset" class="btn">{{ 'Cancel'|trans }}</button>
            <button type="submit" class="btn btn-success">{{ 'Save'|trans }}</button>
        </div>
    </form>
    {{ oro_form_js_validation(form) }}
</div>
