{% block _order_created_by_widget %}
    {% import '@OroUI/layouts/renderIcon.html.twig' as renderIcon %}

    <div class="order-created-by">
        {{ renderIcon.icon({name: 'info'}) }}
        {{ 'oro.frontend.order.created_by_seller.label'|trans }}
    </div>
{% endblock %}

{% block _order_view_page_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': " customer-info-grid__section"
    }) %}

    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _order_info_container_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': " customer-info-grid__container"
    }) %}

    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _order_info_data_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': " customer-info-grid__data"
    }) %}

    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _order_info_total_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': " customer-info-grid__total"
    }) %}

    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _order_info_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': " customer-info-grid grid grid-columns-1"
    }) %}

    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block order_info_block_container_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': " grid grid-columns-2"
    }) %}

    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block order_info_column_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': " grid-col grid-col-mobile-landscape-12"
    }) %}

    <div {{ block('block_attributes') }}>
        <table class="customer-info-grid__list">
            <tbody>
                {{ block_widget(block) }}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block order_info_column_element_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': " customer-info-grid__row customer-info-grid__row--" ~ block.vars.id
    }) %}
    <tr {{ block('block_attributes') }}>
        <td class="customer-info-grid__element-label">{{ label|trans }}</td>
        <td class="customer-info-grid__element-content">
            <span class="customer-info-grid__element-value">{{- block_widget(block) -}}</span>
        </td>
    </tr>
{% endblock %}

{% block currency_widget %}
    {{ value|oro_format_currency({currency: currency, attributes: attributes, textAttributes: textAttributes, symbols: symbols, locale: locale}) }}
{% endblock %}

{% block date_widget %}
    {{ date|oro_format_date({dateType: dateType, locale: locale, timeZone: timeZone}) }}
{% endblock %}

{% block address_widget %}
    {% from '@OroAddress/macros.html.twig' import renderAddress %}
    {{ renderAddress(address, true) }}
{% endblock %}

{% block order_total_widget %}
    <div class="summary-widget__inner">
        <div class="summary-widget__summary">
            <table class="summary-table">
                <tr>
                    <th class="summary-table__summary" scope="row">{{ 'oro.pricing.frontend.summary'|trans }}</th>
                    <td></td>
                </tr>
                {% for subtotal in subtotals %}
                    <tr>
                        <th>{{ subtotal.label }}</th>
                        <td>{{ subtotal.signedAmount|oro_format_currency({'currency': subtotal.currency}) }}</td>
                    </tr>
                {% endfor %}
                <tr aria-hidden="true" class="summary-table__presentation">
                    <td colspan="2">
                        <hr class="summary-table__divider">
                    </td>
                </tr>
                <tr class="summary-table__total-row">
                    <th class="summary-table__total">{{ total.label }}</th>
                    <td class="summary-table__total"><span class="summary-table__total-price">{{ total.amount|oro_format_currency({'currency': total.currency}) }}</span></td>
                </tr>
            </table>
        </div>
    </div>
{% endblock %}

{% block _order_po_number_widget %}
    {% set text = text|default('oro.ui.empty'|trans) %}

    {{- parent_block_widget(block) -}}
{% endblock %}

{% block _order_payment_method_widget %}
    {% set text %}
        {% if text is not empty %}
            {% for paymentMethod in text %}
                {{ get_payment_method_label(paymentMethod) }}{% if not loop.last %}, {% endif %}
            {% endfor %}
        {% else %}
            {{ 'oro.ui.empty'|trans }}
        {% endif %}
    {% endset %}

    {{ parent_block_widget(block) }}
{% endblock %}

{% block _order_payment_status_widget %}
    {% if text is not empty %}
        {% set text = get_payment_status_label(text) %}
    {% else %}
        {% set text = 'oro.ui.empty'|trans %}
    {% endif %}

    {{ parent_block_widget(block) }}
{% endblock %}

{% block _order_sub_orders_widget %}
    {% import '@OroUI/macros.html.twig' as UI %}
    {% set text %}
        {% if text is not empty %}
            {% for suborder in text %}
                {{ UI.entityViewLink(suborder, suborder.identifier, 'oro_order_frontend_view') }}
                {%- if not loop.last -%}, {%- endif -%}
            {% endfor %}
        {% else %}
            {{ 'oro.ui.empty'|trans }}
        {% endif %}
    {% endset %}

    {{ parent_block_widget(block) }}
{% endblock %}

{% block shipping_trackings_widget %}
    {% if trackings|length > 0 %}
        <div class="oro-datagrid">
            <div class="order-shipping-tracking grid-container">
                <table class="order-shipping-tracking-table table table-condensed">
                    <thead>
                        <tr>
                            <th>{{ 'oro.order.shipping_tracking.method.label'|trans }}</th>
                            <th>{{ 'oro.order.shipping_tracking.number.label'|trans }}</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for tracking in trackings %}
                        <tr>
                            <td>{{ oro_order_format_shipping_tracking_method(tracking.method)|trans }}</td>
                            <td class="break-all">
                                {% set link = oro_order_format_shipping_tracking_link(tracking.method, tracking.number) %}
                                {%- if tracking.number != link -%}
                                    <a target="_blank" href="{{ link }}">{{ tracking.number }}</a>
                                {%- else -%}
                                    {{ tracking.number }}
                                {%- endif -%}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% else %}
        {{ 'oro.ui.empty'|trans }}
    {% endif %}
{% endblock %}

{% block _order_shipping_method_widget %}
    {% set text = oro_order_shipping_method_label(shippingMethod, shippingMethodType, organization) %}

    {{ parent_block_widget(block) }}
{% endblock %}

{% block _order_customer_notes_widget %}
    {% import '@OroUI/layouts/renderIcon.html.twig' as renderIcon %}
    <table class="customer-info-grid__list">
        <tbody>
            <tr class="customer-info-grid__notes">
                <td class="customer-info-grid__element-label">{{ label|trans }}</td>
                <td class="customer-info-grid__element-content customer-info-grid__element-content--notes">
                    <div id="collapse-order-view-more"
                        class="collapse collapse-overflow no-transition"
                        data-collapsed-text="{{ 'oro.ui.collapse.more'|trans }}"
                        data-expanded-text="{{ 'oro.ui.collapse.less'|trans }}"
                        data-check-overflow="true"
                        data-trigger-icon-hide="chevron-down"
                        data-trigger-icon-show="chevron-up"
                        data-check-overflow="true"
                        data-toggle="false">
                        {{ text|nl2br }}
                    </div>

                    <button class="btn btn--flat btn--size-small collapse-toggle customer-info-grid__view-more" data-toggle="collapse" data-target="#collapse-order-view-more" aria-controls="collapse-order-view-more">
                            <span class="trigger-icon" data-icon>
                                {{ renderIcon.icon({name: 'chevron-down'}) }}
                            </span>
                        <span data-text>{{ 'oro.ui.collapse.more'|trans }}</span>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
{% endblock %}

{% block _order_view_top_bar_status_widget %}
    {% import '@OroUI/layouts/renderStatus.html.twig' as renderStatus %}
    {{ renderStatus.status({
        label: text,
        code: text.id,
        map: {
            'order_internal_status.open': 'info',
            'order_internal_status.cancelled': '',
            'order_internal_status.closed': 'success',
            'order_internal_status.archived': '',
            'order_internal_status.shipped': 'success'
        }
    }) }}
{% endblock %}

{% block _order_generate_pdf_button_widget %}
    {% import '@OroUI/layouts/macros.html.twig' as LayoutUI %}

    {{ LayoutUI.link({
        'path': path('oro_order_frontend_pdf_document_download', { 'id': order.id }),
        'aCss': 'btn hide-on-print btn--flat',
        'icon': 'download',
        'label': 'oro.frontend.order.download_pdf.label'|trans
    }) }}
{% endblock %}
