{% extends commerce.layout %}

{% block breadcrumb %}
    <ul class="breadcrumb">
        <li>
            {{ 'orob2b.customer.entity_plural_label'|trans }}
            <span class="divider">/</span>
        </li>
        <li>
            {{ 'orob2b.customer.accountuser.entity_plural_label'|trans }}
            <span class="divider">/</span>
        </li>
        <li>
            {{ 'orob2b.customer.accountuser.profile.check_email.title'|trans }}
        </li>
    </ul>
{% endblock %}

{% block content %}
<div class="container">
    <form action="" class="form-signin">
        <div class="title-box">
            <h1 class="oro-title">{{ oro_config_value('oro_ui.product_caption') }}</h1>
            <span class="divider-vertical"></span>
            <h2 class="title">{{ 'orob2b.customer.accountuser.profile.check_email.title'|trans }}</h2>
        </div>
        <fieldset>
            <div class="alert alert-success">
                {{ 'orob2b.customer.accountuser.profile.check_email.message'|trans({ '%email%': email }) }}
            </div>
            <a href="{{ path('orob2b_customer_account_user_security_login') }}" class="btn btn-link">&laquo; {{ 'orob2b.customer.accountuser.profile.return_to_login'|trans }}</a>
        </fieldset>
    </form>
</div>
{% endblock %}
