{% extends commerce.layout %}

{% block breadcrumb %}
    <ul class="breadcrumb">
        <li>
            {{ 'orob2b.customer.entity_plural_label'|trans }}
            <span class="divider">/</span>
        </li>
        <li>
            {{ 'orob2b.customer.accountuser.entity_plural_label'|trans }}
            <span class="divider">/</span>
        </li>
        <li>
            {{ 'orob2b.customer.accountuser.profile.reset_password.title'|trans }}
        </li>
    </ul>
{% endblock %}

{% block content %}
    <div class="container">
        <form action="{{ path('orob2b_customer_frontend_account_user_password_reset', { token: token, username: username }) }}" {{ form_enctype(form) }} method="post" class="form-signin"
              id="{{ form.vars.id }}" name="{{ form.vars.name }}" {{ form_enctype(form) }}>
            <div class="title-box">
                <h2 class="title">{{ 'orob2b.customer.accountuser.profile.reset_password.title'|trans }}</h2>
            </div>
            <fieldset>
                {% set formErrors = form_errors(form) %}
                {% if formErrors %}
                    <div class="alert alert-error">
                        {{ formErrors|raw }}
                    </div>
                {% endif %}

                {{ form_widget(form.plainPassword) }}
                {{ form_widget(form._token) }}

                <div>
                    <button class="btn btn-large extra-submit btn-primary" type="submit">{{ 'orob2b.customer.accountuser.profile.reset_password.label'|trans }}</button>
                    <a href="{{ path('orob2b_customer_account_user_security_login') }}" class="btn btn-large extra-btn-large">{{ 'Cancel'|trans }}</a>
                </div>
            </fieldset>
        </form>

        {{ oro_form_js_validation(form) }}
    </div>
{% endblock %}
