{% extends 'form_div_layout.html.twig' %}

{%- block form_label -%}
    {% set class_prefix = form.vars.class_prefix|default(class_prefix|default('')) %}
    {% set modifier = modifier|default("__form__label") %}
    {% set label_attr = label_attr|merge({
        class: [
            label_attr.class|default(''),
            class_prefix ~ modifier
        ]|join(' ')
    }) %}

    {{ parent() }}
{%- endblock form_label -%}

{% block form_widget_simple %}
    {% set class_prefix = form.vars.class_prefix|default(class_prefix|default('')) %}
    {% set attr = attr|merge({
        class: [
            attr.class|default(''),
            class_prefix ~ "__form__input",
            "input input_block input_md"
        ]|join(' ')
    }) %}
    {{ parent() }}
{% endblock %}

{% block textarea_widget %}
    {% set class_prefix = form.vars.class_prefix|default(class_prefix|default('')) %}
    {% set attr = attr|merge({
        class: [
            attr.class|default(''),
            class_prefix ~ "__form__input",
            "input input_block input_md",
        ]|join(' ')
    }) %}
    {{ parent() }}
{% endblock %}

{%- block form_row -%}
    {% set class_prefix = form.vars.class_prefix|default(class_prefix|default('')) %}
    {% set attr = attr|merge({
        class: [
            attr.class|default(''),
            "form-field-" ~ form.vars.name,
        ]|join(' ')
    }) %}
    <fieldset class="{{ class_prefix }}__form__row">
        <div class="{{ class_prefix }}__form__col form__col form__col_x12">
            {{- form_label(form, null, {'class_prefix': class_prefix}) -}}
            {{- form_widget(form, {
                'class_prefix': class_prefix,
                attr: attr
            }) -}}
            {{- form_errors(form, {'class_prefix': class_prefix}) -}}
        </div>
    </fieldset>
{%- endblock form_row -%}

{% block widget_attributes %}
    {% if errors|length > 0 %}
        {% set attr = attr|merge({
            class: attr.class|default('') ~ ' input_error'
        }) %}
    {% endif %}
    {{ parent() }}
{% endblock widget_attributes %}

{%- block form_errors -%}
    {%- if errors|length > 0 -%}
        <div class="notification notification_xsm notification_error notification-radiused">
            <ul>
            {%- for error in errors -%}
                <li><i class="cf-attention cf--base-line"></i><span class="mml5-md">{{ error.message }}</span></li>
            {%- endfor -%}
            </ul>
        </div>
    {%- endif -%}
{%- endblock form_errors -%}

{%- block choice_widget %}
    {% set class_prefix = form.vars.class_prefix|default(class_prefix|default('')) %}
    {% set attr = attr|merge({
        class: [
            attr.class|default(''),
            'input input_md input_block',
            class_prefix ~ '__form__input'
        ]|join(' ')
    })
    %}
    {{ parent() }}
{% endblock %}

{%- block checkbox_widget -%}
    {% set class_prefix = form.vars.class_prefix|default(class_prefix|default('checkbox')) %}

    {%- if label is empty -%}
        {% set label = id|humanize %}
    {%- endif -%}
    <label for="{{ id }}" class="checkbox_custom checkbox_custom_blue {% if form.vars.checked %}checked{% endif %}" data-checkbox tabindex="0">
        {{- parent() -}}
        <i class="cf-check_box checkbox_checked fs18 mmr5-md"></i>
        <i class="cf-check_box_outline_blank checkbox_not-checked fs18 mmr5-md"></i>
        <span class="{{ class_prefix }}_custom__text fs13">{{ label|block_text(translation_domain) }}</span>
    </label>
    {{- form_errors(form, {'class_prefix': class_prefix}) -}}
{%- endblock checkbox_widget -%}

{%- block radio_widget -%}
    {% set class_prefix = form.vars.class_prefix|default(class_prefix|default('radio')) %}

    {%- if label is empty -%}
        {% set label = id|humanize %}
    {%- endif -%}
    <label class="radio_custom radio_custom_blue {% if form.vars.checked %}checked{% endif %}" data-radio tabindex="0">
        {{- parent() -}}
        <i class="cf-radio_button_checked radio_checked fs18 mmr5-md"></i>
        <i class="cf-radio_button_unchecked radio_not-checked fs18 mmr5-md"></i>
        <span class="{{ class_prefix }}_custom__text fs13">{{ label|block_text(translation_domain) }}</span>
    </label>
    {{- form_errors(form, {'class_prefix': class_prefix}) -}}
{%- endblock radio_widget -%}


{%- block oro_date_widget -%}
        {% if attribute(attr, 'data-validation') is defined %}
            {% set dateValidation = attr['data-validation'] %}
        {% else %}
            {% set dateValidation = {'Date' : {}} %}

            {% if required %}
                {% set dateValidation = dateValidation|merge({'NotBlank' : {'message': 'This value should not be blank.'}}) %}
            {% endif %}

            {% set dateValidation = dateValidation|json_encode %}
        {% endif %}

        {% set options = {
            view: 'oroui/js/app/views/datepicker/datepicker-view',
            nativeMode: isMobileVersion(),
            dateInputAttrs: {
                placeholder: 'oro.form.choose_date'|trans,
                id: 'date_selector_' ~ id,
                name: 'date_selector_' ~ id,
                'data-validation': dateValidation,
                class: 'datepicker-input ' ~ (attribute(attr, 'class') is defined ? attr['class'] : ''),
            },
            datePickerOptions: {
                altFormat: 'yy-mm-dd',
                changeMonth: false,
                changeYear: false,
                yearRange: years|default('-80:+1'),
                showButtonPanel: true
            }
        } %}

        {% set attr = attr|merge({
            'data-page-component-module': 'oroui/js/app/components/view-component',
            'data-page-component-options': options|json_encode(constant('JSON_FORCE_OBJECT'))
        }) %}

        {{ block('date_widget') }}
{%- endblock oro_date_widget -%}
