{% extends 'OroActionBundle:Operation:form.html.twig' %}

{% block form %}
    {% set buttonOptions = operation.definition.buttonOptions %}
    {% set pageComponentOptions = {} %}
    <div class="widget-content add-product-widget">
        <form id="{{ form.vars.id }}" name="{{ form.vars.name }}" action="{{ app.request.uri }}" {{ form_enctype(form) }}
            method="{{ form.vars.method }}" data-collect="true" class="form-dialog"
            {% if buttonOptions.page_component_module is defined %}data-page-component-module="{{ buttonOptions.page_component_module }}"{% endif %}
        >
            <fieldset class="form-horizontal">
                {% if form.lineItem.product is defined %}
                    {{ form_row(form.lineItem.product, { 'attr': {'class': 'product-product'} }) }}
                    {{ form_row(form.lineItem.quantity, { 'attr': {'class': 'product-quantity'} }) }}
                    {{ form_row(form.lineItem.unit, { 'attr': {'class': 'product-unit'} }) }}
                    {{ form_row(form.lineItem.notes) }}
                {% elseif form.lineItem.shoppingList is defined %}
                    {{ form_row(form.lineItem.shoppingList, {attr: {class: 'orob2b-shoppinglist'} }) }}
                    {{ form_row(form.lineItem.quantity, { 'attr': {'class': 'product-quantity'} }) }}
                    {{ form_row(form.lineItem.unit, { 'attr': {'class': 'product-unit'} }) }}
                    <div class="{% if not form.lineItem.shoppingListLabel.vars.errors|length and form.lineItem.shoppingList.vars.currentShoppingList %}hidden{% endif %}">
                        {{ form_row(form.lineItem.shoppingListLabel, {attr: {class: 'orob2b-shoppinglist-label'} }) }}
                    </div>
                {% endif %}
            </fieldset>

            <div class="hidden">
                {{ form_rest(form) }}
            </div>

            <div class="widget-actions">
                <button type="reset" class="btn">{{ 'oro.shoppinglist.lineitem.action.cancel'|trans }}</button>
                <button type="submit" class="btn btn-success">{{ 'oro.shoppinglist.lineitem.action.save'|trans }}</button>
            </div>
        </form>
        {{ oro_form_js_validation(form) }}
    </div>
{% endblock %}
