{% block __oro_promotion_coupon_form__container_widget %}
    {% set options = {
        view: 'oropromotion/js/app/views/frontend-coupon-add-view',
        entityClass: oro_class_name(entity),
        entityId: entity.id,
        refreshOnSuccess: refreshOnSuccess,
        selectors: {
            couponCodeSelector: '[data-role="coupon-code"]',
            couponApplySelector: '[data-role="apply-coupon"]',
            couponRemoveSelector: '[data-role="remove-coupon"]',
            messagesContainer: '[data-role="coupon-errors"]'
        }
    } %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': 'coupon-container',
        'data-page-component-module': 'oroui/js/app/components/view-component',
        '~data-page-component-options': options
    }) %}

    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block __oro_promotion_coupon_form__widget_container_widget %}
    {% do block|merge_context({
        _collapseId: 'collapse-'|uniqid,
        _collapseIsOpened: opened
    }) %}
    {{ block_widget(block) }}
{% endblock %}

{% block __oro_promotion_coupon_form__expand_link_widget %}
    {% import '@OroUI/layouts/renderIcon.html.twig' as renderIcon %}

    {% set attr = layout_attr_defaults(attr, {
        'type': 'button',
        '~class': ' accordion-group__trigger coupon-trigger',
        'data-toggle': 'collapse',
        'data-role': 'coupon-trigger',
        'aria-expanded': 'false',
        'data-target': '#' ~ _collapseId,
        'aria-controls': _collapseId,
        'data-trigger-icon-hide': 'chevron-down',
        'data-trigger-icon-show': 'chevron-up'
    }) %}

    {% if not _collapseIsOpened %}
        {% set attr = layout_attr_defaults(attr, {
            '~class': ' collapsed',
        }) %}
    {% endif %}

    <button {{ block('block_attributes') }}>
        <span data-text>{{- 'oro.frontend.coupon.expand_link.label'|trans -}}</span>

        {% if appliedCoupons|length > 0 %}
            <span class="badge">{{ appliedCoupons|length }}</span>
        {% endif %}

        <span class="coupon-trigger__loading"></span>
        {{ renderIcon.icon({name: 'check', extraClass: 'coupon-success-icon'}) }}
        <span class="trigger-icon" data-icon>
            {{ renderIcon.icon({name: _collapseIsOpened ? 'chevron-up' : 'chevron-down'}) }}
        </span>
    </button>
{% endblock %}

{% block __oro_promotion_coupon_form__expandable_container_widget %}
    {% set classes = 'coupon-container__content collapse no-transition'%}
    {% if _collapseIsOpened %}
        {% set classes = 'coupon-container__content collapse no-transition' ~ ' show'%}
    {% endif %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': classes,
        'id': _collapseId,
        'role': 'region',
        'data-toggle': _collapseIsOpened
    }) %}
    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block __oro_promotion_coupon_form__form_container_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': 'coupon-container__form'
    }) %}

    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block __oro_promotion_coupon_form__coupon_input_container_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': 'coupon-container__input-wrap'
    }) %}

    <div {{ block('block_attributes') }}>
        {{- block_widget(block) -}}
    </div>
{% endblock %}

{% block __oro_promotion_coupon_form__coupon_input_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': 'input input--full',
        'data-role': 'coupon-code',
        'placeholder': 'oro.frontend.coupon.widget.coupon_input.placeholder'|trans,
        'aria-label': 'oro.frontend.coupon.widget.input.aria_label'|trans
    }) %}

    <input {{ block('block_attributes') }}>
{% endblock %}

{% block __oro_promotion_coupon_form__apply_button_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': 'btn btn--outlined',
        'data-role': 'apply-coupon',
        'aria-label': 'oro.frontend.coupon.widget.apply_button.aria_label'|trans,
        'disabled': true
    }) %}

    <button {{ block('block_attributes') }}>{{ 'oro.frontend.coupon.widget.apply_button.label'|trans }}</button>
{% endblock %}

{% block __oro_promotion_coupon_form__errors_container_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': 'coupon-container__errors',
        'data-role': 'coupon-errors'
    }) %}

    <div {{ block('block_attributes') }}>{{ block_widget(block) }}</div>
{% endblock %}

{% block __oro_promotion_coupon_form__applied_coupons_list_container_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' coupons-list__wrapper'
    }) %}

    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block __oro_promotion_coupon_form__applied_coupons_list_rows_container_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' coupons-list'
    }) %}

    <ul {{ block('block_attributes') }} aria-label="{{ 'oro.frontend.coupon.widget.list.aria_label'|trans }}">
        {% for appliedCoupon in appliedCoupons %}
            {% set promotion = appliedCouponsPromotions[appliedCoupon.sourcePromotionId] is defined ? appliedCouponsPromotions[appliedCoupon.sourcePromotionId] : null %}
            {% do block|merge_context({
                appliedCoupon: appliedCoupon,
                promotion: promotion,
                parent: block.vars,
                loop: loop
            }) %}
            {{ block('container_widget') }}
        {% endfor %}
    </ul>
{% endblock %}

{% block __oro_promotion_coupon_form__applied_coupons_list_row_container_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': 'coupons-list__item'
    }) %}

    {% if promotion is empty %}
        {% set attr = layout_attr_defaults(attr, {
            '~class': 'coupons-list__item',
            'data-item-can-remove-promotion': ''
        }) %}

    {% endif %}

    <li {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </li>
{% endblock %}

{% block __oro_promotion_coupon_form__applied_coupons_list_row_text_container_widget %}
    <div>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block __oro_promotion_coupon_form__applied_coupons_list_row_coupon_code_widget %}
    <h5>{{ appliedCoupon.couponCode }}</h5>
{% endblock %}

{% block __oro_promotion_coupon_form__applied_coupons_list_row_promotion_name_widget %}
    {% if promotion is not null %}
        <div class="caption-italic">{{ promotion.labels|localized_value ? promotion.labels|localized_value|oro_html_sanitize : promotion.rule.name  }}</div>
    {% endif %}
{% endblock %}

{% block __oro_promotion_coupon_form__applied_coupons_list_row_delete_button_widget %}
    {% import '@OroUI/layouts/renderIcon.html.twig' as renderIcon %}
    {% set attr = layout_attr_defaults(attr, {
        'class': 'btn btn--simple coupons-list__remove',
        'data-object-id': appliedCoupon.id,
        'data-role': 'remove-coupon'
    }) %}
    <button {{ block('block_attributes') }} aria-label="{{ 'oro.frontend.coupon.widget.delete'|trans({
        '%counter%': loop.index,
        '%coupon_name%': appliedCoupon.couponCode
    }) }}">
        {{ renderIcon.icon({name: 'trash'}) }}
    </button>
{% endblock %}
