{% block __oro_promotion_coupon_form__container_widget %}
    {% set options = {
        view: 'oropromotion/js/app/views/frontend-coupon-add-view',
        entityClass: oro_class_name(entity),
        entityId: entity.id,
        selectors: {
            couponCodeSelector: '[data-role="coupon-code"]',
            couponApplySelector: '[data-role="apply-coupon"]',
            couponRemoveSelector: '[data-role="remove-coupon"]'
        }
    } %}
    <div
        class="pull-left promotion-coupon-form-widget-container"
        data-page-component-module="oroui/js/app/components/view-component"
        data-page-component-options="{{ options|json_encode }}"
    >
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block __oro_promotion_coupon_form__widget_container_widget %}
    <div class="collapse-view" data-page-component-collapse="{{ { open: opened }|json_encode() }}">
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block __oro_promotion_coupon_form__expand_link_widget %}
    <div data-collapse-trigger>
        <a href="javascript:void(0)" class="collapse-view__trigger_show"><i class="fa fa-ticket"></i> {{ 'oro.frontend.coupon.expand_link.label'|trans }}</a>
    </div>
{% endblock %}

{% block __oro_promotion_coupon_form__expandable_container_widget %}
    <div data-collapse-container>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block __oro_promotion_coupon_form__widget_header_widget %}
    <h1><span>{{ 'oro.frontend.coupon.widget.header.label'|trans }}</span></h1>
{% endblock %}

{% block __oro_promotion_coupon_form__form_container_widget %}
    <div>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block __oro_promotion_coupon_form__coupon_input_widget %}
    <input type="text" data-role="coupon-code" placeholder="{{ 'oro.frontend.coupon.widget.coupon_input.placeholder'|trans }}" class="input input--full">
{% endblock %}

{% block __oro_promotion_coupon_form__apply_button_widget %}
    <button type="button" data-role="apply-coupon" class="btn btn--action">{{ 'oro.frontend.coupon.widget.apply_button.label'|trans }}</button>
{% endblock %}

{% block __oro_promotion_coupon_form__applied_coupons_list_container_widget %}
    <div>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block __oro_promotion_coupon_form__applied_coupons_list_header_widget %}
    <h1><span>{{ 'oro.frontend.coupon.widget.applied_coupons_header.label'|trans }}</span></h1>
{% endblock %}

{% block __oro_promotion_coupon_form__applied_coupons_list_rows_container_widget %}
    <ul>
        {% for appliedCoupon in appliedCoupons %}
            {% set promotion = appliedCouponsPromotions[appliedCoupon.sourcePromotionId] is defined ? appliedCouponsPromotions[appliedCoupon.sourcePromotionId] : null %}
            {% do block|merge_context({
                appliedCoupon: appliedCoupon,
                promotion: promotion,
                parent: block.vars,
                loop: loop
            }) %}
            {{ block('container_widget') }}
        {% endfor %}
    </ul>
{% endblock %}

{% block __oro_promotion_coupon_form__applied_coupons_list_row_container_widget %}
    <li {% if promotion is empty %}class="coupon-widget--item-removed-promotion"{% endif %}>
        {{ block_widget(block) }}
    </li>
{% endblock %}

{% block __oro_promotion_coupon_form__applied_coupons_list_row_text_container_widget %}
    <span>
        {{ block_widget(block) }}
    </span>
{% endblock %}

{% block __oro_promotion_coupon_form__applied_coupons_list_row_coupon_code_widget %}
    <span>{{ appliedCoupon.couponCode }}</span>
{% endblock %}

{% block __oro_promotion_coupon_form__applied_coupons_list_row_promotion_name_widget %}
    {% if promotion is not null %}
        <span>{{ promotion.labels|localized_value }}</span>
    {% endif %}
{% endblock %}

{% block __oro_promotion_coupon_form__applied_coupons_list_row_delete_button_widget %}
    <a href="javascript:void(0)" data-object-id="{{ appliedCoupon.id }}" title="{{ 'oro.frontend.coupon.widget.delete_coupon.tooltip'|trans }}" data-role="remove-coupon"><i class="fa fa-trash"></i></a>
{% endblock %}
