{% block _rfp_request_view_information_widget %}
    {% import '@OroUI/macros.html.twig' as UI %}
    {% import '@OroUI/layouts/renderIcon.html.twig' as renderIcon %}

    <div class="customer-info-grid grid grid-columns-1 grid-col-mobile-landscape-12">
        <div class="grid grid-columns-2">
            <div class="grid-col grid-col-mobile-landscape-12">
                <table class="customer-info-grid__list">
                    <tbody>
                        <tr class="customer-info-grid__row">
                            <td class="customer-info-grid__element-label">{{ 'oro.frontend.rfp.request.contact_name.label'|trans }}</td>
                            <td class="customer-info-grid__element-content">{{ request.firstName }} {{ request.lastName }}</td>
                        </tr>
                        <tr class="customer-info-grid__row">
                            <td class="customer-info-grid__element-label">{{ 'oro.frontend.rfp.request.company.label'|trans }}</td>
                            <td class="customer-info-grid__element-content">{{ request.company|default('N/A'|trans) }}</td>
                        </tr>
                        {% if request.role %}
                            <tr class="customer-info-grid__row">
                                <td class="customer-info-grid__element-label">{{ 'oro.frontend.rfp.request.role.label'|trans }}</td>
                                <td class="customer-info-grid__element-content">{{ request.role }}</td>
                            </tr>
                        {% endif %}
                        <tr class="customer-info-grid__row">
                            <td class="customer-info-grid__element-label">{{ 'oro.frontend.rfp.request.email.label'|trans }}</td>
                            <td class="customer-info-grid__element-content"><bdo dir="ltr">{{ request.email }}</bdo></td>
                        </tr>
                        {% if request.phone %}
                            <tr class="customer-info-grid__row">
                                <td class="customer-info-grid__element-label">{{ 'oro.frontend.rfp.request.phone.label'|trans }}</td>
                                <td class="customer-info-grid__element-content"><bdo dir="ltr">{{ request.phone }}</bdo></td>
                            </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
            <div class="grid-col grid-col-mobile-landscape-12">
                <table class="customer-info-grid__list">
                    <tbody>
                        {% if request.poNumber %}
                            <tr class="customer-info-grid__row">
                                <td class="customer-info-grid__element-label">{{ 'oro.frontend.rfp.request.po_number.label'|trans }}</td>
                                <td class="customer-info-grid__element-content"><bdo dir="ltr">{{ request.poNumber }}</bdo></td>
                            </tr>
                        {% endif %}
                        {% if request.shipUntil %}
                            <tr class="customer-info-grid__row">
                                <td class="customer-info-grid__element-label">{{ 'oro.frontend.rfp.request.ship_until.label'|trans }}</td>
                                <td class="customer-info-grid__element-content"><bdo dir="ltr">{{ request.shipUntil|oro_format_date }}</bdo></td>
                            </tr>
                        {% endif %}
                        <tr class="customer-info-grid__row">
                            <td class="customer-info-grid__element-label">{{ 'oro.frontend.rfp.request.created_at.label'|trans }}</td>
                            <td class="customer-info-grid__element-content"><bdo dir="ltr">{{ request.createdAt|oro_format_date}}</bdo></td>
                        </tr>
                        {% if is_granted_view_customer_user(request) and request.customerUser %}
                            <tr class="customer-info-grid__row">
                                <td class="customer-info-grid__element-label">{{ 'oro.frontend.rfp.request.customer_user.label'|trans }}</td>
                                <td class="customer-info-grid__element-content">
                                    {{ UI.entityViewLink(request.customerUser, request.customerUser.fullName, 'oro_customer_frontend_customer_user_view') }}
                                </td>
                            </tr>
                        {% endif %}
                        {% if request.assignedCustomerUsers|length %}
                            <tr class="customer-info-grid__notes">
                                <td class="customer-info-grid__element-label">{{ 'oro.frontend.rfp.request.assigned_customer_users.label'|trans }}</td>
                                <td class="customer-info-grid__element-content">
                                    {{ UI.entityViewLinks(request.assignedCustomerUsers, 'fullName', 'oro_customer_frontend_customer_user_view') }}
                                </td>
                            </tr>
                        {% endif %}
                        {{ block_widget(block) }}
                    </tbody>
                </table>
            </div>
        </div>
        {% if request.note %}
            <table class="customer-info-grid__list">
                <tbody>
                    <tr class="customer-info-grid__notes">
                        <td class="customer-info-grid__element-label">{{ 'oro.frontend.rfp.request.note.label'|trans }}</td>
                        <td class="customer-info-grid__element-content customer-info-grid__element-content--notes">
                            <div id="collapse-rfq-view-more"
                                class="collapse collapse-overflow no-transition"
                                data-collapsed-text="{{ 'oro.ui.collapse.more'|trans }}"
                                data-expanded-text="{{ 'oro.ui.collapse.less'|trans }}"
                                data-check-overflow="true"
                                data-trigger-icon-hide="chevron-down"
                                data-trigger-icon-show="chevron-up"
                                data-toggle="false">{{ request.note|nl2br }}
                            </div>
                            <button class="btn btn--flat btn--size-small collapse-toggle customer-info-grid__view-more" data-toggle="collapse" data-target="#collapse-rfq-view-more" aria-controls="collapse-rfq-view-more">
                                <span class="trigger-icon" data-icon>
                                    {{ renderIcon.icon({name: 'chevron-down'}) }}
                                </span>
                                <span data-text>{{ 'oro.ui.collapse.more'|trans }}</span>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        {% endif %}
    </div>
{% endblock %}

{% block _rfp_request_view_additional_notes_widget %}
    {% import '@OroUI/macros.html.twig' as UI %}
    {% import '@OroUI/layouts/renderIcon.html.twig' as renderIcon %}
    {% if block.vars.visible %}
        {% set attr = attr|merge({
            class: attr.class|default('') ~ " notes"
        }) %}

        {% set collapseId = 'collapse-'|uniqid %}
        <div {{ block('block_attributes') }}>
            <h3 class="section-title section-title--size-m">
                {{ 'oro.frontend.rfp.request.sections.notes.label'|trans }}
                <span class="notes__count">({{ requestAdditionalNotes|length }})</span>
                <button type="button"
                        class="btn btn--simple btn--size-small collapse-toggle"
                        title="{{ 'Show less'|trans }}"
                        data-toggle="collapse"
                        data-target="{{ '#' ~  collapseId }}"
                        aria-expanded="false"
                        aria-controls="{{ collapseId }}"
                >
                    <span class="trigger-icon" data-icon>
                        {{ renderIcon.icon({name: 'chevron-down'}) }}
                    </span>
                </button>
            </h3>
            <div id="{{ collapseId }}"
                 class="collapse show"
                 data-toggle="false"
                 data-state-id="{{ id }}"
                 data-trigger-icon-show="chevron-up"
                 data-trigger-icon-hide="chevron-down"
                 data-collapsed-title="{{ 'Show more'|trans }}"
                 data-expanded-title="{{ 'Show less'|trans }}"
            >
                {% for requestAdditionalNote in requestAdditionalNotes %}
                    <article class="notes__item">
                        <header class="notes__info">
                            <p class="notes__text">
                                <span class="bold">{{ requestAdditionalNote.author }}</span>
                                <span class="notes__date">{{ requestAdditionalNote.createdAt|oro_format_datetime }}</span>
                            </p>
                        </header>
                        <div>
                            <p>{{ requestAdditionalNote.text|e|nl2br }}</p>
                        </div>
                    </article>
                {% endfor %}
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block _rfp_request_view_line_items_grid_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': " customer-info-grid__data customer-line-items customer-line-items--rfq"
    }) %}

    <div {{ block('block_attributes') }}>
        <h2 class="customer-line-items__title">
            {{- 'oro.frontend.rfp.request.sections.request_products.label'|trans -}}
        </h2>

        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block rfp_items_block_container_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': " grid grid-columns-2"
    }) %}

    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _rfp_request_view_notes_container_widget %}
    {% if block.vars.visible %}
        <div {{ block('block_attributes') }}>
            <h3 class="customer-navigation-title">
                {{ 'oro.frontend.rfp.request.sections.notes.label'|trans }}
            </h3>
            {{ block_widget(block) }}
        </div>
    {% endif %}
{% endblock %}

{% block _rfp_request_view_notes_widget %}
    {{ block_widget(block)|nl2br }}
{% endblock %}

{% block _rfp_request_view_top_bar_status_widget %}
    {% import '@OroUI/layouts/renderStatus.html.twig' as renderStatus %}
    {{ renderStatus.status({
        label: text,
        code: text.id,
        map: {
            'rfp_customer_status.submitted': 'info',
            'rfp_customer_status.pending_approval': 'warning',
            'rfp_customer_status.requires_attention': '',
            'rfp_customer_status.cancelled': 'destructive',
        }
    }) }}
{% endblock %}
