{# Product view Layout START #}
{% block _product_view_container_widget %}
    {% set productImage = product.imagesByType('listing').first.image|default(null) %}
    {% set productImageUrl = product_filtered_image(productImage, 'product_small') %}

    {% set modelAttr = {
        'id': product.id,
        'sku': product.sku,
        'name': product.names|localized_value|e,
        'unit': product.primaryUnitPrecision.productUnitCode,
        'product_units': product.sellUnitsPrecision,
        'imageUrl': productImageUrl
    } %}

    {% if parentProduct is not null %}
        {% set modelAttr = modelAttr|merge({parentProduct: parentProduct.id}) %}
    {% endif %}
    {% set attr = layout_attr_defaults(attr, {
        'data-page-component-module': 'oroui/js/app/components/view-component',
        '~data-page-component-options': {
            view: 'oroproduct/js/app/views/frontend-product-view',
            modelAttr: modelAttr
        },
        'data-layout': 'separate',
        'data-role': 'product-item',
        '~class': ' product-view ' ~ productTheme|default('default') ~ '-theme'
    }) %}

    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _product_view_microdata_container_widget %}
    {% if matrixFormType is not defined %}
        {% set matrixFormType = '' %}
    {% endif %}

    {% set isProductHasPrices = productPrices is defined and productPrices is not empty or
        product is defined and product.prices is defined and matrixFormType == 'none' and product.prices is not empty
    %}

    {% if
        microdataWithoutPricesDisabled == false or
        (not is_price_hidden(product) and isProductHasPrices == true)
    %}
        {% set attr = layout_attr_defaults(attr, {
            'itemscope': '',
            'itemtype': 'http://schema.org/Product'
        }) %}
        {% if schemaOrgDescription is defined %}
            {% set productSchemaOrgDescription %}
                <meta itemprop="description" content="{{ schemaOrgDescription }}" />
            {% endset %}
        {% endif %}
    {% endif %}
    <div {{ block('block_attributes') }} class="product-view-microdata-container">
        {% if productSchemaOrgDescription is defined %}
            {{ productSchemaOrgDescription }}
        {% endif %}
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _product_view_primary_container_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' product-view__primary'
    }) %}

    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _product_view_headline_widget %}
    {% if block.children is not empty %}
        {% set attr = layout_attr_defaults(attr, {
            '~class': ' product-view__headline',
        }) %}

        <div {{ block('block_attributes') }}>
            {{ block_widget(block) }}
        </div>
    {% endif %}
{% endblock %}

{% block _product_view_headline_group_first_widget %}
    {% set visibleBlock = block.children|filter(child => child.children|default(false))|length %}
    {% if visibleBlock %}
        {% set attr = layout_attr_defaults(attr, {
            '~class': ' product-view__headline-group'
        }) %}

        <div {{ block('block_attributes') }}>
            {{ block_widget(block) }}
        </div>
    {% endif %}
{% endblock %}

{% block _product_view_headline_group_second_widget %}
    {% set visibleBlock = block.children|filter(child => child.children|default(false))|length %}
    {% if visibleBlock %}
        {% set attr = layout_attr_defaults(attr, {
            '~class': ' product-view__headline-group'
        }) %}

        <div {{ block('block_attributes') }}>
            {{ block_widget(block) }}
        </div>
    {% endif %}
{% endblock %}

{% block _product_view_headline_sku_slot_widget %}
    {% if block.children|length %}
        {% set attr = layout_attr_defaults(attr, {
            '~class': ' product-view__headline-item'
        }) %}

        <div {{ block('block_attributes') }}>
            {{ block_widget(block) }}
        </div>
    {% endif %}
{% endblock %}

{% block _product_view_headline_inventory_status_slot_widget %}
    {% if block.children|length %}
        {% set attr = layout_attr_defaults(attr, {
            '~class': ' product-view__headline-item'
        }) %}

        <div {{ block('block_attributes') }}>
            {{ block_widget(block) }}
        </div>
    {% endif %}
{% endblock %}

{% block _product_view_headline_brand_slot_widget %}
    {% if block.children is not empty %}
        {% set attr = layout_attr_defaults(attr, {
            '~class': ' product-view__headline-item'
        }) %}

        <div {{ block('block_attributes') }}>
            {{ block_widget(block) }}
        </div>
    {% endif %}
{% endblock %}

{% block _product_view_headline_seller_name_slot_widget %}
    {% if block.children is not empty %}
        {% set attr = layout_attr_defaults(attr, {
            '~class': ' product-view__headline-item'
        }) %}
        <div {{ block('block_attributes') }}>
            {{ block_widget(block) }}
        </div>
    {% endif %}
{% endblock %}

{% block _product_view_aside_container_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' product-view__aside'
    }) %}

    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _product_view_main_container_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' product-view__main'
    }) %}

    <div {{ block('block_attributes') }}>
        {{ parent_block_widget(block) }}
    </div>
{% endblock %}

{% block _product_view_content_container_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' product-view__content',
        'data-product-view-content': '',
    }) %}

    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _product_view_info_container_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' product-view__info'
    }) %}

    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _product_view_specification_container_widget %}
    {% if block.children is not empty %}
        {% set attr = layout_attr_defaults(attr, {
            '~class': ' product-view__specification',
            'data-role': 'layout-subtree-loading-container'
        }) %}
        {% set children = block_widget(block) %}

        {% if children|trim|length %}
            <div {{ block('block_attributes') }}>
                {{ children|raw }}
            </div>
        {% endif %}
    {% endif %}
{% endblock %}

{% block _product_view_description_container_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' product-view__description'
    }) %}

    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _product_view_benefits_container_widget %}
    {% set content = block_widget(block) %}
    {%- if content|trim|length > 0 -%}
        {% set attr = layout_attr_defaults(attr, {
            '~class': ' product-view__benefits'
        }) %}

        <div {{ block('block_attributes') }}>
            {{- content|raw -}}
        </div>
    {%- endif -%}
{% endblock %}

{% block _product_view_details_container_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' product-view__details'
    }) %}

    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _product_view_attribute_group_general_attribute_localized_fallback_descriptions_widget %}
    {% set description = translated_value.wysiwyg is defined ? translated_value.wysiwyg|trim  : null %}
    {% if description %}
        {% set attr = layout_attr_defaults(attr, {
            '~class': ' cms-typography'
        }) %}
        {%- import '@OroCMS/macros.html.twig' as CMS -%}
        <div {{ block('block_attributes') }}>{{ CMS.renderWysiwygContent(description, translated_value.wysiwygStyle) }}</div>
    {% endif %}
{% endblock %}

{% block _product_view_attribute_group_general_attribute_boolean_featured_widget %}
    {% import '@OroUI/layouts/renderIcon.html.twig' as renderIcon %}
    {% if value == true %}
        <div class="product-view__featured">{{ renderIcon.icon({name: 'trending-up'}) }}{{ label|trans }}</div>
    {% endif %}
{% endblock %}

{% block _product_view_attribute_group_general_attribute_boolean_newArrival_widget %}
    {% import '@OroUI/layouts/renderIcon.html.twig' as renderIcon %}
    {% if value == true %}
        <div class="product-view__newarrival">{{ renderIcon.icon({name: 'package'}) }}{{ label|trans }}</div>
    {% endif %}
{% endblock %}

{% block _product_view_brand_inventory_status_widget %}
    {% import '@OroUI/layouts/renderStatus.html.twig' as renderStatus %}
    {{ renderStatus.status({
        label: oro_inventory_status_label(product),
        code: oro_inventory_status_code(product),
        map: {
            'prod_inventory_status.in_stock': 'success',
            'prod_inventory_status.out_of_stock': 'destructive',
            'prod_inventory_status.discontinued': 'destructive'
        }
    }) }}
{% endblock %}

{% block _product_view_attribute_group_general_widget %}
    {% if block.children is not empty %}
        {% set attr = layout_attr_defaults(attr, {
            '~class': ' product-view__general'
        }) %}

        <div {{ block('block_attributes') }}>
            {{ block_widget(block) }}
        </div>
    {% endif %}
{% endblock %}

{% block _product_view_additional_container_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' product-view__additional'
    }) %}

    {% set content = block_widget(block) %}
    {% if content|trim|length > 0 %}
    <div {{ block('block_attributes') }}>
        {{ content|raw }}
    </div>
    {% endif %}
{% endblock %}
{# Product view Layout START #}

{% block _product_view_attribute_group_general_attribute_localized_fallback_names_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' page-title',
        'itemprop': 'name'
    }) %}

    <h1 {{ block('block_attributes') }}>{{ translated_value|e }}</h1>
{% endblock %}

{% block _product_view_attribute_group_general_attribute_text_sku_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' sku'
    }) %}
    <div {{ block('block_attributes') }}>
        {{ 'oro.product.frontend.index.sku'|trans }} <span class="sku__code" itemprop="sku">{{ entity.sku|e }}</span>
    </div>
{% endblock %}

{% block _product_view_attribute_group_general_attribute_product_brand_brand_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' product-view-brand',
        'itemprop': 'brand',
        'itemscope': '',
        'itemtype': 'http://schema.org/Brand'
    }) %}
    <div {{ block('block_attributes') }} >
        {% if label|trans|first != '_' %}
            {{ label|trans }}:
        {% endif %}
        <span class="product-view-brand-title" itemprop="name">{{ block('attribute_localized_fallback_widget')|trim }}</span>
    </div>
{% endblock %}

{% block _product_view_attribute_group_general_attribute_product_images_images_widget %}
    {# Skip 'attribute_group_general_widget' in hierarchy of blocks #}
    {{ block('attribute_product_images_widget') }}
{% endblock %}

{% block attribute_group_general_widget %}
    {% set fieldName = block.vars.fieldName|lower %}
    {% set attr = layout_attr_defaults(attr, {'~class': ' product-view__' ~ fieldName} ) %}
    <div {{ block('block_attributes') }}>
        {% if 'attribute_collection' in block_prefixes %}
            {{ block('product_view_attribute_collection_widget') }}
        {% elseif 'attribute_image' in block_prefixes %}
            {{ block('product_view_attribute_image_widget') }}
        {% else %}
            {% if label|trans|first != '_' %}
                <span class="product-view-attribute">{{ label|trans }}:</span>
            {% endif %}
            <span>{{ block_widget(block) }}</span>
        {% endif %}
    </div>
{% endblock %}

{% block attribute_product_images_widget %}
    {% set product = entity %}
    {{ block('_product_view_media_widget') }}
{% endblock %}

{% block _product_js_modules_config_widget %}
    {% import '@OroAsset/Asset.html.twig' as Asset %}
    {{ Asset.js_modules_config({
        'oroui/js/app/views/tab-collection-view': {
            templateClassName: 'nav product-attributes-tabs invisible-scrollbar'
        },
        'oroui/js/app/views/tab-item-view': {
            className: 'product-attributes-tabs__item',
            templateClassName: 'product-attributes-tabs__link'
        },
        'oroproduct/js/widget/zoom-widget': {
            zoomType: oro_theme_configuration_value('product_details__image_zoom_type'),
            tint: oro_theme_configuration_value('product_details__image_zoom_tint'),
            scrollZoom: oro_theme_configuration_value('product_details__image_zoom_scroll')
        }
    }) }}
{% endblock %}

{% block _product_view_line_item_container_wrapper_widget %}
    {% if matrixFormType is not defined %}
        {% set matrixFormType = '' %}
    {% endif %}
    {% set isNoMatrixForm = product.isConfigurable and matrixFormType == 'none' %}

    {% if not isNoMatrixForm %}
        {% set attr = layout_attr_defaults(attr, {
            'data-line-item-form': '',
            'data-dom-relocation-options': {
                scroll: [
                    {
                        viewport: 'desktop',
                        moveTo: '[data-product-view-line-form-panel]',
                        endpointClass: 'line-item-form-moved'
                    }
                ]
            }
        }) %}
    {% endif %}
    {% set children = block_widget(block, {attr: attr}) %}
    {% if children|trim|length %}
        <div {{ block('block_attributes') }}>
            {{ children|raw }}
        </div>
    {% endif %}
{% endblock %}

{% block _product_view_line_item_container_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' product-view__line-item-form line-item-form'
    }) %}
    {% set children = block_widget(block, {attr: attr}) %}
    {% if children|trim|length %}
        <div {{ block('block_attributes') }}>
            {{ children|raw }}
        </div>
    {% endif %}
{% endblock %}

{% block product_view_attribute_collection_widget %}
    {% if value|length > 0 %}
        {% if label|trans|first != '_' %}
            <div class="product-view-attribute">{{ label|trans }}:</div>
        {% endif %}
        {{ block('product_view_' ~ block_type ~ '_widget') }}
    {% endif %}
{% endblock %}

{% block attribute_multiimages_widget %}
    {% import '@OroUI/macros.html.twig' as UI %}

    {% set collection = value %}
    {% set galleryImages = [] %}
    {% for item in collection %}
        {% set pictureSources = product_filtered_picture_sources(item.file, 'product_gallery_popup') %}
        {% set galleryImages = galleryImages|merge([pictureSources]) %}
    {% endfor %}

    {% set popupGalleryAttr = {
        'data-page-component-view': {
            view: 'oroproduct/js/app/widget/product-popup-gallery-widget',
            bindWithSlider: false,
            galleryImages: galleryImages
        }|json_encode
    } %}

    {% set showMoreAttr = {
        'data-page-component-view': 'oroui/js/app/views/show-more/inline-show-more-view'
    } %}

    <div class="product-view__attribute-images show-more-view" {{ UI.attributes(showMoreAttr) }}>
        <div class="product-view__attribute-images-container show-less" data-role="items-container" {{ UI.attributes(popupGalleryAttr) }}>
            {%- for item in collection -%}
            <div class="product-view__attribute-images-item" data-trigger-gallery-open data-gallery-image-index="{{ loop.index0 }}">
                {% include '@OroAttachment/Twig/picture.html.twig' with {
                    sources: product_filtered_picture_sources(item.file, 'product_small'),
                    img_attrs: {
                        class: 'product-view__attribute-image cover-img'
                    }
                } %}
            </div>
            {%- endfor -%}
        </div>
        <div class="product-view__attribute-panel">
            <button type="button" class="btn btn--simple btn--size-small" data-role="show-more"></button>
        </div>
    </div>
{% endblock %}

{% block product_view_attribute_multiimages_widget %}
    {{ block('attribute_multiimages_widget') }}
{% endblock %}

{% block product_view_attribute_image_widget %}
    {% import '@OroUI/macros.html.twig' as UI %}

    {% set pictureSources = product_filtered_picture_sources(value, 'product_gallery_popup') %}
    {% set popupGalleryAttr = {
        'data-page-component-view': {
            view: 'oroproduct/js/app/widget/product-popup-gallery-widget',
            bindWithSlider: false,
            galleryImages: [{
                src: pictureSources.src,
                sources: pictureSources.sources
            }],
        }|json_encode
    } %}

    <div {{ UI.attributes(popupGalleryAttr) }}>
        {% if label|trans|first != '_' %}
            <span class="product-view-attribute">{{ label|trans }}:</span>
        {% endif %}
        <span class="product-view__attribute-images-item" data-trigger-gallery-open>
            {% include '@OroAttachment/Twig/picture.html.twig' with {
                sources: product_filtered_picture_sources(value, 'product_small'),
                img_attrs: {
                    class: 'product-view__attribute-image cover-img',
                }
            } %}
        </span>
    </div>
{% endblock %}

{% block attribute_multifiles_widget %}
    {% import '@OroUI/macros.html.twig' as UI %}
    {% set filesAttr = {
        'data-page-component-view': 'oroui/js/app/views/show-more/table-show-more-view'
    } %}

    <div class="product-view__attribute-files show-more-view show-less" {{ UI.attributes(filesAttr) }}>
        {% set collection = value %}
        <div class="table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th>{{ 'oro.attachment.frontend.file.file.label'|trans }}</th>
                    <th>{{ 'oro.attachment.frontend.file.mime_type.label'|trans }}</th>
                    <th>{{ 'oro.attachment.frontend.file.file_size.label'|trans }}</th>
                    <th>{{ 'oro.attachment.frontend.file.created_at.label'|trans }}</th>
                </tr>
                </thead>
                <tbody>
                {%- for item in collection -%}
                    <tr>
                        <td>{{ oro_file_view(item.file) }}</td>
                        <td>{{ item.file.extension|upper }}</td>
                        <td>{{ file_size(item.file.fileSize) }}</td>
                        <td>{{ item.file.createdAt|oro_format_datetime() }}</td>
                    </tr>
                {%- endfor -%}
                </tbody>
            </table>
        </div>
        <div class="product-view__attribute-panel">
            <button type="button" class="btn btn--simple btn--size-small" data-role="show-more"></button>
        </div>
    </div>
{% endblock %}

{% block product_view_attribute_multifiles_widget %}
    {{ block('attribute_multifiles_widget') }}
{% endblock %}

{% block attribute_group_rest_attribute_widget %}
    <div class="product-view-attribute__content">
        {% if 'attribute_collection' in block_prefixes %}
            {{ block('product_view_attribute_collection_widget') }}
        {% elseif 'attribute_image' in block_prefixes %}
            {{ block('product_view_attribute_image_widget') }}
        {% else %}
            {{ block('attribute_label_widget') }} {{ block_widget(block) }}
        {% endif %}
    </div>
{% endblock %}

{% block attribute_localized_fallback_widget %}
    {% set valueIsWysiwyg = translated_value.wysiwyg is defined and translated_value.wysiwyg != null %}
    {% set valueIsText = translated_value.text is defined and translated_value.text != null %}
    {% if valueIsWysiwyg %}
        {%- import '@OroCMS/macros.html.twig' as CMS -%}
        <div class="cms-typography">{{ CMS.renderWysiwygContent(translated_value.wysiwyg, translated_value.wysiwygStyle|default('')) }}</div>
    {% elseif valueIsText %}
        <div class="cms-typography">{{ translated_value.text|oro_html_sanitize }}</div>
    {% else %}
        {{ translated_value|oro_html_sanitize }}
    {% endif %}
{% endblock %}

{% block attribute_group_rest_item_widget %}
    {% import '@OroUI/layouts/renderIcon.html.twig' as renderIcon %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' product-view-attribute__group'
    }) %}
    <div {{ block('block_attributes') }}>
        <h3 class="product-view-attribute__group-title" id="{{ headingBlockId }}">
            <button
                class="product-view-attribute__group-toggle collapsed"
                type="button"
                data-toggle="collapse"
                data-target="#{{ contentBlockId }}"
                aria-expanded="true"
                aria-controls="{{ contentBlockId }}"
                title="{{ tabOptionsById.label }}"
            >{{ renderIcon.icon({name: 'chevron-down'}) }}{{ tabOptionsById.label }}</button>
        </h3>

        <div id="{{ contentBlockId }}" aria-labelledby="{{ headingBlockId }}" class="product-view-attribute__group-content collapse">{{ childContent|raw }}</div>
    </div>
{% endblock %}

{% block attribute_group_rest_widget %}
    {% set tabsOptionsById = [] %}
    {%- for tab in tabsOptions -%}
        {% set tabsOptionsById = tabsOptionsById|merge({
            (tab.id): tab
        }) %}
    {%- endfor -%}

    {%- for child in block -%}
        {%- if child.vars.visible -%}
            {% set childContent = block_widget(child) %}
            {%- if childContent|trim|length > 0 -%}
                {% set tabOptionsById = tabsOptionsById[child.vars.group] %}
                {% set contentBlockId = 'content-block-'|uniqid %}
                {% set headingBlockId = 'heading-block-'|uniqid %}
                {{ block('attribute_group_rest_item_widget') }}
            {%- endif -%}
        {%- endif -%}
    {%- endfor -%}
{% endblock %}

{% block attribute_group_rest_attribute_group_widget %}
    {% set content = block_widget(block) %}
    {% if content|trim|length > 0 %}
        {{ content|raw }}
    {% endif %}
{% endblock %}

{% block attribute_label_widget %}
    {% if label|trans|first != '_' %}
        <div class="product-view-attribute__label">{{ label|trans }}:</div>
    {% endif %}
{% endblock %}
