{% block _product_image_widget %}
    {% import 'OroProductBundle::image_macros.html.twig' as Image %}
    <!-- START Product Gallery -->
    <div class="product-gallery-widget product-gallery-widget_vertical product-gallery-widget_l_floated">
        <div class="product-gallery product-gallery_vertical">
            <div class="product-gallery__image-holder">
                <div class="product-gallery__image-holder__carousel" data-product-gallery>
                    <div class="product-gallery__image-holder__container">
                        {% set productImagesMain %}
                        {% set productImage = image|length > 0 ? image.first.image : null %}
                        <img src="{{ Image.url(productImage, 'product_extra_large') }}"
                             alt="{{ product.names|localized_value }}"
                             width="378"
                             height="378"
                                {% if productImage and isDesktopVersion() %}
                                    data-zoom-image="{{ Image.url(productImage, 'product_original') }}"
                                    {% set options = {
                                    widgetModule: 'oroproduct/js/vendors/elevatezoom/jquery-elevatezoom',
                                    widgetName: 'elevateZoom',
                                    scrollZoom: true,
                                    zoomWindowWidth: 630,
                                    zoomWindowHeight: 376,
                                    borderSize: 1,
                                    borderColour: '#ebebeb',
                                    lensBorderColour: '#7d7d7d',
                                    lensColour: '#000',
                                    lensOpacity: 0.22
                                    }|json_encode() %}
                                    data-page-component-module="oroui/js/app/components/jquery-widget-component"
                                    data-page-component-options="{{ options }}"
                                {% endif %}
                        />
                    </div>
                    {% for productImage in image_additional %}
                        <img src="{{ Image.url(productImage.image, 'product_small') }}"
                             width="82"
                             height="82"/>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <!-- END Product Gallery -->
{% endblock %}
