{% block _line_item_form_widget %}
    {% set attr = layout_attr_defaults(attr, {
        'class': 'product-view-line-item-form-container',
        'data-role': 'line-item-form-container'
    }) %}
    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _line_item_form_fields_quantity_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': 'product-view-line-item__quantity fields-row'
    }) %}
    <div {{ block('block_attributes') }}>
        {% if not isProductUnitSelectionVisible %}
            {{ form_label(form.quantity) }}
            {{ form_widget(form.quantity) }}
            {# unit field is also handled in single unit mode, but set as a default one from config #}
            {% if isUnitVisible %}
                <span class="label">{{ product.primaryUnitPrecision.unit.code|oro_format_product_unit_label }}</span>
            {% endif %}
            {{ form_errors(form.quantity) }}
        {% else %}
            <div data-page-component-view="orofrontend/default/js/app/views/increment-input/increment-input-view">
                {{ form_widget(form.quantity, { 'attr': {
                    'aria-label': 'oro.product.quantity.aria_label'|trans,
                    'data-floating-error': true,
                } }) }}
            </div>
            <div class="fields-row-error"></div>
        {% endif %}
    </div>
{% endblock %}

{% block _line_item_form_fields_unit_widget %}
    {% if form.unit.vars.choices|length > 1 %}
        <div class="product-view-line-item__choice simple-placeholder"
             data-page-component-module="oroproduct/js/app/components/product-unit-select-component"
             data-page-component-options="{{ {
            'singleUnitMode': singleUnitMode,
            'singleUnitModeCodeVisible': singleUnitModeCodeVisible,
            'configDefaultUnit': defaultUnitCode
            }|json_encode }}
        ">
            {{ form_widget(form.unit, {attr: {
                'form': form.vars.id,
                'data-skip-input-widgets': '',
                'class': 'invisible'
            }}) }}
        </div>
    {% else %}
        <div class="product-view-line-item__unit">
            <span data-role="unit-label" data-toggle-type="single">{{- product.primaryUnitPrecision.unit.code|oro_format_product_unit_label -}}</span>
        </div>
        <input form="{{ form.vars.id }}" type="hidden" name="{{ form.unit.vars.full_name }}" value="{{ product.primaryUnitPrecision.unit.code }}" data-name="{{ form.unit.vars.attr['data-name'] }}" data-unit-precisions="{{ form.unit.vars.attr['data-unit-precisions'] }}" />
    {% endif %}
{% endblock %}

{% block _product_line_item_form_buttons_widget %}
    {% if block.children is not empty %}
        {% set attr = layout_attr_defaults(attr, {
            '~class': " product-view-line-item__button"
        }) %}

        <div {{ block('block_attributes') }}>
            {{ block_widget(block) }}
        </div>
    {% endif %}
{% endblock %}

{% block _line_item_form_start_widget %}
    {% set attr = attr|merge({
        'data-prevent-submit': '',
        'class': 'product-view-line-item'
    }) %}
    {{ parent_block_widget(block, {attr: attr}) }}
{% endblock %}

{% block _line_item_form_end_widget %}
    {{ form_widget(form._token) }}
    {{ block_widget(block) }}
{% endblock %}
