{% block _product_view_kit_content_container_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' grid product-view__kit-container',
        'data-line-item-form': '',
        'data-dom-relocation-options': {
            scroll: [
                {
                    viewport: 'desktop',
                    moveTo: '[data-product-view-line-form-panel]',
                    endpointClass: 'line-item-form-moved'
                }
            ]
        },
    }) %}
    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _product_view_kit_content_container_start_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' product-view__kit-container-start grid-col-6 grid-col-tablet-12 '
    }) %}
    {% set children = block_widget(block) %}
    {% if children|trim|length %}
        <div {{ block('block_attributes') }}>
            {{ children|raw }}
        </div>
    {% endif %}
{% endblock %}

{% block _product_view_kit_content_container_end_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' product-view__kit-container-end grid-col-6 grid-col-tablet-12 '
    }) %}
    {% set children = block_widget(block) %}
    {% if children|trim|length %}
        <div {{ block('block_attributes') }}>
            {{ children|raw }}
        </div>
    {% endif %}
{% endblock %}
