{% block _line_item_form_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': " product__buy line_item_form_product_view"
    }) %}
    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _line_item_buttons_widget %}
    {% import 'OroUIBundle::macros.html.twig' as UI %}
    {% if block.children is not empty %}
        {% set attr = layout_attr_defaults(attr, {
            '~class': " form__col no-padding"
        }) %}
        <div {{ block('block_attributes') }}>
            {{ UI.pinnedDropdownButton({
                'html': block_widget(block),
                'dataAttributes': {
                    'layout': 'separate'
                },
                'options': {
                    'widgetModule': 'oroproduct/js/content-processor/product-add-to-dropdown-button',
                    'widgetName': 'productAddToDropdownButtonProcessor',
                    'truncateLength': 15,
                    'groupContainer': '<div id="add-to-shopping-list" class="btn btn-block btn-orange btn_has-dropdown btn_has-dropdown_lg"></div>'
                }
            }) }}
        </div>
    {% endif %}
{% endblock %}

{% block _line_item_form_shopping_lists_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': " form__col"
    }) %}
    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}
