{% import 'OroUIBundle::macros.html.twig' as UI %}
{% import 'OroEmailBundle::actions.html.twig' as EmailActions %}

<div class="widget-content">
    <div class="row-fluid form-horizontal">
        <div class="responsive-block">
            {{ UI.renderProperty('oro.customer.account.name.label'|trans, entity.name) }}

            {% if entity.group %}
                {% if is_granted('VIEW', entity.group) %}
                    {% set groupData %}
                    <a href="{{ path('oro_customer_account_group_view', {id: entity.group.id}) }}">
                        {{ entity.group.name }}
                    </a>
                    {% endset %}
                    {{ UI.renderHtmlProperty('oro.customer.account.group.label'|trans, groupData) }}
                {% else %}
                    {{ UI.renderProperty('oro.customer.account.group.label'|trans, entity.group.name) }}
                {% endif %}
            {% endif %}

            {% if entity.parent %}
                {% if is_granted('VIEW', entity.parent) %}
                    {% set parentData %}
                        <a href="{{ path('oro_customer_account_view', {id: entity.parent.id}) }}">
                            {{ entity.parent.name }}
                        </a>
                    {% endset %}
                    {{ UI.renderHtmlProperty('oro.customer.account.parent.label'|trans, parentData) }}
                {% else %}
                    {{ UI.renderProperty('oro.customer.account.parent.label'|trans, entity.parent.name) }}
                {% endif %}
            {% endif %}

            {% if entity.users | length %}
                {{ UI.renderHtmlProperty('oro.customer.account.users.label'|trans, UI.entityViewLinks(entity.users, 'fullName', 'oro_account_account_user_view')) }}
            {% endif %}

            {% if entity.salesRepresentatives | length %}
                {{ UI.renderHtmlProperty('oro.customer.account.sales_representatives.label'|trans, UI.entityViewLinks(entity.salesRepresentatives, 'fullName', 'oro_user_view')) }}
            {% endif %}

            {% if entity.children.count() %}
                {% set accountTree %}
                    <div class="account-children">
                        <div data-page-component-module="oroui/js/app/components/basic-tree-component"
                             data-page-component-options="{{ {'data' : treeData}|json_encode }}"></div>
                    </div>
                {% endset %}
                {{ UI.renderHtmlProperty('oro.customer.account.children.label'|trans, accountTree) }}
            {% endif %}

            {% if entity.getInternalRating and is_granted('VIEW', entity.getInternalRating)%}
                {{ UI.renderProperty('oro.customer.account.internal_rating.label'|trans, entity.getInternalRating.name) }}
            {% endif %}
        </div>
    </div>
</div>
