{% block __oro_customer_address_grid__addresses_head_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': " grid__row text-right"
    }) %}
    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block __oro_customer_address_grid__addresses_head_title_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': " grid__column grid__column-half text-left"
    }) %}
    <div {{ block('block_attributes') }}>
        <h2 class="user-page-title">
            <span class="badge">
                <i class="fa-map-marker"></i>
            </span>
            {{ block_widget(block) }}
        </h2>
    </div>
{% endblock %}

{% block __oro_customer_address_grid__addresses_create_button_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': " btn btn--size-s btn--create"
    }) %}
    {{ block_widget(block, {
        attr: attr
    }) }}
{% endblock %}

{% block __oro_customer_address_grid__datagrid_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': " grid__row grid__row--has-twin-row grid__row--has-child-grid"
    }) %}
    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block __oro_customer_address_grid__datagrid_toolbar_widget %}
    <script type="text/html" id="template-customer-address-book-addresses-grid-toolbar">
        <div{{ block('block_attributes') }}>{{ block("container_widget") }}</div>
    </script>
{% endblock %}
