{% block _login_form_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' login-form'
    }) %}

    <form {{ block('block_attributes') }}>
        <div class="grid">
            {{ block_widget(block) }}
        </div>
    </form>
{% endblock %}

{% block _login_form_title_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' page-title'
    }) %}

    <h2 {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </h2>
{% endblock %}

{% block _login_form_notifications_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' notifications'
    }) %}
    <div class="grid__row">
        <p  class="notifications">Info</p>
        <p  class="notifications notifications--error">Error</p>
        <p  class="notifications notifications--success">Success</p>
        <p  class="notifications notifications--warring">Warring</p>
    </div>

{% endblock %}

{% block _login_form_username_label_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' login-form-label'
    }) %}

    <label {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </label>
{% endblock %}

{% block _login_form_password_label_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' login-form-label'
    }) %}

    <label {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </label>
{% endblock %}

{% block _login_form_email_item_widget %}
    {% set attr = layout_attr_defaults(attr, {
    '~class': ' grid__row grid__row--offset-m'
    }) %}

    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _login_form_passwors_item_widget %}
    {% set attr = layout_attr_defaults(attr, {
    '~class': ' grid__row grid__row--offset-m'
    }) %}

    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _login_form_remenber_item_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' grid__row grid__row--offset-m'
    }) %}

    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _login_form_submit_item_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' grid__row'
    }) %}

    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _login_form_forgot_item_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' grid__row grid__row--offset-m'
    }) %}

    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _login_form_register_item_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' grid__row grid__row--offset-none'
    }) %}

    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}
