{% extends 'OroUserBundle::layout.html.twig' %}

{% block bodyClass %}login-page{% endblock %}
{% block messages %}
{% endblock %}
{% block content %}
<div class="container">
    <h1>FRONTEND</h1>
    <form id="login-form" action="{{ path('orob2b_customer_account_user_security_check') }}" method="post" class="form-signin">
        <div class="title-box">
            {% if oro_theme_logo() %}
            <h1 class="oro-title logo-{{ oro_theme_logo() ? 'image' : 'text' }}">
                <img src="{{ asset(oro_theme_logo()) }}">
            </h1>
            <span class="divider-vertical"></span>
            {% endif %}
            <h2 class="title">{{ 'orob2b.customer.accountuser.profile.login'|trans }}</h2>
        </div>
        <fieldset>
            <script type="text/javascript">
                require(['jquery'], function ($) {
                    var $form = $('#login-form');
                    $form.on('submit', function () {
                        $form.find('button').attr('disabled', 'disabled');
                    });
                });
            </script>
            {% if error %}
                <div class="alert alert-error">
                    <div>{{ error|trans }}</div>
                </div>
            {% endif %}
            {{ messagesContent }}
            {%- set usernameLabel = 'orob2b.customer.accountuser.email.label'|trans %}
            {%- set passwordLabel = 'orob2b.customer.accountuser.password.label'|trans %}
            {%- set showLabels = (usernameLabel|length <= 9) and (passwordLabel|trans <= 9) %}
            <div class="input-prepend">
                {% if showLabels %}
                <span class="add-on">{{ usernameLabel }}</span>
                {% endif %}
                <input type="text" id="prependedInput" class="span2" name="_username" value="{{ last_username }}" required="required" placeholder="{{ usernameLabel }}" autofocus/>
            </div>
            <div class="input-prepend">
                {% if showLabels %}
                <span class="add-on">{{ passwordLabel }}</span>
                {% endif %}
                <input type="password" id="prependedInput2" class="span2" name="_password" required="required" placeholder="{{ passwordLabel }}" autocomplete="off" />
            </div>
            <label class="checkbox oro-remember-me">
                <input type="checkbox" id="remember_me" name="_remember_me" value="on" /> {{ 'orob2b.customer.accountuser.profile.remember_me'|trans }}
            </label>
            <div class="control-group form-row">
                <div class="pull-left">
                    <a href="{{ path('orob2b_customer_frontend_account_user_reset_request') }}">{{ 'orob2b.customer.accountuser.profile.forgot_password'|trans }}?</a><br/>
                    <a href="{{ path('orob2b_customer_frontend_account_user_register') }}">{{ 'orob2b.customer.accountuser.profile.register'|trans }}</a>
                </div>
                <div class="pull-right">
                    <button type="submit" class="btn btn-large  btn-primary" id="_submit" name="_submit">{{ 'orob2b.customer.accountuser.profile.login'|trans }}</button>
                </div>
            </div>
            {% placeholder oro_user_login_form %}
        </fieldset>
        <input type="hidden" name="_target_path" value="" />
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
    </form>
</div>
{% endblock content %}
