{% block _no_shopping_lists_widget %}
    <div class="cart-list-empty">
        <span>{{ 'oro.frontend.shoppinglist.view.not_have_available'|trans }}</span>
    </div>
{% endblock %}

{% block _shopping_list_notes_widget %}
    {% import '@OroUI/layouts/renderIcon.html.twig' as renderIcon %}

    {% set collapseId = 'collapse-'|uniqid %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': 'shopping-list-notes'
    }) %}

    <div {{ block('block_attributes') }}>
        <p class="shopping-list-notes__title">{{ 'oro.shoppinglist.notes.label'|trans }}:</p>
        <div id="{{ collapseId }}" class="shopping-list-notes__content shopping-list-notes__content--limited collapse collapse-overflow no-transition"
             data-toggle="false"
             data-trigger-icon-hide="chevron-down"
             data-trigger-icon-show="chevron-up"
             data-collapsed-text="{{ 'oro.ui.collapse.more'|trans }}"
             data-expanded-text="{{ 'oro.ui.collapse.less'|trans }}"
             data-check-overflow="true"
        >{{ block_widget(block) }}</div>
        <button class="btn btn--flat collapse-toggle"
                data-toggle="collapse"
                data-target="{{ '#' ~ collapseId }}"
                aria-expanded="false"
                aria-controls="{{ collapseId }}"
        >

            <span class="trigger-icon" data-icon>
                {{ renderIcon.icon({name: 'chevron-down'}) }}
            </span>
            <span data-text>{{ 'oro.ui.collapse.more'|trans }}</span>
        </button>
    </div>
{% endblock %}

{% block _shopping_list_notes_text_widget %}
    {{ block_widget(block)|nl2br }}
{% endblock %}
