{% block _shopping_lists_menu_widget %}
    {% set currentClass = 'shopping-list__item--current' %}
    {% set attr = layout_attr_defaults(attr, {
        'data-page-component-module': 'oroui/js/app/components/view-component',
        'data-page-component-options': {
            view: 'oroui/js/app/views/layout-subtree-view',
            blockId: id,
            reloadEvents: ['shopping-list:refresh', 'frontend:item:delete']
        },
        'data-dropdown-trigger': true,
        '~class': ' shopping-list-navigation'
    }) %}

    <div {{ block('block_attributes') }}>
        <ul class="shopping-list"
            data-page-component-module="oroshoppinglist/js/app/views/shoppinglist-widget-view">
            {% for shoppingList in shoppingLists  %}
                {% do block|merge_context({
                    shoppingList: shoppingList,
                    selectedShoppingList: selectedShoppingList,
                    currentClass: currentClass
                }) %}
                {{ block('container_widget') }}
            {% endfor %}
        </ul>
    </div>
{% endblock %}

{% block _shopping_lists_menu_item_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' shopping-list__item ' ~ (shoppingList.id == selectedShoppingList.id ? currentClass),
        'data-shopping-list-id': shoppingList.id
    }) %}
    <li {{ block('block_attributes') }}>
        <a href="{{ path('oro_shopping_list_frontend_view', {'id' : shoppingList.id}) }}"
           title="{{ shoppingList.label }}"
           class="shopping-list__link"
        >
            <div class="shopping-list__name">
                <span class="shopping-list__title text-uppercase">
                    <span class='shopping-list__item-indicator'>
                        <i class="fa-shopping-cart"></i>
                    </span>
                    <span data-shopping-list-id="{{ shoppingList.id }}"
                          data-role="shopping-list-title"
                          data-page-component-module="oroui/js/app/components/jquery-widget-component"
                          data-page-component-options="{{ {
                              widgetModule: 'orofrontend/default/js/widgets/line-clamp-widget',
                          }|json_encode }}"
                    >{{ shoppingList.label }}</span>
                </span>
                {% set itemsCount = shoppingList.lineItems.count %}
                {% if itemsCount %}
                    <div class="shopping-list__desc">
                        <b>{{ shoppingList.lineItems.count }}</b> {{ 'oro.shoppinglist.items.label'|transchoice(itemsCount) }}
                    </div>
                {% endif %}
            </div>
        </a>
    </li>
{% endblock %}
