{% extends 'OroUIBundle:actions:update.html.twig' %}
{% import 'OroDataGridBundle::macros.html.twig' as dataGrid %}

{% oro_title_set({
    params : {
        "%email%": form.vars.value.email|default('N/A'|trans),
        "%entityName%": 'orob2b.customer.accountuser.entity_label'|trans
    }
}) %}

{% set formAction = form.vars.value.id ? path('orob2b_customer_account_user_update', { 'id': form.vars.value.id }) : path('orob2b_customer_account_user_create')  %}

{% block navButtons %}
    {% if form.vars.value.id and resource_granted('DELETE', form.vars.value) %}
        {{ UI.deleteButton({
            'dataUrl': path('orob2b_api_customer_delete_account_user', {'id': form.vars.value.id}),
            'dataRedirect': path('orob2b_customer_account_user_index'),
            'aCss': 'no-hash remove-button',
            'dataId': form.vars.value.id,
            'id': 'btn-remove-account',
            'entity_label': 'orob2b.customer.accountuser.entity_label'|trans,
        }) }}
        {{ UI.buttonSeparator() }}
    {% endif %}
    {{ UI.cancelButton(path('orob2b_customer_account_user_index')) }}
    {% set html = UI.saveAndCloseButton() %}
    {% if form.vars.value.id or resource_granted('orob2b_customer_account_user_update') %}
        {% set html = html ~ UI.saveAndStayButton() %}
    {% endif %}
    {{ UI.dropdownSaveButton({'html': html}) }}
{% endblock navButtons %}

{% block pageHeader %}
    {% if form.vars.value.id %}
        {% set breadcrumbs = {
            'entity':      form.vars.value,
            'indexPath':   path('orob2b_customer_account_user_index'),
            'indexLabel': 'orob2b.customer.accountuser.entity_plural_label'|trans,
            'entityTitle': form.vars.value.email|default('N/A'|trans)
        } %}
        {{ parent() }}
    {% else %}
        {% set title = 'oro.ui.create_entity'|trans({'%entityName%': 'orob2b.customer.accountuser.entity_label'|trans}) %}
        {% include 'OroUIBundle::page_title_block.html.twig' with { title: title } %}
    {% endif %}
{% endblock pageHeader %}

{% block stats %}
    <li>{{ 'oro.ui.created_at'|trans }}: {{ entity.createdAt ? entity.createdAt|oro_format_datetime : 'N/A' }}</li>
    <li>{{ 'oro.ui.updated_at'|trans }}: {{ entity.updatedAt ? entity.updatedAt|oro_format_datetime : 'N/A' }}</li>
    <li>{{ 'orob2b.customer.accountuser.last_login.label'|trans }}: {{ entity.lastLogin ? entity.lastLogin|oro_format_datetime : 'N/A' }}</li>
    <li>{{ 'orob2b.customer.accountuser.login_count.label'|trans }}: {{ entity.loginCount|default(0) }}</li>
{% endblock stats %}

{% block content_data %}
    {% set id = 'account-user-edit' %}

    {% set formRows = [
        form_row(form.enabled),
        form_row(form.namePrefix),
        form_row(form.firstName),
        form_row(form.middleName),
        form_row(form.lastName),
        form_row(form.nameSuffix),
        form_row(form.email),
        form_row(form.birthday),
        form_widget(form.plainPassword, { 'attr': {'class': 'password'} }),
        form_row(form.customer),
    ] %}

    {% if form.passwordGenerate is defined %}
        {% set formRows = formRows|merge([
            form_row(form.passwordGenerate, { 'attr': {'class': 'password-trigger'} })
        ]) %}
        <span data-page-component-module="orob2bcustomer/js/app/components/password-generate"
              data-page-component-options="{{ {class: 'password-trigger', targetClass: 'password'}|json_encode }}"></span>
    {% endif %}

    {% if form.sendEmail is defined %}
        {% set formRows = formRows|merge([
            form_row(form.sendEmail)
        ]) %}
    {% endif %}

    {% set dataBlocks = [{
            'title': 'orob2b.customer.sections.general'|trans,
            'class': 'active',
            'subblocks': [{
                'title': '',
                'data': formRows
            }]
        }]
    %}

    {% set hasRoles = form.roles is defined %}
    {% if hasRoles %}
        {% set userRoles %}
        {% if hasRoles %}
            <div class="form-horizontal" id="roles-list">
                {{ form_row(form.roles, {attr: { class: 'horizontal' } }) }}
            </div>
        {% endif %}
        {% endset %}

        {% set title = 'orob2b.customer.accountuser.roles.label'|trans %}

        {% set dataBlocks = dataBlocks|merge( [{
            'title': title,
            'subblocks': [
                {
                    'title': '',
                    'data': [userRoles]
                }
            ]
        }] ) %}
    {% endif %}

    {% set data = {
        'formErrors': form_errors(form),
        'dataBlocks': dataBlocks
    }%}

    {{ parent() }}
{% endblock content_data %}
