{% extends 'OroUIBundle:actions:view.html.twig' %}

{% oro_title_set({params : {"%username%": entity.username }}) %}

{% block pageHeader %}
    {% set breadcrumbs = {
        'entity': entity,
        'indexPath': path('orob2b_customer_account_user_index'),
        'indexLabel': 'orob2b.customer.accountuser.entity_plural_label'|trans,
        'entityTitle': entity.username|default('N/A'|trans)
    } %}
    {{ parent() }}
{% endblock pageHeader %}

{% block breadcrumbs %}
    {{ parent() }}
    {% if entity.id != app.user.id %}
        <div class="pull-left">
            {% if entity.enabled %}
                <div class="badge badge-enabled status-enabled"><i class="icon-status-enabled icon-circle"></i>{{ 'orob2b.customer.accountuser.profile.enabled.label'|trans }}</div>
            {% else %}
                <div class="badge badge-disabled status-disabled"><i class="icon-status-disabled icon-circle"></i>{{ 'orob2b.customer.accountuser.profile.disabled.label'|trans }}</div>
            {% endif %}
            {% if entity.confirmed %}
                <div class="badge badge-enabled status-enabled"><i class="icon-status-enabled icon-circle"></i>{{ 'orob2b.customer.accountuser.profile.confirmed.label'|trans }}</div>
            {% else %}
                <div class="badge badge-disabled status-disabled"><i class="icon-status-disabled icon-circle"></i>{{ 'orob2b.customer.accountuser.profile.unconfirmed.label'|trans }}</div>
            {% endif %}
        </div>
    {% endif %}
{% endblock breadcrumbs %}

{% block navButtons %}
    {% if editRoute is defined %}
        {{ UI.editButton({
            'path': path(editRoute),
            'entity_label': 'orob2b.customer.accountuser.profile.label'|trans
        }) }}
    {% else %}
        {% if resource_granted('EDIT', entity) %}
            {{ UI.editButton({
                'path' : path('orob2b_customer_account_user_update', { 'id': entity.id }),
                'entity_label': 'orob2b.customer.accountuser.entity_label'|trans
            }) }}
            <div class="btn-group" data-page-component-module="orob2bcustomer/js/app/components/user-enable-disable-component">
            {% if entity.enabled %}
                {{ UI.button({
                    'aCss':  'no-hash',
                    'iCss':  'icon-remove',
                    'label': 'orob2b.customer.action.account_user.disable'|trans,
                    'path':  path('orob2b_customer_account_user_disable', {'id': entity.id}),
                    'title': 'orob2b.customer.action.account_user.disable'|trans
                }) }}
            {% else %}
                {{ UI.button({
                    'aCss':  'no-hash',
                    'iCss':  'icon-ok',
                    'label': 'orob2b.customer.action.account_user.enable'|trans,
                    'path':  path('orob2b_customer_account_user_enable', {'id': entity.id}),
                    'title': 'orob2b.customer.action.account_user.enable'|trans
                }) }}
            {% endif %}
            </div>
            {% if not entity.confirmed %}
            <div class="btn-group" data-page-component-module="orob2bcustomer/js/app/components/user-enable-disable-component">
                {{ UI.button({
                    'aCss':  'no-hash',
                    'iCss':  'icon-envelope-alt',
                    'label': 'orob2b.customer.action.account_user.send_confirmation'|trans,
                    'path':  path('orob2b_customer_account_user_send_confirmation', {'id': entity.id}),
                    'title': 'orob2b.customer.action.account_user.send_confirmation'|trans
                }) }}
            </div>
            {% endif %}
        {% endif %}
    {% endif %}
    {% if resource_granted('DELETE', entity) %}
        {{ UI.deleteButton({
            'dataUrl': path('orob2b_api_customer_delete_account_user', {'id': entity.id}),
            'dataRedirect': path('orob2b_customer_account_user_index'),
            'aCss': 'no-hash remove-button',
            'dataId': entity.id,
            'id': 'btn-remove-account-user',
            'entity_label': 'orob2b.customer.accountuser.entity_label'|trans
        }) }}
    {% endif %}
{% endblock navButtons %}

{% block stats %}
    <li>{{ 'oro.ui.created_at'|trans }}: {{ entity.createdAt ? entity.createdAt|oro_format_datetime : 'N/A' }}</li>
    <li>{{ 'oro.ui.updated_at'|trans }}: {{ entity.updatedAt ? entity.updatedAt|oro_format_datetime : 'N/A' }}</li>
    <li>{{ 'orob2b.customer.accountuser.last_login.label'|trans }}: {{ entity.lastLogin ? entity.lastLogin|oro_format_datetime : 'N/A' }}</li>
    <li>{{ 'orob2b.customer.accountuser.login_count.label'|trans }}: {{ entity.loginCount|default(0) }}</li>
{% endblock stats %}

{% block content_data %}
    {% set accountUserInformationWidget %}
    {{ oro_widget_render({
        'widgetType': 'block',
        'url': path('orob2b_customer_account_user_info', {id: entity.id})
    }) }}
    {% endset %}

    {% set dataBlocks = [
        {
            'title': 'orob2b.customer.sections.general'|trans,
            'class': 'active',
            'subblocks': [
                {'data' : [accountUserInformationWidget]}
            ]
        }
    ] %}

    {% set id = 'account-user-view' %}
    {% set data = {'dataBlocks': dataBlocks} %}

    {{ parent() }}
{% endblock content_data %}
