{% extends 'OroUIBundle:actions:view.html.twig' %}

{% oro_title_set({params : {"%email%": entity.email }}) %}

{% block pageHeader %}
    {% set breadcrumbs = {
        'entity': entity,
        'indexPath': path('orob2b_customer_account_user_index'),
        'indexLabel': 'orob2b.customer.accountuser.entity_plural_label'|trans,
        'entityTitle': entity.email|default('N/A'|trans)
    } %}
    {{ parent() }}
{% endblock pageHeader %}

{% block navButtons %}
    {% if resource_granted('EDIT', entity) %}
        {{ UI.editButton({
            'path' : path('orob2b_customer_account_user_update', { 'id': entity.id }),
            'entity_label': 'orob2b.customer.accountuser.entity_label'|trans
        }) }}
        {% if entity.enabled %}
            {% set idButton = entity.id ~ '-disable-account-user-btn' %}
            {{ UI.button({
                'aCss':  'no-hash',
                'iCss':  'icon-remove',
                'id':    idButton,
                'label': 'orob2b.customer.action.account_user.disable'|trans,
                'path':  path('orob2b_api_customer_disable_account_user', {'id': entity.id}),
                'title': 'orob2b.customer.action.account_user.disable'|trans
            }) }}
        {% else %}
            {% set idButton = entity.id ~ '-enable-account-user-btn' %}
            {{ UI.button({
                'aCss':  'no-hash',
                'iCss':  'icon-ok',
                'id':    idButton,
                'label': 'orob2b.customer.action.account_user.enable'|trans,
                'path':  path('orob2b_api_customer_enable_account_user', {'id': entity.id}),
                'title': 'orob2b.customer.action.account_user.enable'|trans
            }) }}
        {% endif %}
        <span data-page-component-module="orob2bcustomer/js/app/components/user-enable-disable-component"
              data-page-component-options="{{ {id: idButton}|json_encode }}"></span>
    {% endif %}
    {% if resource_granted('DELETE', entity) %}
        {{ UI.deleteButton({
            'dataUrl': path('orob2b_api_customer_delete_account_user', {'id': entity.id}),
            'dataRedirect': path('orob2b_customer_account_user_index'),
            'aCss': 'no-hash remove-button',
            'dataId': entity.id,
            'id': 'btn-remove-account-user',
            'entity_label': 'orob2b.customer.accountuser.entity_label'|trans
        }) }}
    {% endif %}
{% endblock navButtons %}

{% block content_data %}
    {% set accountUserInformationWidget %}
    {{ oro_widget_render({
        'widgetType': 'block',
        'title': 'orob2b.customer.widgets.account_user_information'|trans,
        'url': path('orob2b_customer_account_user_info', {id: entity.id})
    }) }}
    {% endset %}

    {% set generalSectionBlocks = [{'data' : [accountUserInformationWidget]}]%}

    {% set dataBlocks = [
        {
            'title': 'orob2b.customer.sections.general'|trans,
            'class': 'active',
            'subblocks': generalSectionBlocks
        }
    ] %}

    {% set id = 'account-user-view' %}
    {% set data = {'dataBlocks': dataBlocks} %}

    {{ parent() }}
{% endblock content_data %}

{% block stats %}
    {# Must be empty, because parent view uses this block to render dates, which are not implemented in this entity #}
{% endblock stats %}
