{% block _success_order_container_widget %}
    <div class="checkout__success">
        <h1 class="checkout__success__title">{{ 'orob2b.order.success.thank_you'|trans }}</h1>
        <div class="checkout__success__order">
            <p>{{ 'orob2b.order.success.order_number'|trans }} {{ order.id }} (<a href="{{ path('orob2b_order_frontend_view', {id: order.id}) }}">{{ 'orob2b.order.success.click_to_review'|trans }}</a>)</p>
            <p>{{ 'orob2b.order.success.receive_email'|trans }}</p>
        </div>
        {#<div class="checkout__success__print">#}
            {#<a href="#"><i class="icon-print"></i> <span class="underlined">Print Your Order</span></a>#}
        {#</div>#}
        <a href="{{ path('orob2b_frontend_root') }}" class="btn theme-btn_sm btn-orange checkout__success__btn">{{ 'orob2b.order.success.done'|trans }}</a>
    </div>
{% endblock %}
