{% block _header_row_widget %}
    {% set attr = layout_attr_defaults(attr, {
        'data-page-component-module': 'orocommercemenu/js/app/components/header-row',
        '~class': ' header-row'
    }) %}

    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _main_menu_extra_container_widget %}
    {% set attr =  layout_attr_defaults(attr, {
    'data-main-menu-extra-container': '',
    'data-header-row-toggle': ''
    }) %}

    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _header_row_main_menu_widget %}
    <div class="custom-icon-menu header-row__trigger hidden-on-desktop" data-toggle="dropdown">
        <span class="custom-icon-menu__bar"></span>
        <span class="custom-icon-menu__bar"></span>
        <span class="custom-icon-menu__bar"></span>
    </div>
    <div class="header-row__toggle">
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _main_menu_container_widget %}
    {% set attr =  layout_attr_defaults(attr, {
        '~class': ' main-menu-outer',
        'data-dom-relocation': '',
        'data-dom-relocation-options': {
            responsive: [
                {
                    screenType: 'tablet',
                    moveTo: '[data-main-menu-extra-container]'
                }
            ]
        }
    }) %}

    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _main_menu_list_widget %}
    {% set attr =  layout_attr_defaults(attr, {
        '~class': ' main-menu'
    }) %}

    <ul {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </ul>
{% endblock %}

{% block _main_menu_widget %}
    {% spaceless %}
        {% for child in item.children -%}
            {% if child.displayed and child.extras.isAllowed %}
            <li class="main-menu__item">
                <a href="{{ app.request.getUriForPath(child.uri) }}" class="main-menu__link">
                    {% set label = child.extras.custom is defined and child.extras.custom == true ? child.label : child.label|trans %}
                    <span class="main-menu__text">{{ label }}</span>
                </a>
            </li>
            {% endif %}
        {%- endfor %}
    {% endspaceless %}
{% endblock %}
