{% block _reset_password_page_widget %}
    {% set attr = attr|merge({
        class: attr.class|default('') ~ " {{ class_prefix }} {{ class_prefix }}--full {{ class_prefix }}--pos-absolute-vert-centered"
    }) %}
    <div{{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _reset_password_form_start_widget %}
    {% set attr = attr|merge({
        class: attr.class|default('') ~ " {{ class_prefix }}__form {{ class_prefix }}__form--forgot"
    }) %}
    {{ block('form_start_widget') }}
{% endblock %}

{% block _reset_password_form_widget %}
    {% set attr = attr|merge({
        class: attr.class|default('') ~ " {{ class_prefix }}__form-container form-container-x6"
    }) %}
    <div{{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _reset_password_form_label_widget %}
    {% set attr = attr|merge({
        class: attr.class|default('') ~ " {{ class_prefix }}__title"
    }) %}
    <h2{{ block('block_attributes') }}>{{ block_widget(block) }}</h2>
{% endblock %}

{% block _reset_password_form_submit_widget %}
    <fieldset class="{{ class_prefix }}__form__row mt1-sm">
        <div class="{{ class_prefix }}__form__col form__col_x12">
            {{ block_widget(block) }}
        </div>
    </fieldset>
{% endblock %}
