{% block _product_grid_row_price_widget %}
    {% set attr = attr|merge({
        class: attr.class|default('') ~ " product-item__price product-item__price_<%= themeOptions.view %> mb1-md mb1-sm"
    }) %}
    <div {{ block('block_attributes') }}>
        <% if (!_.isEmpty(model.prices)) { %>
            {{ 'orob2b.pricing.frontend.pricelist.index.your_price'|trans }}
            <div class="product-item__price_block">
                <% _.each(model.prices, function(price, forField) { %>
                    <div><span class="fs16 blue"><%= price.formatted_price %></span> / <%= price.formatted_unit %></div>
                <% }) %>
            </div>
        <% } %>
    </div>
{% endblock %}

{% block _product_grid_row_listed_price_widget %}
    {% set attr = attr|merge({
        class: attr.class|default('') ~ " product-item__listed-price product-item__listed-price_<%= themeOptions.view %>"
    }) %}
    <div {{ block('block_attributes') }}>
        {{ 'orob2b.pricing.frontend.pricelist.index.listed_price'|trans }} <span>$12.99</span>
    </div>
{% endblock %}

{% block _product_grid_row_msrp_widget %}
    {% set attr = attr|merge({
        class: attr.class|default('') ~ " product-item__mspr product-item__mspr_<%= themeOptions.view %>"
    }) %}
    <div {{ block('block_attributes') }}>
        {{ 'orob2b.pricing.frontend.pricelist.index.msrp'|trans }} <span>$24.99</span>
    </div>
{% endblock %}
