{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
{% if error %}
    <div>{{ error|trans }}</div>
{% endif %}

<form action="{{ path("fos_user_security_check") }}" method="POST">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

    <label for="username">{{ 'orob2b_user.security.login.email.label'|trans }}</label>
    <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" />

    <label for="password">{{ 'orob2b_user.security.login.password.label'|trans }}</label>
    <input type="password" id="password" name="_password" required="required" />

    <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
    <label for="remember_me">{{ 'orob2b_user.security.login.remember_me.label'|trans }}</label>

    <input type="submit" id="_submit" name="_submit" value="{{ 'orob2b_user.security.login.submit'|trans }}" />
</form>
{% endblock fos_user_content %}
