{% set pageComponentOptions = {
    '_wid': app.request.get('_wid'),
    'savedId': savedId|default(null)
} %}
<div class="widget-content"
     data-page-component-module="orob2bfrontend/js/app/components/widget-form-component"
     data-page-component-options="{{ pageComponentOptions|merge({message: 'orob2b.shoppinglist.line_item_save.flash.success'})|json_encode }}"
>
    {% if form.vars.errors|length > 0 %}
        <div class="alert alert-error">
            {{ form_errors(form) }}
        </div>
    {% endif %}

    <form id="{{ form.vars.id }}" name="{{ form.vars.name }}" action="{{ app.request.uri }}" {{ form_enctype(form) }}
          method="{{ form.vars.method }}" data-collect="true" class="form-dialog"
          data-page-component-module="orob2bpricing/js/app/components/product-price-product-unit-component">
        <fieldset class="form-horizontal">
            {{ form_row(form.product, { 'attr': {'class': 'price-product-product'} }) }}
            {{ form_row(form.quantity, { 'attr': {'class': 'price-product-quantity'} }) }}
            {{ form_row(form.unit, { 'attr': {'class': 'price-product-unit'} }) }}
            {{ form_row(form.notes) }}
        </fieldset>

        <div class="hidden">
            {{ form_rest(form) }}
        </div>

        <div class="widget-actions">
            <button type="reset" class="btn">{{ 'Cancel'|trans }}</button>
            <button type="submit" class="btn btn-success">{{ 'Save'|trans }}</button>
        </div>
    </form>
    {{ oro_form_js_validation(form) }}
</div>
