{% extends 'OroUIBundle:actions:update.html.twig' %}
{% form_theme form with ['OroFormBundle:Form:fields.html.twig'] %}

{% oro_title_set({params : {'%entityName%' : 'orob2b.sale.quote.entity_label'|trans, '%id%': entity.qid} }) %}

{% set formAction = entity.id ? path('orob2b_sale_quote_update', { 'id': entity.id }) : path('orob2b_sale_quote_create')  %}

{% block pageHeader %}
    {% if entity.id %}
        {% set breadcrumbs = {
            'entity':      entity,
            'indexPath':   path('orob2b_sale_quote_index'),
            'indexLabel': 'orob2b.sale.quote.entity_plural_label'|trans,
            'entityTitle': entity.qid|default('N/A'|trans)
        } %}
        {{ parent() }}
    {% else %}
        {% set title = 'oro.ui.create_entity'|trans({'%entityName%': 'orob2b.sale.quote.entity_label'|trans}) %}
        {% include 'OroUIBundle::page_title_block.html.twig' with { title: title } %}
    {% endif %}
{% endblock pageHeader %}

{% block navButtons %}
    {{ parent() }}

    {{ UI.cancelButton(path('orob2b_sale_quote_index')) }}
    {% set html = UI.saveAndCloseButton() %}
    {% if entity.id or resource_granted('orob2b_sale_quote_create') %}
        {% set html = html ~ UI.saveAndStayButton() %}
    {% endif %}
    {{ UI.dropdownSaveButton({'html': html}) }}
{% endblock navButtons %}

{% block content_data %}
    {% set id = 'quote-edit' %}

    {% set ownerSelectors %}
        <div data-page-component-module="orob2bsale/js/app/components/related-data-component"
             data-page-component-options="{{ {formName: form.vars.name}|json_encode }}">
            <div data-page-component-module="orob2baccount/js/app/components/account-selection-component">
                {{ form_row(form.account) }}
                {{ form_row(form.accountUser) }}
            </div>
        </div>
    {% endset %}

    {% set lineItems %}
        <div class="quote-lineitems"
             data-page-component-module="oroui/js/app/components/view-component"
             data-page-component-options="{{ {
                 view: 'orob2bsale/js/app/views/line-items-view',
                 tierPrices: tierPrices|default({}),
                 matchedPrices: matchedPrices|default({}),
                 tierPricesRoute: 'orob2b_pricing_price_by_account',
                 matchedPricesRoute: 'orob2b_pricing_matching_price'
             }|json_encode }}"
             data-layout="separate">
            {{ form_widget(form.quoteProducts) }}
            {{ form_errors(form.quoteProducts) }}
        </div>
    {% endset %}

    {% set generalFields %}
        <div
            data-page-component-module="oroui/js/app/components/view-component"
            data-page-component-options="{{ {
                'view': 'orob2bfrontend/js/app/views/form-view',
                 selectors: {
                     account: 'input[name$="[account]"]'
                 }
             }|json_encode }}"
        >
            {{ form_row(form.owner) }}
            {{ ownerSelectors }}
            {{ form_row(form.validUntil) }}
            {{ form_row(form.locked) }}
            {{ form_row(form.poNumber) }}
            {{ form_row(form.shipUntil) }}
            {{ form_row(form.assignedUsers) }}
            {{ form_row(form.assignedAccountUsers) }}
        </div>
    {% endset %}
    {% set dataBlocks = [
        {
            'title': 'orob2b.sale.quote.sections.general'|trans,
            'class': 'active',
            'subblocks': [{
                'title': '',
                'data-page-component-module': 'sadfas',
                'data': [generalFields]
            }]
        },
        {
            'title': 'orob2b.sale.quote.sections.quote_products'|trans,
            'subblocks': [{
                'title': '',
                'data': [
                    lineItems
                ]
            }]
        },
        {
            'title': 'orob2b.sale.quote.sections.shipping_information'|trans,
            'subblocks': [{
                'title': '',
                'data': [
                    form_row(form.shippingEstimate),
                ]
            }]
        }
    ]
    %}

    {% if isShippingAddressGranted %}
        {% set shippingAddress %}
            <div
                data-page-component-module="oroui/js/app/components/view-component"
                data-page-component-options="{{ {
                    view: 'orob2bsale/js/app/views/address-view',
                    type: 'shipping',
                    selectors: {
                        address: '#' ~ form.shippingAddress.accountAddress.vars.id,
                        subtotalsFields: [
                        '#' ~ form.shippingAddress.country.vars.id,
                        '#' ~ form.shippingAddress.street.vars.id,
                        '#' ~ form.shippingAddress.street2.vars.id,
                        '#' ~ form.shippingAddress.city.vars.id,
                        '#' ~ form.shippingAddress.region.vars.id,
                        '#' ~ form.shippingAddress.postalCode.vars.id
                        ]
                    }
                }|json_encode }}">
                {{ form_widget(form.shippingAddress) }}
            </div>
        {% endset %}
        {% set dataBlocks = dataBlocks|merge([{
            'title': 'orob2b.order.shipping_address.label'|trans,
            'subblocks': [{
                'data': [shippingAddress]
            }]
        }]) %}
    {% endif %}

    {% set additionalData = [] %}
    {% for child in form.children if child.vars.extra_field is defined and child.vars.extra_field %}
        {% set additionalData = additionalData|merge([form_row(child)]) %}
    {% endfor %}
    {% if additionalData is not empty %}
        {% set dataBlocks = dataBlocks|merge([{
            'title': 'orob2b.sale.quote.sections.additional'|trans,
            'subblocks': [{
                'title': '',
                'useSpan': false,
                'data' : additionalData
            }]
        }] ) %}
    {% endif %}

    {% set data = {
        'formErrors': form_errors(form),
        'dataBlocks': dataBlocks
    }%}

    {{ parent() }}
{% endblock content_data %}
