{% extends 'OroUIBundle:actions:view.html.twig' %}

{% oro_title_set({params : {'%id%': entity.qid }}) %}

{% block pageHeader %}
    {% set breadcrumbs = {
        'entity': entity,
        'indexPath': path('orob2b_sale_quote_index'),
        'indexLabel': 'orob2b.sale.quote.entity_plural_label'|trans,
        'entityTitle': entity.qid|default('N/A'|trans)
    } %}
    {{ parent() }}
{% endblock pageHeader %}

{% block breadcrumbs %}
    {{ parent() }}
    <div class="pull-left">
        {% if entity.locked %}
            <div class="badge badge-disabled status-disabled"><i class="icon-lock"></i>{{ 'orob2b.sale.quote.locked.label'|trans }}</div>
        {% else %}
            <div class="badge badge-enabled status-enabled"><i class="icon-unlock"></i>{{ 'orob2b.sale.quote.not_locked.label'|trans }}</div>
        {% endif %}
    </div>
{% endblock breadcrumbs %}

{% block navButtons %}
    {% if resource_granted('EDIT', entity) %}
        {{ UI.editButton({
            'path' : path('orob2b_sale_quote_update', {'id': entity.id}),
            'entity_label': 'orob2b.sale.quote.entity_label'|trans
        }) }}
    {% endif %}
    {% if resource_granted('DELETE', entity) %}
        {{ UI.deleteButton({
            'dataUrl': path('orob2b_api_sale_delete_quote', {'id': entity.id}),
            'dataRedirect': path('orob2b_sale_quote_index'),
            'aCss': 'no-hash remove-button',
            'dataId': entity.id,
            'id': 'btn-remove-account',
            'entity_label': 'orob2b.sale.quote.entity_label'|trans
        }) }}
    {% endif %}
    {% if resource_granted('oro_email_email_create') %}
        {% set customerNotificationHtml %}
            <li>
                {{ UI.clientLink({
                    'dataUrl': path('quote_notification_email', {'id': entity.id}) ,
                    'aCss': 'no-hash',
                    'iCss': 'icon-envelope',
                    'label' : 'orob2b.sale.quote.notify_customer.by_email.link.text'|trans,
                    'widget' : {
                        'type' : 'dialog',
                        'multiple' : true,
                        'reload-grid-name' : 'activity-list-grid',
                        'options' : {
                            'alias': 'notification-email-dialog',
                            'dialogOptions' : {
                                'title' : 'orob2b.sale.quote.notify_customer.by_email.link.text'|trans,
                                'allowMaximize': true,
                                'allowMinimize': true,
                                'dblclick': 'maximize',
                                'maximizedHeightDecreaseBy': 'minimize-bar',
                                'width': 1000
                            }
                        }
                    }
                }) }}
            </li>
        {% endset %}

        {{ UI.dropdownButton({
            'label': 'orob2b.sale.quote.notify_customer.label'|trans,
            'aCss': 'pull-right',
            'html': customerNotificationHtml
        }) }}
    {% endif %}
{% endblock navButtons %}

{% block content_data %}
    {% set quoteInformationWidget %}
        {{ oro_widget_render({
            'widgetType': 'block',
            'title': 'orob2b.sale.quote.widgets.quote_information'|trans,
            'url': path('orob2b_sale_quote_info', {'id': entity.id})
        }) }}
    {% endset %}
    {% set quoteProducts %}
        <div class="sale-quoteproducts-info control-group">
            <table class="sale-quoteproduct-collection-table sale-quoteproduct-collection-table-view">
                <thead>
                    <tr>
                        <th>{{ 'orob2b.sale.quoteproduct.column.product'|trans }}</th>
                        <th>{{ 'orob2b.sale.quoteproduct.column.type'|trans }}</th>
                        <th>{{ 'orob2b.sale.quoteproduct.column.quote_product_items'|trans }}</th>
                    </tr>
                </thead>
                <tbody>
                {% for quoteProduct in entity.quoteProducts %}
                    <tr>
                        <td>
                            <div>
                                {% if quoteProduct.product %}
                                    <a href="{{ path('orob2b_product_view', { id: quoteProduct.product.id }) }}">{{ quoteProduct.product|raw }}</a>
                                {% else %}
                                    {% if quoteProduct.isProductFreeForm %}
                                        {{ quoteProduct.freeFormProduct }}
                                        {% if quoteProduct.productSku %} - {{ quoteProduct.productSku|raw }}{% endif %}
                                    {% else %}
                                        {{ quoteProduct.productSku|raw }}
                                    {% endif %}
                                {% endif %}
                            </div>
                            {% if quoteProduct.isTypeNotAvailable %}
                                <div>
                                    <div>{{ 'orob2b.sale.quoteproduct.product_replacement.label'|trans }}</div>
                                    {% if quoteProduct.productReplacement %}
                                        <a href="{{ path('orob2b_product_view', { id: quoteProduct.productReplacement.id }) }}">{{ quoteProduct.productReplacement|raw }}</a>
                                    {% else %}
                                        {% if quoteProduct.isProductReplacementFreeForm %}
                                            {{ quoteProduct.freeFormProductReplacement }}
                                            {% if quoteProduct.productReplacementSku %} - {{ quoteProduct.productReplacementSku|raw }}{% endif %}
                                        {% else %}
                                            {{ quoteProduct.productReplacementSku|raw }}
                                        {% endif %}
                                    {% endif %}
                                </div>
                            {% endif %}
                        </td>
                        <td>
                            {{ quoteProduct.type|orob2b_format_sale_quote_product_type }}
                        </td>
                        <td class="sale-quoteproductitems-info">
                            {% if quoteProduct.quoteProductRequests|length and not quoteProduct.isTypeOffer %}
                                <table>
                                    <tr>
                                        <th>{{ 'orob2b.sale.quoteproductrequest.quantity.label'|trans }}</th>
                                        <th>{{ 'orob2b.sale.quoteproductrequest.price.label'|trans }}</th>
                                        <th>{{ 'orob2b.sale.quoteproductrequest.column_summary'|trans }}</th>
                                    </tr>
                                    {% for quoteProductRequest in quoteProduct.quoteProductRequests %}
                                        {% set quantity = quoteProductRequest.quantity %}
                                        {% set price = quoteProductRequest.price %}
                                        <tr>
                                            <td>{{ quantity ? quantity|orob2b_format_product_unit_value(quoteProductRequest.productUnit) : 'N/A' }}</td>
                                            <td>{{ price ? price|oro_format_price : 'N/A' }}</td>
                                            <td>{{ quoteProductRequest|orob2b_format_sale_quote_product_request }}</td>
                                        </tr>
                                    {% endfor %}
                                    {% if quoteProduct.commentAccount %}
                                        <tr>
                                            <td colspan="3">
                                                {{ UI.renderProperty('orob2b.sale.quoteproduct.comment_account.label'|trans, quoteProduct.commentAccount) }}
                                            </td>
                                        </tr>
                                    {% endif %}
                                    </table>
                            {% endif %}

                            {% if quoteProduct.quoteProductOffers|length %}
                                <table>
                                    <tr>
                                        <th>{{ 'orob2b.sale.quoteproductoffer.quantity.label'|trans }}</th>
                                        <th>{{ 'orob2b.sale.quoteproductoffer.price.label'|trans }}</th>
                                        <th>{{ 'orob2b.sale.quoteproductoffer.column_summary'|trans }}</th>
                                    </tr>

                                    {% for quoteProductOffer in quoteProduct.quoteProductOffers %}
                                        <tr>
                                            <td>{{ quoteProductOffer.quantity|orob2b_format_product_unit_value(quoteProductOffer.productUnit) }}</td>
                                            <td>{{ quoteProductOffer.price|oro_format_price }}</td>
                                            <td>{{ quoteProductOffer|orob2b_format_sale_quote_product_offer }}</td>
                                        </tr>
                                    {% endfor %}
                                    {% if quoteProduct.comment %}
                                        <tr>
                                            <td colspan="3">
                                                {{ UI.renderProperty('orob2b.sale.quoteproduct.comment.label'|trans, quoteProduct.comment) }}
                                            </td>
                                        </tr>
                                    {% endif %}
                                </table>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endset %}

    {% set id = 'quoteView' %}

    {% set generalBlock = {
        'title': 'orob2b.sale.quote.sections.general'|trans,
        'class': 'active',
        'subblocks': [{'data' : [quoteInformationWidget]}]
    } %}

    {% set lineItemsBlock = {
        'title': 'orob2b.sale.quote.sections.quote_products'|trans,
        'subblocks': [{'data' : [quoteProducts]}]
    } %}

    {% if entity.quoteProducts | length %}
        {% set data = {'dataBlocks': [generalBlock, lineItemsBlock]} %}
    {% else %}
        {% set data = {'dataBlocks': [generalBlock]} %}
    {% endif %}

    {{ parent() }}
    <script type="text/javascript">
        require(['underscore', 'orotranslation/js/translator', 'oroui/js/mediator'],
        function (_, __, mediator) {
            mediator.on('widget_success:notification-email-dialog', function () {
                mediator.execute('refreshPage');
            });
        });
    </script>
{% endblock content_data %}
