{% extends 'OroUIBundle:actions:view.html.twig' %}

{% oro_title_set({params : {'%id%': entity.qid }}) %}

{% block pageHeader %}
    {% set breadcrumbs = {
        'entity': entity,
        'indexPath': path('orob2b_sale_quote_index'),
        'indexLabel': 'orob2b.sale.quote.entity_plural_label'|trans,
        'entityTitle': 'orob2b.sale.navigation.view'|trans({
            '%id%': entity.qid|default('N/A'|trans)
        })
    } %}
    {{ parent() }}
{% endblock pageHeader %}

{% block breadcrumbs %}
    {{ parent() }}
    <div class="pull-left">
        {% if entity.locked %}
            <div class="badge badge-disabled status-disabled"><i class="icon-lock"></i>{{ 'orob2b.sale.quote.locked.label'|trans }}</div>
        {% else %}
            <div class="badge badge-enabled status-enabled"><i class="icon-unlock"></i>{{ 'orob2b.sale.quote.not_locked.label'|trans }}</div>
        {% endif %}
    </div>
{% endblock breadcrumbs %}

{% block navButtons %}
    {% if resource_granted('EDIT', entity) %}
        {{ UI.editButton({
            'path' : path('orob2b_sale_quote_update', {'id': entity.id}),
            'entity_label': 'orob2b.sale.quote.entity_label'|trans
        }) }}
    {% endif %}
    {% if resource_granted('DELETE', entity) %}
        {{ UI.deleteButton({
            'dataUrl': path('orob2b_api_sale_delete_quote', {'id': entity.id}),
            'dataRedirect': path('orob2b_sale_quote_index'),
            'aCss': 'no-hash remove-button',
            'dataId': entity.id,
            'id': 'btn-remove-account',
            'entity_label': 'orob2b.sale.quote.entity_label'|trans
        }) }}
    {% endif %}
    {% if resource_granted('oro_email_email_create') %}
        {% set customerNotificationHtml %}
            <li>
                {{ UI.clientLink({
                    'dataUrl': path('quote_notification_email', {'id': entity.id}) ,
                    'aCss': 'no-hash',
                    'iCss': 'icon-envelope',
                    'label' : 'orob2b.sale.quote.notify_customer.by_email.link.text'|trans,
                    'widget' : {
                        'type' : 'dialog',
                        'multiple' : true,
                        'reload-grid-name' : 'activity-list-grid',
                        'options' : {
                            'alias': 'notification-email-dialog',
                            'dialogOptions' : {
                                'title' : 'orob2b.sale.quote.notify_customer.by_email.link.text'|trans,
                                'allowMaximize': true,
                                'allowMinimize': true,
                                'dblclick': 'maximize',
                                'maximizedHeightDecreaseBy': 'minimize-bar',
                                'width': 1000
                            }
                        }
                    }
                }) }}
            </li>
        {% endset %}

        {{ UI.dropdownButton({
            'label': 'orob2b.sale.quote.notify_customer.label'|trans,
            'aCss': 'pull-right',
            'html': customerNotificationHtml
        }) }}
    {% endif %}
{% endblock navButtons %}

{% block content_data %}
    {% set quoteInformationWidget %}
        {{ oro_widget_render({
            'widgetType': 'block',
            'title': 'orob2b.sale.quote.widgets.quote_information'|trans,
            'url': path('orob2b_sale_quote_info', {'id': entity.id})
        }) }}
    {% endset %}

    {% set quoteProducts %}
        <div class="quote-line-items-info grid-container">
            <table class="grid table table-bordered table-condensed quote-line-items">
                <thead>
                    <tr>
                        <th><span>{{ 'orob2b.product.sku.label'|trans }}</span></th>
                        <th><span>{{ 'orob2b.sale.quoteproduct.column.product'|trans }}</span></th>
                        <th class="quote-line_item-quantity"><span>{{ 'orob2b.sale.quoteproductoffer.quantity.label'|trans }}</span></th>
                        <th class="quote-line_item-price"><span>{{ 'orob2b.sale.quoteproductoffer.price.label'|trans }}</span></th>
                        <th><span>{{ 'orob2b.sale.quoteproduct.comment_account.label'|trans }}</span></th>
                        <th><span>{{ 'orob2b.sale.quoteproduct.comment.label'|trans }}</span></th>
                    </tr>
                </thead>
                {% for quoteProduct in entity.quoteProducts %}
                    {% set numSubItems = quoteProduct.quoteProductOffers|length %}
                    {% if numSubItems > 1 %}<tbody class="hasrs">{% else %}<tbody>{% endif %}
                    {% for quoteProductOffer in quoteProduct.quoteProductOffers %}
                        <tr>
                            {% if loop.first %}
                                <td rowspan="{{ numSubItems }}">
                                    {% if quoteProduct.isTypeNotAvailable %}
                                        {{ quoteProduct.productReplacementSku }}
                                    {% else %}
                                        {{ quoteProduct.productSku }}
                                    {% endif %}
                                </td>
                                <td rowspan="{{ numSubItems }}">
                                    {% if quoteProduct.isTypeNotAvailable %}
                                        {% if quoteProduct.productReplacement %}
                                            {{ quoteProduct.productReplacement }}
                                        {% else %}
                                            {{ quoteProduct.freeFormProductReplacement }}
                                        {% endif %}
                                    {% else %}
                                        {% if quoteProduct.product %}
                                            {{ quoteProduct.product }}
                                        {% else %}
                                            {{ quoteProduct.freeFormProduct }}
                                        {% endif %}
                                    {% endif %}
                                </td>
                            {% endif %}
                            <td class="quote-line_item-quantity quote-line_item-quantity-{% if loop.first %}first{% else %}not_first{% endif %}">
                                {{ quoteProductOffer.quantity|orob2b_format_short_product_unit_value(quoteProductOffer.productUnit) }}
                                {% if quoteProductOffer.allowIncrements %}{{ 'orob2b.sale.quoteproductoffer.allow_increments.label'|trans }}{% endif %}
                            </td>
                            <td class="quote-line_item-price quote-line_item-price-{% if loop.first %}first{% else %}not_first{% endif %}">
                                {{ quoteProductOffer.price|oro_format_price }}
                            </td>
                            {% if loop.first %}
                                <td rowspan="{{ numSubItems }}">{{ quoteProduct.commentAccount }}</td>
                                <td rowspan="{{ numSubItems }}">{{ quoteProduct.comment }}</td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                    </tbody>
                {% endfor %}
            </table>
        </div>
    {% endset %}

    {% set id = 'quoteView' %}

    {% set generalBlock = {
        'title': 'orob2b.sale.quote.sections.general'|trans,
        'class': 'active',
        'subblocks': [{'data' : [quoteInformationWidget]}]
    } %}

    {% set lineItemsBlock = {
        'title': 'orob2b.sale.quote.sections.quote_products'|trans,
        'subblocks': [{'data' : [quoteProducts]}]
    } %}

    {% if entity.quoteProducts | length %}
        {% set data = {'dataBlocks': [generalBlock, lineItemsBlock]} %}
    {% else %}
        {% set data = {'dataBlocks': [generalBlock]} %}
    {% endif %}

    {{ parent() }}
    <script type="text/javascript">
        require(['underscore', 'orotranslation/js/translator', 'oroui/js/mediator'],
        function (_, __, mediator) {
            mediator.on('widget_success:notification-email-dialog', function () {
                mediator.execute('refreshPage');
            });
        });
    </script>
{% endblock content_data %}
