{% block _main_menu_container_widget %}
    {% set attr = attr|merge({
        class: attr.class|default('') ~ " top-nav hidden-sm hidden-xs"
    }) %}
    <nav {{ block('block_attributes') }}>
        <div class="container-fluid">
            <ul class="top-nav__list">
                {{ block_widget(block) }}
            </ul>
        </div>
    </nav>
{% endblock %}

{% block _main_menu_widget %}
    {% for child in item.children -%}
        <li class="top-nav__list__item">
            <a href="{{ app.request.getUriForPath(child.uri) }}" class="top-nav__list__item__link">
                <span>{{ child.label }} </span>
            </a>
        </li>
    {%- endfor %}
{% endblock %}

{% block _main_menu_widgets_widget %}
    {% set attr = attr|merge({
        class: attr.class|default('') ~ " clearfix not-implemented"
    }) %}
    <li><ul {{ block('block_attributes') }}>{{ block_widget(block) }}</ul></li>
{% endblock %}

{% block _main_menu_messages_widget_widget %}
    {% set attr = attr|merge({
        class: attr.class|default('') ~ " top-nav__list__item top-nav__list__item_gray-bg"
    }) %}
    <li {{ block('block_attributes') }}>
        <button class="messages-widget__trigger" data-oro-mpa-trigger>
            <span class="badge badge_xs badge_circle badge_blue messages-widget__badge">3</span>
            <span class="badge badge_md badge_circle badge_dark"><i class="cf-comment"></i></span>
            <span class="messages-widget__title text-uppercase">Messages</span>
            <i class="cf-down-open-mini"></i>
        </button>
    </li>
{% endblock %}

{% block _main_menu_orders_widget_widget %}
    {% set attr = attr|merge({
        class: attr.class|default('') ~ " top-nav__list__item top-nav__list__item_gray-bg"
    }) %}
    <li {{ block('block_attributes') }}>
        <div class="cart-widget__content">
            <span class="badge badge_md badge_circle badge_orange badge_i-block cart-widget__clipboard">
              <i class="cf-clipboard"></i>
            </span>
            <span class="cart-widget__list-trigger">
              <span class="cart-widget-text">Orders</span> <strong>$1,345</strong> <i class="cf-down-open-mini"></i>
            </span>
        </div>
    </li>
{% endblock %}
