{% block _main_menu_container_widget %}
    {% set attr = attr|merge({
        class: attr.class|default('') ~ " top-nav"
    }) %}
    <nav {{ block('block_attributes') }}>
        <div class="container-fluid">
            <ul class="top-nav__list">
                {{ block_widget(block) }}
            </ul>
        </div>
    </nav>
{% endblock %}

{% block _main_menu_widget %}
    {% spaceless %}
        {% for child in item.children -%}
            <li class="top-nav__item">
                <a href="{{ app.request.getUriForPath(child.uri) }}" class="top-nav__link">
                    <span>{{ child.label }}</span>
                </a>
            </li>
        {%- endfor %}
    {% endspaceless %}
{% endblock %}

{% block _main_menu_widgets_widget %}
    {% set attr = attr|merge({
        class: attr.class|default('') ~ " top-nav__list top-nav__list--nested"
    }) %}
    <li><ul {{ block('block_attributes') }}>{{ block_widget(block) }}</ul></li>
{% endblock %}

{% block _main_menu_messages_widget_widget %}
    {% set attr = attr|merge({
        class: attr.class|default('') ~ " top-nav__item top-nav__item--nested"
    }) %}
    <li {{ block('block_attributes') }}>
        <button class="messages-widget__trigger" data-oro-mpa-trigger>
            <span class="badge badge_xs badge_circle badge_blue messages-widget__badge">3</span>
            <span class="badge badge_md badge_circle badge_dark"><i class="cf-comment"></i></span>
            <span class="messages-widget__title text-uppercase">Messages</span>
            <i class="cf-down-open-mini"></i>
        </button>
    </li>
{% endblock %}
