{% block _quick_access_container_widget %}
    {% set attr = attr|merge({
        class: attr.class|default('') ~ " middlebar__right"
    }) %}
    <div {{ block('block_attributes') }}>
        <ul class="shopping-list pull-right">
            {{ block_widget(block) }}
        </ul>
    </div>
{% endblock %}

{% block _quick_access_menu_widget %}
    <ul class="default-theme navigation-widget__list navigation-widget--inline navigation-widget--right">
        <li>
            <a href="{{ path('orob2b_order_frontend_index') }}">
              <span class="badge badge_sm_xs badge_circled-corners badge_yellow navigation-widget__badge">
                <i class="cf-assignment"></i>
              </span>
                <span>Orders</span>
            </a>
        </li>
        <li>
            <a href="{{ path('orob2b_sale_quote_frontend_index') }}">
              <span class="badge badge_sm_xs badge_circled-corners badge_orange-light navigation-widget__badge">
                <i class="cf-local_offer"></i>
              </span>
                <span>Quotes</span>
            </a>
        </li>
        <li>
            <a href="{{ path('orob2b_product_frontend_quick_add') }}">
              <span class="badge badge_sm_xs badge_circled-corners badge_orange navigation-widget__badge">
                <i class="cf-flash"></i>
              </span>
                <span>Quick Order Form</span>
            </a>
        </li>
    </ul>
{% endblock %}
