{% block _top_nav_container_widget %}
    {% set attr = attr|merge({
        class: attr.class|default('') ~ " topbar"
    }) %}
    <div {{ block('block_attributes') }}>
        <div class="container-fluid">
            <div class="row">
                {{ block_widget(block) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block _top_nav_widget %}
    {% set attr = attr|merge({
        class: attr.class|default('') ~ " col-md-7 col-sm-7 text-right"
    }) %}
    <div {{ block('block_attributes') }}>
        <nav class="topbar__navigation">
            {{ block_widget(block) }}
        </nav>
    </div>
{% endblock %}

{% block _top_nav_controls_widget %}
    {% set attr = attr|merge({
        class: attr.class|default('') ~ " col-md-5 col-sm-5 text-left"
    }) %}
    <div {{ block('block_attributes') }}>
        <nav class="topbar__navigation">
            <ul>
                {{ block_widget(block) }}
            </ul>
        </nav>
        {#<div class="topbar__controls">
            <span class="currency">
              <span>$</span>
              <i class="icon-down-open-mini"></i>
            </span>
            <span class="language">
              <span>Eng</span>
              <i class="icon-down-open-mini"></i>
            </span>
        </div>#}
    </div>
{% endblock %}
