{% block _payment_methods_money_order_widget %}
    <div class="{{ class_prefix }}-form__payment-methods">
        <table>
            <tr>
                <td>{{ 'oro.money_order.pay_to'|trans }}: </td>
                <td>{{ view.options.pay_to }}</td>
            </tr>
            <tr>
                <td>{{ 'oro.money_order.send_to'|trans }}: </td>
                <td>{{ view.options.send_to|nl2br }}</td>
            </tr>
        </table>
    </div>
{% endblock %}
