{% extends 'form_div_layout.html.twig' %}

{%- block checkbox_widget -%}
    {% set class_prefix = form.vars.class_prefix|default(class_prefix|default('checkbox')) %}
    {%- if label is empty -%}
        {% set label = id|humanize %}
    {%- endif -%}

    <label for="{{ id }}" class="checkbox_custom checkbox_custom_blue {% if form.vars.checked %}checked{% endif %}" data-checkbox>
        {{- parent() -}}
        <i class="cf-check_box checkbox_checked fs18 mmr5-md"></i>
        <i class="cf-check_box_outline_blank checkbox_not-checked fs18 mmr5-md"></i>
        <span class="{{ class_prefix }}_custom__text fs13">{{ label|block_text(translation_domain) }}</span>
    </label>
    {{- form_errors(form, {'class_prefix': class_prefix}) -}}
{%- endblock checkbox_widget -%}

{% block checkbox_row %}
    {% set attr = attr|merge({
        class: attr.class|default('') ~ parentClass
    }) %}

    {{- form_widget(form, {'attr': attr}) -}}
    {{- form_errors(form) -}}
{% endblock %}

{%- block _orob2b_account_frontend_account_user_account_row -%}
    <input type="hidden" name="{{ form.vars.full_name  }}" value="{{ value}}">
{% endblock %}

{%- block choice_widget_expanded -%}
    <div {{ block('widget_container_attributes') }} class="input-widget-select">
        {%- for child in form %}
            {{- form_widget(child) -}}
        {% endfor -%}
    </div>
{%- endblock choice_widget_expanded -%}

{%- block form_label -%}
    {% set label_attr = label_attr|merge({
        class: [
            label_attr.class|default(''),
            "profile__form__label profile__form__label_additional"
            ]|join(' ')
        })
    %}

    {{ parent() }}
{%- endblock form_label -%}

{% block form_widget_simple %}
    {% set attr = attr|merge({
        class: [
            attr.class|default(''),
            'input input_md input_block profile__form__input'
        ]|join(' ')
    })
    %}
    {{ parent() }}
{% endblock %}

{%- block form_row -%}
    <div class="field {{ parentClass|default('') }}">
        {{- form_label(form) -}}
        {{- form_widget(form) -}}
        {{- form_errors(form) -}}
    </div>
{%- endblock form_row -%}

{% block widget_attributes %}
    {% if errors|length > 0 %}
        {% set attr = attr|merge({
            class: attr.class|default('') ~ ' input_error'
        }) %}
    {% endif %}
    {{ parent() }}
{% endblock widget_attributes %}

{%- block form_errors -%}
    {%- if errors|length > 0 -%}
        <div class="notification notification_xsm notification_error notification-radiused mmt5-md">
            <ul>
                {%- for error in errors -%}
                    <li><i class="cf-attention"></i><span class="mml5-md">{{ error.message }}</span></li>
                {%- endfor -%}
            </ul>
        </div>
    {%- endif -%}
{%- endblock form_errors -%}
