{% block oro_promotion_discount_options_widget %}
    <div
        data-page-component-module="{{ form.vars.attr['data-page-component-module'] }}"
        data-page-component-options="{{ form.vars.attr['data-page-component-options'] }}"
    >
        {{ form_row(form.discount_type) }}
        {{ form_row(form.amount_discount_value) }}
        {{ form_row(form.percent_discount_value) }}
        {{ form_rest(form) }}
    </div>
{% endblock %}

{% block oro_promotion_buy_x_get_y_discount_options_widget %}
    <div
            data-page-component-module="{{ form.vars.attr['data-page-component-module'] }}"
            data-page-component-options="{{ form.vars.attr['data-page-component-options'] }}"
    >
        {{ form_row(form.discount_type) }}
        {{ form_row(form.discount_product_unit_code) }}
        {{ form_row(form.buy_x) }}
        {{ form_row(form.get_y) }}
        {{ form_row(form.amount_discount_value) }}
        {{ form_row(form.percent_discount_value) }}
        {{ form_rest(form) }}
    </div>
{% endblock %}

{% block oro_promotion_line_item_discount_options_widget %}
    <div
            data-page-component-module="{{ form.vars.attr['data-page-component-module'] }}"
            data-page-component-options="{{ form.vars.attr['data-page-component-options'] }}"
    >
        {{ form_row(form.discount_type) }}
        {{ form_row(form.amount_discount_value) }}
        {{ form_row(form.percent_discount_value) }}
        {{ form_row(form.apply_to) }}
        {{ form_row(form.discount_product_unit_code) }}
        {{ form_rest(form) }}
    </div>
    {% endblock %}

{% block oro_promotion_discount_configuration_widget %}
    {% set dataPrototypes = [] %}

    {% for prototypeKey, prototypeForm in prototypes %}
        {% set dataPrototypes = dataPrototypes|merge({(prototypeKey): form_widget(prototypeForm)}) %}
    {% endfor %}

    <div
            data-page-component-module="oroui/js/app/components/view-component"
            data-page-component-options="{{ {
                view: 'oropromotion/js/app/views/discount-options-view',
                discountFormPrototypes: dataPrototypes
            }|json_encode }}"
    >
        {{ form_row(form.type, {attr: {'data-role': 'discount-form-choice'}}) }}

        <div data-role="discount-options-form">
            {{ form_widget(form.options) }}
        </div>
    </div>
{% endblock %}

{% block oro_promotion_coupon_add_row %}
    {% set addButtonId = form.coupon.vars.id ~ '-add-button' %}
    {% set addedCouponsContainerId = form.addedCoupons.vars.id ~ '-added-coupons-container' %}
    <fieldset class="form-horizontal"
            data-page-component-view="oropromotion/js/app/views/coupon-add-view"
            data-page-component-options="{{ {
                entityClass: entityClass,
                entityId: entityId,
                selectors: {
                    couponAutocompleteSelector: '#' ~ form.coupon.vars.id,
                    couponAddButtonSelector: '#' ~ addButtonId,
                    addedIdsSelector: '#' ~ form.addedCoupons.vars.id,
                    addedCouponsContainerSelector: '#' ~ addedCouponsContainerId,
                    selectCouponValidationContainerSelector: '.select-coupon-validation-container',
                    formSelector: 'form[name="oro_order_type"]'
                }
            }|json_encode }}"
    >
        <div class="select-coupon-container">
            {{ form_row(form.coupon, {attr: {class: 'coupon-select'}}) }}
            <button id="{{ addButtonId }}" class="btn btn-primary">{{ 'oro.promotion.coupon.form.add_type.add_button.label'|trans }}</button>
        </div>
        <div class="select-coupon-validation-container control-group"></div>
        <div class="added-coupons-container">
            {{ form_row(form.addedCoupons, {attr: {'data-role': 'added-coupons-field'}}) }}
            <div id="{{ addedCouponsContainerId }}"></div>
        </div>
    </fieldset>
{% endblock %}

{% block oro_promotion_coupon_dashes_sequence_widget %}
    {% apply spaceless %}
        <label class="dashes-sequence-suffix-label">{{ 'oro.promotion.coupon.generation.dashesSequence.suffix.label'|trans }}</label>
        {{ form_widget(form) }}
    {% endapply %}
{% endblock %}

{% block oro_promotion_applied_promotion_widget %}
    {% if form.vars.value %}
        <div data-role="applied-promotion-element" data-source-promotion-id="{{ form.vars.value.sourcePromotionId }}">
            {{ form_widget(form.active, {attr: {'data-role': 'applied-promotion-active'}}) }}
            {{ form_widget(form.sourcePromotionId) }}
        </div>
    {% endif %}
{% endblock %}

{% block oro_promotion_applied_coupon_collection_widget %}
    {% import '@OroUI/macros.html.twig' as UI %}
    <div class="oro-collection-table-heading">
        <h5>{{ 'oro.promotion.all_label'|trans }}</h5>
        {% if not form.vars.entity.disablePromotions %}
        {{ UI.clientLink({
            'dataUrl': path('oro_action_widget_form', {
                operationName: 'oro_promotion_add_coupon_form',
                entityClass: oro_class_name(form.vars.entity),
                entityId: {id: form.vars.entity.id}
            }),
            'aCss': 'btn',
            'dataAttributes': {
                'role': 'add'
            },
            'label': 'oro.promotion.ui.add_coupon_code.label'|trans,
            'widget': {
                'type': 'dialog',
                'multiple': false,
                'options': {
                    'alias': dialogWidgetAlias,
                    'dialogOptions': {
                        'okText': 'oro.promotion.ui.apply_button.label'|trans,
                        'width': 600,
                        'autoResize': true,
                        'title': 'oro.promotion.ui.add_coupon_codes.title'|trans,
                        'allowMaximize': true,
                        'allowMinimize': false,
                        'dblclick': false,
                        'modal': true,
                        'maximizedHeightDecreaseBy': 'minimize-bar'
                    }
                }
            }
        }) }}
        {% endif %}
    </div>

    {% if form.vars.entity.disablePromotions %}
        <div class="no-data">
            {{ 'oro.order.disable_promotions.disabled_for_oder'|trans }}
        </div>
    {% else %}
        {% import '@OroOrder/Order/macros.html.twig' as order_macros %}
        <div {{ block('widget_container_attributes') }}>
            {{ order_macros.hiddenCollection(form) }}
        </div>
    {% endif %}
{% endblock %}

{% block oro_promotion_applied_coupon_widget %}
    <div
        data-role="applied-coupon-element"
        data-source-coupon-id="{{ form.vars.value ? form.vars.value.sourceCouponId : null }}"
    >
        {{ form_widget(form.couponCode, {attr: {'data-role': 'applied-coupon-code'}}) }}
        {{ form_widget(form.sourcePromotionId, {attr: {'data-role': 'applied-coupon-source-promotion-id'}}) }}
        {{ form_widget(form.sourceCouponId, {attr: {'data-role': 'applied-coupon-source-coupon-id'}}) }}
    </div>
{% endblock %}
