{% block _product_grid_row_template_widget %}
    {% set attr = {
        'data-page-component-module': 'oroui/js/app/components/view-component',
        'data-page-component-options': {
            view: 'orob2bproduct/js/app/views/base-product-view'
        }|json_encode,
        'data-layout': 'separate'
    }|merge(attr|merge({
        class: attr.class|default('')
    })) %}
    <script id="template-grid-row" type="text/template">
        <div {{ block('block_attributes') }}>
            {{ block_widget(block) }}
        </div>
    </script>
{% endblock %}

{% block _product_grid_row_image_holder_widget %}
    {% import 'OroB2BProductBundle::image_macros.html.twig' as Image %}

    {% set attr = attr|merge({
        class: attr.class|default('') ~ " product-item__image-holder product-item__image-holder_<%= themeOptions.view %>"
    }) %}
    <div {{ block('block_attributes') }}>
        {% set noImageUrl = Image.url(null, 'product_large') %}
        <a href="<%= model.view_link %>" class="view-product" style="background-image: url('<% if (model.image) { %><%= model.image %><% } else { %>{{ noImageUrl }}<% } %>')"></a>
    </div>
{% endblock %}

{% block _product_grid_row_quick_view_widget %}
    {% set attr = attr|merge({
        class: attr.class|default('') ~ " product-item__quick-view-btn",
        'data-toggle': 'modal',
        'data-target': '#product',
    }) %}
    <div {{ block('block_attributes') }}>
        <span class="btn btn-dark btn_sm">Quick View</span>
    </div>
{% endblock %}

{% block _product_grid_row_title_widget %}
    {% set attr = attr|merge({
        class: attr.class|default('') ~ " product-item__title product-item__title_<%= themeOptions.view %>"
    }) %}
    <h3 {{ block('block_attributes') }}>
        <a href="<%= model.view_link %>" class="view-product"><%= model.name %></a>
    </h3>
{% endblock %}

{% block _product_grid_row_primary_content_container_widget %}
    {% set attr = attr|merge({
        class: attr.class|default('') ~ " product-item__primary-content product-item__primary-content_<%= themeOptions.view %>"
    }) %}
    <div {{ block('block_attributes') }}>
        <div class="product-item__primary-half product-item__primary-half_<%= themeOptions.view %>">
            {{ block_widget(block) }}
        </div>
    </div>
{% endblock %}

{% block _product_grid_row_number_widget %}
    {% set attr = attr|merge({
        class: attr.class|default('') ~ " product-item__number product-item__number_<%= themeOptions.view %>"
    }) %}
    <div {{ block('block_attributes') }}>
        Item #: <span class="red"><%= model.sku %></span>
    </div>
{% endblock %}

{% block _product_grid_row_specification_widget %}
    {% set attr = attr|merge({
        class: attr.class|default('') ~ " product__specification product__specification_<%= themeOptions.view %> mb2-md"
    }) %}
    <div {{ block('block_attributes') }}>{{ block_widget(block) }}</div>
{% endblock %}

{% block _product_grid_row_sku_container_widget %}
    {% set attr = attr|merge({
        class: attr.class|default('') ~ " mb0-md mb0-sm"
    }) %}
    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _product_grid_row_sku_widget %}
    <div>
        {{ 'orob2b.product.frontend.index.item'|trans }} <span class="red"><%= model.sku %></span>
    </div>
{% endblock %}

{% block _product_grid_row_mfg_widget %}
    <div>
        {{ 'orob2b.product.frontend.index.mfg'|trans }} <span class="red">1ABC13656</span>
    </div>
{% endblock %}

{% block _product_grid_row_short_description_widget %}
    {% set attr = attr|merge({
        class: attr.class|default('') ~ " product__description product__description_<%= themeOptions.view %>"
    }) %}
    <div {{ block('block_attributes') }}>
        <p><%= model.shortDescription %></p>
    </div>
{% endblock %}

{% block _product_grid_row_details_widget %}
    {% set attr = attr|merge({
        class: attr.class|default('') ~ " product__view-details-link product__view-details-link_<%= themeOptions.view %>"
    }) %}
    <div {{ block('block_attributes') }}>
        <a href="<%= model.view_link %>" class="view-product">
            <span class="underlined">{{ 'orob2b.product.frontend.index.view_details'|trans }}</span><i class="cf-right-open-mini"></i>
        </a>
    </div>
{% endblock %}

{% block _product_grid_row_secondary_content_container_widget %}
    {% set attr = attr|merge({
        class: attr.class|default('') ~ " product-item__secondary-content product-item__secondary-content_<%= themeOptions.view %>"
    }) %}
    <div {{ block('block_attributes') }}>{{ block_widget(block) }}</div>
{% endblock %}

{% block _product_grid_row_secondary_content_first_container_widget %}
    {% set attr = attr|merge({
        class: attr.class|default('') ~ " product-item__secondary-half product-item__secondary-half_<%= themeOptions.view %>"
    }) %}
    <div {{ block('block_attributes') }}>{{ block_widget(block) }}</div>
{% endblock %}

{% block _product_grid_row_specification_delivery_widget %}
    {% set attr = attr|merge({
        class: attr.class|default('') ~ " product__specification product__specification_delivery product__specification_<%= themeOptions.view %> not-implemented"
    }) %}
    <div {{ block('block_attributes') }}>
    </div>
{% endblock %}

{% block _product_grid_row_secondary_content_second_container_widget %}
    {% set attr = attr|merge({
        class: attr.class|default('') ~ " product-item__secondary-half product-item__secondary-half_<%= themeOptions.view %>"
    }) %}
    <div {{ block('block_attributes') }}>{{ block_widget(block) }}</div>
{% endblock %}

{% block _product_grid_row_more_info_widget %}
    {% set attr = attr|merge({
        class: attr.class|default('') ~ " oro-more-info-toggler oro-more-info-toggler_<%= themeOptions.view %>"
    }) %}
    <div {{ block('block_attributes') }}>
        <i class="cf-play"></i>
        <a href="#" data-more-info-expand>More Info</a>
        <div class="oro-more-info-toggler__container" data-more-info>
            <ul class="oro-more-info-toggler__list oro-more-info-toggler__list_<%= themeOptions.view %>">
                <li><span class="text-uppercase">Mspr:</span> $24.99</li>
                <li>Shipping Weight: .08 lbs.</li>
                <li>80 Items to a Box</li>
            </ul>
        </div>
    </div>
{% endblock %}

{% block _line_item_form_start_widget %}
    {% set attr = attr|merge({
        'id': form.vars.id ~ '-product-id-<%= model.id %>',
    }) %}
    {{ block('form_start_widget') }}
{% endblock %}

{% block _line_item_form_fields_widget %}
    {% set attr = attr|merge({
        class: attr.class|default('') ~ " product-item__qty__current-grid"
    }) %}
    <% if (!_.isEmpty(model.product_units)) { %>
    <div {{ block('block_attributes') }}
            data-page-component-module="orob2bproduct/js/app/components/product-unit-select-component"
            data-product-units='<%= JSON.stringify(model.product_units) %>'>
        {{ block_widget(block) }}
    </div>
    <% } %>
{% endblock %}

{% block _line_item_form_widget %}
    {% set attr = attr|merge({
        class: attr.class|default('') ~ " product-item__qty product-item__qty_<%= themeOptions.view %>"
    }) %}
    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _line_item_form_buttons_widget %}
    {% import 'OroUIBundle::macros.html.twig' as UI %}
    {% if block.children is not empty %}
        {% set attr = attr|merge({class: attr.class|default('') ~ " add-product-from-view-component "}) %}
        <div {{ block('block_attributes') }}>
            {{ UI.pinnedDropdownButton({
                'html': block_widget(block),
                'dataAttributes': {
                    'layout': 'separate'
                },
                'options': {
                    'widgetModule': 'orob2bproduct/js/content-processor/product-add-to-dropdown-button',
                    'widgetName': 'productAddToDropdownButtonProcessor',
                    'truncateLength': 25,
                    'groupContainer': '<div class="btn btn-block btn-dark btn_has-dropdown btn_has-dropdown_lg width-auto"></div>',
                    'appendToBody': true
                }
            }) }}
        </div>
    {% endif %}
{% endblock %}
