{% block _product_grid_widget %}
    {% set themeOptions = grid_render_parameters.themeOptions|default({}) %}
    {% set grid_render_parameters = grid_render_parameters|merge({'themeOptions': themeOptions|merge({
        'tagName': 'div',
        'headerHide': true,
        'rowTemplateSelector': '#template-grid-row',
        'rowActionSelector': '.view-product',
        'rowView': current_row_view,
        'bodyClassName': 'grid-body products__list products__list_' ~ current_row_view,
        'rowClassName': 'grid-row product-item product-item_' ~ current_row_view,
        'rowAttributes': {
            'data-layout': 'separate',
            'data-layout-model': 'productModel'
        }
    })}) %}
    {{ block('datagrid_widget') }}
{% endblock %}

{% block _grid_display_options_widget %}
    {% set attr = attr|merge({
        class: attr.class|default('') ~ " catalog__filter-controls__item catalog__filter-controls__item_display-options pull-right"
    }) %}
    <div{{ block('block_attributes') }}>
        {% set row_view_key = constant('OroB2B\\Bundle\\ProductBundle\\DataGrid\\DataGridThemeHelper::GRID_THEME_PARAM_NAME') %}
        <span class="fs14 va-m_md hidden-sm hidden-xs">Display: &nbsp;</span>
        <div class="buttons-inline-group inline">
            {% set row_view = constant('OroB2B\\Bundle\\ProductBundle\\DataGrid\\DataGridThemeHelper::VIEW_TILES') %}
            <a href="{{ path('orob2b_product_frontend_product_index', {'frontend-products-grid': {(row_view_key): row_view}}) }}"
                class="btn btn_transparent btn_bordered btn_squared {% if current_row_view == row_view %}current{% endif %}" data-catalog-view-trigger="gallery-view">
                <span class="catalog-view-option">
                    <i class="cf-apps cf--large"></i>
                </span>
            </a>
            {% set row_view = constant('OroB2B\\Bundle\\ProductBundle\\DataGrid\\DataGridThemeHelper::VIEW_GRID') %}
            <a href="{{ path('orob2b_product_frontend_product_index', {'frontend-products-grid': {(row_view_key): row_view}}) }}"
                class="btn btn_transparent btn_bordered btn_squared {% if current_row_view == row_view %}current{% endif %}"
                data-catalog-view-trigger="list-view">
                <span class="catalog-view-option">
                  <i class="cf-view_list cf--large"></i>
                </span>
            </a>
            {% set row_view = constant('OroB2B\\Bundle\\ProductBundle\\DataGrid\\DataGridThemeHelper::VIEW_LIST') %}
            <a href="{{ path('orob2b_product_frontend_product_index', {'frontend-products-grid': {(row_view_key): row_view}}) }}"
                class="btn btn_transparent btn_bordered btn_squared {% if current_row_view == row_view %}current{% endif %}" data-catalog-view-trigger="no-image-view">
                <span class="catalog-view-option">
                  <i class="cf-view_headline cf--large"></i>
                </span>
            </a>
        </div>
    </div>
{% endblock %}

{% block _datagrid_toolbar_sorting_widget %}
    {% set attr = attr|merge({
        class: attr.class|default('') ~ " sorting pull-left form-horizontal action-selectbox_custom_in-pager",
        'data-grid-sorting': ''
    }) %}
    <div class="catalog__filter-controls__item">
        <div{{ block('block_attributes') }}></div>
    </div>
{% endblock %}

{% block _datagrid_toolbar_mass_actions_widget %}
    {% set attr = attr|merge({
        class: attr.class|default('') ~ " mass-actions-panel btn-group icons-holder"
    }) %}
    <div class="catalog__filter-controls__item">
        <div{{ block('block_attributes') }}>{{ block_widget(block) }}</div>
    </div>
{% endblock %}

{% block _datagrid_toolbar_extra_actions_widget %}
    {% set attr = attr|merge({
        class: attr.class|default('') ~ " extra-actions-panel",
        'data-grid-extra-actions-panel': ''
    }) %}
    <div class="catalog__filter-controls__item">
        <div{{ block('block_attributes') }}>{{ block_widget(block) }}</div>
    </div>
{% endblock %}

{% block _datagrid_toolbar_pagination_widget %}
    {% set attr = attr|merge({
        class: attr.class|default('') ~ " oro-pagination",
        'data-grid-pagination': ''
    }) %}
    <div class="catalog__filter-controls__item">
        <div{{ block('block_attributes') }}>{{ block_widget(block) }}</div>
    </div>
{% endblock %}

{% block _datagrid_toolbar_page_size_widget %}
    {% set attr = attr|merge({
        class: attr.class|default('') ~ " page-size pull-right form-horizontal",
        'data-grid-pagesize': ''
    }) %}
    <div class="catalog__filter-controls__item">
        <div{{ block('block_attributes') }}>{{ block_widget(block) }}</div>
    </div>
{% endblock %}

{% block _datagrid_toolbar_actions_widget %}
    {% set attr = attr|merge({
        class: attr.class|default('') ~ " actions-panel pull-right form-horizontal",
        'data-grid-actions-panel': ''
    }) %}
    <div class="catalog__filter-controls__item">
        <div{{ block('block_attributes') }}>{{ block_widget(block) }}</div>
    </div>
{% endblock %}
