{% block orob2b_order_address_type_widget %}
    {% if form.parent is not empty %}
        <div {{ block('widget_container_attributes') }}>
            {{ form_row(form.accountAddress) }}
            {{ block('oro_address_rows') }}
        </div>
    {% else %}
        {{ form_row(form.accountAddress) }}
        {{ block('oro_address_rows') }}
    {% endif %}
{% endblock %}

{% macro orob2b_order_line_items_collection_item_prototype(widget) %}
    {% if 'collection' in widget.vars.block_prefixes %}
        {% set form = widget.vars.prototype %}
        {% set name = widget.vars.prototype.vars.name %}
        {% set disabled = widget.vars.disabled %}
        {% set allow_delete = widget.vars.allow_delete %}
        {% set componentOptions = widget.vars.prototype.vars.componentOptions %}
    {% else %}
        {% set form = widget %}
        {% set name = widget.vars.full_name %}
        {% set disabled = widget.parent.vars.disabled %}
        {% set allow_delete = widget.parent.vars.allow_delete %}
        {% set componentOptions = widget.vars.componentOptions %}
    {% endif %}

    <tr data-content="{{ name }}" data-validation-optional-group
            {{ block('widget_container_attributes') }}
        data-page-component-options="{{ componentOptions|json_encode }}"
        data-page-component-module="orob2border/js/app/components/order-orderproductitem-selection-component"
            >
        {{ form_widget(form, {disabled: disabled}) }}

        {% if allow_delete %}
            <td>
                <button type="button" class="removeRow btn btn-small">Remove</button>
            </td>
        {% endif %}
    </tr>
{% endmacro %}

{% block orob2b_order_line_items_collection_widget %}
    {% spaceless %}
        {% if prototype is defined %}
            {% set prototype_html = _self.orob2b_order_line_items_collection_item_prototype(form) %}
        {% endif %}
        {% set attr = attr|merge({'class': (attr.class is defined ? attr.class ~ ' ' : '') ~ 'oro-item-collection' }) %}
        {% set id = id ~ '_collection' %}
        <div class="row-oro">
            {% if allow_add %}
                <a class="btn add-list-item" href="javascript: void(0);"><i class="icon-plus"></i>{{ form.vars.add_label|default('oro.form.collection.add')|trans }}</a>
            {% endif %}

            {% set prototype_name = form.vars.prototype_name %}
            <div {{ block('widget_container_attributes') }}>
                <table>
                    <thead>
                    <tr>
                        <th>{{ 'orob2b.product.sku.label'|trans }}</th>
                        <th>{{ 'orob2b.product.entity_label'|trans }}</th>
                        <th>{{ 'orob2b.order.orderlineitem.quantity.label'|trans }}</th>
                        <th>{{ 'orob2b.order.orderlineitem.price.label'|trans }}</th>
                        <th>{{ 'orob2b.order.orderlineitem.ship_by.label'|trans }}</th>
                        <th>{{ 'orob2b.order.orderlineitem.comment.label'|trans }}</th>
                        {% if form.vars.allow_delete %}
                            <th></th>
                        {% endif %}
                    </tr>
                    </thead>
                    <tbody class="collection-fields-list" data-last-index="{{ form.children|length}}" data-prototype-name="{{ prototype_name }}"{% if prototype_html is defined %} data-prototype="{{ prototype_html|escape }}"{% endif %}>
                    {% if form.children|length %}
                        {% for child in form.children %}
                            {{ _self.orob2b_order_line_items_collection_item_prototype(child) }}
                        {% endfor %}
                    {% elseif show_form_when_empty and prototype_html is defined %}
                        {{ prototype_html|replace({(prototype_name): '0'})|raw }}
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    {% endspaceless %}
{% endblock %}

{% block orob2b_order_line_item_widget %}
    <td>
        <div class="order-line-item-sku">
            {% if form.vars.value.product is defined %}
                {{ form.vars.value.product.sku }}
            {% endif %}
        </div>

        {{ form_widget(form.productSku) }}
    </td>
    <td>
        {{ form_widget(form.product) }}
        {{ form_errors(form.product) }}

        {{ form_widget(form.freeFormProduct) }}
        {{ form_errors(form.freeFormProduct) }}
    </td>
    <td>
        {{ form_widget(form.quantity) }}
        {{ form_errors(form.quantity) }}

        {{ form_widget(form.productUnit) }}
        {{ form_errors(form.productUnit) }}
    </td>
    <td>
        {{ form_widget(form.price) }}
        {{ form_errors(form.price) }}

        {{ form_widget(form.priceType) }}
        {{ form_errors(form.priceType) }}
    </td>
    <td>
        {{ form_widget(form.shipBy) }}
        {{ form_errors(form.shipBy) }}
    </td>
    <td>
        {{ form_row(form.comment) }}
    </td>
{% endblock %}
