@name = request_create_notification
@entityName = OroB2B\Bundle\RFPAdminBundle\Entity\Request
@subject = New RFP from {{ entity.firstName }} {{ entity.lastName }}
@isSystem = 1
@isEditable = 1

<p><b>{{ entity.firstName }} {{ entity.lastName }} created new RFP.</b></p>
<div>
    <p><i>Date:</i> {{ entity.createdAt|date('F j, Y, g:i A') }}</p>
    <p><i>Company:</i> {{ entity.company }}</p>
    <p><i>Role:</i> {{ entity.role }}</p>
    <p><i>Phone:</i> {{ entity.phone }}</p>
    <p><i>Email:</i> {{ entity.email }}</p>
</div>
