{% macro renderResult(result) %}
    {{ _self.renderItems(result) }}
    {{ _self.renderTaxes(result) }}
{% endmacro %}

{% macro renderItems(result) %}
    {% if result is defined and result|length %}
        <table class="grid table-hover table table-bordered table-condensed tax-result-grid">
            <thead>
            <tr>
                <th class="renderable"></th>
                <th class="renderable">{{ 'orob2b.tax.result.includingTax'|trans }}</th>
                <th class="renderable">{{ 'orob2b.tax.result.excludingTax'|trans }}</th>
                <th class="renderable">{{ 'orob2b.tax.result.taxAmount'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for type, data in result if data.includingTax is defined %}
                <tr>
                    <td class="renderable">{{ 'orob2b.tax.result.%s'|format(type)|trans }}</td>
                    <td class="renderable">{{ data.includingTax|oro_format_currency({currency: data.currency}) }}</td>
                    <td class="renderable">{{ data.excludingTax|oro_format_currency({currency: data.currency}) }}</td>
                    <td class="renderable">{{ data.taxAmount|oro_format_currency({currency: data.currency}) }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endmacro %}

{% macro renderTaxes(result) %}
    {% if result.taxes is defined and result.taxes|length %}
        <table class="grid table-hover table table-bordered table-condensed tax-result-grid">
            <thead>
            <tr>
                <th class="renderable">{{ 'orob2b.tax.result.tax'|trans }}</th>
                <th class="renderable">{{ 'orob2b.tax.result.rate'|trans }}</th>
                <th class="renderable">{{ 'orob2b.tax.result.taxableAmount'|trans }}</th>
                <th class="renderable">{{ 'orob2b.tax.result.taxAmount'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for tax in result.taxes %}
                <tr>
                    <td class="renderable">{{ tax.tax }}</td>
                    <td class="renderable">{{ tax.rate|oro_format_percent }}</td>
                    <td class="renderable">{{ tax.taxableAmount|oro_format_currency({currency: tax.currency}) }}</td>
                    <td class="renderable">{{ tax.taxAmount|oro_format_currency({currency: tax.currency}) }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endmacro %}

{% macro renderTemplate(result) %}
    <div data-page-component-module="orob2btax/js/app/components/order-line-item-taxes-component"
         data-page-component-options="{{ {result: result|default({})}|json_encode }}">
        {% set tableClass = tableClass|default('well') %}
        <script type="text/html" id="line-item-taxes-template">
            <% var translations = {unit: '{{ 'orob2b.tax.result.unit'|trans }}', row: '{{ 'orob2b.tax.result.row'|trans }}'} %>
            <% if (!_.isEmpty(unit) || !_.isEmpty(row)) { %>
            <table class="table table-striped table-condensed {{ tableClass|default }}">
                <thead>
                <tr>
                    <th class="renderable"></th>
                    <th class="renderable">{{ 'orob2b.tax.result.includingTax'|trans }}</th>
                    <th class="renderable">{{ 'orob2b.tax.result.excludingTax'|trans }}</th>
                    <th class="renderable">{{ 'orob2b.tax.result.taxAmount'|trans }}</th>
                </tr>
                </thead>
                <tbody>
                <% _.each({unit: unit, row: row}, function(tax, key) { %>
                <tr>
                    <td class="renderable"><%= translations[key] %></td>
                    <td class="renderable"><%= tax.includingTax %></td>
                    <td class="renderable"><%= tax.excludingTax %></td>
                    <td class="renderable"><%= tax.taxAmount %></td>
                </tr>
                <% }); %>
                </tbody>
            </table>
            <% } %>

            <% if (!_.isEmpty(taxes)) { %>
            <table class="table table-striped table-condensed {{ tableClass|default }}">
                <thead>
                <tr>
                    <th class="renderable">{{ 'orob2b.tax.result.tax'|trans }}</th>
                    <th class="renderable">{{ 'orob2b.tax.result.rate'|trans }}</th>
                    <th class="renderable">{{ 'orob2b.tax.result.taxableAmount'|trans }}</th>
                    <th class="renderable">{{ 'orob2b.tax.result.taxAmount'|trans }}</th>
                </tr>
                </thead>
                <tbody>
                <% _.each(taxes, function(tax) { %>
                <tr>
                    <td class="renderable"><%= tax.tax %></td>
                    <td class="renderable"><%= tax.rate %></td>
                    <td class="renderable"><%= tax.taxableAmount %></td>
                    <td class="renderable"><%= tax.taxAmount %></td>
                </tr>
                <% }); %>
                </tbody>
            </table>
            <% } %>
        </script>
        <div data-table-container></div>
    </div>
{% endmacro %}
