{% macro renderResult(result) %}
    {{ _self.renderItems(result) }}
    {{ _self.renderTaxes(result) }}
{% endmacro %}

{% macro _renderItemsHead() %}
    <thead>
    <tr>
        <th class="renderable"></th>
        <th class="renderable">{{ 'orob2b.tax.result.short.includingTax'|trans }}</th>
        <th class="renderable">{{ 'orob2b.tax.result.short.excludingTax'|trans }}</th>
        <th class="renderable">{{ 'orob2b.tax.result.short.taxAmount'|trans }}</th>
    </tr>
    </thead>
{% endmacro %}

{% macro renderItems(result) %}
    {% if result is defined and result|length %}
        <table class="grid table table-condensed table-bordered tax-result-grid">
            {{ _self._renderItemsHead() }}
            <tbody>
            {% for type, data in result if data.includingTax is defined %}
                <tr>
                    <td class="renderable">{{ 'orob2b.tax.result.%s'|format(type)|trans }}</td>
                    <td class="renderable">{{ data.includingTax|oro_format_currency({currency: data.currency}) }}</td>
                    <td class="renderable">{{ data.excludingTax|oro_format_currency({currency: data.currency}) }}</td>
                    <td class="renderable">{{ data.taxAmount|oro_format_currency({currency: data.currency}) }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endmacro %}

{% macro _renderTaxesHead() %}
    <thead>
    <tr>
        <th class="renderable">{{ 'orob2b.tax.result.tax'|trans }}</th>
        <th class="renderable">{{ 'orob2b.tax.result.rate'|trans }}</th>
        <th class="renderable">{{ 'orob2b.tax.result.taxableAmount'|trans }}</th>
        <th class="renderable">{{ 'orob2b.tax.result.taxAmount'|trans }}</th>
    </tr>
    </thead>
{% endmacro %}

{% macro renderTaxes(result) %}
    {% if result.taxes is defined and result.taxes|length %}
        <table class="grid table table-condensed table-bordered tax-result-grid">
            {{ _self._renderTaxesHead() }}
            <tbody>
            {% for tax in result.taxes %}
                <tr>
                    <td class="renderable">{{ tax.tax }}</td>
                    <td class="renderable">{{ tax.rate|oro_format_percent }}</td>
                    <td class="renderable">{{ tax.taxableAmount|oro_format_currency({currency: tax.currency}) }}</td>
                    <td class="renderable">{{ tax.taxAmount|oro_format_currency({currency: tax.currency}) }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endmacro %}

{% macro renderJsItems() %}
    <% var translations = {
        unit: '{{ 'orob2b.tax.result.unit'|trans }}',
        row: '{{ 'orob2b.tax.result.row'|trans }}',
        total: '{{ 'orob2b.tax.result.total'|trans }}'}
    %>
    <% var unit = unit; %>
    <% var row = row; %>
    <% var total = total; %>
    <% var object = {unit: unit, row: row, total: total}; %>
    <% var data = _.pick(object, _.identity); %>
    <% if (data) { %>
    <table class="grid table table-condensed table-bordered tax-result-grid">
        {{ _self._renderItemsHead() }}
        <tbody>
        <% _.each(data, function(item, key) { %>
        <tr>
            <td class="renderable"><%= translations[key] %></td>
            <td class="renderable"><%= item.includingTax %></td>
            <td class="renderable"><%= item.excludingTax %></td>
            <td class="renderable"><%= item.taxAmount %></td>
        </tr>
        <% }); %>
        </tbody>
    </table>
    <% } %>
{% endmacro %}

{% macro renderJsTaxes() %}
    <% var taxes = taxes; %>
    <% if (!_.isEmpty(taxes)) { %>
    <table class="grid table table-condensed table-bordered tax-result-grid">
        {{ _self._renderTaxesHead() }}
        <tbody>
        <% _.each(taxes, function(tax) { %>
        <tr>
            <td class="renderable"><%= tax.tax %></td>
            <td class="renderable"><%= tax.rate %></td>
            <td class="renderable"><%= tax.taxableAmount %></td>
            <td class="renderable"><%= tax.taxAmount %></td>
        </tr>
        <% }); %>
        </tbody>
    </table>
    <% } %>
{% endmacro %}
