<div data-page-component-module="orob2btax/js/app/components/order-taxes-component">
    <script type="text/html" id="order-taxes-totals-template">
        <div class="control-group">
            <label class="control-label"><%= item.label %></label>
            <div class="controls">
                <label class="control-label" data-toggle="collapse" data-target="#order-taxes-totals-table">
                    <%= item.formattedAmount %>
                </label>
            </div>
        </div>
        <div class="collapse" id="order-taxes-totals-table">
            <div class="controls">
                <% if (!_.isEmpty(item.data.total)) { %>
                <table class="table table-striped table-condensed table-bordered table-hover">
                    <thead>
                    <tr>
                        <th class="renderable">{{ 'orob2b.tax.result.includingTax'|trans }}</th>
                        <th class="renderable">{{ 'orob2b.tax.result.excludingTax'|trans }}</th>
                        <th class="renderable">{{ 'orob2b.tax.result.taxAmount'|trans }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="renderable"><%= item.data.total.includingTax %></td>
                        <td class="renderable"><%= item.data.total.excludingTax %></td>
                        <td class="renderable"><%= item.data.total.taxAmount %></td>
                    </tr>
                    </tbody>
                </table>
                <% } %>

                <% if (!_.isEmpty(item.data.taxes)) { %>
                <table class="table table-striped table-condensed table-bordered table-hover">
                    <thead>
                    <tr>
                        <th class="renderable">{{ 'orob2b.tax.result.tax'|trans }}</th>
                        <th class="renderable">{{ 'orob2b.tax.result.rate'|trans }}</th>
                        <th class="renderable">{{ 'orob2b.tax.result.taxableAmount'|trans }}</th>
                        <th class="renderable">{{ 'orob2b.tax.result.taxAmount'|trans }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <% _.each(item.data.taxes, function(tax) { %>
                    <tr>
                        <td class="renderable"><%= tax.tax %></td>
                        <td class="renderable"><%= tax.rate %></td>
                        <td class="renderable"><%= tax.taxableAmount %></td>
                        <td class="renderable"><%= tax.taxAmount %></td>
                    </tr>
                    <% }); %>
                    </tbody>
                </table>
                <% } %>
            </div>
        </div>
    </script>
</div>
