{% extends 'OroUIBundle:actions:update.html.twig' %}
{% form_theme form with ['OroFormBundle:Form:fields.html.twig'] %}

{% oro_title_set({params : {"%identifier%": entity.identifier|default('N/A'|trans)} }) %}

{% set formAction = entity.id ? path('orob2b_order_update', { 'id': entity.id }) : path('orob2b_order_create')  %}

{% block navButtons %}
    {% if entity.id and resource_granted('DELETE', entity) %}
        {{ UI.deleteButton({
            'dataUrl': path('orob2b_api_delete_order', {'id': entity.id}),
            'dataRedirect': path('orob2b_order_index'),
            'aCss': 'no-hash remove-button',
            'dataId': entity.id,
            'id': 'btn-remove-account',
            'entity_label': 'orob2b.order.entity_label'|trans,
        }) }}
        {{ UI.buttonSeparator() }}
    {% endif %}
    {{ UI.cancelButton(path('orob2b_order_index')) }}
    {% set html = UI.saveAndCloseButton() %}
    {% if entity.id or resource_granted('orob2b_order_update') %}
        {% set html = html ~ UI.saveAndStayButton() %}
    {% endif %}
    {{ UI.dropdownSaveButton({'html': html}) }}
{% endblock navButtons %}

{% block pageHeader %}
    {% if entity.id %}
        {% set breadcrumbs = {
            'entity':      entity,
            'indexPath':   path('orob2b_order_index'),
            'indexLabel': 'orob2b.order.entity_plural_label'|trans,
            'entityTitle': entity.identifier|default('N/A'|trans)
        } %}
        {{ parent() }}
    {% else %}
        {% set title = 'oro.ui.create_entity'|trans({'%entityName%': 'orob2b.order.entity_label'|trans}) %}
        {% include 'OroUIBundle::page_title_block.html.twig' with { title: title } %}
    {% endif %}
{% endblock pageHeader %}

{% block content_data %}
    {% set id = 'order-edit' %}

    {% set dataBlocks = [
        {
            'title': 'orob2b.order.sections.general'|trans,
            'class': 'active',
            'subblocks': [{
                'title': '',
                'data': [
                    form_row(form.owner),
                    form_row(form.account),
                    form_row(form.accountUser),
                    form_row(form.priceList)
                ]
            }]
        },
        {
            'title': 'orob2b.order.sections.order_line_items'|trans,
            'subblocks': [{
                'title': '',
                'data': [
                    form_widget(form.lineItems)
                ]
            }]
        }
    ]
    %}

    {% set additionalData = [] %}
    {% for child in form.children if child.vars.extra_field is defined and child.vars.extra_field %}
        {% set additionalData = additionalData|merge([form_row(child)]) %}
    {% endfor %}

    {% set data = {
        'formErrors': form_errors(form),
        'dataBlocks': dataBlocks
    }%}

    <div class="order-order-form" data-page-component-module="orob2baccount/js/app/components/account-selection-component">
        {{ parent() }}
    </div>
{% endblock content_data %}
