{% extends 'OroUIBundle:actions:update.html.twig' %}
{% import 'OroUIBundle::macros.html.twig' as UI %}

{% oro_title_set({params : {"%identifier%": entity.identifier|default('N/A'|trans)} }) %}

{% set formAction = entity.id ? path('orob2b_order_update', { 'id': entity.id }) : path('orob2b_order_create')  %}

{% form_theme form with ['OroB2BOrderBundle:Form:fields.html.twig'] %}

{% block navButtons %}
    {% if entity.id and resource_granted('DELETE', entity) %}
        {{ UI.deleteButton({
            'dataUrl': path('orob2b_api_delete_order', {'id': entity.id}),
            'dataRedirect': path('orob2b_order_index'),
            'aCss': 'no-hash remove-button',
            'dataId': entity.id,
            'id': 'btn-remove-account',
            'entity_label': 'orob2b.order.entity_label'|trans,
        }) }}
        {{ UI.buttonSeparator() }}
    {% endif %}
    {{ UI.cancelButton(path('orob2b_order_index')) }}
    {% set html = UI.saveAndCloseButton() %}
    {% if entity.id or resource_granted('orob2b_order_update') %}
        {% set html = html ~ UI.saveAndStayButton() %}
    {% endif %}
    {{ UI.dropdownSaveButton({'html': html}) }}
{% endblock navButtons %}

{% block pageHeader %}
    {% if entity.id %}
        {% set breadcrumbs = {
            'entity':      entity,
            'indexPath':   path('orob2b_order_index'),
            'indexLabel': 'orob2b.order.entity_plural_label'|trans,
            'entityTitle': entity.identifier|default('N/A'|trans)
        } %}
        {{ parent() }}
    {% else %}
        {% set title = 'oro.ui.create_entity'|trans({'%entityName%': 'orob2b.order.entity_label'|trans}) %}
        {% include 'OroUIBundle::page_title_block.html.twig' with { title: title } %}
    {% endif %}
{% endblock pageHeader %}

{% block content_data %}
    {% set id = 'order-edit' %}

    {% set subtotals %}
        {% include 'OroB2BOrderBundle:Order:subtotals.html.twig' with {
            options: {
                url: path('orob2b_order_subtotals', {id: entity.id}),
                selectors: {form: '#' ~ form.vars.id}
            }
        } only %}
    {% endset %}

    {% set ownerSelectors %}
        <div data-page-component-module="orob2border/js/app/components/related-data-component"
             data-page-component-options="{{ {formName: form.vars.name}|json_encode }}">
            <div data-page-component-module="orob2baccount/js/app/components/account-selection-component">
                {{ form_row(form.account) }}
                {{ form_row(form.accountUser) }}
            </div>
        </div>
    {% endset %}

    {% set lineItems %}
        <div data-page-component-module="oroui/js/app/components/view-component"
             data-page-component-options="{{ {
                 view: 'orob2border/js/app/views/line-items-view',
                 tierPrices: tierPrices|default({})
             }|json_encode }}"
             data-layout="separate">
            {{ form_widget(form.lineItems) }}
        </div>
    {% endset %}

    {% set dataBlocks = [
        {
            'title': 'orob2b.order.sections.general'|trans,
            'class': 'active',
            'subblocks': [{
                'data': [
                    ownerSelectors,
                    form_row(form.priceList),
                    form_row(form.currency),
                    UI.renderProperty('orob2b.order.currency.label'|trans, entity.currency)
                ]
            }]
        },
        {
            'title': 'orob2b.order.sections.order_line_items'|trans,
            'subblocks': [{
                'title': '',
                'data': [
                    lineItems
                ]
            }]
        }
    ] %}

    {% if isBillingAddressGranted %}
        {% set billingAddress %}
            <div
                data-page-component-module="oroui/js/app/components/view-component"
                data-page-component-options="{{ {
                    view: 'orob2border/js/app/views/address-view',
                    type: 'billing',
                    selectors: {
                        address: '#' ~ form.billingAddress.accountAddress.vars.id,
                        subtotalsFields: [
                        '#' ~ form.billingAddress.country.vars.id,
                        '#' ~ form.billingAddress.street.vars.id,
                        '#' ~ form.billingAddress.street2.vars.id,
                        '#' ~ form.billingAddress.city.vars.id,
                        '#' ~ form.billingAddress.region.vars.id,
                        '#' ~ form.billingAddress.postalCode.vars.id
                        ]
                    }
                }|json_encode }}">
                {{ form_widget(form.billingAddress) }}
            </div>
        {% endset %}
        {% set dataBlocks = dataBlocks|merge([{
            'title': 'orob2b.order.billing_address.label'|trans,
            'subblocks': [{
                'data': [billingAddress]
            }]
        }]) %}
    {% endif %}

    {% if isShippingAddressGranted %}
        {% set shippingAddress %}
            <div
                data-page-component-module="oroui/js/app/components/view-component"
                data-page-component-options="{{ {
                    view: 'orob2border/js/app/views/address-view',
                    type: 'shipping',
                    selectors: {
                        address: '#' ~ form.shippingAddress.accountAddress.vars.id,
                        subtotalsFields: [
                        '#' ~ form.shippingAddress.country.vars.id,
                        '#' ~ form.shippingAddress.street.vars.id,
                        '#' ~ form.shippingAddress.street2.vars.id,
                        '#' ~ form.shippingAddress.city.vars.id,
                        '#' ~ form.shippingAddress.region.vars.id,
                        '#' ~ form.shippingAddress.postalCode.vars.id
                        ]
                    }
                }|json_encode }}">
                {{ form_widget(form.shippingAddress) }}
            </div>
        {% endset %}
        {% set dataBlocks = dataBlocks|merge([{
            'title': 'orob2b.order.shipping_address.label'|trans,
            'subblocks': [{
                'data': [shippingAddress]
            }]
        }]) %}
    {% endif %}

    {% if form.paymentTerm is defined %}
        {% set paymentTerm %}
            <div data-page-component-module="oroui/js/app/components/view-component"
                 data-page-component-options="{{ {
                     view: 'orob2border/js/app/views/payment-term-view',
                     selectionTemplate: include('OroB2BOrderBundle:PaymentTerm:Autocomplete/selection.html.twig')
                 }|json_encode }}"
                 data-layout="separate">
                {{ form_row(form.paymentTerm) }}
            </div>
        {% endset %}

        {% set dataBlocks = dataBlocks|merge([{
            'title': 'orob2b.order.form.payment.label'|trans,
            'class': 'active',
            'subblocks': [{
                'data': [paymentTerm]
            }]
        }]) %}
    {% endif %}

    {% set additionalData = [
        form_row(form.poNumber),
        form_row(form.shipUntil),
        form_row(form.customerNotes)
    ] %}

    {% for child in form.children if child.vars.extra_field is defined and child.vars.extra_field %}
        {% set additionalData = additionalData|merge([form_row(child)]) %}
    {% endfor %}
    {% if additionalData is not empty %}
        {% set dataBlocks = dataBlocks|merge([{
            'title': 'orob2b.order.sections.additional'|trans,
            'subblocks': [{
                'title': '',
                'useSpan': false,
                'data' : additionalData
            }]
        }] ) %}
    {% endif %}

    {% set dataBlocks = dataBlocks|merge([{
        'title': 'orob2b.order.sections.subtotals'|trans,
        'class': 'active',
        'subblocks': [{
            'data': [subtotals]
        }]
    }]) %}

    {% set data = {
        'formErrors': form_errors(form),
        'dataBlocks': dataBlocks
    }%}

    {{ parent() }}
{% endblock content_data %}
