{% extends 'OroUIBundle:actions:view.html.twig' %}

{% oro_title_set({params : {"%identifier%": entity.identifier }}) %}

{% block pageHeader %}
    {% set breadcrumbs = {
        'entity': entity,
        'indexPath': path('orob2b_order_index'),
        'indexLabel': 'orob2b.order.entity_plural_label'|trans,
        'entityTitle': 'orob2b.order.navigation.view'|trans({
            '%identifier%': entity.identifier|default('N/A'|trans)
        })
    } %}
    {{ parent() }}
{% endblock pageHeader %}

{% block content_data %}
    {% set orderInformationWidget %}
        {{ oro_widget_render({
            'widgetType': 'block',
            'title': 'orob2b.order.widgets.order_information'|trans,
            'url': path('orob2b_order_info', {id: entity.id})
        }) }}
    {% endset %}

    {% set generalSectionBlocks = [{'data' : [orderInformationWidget]}]%}

    {% set dataBlocks = [
        {
            'title': 'orob2b.order.sections.general'|trans,
            'class': 'active',
            'subblocks': generalSectionBlocks
        }
    ] %}

    {% if entity.lineItems|length %}
        {% set lineItems %}
            <div class="order-orderproducts-info grid-container">
                <table class="grid table-hover table table-bordered table-condensed order-orderproduct-collection-table order-orderproduct-collection-table-view order-line-items">
                    <thead>
                        <tr>
                            <th class="order-line-item-sku"><span>{{ 'orob2b.product.sku.label'|trans }}</span></th>
                            <th class="order-line-item-type"><span>{{ 'orob2b.product.entity_label'|trans }}</span></th>
                            <th class="order-line-item-quantity"><span>{{ 'orob2b.order.orderlineitem.quantity.label'|trans }}</span></th>
                            <th class="order-line-item-price"><span>{{ 'orob2b.order.orderlineitem.price.label'|trans }}</span></th>
                            <th class="order-line-item-ship_by"><span>{{ 'orob2b.order.orderlineitem.ship_by.label'|trans }}</span></th>
                            <th class="order-line-item-comment"><span>{{ 'orob2b.order.orderlineitem.comment.label'|trans }}</span></th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for lineItem in entity.lineItems %}
                        {% set isFreeFormProduct = lineItem.product is empty and lineItem.freeFormProduct is not empty %}

                        <tr>
                            <td>{{ lineItem.productSku }}</td>
                            <td>
                                {% if isFreeFormProduct %}
                                    {{ lineItem.freeFormProduct }}
                                {% else %}
                                    {{ lineItem.product }}
                                {% endif %}
                            </td>
                            <td>{{ lineItem.quantity|orob2b_format_product_unit_value(lineItem.productUnit) }}</td>
                            <td>{{ lineItem.price|oro_format_price }}</td>
                            <td>{{ lineItem.shipBy|oro_format_date|default('N/A'|trans) }}</td>
                            <td>{{ lineItem.comment|default('N/A'|trans) }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endset %}

        {% set orderTotals %}
            {% include 'OroB2BPricingBundle:Totals:totalsEntityViewPage.html.twig' with {
                totals: totals
            } only %}
        {% endset %}

        {% set shippingInformation %}
            {% if entity.shippingCost is not null %}
                {{ UI.renderHtmlProperty('orob2b.order.shipping_cost.label'|trans,
                        entity.shippingCost.value|oro_format_currency({'currency': entity.shippingCost.currency})) }}
            {% else %}
                {{ UI.renderHtmlProperty('orob2b.order.shipping_cost.label'|trans, 'N/A'|trans) }}
            {% endif %}
        {% endset %}

        {% set dataBlocks = dataBlocks|merge([{
            'title': 'orob2b.order.sections.order_line_items'|trans,
            'subblocks': [{'data' : [lineItems]}]
        }]) %}

        {% set dataBlocks = dataBlocks|merge([{
            'title': 'orob2b.order.sections.shipping_information'|trans,
            'subblocks': [{'data' : [shippingInformation]}]
        }]) %}

        {# @todo: https://magecore.atlassian.net/browse/BB-1752 #}
        {% import 'OroB2BTaxBundle::macros.html.twig' as TAX %}
        {% set dataBlocks = dataBlocks|merge([{
            'title': 'Taxes'|trans,
            'subblocks': [{'data' : [TAX.renderResult(taxes)]}]
        }]) %}

        {% set dataBlocks = dataBlocks|merge([{
            'title': 'orob2b.order.sections.order_totals'|trans,
            'subblocks': [{'data' : [orderTotals]}]
        }]) %}
    {% endif %}

    {% set id = 'order-view' %}
    {% set data = {'dataBlocks': dataBlocks} %}

    {{ parent() }}
{% endblock content_data %}
