{% extends 'OroUIBundle:actions:view.html.twig' %}

{% oro_title_set({params : {"%identifier%": entity.identifier }}) %}

{% block pageHeader %}
    {% set breadcrumbs = {
        'entity': entity,
        'indexPath': path('orob2b_order_index'),
        'indexLabel': 'orob2b.order.entity_plural_label'|trans,
        'entityTitle': entity.identifier|default('N/A'|trans)
    } %}
    {{ parent() }}
{% endblock pageHeader %}

{% block navButtons %}
    {% if resource_granted('EDIT', entity) %}
        {{ UI.editButton({
            'path' : path('orob2b_order_update', { 'id': entity.id }),
            'entity_label': 'orob2b.order.entity_label'|trans
        }) }}
    {% endif %}
    {% if resource_granted('DELETE', entity) %}
        {{ UI.deleteButton({
            'dataUrl': path('orob2b_api_delete_order', {'id': entity.id}),
            'dataRedirect': path('orob2b_order_index'),
            'aCss': 'no-hash remove-button',
            'dataId': entity.id,
            'id': 'btn-remove-account',
            'entity_label': 'orob2b.order.entity_label'|trans
        }) }}
    {% endif %}
{% endblock navButtons %}

{% block content_data %}
    {% set orderInformationWidget %}
        {{ oro_widget_render({
            'widgetType': 'block',
            'title': 'orob2b.order.widgets.order_information'|trans,
            'url': path('orob2b_order_info', {id: entity.id})
        }) }}
    {% endset %}

    {% set generalSectionBlocks = [{'data' : [orderInformationWidget]}]%}

    {% set dataBlocks = [
        {
            'title': 'orob2b.order.sections.general'|trans,
            'class': 'active',
            'subblocks': generalSectionBlocks
        }
    ] %}

    {% if entity.lineItems|length %}
        {% set lineItems %}
            <div class="order-orderproducts-info grid-container">
                <table class="grid table-hover table table-bordered table-condensed order-orderproduct-collection-table order-orderproduct-collection-table-view order-line-items">
                    <thead>
                        <tr>
                            <th class="order-line-item-sku"><span>{{ 'orob2b.product.sku.label'|trans }}</span></th>
                            <th class="order-line-item-type"><span>{{ 'orob2b.product.entity_label'|trans }}</span></th>
                            <th class="order-line-item-quantity"><span>{{ 'orob2b.order.orderlineitem.quantity.label'|trans }}</span></th>
                            <th class="order-line-item-price"><span>{{ 'orob2b.order.orderlineitem.price.label'|trans }}</span></th>
                            <th class="order-line-item-ship_by"><span>{{ 'orob2b.order.orderlineitem.ship_by.label'|trans }}</span></th>
                            <th class="order-line-item-comment"><span>{{ 'orob2b.order.orderlineitem.comment.label'|trans }}</span></th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for lineItem in entity.lineItems %}
                        {% set isFreeFormProduct = lineItem.product is empty and lineItem.freeFormProduct is not empty %}

                        <tr>
                            <td>{{ lineItem.productSku }}</td>
                            <td>
                                {% if isFreeFormProduct %}
                                    {{ lineItem.freeFormProduct }}
                                {% else %}
                                    {{ lineItem.product }}
                                {% endif %}
                            </td>
                            <td>{{ lineItem.quantity|orob2b_format_product_unit_value(lineItem.productUnit) }}</td>
                            <td>{{ lineItem.price|oro_format_price }}</td>
                            <td>{{ lineItem.shipBy|oro_format_date }}</td>
                            <td>{{ lineItem.comment }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endset %}

        {% set dataBlocks = dataBlocks|merge([{
            'title': 'orob2b.order.sections.order_line_items'|trans,
            'subblocks': [{'data' : [lineItems]}]
        }]) %}
    {% endif %}

    {% set id = 'order-view' %}
    {% set data = {'dataBlocks': dataBlocks} %}

    {{ parent() }}
{% endblock content_data %}
