{% block _registration_form_start_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' register-form'
    }) %}

    {{ block_widget(block, {attr: attr}) }}
{% endblock %}

{% block _registration_form_label_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' page-title'
    }) %}

    <h2{{ block('block_attributes') }}>{{ block_widget(block) }}</h2>
{% endblock %}

{% block _registration_form_description_widget %}
    <p{{ block('block_attributes') }}>{{ block_widget(block) }}</p>
{% endblock %}

{% block _registration_form_submit_wrap_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' form-row'
    }) %}

    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _registration_form_submit_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' button'
    }) %}

    {{ block_widget(block, {attr: attr}) }}
{% endblock %}

{% block _registration_back_btn_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' link'
    }) %}

    {{ block_widget(block, {attr: attr}) }}
{% endblock %}
