{% block __oro_product_list_item__product_price_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': " product-item__price_mobile product-item__price_mobile_{{ class_prefix }}"
    }) %}
    <div {{ block('block_attributes') }}>
        {% if productPrices %}
            {{ 'orob2b.pricing.frontend.pricelist.index.your_price'|trans }}
            <div class="product-item__price_block">
                {% for price in productPrices %}
                    <div>
                        <span class="fs16 blue">{{ price.price|oro_format_price }}</span> /
                        {{ price.unit.code|orob2b_format_product_unit_label }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endblock %}
