{% import 'OroUIBundle::macros.html.twig' as UI %}
{% import 'OroEmailBundle::actions.html.twig' as EmailActions %}

<div class="widget-content">
    <div class="row-fluid form-horizontal">
        <div class="responsive-block">
            {{ UI.renderProperty('orob2b.customer.name.label'|trans, entity.name) }}
            {% if entity.group %}
                {% if is_granted('VIEW', entity.group) %}
                    {% set groupData %}
                    <a href="{{ path('orob2b_customer_group_view', {id: entity.group.id}) }}">
                        {{ entity.group.name }}
                    </a>
                    {% endset %}
                    {{ UI.renderHtmlProperty('orob2b.customer.group.label'|trans, groupData) }}
                {% else %}
                    {{ UI.renderProperty('orob2b.customer.group.label'|trans, entity.group.name) }}
                {% endif %}
            {% endif %}
            {% if entity.parent %}
                {% if is_granted('VIEW', entity.parent) %}
                    {% set parentData %}
                        <a href="{{ path('orob2b_customer_view', {id: entity.parent.id}) }}">
                            {{ entity.parent.name }}
                        </a>
                    {% endset %}
                    {{ UI.renderHtmlProperty('orob2b.customer.parent.label'|trans, parentData) }}
                {% else %}
                    {{ UI.renderProperty('orob2b.customer.parent.label'|trans, entity.parent.name) }}
                {% endif %}
            {% endif %}
            {% if entity.children.count() %}
                {% set customerTree %}
                    <div class="b2b-tree">
                        <div data-page-component-module="orob2bcustomer/js/app/components/customer-tree-component"
                             data-page-component-options="{{ {'data' : treeData}|json_encode }}"></div>
                    </div>
                {% endset %}
                {{ UI.renderHtmlProperty('orob2b.customer.children.label'|trans, customerTree) }}
            {% endif %}
        </div>
    </div>
</div>
