{% import 'OroUIBundle::macros.html.twig' as UI %}
{% import 'OroEmailBundle::actions.html.twig' as EmailActions %}

<div class="widget-content">
    <div class="row-fluid form-horizontal">
        <div class="responsive-block">
            {{ UI.renderProperty('orob2b.customer.name.label'|trans, entity.name) }}

            {% if entity.group %}
                {% if is_granted('VIEW', entity.group) %}
                    {% set groupData %}
                    <a href="{{ path('orob2b_customer_group_view', {id: entity.group.id}) }}">
                        {{ entity.group.name }}
                    </a>
                    {% endset %}
                    {{ UI.renderHtmlProperty('orob2b.customer.group.label'|trans, groupData) }}
                {% else %}
                    {{ UI.renderProperty('orob2b.customer.group.label'|trans, entity.group.name) }}
                {% endif %}
            {% endif %}

            {% if entity.parent %}
                {% if is_granted('VIEW', entity.parent) %}
                    {% set parentData %}
                        <a href="{{ path('orob2b_customer_view', {id: entity.parent.id}) }}">
                            {{ entity.parent.name }}
                        </a>
                    {% endset %}
                    {{ UI.renderHtmlProperty('orob2b.customer.parent.label'|trans, parentData) }}
                {% else %}
                    {{ UI.renderProperty('orob2b.customer.parent.label'|trans, entity.parent.name) }}
                {% endif %}
            {% endif %}

            {% if entity.users.count() %}
                {% set users = [] %}
                {% for user in entity.users %}
                    {% set username = user.firstName ~ ' ' ~ user.lastName %}
                    {% if resource_granted('VIEW', user) %}
                        {% set userView = UI.renderUrl(path('orob2b_customer_account_user_view', {'id': user.id}), username) %}
                    {% else %}
                        {% set userView = username|escape %}
                    {% endif %}
                    {% set users = users|merge([userView]) %}
                {% endfor %}
                {{ UI.renderHtmlProperty('orob2b.customer.users.label'|trans, UI.renderList(users)) }}
            {% endif %}

            {% if entity.children.count() %}
                {% set customerTree %}
                    <div class="b2b-tree">
                        <div data-page-component-module="orob2bcustomer/js/app/components/customer-tree-component"
                             data-page-component-options="{{ {'data' : treeData}|json_encode }}"></div>
                    </div>
                {% endset %}
                {{ UI.renderHtmlProperty('orob2b.customer.children.label'|trans, customerTree) }}
            {% endif %}

            {% if entity.getInternalRating and is_granted('VIEW', entity.getInternalRating)%}
                {{ UI.renderProperty('orob2b.customer.internal_rating.label'|trans, entity.getInternalRating.name) }}
            {% endif %}
            {% if entity.paymentTerm and is_granted('VIEW', entity.paymentTerm)%}
                {{ UI.renderProperty('orob2b.customer.payment_term.label'|trans, entity.paymentTerm.label) }}
            {% elseif entity.group and is_granted('VIEW', entity.group) %}
                {% if entity.group.paymentTerm and is_granted('VIEW', entity.group.paymentTerm) %}
                    {% set paymentTermData = 'orob2b.customer.payment_term_defined_in_group'|trans({'%payment_term%': entity.group.paymentTerm.label})%}
                {% else %}
                    {% set paymentTermData = 'orob2b.customer.payment_term_non_defined_in_group'|trans %}
                {% endif %}
                {{ UI.renderHtmlProperty('orob2b.customer.payment_term.label'|trans, paymentTermData) }}
            {% endif %}
        </div>
    </div>
</div>
