{% extends 'OroFrontendBundle:actions:view.html.twig' %}
{% import 'OroUIBundle::macros.html.twig' as UI %}

{% oro_title_set({params : {'%id%': entity.qid }}) %}

{% block pageHeader %}
    {% set breadcrumbs = {
        'entity': entity,
        'indexPath': path('orob2b_sale_quote_frontend_index'),
        'indexLabel': 'oro.frontend.sale.quote.entity_plural_label'|trans,
        'entityTitle': 'oro.sale.navigation.view'|trans({
            '%id%': entity.qid|default('N/A'|trans)
        })
    } %}
    {{ parent() }}
{% endblock pageHeader %}

{% block navButtons %}{% endblock navButtons %}

{% block content_data %}
    {% set quoteInformationWidget %}
        {{ oro_widget_render({
            'widgetType': 'block',
            'title': 'oro.frontend.sale.quote.widgets.quote_information'|trans,
            'url': path('orob2b_sale_quote_frontend_info', {'id': entity.id})
        }) }}
    {% endset %}

    {% set quoteProducts %}
        <div class="quote-line-items-info grid-container">
            <table class="grid table table-bordered table-condensed quote-line-items">
                <thead>
                    <tr>
                        <th><span>{{ 'oro.product.sku.label'|trans }}</span></th>
                        <th><span>{{ 'oro.frontend.sale.quoteproduct.column.product'|trans }}</span></th>
                        <th class="quote-line_item-quantity"><span>{{ 'oro.frontend.sale.quoteproductoffer.quantity.label'|trans }}</span></th>
                        <th class="quote-line_item-price"><span>{{ 'oro.frontend.sale.quoteproductoffer.unit_price.label'|trans }}</span></th>
                        <th><span>{{ 'oro.frontend.sale.quoteproduct.comment_account.label'|trans }}</span></th>
                        <th><span>{{ 'oro.frontend.sale.quoteproduct.comment.label'|trans }}</span></th>
                    </tr>
                </thead>
                {% for quoteProduct in entity.quoteProducts %}
                    {% set numSubItems = quoteProduct.quoteProductOffers|length %}
                    {% if numSubItems > 1 %}<tbody class="hasrs">{% else %}<tbody>{% endif %}
                        {% for quoteProductOffer in quoteProduct.quoteProductOffers %}
                            <tr>
                                {% if loop.first %}
                                    <td rowspan="{{ numSubItems }}">
                                        {% if quoteProduct.isTypeNotAvailable %}
                                            {{ quoteProduct.productReplacementSku }}
                                        {% else %}
                                            {{ quoteProduct.productSku }}
                                        {% endif %}
                                    </td>
                                    <td rowspan="{{ numSubItems }}">{{ quoteProduct.productName }}</td>
                                {% endif %}
                                <td class="quote-line_item-quantity quote-line_item-quantity-{% if loop.first %}first{% else %}not_first{% endif %}">
                                    {{ quoteProductOffer.quantity|orob2b_format_short_product_unit_value(quoteProductOffer.productUnit) }}
                                    {% if quoteProductOffer.allowIncrements %}{{ 'oro.frontend.sale.quoteproductoffer.allow_increments.label'|trans }}{% endif %}
                                </td>
                                <td class="quote-line_item-price quote-line_item-price-{% if loop.first %}first{% else %}not_first{% endif %}">
                                    {{ quoteProductOffer.price|oro_format_price }}
                                </td>
                                {% if loop.first %}
                                    <td rowspan="{{ numSubItems }}">{{ quoteProduct.commentAccount }}</td>
                                    <td rowspan="{{ numSubItems }}">{{ quoteProduct.comment }}</td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </tbody>
                {% endfor %}
            </table>
        </div>
    {% endset %}

    {% set shippingInformation %}
        {% if entity.shippingEstimate is not null %}
            {{ UI.renderHtmlProperty('oro.sale.quote.shipping_estimate.label'|trans,
            entity.shippingEstimate.value|oro_format_currency({'currency': entity.shippingEstimate.currency})) }}
        {% else %}
            {{ UI.renderHtmlProperty('oro.sale.quote.shipping_estimate.label'|trans, 'N/A'|trans) }}
        {% endif %}
    {% endset %}

    {% set id = 'frontend-quote-view' %}

    {% set dataBlocks = [{
        'title': 'oro.order.sections.general'|trans,
        'class': 'active',
        'subblocks': [{'data' : [quoteInformationWidget]}]
    }] %}

    {% if entity.quoteProducts | length %}
        {% set dataBlocks = dataBlocks|merge([{
        'title': 'oro.sale.quote.sections.quote_products'|trans,
        'subblocks': [{'data' : [quoteProducts]}]
        }]) %}
    {% endif %}

    {% set dataBlocks = dataBlocks|merge([{
        'title': 'oro.sale.quote.sections.shipping_information'|trans,
        'subblocks': [{'data' : [shippingInformation]}]
    }]) %}

    {% set data = {'dataBlocks': dataBlocks} %}
    {{ UI.scrollData(id, data) }}
{% endblock content_data %}
