{% import 'OroUIBundle::macros.html.twig' as UI %}
{% import 'OroEmailBundle::actions.html.twig' as EmailActions %}

<div class="widget-content">
    <div class="row-fluid form-horizontal">
        <div class="responsive-block">
            {{ UI.renderProperty('orob2b.useradmin.user.first_name.label'|trans, entity.firstName) }}
            {{ UI.renderProperty('orob2b.useradmin.user.last_name.label'|trans, entity.lastName) }}
            {{ UI.renderProperty('orob2b.useradmin.user.email.label'|trans, entity.email) }}
            {{ UI.renderProperty('orob2b.useradmin.user.enabled.label'|trans, entity.enabled ? 'Yes' : 'No') }}

            {% if entity.customer %}
                {% if resource_granted('VIEW', entity.customer) %}
                    {% set customerView = UI.renderUrl(path('orob2b_customer_view', {'id': entity.customer.id}), entity.customer.name) %}
                {% else %}
                    {% set customerView = entity.customer.name|escape %}
                {% endif %}
                {{ UI.renderHtmlProperty('orob2b.useradmin.user.customer.label'|trans, customerView) }}
            {% endif %}

            {% if entity.groups.count() %}
                {% set groups = [] %}
                {% for entityGroup in entity.groups %}
                    {% set groups = groups|merge([entityGroup.name]) %}
                {% endfor %}
                {{ UI.renderHtmlProperty('orob2b.useradmin.user.groups.label'|trans, groups|join('<br />')) }}
            {% endif %}
        </div>
    </div>
</div>
