{% import 'OroUIBundle::macros.html.twig' as UI %}
{% import 'OroEmailBundle::actions.html.twig' as EmailActions %}

<div class="widget-content">
    <div class="row-fluid form-horizontal">
        <div class="responsive-block">
            {{ UI.renderProperty('orob2b.useradmin.user.first_name.label'|trans, entity.firstName) }}
            {{ UI.renderProperty('orob2b.useradmin.user.last_name.label'|trans, entity.lastName) }}
            {{ UI.renderProperty('orob2b.useradmin.user.email.label'|trans, entity.email) }}
            {{ UI.renderProperty('orob2b.useradmin.user.enabled.label'|trans, entity.enabled ? 'Yes' : 'No') }}
            {% set groups = [] %}
            {% for entityGroup in entity.groups %}
                {% set groups = groups|merge([entityGroup.name]) %}
            {% endfor %}
            {{ UI.renderHtmlProperty('orob2b.useradmin.user.groups.label'|trans, groups|join('<br />')) }}
        </div>
    </div>
</div>
