{% extends 'OroB2BAccountBundle:layouts:default/orob2b_account_account_user_security_login/layout.html.twig' %}

{% block _login_page_widget %}
    {% if loginPage and loginPage.backgroundImage %}
        {% set attr = attr|merge({
            style: attr.style|default('') ~ "background-image: url('" ~ file_url(loginPage, 'backgroundImage', loginPage.backgroundImage) ~ "');"
        }) %}
    {% endif %}
    {{ parent() }}
{% endblock %}

{% block _login_page_logo_widget %}
    <div{{ block('block_attributes') }}>
        <img src="{{ filtered_image_url(logo, 'login_page_logo') }}">
    </div>
{% endblock %}

{% block _login_page_top_widget %}
    <div{{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _login_page_bottom_widget %}
    <div{{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}
