{% macro address_form(address_form, save_address_checkbox, hasCustomAddress) %}
    <div id="checkout-address-fields-container" class="{% if not hasCustomAddress %}hidden{% endif %}">
        <fieldset class="checkout__form__row">
            {{ form_row(address_form.label, {'attr': {'placeholder': 'orob2b.checkout.workflow.b2b_flow_checkout.form.placeholder.address.label'|trans}, 'parentClass': 'form__col_x12'}) }}
        </fieldset>

        <fieldset class="checkout__form__row">
            {{ form_row(address_form.namePrefix, {'attr': {'placeholder': 'orob2b.checkout.workflow.b2b_flow_checkout.form.placeholder.name.prefix'|trans}, 'parentClass': 'form__col_x8'}) }}
        </fieldset>

        <fieldset class="checkout__form__row">
            {{ form_row(address_form.firstName, {'attr': {'placeholder': 'orob2b.checkout.workflow.b2b_flow_checkout.form.placeholder.name.first_name'|trans}}) }}
            {{ form_row(address_form.middleName, {'attr': {'placeholder': 'orob2b.checkout.workflow.b2b_flow_checkout.form.placeholder.name.middle_name'|trans}}) }}
        </fieldset>
        <fieldset class="checkout__form__row">
            {{ form_row(address_form.lastName, {'attr': {'placeholder': 'orob2b.checkout.workflow.b2b_flow_checkout.form.placeholder.name.last_name'|trans}}) }}
            {{ form_row(address_form.nameSuffix, {'attr': {'placeholder': 'orob2b.checkout.workflow.b2b_flow_checkout.form.placeholder.name.sufix'|trans}}) }}
        </fieldset>

        <fieldset class="checkout__form__row">
            {{ form_row(address_form.organization, {'attr': {'placeholder': 'orob2b.checkout.workflow.b2b_flow_checkout.form.placeholder.address.organization'|trans}, 'parentClass': 'form__col_x12'}) }}
        </fieldset>

        <fieldset class="checkout__form__row">
            {{ form_row(address_form.phone, {'attr': {'placeholder': 'orob2b.checkout.workflow.b2b_flow_checkout.form.placeholder.address.phone'|trans}, 'parentClass': 'form__col_x6'}) }}
        </fieldset>

        <fieldset class="checkout__form__row">
            {{ form_row(address_form.street, {'attr': {'placeholder': 'orob2b.checkout.workflow.b2b_flow_checkout.form.placeholder.address.street'|trans}}) }}
            {{ form_row(address_form.street2, {'attr': {'placeholder': 'orob2b.checkout.workflow.b2b_flow_checkout.form.placeholder.address.street2'|trans}}) }}
        </fieldset>
        <fieldset class="checkout__form__row">
            {{ form_row(address_form.city, {'attr': {'placeholder': 'orob2b.checkout.workflow.b2b_flow_checkout.form.placeholder.address.city'|trans}, 'parentClass': 'form__col_x12'}) }}
        </fieldset>
        <fieldset class="checkout__form__row">
            {{ form_row(address_form.country, {'parentClass': 'col-country'}) }}
            {{ form_row(address_form.region, {'parentClass': ' '}) }}
        </fieldset>

        <fieldset class="checkout__form__row">
            <div class="checkout__form__col col-zip">
                {{- form_label(address_form.postalCode) -}}
                {{- form_widget(address_form.postalCode, {'attr' : {'class': 'checkout__form__input', 'placeholder': 'orob2b.checkout.workflow.b2b_flow_checkout.form.placeholder.address.zip'|trans}}) -}}
            </div>
            <div class="checkout__form__col form__col_x8 col-zip-error">
                {{- form_errors(address_form.postalCode) -}}
            </div>
        </fieldset>
        <fieldset class="checkout__form__row">
            {{ form_row(save_address_checkbox) }}
        </fieldset>

        <fieldset class="hidden">
            {{ form_widget(address_form.id) }}
            {{ form_widget(address_form.region_text) }}
        </fieldset>
    </div>
{% endmacro %}
