{% block _checkout_billing_information_widget -%}
    <div class="checkout__head">
        <h2 class="checkout__title">
            <span class="badge badge_md badge_circle badge_orange">1</span>
            Billing Information
        </h2>
    </div>
    {{ block_widget(block) }}
{%- endblock %}

{% block _checkout_billing_form_widget -%}
    <div class="checkout__body">
        {{ block_widget(block) }}
    </div>
{%- endblock %}

{% block _checkout_billing_form_fields_widget -%}
    <div data-page-component-module="oroui/js/app/components/view-component"
         data-page-component-options="{{ {
             view: 'orob2bcheckout/js/app/views/address-view',
             selectors: {
                 address: '#' ~ form.address.accountAddress.vars.id,
                 fieldsContainer: '#checkout-address-fields-container'
             }
         }|json_encode }}">
        {{ form_row(form.address.accountAddress) }}
        <div id="checkout-address-fields-container" class="{% if not form.address.id.vars.value %}hidden{% endif %}">
            {{ form_row(form.address.label) }}

            <fieldset class="checkout__form__row">
                {{ form_row(form.address.namePrefix) }}
                {{ form_row(form.address.middleName) }}
                {{ form_row(form.address.firstName) }}
                {{ form_row(form.address.lastName) }}
                {{ form_row(form.address.nameSuffix) }}
            </fieldset>

            {{ form_row(form.address.organization) }}

            <fieldset class="checkout__form__row">
                <div class="checkout__form__col form__col_x12">
                    {{ form_row(form.address.street) }}
                    {{ form_row(form.address.street2) }}
                </div>
            </fieldset>

            {{ form_row(form.address.city) }}

            <fieldset class="checkout__form__row">
                {{ form_row(form.address.country) }}
                {{ form_row(form.address.region) }}
            </fieldset>

            {{ form_row(form.address.postalCode) }}
            {{ form_row(form.saveAddress) }}
            {{ form_row(form.useAsShipAddress) }}

            {{ form_widget(form.address.id) }}
            {{ form_widget(form.address.region_text, {'attr': {'class': 'hidden'}}) }}
        </div>
    </div>
{%- endblock %}
