{% block _checkout_form_fields_widget -%}
    <div data-page-component-module="oroui/js/app/components/view-component"
         data-page-component-options="{{ {
             view: 'orob2bcheckout/js/app/views/address-view',
             selectors: {
                 address: '#' ~ form.billing_address.accountAddress.vars.id,
                 region: '#' ~ form.billing_address.region.vars.id,
                 shipToBillingCheckbox: '#' ~ form.ship_to_billing_address.vars.id,
                 fieldsContainer: '#checkout-address-fields-container'
             }
         }|json_encode }}">
        {{ form_row(form.billing_address.accountAddress) }}
        {% set hasCustomAddress = false %}
        {% if form.billing_address.id.vars.value %}
            {% set hasCustomAddress = not form.billing_address.vars.value.accountUserAddress and not form.billing_address.vars.value.accountAddress %}
        {% endif %}
        <div id="checkout-address-fields-container" class="{% if not hasCustomAddress %}hidden{% endif %}">
            <fieldset class="checkout__form__row">
                {{ form_row(form.billing_address.label, {'attr': {'placeholder': 'orob2b.checkout.workflow.b2b_flow_checkout.form.placeholder.address.label'|trans}, 'parentClass': 'form__col_x12', 'class': 'input input_block input_md'}) }}
            </fieldset>

            <fieldset class="checkout__form__row">
                <div class="checkout__form__col form__col_x8">
                    {{- form_label(form.billing_address.namePrefix, form.billing_address.namePrefix.vars.label, {'label_attr': {'class': 'checkout__form__label checkout__form__label_additional'}}) -}}
                    {{- form_widget(form.billing_address.namePrefix, {'attr': {'placeholder': 'orob2b.checkout.workflow.b2b_flow_checkout.form.placeholder.name.prefix'|trans}}) -}}
                    {{- form_errors(form.billing_address.namePrefix) -}}
                </div>
            </fieldset>

            <fieldset class="checkout__form__row">
                {{ form_row(form.billing_address.firstName, {'attr': {'placeholder': 'orob2b.checkout.workflow.b2b_flow_checkout.form.placeholder.name.first_name'|trans}}) }}
                {{ form_row(form.billing_address.middleName, {'attr': {'placeholder': 'orob2b.checkout.workflow.b2b_flow_checkout.form.placeholder.name.middle_name'|trans}}) }}
            </fieldset>
            <fieldset class="checkout__form__row">
                {{ form_row(form.billing_address.lastName, {'attr': {'placeholder': 'orob2b.checkout.workflow.b2b_flow_checkout.form.placeholder.name.last_name'|trans}}) }}
                {{ form_row(form.billing_address.nameSuffix, {'attr': {'placeholder': 'orob2b.checkout.workflow.b2b_flow_checkout.form.placeholder.name.sufix'|trans}}) }}
            </fieldset>

            <fieldset class="checkout__form__row">
                {{ form_row(form.billing_address.organization, {'attr': {'placeholder': 'orob2b.checkout.workflow.b2b_flow_checkout.form.placeholder.address.organization'|trans}, 'parentClass': 'form__col_x12'}) }}
            </fieldset>

            <fieldset class="checkout__form__row">
                <div class="checkout__form__col form__col_x6">
                    {{- form_label(form.billing_address.phone, form.billing_address.phone.vars.label, {'label_attr': {'class': 'checkout__form__label checkout__form__label_additional'}}) -}}
                    {{- form_widget(form.billing_address.phone, {'attr': {'placeholder': 'orob2b.checkout.workflow.b2b_flow_checkout.form.placeholder.name.prefix'|trans}}) -}}
                    {{- form_errors(form.billing_address.phone) -}}
                </div>
            </fieldset>

            <fieldset class="checkout__form__row">
                {{ form_row(form.billing_address.street, {'attr': {'placeholder': 'orob2b.checkout.workflow.b2b_flow_checkout.form.placeholder.address.street'|trans}}) }}
                {{ form_row(form.billing_address.street2, {'attr': {'placeholder': 'orob2b.checkout.workflow.b2b_flow_checkout.form.placeholder.address.street2'|trans}}) }}
            </fieldset>
            <fieldset class="checkout__form__row">
                {{ form_row(form.billing_address.city, {'attr': {'placeholder': 'orob2b.checkout.workflow.b2b_flow_checkout.form.placeholder.address.city'|trans}, 'parentClass': 'form__col_x12'}) }}
            </fieldset>
            <fieldset class="checkout__form__row">
                {{ form_row(form.billing_address.country) }}
                {{ form_row(form.billing_address.region) }}
            </fieldset>

            <fieldset class="checkout__form__row">
                <div class="checkout__form__col col-zip">
                    {{- form_label(form.billing_address.postalCode, form.billing_address.postalCode.vars.label, {'label_attr': {'class': 'checkout__form__label checkout__form__label_additional'}}) -}}
                    {{- form_widget(form.billing_address.postalCode, {'attr' : {'placeholder': 'orob2b.checkout.workflow.b2b_flow_checkout.form.placeholder.address.zip'|trans, 'class': 'checkout__form__input'}}) -}}
                </div>
                <div class="checkout__form__col form__col_x8 col-zip-error">
                    {{- form_errors(form.billing_address.postalCode) -}}
                </div>
            </fieldset>
            <fieldset class="checkout__form__row">
                {{ form_row(form.save_billing_address) }}
            </fieldset>

            <fieldset class="hidden">
                {{ form_widget(form.billing_address.id) }}
                {{ form_widget(form.billing_address.region_text) }}
            </fieldset>
        </div>

        <fieldset class="checkout__form__row">
            {{ form_row(form.ship_to_billing_address) }}
        </fieldset>
    </div>
{%- endblock %}
