{% block _checkout_billing_information_widget %}
    <div class="checkout__head">
        <h2 class="checkout__title">
            <span class="badge badge_md badge_circle badge_orange">1</span>
            {{ workflowStep.label|trans }}
        </h2>
    </div>
    <div class="checkout__body" data-page-component-module="oroui/js/app/components/view-component"
         data-page-component-options="{{ {
             view: 'orob2border/js/app/views/address-view',
             type: 'billing',
             selectors: {
                 address: '#' ~ form.billing_address.accountAddress.vars.id,
                 subtotalsFields: [
                 '#' ~ form.billing_address.country.vars.id,
                 '#' ~ form.billing_address.street.vars.id,
                 '#' ~ form.billing_address.street2.vars.id,
                 '#' ~ form.billing_address.city.vars.id,
                 '#' ~ form.billing_address.region.vars.id,
                 '#' ~ form.billing_address.postalCode.vars.id
                 ]
             }
         }|json_encode }}">

        {{ form_start(form, {'action' : path('orob2b_checkout_frontend_checkout', {'page': 2, 'id': checkout.id}), 'attr' : {'class' : 'checkout__form'}}) }}
            {{ form_errors(form) }}
            <fieldset class="checkout__form__row">
                <div class="checkout__form__col form__col_x6">
                    <label for="billingAddress" class="checkout__form__label">Select a Billing Address form your Account<sup class="red">*</sup></label>
                    <div class="checkout__form__select">
                        {{ form_widget(form.billing_address.accountAddress, {'class_prefix' : '', 'attr' : {'class': 'input input_md'}   }) }}
                    </div>
                </div>
            </fieldset>

            <fieldset class="checkout__form__row">
                <div class="checkout__form__col form__col_x6">
                    <label for="firstName" class="checkout__form__label checkout__form__label_additional">First Name<sup class="red">*</sup></label>
                    {{ form_widget(form.billing_address.firstName, {
                        'class_prefix' : '',
                        'attr': {
                            'class': 'input input_md input_block checkout__form__input',
                            'placeholder' : 'Enter your first name',
                        }
                    }) }}
                </div>
                <div class="checkout__form__col form__col_x6">
                    <label for="lastName" class="checkout__form__label checkout__form__label_additional">Last Name<sup class="red">*</sup></label>
                    {{ form_widget(form.billing_address.lastName, {'class_prefix' : '', 'attr': {'class' : 'input input_md input_block checkout__form__input', 'placeholder' : 'Enter your last name'}}) }}
                </div>
                <div class="checkout__form__col form__col_x6">
                    <label for="middleName" class="checkout__form__label checkout__form__label_additional">Middle Name<sup class="red">*</sup></label>
                    {{ form_widget(form.billing_address.middleName, {
                        'class_prefix' : '',
                        'attr': {
                            'class': 'input input_md input_block checkout__form__input',
                            'placeholder' : 'Enter your middle name',
                        }
                    }) }}
                </div>
            </fieldset>

            <fieldset class="checkout__form__row">
                <div class="checkout__form__col form__col_x12">
                    <label for="companyName" class="checkout__form__label checkout__form__label_additional">Name Sufix</label>
                    {{ form_widget(form.billing_address.nameSuffix, {'class_prefix' : '', 'attr': {'class' : 'input input_md input_block checkout__form__input', 'placeholder' : 'Enter your organization name'}}) }}
                </div>
            </fieldset>

            <fieldset class="checkout__form__row">
                <div class="checkout__form__col form__col_x12">
                    <label for="companyName" class="checkout__form__label checkout__form__label_additional">Organization</label>
                    {#<input type="text" name="companyName" id="companyName" class="input input_md input_block checkout__form__input" placeholder="Enter your organization name" />#}
                    {{ form_widget(form.billing_address.organization, {'class_prefix' : '', 'attr': {'class' : 'input input_md input_block checkout__form__input', 'placeholder' : 'Enter your organization name'}}) }}
                </div>
            </fieldset>

            <fieldset class="checkout__form__row">
                <div class="checkout__form__col form__col_x12">
                    <label class="checkout__form__label checkout__form__label_additional">Street Address<sup class="red">*</sup></label>
                    {{ form_widget(form.billing_address.street, {'class_prefix' : '', 'attr': {'class' : 'input input_md input_block checkout__form__input mb1-md mb1-sm', 'placeholder' : 'Enter your street address'}}) }}
                    {{ form_widget(form.billing_address.street2, {'class_prefix' : '', 'attr': {'class' : 'input input_md input_block checkout__form__input', 'placeholder' : 'Enter your street address 2'}}) }}
                </div>
            </fieldset>

            <fieldset class="checkout__form__row">
                <div class="checkout__form__col form__col_x12">
                    <label class="checkout__form__label checkout__form__label_additional">City<sup class="red">*</sup></label>
                    {{ form_widget(form.billing_address.city, {'class_prefix' : '', 'attr': {'class' : 'input input_md input_block checkout__form__input mb1-md mb1-sm', 'placeholder' : 'Enter your city'}}) }}
                </div>
            </fieldset>

            <fieldset class="checkout__form__row">
                <div class="checkout__form__col col-country">
                    <label for="stateProvince" class="checkout__form__label checkout__form__label_additional wsnr">Country<sup class="red">*</sup></label>
                    <div class="checkout__form__select">
                        {{ form_widget(form.billing_address.country, {'class_prefix' : '', 'attr': {'class' : 'checkout__form__label checkout__form__label_additional wsnr'}}) }}
                    </div>
                </div>
                <div class="checkout__form__col col-state">
                    <label for="stateProvince" class="checkout__form__label checkout__form__label_additional wsnr">State / Province<sup class="red">*</sup></label>
                    <div class="checkout__form__select">
                        {{ form_widget(form.billing_address.region, {'class_prefix' : '', 'attr': {'class' : 'checkout__form__label checkout__form__label_additional wsnr'}}) }}
                    </div>
                </div>
            </fieldset>

            <fieldset class="checkout__form__row">
                <div class="checkout__form__col form__col_x6">
                    <label for="phoneNumber" class="checkout__form__label checkout__form__label_additional">Phone Number<sup class="red">*</sup></label>
                    <input type="text" name="phoneNumber" id="phoneNumber" class="input input_md input_block checkout__form__input" placeholder="Enter your phone number" />
                </div>
            </fieldset>

            <fieldset class="checkout__form__row">
                <div class="checkout__form__col col-zip">
                    <label for="zipCode" class="checkout__form__label checkout__form__label_additional wsnr">Zip Code<sup class="red">*</sup></label>
                    {{ form_widget(form.billing_address.postalCode, {'class_prefix' : '', 'attr': {'class' : 'input input_block input_md checkout__form__input', 'placeholder' : 'Zip'}}) }}
                </div>
            </fieldset>
            <fieldset class="checkout__form__row">
                <div class="checkout__form__col form__col_x12">
                    <div class="mmb5-md mmb5-sm">
                        <label for="saveAddress" class="checkbox_custom checkbox_custom_blue checked" data-checkbox>
                            {{ form_widget(form.save_billing_address) }}
                            <i class="material-icons checkbox_checked fs18 mmr5-md">check_box</i>
                            <i class="material-icons checkbox_not-checked fs18 mmr5-md">check_box_outline_blank</i>
                            <span class="checkbox_custom__text fs13">Save address</span>
                        </label>
                    </div>
                    <div>
                        <label for="confirmShippingAddress" class="checkbox_custom checkbox_custom_blue checked" data-checkbox>
                            {{ form_widget(form.ship_to_billing_address) }}
                            <i class="material-icons checkbox_checked fs18 mmr5-md">check_box</i>
                            <i class="material-icons checkbox_not-checked fs18 mmr5-md">check_box_outline_blank</i>
                            <span class="checkbox_custom__text fs13">Ship to this address</span>
                        </label>
                    </div>
                </div>
            </fieldset>

            <fieldset class="checkout__form__row">
                <div class="create-account__form__req-text"><sup>*</sup>Required Field</div>
                <div class="create-account__form__col form__col_x12">
                    <button type="submit" class="btn btn_orange btn_lg checkout__form__submit">
                        Continue<i class="icon-right-open-mini va-m_md"></i>
                    </button>
                </div>
            </fieldset>
            <div class="checkout__form__back">
                <a href="#"><i class="icon-left-open-mini"></i>Back</a>
            </div>
        </form>
    </div>
{% endblock %}
