{% block _checkout_billing_form_button_widget -%}
    <fieldset class="checkout__form__row">
        <div class="create-account__form__req-text"><sup>*</sup>Required Field</div>
        <div class="create-account__form__col form__col_x12">
            <button type="submit" class="btn btn_orange btn_lg checkout__form__submit">
                Continue<i class="icon-right-open-mini va-m_md"></i>
            </button>
        </div>
    </fieldset>
    <div class="checkout__form__back">
        <a href="#"><i class="icon-left-open-mini"></i>Back</a>
    </div>
{%- endblock %}

{% block checkbox_row -%}
    <fieldset class="checkout__form__row">
        <div class="checkout__form__col form__col_x12 mmb5-md mmb5-sm">
            {{- form_label(form) -}}
            {{- form_errors(form) -}}
        </div>
    </fieldset>
{%- endblock checkbox_row %}

{%- block checkbox_label -%}
    {% if label is defined and label is not same as(false) %}
        {%- if label is empty -%}
            {% set label = id|humanize %}
        {%- endif -%}
        <label for="{{ id }}" class="checkbox_custom checkbox_custom_blue" data-checkbox>
            {{- form_widget(form) -}}
            <i class="material-icons checkbox_checked fs18 mmr5-md">check_box</i>
            <i class="material-icons checkbox_not-checked fs18 mmr5-md">check_box_outline_blank</i>
            <span class="checkbox_custom__text fs13">{{ label|block_text(translation_domain) }}</span>
        </label>
    {%- endif %}
{%- endblock checkbox_label -%}

{% block text_row -%}
    {% set parentClass = parentClass|default('form__col_x12') %}
    <div class="checkout__form__col {{ parentClass }}">
        {{- form_label(form, label, {'label_attr': {'class': 'checkout__form__label checkout__form__label_additional'}}) -}}
        {{- form_widget(form, {'attr': attr}) -}}
    </div>
{%- endblock %}

{% block _form_address_label_row %}
    <fieldset class="checkout__form__row">
        <div class="checkout__form__col form__col_x12">
            {{- form_label(form, label, {'label_attr': {'class': 'checkout__form__label checkout__form__label_additional'}}) -}}
            {{- form_widget(form, {'attr' : {'class': 'input input_md input_block checkout__form__input', 'placeholder' : 'Enter address label'}}) -}}
        </div>
    </fieldset>
{% endblock %}

{% block _form_address_organization_row %}
    <fieldset class="checkout__form__row">
        <div class="checkout__form__col form__col_x12">
            {{- form_label(form, label, {'label_attr': {'class': 'checkout__form__label checkout__form__label_additional'}}) -}}
            {{- form_widget(form, {'attr' : {'class': 'input input_md input_block checkout__form__input', 'placeholder' : 'Enter your organization name'}}) -}}
        </div>
    </fieldset>
{% endblock %}

{% block _form_address_city_row %}
    <fieldset class="checkout__form__row">
        <div class="checkout__form__col form__col_x12">
            {{- form_label(form, label, {'label_attr': {'class': 'checkout__form__label checkout__form__label_additional'}}) -}}
            {{- form_widget(form, {'attr' : {'class': 'input input_md input_block checkout__form__input', 'placeholder' : 'Enter your city'}}) -}}
        </div>
    </fieldset>
{% endblock %}

{% block _form_address_namePrefix_row %}
    <div class="checkout__form__col form__col_x6">
        {{- form_label(form, label, {'label_attr': {'class': 'checkout__form__label checkout__form__label_additional'}}) -}}
        {{- form_widget(form, {'attr' : {'class': 'input input_md input_block checkout__form__input', 'placeholder' : 'Enter your name prefix'}}) -}}
    </div>
{% endblock %}

{% block _form_address_middleName_row %}
    <div class="checkout__form__col form__col_x6">
        {{- form_label(form, label, {'label_attr': {'class': 'checkout__form__label checkout__form__label_additional'}}) -}}
        {{- form_widget(form, {'attr' : {'class': 'input input_md input_block checkout__form__input', 'placeholder' : 'Enter your middle name'}}) -}}
    </div>
{% endblock %}

{% block _form_address_firstName_row %}
    <div class="checkout__form__col form__col_x6">
        {{- form_label(form, label, {'label_attr': {'class': 'checkout__form__label checkout__form__label_additional'}}) -}}
        {{- form_widget(form, {'attr' : {'class': 'input input_md input_block checkout__form__input', 'placeholder' : 'Enter your first name'}}) -}}
    </div>
{% endblock %}

{% block _form_address_lastName_row %}
    <div class="checkout__form__col form__col_x6">
        {{- form_label(form, label, {'label_attr': {'class': 'checkout__form__label checkout__form__label_additional'}}) -}}
        {{- form_widget(form, {'attr' : {'class': 'input input_md input_block checkout__form__input', 'placeholder' : 'Enter your last name'}}) -}}
    </div>
{% endblock %}

{% block _form_address_nameSuffix_row %}
    <div class="checkout__form__col form__col_x6">
        {{- form_label(form, label, {'label_attr': {'class': 'checkout__form__label checkout__form__label_additional'}}) -}}
        {{- form_widget(form, {'attr' : {'class': 'input input_md input_block checkout__form__input', 'placeholder' : 'Enter your name suffix'}}) -}}
    </div>
{% endblock %}

{% block _form_address_country_row %}
    <div class="checkout__form__col col-country">
        {{ form_label(form, 'Country', {'label_attr': {'class': 'checkout__form__label checkout__form__label_additional'}}) }}
        <div class="checkout__form__select">
            {{ form_widget(form, {'attr': {'class' : 'checkout__form__label checkout__form__label_additional wsnr'}}) }}
        </div>
    </div>
{% endblock %}

{% block _form_address_region_row %}
    <div class="checkout__form__col col-state">
        {{ form_label(form, 'State / Province', {'label_attr': {'class': 'checkout__form__label checkout__form__label_additional'}}) }}
        <div class="checkout__form__select">
            {{ form_widget(form, {'attr': {'class' : 'checkout__form__label checkout__form__label_additional wsnr'}}) }}
        </div>
    </div>
{% endblock %}

{% block _form_address_postalCode_row %}
    <fieldset class="checkout__form__row">
        {{ form_row(form, {'attr': {'class' : 'input input_block input_md checkout__form__input', 'placeholder' : 'Zip'}, 'parentClass': 'col-zip'}) }}
    </fieldset>
{% endblock %}

{% block _form_address_accountAddress_row %}
    <fieldset class="checkout__form__row">
        <div class="checkout__form__col form__col_x6">
            {{ form_label(form, 'Address', {'label_attr': {'class': 'checkout__form__label checkout__form__label_additional'}}) }}
            <div class="checkout__form__select">
                {{ form_widget(form, {'attr' : {'class': 'input input_md'}}) }}
            </div>
        </div>
    </fieldset>
{% endblock %}

{% block _form_address_street_row %}
    {{ form_label(form, 'Street Address', {'label_attr': {'class': 'checkout__form__label checkout__form__label_additional'}}) }}
    {{ form_widget(form, {'attr': {'class' : 'input input_md input_block checkout__form__input mb1-md mb1-sm', 'placeholder' : 'Enter your street address'}}) }}
{% endblock %}

{% block _form_address_street2_row %}
    {{ form_widget(form, {'attr': {'class' : 'input input_md input_block checkout__form__input mb1-md mb1-sm', 'placeholder' : 'Enter your street address 2'}}) }}
{% endblock %}
