{% extends 'OroB2BFrontendBundle:layouts/default:form_theme.html.twig' %}

{% block orob2b_country_widget %}
    <div class="checkout__form__select">
        {{ form_widget(form, {'class_prefix': 'checkout'}) }}
    </div>
{% endblock %}

{% block orob2b_region_widget %}
    <div class="checkout__form__select">
        {{ block('oro_region_widget') }}
    </div>
{% endblock %}

{%- block form_label -%}
    {% set label_attr = label_attr|merge({class: label_attr.class|default('') ~ "checkout__form__label checkout__form__label--additional"}) %}

    {{ parent() }}
{%- endblock form_label -%}

{%- block form_row -%}
    <div class="checkout__form__col {{ parentClass|default('form__col_x6') }}">
        {{- form_label(form, null, {'class_prefix': 'checkout'}) -}}
        {{- form_widget(form, {'class_prefix': 'checkout'}) -}}
        {{- form_errors(form, {'class_prefix': 'checkout'}) -}}
    </div>
{%- endblock form_row -%}

{% block checkbox_row %}
    {{- form_widget(form) -}}
    {{- form_errors(form) -}}
{% endblock %}
