{% block orob2b_country_widget %}
    <div class="checkout__form__select">
        {{ form_widget(form) }}
    </div>
{% endblock %}

{% block orob2b_region_widget %}
    <div class="checkout__form__select">
        {{ block('oro_region_widget') }}
    </div>
{% endblock %}

{%- block form_label -%}
    {% set label_attr = label_attr|merge({class: label_attr.class|default('') ~ "checkout__form__label_additional"}) %}

    {{ parent() }}
{%- endblock form_label -%}

{%- block form_row -%}
    <div class="checkout__form__col {{ parentClass|default('form__col_x6') }}">
        {{- form_label(form) -}}
        {{- form_widget(form) -}}
        {{- form_errors(form) -}}
    </div>
{%- endblock form_row -%}
