{% block _checkout_content_widget %}
    {% set attr = attr|merge({class: attr.class|default('') ~ " checkout-page-container"}) %}
    <h1 class="checkout-page-title">{{ 'orob2b.checkout.entity_label'|trans }}</h1>
    <div {{ block('block_attributes') }}
        data-role="checkout-content"
        data-page-component-module="oroui/js/app/components/view-component"
        data-page-component-options="{{ {
                view: 'orob2bcheckout/js/app/views/checkout-content-view',
            }|json_encode }}">
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _checkout_information_widget %}
    {% set attr = attr|merge({class: attr.class|default('') ~ " checkout"}) %}
    <div{{ block('block_attributes') }}>
        <div class="checkout__head">
            <h2 class="checkout__title">
                <span class="badge badge_md badge_circle badge_orange">{{ stepOrder }}</span>
                {{ workflowStep.label|trans }}
            </h2>
        </div>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _checkout_form_widget -%}
    <div class="checkout__body">
        {% if form %}
            {{ form_errors(form) }}
            {{ form_start(form, {
                'method': 'post',
                'action': path('orob2b_checkout_frontend_checkout', {'id': checkout.id}),
                'attr' : {
                    'class': 'checkout__form',
                    'data-nohash': 'true',
                    'id': form.vars.id
                }})
            }}
            <div class="hidden">
                {{ form_widget(form._token) }}
            </div>
            {{ block_widget(block) }}
        </form>
        {{ oro_form_js_validation(form) }}
        {% else %}
            <form method="post" action="">
            {{ block_widget(block) }}
            </form>
        {% endif %}
    </div>
{%- endblock %}

{% block _checkout_order_summary_widget %}
    {% set attr = attr|merge({class: attr.class|default('') ~ " checkout-order-summary"}) %}
    {% set workfowItem = checkout.workflowItem %}
    <div{{ block('block_attributes') }}>
        <div class="checkout-order-summary__tab" data-tab="">
            <div class="checkout-order-summary__header">
                <div data-tab-trigger="" data-allow-tab-toggle="true">
                    <div class="checkout-order-summary__header__icon-group">
                        <span class="badge badge_sm badge_orange badge_circled-corners mmr7-md mmr7-sm">
                          <i class="icon-basket"></i>
                        </span>
                        <i class="icon-play"></i>
                    </div>
                    <h3 class="checkout-order-summary__header__title">{{ 'orob2b.checkout.order_summary.label'|trans }}</h3>
                    <div class="checkout-order-summary__header__desc">
                        <span class="mr1-md mr1-sm"><strong>{{ summary.lineItemsCount }}</strong> {{ 'orob2b.checkout.order_summary.items'|trans }}</span>
                        <span>{{ 'orob2b.checkout.order_summary.subtotal'|trans }}: <strong>{{ summary.generalTotal.totalPrice|oro_format_price }}</strong></span>
                    </div>
                </div>
                {% set editLink = workfowItem.data.get('edit_order_link') %}
                {% if editLink %}
                <a href="{{ editLink }}" class="checkout-order-summary__header__edit-link">
                    <i class="icon-pencil"></i>
                    {{ 'orob2b.checkout.order_summary.edit_order'|trans }}
                </a>
                {% endif %}
            </div>
            {{ block_widget(block) }}
        </div>
    </div>
{% endblock %}

{% block _checkout_order_summary_table_widget %}
    {% set workfowItem = checkout.workflowItem %}
    <div class="checkout-order-summary__tab__content">
        <table class="oro-grid-table">
            <thead class="hidden-xs">
            <tr>
                <th>{{ 'orob2b.checkout.order_summary.item'|trans }}</th>
                <th class="text-center">{{ 'orob2b.checkout.order_summary.quantity'|trans }}</th>
                <th class="text-right">{{ 'orob2b.checkout.order_summary.price'|trans }}</th>
            </tr>
            </thead>

            <tbody>
            {% for line_item in summary.lineItems %}
                <tr>
                    <td class="va-t_md">
                        <h3 class="product-item__title product-item__title_in-cart mb1-md">
                            <a href="{{ path('orob2b_product_frontend_product_view', {'id':line_item.product.id}) }}">{{ line_item.product.defaultName }}</a>
                        </h3>
                        <div>{{ 'orob2b.checkout.order_summary.sku'|trans }} #: <span class="red">{{ line_item.product.sku }}</span></div>
                    </td>
                    {% set quantity = line_item.quantity %}
                    <td class="text-center va-t_md">{{ quantity ? quantity|orob2b_format_short_product_unit_value(line_item.productUnit) : 'N/A'|trans }}</td>
                    <td class="va-t_md text-right">
                        <div class="checkout-order-summary__price-table">
                            <table class="table">
                                <tbody>
                                <tr>
                                    <td>{{ 'orob2b.checkout.order_summary.price_per_item'|trans }}:</td>
                                    <td>{{ line_item.price|oro_format_price }}</td>
                                </tr>
                                <tr>
                                    <td><span>{{ 'orob2b.checkout.order_summary.total_price'|trans }}</span></td>
                                    <td><span class="fs16 blue">{{ summary.lineItemTotals[line_item.productSku]|oro_format_price }}</span>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            <tr>
                {% set editLink = workfowItem.data.get('edit_order_link') %}
                {% set hasEditList = editLink and workflowStep.name == 'place_order' %}
                {% if hasEditList %}
                <td class="va-t_md hidden-xs">
                    <a href="{{ editLink }}">
                        <i class="icon-pencil"></i>
                        {{ 'orob2b.checkout.order_summary.edit_order_list'|trans }}
                    </a>
                </td>
                {% endif %}
                <td colspan="{% if hasEditList %}2{% else %}3{% endif %}" class="va-t_md text-right">
                    <div class="checkout-order-summary__price-table">
                        <table class="table">
                            <tbody>
                                {% for total in summary.subtotals %}
                                <tr>
                                    <td>{{ total.label }}</td>
                                    <td class="text-right">{{ total.totalPrice|oro_format_price }}</td>
                                </tr>
                                {% endfor %}
                                <tr>
                                    <td><span class="fs18 text-uppercase">{{ summary.generalTotal.label }}</span></td>
                                    <td class="text-right"><span class="fs18">{{ summary.generalTotal.totalPrice|oro_format_price }}</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
{% endblock %}
