{% block _checkout_content_widget %}
    {% set attr = attr|merge({class: attr.class|default('') ~ " checkout-page-container"}) %}
    <h1 class="checkout-page-title">{{ 'orob2b.checkout.entity_label'|trans }}</h1>
    <div {{ block('block_attributes') }}
        data-role="checkout-content"
        data-page-component-module="oroui/js/app/components/view-component"
        data-page-component-options="{{ {
                view: 'orob2bcheckout/js/app/views/checkout-content-view',
            }|json_encode }}">
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _checkout_information_widget %}
    {% set attr = attr|merge({class: attr.class|default('') ~ " checkout"}) %}
    <div{{ block('block_attributes') }}>
        <div class="checkout__head">
            <h2 class="checkout__title">
                <span class="badge badge_md badge_circle badge_orange">{{ stepOrder }}</span>
                {{ workflowStep.label }}
            </h2>
        </div>
        <div class="checkout__body">
            {{ block_widget(block) }}
        </div>
    </div>
{% endblock %}

{% block _checkout_form_widget -%}
    {% if form %}
        {{ form_errors(form) }}
        {{ form_start(form, {
            'method': 'post',
            'action': path('orob2b_checkout_frontend_checkout', {'id': checkout.id, 'checkoutType': checkout.checkoutType}),
            'attr' : {
                'class': 'checkout__form',
                'data-nohash': 'true',
                'id': form.vars.id
            }})
        }}
        <div class="hidden">
            {{ form_widget(form._token) }}
        </div>
        {{ block_widget(block) }}
    </form>
    {{ oro_form_js_validation(form) }}
    {% else %}
        <form method="post" class="checkout__form" action="">
        {{ block_widget(block) }}
        </form>
    {% endif %}
{%- endblock %}

{% block _checkout_order_summary_widget %}
    {% set attr = attr|merge({class: attr.class|default('') ~ " checkout-order-summary"}) %}
    {% set workfowItem = checkout.workflowItem %}
    <div{{ block('block_attributes') }}>
        <div class="checkout-order-summary__tab {% if app.request.cookies.has('order-tab:state') %}active{% endif %}" data-tab="">
            <div class="checkout-order-summary__header">
                <div data-tab-trigger="" data-allow-tab-toggle="true">
                    <div class="checkout-order-summary__header__icon-group">
                        <span class="badge badge_sm badge_orange badge_circled-corners mmr7-md mmr7-sm">
                          <i class="cf-basket"></i>
                        </span>
                        <i class="cf-play"></i>
                    </div>
                    <h3 class="checkout-order-summary__header__title">{{ 'orob2b.checkout.order_summary.label'|trans }}</h3>
                    <div class="checkout-order-summary__header__desc">
                        <span class="mr1-md mr1-sm"><strong>{{ summary.lineItemsWithTotals|length }}</strong> {{ 'orob2b.checkout.order_summary.items'|trans }}</span>
                        <span>{{ 'orob2b.checkout.order_summary.subtotal'|trans }}: <strong>{{ summary.generalTotal.totalPrice|oro_format_price }}</strong></span>
                    </div>
                </div>
                {% set editLink = workfowItem.data.get('edit_order_link') %}
                {% if editLink %}
                <a href="{{ editLink }}" class="checkout-order-summary__header__edit-link">
                    <i class="cf-pencil"></i>
                    {{ 'orob2b.checkout.order_summary.edit_order'|trans }}
                </a>
                {% endif %}
            </div>
            {{ block_widget(block) }}
        </div>
    </div>
{% endblock %}

{% block _checkout_order_summary_table_widget %}
    {% set workfowItem = checkout.workflowItem %}
    <div class="checkout-order-summary__tab__content">
        <table class="oro-grid-table table-scrollable"  
               data-page-component-module="oroui/js/app/components/view-component"  
               data-page-component-options="{{ {view: 'orob2bfrontend/js/app/views/scrollable-table'}|json_encode }}">
            <thead class="hidden-xs">
                <tr data-scrollable-content-head>
                    <th>{{ 'orob2b.checkout.order_summary.item'|trans }}</th>
                    <th class="text-center">{{ 'orob2b.checkout.order_summary.quantity'|trans }}</th>
                    <th class="text-right" data-scrollable-item-has-offset>{{ 'orob2b.checkout.order_summary.price'|trans }}</th>
                </tr>
            </thead>

            <tbody>
            <tr>
                <td colspan="3">
                    <div data-scrollable-content class="scrollable-content">
                        <table data-scrollable-inner-content class="scrollable-content__table">
                            {% for lineItem in summary.lineItemsWithTotals %}
                                {% set lineItemInfo = summary.lineItemsWithTotals.getInfo() %}
                                {% set productSku = lineItem.productSku %}
                                {% if lineItem.product is not null %}
                                    {% set productSku = lineItem.product.sku %}
                                {% endif %}
                                <tr data-scrollable-content-body>
                                    <td class="va-t_md">
                                        <h3 class="product-item__title product-item__title_in-cart mb1-md">
                                            {% if lineItem.product is not null %}
                                                <a href="{{ path('orob2b_product_frontend_product_view', {'id':lineItem.product.id}) }}" tabindex="-1">{{ lineItem.product.defaultName }}</a>
                                            {% else %}
                                                {{ lineItem.freeFormProduct }}
                                            {% endif %}
                                        </h3>
                                        <div>{{ 'orob2b.checkout.order_summary.item'|trans }} #: <span
                                                    class="red">{{ productSku }}</span></div>
                                    </td>
                                    {% set quantity = lineItem.quantity %}
                                    <td class="text-center va-t_md">{{ quantity ? quantity|orob2b_format_short_product_unit_value(lineItem.productUnit) : 'N/A'|trans }}</td>
                                    <td class="va-t_md text-right">
                                        <div class="checkout-order-summary__price-table">
                                            <table class="table">
                                                <tbody>
                                                <tr>
                                                    <td>{{ 'orob2b.checkout.order_summary.price_per_item'|trans }}:</td>
                                                    <td data-scrollable-item-has-offset>{{ lineItem.price is not null ? lineItem.price|oro_format_price : 'N/A'|trans }}</td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <span>{{ 'orob2b.checkout.order_summary.total_price'|trans }}</span>
                                                    </td>
                                                    <td data-scrollable-item-has-offset>
                                                        <span class="fs16 blue">{{ lineItemInfo.total|oro_format_price }}</span>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}

                        </table>
                    </div>
                </td>
            </tr>
            <tr>
                {% set editLink = workfowItem.data.get('edit_order_link') %}
                {% set hasEditList = editLink and workflowStep.name == 'order_review' %}
                {% if hasEditList %}
                    <td class="va-t_md hidden-xs">
                        <a href="{{ editLink }}">
                            <i class="cf-pencil"></i>
                            {{ 'orob2b.checkout.order_summary.edit_order'|trans }}
                        </a>
                    </td>
                {% endif %}
            </tr>
            </tbody>
        </table>
        <div class="checkout-order-summary__price-table checkout-order-summary__price-table-total">
            <table class="table">
                <tbody>
                {% for total in summary.subtotals %}
                    {% if total.visible %}
                        <tr>
                            <td>{{ total.label }}</td>
                            <td class="text-right">{{ total.totalPrice|oro_format_price }}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
                <tr>
                    <td><span class="fs18 text-uppercase">{{ summary.generalTotal.label }}</span></td>
                    <td class="text-right"><span class="fs18">{{ summary.generalTotal.totalPrice|oro_format_price }}</span></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block _checkout_button_continue_widget -%}
    <fieldset class="checkout__form__row">
        <fieldset class="checkout__form__row">
            <div class="create-account__form__req-text"><sup>*</sup>
                {{ 'orob2b.checkout.workflow.b2b_flow_checkout.form.required.label'|trans }}
            </div>
        </fieldset>
        <div class="create-account__form__col form__col_x12">
            {{ block_widget(block) }}
        </div>
    </fieldset>
{% endblock %}

{% block _checkout_button_back_widget -%}
    <div class="checkout__form__back">
        {{ block_widget(block) }}
    </div>
{%- endblock %}

{% block _checkout_button_continue_right_widget %}
    {% if transitionData is defined and transitionData %}
        {% import 'OroB2BCheckoutBundle:layouts/default:layout.html.twig' as _layout %}
        <div class="order-checkout-widget order-checkout-widget_block text-right">
            {{ _layout.conditionMessagesStart(transitionData) }}
            <button type="submit"
                    class="btn btn_xlg {% if transitionData.isAllowed %}btn-orange{% endif %} checkout__submit-btn" {{ _layout.transitionAttrbiutes(transitionData, checkout) }}>
                {{ transitionData.transition.label|trans }}
            </button>
            {{ _layout.conditionMessagesEnd(transitionData) }}
        </div>
    {% endif %}
{% endblock %}

{% block _checkout_button_back_right_widget %}
    {% if transitionData is defined and transitionData %}
        {% import 'OroB2BCheckoutBundle:layouts/default:layout.html.twig' as _layout %}
        <div class="checkout__form__back order-checkout-widget order-checkout-widget_block text-right">
            {{ block_widget(block) }}
        </div>
    {% endif %}
{% endblock %}
