{% block _checkout_form_fields_widget -%}
    {% set workflowItem = checkout.workflowItem %}
    <div class="collapse-view"
         data-page-component-module="oroui/js/app/components/jquery-widget-component"
         data-page-component-options="{{ {
             widgetModule: 'orob2bfrontend/default/js/widgets/collapse-widget'
         }|json_encode() }}"
    >
        <span class="collapse-view__trigger collapse-view__trigger--icon" data-collapse-trigger>
            <i class="collapse-view__trigger-icon cf-play cf--gray" data-toggle="collapse" data-target="#orderOptionsContainer"></i>
        </span>
        <a href="#" class="collapse-view__trigger" data-collapse-trigger>
            {{ 'orob2b.checkout.workflow.view_options.label'|trans }}
        </a>
        <div class="collapse-view__container ml1-md mmt5-md" data-collapse-container>
            <fieldset class="checkout__form__row"
                      data-trigger-selector="#addShipDate"
                      data-page-component-module="orob2bcheckout/js/app/components/clear-field-data-component">
                <div class="checkout__form__col form__col_x12 mmb5-md mmb5-sm toggle-block">
                    <label for="addShipDate" class="oro-checkbox toggle-block__trigger" data-checkbox>
                        <input class="oro-checkbox__input" type="checkbox" name="addShipDate" id="addShipDate"/>
                        <span class="oro-checkbox__icon"></span>
                        <span class="oro-checkbox__text">{{ "orob2b.checkout.order_review.shipping_date"|trans }}</span>
                    </label>
                    <div class="toggle-block__content form-input form-input_datepicker mmt9-md mmt9-sm">
                        <span class="form-input_datepicker_icon gray fs22"><i class="cf-calendar"></i></span>
                        {{ form_widget(form.ship_until, {'attr': {'class': 'input input_sm input_block input_datepicker', 'placeholder': 'orob2b.checkout.order_review.shipping_date_placeholder'|trans }}) }}
                    </div>
                </div>
            </fieldset>
            <fieldset class="checkout__form__row"
                      data-trigger-selector="#addPoNumber"
                      data-page-component-module="orob2bcheckout/js/app/components/clear-field-data-component">
                <div class="checkout__form__col form__col_x6 mmb5-md mmb5-sm toggle-block">
                    <label for="addPoNumber" class="oro-checkbox toggle-block__trigger" data-checkbox>
                        <input class="oro-checkbox__input" type="checkbox" name="addPoNumber" id="addPoNumber"/>
                        <span class="oro-checkbox__icon"></span>
                        <span class="oro-checkbox__text">{{ "orob2b.checkout.order_review.po_number"|trans }}</span>
                    </label>
                    <div class="toggle-block__content checkout__form__optional-ref-number">
                        {{ form_widget(form.po_number, {'attr': {'class': 'checkout__form__input', 'placeholder': 'orob2b.checkout.order_review.po_number_placeholder'|trans}}) }}
                    </div>
                </div>
            </fieldset>
            <fieldset class="checkout__form__row"
                      data-trigger-selector="#addNote"
                      data-page-component-module="orob2bcheckout/js/app/components/clear-field-data-component">
                <div class="checkout__form__col form__col_x6 mmb5-md mmb5-sm toggle-block">
                    <label for="addNote" class="oro-checkbox toggle-block__trigger" data-checkbox>
                        <input class="oro-checkbox__input" type="checkbox" name="addNote" id="addNote"/>
                        <span class="oro-checkbox__icon"></span>
                        <span class="oro-checkbox__text">{{ "orob2b.checkout.order_review.note"|trans }}</span>
                    </label>
                    <div class="toggle-block__content checkout__form__order-not">
                        {{ form_widget(form.customer_notes, {'attr': {'class': 'input input_md input_block checkout__form__input', 'placeholder': 'orob2b.checkout.order_review.note_placeholder'|trans}}) }}
                    </div>
                </div>
            </fieldset>

            {% if workflowItem.data.get('allow_manual_source_remove') %}
                {% set removeElementOptions = {} %}
                {% set removeLabel = workflowItem.data.get('source_remove_label') %}
                {% if removeLabel %}
                    {% set removeElementOptions = removeElementOptions|merge({label: removeLabel}) %}
                {% endif %}
                <fieldset class="checkout__form__row">
                    <div class="checkout__form__col form__col_x6 mmb5-md mmb5-sm">
                        {{ form_row(form.remove_source, removeElementOptions) }}
                    </div>
                </fieldset>
            {% endif %}
        </div>
    </div>

    {{ block_widget(block) }}
{%- endblock %}
