{% block _checkout_form_fields_widget -%}
    {% set workflowItem = checkout.workflowItem %}
    <div data-page-component-module="oroui/js/app/components/view-component"
         data-page-component-options="{{ {
             view: 'orob2bcheckout/js/app/views/address-view',
             selectors: {
                 address: '#' ~ form.shipping_address.accountAddress.vars.id,
                 region: '#' ~ form.shipping_address.region.vars.id,
                 fieldsContainer: '#checkout-address-fields-container'
             }
         }|json_encode }}">
        {{ form_row(form.shipping_address.accountAddress) }}
        {% set hasCustomAddress = false %}
        {% if form.shipping_address.id.vars.value %}
            {% set hasCustomAddress = not form.shipping_address.vars.value.accountUserAddress and not form.shipping_address.vars.value.accountAddress %}
        {% endif %}
        <div id="checkout-address-fields-container" class="{% if not hasCustomAddress %}hidden{% endif %}">
            <fieldset class="checkout__form__row">
                {{ form_row(form.shipping_address.label, {'attr': {'placeholder': 'Enter address label'}, 'parentClass': 'form__col_x12'}) }}
            </fieldset>

            <fieldset class="checkout__form__row">
                <div class="checkout__form__col form__col_x8">
                    {{- form_label(form.shipping_address.namePrefix, form.shipping_address.namePrefix.vars.label, {'label_attr': {'class': 'checkout__form__label checkout__form__label_additional'}}) -}}
                    {{- form_widget(form.shipping_address.namePrefix, {'attr': {'placeholder': 'orob2b.checkout.workflow.b2b_flow_checkout.form.placeholder.name.prefix'|trans}}) -}}
                    {{- form_errors(form.shipping_address.namePrefix) -}}
                </div>
            </fieldset>

            <fieldset class="checkout__form__row">
                {{ form_row(form.shipping_address.firstName, {'attr': {'placeholder': 'orob2b.checkout.workflow.b2b_flow_checkout.form.placeholder.name.first_name'|trans}}) }}
                {{ form_row(form.shipping_address.middleName, {'attr': {'placeholder': 'orob2b.checkout.workflow.b2b_flow_checkout.form.placeholder.name.middle_name'|trans}}) }}
            </fieldset>
            <fieldset class="checkout__form__row">
                {{ form_row(form.shipping_address.lastName, {'attr': {'placeholder': 'orob2b.checkout.workflow.b2b_flow_checkout.form.placeholder.name.last_name'|trans}}) }}
                {{ form_row(form.shipping_address.nameSuffix, {'attr': {'placeholder': 'orob2b.checkout.workflow.b2b_flow_checkout.form.placeholder.name.sufix'|trans}}) }}
            </fieldset>

            <fieldset class="checkout__form__row">
                {{ form_row(form.shipping_address.organization, {'attr': {'placeholder': 'Enter your organization'}, 'parentClass': 'form__col_x12'}) }}
            </fieldset>

            <fieldset class="checkout__form__row">
                <div class="checkout__form__col form__col_x6">
                    {{- form_label(form.shipping_address.phone, form.shipping_address.phone.vars.label, {'label_attr': {'class': 'checkout__form__label checkout__form__label_additional'}}) -}}
                    {{- form_widget(form.shipping_address.phone, {'attr': {'placeholder': 'orob2b.checkout.workflow.b2b_flow_checkout.form.placeholder.phone.prefix'|trans}}) -}}
                    {{- form_errors(form.shipping_address.phone) -}}
                </div>
            </fieldset>

            <fieldset class="checkout__form__row">
                {{ form_row(form.shipping_address.street, {'attr': {'placeholder': 'Enter address label'}}) }}
                {{ form_row(form.shipping_address.street2, {'attr': {'placeholder': 'Enter address2 label'}}) }}
            </fieldset>
            <fieldset class="checkout__form__row">
                {{ form_row(form.shipping_address.city, {'attr': {'placeholder': 'Enter address label'}, 'parentClass': 'form__col_x12'}) }}
            </fieldset>
            <fieldset class="checkout__form__row">
                {{ form_row(form.shipping_address.country) }}
                {{ form_row(form.shipping_address.region) }}
            </fieldset>

            <fieldset class="checkout__form__row">
                <div class="checkout__form__col col-zip">
                    {{- form_label(form.shipping_address.postalCode, form.shipping_address.postalCode.vars.label, {'label_attr': {'class': 'checkout__form__label checkout__form__label_additional'}}) -}}
                    {{- form_widget(form.shipping_address.postalCode, {'attr' : {'placeholder': 'orob2b.checkout.workflow.b2b_flow_checkout.form.placeholder.address.zip'|trans}}) -}}
                </div>
                <div class="checkout__form__col form__col_x8" style="clear: both">
                    {{- form_errors(form.shipping_address.postalCode) -}}
                </div>
            </fieldset>

            <fieldset class="checkout__form__row">
                {{ form_row(form.save_shipping_address) }}
            </fieldset>

            <fieldset class="hidden">
                {{ form_widget(form.shipping_address.id) }}
                {{ form_widget(form.shipping_address.region_text) }}
            </fieldset>
        </div>

        {% if workflowItem.data.get('billing_address_has_shipping') %}
        <fieldset class="checkout__form__row">
            {{ form_row(form.ship_to_billing_address) }}
        </fieldset>
        {% endif %}
    </div>
{%- endblock %}
