{% block _checkout_form_fields_widget -%}
    {% set workflowItem = checkout.workflowItem %}
    <div data-page-component-module="oroui/js/app/components/view-component"
         data-page-component-options="{{ {
             view: 'orob2bcheckout/js/app/views/address-view',
             selectors: {
                 address: '#' ~ form.shipping_address.accountAddress.vars.id,
                 region: '#' ~ form.shipping_address.region.vars.id,
                 fieldsContainer: '#checkout-address-fields-container'
             }
         }|json_encode }}">
        {{ form_row(form.shipping_address.accountAddress) }}
        {% set hasCustomAddress = false %}
        {% if form.shipping_address.id.vars.value %}
            {% set hasCustomAddress = not form.shipping_address.vars.value.accountUserAddress and not form.shipping_address.vars.value.accountAddress %}
        {% endif %}
        <div id="checkout-address-fields-container" class="{% if not hasCustomAddress %}hidden{% endif %}">
            <fieldset class="checkout__form__row">
                {{ form_row(form.shipping_address.label, {'attr': {'placeholder': 'Enter address label'}, 'parentClass': 'form__col_x12'}) }}
            </fieldset>
            <fieldset class="checkout__form__row">
                {{ form_row(form.shipping_address.namePrefix, {'attr': {'placeholder': 'Enter your name prefix'}}) }}
                {{ form_row(form.shipping_address.middleName, {'attr': {'placeholder': 'Enter your middle name'}}) }}
                {{ form_row(form.shipping_address.firstName, {'attr': {'placeholder': 'Enter your first name'}}) }}
                {{ form_row(form.shipping_address.lastName, {'attr': {'placeholder': 'Enter your last name'}}) }}
                {{ form_row(form.shipping_address.nameSuffix, {'attr': {'placeholder': 'Enter your name sufix'}}) }}
            </fieldset>
            <fieldset class="checkout__form__row">
                {{ form_row(form.shipping_address.organization, {'attr': {'placeholder': 'Enter your organization'}, 'parentClass': 'form__col_x12'}) }}
            </fieldset>
            <fieldset class="checkout__form__row">
                {{ form_row(form.shipping_address.street, {'attr': {'placeholder': 'Enter address label'}}) }}
                {{ form_row(form.shipping_address.street2, {'attr': {'placeholder': 'Enter address2 label'}}) }}
            </fieldset>
            <fieldset class="checkout__form__row">
                {{ form_row(form.shipping_address.city, {'attr': {'placeholder': 'Enter address label'}, 'parentClass': 'form__col_x12'}) }}
            </fieldset>
            <fieldset class="checkout__form__row">
                {{ form_row(form.shipping_address.country) }}
                {{ form_row(form.shipping_address.region) }}
            </fieldset>

            <fieldset class="checkout__form__row">
                {{ form_row(form.shipping_address.postalCode, {'attr': {'placeholder': 'Zip'}, 'parentClass': 'col-zip'}) }}
            </fieldset>
            <fieldset class="checkout__form__row">
                {{ form_row(form.save_shipping_address) }}
            </fieldset>

            <fieldset class="hidden">
                {{ form_widget(form.shipping_address.id) }}
                {{ form_widget(form.shipping_address.region_text) }}
            </fieldset>
        </div>

        {% if workflowItem.data.get('billing_address_has_shipping') %}
        <fieldset class="checkout__form__row">
            {{ form_row(form.ship_to_billing_address) }}
        </fieldset>
        {% endif %}
    </div>
{%- endblock %}
