{% block _checkout_sidebar_widget %}
    {% set attr = attr|merge({class: attr.class|default('') ~ " checkout-sidebar"}) %}
    <div {{ block('block_attributes') }}>
        <ul class="checkout-navigation">
            {% set currentStep = checkout.workflowStep %}
            {% set isComplete = true %}
            {% for key, step in steps %}
                {% set pageNum = key+1 %}
                {% set isCurrent = currentStep.name == step.name %}
                {% if isCurrent %}
                    {% set isComplete = false %}
                {% endif %}
                <li {{ isComplete ? 'class="past-step"' : '' }}>
                    {% set badgeClass = 'badge_ll_gray' %}
                    {% if isComplete %}
                        {% set badgeClass = 'badge_complete' %}
                    {% elseif isCurrent %}
                        {% set badgeClass = 'badge_orange' %}
                    {% endif %}
                    <span class="badge badge_xmd badge_circle {{ badgeClass }}">
                        {% if isComplete %}
                            <i class="icon-check"></i>
                        {% else %}
                            {{ pageNum }}
                        {% endif %}
                    </span>
                    <h3 class="checkout-navigation__title">{{ step.label|trans }}</h3>
                    {% set informationBlockId = step.name ~'_information' %}
                    {% if block[informationBlockId] is defined %}
                        <div class="checkout-navigation__content">
                            {{ block_widget(block.offsetGet(informationBlockId), {'checkout': checkout}) }}
                        </div>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}

{% block _enter_billing_address_information_widget %}
    {% if checkout.billingAddress %}
        <div>{{ checkout.billingAddress|oro_format_address }}</div>
    {% endif %}
{% endblock %}

{% block _enter_shipping_address_information_widget %}
    {% if checkout.shippingAddress %}
        <div>{{ checkout.shippingAddress|oro_format_address }}</div>
    {% endif %}
{% endblock %}

{% block _enter_shipping_method_information_widget %}
    {% if checkout.shippingMethod %}
        <div>shipping method information</div>
    {% endif %}
{% endblock %}

{% block _enter_payment_information_widget %}
    {% if checkout.paymentMethod %}
        <div>payment method information</div>
    {% endif %}
{% endblock %}

{% block _place_order_information_widget %}
{% endblock %}
