{% block attribute_group_rest_widget %}
    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block attribute_group_rest_attribute_group_widget %}
    {% set content = block_widget(block) %}
    {% if content|trim|length > 0 %}
    <section {{ block('block_attributes') }} class="product-view__attribute-box">
        {{ content|raw }}
    </section>
    {% endif %}
{% endblock %}

{% block _line_item_form_shopping_lists_widget %}
    {% set attr = layout_attr_defaults(attr, {
    '~class': " shopping-lists__wrapper form__col "
    }) %}
    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block attribute_label_widget %}
    {% if label|trans|first != '_' %}
        <h2 class="product-view__attribute-box-title">{{ label|trans }}</h2>
    {% endif %}
{% endblock %}

{% block _product_main_container_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': " product-view__product-main-container "
    }) %}
    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _product_aside_container_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': " product-view__product-aside-container "
    }) %}
    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}
