{% import 'OroUIBundle::macros.html.twig' as UI %}
{% import 'OroProductBundle::image_macros.html.twig' as Image %}

{% set lineItems = record.getValue('lineItems') %}
{% set firstLineItem = lineItems|first %}
{% set mainProduct = firstLineItem.parentProduct|default(firstLineItem.product) %}

{% set productImageData = mainProduct.imagesByType('listing').first.image|default(null) %}

<div {% if productImageData %}
    {{ UI.attributes({
        'data-page-component-module': 'orofrontend/js/app/components/popup-gallery-widget',
        'data-page-component-options': {
            ajaxMode: true,
            ajaxRoute: 'oro_product_frontend_ajax_images_by_id',
            id: mainProduct.id,
            galleryFilter: 'product_gallery_popup',
            alt: mainProduct.names|localized_value
        }|json_encode
    }) }}
{% endif %}>
    <div class="product-item__image-holder" data-trigger-gallery-open="true" style="float: left;">
        <picture class="product-item__preview-picture"
                 data-page-component-module="oroui/js/app/components/view-component"
                 data-page-component-options="{{ {
                     view: 'orofrontend/js/app/views/object-fit-polyfill-view'
                 }|json_encode }}"
        >
            {{ Image.image(productImageData, 'product_small', {
                class: 'product-item__preview-image',
                alt: mainProduct.names|localized_value|e
            }) }}
        </picture>
    </div>
</div>

<h5>
    <a href="{{ path('oro_product_frontend_product_view', {'id': mainProduct.id}) }}">{{ mainProduct.names|localized_value|e }}</a>
</h5>

{% if firstLineItem.parentProduct is not empty %}
    {% set configurableProducts = record.getValue('configurableProducts') %}
    <br>
    <br>
    <br>
    {% for lineItem in lineItems %}
        <div>
            {% for field in configurableProducts[lineItem.product.id] ?? [] %}
                <span>{{ field.label|trans }}: {{ field.value }}</span>{% if not loop.last %}, {% endif %}
            {% endfor %}
        </div>
        <div class="shopping-list-line-items__note">
            {{ lineItem.notes }}
        </div>
        {% if not loop.last %}
            <hr>
        {% endif %}
    {% endfor %}
{% else %}
    <span class="shopping-list-line-items__note">
        {{ firstLineItem.notes }}
    </span>
{% endif %}
