{% macro addToCurrentButton(options) %}
    {% import _self as buttons %}
    {% set options = {
        defaultLabel: 'orob2b.shoppinglist.entity_label'|trans,
        actionLabel: 'orob2b.shoppinglist.actions.add_to_shopping_list'|trans
    }|merge(options) %}
    {{ buttons.getButton(options) }}
{% endmacro %}

{% macro addToButton(options) -%}
    {% import _self as buttons %}
    {% set options = {
        actionLabel: 'orob2b.shoppinglist.actions.add_to_shopping_list'|trans
    }|merge(options) %}
    {{ buttons.getButton(options) }}
{% endmacro %}

{% macro addToNewButton(options) %}
    {% import _self as buttons %}
    {% set dataAttributes = options.dataAttributes|merge({
        intention: 'new'
    }) %}
    {% set options = {
        actionLabel: 'orob2b.shoppinglist.actions.add_to_new_shopping_list'|trans
    }|merge(options)|merge({
        dataAttributes: dataAttributes
    }) %}
    {{ buttons.getButton(options) }}
{% endmacro %}

{% macro buttonTemplate(options) %}
    {% import 'OroB2BFrontendBundle:layouts/default:utils.html.twig' as utils %}
    {% import _self as buttons %}
    {{ utils.underscoreRaw(buttons.addToCurrentButton({
        shoppingList: {
            id: '<%= id %>',
            label: '<%= label %>'
        }
    }|merge(options))) }}
{% endmacro %}

{% macro getButton(options) %}
    {% import 'OroUIBundle::macros.html.twig' as UI %}

    {% set options = {
        shoppingList: null,
        defaultLabel: '',
        aCss: ''
    }|merge(options) %}

    {% set shoppingListId = options.shoppingList ? options.shoppingList.id : null %}
    {% set shoppingListLabel = options.shoppingList ? options.shoppingList.label : options.defaultLabel %}

    {% set dataAttributes = options.dataAttributes|merge({
        shoppinglist: {
            id: shoppingListId,
            label: shoppingListLabel
        }
    }) %}

    {% set buttonOptions = {
        'dataAttributes': dataAttributes,
        'aCss': 'direct-link add-to-shopping-list-button ' ~ options.aCss,
        'dataId': shoppingListId,
        'label' : options.actionLabel|replace({
            '{{ shoppingList }}': shoppingListLabel
        })
    } %}
    {% if options.dataUrl %}
        {% set buttonOptions = buttonOptions|merge({
            'dataUrl': options.dataUrl,
        }) %}
    {% endif %}
    {% if options.pageComponent is defined %}
        {% set buttonOptions = buttonOptions|merge({
            'pageComponent': options.pageComponent,
        }) %}
    {% endif %}

    {{ UI.clientButton(buttonOptions) }}
{% endmacro %}

{% macro getButtonsHtml(options) %}
    {% import 'OroUIBundle::macros.html.twig' as UI %}
    {% import _self as buttons %}
    <div class="btn-group"
         {{ UI.renderPageComponentAttributes({
             module: options.componentModule|default('orob2bshoppinglist/js/app/views/product-add-to-shopping-list-view'),
             options: {
                 buttonTemplate: buttons.buttonTemplate(options.current),
                 removeButtonTemplate: options.remove is defined ? buttons.buttonTemplate(options.remove),
             }|merge(options.componentOptions|default({}))
         }) }}
        >
        {% if options.shoppingLists is not empty %}
            {% set existingShoppingLists = [] %}
            {% for shoppingList in options.shoppingLists %}
                {% if shoppingList.current %}
                    {{ buttons.addToCurrentButton(options.current|merge({shoppingList: shoppingList})) }}
                {% else %}
                    {%  set existingShoppingLists = existingShoppingLists|merge([shoppingList]) %}
                {% endif %}
            {% endfor %}
            {% for shoppingList in existingShoppingLists %}
                {{ buttons.addToButton(options.existing|merge({shoppingList: shoppingList})) }}
            {% endfor %}
            {{ buttons.addToNewButton(options.new) }}
        {% else %}
            {% set aCss = options.singleButtonACss is defined ? options.singleButtonACss : "" %}
            {{ buttons.addToCurrentButton(options.current|merge({shoppingList: null, aCss: aCss})) }}
        {% endif %}
    </div>
{% endmacro %}

