{% extends 'OroUIBundle:actions:view.html.twig' %}
{% import 'OroDataGridBundle::macros.html.twig' as dataGrid %}

{% oro_title_set({params : {"%label%": entity.label }}) %}

{% block pageHeader %}
    {% set breadcrumbs = {
        'entity': entity,
        'indexPath': path('orob2b_shopping_list_frontend_index'),
        'indexLabel': 'orob2b.shoppinglist.entity_plural_label'|trans,
        'entityTitle': entity.label|default('N/A'|trans)
    } %}
    {{ parent() }}
{% endblock pageHeader %}

{% block navButtons %}
    {% if is_granted('orob2b_shoppinglist_frontend_shoppinglist_createrfp') %}
        {% set formCreateRfpAction = path('orob2b_shoppinglist_frontend_shoppinglist_createrfp', { 'id': entity.id }) %}
        <form id="{{ formCreateRfp.vars.id }}" class="pull-left" name="{{ formCreateRfp.vars.name }}" action="{{ formCreateRfpAction }}" method="post">
            {{ form_widget(formCreateRfp) }}
            <button type="submit" class="no-hash btn">
                <i class="icon-edit hide-text"></i>{{ 'orob2b.frontend.shoppinglist.btn.request_quote_create_rfp'|trans }}
            </button>
        </form>
    {% endif %}
    {% if resource_granted('EDIT', entity) %}
        {{ UI.editButton({
            'path' : path('orob2b_shopping_list_frontend_update', { 'id': entity.id }),
            'entity_label': 'orob2b.shoppinglist.entity_label'|trans
        }) }}
        {% if not entity.current %}
            {{ UI.editButton({
                'path' : path('orob2b_shopping_list_frontend_set_current', { 'id': entity.id }),
                'entity_label': 'orob2b.shoppinglist.entity_label'|trans,
                'label': 'orob2b.shoppinglist.actions.set_current'|trans
            }) }}
        {% endif %}
    {% endif %}
    {% if resource_granted('DELETE', entity) %}
        {{ UI.deleteButton({
            'dataUrl': path('orob2b_api_delete_shoppinglist', {'id': entity.id}),
            'dataRedirect': path('orob2b_shopping_list_frontend_index'),
            'aCss': 'no-hash remove-button',
            'dataId': entity.id,
            'id': 'btn-remove-account',
            'entity_label': 'orob2b.shoppinglist.entity_label'|trans
        }) }}
    {% endif %}
{% endblock navButtons %}

{% block content_data %}
    {% set shoppingListInformationWidget %}
        {{ oro_widget_render({
            'widgetType': 'block',
            'title': 'orob2b.shoppinglist.widgets.shopping_list_information'|trans,
            'url': path('orob2b_shopping_list_frontend_info', {id: entity.id})
        }) }}
    {% endset %}

    {% set generalSectionBlocks = [{'data' : [shoppingListInformationWidget]}]%}

    {% set dataBlocks = [
        {
            'title': 'orob2b.shoppinglist.sections.general'|trans,
            'class': 'active',
            'subblocks': generalSectionBlocks
        }
    ] %}

    {% set dataBlocks = dataBlocks|merge([
        {
            'title' : 'orob2b.shoppinglist.lineitem.entity_plural_label'|trans,
            'subblocks': [
                {
                    'title' : '',
                    'useSpan': false,
                    'data' : [dataGrid.renderGrid('frontend-shopping-list-line-items-grid', {shopping_list_id: entity.id}, { cssClass: 'inner-grid' })]
                }
            ]
        }
    ]) %}

    {% set id = 'shopping-list-frontend-view' %}
    {% set data = {'dataBlocks': dataBlocks} %}

    {{ parent() }}
{% endblock content_data %}
