{% set formCreateRfpAction = path('orob2b_rfp_frontend_createfromshoppinglist', { 'id': entity.id }) %}
<form id="{{ formCreateRfp.vars.id }}" class="pull-left" name="{{ formCreateRfp.vars.name }}" action="{{ formCreateRfpAction }}" method="post">
    <div class="btn-group">
        {{ form_widget(formCreateRfp) }}
        <button type="submit" class="no-hash btn">
            <i class="icon-edit hide-text"></i>{{ 'orob2b.frontend.rfp.btn.request_create_from_shoppinglist'|trans }}
        </button>
    </div>
</form>
