{% block _quick_add_form_start_widget %}
    {% set pageComponentOptions = {
        'componentSelector': '#' ~ form.component.vars.id,
        'additionalSelector': '#' ~ form.additional.vars.id,
        'componentPrefix': 'quick-add-import'
    } %}
    {% set attr = {
        'data-page-component-module': 'orob2bproduct/js/app/components/quick-add-component',
        'data-page-component-options': pageComponentOptions|json_encode
    }|merge(attr) %}
    {{ block('form_start_widget') }}
{% endblock %}

{% block _quick_add_import_validation_widget %}
    {% set widgetOptions = {
        _wid: app.request.get('_wid')
    } %}
    <div id="import-validation"
         data-page-component-module="orob2bproduct/js/app/components/quick-add-import-validation-component"
         data-page-component-options="{{ widgetOptions|json_encode }}">
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _quick_add_import_validation_items_table_widget %}
    <table>
        <thead>
            <tr>
                <th></th>
                <th>{{ block_label(block) }}</th>
            </tr>
        </thead>
        <tbody>{{ block_widget(block) }}</tbody>
    </table>
{% endblock %}

{% block _quick_add_import_validation_total_items_count_widget %}
    <tr>
        <td>{{ block_label(block) }}</td>
        <td>{{ collection.count }}</td>
    </tr>
{% endblock %}

{% block _quick_add_import_validation_valid_items_count_widget %}
    <tr>
        <td>{{ block_label(block) }}</td>
        <td>{{ collection.validRows|length }}</td>
    </tr>
{% endblock %}

{% block _quick_add_import_validation_invalid_items_count_widget %}
    <tr>
        <td>
            {% if collection.invalidRows|length %}
                <a href="javascript: void(0)" class="error-toggle">{{ block_label(block) }}</a>
            {% else %}
                {{ block_label(block) }}
            {% endif %}
        </td>
        <td>{{ collection.invalidRows|length }}</td>
    </tr>
{% endblock %}

{% block _quick_add_import_validation_invalid_items_widget %}
    {% if collection.invalidRows|length %}
        <div class="import-errors">
            <ol>
                {% for invalidRow in collection.invalidRows %}
                    <li>
                        {% if invalidRow.isComplete and invalidRow.product is empty %}
                            {{ 'orob2b.product.frontend.quick_add.import_validation.validator.not_found'
                            |trans({'%sku%' : invalidRow.sku}) }}
                        {% else %}
                            {{ 'orob2b.product.frontend.quick_add.import_validation.validator.invalid_format'
                            |trans({'%index%' : invalidRow.index}) }}
                        {% endif %}
                    </li>
                {% endfor %}
            </ol>
            <div class="clearfix">
                <div class="pull-right">
                    <a href="javascript:void(0);" class="error-toggle">{{ 'Hide'|trans }}</a>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block _quick_add_form_buttons_widget %}
    <button data-url="{{ backToUrl }}" class="btn back-action">Back</button>
    {% placeholder orob2b_product_quick_add_buttons %}
{% endblock %}
