{% block _main_menu_shopping_lists_wrapper_widget %}
    {% set attr = {
        'data-page-component-module': 'orob2bshoppinglist/js/app/components/shoppinglist-widget-view-component',
        'data-page-component-options': {
            view: 'oroui/js/app/views/layout-subtree-view',
            rootId : block.vars.id,
            reloadEvents: ['shopping-list:created', 'shopping-list:updated', 'frontend:item:delete'],
            eventChannelId: 'shopping-list-title'
        },
        'data-dropdown-trigger': true
    }|merge(attr|merge({
        class: attr.class|default('') ~ " top-nav__list__item top-nav__list__item_gray-bg shopping-lists-frontend-widget"
    })) %}

    <li {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </li>
{% endblock %}

{% block _main_menu_shopping_lists_widget_widget %}
    <div class="cart-widget__content">
        <span class="badge badge_md badge_circle badge_orange badge_i-block cart-widget__clipboard">
            <i class="cf-clipboard"></i>
        </span>
        <span class="cart-widget__list-trigger">
            <span class="cart-widget-text">{{ 'orob2b.frontend.shoppinglist.view.entity.label'|transchoice(shoppingLists|length)|raw }} </span>
            <i class="cf-down-open-mini"></i>
        </span>
    </div>
    {{ block_widget(block) }}
{% endblock %}

{% block _main_menu_shopping_lists_widget_content_widget %}
    {% set attr = attr|merge({
        id: 'order-widget-dropdown',
        class: attr.class|default('') ~ " order-widget order-widget_dropdown-mode"
    }) %}

    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _main_menu_shopping_lists_widget_content_item_container_widget %}
    {% set attr = attr|merge({
        class: attr.class|default('') ~ " widget__container"
    }) %}

    <div {{ block('block_attributes') }}>
        {% for shoppingList in shoppingLists -%}
            {% do block|merge_context({
                shoppingList: shoppingList
            }) %}
            {{ block('container_widget') }}
        {%- endfor %}
    </div>
{% endblock %}

{% block _main_menu_shopping_lists_widget_content_item_widget %}
    {% set attr = attr|merge({
        class: attr.class|default('') ~ " order-widget__item"
    }) %}

    <div {{ block('block_attributes') }}>
        <div class="order-widget__order-name text-uppercase">
            <span class="shopping-list-label order-widget__order-name-span-{{ shoppingList.id }}">{{ shoppingList.label }}</span>
        </div>
        <table class="order-widget__table">
            <tbody>
            <tr>
                <td>{{ 'orob2b.frontend.shoppinglist.view.items.label'|transchoice(shoppingList.lineItems|length) }}</td>
                <td class="text-right">
                    {{ shoppingList.subtotal.amount|oro_format_currency({'currency': shoppingList.subtotal.currency}) }}
                </td>
            </tr>
            </tbody>
        </table>

        <a href="{{ path('orob2b_shopping_list_frontend_view', {id: shoppingList.id}) }}">
            <span>{{ 'orob2b.frontend.shoppinglist.view.view_details.label'|trans }} </span><i class="cf-right-open-mini"></i>
        </a>
    </div>
{% endblock %}

{% block _main_menu_shopping_lists_widget_content_new_item_btn_widget %}
    {% import 'OroUIBundle::macros.html.twig' as UI %}
    {{ UI.clientLink({
        'aCss': 'order-widget__create-btn',
        'iCss': 'cf-add_circle nmmt3-md',
        'label' : 'orob2b.frontend.shoppinglist.view.create_new_shopping_list.label'|trans,
        'widget' : {
            'type' : 'shopping-list-create',
            'options': {
                'createOnly': true
            }
        }
    }) }}
{% endblock %}
