{% block __matrix_grid_order__wrapper_widget %}
    {% set class_prefix = 'matrix-order-widget' %}

    {% if rows is not defined %}
        {% set rows = [
            form.rows|length,
            form.vars.columns|length
        ] %}
    {% endif %}

    {% do block|merge_context({
        class_prefix: class_prefix,
        form: form,
        product: product,
        shoppingList: shoppingList,
        rows: rows,
        totals: totals,
        prices: prices
    }) %}

    {% set attr = layout_attr_defaults(attr, {
        '~class': class_prefix,
        '~data-page-component-view': {
            view: 'oropricing/js/app/views/base-product-matrix-view',
            prices: prices,
            autoRender: true
        }
    }) %}

    <div{{ block('block_attributes') }}>
        {{ parent_block_widget(block) }}
    </div>
{% endblock %}

{% block __matrix_grid_order__header_wrapper_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' product-popup__header',
        'data-dialog-extra-header-content': ''
    }) %}
    <div {{ block('block_attributes') }}>
        {{ parent_block_widget(block) }}
    </div>
{% endblock %}

{% block __matrix_grid_order__header_product_picture_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' product-item product-popup__header-img',
    }) %}
    <div {{ block('block_attributes') }}>
        <div class="product-item__image-holder--aspect-ratio product-item__image-holder--tiny">
            <div class="product-item__preview">
                <picture class="product-item__preview-picture product-item__preview-picture--tiny">
                    {% set productImage = product.imagesByType('listing').first.image|default(null) %}
                    {% set productImageUrl = product_filtered_image(productImage, 'product_small') %}
                    <img src="{{ productImageUrl }}" alt="{{ product.names|localized_value|e }}" class="product-item__preview-image cover-img">
                </picture>
            </div>
        </div>
    </div>
{% endblock %}

{% block __matrix_grid_order__header_product_attributes_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' product-popup__header-attributes',
    }) %}

    <div {{ block('block_attributes') }}>
        {{ parent_block_widget(block) }}
    </div>
{% endblock %}

{% block __matrix_grid_order__header_product_name_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' product-popup__header-title h3',
    }) %}

    <p {{ block('block_attributes') }}>
        {{ product.names|localized_value|e }}
    </p>
{% endblock %}

{% block __matrix_grid_order__header_product_sku_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' product-popup__header-sku',
    }) %}

    <div {{ block('block_attributes') }}>
        {{- product.sku|e -}}
    </div>
{% endblock %}

{% block __matrix_grid_order__form_start_widget %}
    {% set form_route_name = 'oro_shopping_list_frontend_matrix_grid_order' %}
    {% set form_route_parameters = form_route_parameters|merge({
        productId: product.id,
        shoppingListId: shoppingList is not empty ? shoppingList.id : null
    }) %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': " #{class_prefix}__form",
        'novalidate': 'novalidate'
    }) %}
    {{ parent_block_widget(block) }}
{% endblock %}

{% block __matrix_grid_order__form_summary_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': " #{class_prefix}__totals",
        'data-role': 'totals'
    }) %}

    <div{{ block('block_attributes') }}>
        {{ parent_block_widget(block) }}
    </div>
{% endblock %}

{% block __matrix_grid_order__form_end_widget %}
    {% if renderCache is not defined %}
        {% set renderCache %}
               {{ form_widget(form._token) }}
           {% endset %}
        {% do block|merge_context({
            renderCache: renderCache
        }) %}
    {% endif %}
    {{ renderCache }}

    {{ parent_block_widget(block) }}
{% endblock %}

{% block __matrix_grid_order__matrix_form_clear_button_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' btn--flat'
    }) %}

    {% if totals.quantity|default(0) == 0 %}
        {% set attr = layout_attr_defaults(attr, {
            '~class': ' disabled'
        }) %}
    {% endif %}

    {{ parent_block_widget(block) }}
{% endblock %}
