{% macro url(file, filter) -%}
    {%- if file is not null %}
        {{- filtered_image_url(file, filter) -}}
    {% else %}
        {{- _self.urlFromString('', filter) -}}
    {% endif %}
{%- endmacro -%}

{% macro urlFromString(file, filter) -%}
    {%- if file is empty %}
        {% set file = '/bundles/orob2bproduct/default/images/no_image.png' %}
    {% endif %}
    {{- file|imagine_filter(filter) -}}
{%- endmacro -%}

{% macro image(file, filter) -%}
    <img src="{{ _self.url(file, filter) }}"/>
{%- endmacro -%}

{% macro renderProductImages(productImages, imageTypes) %}
    {% import 'OroUIBundle::macros.html.twig' as UI %}
    <div class="image-collection view">
        <table class="table table-bordered table-condensed">
            <thead>
                <tr>
                    <th>{{ 'orob2b.product.productimage.file.label'|trans }}</th>
                    {% for imageType in imageTypes %}
                        <th class="text-center">{{ imageType.label|trans }}</th>
                    {% endfor %}
                </tr>
            </thead>

            <tbody>
                {% for productImage in productImages %}
                    <tr>
                        <td>
                            {{ oro_file_view(productImage, 'image', productImage.image, {'galleryId' : 'images'} ) }}
                        </td>

                        {% for imageType in imageTypes %}
                            <td class="text-center">
                                {% if productImage.hasType(imageType.name) %}
                                    <i class="icon-check"></i>
                                {% endif %}
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endmacro %}
