{% import 'OroDataGridBundle::macros.html.twig' as dataGrid %}

<div class="oro-tabs" id="categoryVisibilityTabs">

    <ul class="nav nav-tabs">
        <li class="active">
            <a href="#categoryVisibility" data-toggle="tab">
                {{ 'orob2b.account.categoryvisibility.entity_label'|trans }}
            </a>
        </li>
        <li>
            <a href="#AccountCategoryVisibility" data-toggle="tab">
                {{ 'orob2b.account.accountcategoryvisibility.entity_plural_label'|trans }}
            </a>
        </li>
        <li>
            <a href="#AccountGroupCategoryVisibility" data-toggle="tab">
                {{ 'orob2b.account.accountgroupcategoryvisibility.entity_plural_label'|trans }}
            </a>
        </li>
    </ul>

    <div class="tab-content" id="containerAlias">
        <div class="tab-pane active" id="categoryVisibility"><br>
            {{ form_row(form.categoryVisibility) }}
        </div>
        <div class="tab-pane" id="AccountCategoryVisibility">
            {{ form_row(form.visibilityForAccount, {'id': 'account-category-visibility-changeset'}) }}
            {{ dataGrid.renderGrid('account-category-visibility-grid', {category_id: entity.id}) }}
        </div>
        <div class="tab-pane" id="AccountGroupCategoryVisibility">
            {{ form_row(form.visibilityForAccountGroup, {'id': 'accountgroup-category-visibility-changeset'}) }}
            {{ dataGrid.renderGrid('account-group-category-visibility-grid', {category_id: entity.id}) }}
        </div>
    </div>

</div>
