{% import 'OroDataGridBundle::macros.html.twig' as dataGrid %}

<div class="oro-tabs" id="categoryVisibilityTabs">
    <ul class="nav nav-tabs">
        <li class="active">
            <a href="#categoryVisibility" data-toggle="tab">
                {{ 'oro.account.visibility.categoryvisibility.entity_label'|trans }}
            </a>
        </li>
        <li>
            <a href="#AccountGroupCategoryVisibility" data-toggle="tab">
                {{ 'oro.account.visibility.accountgroupcategoryvisibility.entity_label'|trans }}
            </a>
        </li>
        <li>
            <a href="#AccountCategoryVisibility" data-toggle="tab">
                {{ 'oro.account.visibility.accountcategoryvisibility.entity_label'|trans }}
            </a>
        </li>
    </ul>

    <div class="tab-content" id="containerAlias">
        <div class="tab-pane active" id="categoryVisibility"><br>
            {{ form_row(form.visibility.all) }}
        </div>
        <div class="tab-pane" id="AccountGroupCategoryVisibility">
            {{ form_row(form.visibility.accountGroup, {'id': 'accountgroup-category-visibility-changeset'}) }}
            {{ dataGrid.renderGrid('account-group-category-visibility-grid', {target_entity_id: entity.id}) }}
        </div>
        <div class="tab-pane" id="AccountCategoryVisibility">
            {{ form_row(form.visibility.account, {'id': 'account-category-visibility-changeset'}) }}
            {{ dataGrid.renderGrid('account-category-visibility-grid', {target_entity_id: entity.id}) }}
        </div>
    </div>

</div>
