{% block _product_prices_widget %}


    {% set minimumQuantities = {} %}
    {% for price in prices %}
        {% if minimumQuantities[price.unit.code] is not defined or price.quantity < minimumQuantities[price.unit.code] %}
            {% set minimumQuantities = minimumQuantities|merge({ (price.unit.code): price.quantity }) %}
        {% endif %}
    {% endfor %}

    {% set attr = attr|merge({
        'data-page-component-module': 'orob2bpricing/js/app/components/product-minimum-quantity-component',
        'data-page-component-options': {
            quantities: minimumQuantities,
        },
        class: attr.class|default('') ~ "product__qnty"
    }) %}

    <div {{ block('block_attributes') }}>

        <table class="table">
            <thead>
            <tr>
                <th style="width: 40%" class="text-center text-uppercase">qty</th>
                <th style="width: 60%" class="text-center">Unit Price</th>
            </tr>
            </thead>
            <tbody>
            {% set shownUnit = '' %}
            {% for price in prices %}
                {% if shownUnit != price.unit.code %}
                    {% set shownUnit = price.unit.code %}
                    <tr>
                        <td colspan="2" class="text-center">
                            {% if loop.index > 1 %}<br/>{% endif %}
                            <strong>{{ shownUnit|orob2b_format_product_unit_label|capitalize }}</strong>
                        </td>
                    </tr>
                {% endif %}
                <tr>
                    <td class="text-center">
                        {{ price.quantity }}
                    </td>
                    <td class="text-center">
                        {{ price.price|oro_format_price }}
                    </td>
                </tr>
            {% endfor %}
            {{ block_widget(block) }}
            </tbody>
        </table>
    </div>
{% endblock %}
