{% extends 'form_div_layout.html.twig' %}

{%- block form_label -%}
    {% set label_attr = label_attr|merge({
        class: [
            label_attr.class|default(''),
            "profile__form__label profile__form__label_additional"
            ]|join(' ')
        })
    %}

    {{ parent() }}
{%- endblock form_label -%}

{% block form_widget_simple %}
    {% set attr = attr|merge({
        class: [
            attr.class|default(''),
            'input input_md input_block profile__form__input'
        ]|join(' ')
    })
    %}
    {{ parent() }}
{% endblock %}

{%- block form_row -%}
    <div class="field {{ parentClass|default('') }}">
        {{- form_label(form) -}}
        {{- form_widget(form) -}}
        {{- form_errors(form) -}}
    </div>
{%- endblock form_row -%}

{% block widget_attributes %}
    {% if errors|length > 0 %}
        {% set attr = attr|merge({
            class: attr.class|default('') ~ ' input_error'
        }) %}
    {% endif %}
    {{ parent() }}
{% endblock widget_attributes %}

{%- block form_errors -%}
    {%- if errors|length > 0 -%}
        <div class="notification notification_xsm notification_error notification-radiused mmt5-md">
            <ul>
                {%- for error in errors -%}
                    <li><i class="cf-attention"></i><span class="mml5-md">{{ error.message }}</span></li>
                {%- endfor -%}
            </ul>
        </div>
    {%- endif -%}
{%- endblock form_errors -%}
