{% block _account_profile_edit_page_widget %}
    {% set attr = attr|merge({
        class: attr.class|default('') ~ " {{ class_prefix }} {{ class_prefix }}_full"
    }) %}
    <div{{ block('block_attributes') }}>{{ block_widget(block) }}</div>
{% endblock %}

{% block _account_profile_edit_form_start_widget %}
    {{ block_widget(block) }}
{% endblock %}

{% block _account_profile_edit_form_fields_widget %}
    <fieldset class="profile__form__fields_container">
        <fieldset class="profile__form__row">
            <legend>{{ 'oro.account.accountuser.profile.form.sections.profile_information.label'|trans }}</legend>
            <fieldset>
                <div class="profile__form__col form__col_x6 col_first">
                    {{ form_row(form.namePrefix, {'attr': {'placeholder': 'oro.account.form.placeholder.name_prefix'|trans}, 'parentClass': ''}) }}
                    {{ form_row(form.firstName, {'attr': {'placeholder': 'oro.account.form.placeholder.first_name'|trans}, 'parentClass': ''}) }}
                    {{ form_row(form.middleName, {'attr': {'placeholder': 'oro.account.form.placeholder.middle_name'|trans}, 'parentClass': ''}) }}
                    {{ form_row(form.lastName, {'attr': {'placeholder': 'oro.account.form.placeholder.last_name'|trans}, 'parentClass': ''}) }}
                    {{ form_row(form.nameSuffix, {'attr': {'placeholder': 'oro.account.form.placeholder.name_suffix'|trans}, 'parentClass': ''}) }}
                </div>
                <div class="profile__form__col form__col_x6 col_last">
                    {{ form_row(form.email, {'attr': {'placeholder': 'oro.account.form.placeholder.email'|trans}, 'parentClass': ''}) }}
                    {{ form_row(form.birthday, {'attr': {'placeholder': 'oro.account.form.placeholder.birthday'|trans}, 'parentClass': ''}) }}
                </div>
            </fieldset>
        </fieldset>

        <fieldset class="profile__form__row">
            <legend>{{ 'oro.account.accountuser.profile.form.sections.password.label'|trans }}</legend>
            <fieldset>
                {{ form_row(form.changePassword.currentPassword, {'attr': {'placeholder': 'oro.account.form.placeholder.current_password'|trans}, 'parentClass': 'field profile__form__col form__col_x6 col_first current_password'}) }}
            </fieldset>
            <fieldset>
                {{ form_row(form.changePassword.plainPassword.first, {'attr': {'placeholder': 'oro.account.form.placeholder.new_password'|trans}, 'parentClass': 'profile__form__col form__col_x6 col_first password_first'}) }}
                {{ form_row(form.changePassword.plainPassword.second, {'attr': {'placeholder': 'oro.account.form.placeholder.password_confirmation'|trans}, 'parentClass': 'profile__form__col form__col_x6 col_last password_second'}) }}
            </fieldset>
        </fieldset>
    </fieldset>
{% endblock %}

{% block _account_profile_edit_form_actions_widget %}
    {{ block_widget(block) }}
    <fieldset class="profile__form__row">
        <div class="profile__form__req-text"><sup>*</sup>
            {{ 'oro.checkout.workflow.b2b_flow_checkout.form.required.label'|trans }}
        </div>
    </fieldset>
{% endblock %}
