{% macro address_form(address_form, save_address_checkbox, hasCustomAddress, email_form, compact) %}
    {% import '@OroUI/macros.html.twig' as UI %}
    <div id="checkout-address-fields-container" class="grid{% if not hasCustomAddress %} hidden{% endif %}">
        {% if email_form %}
            <div class="{% if compact %}grid-col-12{% else %}grid-col-6 grid-col-mobile-landscape-12 grid-col-mobile-landscape-12{% endif %}">
                {{ form_row(email_form, {'attr': {'placeholder': 'oro.checkout.workflow.b2b_flow_checkout.form.placeholder.email'|trans}}) }}
            </div>
        {% endif %}
        <div class="grid grid-col-12" {{ UI.attributes(address_form.vars.attr) }}>
            <div class="{% if compact %}grid-col-12{% else %}grid-col-6 grid-col-mobile-landscape-12{% endif %}">
                {{ form_row(address_form.label, {'attr': {'placeholder': 'oro.checkout.workflow.b2b_flow_checkout.form.placeholder.address.label'|trans}}) }}
            </div>
            <div class="{% if compact %}grid-col-12{% else %}grid-col-6 grid-col-mobile-landscape-12{% endif %}">
                {{ form_row(address_form.namePrefix, {'attr': {'placeholder': 'oro.checkout.workflow.b2b_flow_checkout.form.placeholder.name.prefix'|trans}}) }}
            </div>

            <div class="{% if compact %}grid-col-12{% else %}grid-col-6 grid-col-mobile-landscape-12{% endif %}">
                {{ form_row(address_form.firstName, {'attr': {'placeholder': 'oro.checkout.workflow.b2b_flow_checkout.form.placeholder.name.first_name'|trans}}) }}
            </div>
            <div class="{% if compact %}grid-col-12{% else %}grid-col-6 grid-col-mobile-landscape-12{% endif %}">
                {{ form_row(address_form.middleName, {'attr': {'placeholder': 'oro.checkout.workflow.b2b_flow_checkout.form.placeholder.name.middle_name'|trans}}) }}
            </div>

            <div class="{% if compact %}grid-col-12{% else %}grid-col-6 grid-col-mobile-landscape-12{% endif %}">
                {{ form_row(address_form.lastName, {'attr': {'placeholder': 'oro.checkout.workflow.b2b_flow_checkout.form.placeholder.name.last_name'|trans}}) }}
            </div>
            <div class="{% if compact %}grid-col-12{% else %}grid-col-6 grid-col-mobile-landscape-12{% endif %}">
                {{ form_row(address_form.nameSuffix, {'attr': {'placeholder': 'oro.checkout.workflow.b2b_flow_checkout.form.placeholder.name.sufix'|trans}}) }}
            </div>

            <div class="{% if compact %}grid-col-12{% else %}grid-col-6 grid-col-mobile-landscape-12{% endif %}">
                {{ form_row(address_form.organization, {'attr': {'placeholder': 'oro.checkout.workflow.b2b_flow_checkout.form.placeholder.address.organization'|trans}}) }}
            </div>
            <div class="{% if compact %}grid-col-12{% else %}grid-col-6 grid-col-mobile-landscape-12{% endif %}">
                {{ form_row(address_form.phone, {'attr': {'placeholder': 'oro.checkout.workflow.b2b_flow_checkout.form.placeholder.address.phone'|trans}}) }}
            </div>

            <div class="{% if compact %}grid-col-12{% else %}grid-col-6 grid-col-mobile-landscape-12{% endif %}">
                {{ form_row(address_form.street, {'attr': {'placeholder': 'oro.checkout.workflow.b2b_flow_checkout.form.placeholder.address.street'|trans}}) }}
            </div>
            <div class="{% if compact %}grid-col-12{% else %}grid-col-6 grid-col-mobile-landscape-12{% endif %}">
                {{ form_row(address_form.street2, {'attr': {'placeholder': 'oro.checkout.workflow.b2b_flow_checkout.form.placeholder.address.street2'|trans}}) }}
            </div>

        {% if compact %}
            <div class="grid-col-12">
                {{ form_row(address_form.city, {'attr': {'placeholder': 'oro.checkout.workflow.b2b_flow_checkout.form.placeholder.address.city'|trans}}) }}
            </div>
            <div class="grid-col-12">
                {{ form_row(address_form.country) }}
            </div>
            <div class="grid-col-12">
                {{ form_row(address_form.region) }}
            </div>
            <div class="grid-col-6 grid-col-mobile-landscape-12 col-zip-error">
                {{ form_row(address_form.postalCode, {'attr' : {'placeholder': 'oro.checkout.workflow.b2b_flow_checkout.form.placeholder.address.zip'|trans}}) }}
            </div>
        {% else %}
            <div class="grid-col-6 grid-col-mobile-landscape-12">
                {{ form_row(address_form.city, {'attr': {'placeholder': 'oro.checkout.workflow.b2b_flow_checkout.form.placeholder.address.city'|trans}}) }}
            </div>
            <div class="grid-col-2 grid-col-tablet-6 grid-col-mobile-landscape-12">
                {{ form_row(address_form.country, {'placeholder': 'oro.checkout.workflow.b2b_flow_checkout.form.placeholder.country'|trans}) }}
            </div>
            <div class="grid-col-2 grid-col-tablet-6 grid-col-mobile-landscape-12">
                {{ form_row(address_form.region, {'placeholder': 'oro.checkout.workflow.b2b_flow_checkout.form.placeholder.region'|trans}) }}
            </div>
            <div class="grid-col-2 grid-col-tablet-6 grid-col-mobile-landscape-12 col-zip-error">
                {{ form_row(address_form.postalCode, {'attr' : {'placeholder': 'oro.checkout.workflow.b2b_flow_checkout.form.placeholder.address.zip'|trans}}) }}
            </div>
        {% endif %}

            <div class="grid-col-12">
                <div>{{ form_row(save_address_checkbox) }}</div>
            </div>

            <div class="hidden">
                {{ form_widget(address_form.id) }}
                {{ form_widget(address_form.region_text) }}
            </div>
        </div>
    </div>
{% endmacro %}
