{% block _checkout_form_fields_widget -%}
    {% from '@OroAddress/macros.html.twig' import renderAddress %}
    {% if workflowItem.data.get('disallow_billing_address_edit') %}
        {% set billingAddress = checkout.billingAddress %}
        <div class="grid">
            <div class="grid-col-6 grid-col-mobile-landscape-12">
                {{ renderAddress(checkout.billingAddress, true) }}
            </div>
        </div>
    {% else %}
        {% import '@OroCheckout/layouts/default/oro_checkout_frontend_checkout/templates/address.html.twig' as address %}
        {% set hasCustomAddress = false %}
        {% if form.billing_address.id.vars.value %}
            {% set hasCustomAddress = not form.billing_address.vars.value.customerUserAddress and not form.billing_address.vars.value.customerAddress %}
        {% endif %}
        {% set billingAddress = form.billing_address.vars.value %}
        <div class="grid" data-page-component-module="oroui/js/app/components/view-component"
             data-page-component-options="{{ {
                 view: 'orocheckout/js/app/views/address-view',
                 selectors: {
                     address: '#' ~ form.billing_address.customerAddress.vars.id,
                     region: '#' ~ form.billing_address.region.vars.id,
                     shipToBillingCheckbox: '#' ~ form.ship_to_billing_address.vars.id,
                     fieldsContainer: '#checkout-address-fields-container'
                 }
             }|json_encode }}">

            <div class="grid-col-6 grid-col-mobile-landscape-12">
                {{ form_row(form.billing_address.customerAddress) }}
            </div>

            <div class="grid-col-12">
                {{ address.address_form(form.billing_address, form.save_billing_address, hasCustomAddress, form.email) }}

                {% set hideShipping = true %}
                {% if billingAddress %}
                    {% set typedAddress = billingAddress.customerAddress %}
                    {% if typedAddress is empty %}
                        {% set typedAddress  = billingAddress.customerUserAddress %}
                    {% endif %}

                    {% set hideShipping = typedAddress is not empty and not typedAddress.hasTypeWithName('shipping')  %}
                {% endif %}

                {% if not workflowItem.data.get('disallow_shipping_address_edit') %}
                    <div data-ship-to-billing-container>
                        {{ form_row(form.ship_to_billing_address) }}
                    </div>
                {% endif %}
            </div>
        </div>
    {% endif %}

    {%  if  form.state_token is defined %}
        {{ form_row(form.state_token) }}
    {% endif %}
{%- endblock %}
