{% block _checkout_form_fields_widget -%}
    {% from '@OroAddress/macros.html.twig' import renderAddress %}
    {% import '@OroUI/layouts/macros.html.twig' as UI %}
    {% import '@OroUI/layouts/renderIcon.html.twig' as renderIcon %}
    {% if workflowItem.data.get('disallow_billing_address_edit') %}
        <div class="grid">
            <div class="grid-col-6 grid-col-mobile-landscape-12">
                {{ renderAddress(checkout.billingAddress, true) }}
            </div>
        </div>
    {% else %}
        {% import '@OroCheckout/layouts/default/oro_checkout_frontend_checkout/templates/address.html.twig' as address %}
        {% set addresses = form.billing_address.customerAddress.vars.choices %}
        {% set hasCustomAddress = checkout.customerUser == null or checkout.customerUser.isGuest or addresses|length <= 1 %}
        <div class="grid checkout-form__container" data-page-component-module="oroui/js/app/components/view-component"
             data-page-component-options="{{ {
                 view: 'orocheckout/js/app/views/address-view',
                 selectors: {
                     address: '#' ~ form.billing_address.customerAddress.vars.id,
                     region: '#' ~ form.billing_address.region.vars.id,
                     shipToBillingCheckbox: '#' ~ form.ship_to_billing_address.vars.id,
                     fieldsContainer: '#checkout-address-fields-container'
                 }
             }|json_encode }}">

            <div class="grid-col-6 grid-col-tablet-12">
                {% set renderedAddress = checkout.billingAddress ? checkout.billingAddress|oro_format_address(null, ', ') : 'N/A'|trans %}
                {{ form_row(form.billing_address.customerAddress, {
                    parentClass: 'checkout-form__customer-address',
                    attr: {
                        'data-new-address-label': renderedAddress,
                        'data-address-type': 'billing',
                    }
                }) }}
            </div>

            <div class="grid grid-columns-1 grid-col-12 checkout-form__billing-address">
                {% if hasCustomAddress %}
                    {{ address.address_form(form.billing_address, form.save_billing_address, form.email) }}
                {% endif %}

                {% if not workflowItem.data.get('disallow_shipping_address_edit') %}
                    <div class="selectable-group__item checkout-form__ship-to-billing-container" data-ship-to-billing-container>
                        {{ form_row(form.ship_to_billing_address) }}
                    </div>
                {% endif %}

                {% if hasCustomAddress != true and is_granted('oro_order_address_billing_allow_manual') %}
                    <div class="grid-col">
                        {{ UI.clientBtn({
                            'id': form.billing_address.customerAddress.vars.id ~ '-btn',
                            'btnCss': 'btn btn--flat checkout-form__add-address',
                            'label' : 'Add Address'|trans,
                            'icon': 'plus',
                            'pageComponent': {
                                'view': 'orocheckout/js/app/views/add-address-button-view',
                                'options': {
                                    fieldId: form.billing_address.customerAddress.vars.id,
                                    entityId: checkout.id,
                                    entityClass: oro_class_name(checkout),
                                    operations: {
                                        billing: 'b2b_flow_checkout_new_billing_address',
                                        shipping: 'b2b_flow_checkout_new_shipping_address'
                                    },
                                }
                            }
                        }) }}
                    </div>
                {% endif %}
            </div>
        </div>
    {% endif %}

    {% if form.state_token is defined %}
        {{ form_row(form.state_token) }}
    {% endif %}
{%- endblock %}
