{% block _checkout_form_fields_widget %}
    {% if form.customerConsents is defined %}{{ form_widget(form.customerConsents) }}{% endif %}
    {% if form.consents_available is defined %}{{ form_row(form.consents_available) }}{% endif %}
    {% if form.state_token is defined %}{{ form_row(form.state_token) }}{% endif %}
{% endblock %}

{% block _checkout_consent_container_widget %}
    {% set attr = layout_attr_defaults(attr, {
        'class': 'grid__row'
    }) %}

    <div {{ block('block_attributes') }}>
        <div class="grid__column">
            {{ parent_block_widget(block) }}
        </div>
    </div>
{% endblock %}

{% block _checkout_consent_message_widget %}
    {% set attr = layout_attr_defaults(attr, {
        'class': 'notification notification--success'
    }) %}

    {% if consents is empty %}
        <div {{ block('block_attributes') }}>
            <span class="notification__item">
                <i class="fa-check"></i>
                {{ 'oro.consent.frontend.checkout.form.messages.all_agreements_accepted'|trans }}
                {{ parent_block_widget(block) }}
            </span>
        </div>
    {% endif %}
{% endblock %}
