{% block _form_submit_wrapper_widget %}
    {% set attr = layout_attr_defaults(attr, {
    '~class': ' form-row'
    }) %}
    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _form_submit_widget %}
    {% set attr = layout_attr_defaults(attr, {
    '~class': '  button--large button--full-in-mobile btn btn--info'
    }) %}
    {{ block_widget(block, {attr: attr}) }}
{% endblock %}

{% block _page_main_content_widget %}
    {% set attr = layout_attr_defaults(attr, {
    '~class': ' page-main__content'
    }) %}
    <div{{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _registration_form_widget %}
    <div class="tab-pane" id="2">
        <div class="top-frame">
            {% set attr = layout_attr_defaults(attr, {
            '~class': ' register-form'
            }) %}
            {{ block_widget(block, {attr: attr}) }}
        </div>
    </div>
{% endblock %}

{% block _signin_tab_widget %}
    <div class="tab-pane active" id="1">
        <div class="top-frame">
            {{ block_widget(block, {attr: attr}) }}
        </div>
    </div>
{% endblock %}

{% block _tabs_widget %}
    <div class="oro-tabs">
        <ul class="nav nav-tabs">
            <li class="pull-left">
                <a href="#1" data-toggle="tab" data-role="tab-excluded">
                    {{ 'oro.customer.customeruser.profile.login'|trans }} &nbsp;
                </a>
            </li>
            <li class="pull-left">
                <a href="#2" data-toggle="tab" data-role="tab-filtered">
                    {{ 'oro.customer.customeruser.profile.create_an_customer'|trans }}
                </a>
            </li>
        </ul>
        <div class="tab-content">
            {{ block_widget(block, {attr: attr}) }}
        </div>
    </div>
{% endblock %}

{% block _continue_as_guest_button_widget %}
    {% if transitionData is defined and transitionData %}
        {% set transitionUrl = path(
        'oro_checkout_frontend_checkout',
        {
            id: checkout.id,
            transition: 'back_to_billing_address'
        })
        %}
        <form action="{{ transitionUrl }}" class="pull-right" style="margin-left: 300px">
            <button class="btn btn--info">
                {{ 'oro.checkout.workflow.b2b_flow_checkout.transition.continue_checkout_as_guest.label'|trans }}
            </button>
            <div>
                {{ 'oro.checkout.workflow.b2b_flow_checkout.transition.continue_checkout_as_guest.tooltip'|trans }}
            </div>
        </form>
    {% endif %}
{% endblock %}
