{% block _checkout_registration_form_start_widget %}
    {% set form_route_parameters = form_route_parameters|merge({'isRegistration': true}) %}
    {{ block_widget(block, {form_route_parameters: form_route_parameters}) }}
{% endblock %}

{% block _checkout_registration_consent_wrapper_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' grid-col-12 register-form-consent-wrapper'
    }) %}
    {{ parent_block_widget(block) }}
{% endblock %}

{% block _checkout_credentials_step_page_widget %}
    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _login_as_guest_section_widget %}
    <div class="grid grid-column-1 grid-row-gap-24">
        <div class="grid-col-12 grid grid-column-1 grid-row-gap-16 grid-place-items-start-center">
            <div class="grid-col-12 form-subtitle">{{ 'oro.checkout.workflow.b2b_flow_checkout.transition.login_checkout_as_guest.tooltip'|trans }}</div>
            <a class="grid-col-12" href="{{ path('oro_customer_customer_user_security_login') }}">{{ 'oro.checkout.workflow.b2b_flow_checkout.transition.login_checkout_as_guest.label'|trans }}</a>
        </div>
        <div class="grid-col-12 divider">{{ 'oro.checkout.workflow.b2b_flow_checkout.transition.continue_checkout_as_guest.divider'|trans }}</div>
    </div>
{% endblock %}

{% block _continue_as_guest_section_widget %}
    {% if transitionData is defined and transitionData %}
        {% set transitionUrl = path(
            'oro_checkout_frontend_checkout',
            {
                id: checkout.id,
                transition: transitionData.transition.name
            })
        %}
         <div class="grid grid-column-1 grid-row-gap-24">
            <div class="grid-col-12 grid grid-column-1 grid-row-gap-16 grid-place-items-start-center">
                <a class="grid-col-12" href="{{ transitionUrl }}" data-role="continue-as-guest">{{ 'oro.checkout.workflow.b2b_flow_checkout.transition.continue_checkout_as_guest.label'|trans }}</a>
                 <div class="grid-col-12 form-subtitle">{{ 'oro.checkout.workflow.b2b_flow_checkout.transition.continue_checkout_as_guest.tooltip'|trans }}</div>
             </div>
             <div class="grid-col-12 divider">{{ 'oro.checkout.workflow.b2b_flow_checkout.transition.continue_checkout_as_guest.divider'|trans }}</div>
         </div>
    {% endif %}
{% endblock %}
