{% block _checkout_credentials_container_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' checkout-credentials'
    }) %}
    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _form_submit_wrapper_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' form-row'
    }) %}
    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _form_submit_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' button--full-in-mobile btn btn--info'
    }) %}
    {{ block_widget(block, {attr: attr}) }}
{% endblock %}

{% block _page_main_content_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' page-main__content'
    }) %}
    <div{{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _registration_form_widget %}
    <div class="tab-pane{% if app.request.get('isRegistration') == true %} active{% endif %}" id="registration-form">
        <div class="checkout-credentials__form">
            {% set attr = layout_attr_defaults(attr, {
                '~class': ' register-form'
            }) %}
            {{ block_widget(block, {attr: attr}) }}
        </div>
    </div>
{% endblock %}

{% block _registration_form_start_widget %}
    {% set form_route_parameters = form_route_parameters|merge({'isRegistration': true}) %}
    {{ block_widget(block, {form_route_parameters: form_route_parameters}) }}
{% endblock %}

{% block _signin_tab_widget %}
    <div class="tab-pane{% if app.request.get('isRegistration') != true %} active{% endif %}" id="signin-form">
        <div class="checkout-credentials__form">
            {{ block_widget(block, {attr: attr}) }}
        </div>
    </div>
{% endblock %}

{% block _tabs_widget %}
    <div class="checkout-credentials__column">
            <ul class="checkout-credentials__tabs">
                <li class="checkout-credentials__tab-item{% if app.request.get('isRegistration') != true %} active{% endif %}">
                    <a href="#signin-form" data-toggle="tab" data-role="tab-excluded" class="link">
                        {{- 'oro.customer.customeruser.profile.login'|trans -}}
                    </a>
                </li>
                {% if feature_enabled('checkout_customer_users_registration') %}
                    <li class="checkout-credentials__tab-item{% if app.request.get('isRegistration') == true %} active{% endif %}">
                        <a href="#registration-form" data-toggle="tab" data-role="tab-filtered" class="link">
                            {{- 'oro.customer.customeruser.profile.create_an_customer'|trans -}}
                        </a>
                    </li>
                {% endif %}
            </ul>
        <div class="tab-content">
            {{ block_widget(block, {attr: attr}) }}
        </div>
    </div>
{% endblock %}

{% block _continue_as_guest_button_widget %}
    {% if transitionData is defined and transitionData %}
        {% set transitionUrl = path(
        'oro_checkout_frontend_checkout',
        {
            id: checkout.id,
            transition: transitionData.transition.name
        })
        %}
        <div class="checkout-credentials__column">
            <h3 class="title">{{ 'oro.checkout.system_configuration.groups.guest_checkout.title'|trans }}</h3>
            <div class="checkout-credentials__form">
                <form action="{{ transitionUrl }}">
                    <div class="checkout-credentials__button-set">
                        <div>
                            <button type="submit" class="btn btn--info">
                                {{ 'oro.checkout.workflow.b2b_flow_checkout.transition.continue_checkout_as_guest.label'|trans }}
                            </button>
                        </div>
                        <div>
                            {{ 'oro.checkout.workflow.b2b_flow_checkout.transition.continue_checkout_as_guest.tooltip'|trans }}
                        </div>
                    </div>
                </form>
            </div>
        </div>
    {% endif %}
{% endblock %}
