{% block _checkout_credentials_container_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' checkout-credentials'
    }) %}
    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _form_submit_wrapper_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' form-row'
    }) %}
    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _form_submit_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' button--full-in-mobile btn btn--info'
    }) %}
    {{ block_widget(block, {attr: attr}) }}
{% endblock %}

{% block _page_main_content_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' page-main__content'
    }) %}
    <div{{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _registration_form_widget %}
    <div class="tab-pane{% if app.request.get('isRegistration') == true %} active{% endif %}" id="registration-form" aria-labelledby="registration-form-tab">
        <div class="checkout-credentials__form">
            {% set attr = layout_attr_defaults(attr, {
                '~class': ' register-form'
            }) %}
            {{ block_widget(block, {attr: attr}) }}
        </div>
    </div>
{% endblock %}

{% block _registration_form_start_widget %}
    {% set form_route_parameters = form_route_parameters|merge({'isRegistration': true}) %}
    {{ block_widget(block, {form_route_parameters: form_route_parameters}) }}
{% endblock %}

{% block _signin_tab_widget %}
    <div class="tab-pane{% if app.request.get('isRegistration') != true %} active{% endif %}" id="signin-form" aria-labelledby="signin-form-tab">
        <div class="checkout-credentials__form">
            {{ block_widget(block, {attr: attr}) }}
        </div>
    </div>
{% endblock %}

{% block _tabs_widget %}
    <div class="checkout-credentials__column">
        <div class="tab-content nav">
            {{ block_widget(block, {attr: attr}) }}
        </div>
    </div>
{% endblock %}

{% block _signin_registration_tabs_widget %}
    <div id="signin-registration-tabs" class="tab-pane{% if (app.request.get('isRegistration') == true) or (app.request.get('isForgotPassword') != true and app.request.get('isCheckEmail') != true) %} active{% endif %}">
        <ul class="checkout-credentials__tabs nav" role="tablist">
            <li class="checkout-credentials__tab-item">
                <a id="signin-form-tab"
                   href="#signin-form"
                   class="link {% if app.request.get('isRegistration') != true %} active{% endif %}"
                   data-toggle="tab"
                   data-role="tab-excluded"
                   role="tab"
                   aria-controls="registration-form"
                   aria-selected="{% if app.request.get('isRegistration') != true %}true{% else %}false{% endif %}"
                >
                    {{- 'oro.customer.customeruser.profile.login'|trans -}}
                </a>
            </li>
            {% if feature_enabled('checkout_customer_users_registration') %}
                <li class="checkout-credentials__tab-item">
                    <a id="registration-form-tab"
                       href="#registration-form"
                       class="link {% if app.request.get('isRegistration') == true %} active{% endif %}"
                       data-toggle="tab"
                       data-role="tab-filtered"
                       role="tab"
                       aria-controls="registration-form"
                       aria-selected="{% if app.request.get('isRegistration') == true %}true{% else %}false{% endif %}"
                    >
                        {{- 'oro.customer.customeruser.profile.create_an_customer'|trans -}}
                    </a>
                </li>
            {% endif %}
        </ul>
        <div class="tab-content">
            {{ block_widget(block, {attr: attr}) }}
        </div>
    </div>
{% endblock %}

{% block _forgot_password_tabs_widget %}
    <div id="forgot-password-tabs" role="tab" aria-labelledby="forgot-password-tab" class="tab-pane{% if app.request.get('isForgotPassword') == true or app.request.get('isCheckEmail') == true %} active{% endif %}">
        <div class="tab-content">
            {{ block_widget(block, {attr: attr}) }}
        </div>
    </div>
{% endblock %}

{% block _continue_as_guest_button_widget %}
    {% if transitionData is defined and transitionData %}
        {% set transitionUrl = path(
        'oro_checkout_frontend_checkout',
        {
            id: checkout.id,
            transition: transitionData.transition.name
        })
        %}
        <div class="checkout-credentials__column">
            <h3 class="title">{{ 'oro.checkout.system_configuration.groups.guest_checkout.title'|trans }}</h3>
            <div class="checkout-credentials__form">
                <form action="{{ transitionUrl }}">
                    <div class="checkout-credentials__button-set">
                        <div>
                            <button type="submit" class="btn btn--info">
                                {{ 'oro.checkout.workflow.b2b_flow_checkout.transition.continue_checkout_as_guest.label'|trans }}
                            </button>
                        </div>
                        <div>
                            {{ 'oro.checkout.workflow.b2b_flow_checkout.transition.continue_checkout_as_guest.tooltip'|trans }}
                        </div>
                    </div>
                </form>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block _forgot_password_tab_widget %}
    <div class="tab-pane{% if app.request.get('isForgotPassword') == true or app.request.get('isCheckEmail') !=true %} active{% endif %}" id="forgot-password-form" role="tab">
        <div class="checkout-credentials__form">
            {% set attr = layout_attr_defaults(attr, {
                '~class': ' forgot-password-form--size-m'
            }) %}
            {{ block_widget(block, {attr: attr}) }}
        </div>
    </div>
{% endblock %}

{% block _forgot_password_form_start_widget %}
    {% set form_route_parameters = form_route_parameters|merge({'isForgotPassword': true}) %}
    {{ block_widget(block, {form_route_parameters: form_route_parameters}) }}
{% endblock %}

{% block _check_email_tab_widget %}
    <div class="tab-pane{% if app.request.get('isCheckEmail') == true %} active{% endif %}" role="tab" id="check-email">
        <div class="checkout-credentials__form">
            {% set attr = layout_attr_defaults(attr, {
                '~class': ' check-email'
            }) %}
            {{ block_widget(block, {attr: attr}) }}
        </div>
    </div>
{% endblock %}

{% block _check_email_description_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' notifications notifications--success'
    }) %}
    {{ block_widget(block, {attr: attr}) }}
{% endblock %}
