{% block oro_frontend_country_widget %}
    <div>
        {{ form_widget(form, {'class_prefix': 'checkout'}) }}
    </div>
{% endblock %}

{% block oro_frontend_region_widget %}
    {{ block('oro_region_widget') }}
{% endblock %}

{%- block form_row -%}
    <div class="grid__column grid__column--offset-y {{ parentClass|default('grid__column--6') }}">
        {{- form_label(form, null, {'class_prefix': 'checkout'}) -}}
        {{- form_widget(form, {'class_prefix': 'checkout'}) -}}
        {{- form_errors(form, {'class_prefix': 'checkout'}) -}}
    </div>
{%- endblock form_row -%}
