{% block _checkout_form_fields_widget %}
    <div class="hidden">
        {{ form_widget(form.payment_method) }}

        {% if form.payment_save_for_later is defined %}
            <div data-page-component-module="orocheckout/js/app/components/payment-save-for-later-component">
                {{ form_widget(form.payment_save_for_later) }}
            </div>
        {% endif %}

        {% if form.payment_validate is defined %}
            <div data-page-component-module="orocheckout/js/app/components/payment-validate-component">
                {{ form_widget(form.payment_validate) }}
            </div>
        {% endif %}
        {% if form.state_token is defined %}
            {{ form_row(form.state_token) }}
        {% endif %}
        {% if form.additional_data is defined %}
            <div data-page-component-module="orocheckout/js/app/components/payment-additional-data-component">
                {{ form_row(form.additional_data) }}
            </div>
        {% endif %}
    </div>
{% endblock %}
