{% block _checkout_form_fields_widget -%}
    {% from '@OroAddress/macros.html.twig' import renderAddress %}
    {% import '@OroUI/layouts/macros.html.twig' as UI %}
    {% import '@OroUI/layouts/renderIcon.html.twig' as renderIcon %}

    {% if workflowItem.data.get('disallow_shipping_address_edit') %}
        <fieldset class="grid-col-6 grid-col-mobile-landscape-12">
            {{ renderAddress(checkout.shippingAddress, true) }}
        </fieldset>
    {% else %}
        {% import '@OroCheckout/layouts/default/oro_checkout_frontend_checkout/templates/address.html.twig' as address %}
        {% set addresses = form.shipping_address.customerAddress.vars.choices %}
        {% set hasCustomAddress = checkout.customerUser == null or checkout.customerUser.isGuest or addresses|length <= 1 %}
        <div class="grid checkout-form__container" data-page-component-module="oroui/js/app/components/view-component"
             data-page-component-options="{{ {
                 view: 'orocheckout/js/app/views/address-view',
                 hideNewAddressForm: true,
                 selectors: {
                     address: '#' ~ form.shipping_address.customerAddress.vars.id,
                     region: '#' ~ form.shipping_address.region.vars.id,
                     fieldsContainer: '#checkout-address-fields-container',
                     shipToBillingCheckbox: '#' ~ form.ship_to_billing_address.vars.id,
                 }
             }|json_encode }}">

            <div class="grid-col-6 grid-col-tablet-12">
                {{ form_row(form.shipping_address.customerAddress, {
                    parentClass: 'checkout-form__customer-address'
                }) }}
            </div>

            <div class="grid-col-12">
                {% if workflowItem.data.get('billing_address_has_shipping') or checkout.shipToBillingAddress %}
                    <div class="selectable-group__item checkout-form__ship-to-billing-address">
                        {{ form_row(form.ship_to_billing_address) }}
                    </div>
                {% endif %}
            </div>

            <div class="grid-col-12">
                {{ address.address_form(form.shipping_address, form.save_shipping_address, hasCustomAddress, null, true) }}

                {%  if form.state_token is defined %}
                    {{ form_row(form.state_token) }}
                {% endif %}

                {% if hasCustomAddress != true and is_granted('oro_order_address_shipping_allow_manual') %}
                    <div class="grid-col">
                        {{ UI.clientBtn({
                            'id': form.shipping_address.customerAddress.vars.id ~ '-btn',
                            'btnCss': 'btn btn--flat',
                            'label' : 'Add Address'|trans,
                            'icon': 'plus',
                            'pageComponent': {
                                'view': 'orocheckout/js/app/views/add-address-button-view',
                                'options': {
                                    fieldId: form.shipping_address.customerAddress.vars.id,
                                    entityId: checkout.id
                                }
                            }
                        }) }}
                    </div>
                {% endif %}
            </div>
        </div>
    {% endif %}
{%- endblock %}
