{% block _checkout_form_fields_widget -%}
    {% from '@OroAddress/macros.html.twig' import renderAddress %}
    {% if workflowItem.data.get('disallow_shipping_address_edit') %}
        <fieldset class="grid-col-6 grid-col-mobile-landscape-12">
            {{ renderAddress(checkout.shippingAddress, true) }}
        </fieldset>
    {% else %}
        {% import '@OroCheckout/layouts/default/oro_checkout_frontend_checkout/templates/address.html.twig' as address %}
        {% set hasCustomAddress = false %}
        {% if form.shipping_address.id.vars.value %}
            {% set hasCustomAddress = not form.shipping_address.vars.value.customerUserAddress and not form.shipping_address.vars.value.customerAddress %}
        {% endif %}

        <div class="grid" data-page-component-module="oroui/js/app/components/view-component"
             data-page-component-options="{{ {
                 view: 'orocheckout/js/app/views/address-view',
                 hideNewAddressForm: true,
                 selectors: {
                     address: '#' ~ form.shipping_address.customerAddress.vars.id,
                     region: '#' ~ form.shipping_address.region.vars.id,
                     fieldsContainer: '#checkout-address-fields-container',
                     shipToBillingCheckbox: '#' ~ form.ship_to_billing_address.vars.id,
                 }
             }|json_encode }}">

            <div class="grid-col-6 grid-col-mobile-landscape-12">
                {{ form_row(form.shipping_address.customerAddress) }}
            </div>

            <div class="grid-col-12">
                {{ address.address_form(form.shipping_address, form.save_shipping_address, hasCustomAddress) }}

                {% if workflowItem.data.get('billing_address_has_shipping') or checkout.shipToBillingAddress %}
                    <div>
                        {{ form_row(form.ship_to_billing_address) }}
                    </div>
                {% endif %}
                {%  if  form.state_token is defined %}
                    {{ form_row(form.state_token) }}
                {% endif %}
            </div>
        </div>
    {% endif %}
{%- endblock %}
