{% block __oro_checkout_content__checkout_information_widget %}
    {{ block_widget(block) }}
{% endblock %}

{% block _checkout_information_body_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': " checkout__body--offset-none"
    }) %}
    {{ parent_block_widget(block) }}
{% endblock %}

{% block _checkout_form_fields_widget %}
    {{ block_widget(block) }}
    {% if form.state_token is defined %}
        {{ form_row(form.state_token) }}
    {% endif %}
{% endblock %}

{% block _checkout_view_widget %}
    {% import 'OroUIBundle::macros.html.twig' as UI %}
    {% import 'OroCheckoutBundle:layouts/default:layout.html.twig' as _layout %}

    {% set attr = attr|merge({
        'class': attr.class|default('') ~ " single-page-checkout-view"
    }) %}

    <div {{ block('block_attributes') }} {{ _layout.transitionAttributes(transitionData, checkout, { 'entityId': checkout.id}) }} >
        {{ block('container_widget') }}
    </div>
{% endblock %}

{% block _top_sticky_panel_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' sticky-panel--background-less',
    }) %}
    {{ parent_block_widget(block) }}
{% endblock %}

{% block _sticky_element_notification_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' single-page-checkout-view__notification-container'
    }) %}
    {{ parent_block_widget(block) }}
{% endblock %}

{% block _single_page_checkout_sticky_panel_widget %}
    {% set attr = layout_attr_defaults(attr, {
        id: 'single-page-checkout-sticky',
        '~class': 'single-page-checkout-sticky'
    }) %}
    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _single_page_checkout_sticky_titles_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' single-page-checkout-view__sticky-titles'
    }) %}
    {% spaceless %}
    <div {{ block('block_attributes') }}>
        <div class="single-page-checkout-view__sticky-titles-inner">
            {{ block_widget(block) }}
        </div>
    </div>
    {% endspaceless %}
{% endblock %}

{% block _single_page_checkout_sticky_billing_widget %}
    {% set attr = layout_attr_defaults(attr, {
        'id': 'single-page-checkout-sticky-billing',
        '~class': ' single-page-checkout-view__sticky-column'
    }) %}
    <div {{ block('block_attributes') }}>{{ block_widget(block) }}</div>
{% endblock %}

{% block _single_page_checkout_sticky_shipping_widget %}
    {% set attr = layout_attr_defaults(attr, {
        'id': 'single-page-checkout-sticky-shipping',
        '~class': ' single-page-checkout-view__sticky-column'
    }) %}
    <div {{ block('block_attributes') }}>{{ block_widget(block) }}</div>
{% endblock %}

{% block _single_page_checkout_sticky_summary_widget %}
    {% set attr = layout_attr_defaults(attr, {
        'id': 'single-page-checkout-sticky-summary',
        '~class': ' single-page-checkout-view__sticky-column'
    }) %}
    <div {{ block('block_attributes') }}>{{ block_widget(block) }}</div>
{% endblock %}

{% block _single_page_checkout_sticky_totals_widget %}
    {% set attr = layout_attr_defaults(attr, {
        id: 'single-page-checkout-sticky-totals',
        '~class': ' single-page-checkout-view__sticky-totals'
    }) %}
    <div {{ block('block_attributes') }}>{{ block_widget(block) }}</div>
{% endblock %}

{% block _checkout_billing_information_widget %}
    {% set attr = attr|merge({
        class: attr.class|default('') ~ " single-page-checkout-view__column single-page-checkout-view__column--first"
    }) %}
    <div {{ block('block_attributes') }}>
        <h2 class="single-page-checkout-view__title"
            data-sticky-target="top-sticky-panel"
            data-sticky="{{ {
                isSticky: true,
                affixed: true,
                autoWidth: true,
                placeholderId: 'single-page-checkout-sticky-billing',
                viewport: {
                    minScreenType: 'desktop'
                }
            }|json_encode }}"
        >
            <span class="single-page-checkout-view__badge">1</span>
            <span class="single-page-checkout-view__title-text">{{ 'oro.checkout.billing_information'|trans }}</span>
        </h2>
        <div class="single-page-checkout-view__column-inner">
            {{ block_widget(block) }}
        </div>
    </div>
{% endblock %}

{% block _shipping_methods_wrapper_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': " single-page-checkout-view__shipping-methods"
    }) %}
    {{ parent_block_widget(block) }}
{% endblock %}

{% block _payment_methods_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': " single-page-checkout-view__payment-methods"
    }) %}
    {{ parent_block_widget(block) }}
{% endblock %}

{% block _checkout_shipping_information_widget %}
    {% set attr = attr|merge({class: attr.class|default('') ~ " single-page-checkout-view__column"}) %}
    <div {{ block('block_attributes') }}>
        <h2 class="single-page-checkout-view__title"
            data-sticky-target="top-sticky-panel"
            data-sticky="{{ {
                isSticky: true,
                affixed: true,
                autoWidth: true,
                placeholderId: 'single-page-checkout-sticky-shipping',
                viewport: {
                    minScreenType: 'desktop'
                }
            }|json_encode }}"
        >
            <span class="single-page-checkout-view__badge">2</span>
            <span class="single-page-checkout-view__title-text">{{ 'oro.checkout.shipping_information'|trans }}</span>
        </h2>
        <div class="single-page-checkout-view__column-inner">
            {{ block_widget(block) }}
        </div>
    </div>
{% endblock %}

{% block _checkout_order_summary_header_widget %}
    {% set attr = attr|merge({
        'data-sticky-target': 'top-sticky-panel',
        'data-sticky': {
            isSticky: true,
            affixed: true,
            autoWidth: true,
            placeholderId: 'single-page-checkout-sticky-summary',
            viewport: {
                minScreenType: 'desktop'
            }
        }
    }) %}
    {{ parent_block_widget(block) }}
{% endblock %}

{% block _checkout_summary_widget %}
    {% set attr = attr|merge({class: attr.class|default('') ~ " single-page-checkout-view__column single-page-checkout-view__column--extended"}) %}
    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _checkout_summary_badge_widget %}
    <span class="single-page-checkout-view__badge">3</span>
{% endblock %}

{% block _shipping_address_widget -%}
    {% if workflowItem.data.get('disallow_shipping_address_edit') %}
        {% from 'OroAddressBundle::macros.html.twig' import renderAddress %}
        {{ renderAddress(checkout.shippingAddress) }}
    {% else %}
        {{ form_row(form.shipping_address, {'attr': {
            'data-role': 'checkout-shipping-address',
            'data-address-type': 'shipping',
            'data-new-address-label': checkout.shippingAddress|oro_format_address(null, ', ')
        }}) }}
        {{ form_row(form.ship_to_billing_address, {'attr': {'data-role': 'checkout-ship-to'}}) }}
    {% endif %}
{%- endblock %}

{% block _billing_address_widget -%}
    <div {{ block('block_attributes') }}>
        {{ form_row(form.billing_address, {'attr': {
            'data-role': 'checkout-billing-address',
            'data-address-type': 'billing',
            'data-new-address-label': checkout.billingAddress|oro_format_address(null, ', ')
        }}) }}
    </div>
{%- endblock %}

{% block _shipping_methods_hidden_widget %}
    {{ form_errors(form.shipping_method) }}
    <div class="hidden">
        {{ form_widget(form.shipping_method) }}
        {{ form_widget(form.shipping_method_type) }}
    </div>
    {{ block_widget(block) }}
{% endblock %}

{% block _payment_methods_hidden_widget %}
    <div class="hidden">
        {{ form_widget(form.payment_method) }}

        {% if form.payment_save_for_later is defined %}
            <div data-page-component-module="orocheckout/js/app/components/payment-save-for-later-component">
                {{ form_widget(form.payment_save_for_later) }}
            </div>
        {% endif %}

        {% if form.payment_validate is defined %}
            <div data-page-component-module="orocheckout/js/app/components/payment-validate-component">
                {{ form_widget(form.payment_validate) }}
            </div>
        {% endif %}
        {% if form.additional_data is defined %}
            <div data-page-component-module="orocheckout/js/app/components/payment-additional-data-component">
                {{ form_row(form.additional_data) }}
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block _payment_additional_data_widget %}
    {% set blockPrefix = options.block_prefix %}
    {% for paymentMethod,view in options.views %}
        {% set options = {payment_method: paymentMethod} %}
        {{ block('_' ~ blockPrefix ~ view.block) }}
    {% endfor %}
{% endblock %}

{% block _shipping_date_widget %}
    <fieldset class="grid__row grid__row--offset-none">
        <label class="label label--full">{{ "oro.checkout.order_review.shipping_date"|trans }}</label>
        <div class="datepicker-box">
            <span class="datepicker-box__icon"><i class="fa-calendar"></i></span>
            {{ form_widget(form.ship_until) }}
        </div>
    </fieldset>
{% endblock %}

{% block _checkout_summary_additional_options_widget -%}
    <div class="collapse-view" data-page-component-collapse="{{ { storageKey: id }|json_encode() }}">
        <span class="collapse-view__trigger collapse-view__trigger--icon" data-collapse-trigger>
            <span class="collapse-view__trigger-icon fa-caret-right" aria-hidden="true"></span>
        </span>
        <a href="#" class="collapse-view__trigger" data-collapse-trigger>
            {{ 'oro.checkout.workflow.order_options.label'|trans }}
        </a>
        <div class="order-review-options collapse-view__container" data-collapse-container>
            <fieldset class="grid__row grid__row--offset-none">
                <div class="grid__column grid__column--6 grid__column--offset-y">
                    <label class=" label label--full">{{ "oro.checkout.order_review.po_number"|trans }}</label>
                    <div class="checkout-form__optional-ref-number">
                        {{ form_widget(form.po_number, {'attr': {
                            'placeholder': 'oro.checkout.order_review.po_number_placeholder'|trans,
                            'data-validation': { Length: {max: 255} }|json_encode
                        }}) }}
                    </div>
                </div>
            </fieldset>
            <fieldset class="grid__row grid__row--offset-none">
                <div class="grid__column grid__column--12 grid__column--offset-y">
                    <label class=" label label--full">{{ "oro.checkout.order_review.note"|trans }}</label>
                    <div class="checkout-form__order-notes">
                    {{ form_widget(form.customer_notes, {
                        'attr': {
                            'placeholder': 'oro.checkout.order_review.note_placeholder'|trans,
                            'data-page-component-elastic-area': ''
                        }
                    }) }}
                    </div>
                </div>
            </fieldset>

            {% if workflowItem.data.get('allow_manual_source_remove') %}
                {% set removeElementOptions = {} %}
                {% set removeLabel = workflowItem.data.get('source_remove_label') %}
                {% if removeLabel %}
                    {% set removeElementOptions = removeElementOptions|merge({label: removeLabel}) %}
                {% endif %}
                <fieldset class="grid__row grid__row--offset-none">
                    <div class="grid__column grid__column--12 grid__column--offset-y">
                        {{ form_row(form.remove_source, removeElementOptions) }}
                    </div>
                </fieldset>
            {% endif %}

            {% if feature_enabled('checkout_customer_users_registration') and
            checkout.registeredCustomerUser == null and
            checkout.customerUser.isGuest
            %}
                <fieldset class="grid__row grid__row--offset-none"
                          data-page-component-module="oroui/js/app/components/view-component",
                          data-page-component-options="{{ {
                              view: 'orocheckout/js/app/views/late-checkout-registration-view',
                              selectors: {
                                  switcher: '#' ~ form.late_registration.offsetGet('is_late_registration_enabled').vars.id,
                                  fieldsContainer: '#checkout-late-registration-fields'
                              }
                          }|json_encode }}">
                    <div class="grid__column grid__column--6">
                        {{ form_row(form.late_registration.offsetGet('is_late_registration_enabled')) }}
                        <div id="checkout-late-registration-fields">
                            {{ form_widget(form.late_registration) }}
                        </div>
                    </div>
                </fieldset>

            {% endif %}
        </div>
    </div>
{%- endblock %}

{% block _checkout_order_summary_totals_sticky_container_widget %}
    {% set attr = layout_attr_defaults(attr, {
        'data-sticky-target': 'top-sticky-panel',
        'data-sticky': {
            isSticky: true,
            affixed: true,
            autoWidth: false,
            placeholderId: 'single-page-checkout-sticky-totals',
            toggleClass: 'checkout-order-summary-totals-sticky',
            moveToPanel: false,
            viewport: {
                minScreenType: 'desktop'
            }
        }
    }) %}
    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block single_page_transition_container_widget %}
    {% import 'OroUIBundle::macros.html.twig' as UI %}
    {% import 'OroCheckoutBundle:layouts/default:layout.html.twig' as _layout %}

    <div {{ _layout.transitionAttributes(transitionData, checkout) }} >
        <div {{ UI.renderPageComponentAttributes({
            module: 'orocheckout/js/app/components/shipping-transition-button-component',
            options: {
                'enabled': transitionData.isAllowed
            }
        }) }}>
            <div {{ block('block_attributes') }}>
                {{ block_widget(block) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block _checkout_button_continue_right_widget %}
    {% if transitionData is defined and transitionData %}
        {% import 'OroCheckoutBundle:layouts/default:layout.html.twig' as _layout %}
        <div class="order-checkout-widget text-right">
            {% if transitionData.isAllowed %}
                <button type="submit" class="btn btn--size-m btn--info checkout__submit-btn">
                    {{- transitionData.transition.label|trans({},'workflows') -}}
                </button>
            {% else %}
                <div {{- _layout.conditionMessages(transitionData) -}}>
                    <button class="btn btn--size-m btn--info btn--disabled checkout__submit-btn" disabled="disabled">
                        {{- transitionData.transition.label|trans({},'workflows') -}}
                    </button>
                </div>
            {% endif %}
        </div>
    {% endif %}
{% endblock %}
