{% block _checkout_view_widget %}
    {% set attr = attr|merge({
        'class': attr.class|default('') ~ " single-page-checkout-view"
    }) %}
    <div {{ block('block_attributes') }} {{ _self.transitionAttributes(transitionData, checkout) }}>
        {{ block('container_widget') }}
    </div>
{% endblock %}

{% block _checkout_button_continue_right_widget %}
    {% import 'OroUIBundle::macros.html.twig' as UI %}
    {% if transitionData is defined and transitionData %}
        {% import 'OroCheckoutBundle:layouts/default:layout.html.twig' as _layout %}
        <div class="order-checkout-widget text-right">
            {% if transitionData.isAllowed %}
                <button type="submit" class="btn btn--size-m btn--info checkout__submit-btn">
                    {{- transitionData.transition.label|trans({},'workflows') -}}
                </button>
            {% else %}
                <div {{- _layout.conditionMessages(transitionData) -}}>
                    <div class="btn btn--size-m btn--disabled checkout__submit-btn">{{- transitionData.transition.label|trans({},'workflows') -}}</div>
                </div>
            {% endif %}
        </div>
    {% endif %}
{% endblock %}

{% macro transitionAttributes(transitionData, checkout) %}
    {% spaceless %}
        {% import 'OroUIBundle::macros.html.twig' as UI %}
        {# Simplified transitions handler specific for checkout logic #}
        {% set transition = transitionData.transition %}

        {% set pageComponentOptions = transition.frontendOptions.page_component_options|default({}) %}

        {{ UI.renderPageComponentAttributes({
            module: 'orocheckout/js/app/components/single-page-checkout-component',
            options: pageComponentOptions|merge({
                'entityId': checkout.id,
                'enabled': transitionData.isAllowed,
                'hasForm': transition.hasForm(),
                'transitionUrl': path(
                    'oro_checkout_frontend_checkout',
                    {
                        id: checkout.id,
                        transition: transition.name
                    }
                )
            })
        }) }}
    {% endspaceless %}
{% endmacro %}

{% block _shipping_address_widget -%}
    {{ form_row(form.shipping_address.customerAddress, {'attr': {
        'data-role': 'checkout-shipping-address',
        'data-address-type': 'shipping',
        'data-new-address-label': checkout.shippingAddress|oro_format_address(null, ', ')
    }}) }}
    {{ form_row(form.ship_to_billing_address, {'attr': {'data-role': 'checkout-ship-to'}}) }}

    {{ block_widget(block) }}
{%- endblock %}

{% block _shipping_address_inner_widget -%}
    {% import 'OroCheckoutBundle:layouts/default/oro_checkout_frontend_checkout/templates:address.html.twig' as address %}

    <div data-role="checkout-shipping-address-form">
        {{ address.address_form(form.shipping_address, form.save_shipping_address, false, true) }}
    </div>
{%- endblock %}

{% block _billing_address_widget -%}
    {% import 'OroCheckoutBundle:layouts/default/oro_checkout_frontend_checkout/templates:address.html.twig' as address %}
    <div {{ block('block_attributes') }}>
        {{ form_row(form.billing_address.customerAddress, {'attr': {
            'data-role': 'checkout-billing-address',
            'data-address-type': 'billing',
            'data-new-address-label': checkout.billingAddress|oro_format_address(null, ', ')
        }}) }}

        {{ address.address_form(form.billing_address, form.save_billing_address, false, true) }}
    </div>
{%- endblock %}
