{% block _success_order_widget %}
    <div class="checkout__success">
        <h1 class="checkout__success__title">{{ 'oro.checkout.workflow.success.thank_you.label'|trans }}</h1>
        <div class="checkout__success__order">
            <p>{{ 'oro.checkout.workflow.success.order_number.label'|trans }} {{ order.id }}
            {% if is_granted('VIEW', order) %}
                (<a href="{{ path('oro_order_frontend_view', {id: order.id}) }}">{{ 'oro.checkout.workflow.success.click_to_review.label'|trans }}</a>)
            {% endif %}
            </p>
            <p>{{ 'oro.checkout.workflow.success.receive_email.label'|trans }}</p>
        </div>
        <a href="{{ path('oro_frontend_root') }}" class="btn btn--info checkout__success__btn">{{ 'oro.checkout.workflow.success.done.label'|trans }}</a>
    </div>
{% endblock %}
