{% extends 'OroUIBundle:actions:view.html.twig' %}
{% import 'OroUIBundle::macros.html.twig' as UI %}

{% oro_title_set({params : {"%title%": entity.__toString()}}) %}

{% block pageHeader %}
    {% set breadcrumbs = {
        'entity': entity,
        'indexPath': path('orob2b_rfp_request_index'),
        'indexLabel': 'orob2b.rfp.request.entity_plural_label'|trans,
        'entityTitle': 'orob2b.rfp.request.id.label'|trans ~ entity.id
    } %}
    {{ parent() }}
{% endblock pageHeader %}

{% block navButtonContainer %}
    {% placeholder view_navButtons_before with {entity: entity} %}
    {% block navButtons %}
        {% if resource_granted('EDIT', entity) %}
            {{ UI.editButton({
                'path' : path('orob2b_rfp_request_update', { 'id': entity.id }),
                'entity_label': 'orob2b.rfp.request.entity_label'|trans
            }) }}
        {% endif %}
        {{ UI.clientButton({
            'dataUrl': path('orob2b_rfp_request_change_status', {id: entity.id}),
            'aCss': 'no-hash',
            'iCss': 'icon-edit',
            'dataId': entity.id,
            'label': 'orob2b.rfp.btn.change_status'|trans,
            'widget' : {
                'type' : 'dialog',
                'multiple' : false,
                'refresh-widget-alias' : 'activity-list-widget',
                'reload-widget-alias' : 'request-info-widget',
                'options' : {
                    'alias': 'request-change-status-dialog',
                    'dialogOptions' : {
                        'title' : 'orob2b.rfp.widget.change_status_title'|trans,
                        'allowMaximize': false,
                        'allowMinimize': false,
                        'dblclick': 'maximize',
                        'maximizedHeightDecreaseBy': 'minimize-bar',
                        'width': 550,
                        'resizable': true
                    }
                }
            },
            'messages': {
                'saved': 'orob2b.rfp.message.request_status_changed'|trans
            }
        }) }}

        {% if resource_granted('orob2b_sale_quote_create') and not entity.status.isDraft %}
            <div class="btn-group">
                {{ UI.link({
                    path: path('orob2b_rfp_quote_create', {id: entity.id}),
                    label: 'oro.ui.create_entity'|trans({'%entityName%': 'orob2b.sale.quote.entity_label'|trans}),
                    class: 'no-hash btn',
                    iCss: 'icon-file-text hide-text',
                }) }}
            </div>
        {% endif %}

    {% endblock navButtons %}
    {% placeholder rfp_view_navButtons_after with {entity: entity} %}
{% endblock navButtonContainer%}

{% block content_data %}
    {% set requestInfo %}
        {{ oro_widget_render({
            'widgetType': 'block',
            'url': path('orob2b_rfp_request_info', {id: entity.id}),
            'alias': 'request-info-widget'
        }) }}
    {% endset %}

    {% set dataBlocks = [
        {
            'title': 'orob2b.rfp.sections.general'|trans,
            'class': 'active',
            'subblocks': [{'data' : [requestInfo]}]
        }
    ] %}

    {% if entity.requestProducts|length %}
        {% set lineItems %}
            <div class="rfp-line-items-info grid-container">
                <table class="grid table table-bordered table-condensed rfp-line-items">
                    <thead>
                        <tr>
                            <th class="rfp-line_item-sku"><span>{{ 'orob2b.product.sku.label'|trans }}</span></th>
                            <th class="rfp-line_item-product"><span>{{ 'orob2b.product.entity_label'|trans }}</span></th>
                            <th class="rfp-line_item-requested_quantity"><span>{{ 'orob2b.rfp.requestproductitem.quantity.label'|trans }}</span></th>
                            <th class="rfp-line_item-target_price"><span>{{ 'orob2b.rfp.requestproductitem.price.label'|trans }}</span></th>
                            <th class="rfp-line_item-target_notes"><span>{{ 'orob2b.rfp.requestproduct.comment.label'|trans }}</span></th>
                        </tr>
                    </thead>
                    {% for lineItem in entity.requestProducts %}
                        {% set numSubItems =  lineItem.requestProductItems|length %}
                        {% if numSubItems > 1 %}<tbody class="hasrs">{% else %}<tbody>{% endif %}
                        {% set isFreeFormProduct = lineItem.product is empty and lineItem.freeFormProduct is not empty %}
                        {% for subItem in lineItem.requestProductItems %}
                            {% set quantity = subItem.quantity %}
                            {% set price = subItem.price %}
                            <tr>
                                {% if loop.first %}
                                    <td rowspan="{{ numSubItems }}" class="rfp-line_item-sku">{{ lineItem.productSku }}</td>
                                    <td rowspan="{{ numSubItems }}" class="rfp-line_item-product">
                                        {% if isFreeFormProduct %}
                                            {{ lineItem.freeFormProduct }}
                                        {% else %}
                                            {{ lineItem.product }}
                                        {% endif %}
                                    </td>
                                {% endif %}
                                <td class="rfp-line_item-requested_quantity rfp-line_item-requested_quantity-{% if loop.first %}first{% else %}not_first{% endif %}">
                                    {{ quantity ? quantity|orob2b_format_short_product_unit_value(subItem.productUnit) : 'N/A'|trans }}
                                </td>
                                <td class="rfp-line_item-target_price rfp-line_item-target_price-{% if loop.first %}first{% else %}not_first{% endif %}">
                                    {{ price ? price|oro_format_price : ''|trans }}
                                </td>
                                {% if loop.first %}
                                    <td rowspan="{{ numSubItems }}" class="rfp-line_item-target_notes">{{ lineItem.comment }}</td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    {% endfor %}
                </table>
            </div>
        {% endset %}

        {% set dataBlocks = dataBlocks|merge([{
            'title': 'orob2b.rfp.sections.request_products'|trans,
            'subblocks': [{'data' : [lineItems]}]
        }]) %}
    {% endif %}

    {% set requestContent %}
        <div class="row-fluid form-horizontal">
            <div class="responsive-block">
                {{ entity.body|nl2br }}
            </div>
        </div>
    {% endset %}

    {% set dataBlocks = dataBlocks|merge([{
        'title': 'orob2b.rfp.sections.body'|trans,
        'class': 'active',
        'subblocks': [{'data' : [requestContent]}]
    }]) %}

    {% set id = 'request-view' %}
    {% set data = {'dataBlocks': dataBlocks} %}

    {{ parent() }}
{% endblock content_data %}
