{% import 'OroUIBundle::macros.html.twig' as UI %}

<div class="widget-content">
    <div class="row-fluid form-horizontal">
        <div class="responsive-block">
            {{ UI.renderProperty('orob2b.product.sku.label'|trans, product.sku) }}
            {{ UI.renderProperty('orob2b.product.name.label'|trans, product.name) }}
            {{ UI.renderHtmlProperty(
            'orob2b.product.image.label'|trans,
            oro_image_view(product, product.image, null, 'image')
            ) }}
            {{ UI.renderProperty('orob2b.product.description.label'|trans, product.description) }}
            {{ UI.renderHtmlProperty('orob2b.product.inventory_status.label'|trans, product.inventoryStatus) }}
        </div>
    </div>
</div>
