{% extends 'OroUserBundle::layout.html.twig' %}

{% block bodyClass %}login-page{% endblock %}
{% block messages %}
{% endblock %}
{% block content %}

<div class="container">
    {{ form_start(form) }}
        {{ form_widget(form) }}

        <button type="submit">{{ 'Register'|trans }}</button>
    {{ form_end(form) }}

    {{ oro_form_js_validation(form) }}
</div>
{% endblock content %}
