{% block _units_request_for_quote_widget %}
    {% if units is defined and units is iterable and units|length %}
        {% set text = 'oro.frontend.product.view.request_a_quote_more_units'|trans({
            '{{ units }}': units|first,
            '%count%': 1
        }) %}
        {% if units|length > 1 %}
            {% set text = 'oro.frontend.product.view.request_a_quote_more_units'|trans({
                '{{ units }}': units|slice(0, -1)|join(', '),
                '{{ andUnit }}': units|last,
                '%count%': 2
            }) %}
        {% endif %}
        <p class="request-more-units-label">{{ text }}</p>
    {% endif %}
{% endblock %}

{% block _request_a_quote_form_button_widget %}
    {% set visible = false %}
    {% if block.vars.product is not empty %}
        {% set visible = is_quote_visible(block.vars.product) %}
    {% endif %}

    {% if visible == true %}
        {% import '@OroUI/layouts/macros.html.twig' as UI %}
        {% set btnOptions = {
            'label': 'oro.frontend.product.view.request_a_quote'|trans,
            'icon': 'file-text',
            'dataIntention': 'important',
            'dataUrl': 'oro_rfp_frontend_request_create',
            'pageComponent': {
                'module': 'oroui/js/app/components/view-component',
                'options': {
                    'view': 'orosale/js/app/views/product-add-to-rfq-view'
                }
            }
        } %}
        <div class="pull-left btn-group icons-holder full">
            {{ UI.clientLink(btnOptions|merge({'class': 'btn icons-holder-text'})) }}
        </div>
    {% endif %}
{% endblock %}
