{% import 'OroUIBundle::macros.html.twig' as UI %}
{% import 'OroEntityConfigBundle::macros.html.twig' as entityConfig %}

<div class="widget-content">
    <div class="row-fluid form-horizontal">
        <div class="responsive-block">
            {{ UI.renderProperty('orob2b.pricing.pricelist.name.label'|trans, entity.name) }}

            {% if entity.currencies %}
                {% set currencies = [] %}
                {% for currency in entity.currencies %}
                    {% set currencies = currencies|merge([currency|oro_localized_currency_name]) %}
                {% endfor %}
                {{ UI.renderHtmlProperty('orob2b.pricing.pricelist.currencies.label'|trans, UI.renderList(currencies)) }}
                {% set status = entity.active ? 'orob2b.pricing.pricelist.status.enabled'|trans : 'orob2b.pricing.pricelist.status.disabled'|trans %}
                {{ UI.renderHtmlProperty('orob2b.pricing.pricelist.status.label'|trans, status) }}
            {% endif %}

            {% if entity.isActive() and not entity.schedules.isEmpty() %}
                {{ UI.renderHtmlProperty('orob2b.pricing.pricelist.schedule.label'|trans, _self.schedule(entity.schedules)) }}
            {% endif %}
        </div>
    </div>
</div>

{% macro schedule(schedules) %}
    {% set now = date('now', 'UTC') %}
    <ul>
        {% set activityShown = false %}
        {% for schedule in schedules %}
            {% if schedule.activeAt < now %}
                {% if schedule.activeAt %}
                <li>
                    {{ 'orob2b.pricing.pricelist_schedule.was_activated'|trans({'%date%': schedule.activeAt|oro_format_datetime}) }}
                </li>
                {% endif %}

                {% if not schedule.deactivateAt or schedule.deactivateAt > now %}
                    {% set activityShown = true %}
                    <li>
                        {{ 'orob2b.pricing.pricelist_schedule.active_now'|trans }}
                    </li>
                {% endif %}
            {% endif %}

            {% if schedule.activeAt > now %}
                {% if not activityShown %}
                    {% set activityShown = true %}
                    <li>
                        {{ 'orob2b.pricing.pricelist_schedule.not_active_now'|trans }}
                    </li>
                {% endif %}
                <li>
                    {{ 'orob2b.pricing.pricelist_schedule.will_be_acitivated'|trans({'%date%': schedule.activeAt|oro_format_datetime}) }}
                </li>
            {% endif %}

            {% if schedule.deactivateAt %}
                {% if schedule.deactivateAt < now %}
                    <li>
                        {{ 'orob2b.pricing.pricelist_schedule.was_deactivated'|trans({'%date%': schedule.deactivateAt|oro_format_datetime}) }}
                    </li>
                {% else %}
                    <li>
                        {{ 'orob2b.pricing.pricelist_schedule.will_be_deacitivated'|trans({'%date%': schedule.deactivateAt|oro_format_datetime}) }}
                    </li>
                {% endif %}
            {% endif %}
        {% endfor %}

        {% if not activityShown %}
            <li>
                {{ 'orob2b.pricing.pricelist_schedule.not_active_now'|trans }}
            </li>
        {% endif %}
    </ul>
{% endmacro %}
