{% set linkTitle = params.title|default(params.label)|trans %}
{% set linkLabel = params.label %}
{% set dialogOptions = {'title': linkTitle } %}

{% block link %}
    <a {% if (params.id is defined) %}id="{{ params.id }}"{% endif %}
        href="{{ params.path is defined ? params.path : 'javascript:void(0);' }}"
        class="{{ params.class|default('back icons-holder-text action-button') }} {{ params.aCss is defined ? params.aCss : '' }}"
        title="{{ linkTitle }}"
        data-dialog-url="{{ params.dialogUrl }}"
        data-dialog-options="{{ dialogOptions|json_encode }}"
    >
        <i class="{{ params.icon is defined ? params.icon : '' }} {{ params.iCss is defined ? params.iCss : '' }} hide-text">{{ linkLabel }}</i>{{ linkLabel|trim }}
    </a>
{% endblock %}
