{% block _order_body_widget %}
    <div class="account-oq-container">
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block order_body_column_widget %}
    <div class="account-oq__item">
        <div class="account-oq__order-info">
            <table class="table borderless b_paddingless">
                <tbody>
                    {{ block_widget(block) }}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block order_body_column_element_widget %}
    <tr>
        <td class="account-oq__order-info__title">{{ label|trans }}</td>
        <td>{{ block_widget(block) }}</td>
    </tr>
{% endblock %}

{% block currency_widget %}
    {{ value|oro_format_currency({currency: currency, attributes: attributes, textAttributes: textAttributes, symbols: symbols, locale: locale}) }}
{% endblock %}

{% block date_widget %}
    {{ date|oro_format_date({dateType: dateType, locale: locale, timeZone: timeZone}) }}
{% endblock %}

{% block address_widget %}
    {% if address %}
        {{ address|oro_format_address|escape|nl2br }}
    {% else %}
        {{ 'oro.ui.empty'|trans }}
    {% endif %}
{% endblock %}

{% block order_total_widget %}
    <div class="order-checkout-widget__container-wrapper">
        <div class="order-checkout-widget__container order-checkout-widget__container_lg">
            <table class="order-checkout-widget__table pull-right">
                {% for subtotal in subtotals %}
                <tr>
                    <td>{{ subtotal.label }}</td>
                    <td>{{ subtotal.amount|oro_format_currency({'currency': subtotal.currency}) }}</td>
                </tr>
                {% endfor %}
                <tr>
                    <td class="order-checkout-widget__total"><span class="text-uppercase">{{ total.label }}</span></td>
                    <td class="order-checkout-widget__total"><span class="blue">{{ total.amount|oro_format_currency({'currency': total.currency}) }}</span></td>
                </tr>
            </table>
        </div>
    </div>
{% endblock %}

{% block _order_after_line_items_grid_widget %}
    <div class="order-checkout-widget order-checkout-widget_block text-right">
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block order_head_block_container_widget %}
    <div class="account-oq__item__head">
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _order_information_head_widget %}
    <div class="account-oq__item account-oq__item_full mb0-sm">
        <h2 class="account-oq__item__title">
            {{ block_widget(block) }}
        </h2>
    </div>
{% endblock %}

{% block order_body_block_container_widget %}
    <div class="account-oq__item__body">
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _order_line_items_grid_container_widget %}
    <div class="account-oq-container hidden-sm hidden-xs">
        <div class="account-oq__item account-oq__item_full">
            {{ block_widget(block) }}
        </div>
    </div>
{% endblock %}

{% block _order_line_items_grid_title_widget %}
    <h2 class="account-oq__item__title">
        {{ block_widget(block) }}
    </h2>
{% endblock %}

{% block _order_list_link_widget %}
    <div class="order-builder-clear-btn">
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _order_po_number_widget %}
    {{ text|default('oro.ui.empty'|trans) }}
{% endblock %}

{% block _order_payment_method_widget %}
    {% if text is not empty %}
        {{ get_payment_method_label(text) }}
    {% else %}
        {{ 'oro.ui.empty'|trans }}
    {% endif %}
{% endblock %}

{% block _order_payment_status_widget %}
    {% if text is not empty %}
        {{ 'orob2b.payment.status.%s'|format(text)|trans }}
    {% else %}
        {{ 'oro.ui.empty'|trans }}
    {% endif %}
{% endblock %}
