{% block _order_body_widget %}
    <div class="account-oq__item__body">
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block order_body_column %}
    <div class="account-oq__item">
        <div class="account-oq__order-info">
            <table class="table borderless b_paddingless">
                <tbody>
                    {{ block_widget(block) }}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block _order_body_column_left_widget %}{{ block('order_body_column') }}{% endblock %}
{% block _order_body_column_right_widget %}{{ block('order_body_column') }}{% endblock %}

{% macro order_body_item_element(label, text) %}
    <tr>
        <td class="account-oq__order-info__title">{{ label|trans }}</td>
        <td>{{ text }}</td>
    </tr>
{% endmacro %}

{% block _order_po_number_widget %}{{ _self.order_body_item_element('orob2b.order.po_number.label', text) }}{% endblock %}
{% block _order_identifier_widget %}{{ _self.order_body_item_element('orob2b.order.identifier.label', text) }}{% endblock %}
{% block _order_currency_widget %}{{ _self.order_body_item_element('orob2b.order.currency.label', text) }}{% endblock %}

{% block currency_widget %}
    {{ text|oro_format_currency({currency: currency, attributes: attributes, textAttributes: textAttributes, symbols: symbols, locale: locale}) }}
{% endblock %}

{% block date_widget %}
    {{ date|oro_format_date({dateType: dateType, locale: locale, timeZone: timeZone}) }}
{% endblock %}

{% block _order_subtotal_widget %}
    {{ _self.order_body_item_element('orob2b.order.subtotal.label', block_widget(block)) }}
{% endblock %}

{% block _order_ship_until_widget %}
    {{ _self.order_body_item_element('orob2b.order.ship_until.label', block_widget(block)) }}
{% endblock %}

{% block _order_customer_notes_widget %}
    {{ _self.order_body_item_element('orob2b.order.customer_notes.label', text) }}
{% endblock %}
