{% block _account_user_page_widget %}
    {% set attr = attr|merge({
        class: attr.class|default('') ~ " {{ class_prefix }} {{ class_prefix }}_full"
    }) %}
    <div{{ block('block_attributes') }}>{{ block_widget(block) }}</div>
{% endblock %}

{% block __orob2b_account_user_form__account_user_form_start_widget %}
    {{ block_widget(block) }}
{% endblock %}

{% block __orob2b_account_user_form__account_user_form_fields_widget %}
    {{ form_row(form._token) }}

    <fieldset class="profile__form__row">
        <legend>{{ 'orob2b.account.accountuser.profile.form.sections.profile_information.label'|trans }}</legend>
        <fieldset class="profile__form__row">
            <div class="profile__form__col form__col_x6 col_first">
                {{ form_row(form.namePrefix, {'attr': {'placeholder': 'orob2b.account.form.placeholder.name_prefix'|trans}, 'parentClass': ''}) }}
                {{ form_row(form.firstName, {'attr': {'placeholder': 'orob2b.account.form.placeholder.first_name'|trans}, 'parentClass': ''}) }}
                {{ form_row(form.middleName, {'attr': {'placeholder': 'orob2b.account.form.placeholder.middle_name'|trans}, 'parentClass': ''}) }}
                {{ form_row(form.lastName, {'attr': {'placeholder': 'orob2b.account.form.placeholder.last_name'|trans}, 'parentClass': ''}) }}
                {{ form_row(form.nameSuffix, {'attr': {'placeholder': 'orob2b.account.form.placeholder.name_suffix'|trans}, 'parentClass': ''}) }}

                {{ form_row(form.enabled, {'attr': {'placeholder': ''|trans}, 'parentClass': 'profile__form__col form__col_x6'}) }}

                {% if form.sendEmail is defined %}
                    {{ form_row(form.sendEmail, {'attr': {'placeholder': ''|trans}, 'parentClass': 'profile__form__col form__col_x6'}) }}
                {% endif %}
            </div>
            <div class="profile__form__col form__col_x6 col_last">
                {{ form_row(form.email, {'attr': {'placeholder': 'orob2b.account.form.placeholder.email'|trans}, 'parentClass': ''}) }}
                {{ form_row(form.birthday, {'attr': {'placeholder': 'orob2b.account.form.placeholder.birthday'|trans}, 'parentClass': ''}) }}
            </div>
        </fieldset>
    </fieldset>

    <fieldset class="profile__form__row">
        <legend>{{ 'orob2b.account.accountuser.profile.form.sections.password.label'|trans }}</legend>

        <div class="password">
            {{ form_row(form.plainPassword.first, {'attr': {'placeholder': 'orob2b.account.form.placeholder.new_password'|trans}, 'parentClass': 'profile__form__col form__col_x6 col_first'}) }}
            {{ form_row(form.plainPassword.second, {'attr': {'placeholder': 'orob2b.account.form.placeholder.password_confirmation'|trans}, 'parentClass': 'profile__form__col form__col_x6 col_last'}) }}
        </div>

        {% if form.passwordGenerate is defined %}
            <div class="field profile__form__col form__col_x6">
                {{ form_row(
                        form.passwordGenerate,
                        {'attr':
                            {
                                'placeholder': ''|trans
                            },
                            'parentClass': 'profile__form__col form__col_x6 password-trigger'
                        }
                    )
                }}
                <span data-page-component-module="orob2baccount/js/app/components/password-generate"
                      data-page-component-options="{{ {class: 'password-trigger', targetClass: 'password'}|json_encode }}"></span>
            </div>
        {% endif %}
    </fieldset>

    <fieldset class="profile__form__row">
        <legend>{{ 'orob2b.account.accountuser.profile.form.sections.roles.label'|trans }}</legend>
        {{ form_row(form.roles)}}
    </fieldset>

    {{ form_row(form.account)}}
{% endblock %}

{% block __orob2b_account_user_form__account_user_form_actions_widget %}
    {{ block_widget(block) }}
    <fieldset class="profile__form__row">
        <div class="profile__form__req-text"><sup>*</sup>
            {{ 'orob2b.checkout.workflow.b2b_flow_checkout.form.required.label'|trans }}
        </div>
    </fieldset>
{% endblock %}
