{% block shopping_list_selector_widget %}
    {% if shoppingLists %}
        <div class="orders-sidebar mt3-md">
            <!-- START ORDERS SORTING -->
            {#<div class="orders-sidebar__sorting">#}
                {#<span class="va-m_md">{{ 'orob2b.frontend.shoppinglist.selector.sort_by.label'|trans }}</span>#}
                {#<div class="product__select ml1-md va-m_md">#}
                    {#<select class="input input_sm input_block">#}
                        {#<option value="updated">{{ 'orob2b.frontend.shoppinglist.selector.last_updated.label'|trans }}</option>#}
                    {#</select>#}
                {#</div>#}
            {#</div>#}
            <!-- END ORDERS SORTING -->
            <!-- START ORDERS TABS LIST -->
            <ul class="orders-list mt1-md">
                {% for shoppingList in shoppingLists %}
                    <li class="orders-list__item">
                        <a href="{{ path('orob2b_shopping_list_frontend_view', {'id' : shoppingList.id}) }}" class="orders-list__item__link {% if shoppingList.id == selectedShoppingList.id %} current {% endif %}">
                            <span class='badge badge_sm badge_orange badge_circled-corners orders-list__item-indicator'><i class="cf-basket"></i></span>
                            <div class="orders-list__item__content">
                                <h3 class="orders-list__item__title text-uppercase">{{ shoppingList.label }}</h3>
                                {% set itemsCount = shoppingList.lineItems.count %}
                                {% if itemsCount %}
                                    <div class="orders-list__item__desc">
                                        <span class="mr1-md"><strong>{{ shoppingList.lineItems.count }}</strong> {{ 'orob2b.shoppinglist.items.label'|transchoice(itemsCount) }}</span>
                                    </div>
                                {% endif %}
                            </div>
                        </a>
                    </li>
                {% endfor %}
            </ul>
            {#<button class="btn btn-default btn-block not-implemented"><i class="cf-arrow_drop_downcf--gray fs23"></i>{{ 'orob2b.frontend.shoppinglist.selector.show_more.label'|trans }}</button>#}
            <!-- END ORDERS TABS LIST -->
        </div>
    {% endif %}
{% endblock %}
