{% block __oro_product_line_item_form__line_item_form_fields_widget %}
    {% set class_prefix = 'line_item_form_fields' %}
    {% do block|merge_context({
        class_prefix: class_prefix
    }) %}
    {% do set_class_prefix_to_form(form, class_prefix) %}
    {% if renderCache is not defined %}
        {% set renderCache %}
            {% set attr = layout_attr_defaults(attr, {
                '~class': ' product-item__qty__current-grid',
                'data-page-component-module': 'oroproduct/js/app/components/product-unit-select-component',
                'data-page-component-options': {
                    'singleUnitMode': singleUnitMode,
                    'singleUnitModeCodeVisible': singleUnitModeCodeVisible,
                    'configDefaultUnit': defaultUnitCode
                }|json_encode
            }) %}

            <div {{ block('block_attributes') }}>
                <div>
                    <div class="form-row {{ class_prefix }}">
                        {{ form_widget(form.quantity, {attr: {
                            'class': 'product-item__qty-input'
                        }}) }}
                    </div>
                    <div class="form-row {{ class_prefix }}">
                        {{ form_widget(form.unit) }}
                    </div>
                </div>
                {{ block_widget(block) }}
            </div>
        {% endset %}
        {% do block|merge_context({
            renderCache: renderCache
        }) %}
    {% endif %}
    {% if not is_configurable_product_type(product.type) %}
        {{ renderCache }}
    {% endif %}
{% endblock %}
