{% block _payment_methods_widget %}
    {% set currentPaymentMethod = currentPaymentMethod|default(views|keys|first) %}
    <div class="{{ class_prefix }}__form" data-content="payment_method_form" data-page-component-module="orob2bpayment/js/app/components/payment-method-selector-component">
        <div class="{{ class_prefix }}__form__row">
            <div class="{{ class_prefix }}__form__col form__col_x6" data-payment-method-forms>
                {% if views|length > 0 %}
                    <span class="{{ class_prefix }}__form__label">{{ 'orob2b.payment.methods.select_method'|trans }}<sup class="red">*</sup></span>
                    {% for name, view in views if views is defined and view is iterable %}
                        {% set selected = currentPaymentMethod == name %}
                        <div class="{{ class_prefix }}__form__radio" data-item-container>
                            <label class="radio_custom radio_custom_blue {% if selected %}checked{% endif %}" data-radio tabindex="0">
                                <input type="radio" name="paymentMethod" data-choice="{{ name }}" value="{{ name }}" {% if selected%}checked="checked"{% endif %} />
                                <i class="cf-radio_button_checked radio_checked fs18 mmr5-md"></i>
                                <i class="cf-radio_button_unchecked radio_not-checked fs18 mmr5-md"></i>
                                <span class="checkbox_custom__text fs13">{{ view.label }}</span>
                            </label>
                            <div class="{{ class_prefix }}__form__payment-container" data-form-container {% if not selected %} style="display: none;" {% endif %}>
                                {{ block(view.block) }}
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <span class="{{ class_prefix }}__form__label" >{{ 'orob2b.payment.methods.no_method'|trans }}</span>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block _payment_methods_payment_term_widget %}
    <div class="{{ class_prefix }}__form__payment-methods"
         data-page-component-module="orob2bpayment/js/app/components/payment-term-component"
         data-page-component-options="{{ {paymentMethod: name}|json_encode }}">
        {{ view.options.value }}
    </div>
{% endblock %}

{% block _payment_methods_credit_card_widget %}
    {{ form_widget(
        view.options.formView,
        {class_prefix: class_prefix, paymentMethod: name, options: view.options})
    }}
{% endblock %}
