{% block _checkout_form_fields_widget %}
    <div class="hidden">
    <fieldset class="checkout__form__row">
        {{ form_widget(form.payment_method) }}
    </fieldset>
    </div>
{% endblock %}

{% block _payment_methods_widget %}
    <div class="checkout__form" data-content="payment_method_form" data-page-component-module="orob2bpayment/js/app/components/payment-method-selector-component">
        <div class="checkout__form__row">
            <div class="checkout__form__col form__col_x6" data-payment-method-forms>
                {% if views|length > 0 %}
                    <span class="checkout__form__label">{{ 'orob2b.payment.methods.select_method'|trans }}<sup class="red">*</sup></span>
                    {% for name, view in views %}
                        <div class="checkout__form__radio" data-item-container>
                            <label class="radio_custom radio_custom_blue" data-radio>
                                <input type="radio" name="paymentMethod" data-choice="{{ name }}" value="{{ name }}" />
                                <i class="cf-radio_button_checked radio_checked fs18 mmr5-md"></i>
                                <i class="cf-radio_button_unchecked radio_not-checked fs18 mmr5-md"></i>
                                <span class="checkbox_custom__text fs13">{{ view.label }}</span>
                            </label>
                            <div class="checkout__form__payment-container" data-form-container>
                                {% include view.template with {options: view.options, class_prefix: class_prefix, paymentMethod: name} only %}
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <span class="checkout__form__label" >{{ 'orob2b.payment.methods.no_method'|trans }}</span>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
