{% block _account_sidebar_widget %}
    <div class="account-sidebar">
        <h3 class="account-navigation-title">My Account</h3>
        <ul class="account-navigation-list">
            <li><a href="{{ path('orob2b_account_frontend_account_user_profile') }}">Account Information</a></li>
            <li><a href="{{ path('orob2b_account_frontend_account_user_index') }}">Account User</a></li>
            <li><a href="{{ path('orob2b_account_frontend_account_user_role_index') }}">Account User Role</a></li>
            <li><a href="{{ path('orob2b_rfp_frontend_request_index') }}">Requests For Quote</a></li>
            <li class="current"><a href="{{ path('orob2b_sale_quote_frontend_index') }}">Quotes</a></li>
            <li><a href="{{ path('orob2b_order_frontend_index') }}">Orders</a></li>
        </ul>
    </div>
{% endblock %}
