{% block _quick_access_container_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': " middlebar__right"
    }) %}
    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _quick_access_menu_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' quick-access',
        'data-dom-relocation': '',
        'data-dom-relocation-options': {
            responsive: [
                {
                    screenType: 'tablet',
                    moveTo: '[data-main-menu-extra-container]'
                }
            ]
        }
    }) %}
    <div {{ block('block_attributes') }}>
        <ul class="quick-access__list">
            {% for child in item.children %}
                {% if child.displayed and child.extras.isAllowed %}
                    {% if child.name == 'orders' %}
                        {% set badgeClass = 'quick-access__icon--light' %}
                        {% set iconClass = 'fa-clipboard' %}
                    {% elseif child.name == 'quotes' %}
                        {% set badgeClass = '' %}
                        {% set iconClass = 'fa-tags' %}
                    {% else %}
                        {% set badgeClass = 'quick-access__icon--dark' %}
                        {% set iconClass = 'fa-bolt' %}
                    {% endif %}

                    <li class="quick-access__item">
                        <a class="quick-access__link"  href="{{ child.uri }}">
                            <span class="quick-access__icon {{ badgeClass }}">
                                <i class="{{ iconClass }}"></i>
                            </span>
                            {% set label = child.extras.custom is defined and child.extras.custom == true ? child.label : child.label|trans %}
                            <span class="quick-access__text">{{ label }}</span>
                        </a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
{% endblock %}
