{% block _shopping_list_list_of_shopping_lists_widget %}
    {% set attr = attr|merge({ class: attr.class|default('') ~ " orders-sidebar mt3-md" }) %}
    <div{{ block('block_attributes') }}>
        SHOPPING LISTS
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _shopping_list_view_container_widget %}
    {% set attr = attr|merge({
    class: attr.class|default('') ~ " container-fluid"
    }) %}
    <div{{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _shopping_list_title_widget %}
    {% set attr = attr|merge({ class: attr.class|default('') ~ " hidden-sm hidden-xs" }) %}

    <div{{ block('block_attributes') }}>
        <h1 class="cart__order-title nmmt4-md">
            <span>{{ shoppingList.label }}</span>
            <button class="button-icon fs18 gray">
                <span class="ttip__wrap">
                  <i class="icon-pencil ttip__toggle"></i>
                  <span class="ttip">
                    <span class="ttip__content ttip__content_dark">{{ 'orob2b.shoppinglist.label.edit.tooltip'|trans }}</span>
                  </span>
                </span>
            </button>
        </h1>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _shopping_list_top_actions_widget %}
    {% set attr = attr|merge({ class: attr.class|default('') ~ "cart__order__controls-list" }) %}
    <div{{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _shopping_list_options_widget %}
    {% set attr = attr|merge({ class: attr.class|default('') ~ " oq__options oq__options_bb" }) %}
    <div{{ block('block_attributes') }}>
        <div class="oro-more-info-toggler">
            <i class="icon-play"></i>
            {% set notes = shoppingList.notes %}
            <a href="#" data-more-info-expand
               tabindex="0">{{ 'orob2b.frontend.shoppinglist.view.view_options.label'|trans }}</a>
            <div class="oro-more-info-toggler__container"
                 data-more-info {% if notes is not empty %}style="display: block;" {% endif %}>
                <div class="ml1-md mmt5-md">
                    <label for="addANote" class="checkbox_custom checkbox_custom_blue mml5-md
                            {% if notes is not empty %} checked {% endif %}" data-checkbox>
                        <input type="checkbox" name="addANote" id="addANote">
                        <i class="material-icons checkbox_checked fs18 mmr5-md">check_box</i>
                        <i class="material-icons checkbox_not-checked fs18 mmr5-md">check_box_outline_blank</i>
                        <span class="checkbox_custom__text fs13">{{ 'orob2b.frontend.shoppinglist.view.add_note.label'|trans }}</span>
                    </label>
                    <div class="form-input">
                        <textarea placeholder="{{ 'orob2b.frontend.shoppinglist.view.note.placeholder'|trans }}"
                                  rows="3" cols="30" name="copy_paste_order"
                                  class="input input_sm input_block">{{ notes }}</textarea>
                    </div>

                    {{ block_widget(block) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block _shopping_list_line_items_widget %}
    {% set attr = attr|merge({ class: attr.class|default('') ~ " cart-table cart-table_b-bordered cart-table__verticalp-enlarged mt1-md"}) %}
    <div{{ block('block_attributes') }}>
        LINE ITEMS <br>
        LINE ITEMS <br>
        LINE ITEMS <br>
        LINE ITEMS <br>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _shopping_list_combined_button_widget %}
    {% set attr = attr|merge({ class: attr.class|default('') ~ " btn btn_orange btn_has-dropdown btn_has-dropdown_xlg"}) %}
    <div{{ block('block_attributes') }}>
        {% set primary_button = block[primary_button_alias] %}
        {{ block_widget(primary_button,
        {attr:primary_button.vars.attr|merge({ class: primary_button.vars.attr.class|default('') ~ " direct-link"})}) }}

        {{ block_widget(block.action_dropdown_link) }}

        {{ block_widget(block.action_dropdown_menu,
        {attr:block.action_dropdown_menu.vars.attr|merge({ class: block.action_dropdown_menu.vars.attr.class|default('') ~ " dropdown-menu"})}) }}
    </div>
{% endblock %}

