{% block _shopping_list_view_container_widget %}
    {% import 'OroUIBundle::macros.html.twig' as UI %}

    {% set attr = attr|merge({class: attr.class|default('') ~ " container-fluid"}) %}
    <div{{ block('block_attributes') }} {{ UI.renderPageComponentAttributes({
        module: 'orob2bshoppinglist/js/app/components/shoppinglist-view-component'
    }) }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _no_shopping_lists_widget %}
    {% if not shoppingList %}
        <div class="cart-list_empty">
            <span class="badge badge_orange badge_xlg badge_circle"><i class="cf-basket"></i></span>
            <span class="fs24 va-m_md">{{ 'orob2b.frontend.shoppinglist.view.not_have_available'|trans }}</span>
        </div>
    {% endif %}
{% endblock %}

{% block _shopping_list_title_widget %}
    {% import 'OroUIBundle::macros.html.twig' as UI %}
    {% set attr = attr|merge({id: "title-inline-editable"}) %}
    <div{{ block('block_attributes') }} {{ UI.renderPageComponentAttributes({
        module: 'orob2bshoppinglist/js/app/components/shoppinglist-title-inline-editable-view-component',
        options: {
            frontend_type: 'title',
            value: shoppingList.label,
            fieldName: 'label',
            insertEditorMethod: 'after',
            eventChannelId: 'shopping-list-title',
            metadata: {
                broadcast_parameters: {
                    id: shoppingList.id
                },
                inline_editing: {
                    enable: resource_granted('orob2b_shopping_list_frontend_update'),
                    save_api_accessor: {
                        route: 'orob2b_api_frontend_patch_entity_data',
                        http_method: 'PATCH',
                        default_route_parameters: {
                            className: oro_class_name(shoppingList, true),
                            id: shoppingList.id
                        }
                    }
                },
                view_options: {
                    tooltip: 'orob2b.shoppinglist.label.edit.tooltip'|trans,
                    additionalClass: 'cart__order-title'
                }
            }
        }
    }) }}>
        <h1 class="cart__order-title nmmt4-md">
            <span>{{ shoppingList.label }}</span>
        </h1>
    </div>
{% endblock %}

{% block _shopping_list_top_actions_widget %}
    {% set attr = attr|merge({ class: attr.class|default('') ~ " cart__order__controls-list pull-right" }) %}
    <div{{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _shopping_list_options_widget %}
    {% import 'OroUIBundle::macros.html.twig' as UI %}

    {% set notes = shoppingList.notes %}
    {% set hasRecords = notes is not empty %}
    {% set attr = attr|merge({ class: attr.class|default('') ~ " collapse-view" }) %}
    {% if hasRecords  %}
        {% set attr = attr|merge({ class: attr.class|default('') ~ " expanded" }) %}
    {% endif %}
    <div{{ block('block_attributes') }}
            data-page-component-module="oroui/js/app/components/jquery-widget-component"
            data-page-component-options="{{ {
                widgetModule: 'orob2bfrontend/default/js/widgets/collapse-widget'
            }|json_encode() }}"
    >
        <span class="collapse-view__trigger" data-collapse-trigger>
            <i class="collapse-view__trigger-icon cf-play cf--gray"></i>
        </span>
        <a href="#" class="collapse-view__trigger orange" data-collapse-trigger>{{ 'orob2b.frontend.shoppinglist.view.view_options.label'|trans }}</a>

        <div class="collapse-view__container" data-collapse-container>
            <div class="ml1-md mmt5-md" {{ UI.renderPageComponentAttributes({
                module: 'orob2bfrontend/js/app/components/switchable-editable-view-component',
                options: {
                    frontend_type: 'multilineText',
                    value: shoppingList.notes,
                    fieldName: 'notes',
                    insertEditorMethod: 'after',
                    metadata: {
                        inline_editing: {
                            enable: resource_granted('orob2b_shopping_list_frontend_update'),
                            save_api_accessor: {
                                route: 'orob2b_api_frontend_patch_entity_data',
                                http_method: 'PATCH',
                                default_route_parameters: {
                                    className: oro_class_name(shoppingList, true),
                                    id: shoppingList.id
                                }
                            }
                        }
                    }
                }
            }) }}>
                <label for="addANote" data-checkbox
                       class="checkbox_custom checkbox_custom_blue mml5-md {% if notes is not empty %}checked{% endif %}">
                    <input type="checkbox" name="addANote" id="addANote" data-role="start-editing"
                           {% if notes is not empty %}checked="checked"{% endif %}>
                    <i class="cf-check_box checkbox_checked fs18 mmr5-md"></i>
                    <i class="cf-check_box_outline_blank checkbox_not-checked fs18 mmr5-md"></i>
                    <span class="checkbox_custom__text fs13">{{ 'orob2b.frontend.shoppinglist.view.add_note.label'|trans }}</span>
                </label>
                <div class="form-input" data-role="editor">
                <textarea placeholder="{{ 'orob2b.frontend.shoppinglist.view.add_note.placeholder'|trans }}"
                          rows="3" cols="30" name="shopping_list_notes" disabled="disabled"
                          class="input input_sm input_block">{{ notes }}</textarea>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block _shopping_list_line_items_list_widget %}
    {% import 'OroB2BProductBundle::image_macros.html.twig' as Image %}
    {% if shoppingList.lineItems is not empty %}
        {% import 'OroUIBundle::macros.html.twig' as UI %}
        {# TODO: Pass default currency from provider. BB-2218 #}
        {% set defaultCurrency = 'USD' %}

        {% set attr = attr|merge({ class: attr.class|default('') ~ " cart-table cart-table_b-bordered cart-table__verticalp-enlarged mt1-md"}) %}
        <div{{ block('block_attributes') }} {{ UI.renderPageComponentAttributes({
            module: 'orob2bfrontend/js/app/components/empty-items-component',
            options: {eventName: 'frontend:item:delete'}
        }) }} data-items-selector=".line_item" data-empty-block-selector=".cart-list_empty">
            <table class="oro-grid-table oro-grid-table_b-bordered oro-grid-table__verticalp-enlarged mt1-md" {{ UI.renderPageComponentAttributes({
                module: 'oroui/js/app/components/view-component',
                layout: 'separate',
                options: {
                    view: 'orob2bshoppinglist/js/app/views/line-items-view'
                }
            }) }}>
                <thead>
                <tr>
                    <th colspan="2"><small>{{ 'orob2b.frontend.shoppinglist.view.item.lable'|trans }}</small></th>
                    <th><small>{{ 'orob2b.frontend.shoppinglist.view.availability.lable'|trans }}</small></th>
                    <th><small>{{ 'orob2b.frontend.shoppinglist.view.quantity.lable'|trans }}</small></th>
                    <th class="text-right"><small>{{ 'orob2b.frontend.shoppinglist.view.price.lable'|trans }}</small></th>
                    <th class="w70"><small>&nbsp;</small></th>
                </tr>
                </thead>
                {% for lineItem in shoppingList.lineItems %}
                {% set productAllPrices = productsAllPrices[lineItem.product.id]|default({}) is not empty ? productsAllPrices[lineItem.product.id] : null %}
                {% set productMatchedPrice = productsMatchedPrice[lineItem.product.id][lineItem.unit.code] is not empty ? productsMatchedPrice[lineItem.product.id][lineItem.unit.code] : null %}
                {% set currency = productMatchedPrice ? productMatchedPrice.currency : defaultCurrency %}
                <tbody class="line_item">
                    {# TODO: BB-2895. After merge https://github.com/laboro/commerce/pull/1872 place components on their nodes #}
                    <tr class="line_item_view" {{ UI.renderPageComponentAttributes({
                        module: 'oroui/js/app/components/view-component',
                        options: {
                            view: 'orob2bshoppinglist/js/app/views/line-item-view',
                            modelAttr: lineItem.product,
                            lineItemId: lineItem.id,
                            quantityComponentOptions: {
                                dataKey: constant('OroB2B\\Bundle\\ProductBundle\\Form\\Type\\FrontendLineItemType::NAME'),
                                enable: resource_granted('orob2b_shopping_list_frontend_update'),
                                elements: {
                                    quantity: '[name="product_qty"]',
                                    unit: '[name="product_unit"]'
                                },
                                save_api_accessor: {
                                    default_route_parameters: {
                                        id: lineItem.id
                                    },
                                    route: 'orob2b_api_shopping_list_frontend_put_line_item'
                                },
                                value: {
                                    unit: lineItem.unit.code,
                                    quantity: lineItem.quantity
                                },
                                validation: {
                                    showErrorsHandler: 'orob2bshoppinglist/js/shopping-list-item-errors-handler'
                                }
                            }
                        },
                        layout: 'separate'
                    }) }}>
                        <td class="va-t_md" colspan="2">
                            <div class="product-item product-item_in-cart">
                                <div class="product-item__image-holder product-item__image-holder_in-cart">
                                    {% set productImage = lineItem.product.getImagesByType('listing')|length > 0  ? lineItem.product.getImagesByType('listing').first.image : null %}
                                    <a href="{{ path('orob2b_product_frontend_product_view', {'id': lineItem.product.id}) }}">{{ Image.image(productImage, 'product_small') }}</a>
                                </div>
                                <div class="product-item__desctiption product-item__desctiption_in-cart">
                                    <h3 class="product-item__title product-item__title_in-cart mb1-md">
                                        <a href="{{ path('orob2b_product_frontend_product_view', {'id': lineItem.product.id}) }}">{{ lineItem.product }}</a>
                                    </h3>
                                    <div>{{ 'orob2b.frontend.shoppinglist.view.sku.label'|trans }} <span class="red">{{ lineItem.product.sku }}</span></div>
                                </div>
                            </div>
                        </td>
                        <td class="va-t_md">
                            <div>{{ lineItem.product.InventoryStatus }}</div>
                        </td>
                        <td class="va-t_md">
                            <form action="#">
                                <div class="product__qty-input product__qty-input_inline product__qty-input_more-info va-m_md">
                                    <div class="product__qty-input__count-option">
                                        <input type="number" value="{{ lineItem.quantity }}" name="product_qty" data-name="field__quantity"
                                            placeholder="{{ 'orob2b.frontend.shoppinglist.view.qty.label'|trans }}"
                                            class="input input_md input_block text-center" disabled="disabled" required />
                                    </div>
                                </div>
                                <div class="product__select inline va-m_md">
                                    <select class="input input_block input_sm" name="product_unit" data-name="field__unit" required>
                                        {% if productsUnits[lineItem.product.id] is defined %}
                                            {% for unit in productsUnits[lineItem.product.id] %}
                                            <option value="{{ unit }}" {% if unit == lineItem.unit.code %}selected="selected"{% endif %}>{{ unit|orob2b_format_product_unit_label}}</option>
                                            {% endfor %}
                                            {% if lineItem.unit.code not in productsUnits[lineItem.product.id] %}
                                                <option value="{{ lineItem.unit.code }}" selected="selected" disabled="disabled">{{ lineItem.unit.code|orob2b_format_product_unit_label}}</option>
                                            {% endif %}
                                        {% endif %}
                                    </select>
                                </div>
                            </form>
                        </td>
                        <td class="va-t_md line-item-price" {{ UI.renderPageComponentAttributes({
                            module: 'oroui/js/app/components/view-component',
                            options: {
                                view: 'orob2bpricing/js/app/views/base-product-prices-view',
                                modelAttr: {
                                    prices: productAllPrices
                                }
                            }
                        }) }}>
                            <table class="table borderless paddingless mb0-md {{ productMatchedPrice is null ? 'hidden' }}" data-name="price">
                                <tbody>
                                <tr>
                                    <td>{{ 'orob2b.frontend.shoppinglist.view.your_price.label'|trans }}</td>
                                    <td class="text-right"
                                        data-name="prices-hint"
                                        data-placement="bottom"
                                        data-close="false"
                                        data-trigger="hover"
                                        data-container="body"
                                        data-class="prices-hint-content">
                                            <span data-name="price-value">
                                                {% if productMatchedPrice is not null %}
                                                    {{ productMatchedPrice.value|oro_format_currency({'currency': currency}) }}
                                                {% else %}
                                                    {{ 'oro.ui.empty'|trans }}
                                                {% endif %}
                                            </span>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <div data-name="prices-hint-content" class="hidden">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th class="text-uppercase">qty</th>
                                        <th >Unit Price</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% set shownUnit = '' %}
                                    {% for price in productAllPrices %}
                                        {% if shownUnit != price.unit %}
                                            {% set shownUnit = price.unit %}
                                    <tr>
                                        <td colspan="2" class="text-capitalize">
                                            {% if loop.index > 1 %}<br/>{% endif %}
                                            <b>{{ shownUnit|orob2b_format_product_unit_label }}</b>
                                        </td>
                                    </tr>
                                        {% endif %}
                                    <tr>
                                        <td>{{ price.quantity }}</td>
                                        <td>{{ price.formatted_price }}</td>
                                    </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <div data-name="price-not-found" class="{{ productMatchedPrice is not null ? 'hidden' }}">
                                {% if productAllPrices %}
                                    <span data-name="prices-hint"
                                          data-placement="bottom"
                                          data-close="false"
                                          data-trigger="hover"
                                          data-container="body"
                                          data-class="prices-hint-content"
                                          >{{ 'orob2b.pricing.frontend.product_prices.price_not_found'|trans }}</span>
                                {% else %}
                                {{ 'orob2b.pricing.frontend.product_prices.empty_prices'|trans }}
                                {% endif %}
                            </div>
                        </td>
                        <td class="va-t_md text-right">
                            <button class="item-remove button-icon gray fs20" {{ UI.renderPageComponentAttributes({
                                    module: 'orob2bfrontend/js/app/components/delete-item-component',
                                    options: {
                                        url: path('orob2b_api_shopping_list_frontend_delete_line_item', {'id': lineItem.id}),
                                        removeClass: 'line_item',
                                        confirmMessage: 'orob2b.frontend.shoppinglist.messages.line_item_delete_confirm'|trans,
                                        sucsessMessage: 'orob2b.frontend.shoppinglist.messages.line_item_deleted'|trans,
                                        okButtonClass: 'btn ok theme-btn_sm btn-orange',
                                        cancelButtonClass: 'btn cancel theme-btn_sm btn_gray'
                                    }
                                }) }} >
                                <i class="cf-trash"></i>
                            </button>
                        </td>
                    </tr>
                    <tr class="borderless t_paddingless">
                        {% set notes = lineItem.notes %}
                        <td colspan="6">
                            <div class="checkbox_custom-wrapper" {{ UI.renderPageComponentAttributes({
                                module: 'orob2bfrontend/js/app/components/switchable-editable-view-component',
                                options: {
                                    frontend_type: 'multilineText',
                                    value: lineItem.notes,
                                    fieldName: 'notes',
                                    metadata: {
                                        inline_editing: {
                                            enable: resource_granted('orob2b_shopping_list_frontend_update'),
                                            save_api_accessor: {
                                                route: 'orob2b_api_frontend_patch_entity_data',
                                                http_method: 'PATCH',
                                                default_route_parameters: {
                                                    className: oro_class_name(lineItem, true),
                                                    id: lineItem.id
                                                }
                                            }
                                        }
                                    }
                                }
                            }) }}>
                                <label for="{{ 'lineItem'~lineItem.id }}" class="checkbox_custom checkbox_custom_blue
                                    {% if notes is not empty %} checked {% endif %}" data-checkbox>
                                    <input type="checkbox" name="{{ 'lineItem'~lineItem.id }}" id="{{ 'lineItem'~lineItem.id }}"
                                        data-role="start-editing" {% if notes is not empty %} checked = "checked" {% endif %}">
                                    <i class="cf-check_box checkbox_checked fs18 mmr5-md"></i>
                                    <i class="cf-check_box_outline_blank checkbox_not-checked fs18 mmr5-md"></i>
                                    <span class="checkbox_custom__text fs13">{{ 'orob2b.frontend.shoppinglist.view.add_item_note.label'|trans }}</span>
                                </label>

                                <div class="form-input form-input_textarea" data-role="editor">
                                    <textarea class="input input_sm input_block" name="copy_paste_order" cols="30" rows="3" disabled="disabled"
                                        placeholder="{{ 'orob2b.frontend.shoppinglist.view.add_item_note.placeholder'|trans }}">{{ lineItem.notes }}</textarea>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
                {% endfor %}
            </table>
            {{ block_widget(block) }}
        </div>
    {% endif %}
{% endblock %}

{% block _shopping_list_line_items_empty_widget %}
    {% set attr = attr|merge({ class: attr.class|default('') ~ " cart-list_empty"}) %}
    {% if shoppingList.lineItems is not empty %}
        {% set attr = attr|merge({ class: attr.class ~ " hidden"}) %}
    {% endif %}
    <div {{ block('block_attributes') }}>
          <span class="badge badge_orange badge_xlg badge_circle">
            <i class="cf-basket"></i>
          </span>
        <span class="fs24 va-m_md">{{ 'orob2b.frontend.shoppinglist.view.empty'|trans }}</span>
    </div>
{% endblock %}

{% block _shopping_list_checkout_container_widget %}
    {% set attr = attr|merge({class: attr.class|default('') ~ " order-checkout-widget order-checkout-widget_block text-right mb4-md"}) %}
    <div{{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _shopping_list_button_container_widget %}
    {% set attr = attr|merge({class: attr.class|default('') ~ " order-builder-clear-btn fs0"}) %}
    <div{{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _shopping_list_delete_button_widget %}
    {% import 'OroUIBundle::macros.html.twig' as UI %}
        <button class="btn btn_default theme-btn_sm btn-dark fs15 mr1-md" {{ UI.renderPageComponentAttributes({
            module: 'orob2bfrontend/js/app/components/delete-item-component',
            options: {
                url: path('orob2b_api_delete_shoppinglist', {'id': shoppingList.id}),
                redirect: path('orob2b_shopping_list_frontend_view'),
                confirmMessage: 'orob2b.frontend.shoppinglist.messages.delete_confirm'|trans,
                sucsessMessage: 'orob2b.frontend.shoppinglist.messages.deleted'|trans,
                okButtonClass: 'btn ok theme-btn_sm btn-orange',
                cancelButtonClass: 'btn cancel theme-btn_sm btn_gray'
            }
        }) }} >
            <i class="fa cf-trash mmr5-md"></i> {{ 'orob2b.frontend.shoppinglist.btn.delete'|trans }}
        </button>
{% endblock %}

{% block _shopping_list_totals_widget %}
    <div class="order-checkout-widget__container-wrapper">
        {% include 'OroB2BPricingBundle:Totals/Frontend:totals.html.twig' with {
            options: {
                route: 'orob2b_pricing_frontend_entity_totals',
                events: [
                    'frontend:item:delete',
                    'frontend:shopping-list-item-quantity:update'
                ],
                selectors: {
                    subtotalTemplate: '#frontend-subtotals-template',
                    template: '#frontend-totals-template'
                },
                entityClassName: 'OroB2B\\Bundle\\ShoppingListBundle\\Entity\\ShoppingList',
                entityId: shoppingList.id,
                skipMaskView: true,
                data: totals
            }
        } only %}
    </div>
{% endblock %}

{% block _shopping_lists_sidebar_list_widget %}
    {% import 'OroUIBundle::macros.html.twig' as UI %}

    <div class="orders-sidebar mt3-md">
        {% set attr = {
                'data-page-component-module': 'orob2bshoppinglist/js/app/views/shoppinglist-sidebar-view',
                'data-page-component-options': {
                    view: 'oroui/js/app/views/layout-subtree-view',
                    rootId : block.vars.id,
                    reloadEvents: ['shopping-list:updated'],
                    eventChannelId: 'shopping-list-title'
                },
                'data-dropdown-trigger': true
            }|merge(attr|merge({
            class: attr.class|default('') ~ " shopping-lists mt1-md"
        })) %}
        <!-- START ORDERS TABS LIST -->
        <ul {{ block('block_attributes') }}>
            {% for shoppingList in shoppingLists %}
                <li class="shopping-lists__item">
                    <a href="{{ path('orob2b_shopping_list_frontend_view', {'id' : shoppingList.id}) }}" class="shopping-lists__link {% if shoppingList.id == selectedShoppingList.id %} shopping-lists__link--current {% endif %}">
                        <span class='badge badge_sm badge_orange badge_circled-corners shopping-lists__item-indicator'><i class="cf-basket"></i></span>
                        <div class="shopping-lists__content">
                            <h3 class="shopping-lists__title text-uppercase {% if shoppingList.id == selectedShoppingList.id %}current-title{% endif %}">{{ shoppingList.label }}</h3>
                            {% set itemsCount = shoppingList.lineItems.count %}
                            {% if itemsCount %}
                                <div class="shopping-lists__desc">
                                    <span class="mr1-md"><strong>{{ shoppingList.lineItems.count }}</strong> {{ 'orob2b.shoppinglist.items.label'|transchoice(itemsCount) }}</span>
                                </div>
                            {% endif %}
                        </div>
                    </a>
                </li>
            {% endfor %}
        </ul>
        <!-- END ORDERS TABS LIST -->
    </div>
{% endblock _shopping_lists_sidebar_list_widget %}
