{% block _shopping_list_list_of_shopping_lists_widget %}
    {% set attr = attr|merge({ class: attr.class|default('') ~ " orders-sidebar mt3-md" }) %}
    <div{{ block('block_attributes') }}>
        SHOPPING LISTS
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _shopping_list_view_container_widget %}
    {% set attr = attr|merge({
    class: attr.class|default('') ~ " container-fluid"
    }) %}
    <div{{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _shopping_list_title_widget %}
    {% import 'OroUIBundle::macros.html.twig' as UI %}

    <div{{ block('block_attributes') }} {{ UI.renderPageComponentAttributes({
        module: 'oroform/js/app/components/inline-editable-view-component',
        options: {
            frontend_type: 'title',
            value: shoppingList.label,
            fieldName: 'label',
            insertEditorMethod: 'after',
            metadata: {
                inline_editing: {
                    enable: resource_granted('orob2b_shopping_list_frontend_update'),
                    save_api_accessor: {
                        route: 'orob2b_api_frontend_patch_entity_data',
                        http_method: 'PATCH',
                        default_route_parameters: {
                            className: oro_class_name(shoppingList, true),
                            id: shoppingList.id
                        }
                    }
                },
                view_options: {
                    tooltip: 'orob2b.shoppinglist.label.edit.tooltip'|trans,
                    additionalClass: 'cart__order-title'
                }
            }
        }
    }) }}>
        <h1 class="cart__order-title nmmt4-md">
            <span>{{ shoppingList.label }}</span>
        </h1>
    </div>
{% endblock %}

{% block _shopping_list_top_actions_widget %}
    {% set attr = attr|merge({ class: attr.class|default('') ~ "oq__options__right" }) %}
    <div{{ block('block_attributes') }}>
        ACTIONS
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _shopping_list_options_widget %}
    {% set attr = attr|merge({ class: attr.class|default('') ~ " oq__options oq__options_bb" }) %}
    <div{{ block('block_attributes') }}>
        <div class="oro-more-info-toggler">
            <i class="icon-play"></i>
            {% set notes = shoppingList.notes %}
            <a href="#" data-more-info-expand tabindex="0">{{ 'orob2b.frontend.shoppinglist.view.view_options.label'|trans }}</a>
            <div class="oro-more-info-toggler__container"
                data-more-info {% if notes is not empty %}style="display: block;" {% endif %}>
                <div class="ml1-md mmt5-md">
                    <label for="addANote" class="checkbox_custom checkbox_custom_blue mml5-md
                            {% if notes is not empty %} checked {% endif %}" data-checkbox>
                        <input type="checkbox" name="addANote" id="addANote">
                        <i class="material-icons checkbox_checked fs18 mmr5-md">check_box</i>
                        <i class="material-icons checkbox_not-checked fs18 mmr5-md">check_box_outline_blank</i>
                        <span class="checkbox_custom__text fs13">{{ 'orob2b.frontend.shoppinglist.view.add_note.label'|trans }}</span>
                    </label>
                    <div class="form-input">
                        <textarea placeholder="{{ 'orob2b.frontend.shoppinglist.view.note.placeholder'|trans }}"
                                  rows="3" cols="30" name="copy_paste_order"
                                  class="input input_sm input_block">{{ notes }}</textarea>
                    </div>

                    {{ block_widget(block) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block _shopping_list_line_items_widget %}
    {% set attr = attr|merge({ class: attr.class|default('') ~ " cart-table cart-table_b-bordered cart-table__verticalp-enlarged mt1-md"}) %}
    <div{{ block('block_attributes') }}>
        <table class="oro-grid-table oro-grid-table_b-bordered oro-grid-table__verticalp-enlarged mt1-md">
            <thead>
            <tr>
                <th><small>{{ 'orob2b.frontend.shoppinglist.view.item.lable'|trans }}</small></th>
                <th><small>{{ 'orob2b.frontend.shoppinglist.view.availability.lable'|trans }}</small></th>
                <th><small>{{ 'orob2b.frontend.shoppinglist.view.quantity.lable'|trans }}</small></th>
                <th class="text-right"><small>{{ 'orob2b.frontend.shoppinglist.view.price.lable'|trans }}</small></th>
                <th class="w70"><small>&nbsp;</small></th>
            </tr>
            </thead>
            <tbody>
            {% for lineItem in shoppingList.lineItems %}
            <tr>
                <td class="va-t_md">
                    <div class="product-item product-item_in-cart">
                        <div class="product-item__image-holder product-item__image-holder_in-cart">
                            <a href="{{ path('orob2b_product_frontend_product_view', {'id': lineItem.product.id}) }}">{{ oro_image_view(lineItem.product, lineItem.product.image, null, 'image') }}</a>
                        </div>
                        <div class="product-item__desctiption product-item__desctiption_in-cart">
                            <h3 class="product-item__title product-item__title_in-cart mb1-md">
                                <a href="{{ path('orob2b_product_frontend_product_view', {'id': lineItem.product.id}) }}">{{ lineItem.product }}</a>
                            </h3>
                            <div>{{ 'orob2b.frontend.shoppinglist.view.sku.label'|trans }} <span class="red">{{ lineItem.product.sku }}</span></div>
                        </div>
                    </div>
                </td>
                <td class="va-t_md">
                    <div class="green3">{{ lineItem.product.InventoryStatus }}</div>
                </td>
                <td class="va-t_md">
                    <div class="product__qty-input product__qty-input_inline product__qty-input_more-info va-m_md">
                        <div class="product__qty-input__count-option">
                            <button class="count-minus" data-count-minus>-</button>
                            <input type="number" value="{{ lineItem.quantity }}" name="product_qty" placeholder="{{ 'orob2b.frontend.shoppinglist.view.qty.label'|trans }}" class="input input_sm input_block text-center" data-count-input />
                            <button class="count-plus" data-count-plus>+</button>
                        </div>
                    </div>
                    <div class="product__select inline va-m_md">
                        <select data-chosen-selectbox class="input input_block input_sm">
                            {% for unit in productsUnits[lineItem.product.id] %}
                            <option value="{{ unit }}">{{ unit|orob2b_format_product_unit_label}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </td>
                <td class="va-t_md">
                    <table class="table borderless paddingless mb0-md">
                        <tbody>
                        <tr>
                            <td>{{ 'orob2b.frontend.shoppinglist.view.your_price.label'|trans }}</td>
                            <td class="text-right">{{ productsPrices[lineItem.product.id].value|oro_format_currency({'currency': productsPrices[lineItem.product.id].currency}) }}</td>
                        </tr>
                        </tbody>
                    </table>
                </td>
                <td class="va-t_md text-right">
                    <button class="button-icon gray fs20"><i class="icon-trash"></i></button>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _shopping_list_combined_button_widget %}
    {% set attr = attr|merge({ class: attr.class|default('') ~ " btn btn_orange btn_has-dropdown btn_has-dropdown_xlg" }) %}

    <div{{ block('block_attributes') }}>
        <a href="#" class="direct-link">Combined button</a>
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><i class="material-icons">arrow_drop_down</i></a>
        <ul class="dropdown-menu">
            <li><a href="#">Option 1</a></li>
            <li><a href="#">Option 2</a></li>
            <li><a href="#">Option 3</a></li>
        </ul>
        {{ block_widget(block) }}
    </div>
{% endblock %}
