{% block _shopping_list_list_of_shopping_lists_widget %}
    {% set attr = attr|merge({ class: attr.class|default('') ~ " orders-sidebar mt3-md" }) %}
    <div{{ block('block_attributes') }}>
        SHOPPING LISTS
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _shopping_list_view_container_widget %}
    {% set attr = attr|merge({
    class: attr.class|default('') ~ " container-fluid"
    }) %}
    <div{{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _shopping_list_title_widget %}
    {% import 'OroUIBundle::macros.html.twig' as UI %}

    {# resource_granted('orob2b_shopping_list_frontend_update'), #}
    <div{{ block('block_attributes') }} {{ UI.renderPageComponentAttributes({
        module: 'oroform/js/app/components/inline-editable-view-component',
        options: {
            frontend_type: 'title',
            value: shoppingList.label,
            fieldName: 'label',
            overlay: {
                enable: false
            },
            metadata: {
                inline_editing: {
                    enable: true,
                    save_api_accessor: {
                        route: 'orob2b_api_frontend_patch_entity_data',
                        http_method: 'PATCH',
                        default_route_parameters: {
                            className: oro_class_name(shoppingList, true),
                            id: shoppingList.id
                        }
                    }
                },
                view_options: {
                    tooltip: 'orob2b.shoppinglist.label.edit.tooltip'|trans,
                    additionalClass: 'cart__order-title'
                }
            }
        }
    }) }}>
        <h1 class="cart__order-title nmmt4-md">
            <span>{{ shoppingList.label }}</span>
        </h1>
    </div>
{% endblock %}

{% block _shopping_list_top_actions_widget %}
    {% set attr = attr|merge({ class: attr.class|default('') ~ "oq__options__right" }) %}
    <div{{ block('block_attributes') }}>
        ACTIONS
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _shopping_list_options_widget %}
    {% set attr = attr|merge({ class: attr.class|default('') ~ " oq__options oq__options_bb" }) %}
    <div{{ block('block_attributes') }}>
        <a href="#" data-more-info-expand>View Options for this Order</a>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _shopping_list_line_items_widget %}
    {% set attr = attr|merge({ class: attr.class|default('') ~ " cart-table cart-table_b-bordered cart-table__verticalp-enlarged mt1-md"}) %}
    <div{{ block('block_attributes') }}>
        LINE ITEMS <br>
        LINE ITEMS <br>
        LINE ITEMS <br>
        LINE ITEMS <br>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _shopping_list_combined_button_widget %}
    {% set attr = attr|merge({ class: attr.class|default('') ~ " btn btn_orange btn_has-dropdown btn_has-dropdown_xlg" }) %}

    <div{{ block('block_attributes') }}>
        <a href="#" class="direct-link">Combined button</a>
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><i class="material-icons">arrow_drop_down</i></a>
        <ul class="dropdown-menu">
            <li><a href="#">Option 1</a></li>
            <li><a href="#">Option 2</a></li>
            <li><a href="#">Option 3</a></li>
        </ul>
        {{ block_widget(block) }}
    </div>
{% endblock %}
