{% block _shopping_list_list_of_shopping_lists_widget %}
    {% if shoppingListsData %}
        <div class="orders-sidebar mt3-md">
            <!-- START ORDERS SORTING -->
            <div class="orders-sidebar__sorting">
                <span class="va-m_md">Sort By:</span>
                <div class="product__select ml1-md va-m_md">
                    <select class="input input_sm input_block" data-chosen-selectbox>
                        <option value="updated">Last Updated</option>
                    </select>
                </div>
            </div>
            <!-- END ORDERS SORTING -->
            <!-- START ORDERS TABS LIST -->
            <ul class="orders-list mt1-md">
                {% for shoppingList in shoppingListsData %}
                    <li class="orders-list__item">
                        <a href="{{ path('orob2b_shopping_list_frontend_view', {'id' : shoppingList.id}) }}" class="orders-list__item__link current">
                            <span class='badge badge_sm badge_orange badge_circled-corners orders-list__item-indicator'><i class="icon-basket"></i></span>
                            <div class="orders-list__item__content">
                                <h3 class="orders-list__item__title text-uppercase">{{ shoppingList.label }}</h3>
                                {% set itemsCount = shoppingList.lineItems.count %}
                                {% if itemsCount %}
                                    <div class="orders-list__item__desc">
                                        <span class="mr1-md"><strong>{{ shoppingList.lineItems.count }}</strong> {{ 'orob2b.shoppinglist.items.label'|transchoice(itemsCount) }}</span>
                                        {#<span class="wsnr">Subtotal: <strong>$246.45</strong></span>#}
                                    </div>
                                {% endif %}
                            </div>
                        </a>
                    </li>
                {% endfor %}
            </ul>
            {#<button class="btn btn-default btn-block"><i class="material-icons material-icons_gray fs23">arrow_drop_down</i>Show More</button>#}
            <!-- END ORDERS TABS LIST -->
        </div>
    {% endif %}
{% endblock %}

{% block _shopping_list_view_container_widget %}
    {% set attr = attr|merge({
    class: attr.class|default('') ~ " container-fluid"
    }) %}
    <div{{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _shopping_list_title_widget %}
    {% set attr = attr|merge({
    class: attr.class|default('') ~ " cart__order-title nmmt4-md"
    }) %}

    <div{{ block('block_attributes') }}>
        SHOPPING LIST TITLES<br>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _shopping_list_top_actions_widget %}
    {% set attr = attr|merge({
    class: attr.class|default('') ~ "oq__options__right"
    }) %}
    <div{{ block('block_attributes') }}>
        ACTIONS
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _shopping_list_options_widget %}
    {% set attr = attr|merge({
    class: attr.class|default('') ~ " oq__options oq__options_bb"
    }) %}
    <div{{ block('block_attributes') }}>
        <a href="#" data-more-info-expand>View Options for this Order</a>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _shopping_list_line_items_widget %}
    {% set attr = attr|merge({
    class: attr.class|default('') ~ " cart-table cart-table_b-bordered cart-table__verticalp-enlarged mt1-md"
    }) %}
    <div{{ block('block_attributes') }}>
        LINE ITEMS <br>
        LINE ITEMS <br>
        LINE ITEMS <br>
        LINE ITEMS <br>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _shopping_list_combined_button_widget %}
    {% set attr = attr|merge({
    class: attr.class|default('') ~ " btn btn_orange btn_has-dropdown btn_has-dropdown_xlg"
    }) %}
    <div{{ block('block_attributes') }}>
        <a href="#" class="direct-link">Combined button</a>
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><i class="material-icons">arrow_drop_down</i></a>
        <ul class="dropdown-menu">
            <li><a href="#">Option 1</a></li>
            <li><a href="#">Option 2</a></li>
            <li><a href="#">Option 3</a></li>
        </ul>
        {{ block_widget(block) }}
    </div>
{% endblock %}
