{% block _web_catalog_menu_list_widget %}
    {% set attr =  layout_attr_defaults(attr, {'~class': ' main-menu'}) %}

    <ul {{ block('block_attributes') }} data-collapse-container>
        {{ block_widget(block) }}
    </ul>
{% endblock %}

{% block _web_catalog_menu_widget %}
    {% if (max_size is not null ) %}
        {% set categories = categories[0:max_size] %}
    {%- endif %}

    {% for category in categories -%}
        {% set hasSublist = category.children is not empty %}
        <li class="main-menu__item {{ hasSublist ? "main-menu__item--ancestor": "" }}" {{ hasSublist ? "data-dropdown-trigger": "" }}>
            {% do block|merge_context({'category': category}) %}
            {{ block('container_widget') }}
        </li>
    {%- endfor %}
{% endblock %}

{% block _web_catalog_menu_first_level_item_simple_widget %}
    {% if (use_for is not empty and category.identifier in use_for|keys) or
        (not_use_for is not empty and category.identifier not in not_use_for|keys) %}
        {% set hasSublist = category.children is not empty %}
        <a href="{{ app.request.uriForPath(category.url) }}"
           class="main-menu__link">
            <span>{{ category.label }}</span>
            {% if hasSublist %}
                <i class="cf-down-open-mini"></i>
            {% endif %}
        </a>
        {% if hasSublist %}
            <div class="main-menu__sublist-container">
                <ul class="main-menu__sublist">
                    {% do block|merge_context({'categories': category.children }) %}
                    {{ block('container_widget') }}
                </ul>
            </div>
        {% endif %}
    {%- endif %}
{% endblock %}

{% block _web_catalog_menu_first_level_item_head_widget %}
    {% if (use_for is not empty and category.identifier in use_for|keys) or
        (not_use_for is not empty and category.identifier not in not_use_for|keys) %}
        {% set hasSublist = category.children is not empty %}
        <a href="{{ app.request.uriForPath(category.url) }}"
           class="main-menu__link">
            <span>{{ category.label }}</span>
            {% if hasSublist %}
                <i class="cf-down-open-mini"></i>
            {% endif %}
        </a>
        {% if hasSublist %}
            <div class="main-menu__sublist-container">
                <ul class="main-menu__sublist">
                    <li {{ block('block_attributes') }}>
                        <div class="main-menu__sublist-title">{{ category.label }}</div>
                        {% do block|merge_context({'categories': category.children }) %}
                        {{ block('container_widget') }}
                    </li>
                </ul>
            </div>
        {% endif %}
    {%- endif %}
{% endblock %}

{% block _web_catalog_menu_first_level_item_mega_widget %}
    {% if (use_for is not empty and category.identifier in use_for|keys) or
        (not_use_for is not empty and category.identifier not in not_use_for|keys) %}
        {% set hasSublist = category.children is not empty %}
        <a href="{{ app.request.uriForPath(category.url) }}" class="main-menu__link">
            <span>{{ category.label }}</span>
            {% if hasSublist %}
                <i class="cf-down-open-mini"></i>
            {% endif %}
        </a>
        {% if hasSublist %}
            <div class="main-menu__sublist-container">
                <ul class="main-menu__sublist">
                    <li {{ block('block_attributes') }}>
                        {% do block|merge_context({'categories': category.children }) %}
                        {{ block('container_widget') }}
                    </li>
                </ul>
            </div>
        {% endif %}
    {%- endif %}
{% endblock %}

{% block _web_catalog_menu_second_level_item_simple_widget %}
    {% for category in categories %}
        {% if (use_for is not empty and category.identifier in use_for|keys) or
            (not_use_for is not empty and category.identifier not in not_use_for|keys) %}
            {% set hasSublist = category.children is not empty %}
            {% set class = attr.class|default('') ~ " main-menu__subcategory" %}
            {% set class = hasSublist ? class ~ " main-menu__sublist--has-sibling" : class %}
            {% set attr = attr|merge({class: class}) %}

            <ul {{ block('block_attributes') }}>
                <li class="main-menu__subcategory-item">
                    <a class="link" href="{{ app.request.uriForPath(category.url) }}">{{ category.label }}</a>
                    {% if hasSublist %}
                        {% do block|merge_context({'categories': category.children }) %}
                        {{ block('container_widget') }}
                    {% endif %}
                </li>
            </ul>
        {%- endif %}
    {% endfor %}
{% endblock %}

{% block _web_catalog_menu_second_level_item_head_widget %}
    {% for category in categories %}
        {% if (use_for is not empty and category.identifier in use_for|keys) or
            (not_use_for is not empty and category.identifier not in not_use_for|keys) %}
            {% set hasSublist = category.children is not empty %}
            {% set class = attr.class|default('') ~ " main-menu__subcategory" %}
            {% set class = hasSublist ? class ~ " main-menu__sublist--has-sibling" : class %}
            {% set attr = attr|merge({class: class}) %}

            <ul {{ block('block_attributes') }}>
                <li class="main-menu__subcategory-item">
                    <a class="link" href="{{ app.request.uriForPath(category.url) }}">{{ category.label }}</a>
                    {% if hasSublist %}
                        {% do block|merge_context({'categories': category.children }) %}
                        {{ block('container_widget') }}
                    {% endif %}
                </li>
            </ul>
        {%- endif %}
    {% endfor %}
{% endblock %}

{% block _web_catalog_menu_second_level_item_mega_widget %}
    {% for category in categories %}
        {% if (use_for is not empty and category.identifier in use_for|keys) or
            (not_use_for is not empty and category.identifier not in not_use_for|keys) %}

            {% if use_for[category.identifier].title is defined %}
                <div class="main-menu__sublist-title">{{ use_for[category.identifier].title }}</div>
            {% endif %}

            {% set hasSublist = category.children is not empty %}
            {% set class = attr.class|default('') ~ " main-menu__subcategory" %}
            {% set class = hasSublist ? class ~ " main-menu__sublist--has-sibling" : class %}
            {% set attr = attr|merge({class: class}) %}

            <ul {{ block('block_attributes') }}>
                <li class="main-menu__subcategory-item">
                    <a class="link" href="{{ app.request.uriForPath(category.url) }}">{{ category.label }}</a>
                    {% if hasSublist %}
                        {% do block|merge_context({'categories': category.children }) %}
                        {{ block('container_widget') }}
                    {% endif %}
                </li>
            </ul>
        {%- endif %}
    {% endfor %}
{% endblock %}

{% block _web_catalog_menu_third_level_item_mega_widget %}
    {% set attr = attr|merge({class: attr.class|default('') ~ " main-menu__sublist_subnested"}) %}

    <ul {{ block('block_attributes') }}>
        {% for category in categories %}
            <li>
                <a class="link" href="{{ app.request.uriForPath(category.url) }}">{{ category.label }}</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
