{% extends 'OroUIBundle:actions:view.html.twig' %}

{% oro_title_set({params : {"%email%": entity.email }}) %}

{% block pageHeader %}
    {% set breadcrumbs = {
        'entity': entity,
        'indexPath': path('orob2b_user_admin_user_index'),
        'indexLabel': 'orob2b.useradmin.user.entity_plural_label'|trans,
        'entityTitle': entity.email|default('N/A'|trans)
    } %}
    {{ parent() }}
{% endblock pageHeader %}

{% block navButtons %}
    {% if resource_granted('EDIT', entity) %}
        {{ UI.editButton({
            'path' : path('orob2b_user_admin_user_update', { 'id': entity.id }),
            'entity_label': 'orob2b.useradmin.user.entity_label'|trans
        }) }}
        {% if entity.enabled %}
            {% set idButton = entity.id ~ '-disable-frontenduser-btn' %}
            {{ UI.button({
                'aCss':  'no-hash',
                'iCss':  'icon-remove',
                'id':    idButton,
                'label': 'orob2b.useradmin.action.user.disable'|trans,
                'path':  path('orob2b_api_user_admin_disable_frontenduser', {'id': entity.id}),
                'title': 'orob2b.useradmin.action.user.disable'|trans
            }) }}
        {% else %}
            {% set idButton = entity.id ~ '-enable-frontenduser-btn' %}
            {{ UI.button({
                'aCss':  'no-hash',
                'iCss':  'icon-ok',
                'id':    idButton,
                'label': 'orob2b.useradmin.action.user.enable'|trans,
                'path':  path('orob2b_api_user_admin_enable_frontenduser', {'id': entity.id}),
                'title': 'orob2b.useradmin.action.user.enable'|trans
            }) }}
        {% endif %}
        <span data-page-component-module="orob2buseradmin/js/app/components/user-enable-disable-component"
              data-page-component-options="{{ {id: idButton}|json_encode }}"></span>
    {% endif %}
    {% if resource_granted('DELETE', entity) %}
        {{ UI.deleteButton({
            'dataUrl': path('orob2b_api_user_admin_delete_frontenduser', {'id': entity.id}),
            'dataRedirect': path('orob2b_user_admin_user_index'),
            'aCss': 'no-hash remove-button',
            'dataId': entity.id,
            'id': 'btn-remove-frontenduser',
            'entity_label': 'orob2b.useradmin.user.entity_label'|trans
        }) }}
    {% endif %}
{% endblock navButtons %}

{% block content_data %}
    {% set userInformationWidget %}
    {{ oro_widget_render({
        'widgetType': 'block',
        'title': 'orob2b.useradmin.widgets.user_information'|trans,
        'url': path('orob2b_user_admin_user_info', {id: entity.id})
    }) }}
    {% endset %}

    {% set generalSectionBlocks = [{'data' : [userInformationWidget]}]%}

    {% set dataBlocks = [
        {
            'title': 'orob2b.useradmin.sections.general'|trans,
            'class': 'active',
            'subblocks': generalSectionBlocks
        }
    ] %}

    {% set id = 'user-view' %}
    {% set data = {'dataBlocks': dataBlocks} %}

    {{ parent() }}
{% endblock content_data %}

{% block stats %}
    {# Must be empty, because parent view uses this block to render dates, which are not implemented in this entity #}
{% endblock stats %}
