{% block _product_prices_widget %}
    {% set attr = layout_attr_defaults(attr, {
        'data-page-component-module': 'oroui/js/app/components/view-component',
        '~data-page-component-options': {
            view: 'oropricing/js/app/views/base-product-prices-view',
            changeQuantity: true,
            modelAttr: {
                prices: productPrices
            }
        },
        '~class': ' product__qnty'
    }) %}

    <div {{ block('block_attributes') }}>
        <table class="table pricing-table">
            <thead class="pricing-table__thead">
            <tr class="pricing-table__tr">
                <th style="width: 40%" class="pricing-table__th text-uppercase">qty</th>
                <th style="width: 60%" class="pricing-table__th">Unit Price</th>
            </tr>
            </thead>
            <tbody class="pricing-table__tbody">
            {% set shownUnit = '' %}
            {% for price in productPrices %}
                {% if shownUnit != price.formatted_unit %}
                    {% set shownUnit = price.formatted_unit %}
                    <tr class="pricing-table__tr">
                        <td colspan="2" class="pricing-table__td">
                            {% if loop.index > 1 %}<br/>{% endif %}
                            <strong>{{ shownUnit|capitalize }}</strong>
                        </td>
                    </tr>
                {% endif %}
                <tr class="pricing-table__tr">
                    <td class="pricing-table__td">
                        {{ price.quantity }}
                    </td>
                    <td class="pricing-table__td">
                        {{ price.formatted_price }}
                    </td>
                </tr>
            {% endfor %}
            {{ block_widget(block) }}
            </tbody>
        </table>
    </div>
{% endblock %}
