{% block _product_prices_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' product-prices'
    }) %}
    <div {{ block('block_attributes') }}>
        <table class="product-prices__table">
            <thead class="product-prices__thead">
            <tr class="product-prices__tr">
                <th style="width: 40%" class="product-prices__th text-uppercase">qty</th>
                <th style="width: 60%" class="product-prices__th">Unit Price</th>
            </tr>
            </thead>
            {{ block('container_widget') }}
        </table>
    </div>
{% endblock %}

{% block attribute_prices_widget %}
    {% set productPrices = value %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' product-prices__tbody'
    }) %}

    <tbody {{ block('block_attributes') }}>
        {% set currentUnit = '' %}
        {% for price in productPrices %}
            {% if currentUnit != price.formatted_unit %}
                {% set currentUnit = price.formatted_unit %}
                <tr class="product-prices__tr">
                    <td colspan="2" class="product-prices__td">
                        {% if loop.index > 1 %}<br/>{% endif %}
                        {% if productUnitSelectionVisible is defined and productUnitSelectionVisible %}
                            <strong>{{ currentUnit|capitalize }}</strong>
                        {% endif %}
                    </td>
                </tr>
            {% endif %}
            <tr class="product-prices__tr">
                <td class="product-prices__td">
                    {{ price.quantity }}
                </td>
                <td class="product-prices__td">
                    {{ price.formatted_price }}
                </td>
            </tr>
        {% endfor %}
    </tbody>
{% endblock %}
