{% import 'OroUIBundle::macros.html.twig' as UI %}
{% import 'OroEntityConfigBundle::macros.html.twig' as entityConfig %}

<div class="widget-content">
    <div class="row-fluid form-horizontal">
        <div class="responsive-block">
            {{ UI.renderProperty('oro.invoice.invoice_number.label'|trans, entity.invoiceNumber) }}
            {{ UI.renderProperty('oro.invoice.po_number.label'|trans, entity.poNumber) }}
            {{ UI.renderProperty('oro.invoice.currency.label'|trans, entity.currency) }}

            {% if resource_granted('VIEW', entity.account) %}
                {% set accountView = UI.renderUrl(path('oro_account_view', {'id': entity.account.id}), entity.account|oro_format_name|default('oro.ui.empty'|trans)) %}
            {% else %}
                {% set accountView = entity.account|oro_format_name|trim %}
            {% endif %}
            {{ UI.renderHtmlProperty('oro.invoice.account.label'|trans, accountView) }}

            {% set accountUserView = '' %}
            {% if entity.accountUser is not empty %}
                {% if resource_granted('VIEW', entity.accountUser) %}
                    {% set accountUserView = UI.renderUrl(path('oro_account_account_user_view', {'id': entity.accountUser.id}), entity.accountUser|oro_format_name) %}
                {% else %}
                    {% set accountUserView = entity.accountUser|oro_format_name|trim %}
                {% endif %}
            {% endif %}
            {{ UI.renderHtmlProperty('oro.invoice.account_user.label'|trans, accountUserView) }}

            {{ UI.renderProperty('oro.invoice.invoice_date.label'|trans, entity.invoiceDate|oro_format_date) }}
            {{ UI.renderProperty('oro.invoice.payment_due_date.label'|trans, entity.paymentDueDate|oro_format_date) }}
            {{ UI.renderProperty('oro.invoice.subtotal.label'|trans, entity.subtotal|oro_format_currency({'currency': entity.currency})) }}
        </div>
        <div class="responsive-block">
            {{ entityConfig.renderDynamicFields(entity) }}
        </div>
    </div>
</div>
