{% block _page_title_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': " title title--uppercase"
    }) %}

    <h1{{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </h1>
{% endblock %}

{% block _oro_account_user_address_form_container_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': " address-form-outer"
    }) %}

    <div{{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _oro_account_user_address_form_content_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': " address-form"
    }) %}

    <div{{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _account_user_address_form_required_label_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': " required-label"
    }) %}

    <p {{ block('block_attributes') }}>
        <sup>*</sup>
        {{ 'oro.customer.form.label.required'|trans }}
    </p>
{% endblock %}
