{% if resource_granted('orob2b_rfp_request_create_quote') and not entity.status.isDraft %}
    <form id="{{ formCreateQuote.vars.id }}" class="pull-left" name="{{ formCreateQuote.vars.name }}" action="{{ path('orob2b_sale_quote_createfromrfp', { 'id': entity.id }) }}" method="post">
        <div class="btn-group">
            {{ form_widget(formCreateQuote) }}
            <button type="submit" class="no-hash btn">
                <i class="icon-file-text hide-text"></i>{{ 'oro.ui.create_entity'|trans({'%entityName%': 'orob2b.sale.quote.entity_label'|trans}) }}
            </button>
        </div>
    </form>
{% endif %}
