{% block orob2b_fallback_value_widget %}
    <table>
        <tr>
            <td class="fallback-item-value">{{ form_widget(form.value) }}</td>
            <td nowrap="true" class="fallback-item-use-fallback">
                {{ form_widget(form.use_fallback) }} {{ form.use_fallback.vars.label|trans }}
            </td>
            <td class="fallback-item-fallback">
                {{ form_widget(form.fallback, {'attr': {
                    'class': 'fallback'
                }}) }}
            </td>
        <tr>
    </table>

    {{ form_errors(form.value) }}
    {{ form_errors(form.fallback) }}
{% endblock %}

{% block orob2b_fallback_localized_property_widget %}
    <table class="fallback-container"
            data-page-component-module="oroui/js/app/components/view-component"
            data-page-component-options="{{ {view: 'orob2bfallback/js/app/views/fallback-view'}|json_encode }}"
            data-layout="separate"
            >
        <tr class="fallback-default-item">
            <td>{{ form.default.vars.label|trans }}</td>
            <td class="fallback-item-value">
                {{ form_widget(form.default) }}
                {{ form_errors(form.default) }}
            </td>
        </tr>
        {% for locale in form.locales %}
            <tr class="fallback-item">
                <td>{{ locale.vars.label|trans }}</td>
                <td>
                    {{ form_widget(locale) }}
                    {{ form_errors(locale) }}
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}

{% block orob2b_fallback_website_property_widget %}
    <table class="fallback-container"
            data-page-component-module="oroui/js/app/components/view-component"
            data-page-component-options="{{ {view: 'orob2bfallback/js/app/views/fallback-view'}|json_encode }}"
            data-layout="separate"
            >
        <tr class="fallback-default-item">
            <td>{{ form.default.vars.label|trans }}</td>
            <td class="fallback-item-value">
                {{ form_widget(form.default) }}
                {{ form_errors(form.default) }}
            </td>
        </tr>
        {% for website in form.websites %}
            <tr class="fallback-item">
                <td>{{ website.vars.label|trans }}</td>
                <td>
                    {{ form_widget(website) }}
                    {{ form_errors(website) }}
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}

{% block orob2b_fallback_localized_value_collection_widget %}
    {{ form_widget(form.values) }}
    {{ form_errors(form.values) }}
    {{ form_widget(form.ids) }}
    {{ form_errors(form.ids) }}
{% endblock %}
