{% block _account_user_role_title_widget %}
    <h3 class="nmmt4-md">
        <span>{{ text }}</span>
    </h3>
{% endblock %}

{% block _account_user_role_top_actions_widget %}
    {% set attr = attr|merge({ class: attr.class|default('') ~ " oro-account-user-role__controls-list pull-right" }) %}
    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _account_user_role_back_link_widget %}
    {% set attr = attr|merge({ class: attr.class|default('') ~ " oro-account-user-role__back-link col-md-12 mb3-md mb3-sm mt1-md mt1-sm" }) %}
    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _account_user_role_items_view_privileges_widget %}
    {% import 'OroUIBundle::macros.html.twig' as UI %}

    <div {{ UI.renderPageComponentAttributes({
        module: 'orouser/js/components/role/entity-category-tabs-component',
        options: options.tabsOptions
    }) }}></div>

    {{ block_widget(block) }}

    <div class="role-capability-set" {{ UI.renderPageComponentAttributes({
        module: 'orouser/js/components/role/capability-set-component',
        options: options.capabilitySetOptions|merge({ readonly: true })
    }) }}></div>
{% endblock %}

{% block _account_user_role_items_view_users_widget %}
    <h3 class="account-navigation-title mb2-md mb2-sm">
        {{ 'orob2b.account.frontend.sections.account_user_role.users.label'|trans }}
    </h3>
    {{ block_widget(block) }}
{% endblock %}
