{% block __oro_rfp_frontend_request_edit__rfp_page_widget %}
    {% set attr = attr|merge({
        class: attr.class|default('') ~ " {{ class_prefix }} {{ class_prefix }}_full"
    }) %}
    <div{{ block('block_attributes') }}>{{ block_widget(block) }}</div>
{% endblock %}

{% block __oro_rfp_frontend_request_edit__rfp_form_container_widget %}
    {% set attr = attr|merge({
        class: attr.class|default('') ~ " {{ class_prefix }}__form_container"
    }) %}
    <div{{ block('block_attributes') }}>{{ block_widget(block) }}</div>
{% endblock %}

{% block __oro_rfp_frontend_request_edit__rfp_page_title_widget %}
    {% set attr = attr|merge({
        class: attr.class|default('') ~ " {{ class_prefix }}__title"
    }) %}
    <div{{ block('block_attributes') }}>{{ block_widget(block) }}</div>
{% endblock %}

{% block __oro_rfp_frontend_request_edit__rfp_form_start_widget %}
    {% set attr = attr|merge({
        class: attr.class|default('') ~ " {{ class_prefix }}__form {{ class_prefix }}__form_register"
    }) %}
    {{ block('form_start_widget') }}
{% endblock %}

{% block __oro_rfp_frontend_request_edit__rfp_form_edit_container_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': " request-form-container"
    }) %}

    <div{{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block __oro_rfp_frontend_request_edit__rfp_form_fields_widget %}
    <div class="request-form-grid">
        <div class="request-form-grid__row">
            <div class="request-form-grid__column grid__column--6">
                {{ form_row(form.firstName) }}
            </div>
            <div class="request-form-grid__column grid__column--6">
                {{ form_row(form.lastName) }}
            </div>
        </div>
        <div class="request-form-grid__row">
            <div class="request-form-grid__column grid__column--6">
                {{ form_row(form.email)  }}
            </div>
            <div class="request-form-grid__column grid__column--6">
                {{ form_row(form.phone) }}
            </div>
        </div>
        <div class="request-form-grid__row">
            <div class="request-form-grid__column grid__column--6">
                {{ form_row(form.company) }}
            </div>
            <div class="request-form-grid__column grid__column--6">
                {{ form_row(form.role) }}
            </div>
        </div>
        <div class="request-form-grid__row">
            <div class="request-form-grid__column grid__column--12">
                {{ form_row(form.note, { 'attr': {'rows': 5} }) }}
            </div>
        </div>
        <div class="request-form-grid__row">
            <div class="request-form-grid__column grid__column--6">
                {{ form_row(form.poNumber) }}
            </div>
            <div class="request-form-grid__column grid__column--6">
                {{ form_row(form.shipUntil, { 'attr': {'class': 'input input--size-m'} }) }}
            </div>
        </div>
        <div class="request-form-grid__row">
            <div class="request-form-grid__column grid__column--6">
                {{ form_row(form.assignedAccountUsers) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block __oro_rfp_frontend_request_edit__rfp_form_lineitems_widget %}
    {{ form_widget(form.requestProducts) }}
    {{ form_errors(form.requestProducts) }}
{% endblock %}

{% block __oro_rfp_frontend_request_edit__rfp_form_actions_widget %}
    <div class="request-form-actions">
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block __oro_rfp_frontend_request_edit__rfp_form_actions_create_widget %}
    <div class="request-form-actions__item">
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block __oro_rfp_frontend_request_edit__rfp_form_actions_back_widget %}
    <div class="request-form-actions__item request-form-actions__back">
        {{ block_widget(block) }}
    </div>
{% endblock %}
