{% block __oro_rfp_frontend_request_edit__rfp_form_container_widget %}
    {% set attr = layout_attr_defaults(attr, {
        'data-focusable': true,
    }) %}
    <div{{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block __oro_rfp_frontend_request_edit__rfp_page_title_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' {{ class_prefix }}__title'
    }) %}
    <div{{ block('block_attributes') }}>{{ block_widget(block) }}</div>
{% endblock %}

{% block __oro_rfp_frontend_request_edit__rfp_form_start_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' {{ class_prefix }}__form {{ class_prefix }}__form_register'
    }) %}
    {{ block('form_start_widget') }}
{% endblock %}

{% block __oro_rfp_frontend_request_edit__rfp_form_edit_container_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' request-form-container'
    }) %}

    <div{{ block('block_attributes') }}>
        <div class="grid">
            {{ block_widget(block) }}
        </div>
    </div>
{% endblock %}

{% block __oro_rfp_frontend_request_edit__rfp_form_fields_widget %}
    {{ form_row(form._token) }}

    <div class="grid-col-6 grid-col-mobile-landscape-12">
        {{ form_row(form.firstName) }}
    </div>
    <div class="grid-col-6 grid-col-mobile-landscape-12">
        {{ form_row(form.lastName) }}
    </div>
    <div class="grid-col-6 grid-col-mobile-landscape-12">
        {{ form_row(form.email) }}
    </div>
    <div class="grid-col-6 grid-col-mobile-landscape-12">
        {{ form_row(form.phone) }}
    </div>
    <div class="grid-col-6 grid-col-mobile-landscape-12">
        {{ form_row(form.company) }}
    </div>
    <div class="grid-col-6 grid-col-mobile-landscape-12">
        {{ form_row(form.role) }}
    </div>
    <div class="grid-col-12">
        {{ form_row(form.note, { 'attr': {'rows': 5} }) }}
    </div>
    <div class="grid-col-6 grid-col-mobile-landscape-12">
        {{ form_row(form.poNumber) }}
    </div>
    <div class="grid-col-6 grid-col-mobile-landscape-12">
        <div class="datepicker-box datepicker-box--form-mode">
            <span class="datepicker-box__icon" aria-hidden="true"><i class="fa-calendar"></i></span>
            {{ form_row(form.shipUntil, {
                'attr': {
                    'class': 'datepicker-input input'
                },
                'parentClass': '',
                'datePickerOptions': {
                    'minDate': 0
                }
            }) }}
        </div>
    </div>
{% endblock %}

{% block __oro_rfp_frontend_request_edit__rfp_form_field_assigned_to_widget %}
    <div class="grid-col-6 grid-col-mobile-landscape-12">
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block __oro_rfp_frontend_request_edit__rfp_form_lineitems_widget %}
    {{ form_widget(form.requestProducts) }}
    {{ form_errors(form.requestProducts) }}
{% endblock %}

{% block __oro_rfp_frontend_request_edit__rfp_form_actions_widget %}
    <div class="request-form-actions">
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block __oro_rfp_frontend_request_edit__rfp_form_actions_back_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' btn'
    }) %}
    {{ block_widget(block, {attr: attr}) }}
{% endblock %}

{% block __oro_rfp_frontend_request_edit__rfp_form_lineitems_container_widget %}
    <div data-page-component-view="{{ {
             view: 'ororfp/js/app/views/line-items-view',
             tierPrices: tierPrices|default({}),
             tierPricesRoute: 'oro_pricing_frontend_price_by_customer'
         }|json_encode }}">
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block __oro_rfp_frontend_request_edit__rfp_form_lineitems_view_js_widget %}
    <script type="text/template" id="rfp-form-line-item-view-template">
        <% _.each(lines, function(line, index){ %>
            <div class="request-form-product__inner">
                <% if (!index) { %>
                <div class="request-form-product__item request-form-product__item--link">
                    <span class="request-form-link"><%- product['defaultName.string'] %></span>
                </div>
                <% } %>
                <div class="request-form-product__item request-form-product__item--quantity">
                    <span class="request-form-quantity">
                        <span class="request-form-quantity__label">{{ 'oro.rfp.frontend.request.lineitem.qty'|trans|e('html')|raw }}:</span>
                        <span class="request-form-quantity__total"><%- line.quantity %></span>
                        <span class="request-form-quantity__units"><%- _.__('oro.product.product_unit.' + line.unit + '.label.full') %></span>
                    </span>
                </div>
                <div class="request-form-product__item request-form-product__item--target">
                    <dl class="request-form-amount">
                        <dt class="request-form-amount__piece">
                            <span class="request-form-amount__label">{{ 'oro.rfp.requestproductitem.price.label'|trans|e('html')|raw }}</span>
                            <span class="request-form-amount__total"><%- formatter.formatCurrency(line.price, line.currency) %></span>
                        </dt>
                    </dl>
                </div>
                <div class="request-form-product__item request-form-product__item--listed">
                    <dl class="request-form-amount">
                        <dt class="request-form-amount__piece">
                            <span class="request-form-amount__label">{{ 'oro.pricing.frontend.pricelist.index.listed_price'|trans|e('html')|raw }}</span>
                            <span class="request-form-amount__total">
                            <% if (line.found_price) { %>
                                <%- formatter.formatCurrency(line.found_price.price, line.currency) %>
                            <% } else { %>
                                <%- _.__("N/A") %>
                            <% } %>
                            </span>
                        </dt>
                    </dl>
                </div>
            </div>
        <% }) %>
        <% if (!_.isEmpty(_.trim(comment))) { %>
            <div class="request-form-product__item request-form-product__item--comment">
                <p class="request-form-note">{{ 'oro.rfp.requestproductitem.note.label'|trans }}: <%- comment %></p>
            </div>
        <% } %>
    </script>
{% endblock %}
