{% block _account_user_view_page_widget %}
    {% set attr = attr|merge({
        class: attr.class|default('') ~ " {{ class_prefix }} {{ class_prefix }}_full"
    }) %}
    <div{{ block('block_attributes') }}>{{ block_widget(block) }}</div>
{% endblock %}

{% block _account_user_top_actions_widget %}
    {% set attr = attr|merge({ class: attr.class|default('') ~ " oro-order__controls-list oro-account__controls-list" }) %}
    <div{{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _account_user_view_information_widget %}
    {% set attr = attr|merge({ class: attr.class|default('') ~ " oro-account__block" }) %}
    <div{{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _account_user_view_information_title_widget %}
    <div class="account-oq__item account-oq__item_full mb0-sm">
        <h2 class="account-oq__item__title">
            {{ block_widget(block) }}
        </h2>
    </div>
{% endblock %}

{% block _account_user_view_information_content_widget %}
    {% import 'OroUIBundle::macros.html.twig' as UI %}
    {% import 'OroEmailBundle::actions.html.twig' as EmailActions %}
    {% import 'OroEmailBundle::macros.html.twig' as Email %}

    <div class="account-oq__item__body">
        <div class="widget-content">
            <div class="row-fluid form-horizontal">
                <div class="responsive-block">
                    {% if  entity.namePrefix is defined %}
                        {{ UI.renderProperty('orob2b.account.accountuser.name_prefix.label'|trans, entity.namePrefix) }}
                    {% endif %}
                    {{ UI.renderProperty('orob2b.account.accountuser.first_name.label'|trans, entity.firstName) }}
                    {% if  entity.middleName is defined %}
                        {{ UI.renderProperty('orob2b.account.accountuser.middle_name.label'|trans, entity.middleName) }}
                    {% endif %}
                    {{ UI.renderProperty('orob2b.account.accountuser.last_name.label'|trans, entity.lastName) }}
                    {% if  entity.nameSuffix is defined %}
                        {{ UI.renderProperty('orob2b.account.accountuser.name_suffix.label'|trans, entity.nameSuffix) }}
                    {% endif %}

                    {% set birthday_string %}
                        {{ entity.birthday is empty ? 'N/A'|trans : entity.birthday|oro_format_date }}
                        {% if entity.birthday is not empty %}
                            ({{ entity.birthday|age_string({'default': 'N/A'}) }})
                        {% endif %}
                    {% endset %}
                    {{ UI.renderProperty('orob2b.account.accountuser.birthday.label'|trans, birthday_string) }}
                    {{ UI.renderHtmlProperty('orob2b.account.accountuser.email.label'|trans, Email.email_address_simple(entity.email)) }}

                    {% if entity.account %}
                        {{ UI.renderHtmlProperty('orob2b.account.accountuser.profile.company_name'|trans, entity.account.name) }}
                    {% endif %}

                    {% if resource_granted('orob2b_account_account_user_role_view') %}
                        {% set roles = [] %}
                        {% for entityRole in entity.roles %}
                            {% set roles = roles|merge([entityRole.label]) %}
                        {% endfor %}
                        {{ UI.renderHtmlProperty('orob2b.account.accountuser.roles.label'|trans, roles|join('<br />')) }}
                    {% endif %}

                    {% if entity.salesRepresentatives | length %}
                        {{ UI.renderHtmlProperty('orob2b.account.accountuser.sales_representatives.label'|trans, UI.entityViewLinks(entity.salesRepresentatives, 'fullName', 'oro_user_view')) }}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block _account_user_address_book_widget %}
    {% set attr = attr|merge({ class: attr.class|default('') ~ " oro-account__block" }) %}
    <div{{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _account_user_address_book_head_widget %}
    <div class="account-oq__item account-oq__item_full mb0-sm">
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _account_user_address_book_title_widget %}
    <h2 class="account-oq__item__title">
        {{ block_widget(block) }}
    </h2>
{% endblock %}

{% block _account_user_address_add_link_widget %}
    {% if block.vars.visible %}
        <div class="oro-account-user-address__add-link pull-right">
            {{ block_widget(block) }}
        </div>
    {% endif %}
{% endblock %}

{% block _account_user_address_book_content_widget %}
    <div class="account-oq__item__body">
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _account_user_list_link_widget %}
    <div class="">
        {{ block_widget(block) }}
    </div>
{% endblock %}
