{% block _account_user_view_page_widget %}
    {% set attr = attr|merge({
    class: attr.class|default('') ~ " {{ class_prefix }} {{ class_prefix }}_full"
}) %}
    <div{{ block('block_attributes') }}>{{ block_widget(block) }}</div>
{% endblock %}

{% block _account_user_top_actions_widget %}
    {% set attr = attr|merge({ class: attr.class|default('') ~ " oro-order__controls-list" }) %}
    <div{{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _account_user_view_information_title_widget %}
    <div class="account-oq__item account-oq__item_full mb0-sm">
        <h2 class="account-oq__item__title">
            {{ block_widget(block) }}
        </h2>
    </div>
{% endblock %}

{% block _account_user_view_information_widget %}
    {% import 'OroUIBundle::macros.html.twig' as UI %}
    {% import 'OroEmailBundle::actions.html.twig' as EmailActions %}
    {% import 'OroEmailBundle::macros.html.twig' as Email %}

    {{ oro_widget_render({
        'widgetType': 'block',
        'url': path('orob2b_account_account_user_info', {id: entity.id})
    }) }}
{% endblock %}

{% block _account_user_address_book_title_widget %}
    <div class="account-oq__item account-oq__item_full mb0-sm">
        <h2 class="account-oq__item__title">
            {{ block_widget(block) }}
        </h2>
    </div>
{% endblock %}

{% block _account_user_address_book_widget %}
    {{ oro_widget_render({
        'widgetType': 'block',
        'contentClasses': [],
        'url': path('orob2b_account_account_user_address_book', {id: entity.id})
    }) }}
{% endblock %}
