{# main menu: items #}
{% block _main_menu_container_new_widget %}
    {% set attr = layout_attr_merge(attr, {'~class': " account-sidebar"}) %}
    <div {{ block('block_attributes') }}>
        <ul class="top-nav__list main-menu-container">
            {{ block_widget(block, {attr: attr}) }}
        </ul>
    </div>
{% endblock %}

{# main menu: product categories #}
{% block _main_menu_container_categories_widget %}
    {% set attr = layout_attr_merge(attr, {'~class': " account-sidebar"}) %}
    <div {{ block('block_attributes') }}>
        <div class="collapse-view expanded"
             data-page-component-module="oroui/js/app/components/jquery-widget-component"
             data-page-component-options="{{ {
                 widgetModule: 'orob2bfrontend/default/js/widgets/collapse-widget'
             }|json_encode() }}"
        >
            <a href="#" class="text-uppercase nested-list__trigger"  data-collapse-trigger>
                <span class="badge badge_sm badge_circled-corners badge_orange categories-widget__badge ">
                    <i class="cf-local_mall"></i>
                </span>
                <span class="collapse-view__trigger collapse-view__trigger--icon" data-collapse-trigger>
                    <i class="collapse-view__trigger-icon cf-play cf--gray" data-toggle="collapse"></i>
                </span>
                {{ 'orob2b.catalog.category.categories.label'|trans }}
            </a>

            <ul class="top-nav__list navigation-widget__list_nested nested-list_expanded hidden-when-collapsed" data-collapse-container>
                {{ block_widget(block, {attr: attr}) }}
            </ul>
        </div>
    </div>
{% endblock %}

