{%- set lineItem = record.rootEntity %}
{%- for kitItemLineItem in lineItem.kitItemLineItems %}
    <div>{{ kitItemLineItem.kitItem.labels|localized_value|e }} <span>[x {{ kitItemLineItem.quantity }}]</span></div>
    {% set productId = kitItemLineItem.product.id|default(0) %}
    {% if productId and is_visible_product(productId) %}
        <a href="{{ path('oro_product_frontend_product_view', {id: kitItemLineItem.product.id}) }}">{{ kitItemLineItem.product.names|localized_value|e }}</a>
    {% else %}
        {{ kitItemLineItem.product.names|localized_value|e }}
    {% endif %}
{%- endfor %}
