{% import '@OroUI/macros.html.twig' as UI %}
{% import '@OroEmail/actions.html.twig' as EmailActions %}
{% import '@OroEntityConfig/macros.html.twig' as entityConfig %}

<div class="widget-content">
    <div class="row-fluid form-horizontal">
        <div class="responsive-block">
            {{ UI.renderProperty('oro.rfp.request.first_name.label'|trans, entity.firstName) }}
            {{ UI.renderProperty('oro.rfp.request.last_name.label'|trans, entity.lastName) }}
            {{ UI.renderHtmlProperty('oro.rfp.request.email.label'|trans, EmailActions.sendEmailLink(entity.email, entity), null, null, {'dir': 'ltr'}) }}
            {{ UI.renderProperty('oro.rfp.request.phone.label'|trans, entity.phone, null, null, {'dir': 'ltr'}) }}
            {{ UI.renderProperty('oro.rfp.request.company.label'|trans, entity.company|default('N/A'|trans)) }}
            {{ UI.renderProperty('oro.rfp.request.role.label'|trans, entity.role|default('N/A'|trans)) }}
            {{ UI.renderProperty('oro.rfp.request.po_number.label'|trans, entity.poNumber|default('N/A'|trans), null, null, {'dir': 'ltr'}) }}
            {{ UI.renderProperty('oro.rfp.request.ship_until.label'|trans, entity.shipUntil|oro_format_date|default('N/A'|trans)) }}
            {% if entity.customer %}
                {{ UI.renderHtmlProperty('oro.rfp.request.customer.label'|trans, UI.entityViewLink(entity.customer, entity.customer.name, 'oro_customer_customer_view')) }}
            {% endif %}
            {% if entity.customerUser %}
                {{ UI.renderHtmlProperty('oro.rfp.request.customer_user.label'|trans, UI.entityViewLink(entity.customerUser, entity.customerUser.fullName, 'oro_customer_customer_user_view')) }}
            {% endif %}
            {{ UI.renderProperty('oro.rfp.request.internal_status.label'|trans, entity.internalStatus.name|default('')) }}
            {{ UI.renderProperty('oro.rfp.request.customer_status.label'|trans, entity.customerStatus.name|default('')) }}
            {% if entity.assignedUsers | length %}
                {{ UI.renderHtmlProperty('oro.rfp.request.assigned_users.label'|trans, UI.entityViewLinks(entity.assignedUsers, 'fullName', 'oro_user_view')) }}
            {% endif %}
            {% if entity.assignedCustomerUsers | length %}
                {{ UI.renderHtmlProperty('oro.rfp.request.assigned_customer_users.label'|trans, UI.entityViewLinks(entity.assignedCustomerUsers, 'fullName', 'oro_customer_customer_user_view')) }}
            {% endif %}
        </div>
        <div class="responsive-block">
            {{ UI.renderHtmlProperty('oro.rfp.request.note.label'|trans, entity.note|nl2br) }}

            {{ entityConfig.renderDynamicFields(entity) }}
        </div>
    </div>
</div>
