{% import 'OroUIBundle::macros.html.twig' as UI %}
{% import 'OroEntityConfigBundle::macros.html.twig' as entityConfig %}
{% import 'OroEmailBundle::actions.html.twig' as EmailActions %}

<div class="widget-content">
    <div class="row-fluid form-horizontal">
        <div class="responsive-block">
            {{ UI.renderProperty('orob2b.rfp.request.first_name.label'|trans, entity.firstName) }}
            {{ UI.renderProperty('orob2b.rfp.request.last_name.label'|trans, entity.lastName) }}
            {{ UI.renderHtmlProperty('orob2b.rfp.request.email.label'|trans, EmailActions.sendEmailLink(entity.email, entity))}}
            {{ UI.renderProperty('orob2b.rfp.request.phone.label'|trans, entity.phone) }}
            {{ UI.renderProperty('orob2b.rfp.request.company.label'|trans, entity.company|default('N/A')) }}
            {{ UI.renderProperty('orob2b.rfp.request.role.label'|trans, entity.role|default('N/A')) }}
            {% if is_granted_view_account_user(entity) %}
                {{ UI.renderHtmlProperty('orob2b.frontend.rfp.request.account_user.label'|trans, entity.accountUser) }}
            {% endif %}
            {{ UI.renderProperty('orob2b.rfp.request.status.label'|trans, entity.status.label) }}
        </div>
        <div class="responsive-block">
            {{ entityConfig.renderDynamicFields(entity) }}
        </div>
    </div>
</div>
