{% extends '@OroB2BFrontend/layouts/default/form_theme.html.twig' %}

{%- block form_label -%}
    {% set label_attr = label_attr|merge({
        class: [
            label_attr.class|default(''),
            class_prefix ~ "__form__payment-label"
            ]|join(' ')
        }) %}

    {{ parent() }}
{%- endblock form_label -%}

{% block _orob2b_payment_credit_card_payment_credit_card_cvv_widget %}
    {% set attr = attr|merge({
        class: [
            attr.class|default(''),
            class_prefix ~ "__form__input_ccv",
            class_prefix ~ "__form__input",
            'input input_md'
        ]|join(' ')
    }) %}

    {%- set type = type|default('text') -%}
    <input type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
    <a href="#" class="what-this-link">What's this?</a>
{% endblock %}

{#{% block orob2b_payment_credit_card_widget %}#}
    {#<div class="{{ class_prefix }}__form__payment-container ">#}
        {#<div class="{{ class_prefix }}__form__payment-methods">#}
            {#<ul class="{{ class_prefix }}__form__payment-methods__list">#}
                {#<li><a href="#"><i class="credit-card-icon credit-card-icon_mc"></i></a></li>#}
                {#<li><a href="#"><i class="credit-card-icon credit-card-icon_visa"></i></a></li>#}
                {#<li><a href="#"><i class="credit-card-icon credit-card-icon_ae"></i></a></li>#}
                {#<li><a href="#"><i class="credit-card-icon credit-card-icon_discover"></i></a></li>#}
            {#</ul>#}

            {#<div class="{{ class_prefix }}__form__payment-methods__form">#}
                {#<div class="{{ class_prefix }}__form__row">#}
                    {#<div class="{{ class_prefix }}__form__col form__col_x12">#}
                    {#<label for="cardNumber" class="checkout__form__payment-label">Credit Card Number<sup class="red">*</sup></label>#}
                    {#<input type="text" name="cardNumber" id="cardNumber" class="input input_md input_block checkout__form__input " placeholder="Enter your credit card number" />#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}
        {#</div>#}
    {#</div>#}
{#{% endblock %}#}

{% block payment_method_form_widget %}
    <div class="checkout__form__radio" data-item-container>
        <label class="radio_custom radio_custom_blue">
            <input type="radio" name="paymentMethod" data-choice="{{ form.vars.name }}" />
            <i class="material-icons radio_checked fs18 mmr5-md">radio_button_checked</i>
            <i class="material-icons radio_not-checked fs18 mmr5-md">radio_button_unchecked</i>
            <span class="checkbox_custom__text fs13">{{ form.vars.label|trans }}</span>
        </label>
        <div class="checkout__form__payment-container" data-form-container>
            {% if form.vars.unique_block_prefix == '_orob2b_payment_term_method' %}
                <div>
                    {{ form.vars.payment_term }}
                </div>
            {% else %}
                {{ form_widget(form) }}
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block _orob2b_payment_method_paymentMethod_entry_label %}{% endblock %}
