{% extends 'OroB2BFrontendBundle:layouts/default:layout.html.twig' %}

{% block _payment_methods_widget %}
    <div class="checkout__form" data-page-component-module="orob2bpayment/js/app/components/payment-method-selector-component">
        <div class="checkout__form__row">
            <div class="checkout__form__col form__col_x6" data-payment-method-forms>
                <span class="checkout__form__label" data-payment-no-methods="{{ 'orob2b.payment.methods.no_method'|trans }}">{{ 'orob2b.payment.methods.select_method'|trans }}<sup class="red">*</sup></span>
                {{ block_widget(block) }}
            </div>
        </div>

        <div class="checkout__form__row">
            <div class="create-account__form__req-text"><sup>*</sup>{{ 'orob2b.payment.methods.required_field'|trans }}</div>
            <div class="create-account__form__col form__col_x12">
                <button type="submit" class="btn btn_orange btn_lg checkout__form__submit" data-payment-method-submit>
                    {{ 'orob2b.payment.methods.continue'|trans }}<i class="icon-right-open-mini va-m_md"></i>
                </button>
            </div>
        </div>
        <div class="checkout__form__back">
            <a href="#"><i class="icon-left-open-mini"></i>{{ 'orob2b.payment.methods.back'|trans }}</a>
        </div>
    </div>
{% endblock %}

{% block payment_method_widget %}
    {% set vars = blocks[form_block_name].vars.form.vars %}
    {% if (vars.method_enabled) %}
        <div class="checkout__form__radio" data-item-container>
            <label class="radio_custom radio_custom_blue" data-radio>
                <input type="radio" name="paymentMethod" data-choice="{{ vars.name }}" />
                <i class="cf-radio_button_checked radio_checked fs18 mmr5-md"></i>
                <i class="cf-radio_button_unchecked radio_not-checked fs18 mmr5-md"></i>
                <span class="checkbox_custom__text fs13">{{ vars.label|trans }}</span>
            </label>
            <div class="checkout__form__payment-container" data-form-container>
                {% if vars.unique_block_prefix == '_orob2b_payment_term_method' %}
                    <div>
                        {{ vars.payment_term }}
                    </div>
                {% else %}
                    {{ block_widget(block) }}
                {% endif %}
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block _payment_credit_card_cvv_widget %}
    <div class="testetstets">
        {{ block('form_widget_simple') }}
    </div>
{% endblock %}

{% block _payment_methods_head_widget %}
   <main class="main">
      <!-- START CONTENT -->
      <div class="content content_has-sidebar">
        <div class="content__container">
          <div class="container-fluid">
            <div class="content__inner">
              <h1 class="checkout-page-title">Checkout</h1>

              <div class="checkout-page-container">
                <!-- START ChECKOUT -->
                <div class="checkout hidden-lg hidden-md">
                  <div class="checkout__head">
                    <h2 href="#"  class="checkout__title">
                      <span class="badge badge_md badge_circle badge_complete"><i class="icon-check"></i></span>
                      Billing Information
                    </h2>
                    <a href="#" class="checkout__head__edit-link"><i class="icon-pencil"></i>Edit</a>
                  </div>
                  <div class="checkout__body">
                    <form action="#" class="checkout__form">
                      <fieldset class="checkout__form__row">
                        <div class="checkout__form__col form__col_x6">
                          <label for="billingAddress" class="checkout__form__label">Select a Billing Address form your Account<sup class="red">*</sup></label>
                          <div class="checkout__form__select">
                            <select data-chosen-selectbox class="input input_md" name="billingAddress" id="billingAddress">
                              <option value="0">Robin Williams, 1234 Fake St., #276, San Francisco, CA 94109</option>
                              <option value="0">Jack Daniels, 1234 Fake St., #276, San Francisco, CA 94109</option>
                              <option value="0">John Doe, 1234 Fake St., #276, San Francisco, CA 94109</option>
                            </select>
                          </div>
                        </div>
                      </fieldset>

                      <fieldset class="checkout__form__row">
                        <div class="checkout__form__col">
                          <label for="confirmShippingAddress" class="checkbox_custom checkbox_custom_blue checked" data-checkbox>
                            <input type="checkbox" name="confirmShippingAddress" id="confirmShippingAddress" checked="checked" />
                            <i class="material-icons checkbox_checked fs18 mmr5-md">check_box</i>
                            <i class="material-icons checkbox_not-checked fs18 mmr5-md">check_box_outline_blank</i>
                            <span class="checkbox_custom__text fs13">Ship to this address</span>
                          </label>
                        </div>
                      </fieldset>

                      <fieldset class="checkout__form__row">
                        <div class="create-account__form__req-text"><sup>*</sup>Required Field</div>
                        <div class="create-account__form__col form__col_x12">
                          <button type="submit" class="btn btn_orange btn_lg checkout__form__submit">
                            Continue<i class="icon-right-open-mini va-m_md"></i>
                          </button>
                        </div>
                      </fieldset>
                      <div class="checkout__form__back">
                        <a href="#"><i class="icon-left-open-mini"></i>Back</a>
                      </div>
                    </form>
                  </div>
                </div>

                <div class="checkout hidden-lg hidden-md">
                  <div class="checkout__head">
                    <h2 class="checkout__title">
                      <span class="badge badge_md badge_circle badge_complete"><i class="icon-check"></i></span>
                      Shipping Information
                    </h2>
                    <a href="#" class="checkout__head__edit-link"><i class="icon-pencil"></i>Edit</a>
                  </div>
                  <div class="checkout__body">
                    <form action="#" class="checkout__form">
                      <fieldset class="checkout__form__row">
                        <div class="checkout__form__col form__col_x6">
                          <label for="billingAddress" class="checkout__form__label">Select a Shipping Address form your Account<sup class="red">*</sup></label>
                          <div class="checkout__form__select">
                            <select data-chosen-selectbox class="input input_md" name="billingAddress" id="billingAddress">
                              <option value="0">Robin Williams, 1234 Fake St., #276, San Francisco, CA 94109</option>
                              <option value="0">Jack Daniels, 1234 Fake St., #276, San Francisco, CA 94109</option>
                              <option value="0">John Doe, 1234 Fake St., #276, San Francisco, CA 94109</option>
                            </select>
                          </div>
                        </div>
                      </fieldset>

                      <fieldset class="checkout__form__row">
                        <div class="checkout__form__col">
                          <label for="useBillingAddress" class="checkbox_custom checkbox_custom_blue checked" data-checkbox>
                            <input type="checkbox" name="useBillingAddress" id="useBillingAddress" checked="checked" />
                            <i class="material-icons checkbox_checked fs18 mmr5-md">check_box</i>
                            <i class="material-icons checkbox_not-checked fs18 mmr5-md">check_box_outline_blank</i>
                            <span class="checkbox_custom__text fs13">Use your billing address</span>
                          </label>
                        </div>
                      </fieldset>

                      <fieldset class="checkout__form__row">
                        <div class="create-account__form__req-text"><sup>*</sup>Required Field</div>
                        <div class="create-account__form__col form__col_x12">
                          <button type="submit" class="btn btn_orange btn_lg checkout__form__submit">
                            Continue<i class="icon-right-open-mini va-m_md"></i>
                          </button>
                        </div>
                      </fieldset>
                      <div class="checkout__form__back">
                        <a href="#"><i class="icon-left-open-mini"></i>Back</a>
                      </div>
                    </form>
                  </div>
                </div>

                <div class="checkout hidden-lg hidden-md">
                  <div class="checkout__head">
                    <h2 class="checkout__title">
                      <span class="badge badge_md badge_circle badge_complete"><i class="icon-check"></i></span>
                      Shipping Method
                    </h2>
                    <a href="#" class="checkout__head__edit-link"><i class="icon-pencil"></i>Edit</a>
                  </div>
                  <div class="checkout__body">
                    <form action="#" class="checkout__form">
                      <fieldset class="checkout__form__row">
                        <div class="checkout__form__col form__col_x6">
                          <span class="checkout__form__label">Select a Shipping Method<sup class="red">*</sup></span>
                          <div class="checkout__form__radio">
                            <label class="radio_custom radio_custom_blue checked" data-radio>
                              <input type="radio" name="shippingMethod" checked="checked" />
                              <i class="material-icons radio_checked fs18 mmr5-md">radio_button_checked</i>
                              <i class="material-icons radio_not-checked fs18 mmr5-md">radio_button_unchecked</i>
                              <span class="checkbox_custom__text fs13">USPS Ground - $19.75</span>
                            </label>
                          </div>
                          <div class="checkout__form__radio">
                            <label class="radio_custom radio_custom_blue" data-radio>
                              <input type="radio" name="shippingMethod" />
                              <i class="material-icons radio_checked fs18 mmr5-md">radio_button_checked</i>
                              <i class="material-icons radio_not-checked fs18 mmr5-md">radio_button_unchecked</i>
                              <span class="checkbox_custom__text fs13">USPS Express - $45.87</span>
                            </label>
                          </div>
                        </div>
                      </fieldset>

                      <fieldset class="checkout__form__row">
                        <div class="create-account__form__req-text"><sup>*</sup>Required Field</div>
                        <div class="create-account__form__col form__col_x12">
                          <button type="submit" class="btn btn_orange btn_lg checkout__form__submit">
                            Continue<i class="icon-right-open-mini va-m_md"></i>
                          </button>
                        </div>
                      </fieldset>
                      <div class="checkout__form__back">
                        <a href="#"><i class="icon-left-open-mini"></i>Back</a>
                      </div>
                    </form>
                  </div>
                </div>

                <div class="checkout active">
                  <div class="checkout__head">
                    <h2 class="checkout__title">
                      <span class="badge badge_md badge_circle badge_orange">4</span>
                      Payment
                    </h2>
                  </div>
                  <div class="checkout__body">
{% endblock %}

{% block _payment_methods_footer_widget %}
                  </div>
                </div>

                  <div class="checkout hidden-lg hidden-md">
                      <div class="checkout__head">
                          <a href="#" class="checkout__title">
                              <span class="badge badge_md badge_circle badge_ll_gray">5</span>
                              Order Review
                          </a>
                      </div>
                  </div>
                  <!-- END CHECKOUT -->

                  <!-- START ORDER SUMMARY -->
                  <div class="checkout-order-summary">
                      <div class="checkout-order-summary__tab" data-tab>
                          <div class="checkout-order-summary__header">
                              <div data-tab-trigger data-allow-tab-toggle="true">
                                  <div class="checkout-order-summary__header__icon-group">
                            <span class="badge badge_sm badge_orange badge_circled-corners mmr7-md mmr7-sm">
                              <i class="icon-basket"></i>
                            </span>
                                      <i class="icon-play"></i>
                                  </div>
                                  <h3 class="checkout-order-summary__header__title">Order Summary</h3>
                                  <div class="checkout-order-summary__header__desc">
                                      <span class="mr1-md mr1-sm"><strong>8</strong> Items</span>
                                      <span>Subtotal: <strong>$1,246.45</strong></span>
                                  </div>
                              </div>
                              <a href="#" class="checkout-order-summary__header__edit-link"><i class="icon-pencil"></i>Edit Order</a>
                          </div>
                          <div class="checkout-order-summary__tab__content">
                              <table class="oro-grid-table">
                                  <thead class="hidden-xs">
                                  <tr>
                                      <th>Item</th>
                                      <th class="text-center">Quantity</th>
                                      <th class="text-right">Price</th>
                                  </tr>
                                  </thead>
                                  <tbody>
                                  <tr>
                                      <td class="va-t_md">
                                          <h3 class="product-item__title product-item__title_in-cart mb1-md">
                                              <a href="#">Basic Unisex Scrub Pants</a>
                                          </h3>
                                          <div>Item #: <span class="red">12323</span></div>
                                          <div>MFG Model #: <span class="red">1ABC13</span></div>
                                          <div>Size: <span class="red">L</span></div>
                                      </td>
                                      <td class="text-center va-t_md">2</td>
                                      <td class="va-t_md text-right">
                                          <div class="checkout-order-summary__price-table">
                                              <table class="table">
                                                  <tr>
                                                      <td>Price per item:</td>
                                                      <td>$1.50</td>
                                                  </tr>
                                                  <tr>
                                                      <td>Total Price:</td>
                                                      <td><span class="fs16 blue">$12.0</span></td>
                                                  </tr>
                                              </table>
                                          </div>
                                      </td>
                                  </tr>
                                  <tr>
                                      <td class="va-t_md">
                                          <h3 class="product-item__title product-item__title_in-cart mb1-md">
                                              <a href="#">Basic Unisex Scrub Pants</a>
                                          </h3>
                                          <div>Item #: <span class="red">12323</span></div>
                                          <div>MFG Model #: <span class="red">1ABC13</span></div>
                                          <div>Size: <span class="red">L</span></div>
                                      </td>
                                      <td class="text-center va-t_md">2</td>
                                      <td class="va-t_md text-right">
                                          <div class="checkout-order-summary__price-table">
                                              <table class="table">
                                                  <tr>
                                                      <td>Price per item:</td>
                                                      <td class="text-right">$1.50</td>
                                                  </tr>
                                                  <tr>
                                                      <td>Total Price:</td>
                                                      <td class="text-right"><span class="fs16 blue">$12.0</span></td>
                                                  </tr>
                                              </table>
                                          </div>
                                      </td>
                                  </tr>
                                  <tr>
                                      <td class="va-t_md">
                                          <h3 class="product-item__title product-item__title_in-cart mb1-md">
                                              <a href="#">Basic Unisex Scrub Pants</a>
                                          </h3>
                                          <div>Item #: <span class="red">12323</span></div>
                                          <div>MFG Model #: <span class="red">1ABC13</span></div>
                                          <div>Size: <span class="red">L</span></div>
                                      </td>
                                      <td class="text-center va-t_md">2</td>
                                      <td class="va-t_md text-right">
                                          <div class="checkout-order-summary__price-table">
                                              <table class="table">
                                                  <tr>
                                                      <td>Price per item:</td>
                                                      <td class="text-right">$1.50</td>
                                                  </tr>
                                                  <tr>
                                                      <td>Total Price:</td>
                                                      <td class="text-right"><span class="fs16 blue">$12.0</span></td>
                                                  </tr>
                                              </table>
                                          </div>
                                      </td>
                                  </tr>
                                  <tr>
                                      <td colspan="3" class="va-t_md text-right">
                                          <div class="checkout-order-summary__price-table">
                                              <table class="table">
                                                  <tr>
                                                      <td>Total QTY</td>
                                                      <td class="text-right">8</td>
                                                  </tr>
                                                  <tr>
                                                      <td>Shipping</td>
                                                      <td class="text-right">$19.75</td>
                                                  </tr>
                                                  <tr>
                                                      <td><span class="fs18">Total Price</span></td>
                                                      <td class="text-right"><span class="fs18">$1,365.60</span></td>
                                                  </tr>
                                              </table>
                                          </div>
                                      </td>
                                  </tr>
                                  </tbody>
                              </table>
                          </div>
                      </div>
                  </div>
                  <!-- END ORDER SUMMARY -->
              </div>
            </div>
          </div>
        </div>
      </div>
       <!-- END CONTENT -->

       <!-- START SIDEBAR -->
       <aside class="sidebar sidebar_left">
           <div class="checkout-sidebar">
               <ul class="checkout-navigation">
                   <li class="past-step">
                       <span class="badge badge_xmd badge_circle badge_complete"><i class="icon-check"></i></span>
                       <h3 class="checkout-navigation__title">
                           Billing Information
                           <a href="#" class="button-icon fs14 gray">
                  <span class="ttip__wrap">
                    <i class="icon-pencil ttip__toggle"></i>
                    <span class="ttip">
                      <span class="ttip__content ttip__content_dark">Edit Billing Information</span>
                    </span>
                  </span>
                           </a>
                       </h3>
                       <div class="checkout-navigation__content">
                           <div>Robin Williams</div>
                           <div>1234 Fake St., #261</div>
                           <div>San Francisco, CA 94109</div>
                       </div>
                   </li>
                   <li class="past-step">
                       <span class="badge badge_xmd badge_circle badge_complete"><i class="icon-check"></i></span>
                       <h3 class="checkout-navigation__title">
                           Shipping Information
                           <a href="#" class="button-icon fs14 gray">
                  <span class="ttip__wrap">
                    <i class="icon-pencil ttip__toggle"></i>
                    <span class="ttip">
                      <span class="ttip__content ttip__content_dark">Edit Shipping Information</span>
                    </span>
                  </span>
                           </a>
                       </h3>
                       <div class="checkout-navigation__content">
                           <div>Robin Williams</div>
                           <div>1234 Fake St., #261</div>
                           <div>San Francisco, CA 94109</div>
                       </div>
                   </li>
                   <li class="past-step">
                       <span class="badge badge_xmd badge_circle badge_complete"><i class="icon-check"></i></span>
                       <h3 class="checkout-navigation__title">
                           Shipping Method
                           <a href="#" class="button-icon fs14 gray">
                  <span class="ttip__wrap">
                    <i class="icon-pencil ttip__toggle"></i>
                    <span class="ttip">
                      <span class="ttip__content ttip__content_dark">Edit Shipping Information</span>
                    </span>
                  </span>
                           </a>
                       </h3>
                       <div class="checkout-navigation__content">
                           <div>USPS Ground - $19.75</div>
                       </div>
                   </li>
                   <li>
                       <span class="badge badge_xmd badge_circle badge_orange">4</span>
                       <h3 class="checkout-navigation__title">Payment</h3>
                   </li>
                   <li>
                       <span class="badge badge_xmd badge_circle badge_ll_gray">5</span>
                       <h3 class="checkout-navigation__title">Order Review</h3>
                   </li>
               </ul>
           </div>
       </aside>
       <!-- END SIDEBAR -->
   </main>
{% endblock %}

{% block _credit_card_method_widget %}
    <div data-page-component-module="orob2bpayment/js/app/components/credit-card-component">
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block form_end_widget %}
    {% set js_validation_options = {'ignore': ':hidden:not([type=hidden]):input[autocomplete]'} %}
    {{ parent() }}
{% endblock %}