{% form_theme form with ['OroTagBundle:Form:fields.html.twig'] %}
<div class="widget-content">
    {% if saved is defined and saved %}
        {% set requestChangeStatusWidgetComponentOptions = {
            wid: app.request.get('_wid'),
            successMessage: 'orob2b.rfp.message.request_status_changed'|trans
        } %}
        <span data-page-component-module="orob2brfp/js/app/components/request-change-status-widget-component"
              data-page-component-options="{{ requestChangeStatusWidgetComponentOptions|json_encode }}"></span>
    {% else %}
        {% if not form.vars.valid and form.vars.errors|length %}
            <div class="alert alert-error">
                <div class="message">
                    {{ form_errors(form) }}
                </div>
            </div>
        {% endif %}
        <div class="form-container">
            <form id="{{ form.vars.name }}" action="{{ formAction }}" method="post">
                <fieldset class="form form-horizontal">
                    {{ form_row(form.status) }}
                    <div class="rfp-status-note">{{ form_row(form.note) }}<div>
                    {{ form_rest(form) }}
                    <div class="widget-actions form-actions">
                        <button class="btn" type="reset">{{ 'Cancel'|trans }}</button>
                        <button class="btn btn-primary" type="submit">
                            {{ 'oro.ui.update_entity'|trans({'%entityName%': 'orob2b.rfp.request.entity_label_short'|trans}) }}
                        </button>
                    </div>
                </fieldset>
            </form>
            {{ oro_form_js_validation(form) }}
        </div>
    {% endif %}
</div>
