{% import 'OroUIBundle::macros.html.twig' as UI %}

<div class="widget-content">
    <div class="row-fluid form-horizontal">
        <div class="responsive-block">
            {{ UI.renderProperty('orob2b.rfp.request.first_name.label'|trans, entity.firstName) }}
            {{ UI.renderProperty('orob2b.rfp.request.last_name.label'|trans, entity.lastName) }}
            {{ UI.renderProperty('orob2b.rfp.request.email.label'|trans, entity.email) }}
            {{ UI.renderProperty('orob2b.rfp.request.phone.label'|trans, entity.phone) }}
            {{ UI.renderProperty('orob2b.rfp.request.company.label'|trans, entity.company ? entity.company : 'N/A') }}
            {{ UI.renderProperty('orob2b.rfp.request.role.label'|trans, entity.role ? entity.role : 'N/A') }}
            {{ UI.renderProperty('orob2b.rfp.request.status.label'|trans, entity.status.label) }}
            {{ UI.renderProperty('oro.ui.created_at'|trans, entity.createdAt|oro_format_datetime) }}
            {{ UI.renderProperty('oro.ui.updated_at'|trans, entity.updatedAt|oro_format_datetime) }}
        </div>
    </div>
</div>
