{% block __oro_datagrid_server_render__datagrid_toolbar_widget %}
    {% set attr = attr|merge({
        class: attr.class|default('') ~ " datagrid-toolbar"
    }) %}
    {% set toolbarPosition = attr['data-grid-toolbar'] %}
    {% do block|merge_context({
        'toolbarPosition': toolbarPosition
    }) %}
    <div{{ block('block_attributes') }}>
        {% for child in block -%}
            {% if child.vars.visible %}
                {{ block_widget(child, {attr: {'data-grid-toolbar': toolbarPosition}}) }}
            {% endif %}
        {%- endfor %}
    </div>
{% endblock %}

{% block __datagrid_toolbar__datagrid_toolbar_leftside_container_widget %}
    {% set toolbarPosition = attr['data-grid-toolbar']|default('') %}
    {% do block|merge_context({
        'toolbarPosition': toolbarPosition
    }) %}
    <div class="datagrid-toolbar__start" data-section="left-side">
        {% if toolbarPosition == 'top' %}
            <div class="actions-panel" data-grid-extra-actions-panel></div>
        {% endif %}
        {% for child in block -%}
            {% if child.vars.visible %}
                {{ block_widget(child, {attr: {'data-grid-toolbar': toolbarPosition}}) }}
            {% endif %}
        {%- endfor %}
    </div>
{% endblock %}

{% block __datagrid_toolbar__datagrid_toolbar_pagination_info_widget %}
    {% set toolbarPosition = attr['data-grid-toolbar']|default('') %}
    {% do block|merge_context({
        'toolbarPosition': toolbarPosition
    }) %}
    {% if toolbarPosition == 'bottom' %}
        <div data-grid-pagination-info class="datagrid-toolbar-pagination-info"></div>
    {% endif %}
{% endblock %}

{% block __datagrid_toolbar__datagrid_toolbar_rightside_container_widget %}
        <div class="datagrid-toolbar__end" data-section="right-side">
            {% for child in block -%}
                {% if child.vars.visible %}
                    {{ block_widget(child, {attr: {'data-grid-toolbar': toolbarPosition}}) }}
                {% endif %}
            {%- endfor %}
        </div>
{% endblock %}

{% block __oro_datagrid_server_render__datagrid_toolbar_pagination_widget %}
    {% import '@OroUI/layouts/renderIcon.html.twig' as renderIcon %}
    {% set toolbarPosition = attr['data-grid-toolbar']|default('') %}
    {% if toolbarPosition == 'bottom' %}
        <div{{ block('block_attributes') }}>
            {% set metadata = oro_datagrid_metadata(datagrid) %}
            {% set data = oro_datagrid_data(datagrid) %}

            {% set totalRecords = data.options.totalRecords is defined ? data.options.totalRecords : 0 %}
            {% set pageSize = metadata.state.pageSize %}
            {% set currentPage = metadata.state.currentPage %}
            {% set totalPages = pageSize == 0 ? 1 : (totalRecords / pageSize)|round %}

            <div class="oro-pagination__pager">
                <a
                    role="button" href="{% if currentPage <= 1 %}#{% else %}{{ oro_datagrid_get_page_url(datagrid, currentPage - 1) }}{% endif %}"
                    class="oro-pagination-arrow oro-pagination__prev{% if currentPage <= 1 %} disabled{% endif %}"
                    data-grid-pagination-trigger data-grid-pagination-direction="prev"
                    aria-label="{{ "oro.datagrid.pagination.prev.aria_label"|trans }}"
                >
                    {{ renderIcon.icon({name: 'chevron-left', extraClass: 'oro-pagination__icon theme-icon--medium'}) }}
                </a>
                <input
                    type="text"
                    class="input oro-pagination__input"
                    aria-label="{{ "oro.datagrid.pagination.input.aria_label"|trans }}"
                    value="{{ currentPage }}"
                    data-grid-pagination-trigger-input
                />
                <span class="oro-pagination__total">
                    {% set totalPagesWithAMarkup = '<span data-grid-pagination-pages>' ~ totalPages ~ '</span>' %}
                    {{ "oro.datagrid.pagination.totalPages"|trans({'%totalPages%': totalPagesWithAMarkup})|raw }}
                </span>
                <a
                    role="button" href="{% if currentPage >= totalPages %}#{% else %}{{ oro_datagrid_get_page_url(datagrid, currentPage + 1) }}{% endif %}"
                    class="oro-pagination-arrow oro-pagination__next{% if currentPage >= totalPages %} disabled{% endif %}"
                    data-grid-pagination-trigger data-grid-pagination-direction="next"
                    aria-label="{{ "oro.datagrid.pagination.next.aria_label"|trans }}"
                >
                    {{ renderIcon.icon({name: 'chevron-right', extraClass: 'oro-pagination__icon theme-icon--medium'}) }}
                </a>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block __oro_datagrid_server_render__datagrid_toolbar_page_size_widget %}
    {% set metadata = oro_datagrid_metadata(datagrid) %}
    {% set perPage = metadata.state.pageSize %}
    {% set pageSize = metadata.options.toolbarOptions.pageSize %}
    {% set toolbarPosition = attr['data-grid-toolbar']|default('') %}

    {% if pageSize.hide == false and pageSize.items|length > 0 and toolbarPosition == 'bottom' %}
        <div{{ block('block_attributes') }}>
            <div class="page-size">
                {% set labelId = 'datagrid-toolbar-label-'|uniqid %}
                {% set label = 'oro.datagrid.pagesize.labelShort'|trans ~ ':' %}
                <div class="select-inline-label">
                    {% apply spaceless %}
                    <select id="{{ labelId }}" data-label="{{ label }}" class="select" name="action" data-grid-pagesize-selector>
                        {% for value in pageSize.items %}
                            <option value="{{ value }}"
                                    data-grid-pagesize-trigger{% if value == perPage %} selected{% endif %}
                            >{{ value }}</option>
                        {% endfor %}
                    </select>
                    {% endapply %}
                    <label for="{{ labelId }}" class="select-inline-label__label">{{ label }}</label>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block __datagrid_toolbar__datagrid_toolbar_actions_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' datagrid-tool actions-panel-container'
    }) %}
    {% set toolbarPosition = attr['data-grid-toolbar']|default('') %}

    {% if toolbarPosition != 'bottom' %}
        <div{{ block('block_attributes') }}>{{ block_widget(block) }}</div>
    {% endif %}
{% endblock %}

{% block __datagrid_toolbar__datagrid_items_counter_widget %}
    {% set attr = attr|merge({
        class: attr.class|default('') ~ " datagrid-tool oro-items-counter",
        'data-grid-items-counter': ''
    }) %}
    {% set toolbarPosition = attr['data-grid-toolbar']|default('') %}

    {% if toolbarPosition != 'bottom' %}
        <div{{ block('block_attributes') }}>{{ block_widget(block) }}</div>
    {% endif %}
{% endblock %}
