{% macro renderPossibleShippingMethods(
    form,
    entity,
    events = {},
    view = 'oroorder/js/app/views/possible-shipping-methods-view'
) %}
    {% if entity.shippingMethod and entity.shippingMethodType and entity.estimatedShippingCost %}
        {% set savedShippingMethod = {
            method: entity.shippingMethod,
            type: entity.shippingMethodType,
            cost: entity.estimatedShippingCost.value
        } %}
        {% set savedShippingMethodLabel = oro_shipping_method_with_type_label(entity.shippingMethod, entity.shippingMethodType) ~ ': ' ~ entity.estimatedShippingCost|oro_format_price() %}
    {% endif %}
    {% set options = {
        view: view,
        savedShippingMethodLabel: savedShippingMethodLabel|default(null)|escape,
        savedShippingMethod: savedShippingMethod|default(null)
    } %}
    {% if events|length > 0 %}
        {% set options = options|merge({events: events}) %}
    {% endif %}
    <div data-page-component-module="oroui/js/app/components/view-component"
         data-page-component-options="{{ options|json_encode }}"
         class="possible_shipping_methods_container"
    >
        <div class="btn-group">
            <span
                data-role="possible_shipping_methods_btn"
                id="possible_shipping_methods_btn"
                class="btn"
            >{{ 'oro.order.btn.calculate_shipping'|trans }}</span>
        </div>
        <div class="possible_shipping_methods_form" data-content="possible_shipping_methods_form"></div>
        {{ form_row(form.calculateShipping) }}
        {{ form_row(form.shippingMethod) }}
        {{ form_row(form.shippingMethodType) }}
        {{ form_row(form.estimatedShippingCostAmount) }}
    </div>
{% endmacro %}

{% macro hiddenCollection(form) %}
    <div data-role="hidden-collection"
         data-last-index="{{ form.children|length}}"
         data-prototype-name="{{ form.vars.prototype.vars.name }}"
         data-prototype="{{ form_widget(form.vars.prototype)|escape }}"
    >
        {% if form.children|length %}
            {% for child in form.children %}
                {{ form_widget(child) }}
            {% endfor %}
        {% endif %}
    </div>
{% endmacro %}
