{% macro renderPossibleShippingMethods(form) %}
    <div data-page-component-module="oroorder/js/app/components/possible-shipping-methods-component"
         class="possible_shipping_methods_container">
        <div class="btn-group">
            <span id="possible_shipping_methods_btn" class="btn">{{ 'oro.order.btn.calculate_shipping'|trans }}</span>
        </div>
        <div class="possible_shipping_methods_form" data-content="possible_shipping_methods_form"></div>
        {{ form_row(form.calculateShipping) }}
        {{ form_row(form.shippingMethod) }}
        {{ form_row(form.shippingMethodType) }}
        {{ form_row(form.estimatedShippingCost) }}
    </div>
{% endmacro %}
