{% extends 'OroShoppingListBundle:layouts/default/oro_shopping_list_frontend_view:shopping_lists_menu.html.twig' %}

{% block _shopping_list_view_tabs_widget %}
    {% set attr = layout_attr_defaults(attr, {
        'data-page-component-module': 'oroui/js/app/components/view-component',
        'data-page-component-options': {
            view: 'oroui/js/app/views/layout-subtree-view',
            blockId: id,
            reloadEvents: ['shopping-list:created', 'shopping-list:updated', 'frontend:item:delete']
        },
        '~class': "shopping-list-tabs"
    }) %}

    <div{{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _shopping_list_view_container_widget %}
    {% set attr = layout_attr_defaults(attr, {'~class': "shopping-list-wrapper"}) %}

    <div{{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _shopping_list_view_container_content_widget %}
    {% set attr = layout_attr_defaults(attr, {'~class': "shopping-list__content"}) %}

    <div{{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _shopping_lists_menu_widget %}
    {% set selectedIndex = 0 %}
    {% for shoppingList in shoppingLists %}
        {% if shoppingList.id == selectedShoppingList.id %}
            {% set selectedIndex = loop.index %}
        {% endif %}
    {% endfor %}

    {% if selectedIndex > 6 %}
        {% set shoppingLists = shoppingLists|slice(selectedIndex - 6, 6) %}
    {% else %}
        {% set shoppingLists = shoppingLists|slice(0, 6) %}
    {% endif %}

    {{ parent() }}
{% endblock %}

{% block _shopping_list_view_more_widget %}
    {% if shoppingLists|length > 6 %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' shopping-list-dropdown'
    }) %}

    <div{{ block('block_attributes') }}>
        <div class="shopping-list-dropdown__handle" data-toggle="dropdown">
            <i class="shopping-list-dropdown__icon cf-add_circle"></i>
        </div>
        <div class="shopping-list-dropdown__nav dropdown-menu">
            <ul class="shopping-list-links">
                {% for shoppingList in shoppingLists %}
                    <li class="shopping-list-links__item {% if shoppingList.id == selectedShoppingList.id %} shopping-list-links__item--current {% endif %}"
                        data-shopping-list-items
                        data-id="{{ shoppingList.id }}"
                    >
                        <a class="shopping-list-links__link" href="{{ path('oro_shopping_list_frontend_view', {'id' : shoppingList.id}) }}">
                            <i class="shopping-list-links__icon cf-check"></i>
                            <span class="shopping-list-links__text{% if shoppingList.id == selectedShoppingList.id %} current-title{% endif %}">{{ shoppingList.label }}</span>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% endif %}
{% endblock _shopping_list_view_more_widget %}
