{% if result is not empty and result|length %}
    {% import 'OroB2BTaxBundle::macros.html.twig' as TAX %}
    <div data-page-component-module="orob2btax/js/app/components/order-taxes-component">
        {{ TAX.renderResult(result) }}
    </div>
{% endif %}

{% set tableClass = tableClass|default('well') %}
<script type="text/html" class="applied-taxes-template">
   <table class="table table-striped table-condensed {{ tableClass }}" data-taxes-id="applied-taxes">
        <thead>
        <tr>
            <th class="renderable">{{ 'orob2b.tax.result.tax'|trans }}</th>
            <th class="renderable">{{ 'orob2b.tax.result.rate'|trans }}</th>
            <th class="renderable">{{ 'orob2b.tax.result.taxableAmount'|trans }}</th>
            <th class="renderable">{{ 'orob2b.tax.result.taxAmount'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        <% _.each(taxes, function(tax) %>
            <tr>
                <td class="renderable"><%= tax.tax %></td>
                <td class="renderable"><%= tax.rate %></td>
                <td class="renderable"><%= tax.taxableAmount %></td>
                <td class="renderable"><%= tax.taxAmount %></td>
            </tr>
        <% }); %>
        </tbody>
    </table>
</script>
