{% macro shipping_origin_block(form, disabled) %}
    {% set attrs = {'attr': {'data-validation': (form.vars.required ? { NotBlank: null } : {})|json_encode }, disabled: disabled } %}
    {{ form_row(form, attrs) }}
{% endmacro %}

{% block _shipping_origin_orob2b_shipping___shipping_origin_row %}
    <div class="controls control-group shipping-origin-address">
        {{ form_widget(form) }}
        {{ form_errors(form) }}
    </div>
{% endblock %}

{% block _shipping_origin_orob2b_shipping___shipping_origin_value_country_row %}
    {{ _self.shipping_origin_block(form, use_parent_scope_value) }}
{% endblock %}

{% block _shipping_origin_orob2b_shipping___shipping_origin_value_region_row %}
    {{ _self.shipping_origin_block(form, use_parent_scope_value) }}
{% endblock %}

{% block _shipping_origin_orob2b_shipping___shipping_origin_value_region_text_row %}
    {{ _self.shipping_origin_block(form, use_parent_scope_value) }}
{% endblock %}

{% block _shipping_origin_orob2b_shipping___shipping_origin_value_postalCode_row %}
    {{ _self.shipping_origin_block(form, use_parent_scope_value) }}
{% endblock %}

{% block _shipping_origin_orob2b_shipping___shipping_origin_value_city_row %}
    {{ _self.shipping_origin_block(form, use_parent_scope_value) }}
{% endblock %}

{% block _shipping_origin_orob2b_shipping___shipping_origin_value_street_row %}
    {{ _self.shipping_origin_block(form, use_parent_scope_value) }}
{% endblock %}

{% block _shipping_origin_orob2b_shipping___shipping_origin_value_street2_row %}
    {{ _self.shipping_origin_block(form, use_parent_scope_value) }}
{% endblock %}

{% block orob2b_shipping_origin_warehouse_widget %}
    <div
        data-page-component-module="oroui/js/app/components/view-component"
        data-page-component-options="{{ {
            view: 'orob2bshipping/js/app/views/shipping-origin-view',
            selectors: {
                useSystem: '#' ~ form.system.vars.id
            }
        }|json_encode }}"
    >
        {{ form_row(form.system) }}
        {{ _self.shipping_origin_block(form.country, form.system.vars.data) }}
        {{ _self.shipping_origin_block(form.street, form.system.vars.data) }}
        {{ _self.shipping_origin_block(form.street2, form.system.vars.data) }}
        {{ _self.shipping_origin_block(form.city, form.system.vars.data) }}
        {{ _self.shipping_origin_block(form.region_text, form.system.vars.data) }}
        {{ _self.shipping_origin_block(form.region, form.system.vars.data) }}
        {{ _self.shipping_origin_block(form.postalCode, form.system.vars.data) }}
        {{ form_rest(form) }}
    </div>
{% endblock %}

{% block orob2b_shipping_weight_widget %}
    <div class="float-holder">
        <table>
            <tr>
                <td>{{ form_widget(form.value) }}</td>
                <td>{{ form_widget(form.unit) }}</td>
            </tr>
            <tr>
                <td>{{ form_errors(form.value) }}</td>
                <td>{{ form_errors(form.unit) }}</td>
            </tr>
        </table>
    </div>
{% endblock %}

{% block orob2b_shipping_dimensions_widget %}
    <div class="float-holder">
        <table>
            <tr>
                <td>{{ form_widget(form.length) }}</td>
                <td>X</td>
                <td>{{ form_widget(form.width) }}</td>
                <td>X</td>
                <td>{{ form_widget(form.height) }}</td>
                <td>{{ form_widget(form.unit) }}</td>
            </tr>
            <tr>
                <td>{{ form_errors(form.length) }}</td>
                <td></td>
                <td>{{ form_errors(form.width) }}</td>
                <td></td>
                <td>{{ form_errors(form.height) }}</td>
                <td>{{ form_errors(form.unit) }}</td>
            </tr>
        </table>
    </div>
{% endblock %}
