{% extends 'OroActionBundle:Operation:form.html.twig' %}

{% block form %}
    <div class="form-container">
        {{ parent() }}
    </div>
{% endblock %}

{% block form_inner %}
    <fieldset class="form form-horizontal">
        {{ parent() }}
    </fieldset>
{% endblock %}

{% block form_widget %}
    {{ form_row(form.request_status) }}
    <div class="rfp-status-note">{{ form_row(form.request_note) }}</div>
    {{ form_rest(form) }}
{% endblock %}

{% block form_actions_inner %}
    <button class="btn" type="reset">{{ 'oro.rfp.request.cancel.label'|trans }}</button>
    <button class="btn btn-primary" type="submit">
        {{ 'oro.ui.update_entity'|trans({'%entityName%': 'oro.rfp.request.entity_label_short'|trans}) }}
    </button>
{% endblock %}
