{% import 'OroUIBundle::macros.html.twig' as UI %}

<div class="row-fluid form-horizontal">
    <div class="responsive-block">
        {% if paymentTermData.paymentTerm %}
            {% if is_granted('VIEW', paymentTermData.paymentTerm) %}
                {% set link %}
                    <a href="{{ path('orob2b_payment_term_view', {id: paymentTermData.paymentTerm.id}) }}">
                        {{ paymentTermData.paymentTerm.label }}
                    </a>
                {% endset %}
                {% if paymentTermData.defineToTheGroup %}
                    {{ UI.renderHtmlProperty(
                        'orob2b.payment.paymentterm.entity_label'|trans,
                        'orob2b.payment.account.payment_term_defined_in_group'|trans({'{{ payment_term }}': link})
                    ) }}
                {% else %}
                    {{ UI.renderHtmlProperty('orob2b.payment.paymentterm.entity_label'|trans, link) }}
                {% endif %}
            {% else %}
                {{ UI.renderProperty('orob2b.payment.paymentterm.entity_label'|trans, paymentTermData.paymentTermLabel) }}
            {% endif %}
        {% else %}
            {{ UI.renderHtmlProperty('orob2b.payment.paymentterm.entity_label'|trans, paymentTermData.empty) }}
        {% endif %}
    </div>
</div>
