{% extends 'OroAddressBundle:Include:fields.html.twig' %}

{% block oro_account_acl_access_level_text_widget %}
    {% set additionalClass = '' %}
    {% if form.parent.parent.vars.privileges_config.view_type is defined and form.parent.parent.vars.privileges_config.view_type != 'grid' %}
        {% set additionalClass = 'span2' %}
    {% endif %}
        <div class="access_level_value_link">
                {% set label = level_label is not defined or level_label is empty ?
                translation_prefix ~ 'NONE' :
                translation_prefix ~ level_label
                %}
                {{ label|trans }}
            {% set type = type|default('hidden') %}
            {{ block('form_widget_simple') }}
        </div>
{% endblock %}

{% block oro_account_typed_address_with_default_row %}
    {{ form_rest(form) }}
{% endblock %}

{% block oro_account_typed_address_widget %}
    {{ form_row(form.types, {label: 'oro.customer.accountaddress.types.label'}) }}
    {{ form_row(form.defaults, {label: 'oro.customer.accountaddress.defaults.label'}) }}
    {{ form_row(form.primary, {label: 'oro.customer.accountaddress.primary.label'}) }}
    {{ block('oro_address_rows') }}
{%  endblock %}

{% block oro_account_account_user_typed_address_widget %}
    {{ block('oro_account_typed_address_widget') }}
{%  endblock %}

{% block oro_address_rows %}
    {{ form_row(form.id) }}
    {{ form_row(form.label, {label: 'oro.customer.accountaddress.label.label'}) }}
    {{ form_row(form.namePrefix, {label: 'oro.customer.accountaddress.name_prefix.label'}) }}
    {{ form_row(form.firstName, {label: 'oro.customer.accountaddress.first_name.label'}) }}
    {{ form_row(form.middleName, {label: 'oro.customer.accountaddress.middle_name.label'}) }}
    {{ form_row(form.lastName, {label: 'oro.customer.accountaddress.last_name.label'}) }}
    {{ form_row(form.nameSuffix, {label: 'oro.customer.accountaddress.name_suffix.label'}) }}
    {{ form_row(form.organization, {label: 'oro.customer.accountaddress.organization.label'}) }}
    {{ form_row(form.country, {label: 'oro.customer.accountaddress.country.label'}) }}
    {{ form_row(form.street, {label: 'oro.customer.accountaddress.street.label'}) }}
    {{ form_row(form.street2, {label: 'oro.customer.accountaddress.street2.label'}) }}
    {{ form_row(form.city, {label: 'oro.customer.accountaddress.city.label'}) }}
    {{ form_row(form.region_text, {label: 'oro.customer.accountaddress.region_text.label'}) }}
    {{ form_row(form.region, {label: 'oro.customer.accountaddress.region.label'}) }}
    {{ form_row(form.postalCode, {label: 'oro.customer.accountaddress.postal_code.label'}) }}
    {{ form_rest(form) }}
{%  endblock %}

{% block oro_address_collection_widget %}
    {% set attr = attr|merge({'class': (attr.class is defined ? attr.class ~ ' ' : '') ~ 'oro-address-collection' }) %}
        {% set options = {
            disableDefaultWithoutType: true,
            disableRepeatedTypes: true
        } %}
    <span
      data-page-component-module="orocustomer/js/app/components/account-address-component"
      data-page-component-options="{{ options|json_encode }}">
    {{ block('oro_collection_widget') }}
    </span>
{% endblock %}
