{% import 'OroUIBundle::macros.html.twig' as UI %}
{% import 'OroEntityConfigBundle::macros.html.twig' as entityConfig %}

<div class="widget-content">
    <div class="row-fluid form-horizontal">
        <div class="responsive-block">
            {{ UI.renderProperty('oro.sale.quote.qid.label'|trans, entity.qid) }}
            {% if entity.accountUser %}
                {{ UI.renderHtmlProperty('oro.sale.quote.account_user.label'|trans, UI.entityViewLink(entity.accountUser, entity.accountUser.fullName, 'oro_account_account_user_view')) }}
            {% endif %}
            {% if entity.account %}
                {{ UI.renderHtmlProperty('oro.sale.quote.account.label'|trans, UI.entityViewLink(entity.account, entity.account.name, 'oro_customer_account_view')) }}
            {% endif %}

            {{ UI.renderProperty('oro.sale.quote.valid_until.label'|trans, entity.validUntil ? entity.validUntil|oro_format_datetime : 'N/A'|trans) }}
            {% if entity.request %}
                {{ UI.renderHtmlProperty('oro.sale.quote.request.label'|trans, UI.entityViewLink(entity.request, entity.request, 'oro_rfp_request_view')) }}
            {% endif %}
            {{ UI.renderProperty('oro.sale.quote.po_number.label'|trans, entity.poNumber|default('N/A'|trans)) }}
            {{ UI.renderProperty('oro.sale.quote.ship_until.label'|trans, entity.shipUntil|oro_format_date|default('N/A'|trans)) }}

            {% if entity.assignedUsers | length %}
                {{ UI.renderHtmlProperty('oro.sale.quote.assigned_users.label'|trans, UI.entityViewLinks(entity.assignedUsers, 'fullName', 'oro_user_view')) }}
            {% endif %}
            {% if entity.assignedAccountUsers | length %}
                {{ UI.renderHtmlProperty('oro.sale.quote.assigned_account_users.label'|trans, UI.entityViewLinks(entity.assignedAccountUsers, 'fullName', 'oro_account_account_user_view')) }}
            {% endif %}
        </div>
        <div class="responsive-block">
            {{ entityConfig.renderDynamicFields(entity) }}
        </div>
    </div>
</div>
