{% import '@OroUI/macros.html.twig' as UI %}
{% import '@OroEntityConfig/macros.html.twig' as entityConfig %}

<div class="widget-content">
    <div class="row-fluid form-horizontal">
        <div class="responsive-block">
            {{ UI.renderProperty('oro.sale.quote.qid.label'|trans, entity.qid, null, null, {'dir': 'ltr'}) }}
            {% if entity.customerUser %}
                {{ UI.renderHtmlProperty('oro.sale.quote.customer_user.label'|trans, UI.entityViewLink(entity.customerUser, entity.customerUser.fullName, 'oro_customer_customer_user_view')) }}
            {% endif %}
            {% if entity.customer %}
                {{ UI.renderHtmlProperty('oro.sale.quote.customer.label'|trans, UI.entityViewLink(entity.customer, entity.customer.name, 'oro_customer_customer_view')) }}
            {% endif %}

            {% set uniqueGuestLink = quote_guest_access_link(entity) %}
            {% if uniqueGuestLink and entity.isAvailableOnFrontend() %}
                {{ UI.renderHtmlProperty('oro.sale.quote.unique_guest_link.label'|trans, UI.renderUrlWithActions({url: uniqueGuestLink, attributes: {target: '_blank'}}, entity), entity, 'guestAccessId') }}
            {% endif %}

            {{ UI.renderProperty('oro.sale.quote.internal_status.label'|trans, entity.internalStatus.name|default('')) }}
            {{ UI.renderProperty('oro.sale.quote.customer_status.label'|trans, entity.customerStatus.name|default('')) }}

            {{ UI.renderProperty('oro.sale.quote.valid_until.label'|trans, entity.validUntil ? entity.validUntil|oro_format_datetime : 'N/A'|trans) }}
            {% if entity.request %}
                {{ UI.renderHtmlProperty('oro.sale.quote.request.label'|trans, UI.entityViewLink(entity.request, entity.request, 'oro_rfp_request_view')) }}
            {% endif %}
            {% set poNumber = entity.poNumber %}
            {{ UI.renderProperty('oro.sale.quote.po_number.label'|trans, poNumber|default('N/A'|trans), null, null, {'dir': poNumber ? 'ltr' : null}) }}
            {{ UI.renderProperty('oro.sale.quote.ship_until.label'|trans, entity.shipUntil|oro_format_date|default('N/A'|trans)) }}

            {% if entity.assignedUsers | length %}
                {{ UI.renderHtmlProperty('oro.sale.quote.assigned_users.label'|trans, UI.entityViewLinks(entity.assignedUsers, 'fullName', 'oro_user_view')) }}
            {% endif %}
            {% if entity.assignedCustomerUsers | length %}
                {{ UI.renderHtmlProperty('oro.sale.quote.assigned_customer_users.label'|trans, UI.entityViewLinks(entity.assignedCustomerUsers, 'fullName', 'oro_customer_customer_user_view')) }}
            {% endif %}
        </div>
        <div class="responsive-block">
            {{ entityConfig.renderDynamicFields(entity) }}
        </div>
    </div>
</div>
