<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
    </head>
    <body>
        <div>
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                {{ 'orob2b_user.layout.logged_in_as.label'|trans({'%username%': app.user.username}) }} |
                <a href="{{ path('fos_user_profile_show') }}">{{ 'orob2b_user.layout.profile'|trans }}</a>
                &nbsp;
                <a href="{{ path('fos_user_security_logout') }}">{{ 'orob2b_user.layout.logout'|trans }}</a>
            {% else %}
                <a href="{{ path('fos_user_security_login') }}">{{ 'orob2b_user.layout.login'|trans }}</a>
                &nbsp;
                <a href="{{ path('fos_user_resetting_request') }}">{{ 'orob2b_user.layout.password_reset'|trans }}</a>
                &nbsp;
                <a href="{{ path('fos_user_registration_register') }}">{{ 'orob2b_user.layout.register'|trans }}</a>
            {% endif %}
        </div>

        {% for type, messages in app.session.flashBag.all %}
            {% for message in messages %}
                <div class="{{ type }}">
                    {{ message|trans({}, 'FOSUserBundle') }}
                </div>
            {% endfor %}
        {% endfor %}

        <div>
            {% block fos_user_content %}
            {% endblock fos_user_content %}
        </div>
    </body>
</html>
