{% block _hero_promo_container_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' hero-promo'
    }) %}

    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _hero_promo_widget %}
    {{ contentBlock.content|raw }}
{% endblock %}

{% block _featured_categories_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' featured-categories'
    }) %}

    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _featured_category_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' featured-category'
    }) %}
    <a {{ block('block_attributes') }}
        href="{{ path('oro_product_frontend_product_index', {'categoryId': category.id, 'includeSubcategories': true}) }}">
        {{ block_widget(block) }}
    </a>
{% endblock %}

{% block _featured_category_image_widget %}
    {% import 'OroProductBundle::image_macros.html.twig' as Image %}

    {% set attr = layout_attr_defaults(attr, {
        '~class': ' featured-category__image',
        alt: category.defaultTitle
    }) %}

    {% if category.smallImage %}
        {% set attr = layout_attr_defaults(attr, {
            src: Image.url(category.smallImage, 'category_medium')
        }) %}
    {% else %}
        {% set attr = layout_attr_defaults(attr, {
            src: '/bundles/orocatalog/default/images/no_image_315x260.png'
        }) %}
    {% endif %}

    <img {{ block('block_attributes') }}>
{% endblock %}

{% block _featured_category_desc_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' featured-category__desc'
    }) %}
    <dl {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </dl>
{% endblock %}

{% block _featured_category_label_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' featured-category__name'
    }) %}
    <dt {{ block('block_attributes') }}>{{ category.defaultTitle }}</dt>
{% endblock %}

{% block _featured_category_products_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' featured-category__qty'
    }) %}
    <dd {{ block('block_attributes') }}>{{ 'oro.catalog.featured_categories.view.items.label'|transchoice(categoryProductsCount) }}</dd>
{% endblock %}
