{% block _datagrid_toggle_paginaton_view_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' datagrid-toggle-pagination',
        'data-page-component-view': 'orodatagrid/js/app/views/toggle-pagination-view'
    }) %}

    <div {{ block('block_attributes') }}></div>
{% endblock %}

{% block _shopping_list_notes_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': 'order-checkout-widget__note collapse-view collapse-view--overflow init',
        '~data-page-component-viewport': {
            widgetModule: 'oroui/js/widget/collapse-widget',
            animationSpeed: 0,
            checkOverflow: true,
            open: false,
        }}) %}

    <div {{ block('block_attributes') }}>
        <p class="bold">{{ 'oro.shoppinglist.notes.label'|trans }}:</p>
        <div class="order-checkout-widget__note-content" data-collapse-container>
            {{ block_widget(block) }}
        </div>
        <button class="btn btn--link btn--size-s btn--no-y-offset toggle-more" data-collapse-trigger>
            {{ 'oro.ui.collapse.more'|trans }}<span class="fa-angle-down fa--offset-l" aria-hidden="true"></span>
        </button>
        <button class="btn btn--link btn--size-s btn--no-y-offset toggle-less" data-collapse-trigger>
            {{ 'oro.ui.collapse.less'|trans }}<span class="fa-angle-up fa--offset-l" aria-hidden="true"></span>
        </button>
    </div>
{% endblock %}

{% block _shopping_list_notes_text_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' shipping-list-note'
    }) %}

    <div{{ block('block_attributes') }}>{{ block_widget(block)|nl2br }}</div>
{% endblock %}
