{% set prefix = prefix|default('orob2b.account.security.access-level.') %}
{% set none_ownership = constant('Oro\\Bundle\\OrganizationBundle\\Form\\Type\\OwnershipType::OWNER_TYPE_NONE') %}

{% if privilegeConfig.view_type == 'grid' %}
    <table class="table acl-table">
        <tbody>
            <tr>
                <th class="span6">&nbsp;</th>
                <th>{{ 'orob2b.account.security.permissions'|trans }}</th>
            </tr>
            {% for privilege in privileges.data[privilegeConfigName] %}
                <tr>
                    <td>
                        <strong>{{ privilege.identity.name|trans }}</strong>
                    </td>
                    <td>
                        <div class="table-responsive">
                            <table class="table table-condensed">
                                <tbody>
                                {% for field in privilegeConfig['permissions'] %}
                                    {% for permission in privilege.permissions %}
                                        {% if permission.name == field %}
                                            <tr>
                                                <td class="span8">
                                                    {% set aclPermission = acl_permission(permission) %}

                                                    {{ aclPermission.label|default(permission.name)|trans }}
                                                    {% if aclPermission.description %} ({{ aclPermission.description|trans }}){% endif %}
                                                </td>
                                                <td>
                                                    {% set accessLevel = prefix ~ (privileges.accessLevelNames[permission.accessLevel-1])|default(none_ownership) %}
                                                    <div>{{ accessLevel|trans }}</div>
                                                </td>
                                            </tr>
                                        {% endif %}
                                    {% endfor %}
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    {% for privilege in privileges.data[privilegeConfigName] %}
        <div class="security-row row-fluid">
            <div class="span8">
                <strong>{{ privilege.identity.name|trans }}</strong>
            </div>
            {% for permission in privilege.permissions %}
                {% set accessLevel = prefix ~ (privileges.accessLevelNames[permission.accessLevel-1])|default(none_ownership) %}
                <div class="span2">{{ accessLevel|trans }}</div>
            {% endfor %}
        </div>
    {% endfor %}
{% endif %}
