{% import 'OroUIBundle::macros.html.twig' as UI %}
{% import 'OroEntityConfigBundle::macros.html.twig' as entityConfig %}
{% import 'OroAddressBundle::macros.html.twig' as address %}

<div class="widget-content">
    <div class="row-fluid form-horizontal">
        <div class="responsive-block">
            {{ UI.renderProperty('orob2b.order.id.label'|trans, order.id) }}
            {{ UI.renderProperty('orob2b.order.identifier.label'|trans, order.identifier) }}
            {{ UI.renderProperty('orob2b.order.po_number.label'|trans, order.poNumber) }}
            {{ UI.renderProperty('orob2b.order.currency.label'|trans, order.currency) }}
            {{ UI.renderProperty('orob2b.order.subtotal.label'|trans, order.subtotal|oro_format_currency({'currency': order.currency})) }}

            {% if resource_granted('VIEW', order.account) %}
                {% set accountView = UI.renderUrl(path('orob2b_account_view', {'id': order.account.id}), order.account|oro_format_name|default('oro.ui.empty'|trans)) %}
            {% else %}
                {% set accountView = order.account|oro_format_name|trim %}
            {% endif %}
            {{ UI.renderHtmlProperty('orob2b.order.account.label'|trans, accountView) }}

            {% set accountUserView = '' %}
            {% if order.accountUser is not empty %}
                {% if resource_granted('VIEW', order.accountUser) %}
                    {% set accountUserView = UI.renderUrl(path('orob2b_account_account_user_view', {'id': order.accountUser.id}), order.accountUser|oro_format_name|default('oro.ui.empty'|trans)) %}
                {% else %}
                    {% set accountUserView = order.accountUser|oro_format_name|trim %}
                {% endif %}
            {% endif %}
            {{ UI.renderHtmlProperty('orob2b.order.account_user.label'|trans, accountUserView) }}

            {% set paymentTermView = '' %}
            {% if order.paymentTerm %}
                {% if resource_granted('VIEW', order.paymentTerm) %}
                    {% set paymentTermView = UI.renderUrl(path('orob2b_payment_term_view', {'id': order.paymentTerm.id}), order.paymentTerm.label) %}
                {% else %}
                    {% set paymentTermView = order.paymentTerm.label|escape %}
                {% endif %}
            {% endif %}
            {{ UI.renderHtmlProperty('orob2b.order.payment_term.label'|trans, paymentTermView) }}

            {{ UI.renderProperty('orob2b.order.ship_until.label'|trans, order.shipUntil|oro_format_date) }}
        </div>
        <div class="responsive-block">
            {{ UI.renderHtmlProperty('orob2b.order.billing_address.label'|trans, address.renderAddress(order.billingAddress)) }}
            {{ UI.renderHtmlProperty('orob2b.order.shipping_address.label'|trans, address.renderAddress(order.shippingAddress)) }}
            {{ UI.renderHtmlProperty('orob2b.order.customer_notes.label'|trans, order.customerNotes) }}
        </div>
        <div class="responsive-block">
            {{ entityConfig.renderDynamicFields(order) }}
        </div>
    </div>
</div>
