{% import 'OroUIBundle::macros.html.twig' as UI %}
{% import 'OroEntityConfigBundle::macros.html.twig' as entityConfig %}

<div class="widget-content">
    <div class="row-fluid form-horizontal">
        <div class="responsive-block">
            {{ UI.renderProperty('orob2b.order.id.label'|trans, entity.id) }}
            {{ UI.renderProperty('orob2b.order.identifier.label'|trans, entity.identifier) }}
            {% if entity.accountUser %}
                {% if resource_granted('VIEW', entity.accountUser) %}
                    {% set accountUserView = UI.renderUrl(path('orob2b_customer_account_user_view', {'id': entity.accountUser.id}), entity.accountUser.username) %}
                {% else %}
                    {% set accountUserView = entity.accountUser|escape %}
                {% endif %}
                {{ UI.renderHtmlProperty('orob2b.order.account_user.label'|trans, accountUserView) }}
            {% endif %}
            {% if entity.account %}
                {% if resource_granted('VIEW', entity.account) %}
                    {% set accountView = UI.renderUrl(path('orob2b_customer_view', {'id': entity.account.id}), entity.account.name) %}
                {% else %}
                    {% set accountView = entity.account.name|escape %}
                {% endif %}
                {{ UI.renderHtmlProperty('orob2b.order.account.label'|trans, accountView) }}
            {% endif %}
            {% if entity.quote %}
                {%  if resource_granted('VIEW', entity.quote) %}
                    {% set quote = UI.renderUrl(path('orob2b_sale_quote_view', {id: entity.quote.id}), entity.quote.qid) %}
                {% else %}
                    {% set quote = entity.quote.qid %}
                {%  endif %}
                {{ UI.renderHtmlProperty('orob2b.order.quote.label'|trans, quote) }}
            {% endif %}
        </div>
        <div class="responsive-block">
            {{ entityConfig.renderDynamicFields(entity) }}
        </div>
    </div>
</div>
