{% extends 'form_div_layout.html.twig' %}

{%- block form_label -%}
    {% set class_prefix = form.vars.class_prefix is defined ?  form.vars.class_prefix : '' %}
    {% set label_attr = label_attr|merge({
        class: [
            label_attr.class|default(''),
            class_prefix ~ "__form__label"
        ]|join(' ')
    }) %}

    {{ parent() }}
{%- endblock form_label -%}

{% block form_widget_simple %}
    {% set class_prefix = form.vars.class_prefix is defined ?  form.vars.class_prefix : '' %}
    {% set attr = attr|merge({
        class: [
            attr.class|default(''),
            class_prefix ~ "__form__input",
            "input input_block input_md"
        ]|join(' ')
    }) %}
    {{ parent() }}
{% endblock %}

{% block textarea_widget %}
    {% set class_prefix = form.vars.class_prefix is defined ?  form.vars.class_prefix : '' %}
    {% set attr = attr|merge({
        class: [
            attr.class|default(''),
            class_prefix ~ "__form__input",
            "input input_block input_md",
        ]|join(' ')
    }) %}
    {{ parent() }}
{% endblock %}

{%- block form_row -%}
    {% set class_prefix = form.vars.class_prefix is defined ?  form.vars.class_prefix : '' %}
    {% set attr = attr|merge({
        class: [
            attr.class|default(''),
            "form-field-" ~ form.vars.name,
        ]|join(' ')
    }) %}
    <fieldset class="{{ class_prefix }}__form__row">
        <div class="{{ class_prefix }}__form__col form__col_x12">
            {{- form_label(form) -}}
            {{- form_errors(form) -}}
            {{- form_widget(form, {
                attr: attr
            }) -}}
        </div>
    </fieldset>
{%- endblock form_row -%}

{% block widget_attributes %}
    {% if errors|length > 0 %}
        {% set attr = attr|merge({
            class: attr.class|default('') ~ ' input_error'
        }) %}
    {% endif %}
    {{ parent() }}
{% endblock widget_attributes %}

{%- block form_errors -%}
    {%- if errors|length > 0 -%}
        <div class="notification notification_xsm notification_error notification-radiused mmt5-md">
            <ul>
            {%- for error in errors -%}
                <li><i class="cf-attention"></i><span class="mml5-md">{{ error.message }}</span></li>
            {%- endfor -%}
            </ul>
        </div>
    {%- endif -%}
{%- endblock form_errors -%}
