{% extends 'OroLayoutBundle:Layout:div_layout.html.twig' %}

{% block block_attributes_raw_class -%}
    {% spaceless %}
        {% if attr.class is defined %}
            {% set attr = attr|merge({
            class: attr.class|replace({'{{ class_prefix }}': class_prefix})
            }) %}
        {% endif %}
        {% for attrname, attrvalue in attr %}
            {% if attrname is same as('title') %}
                {{ attrname }}="{{ attrvalue|block_text(translation_domain) }}"
            {% elseif attrname is same as('class') %}
                {{- attrname }}="{{ attrvalue|raw -}}"
            {% else %}
                {{ attrname }}="{{ attrvalue }}"
            {% endif %}
        {% endfor %}
    {% endspaceless %}
{%- endblock %}

{% block form_field_widget %}
    {% set field_attr = form.vars.attr|merge({
        class: [
            form.vars.attr.class|default(''),
            class_prefix ~ "__form__input"
        ]|join(' ')
    }) %}
    {% set field_label_attr = form.vars.label_attr|merge({
        class: [
            form.vars.label_attr.class|default(''),
            class_prefix ~ "__form__label"
        ]|join(' ')
    }) %}
    {% set attr = attr|merge({
        class: [
            attr.class|default(''),
            "form-field-" ~ form.vars.name,
            "{{ class_prefix }}__form__row"
        ]|join(' ')
    }) %}
    <fieldset{{ block('block_attributes') }}>
        <div class="{{ class_prefix }}__form__col form__col_x12">
            {{ form_row(form, {
                label: label|default(null) ? label : form.vars.label,
                attr: field_attr,
                label_attr: field_label_attr
            }) }}
        </div>
    </fieldset>
{% endblock %}

{% block form_start_widget %}
    {% set attr = attr|merge({
        id: form.vars.id
    }) %}
    {{ parent() }}
{% endblock %}

{% block form_end_widget %}
    {{ parent() }}
    {{ oro_form_js_validation(form) }}
{% endblock %}
