{% extends 'OroActionBundle:Operation:form.html.twig' %}

{% form_theme form.orderDiscount '@OroOrder/Form/discount_popup.html.twig' %}

{% block form %}
    {% set buttonOptions = operation.definition.buttonOptions %}
    <div class="widget-content">
        {{ form_start(form, {'action': app.request.uri, 'attr': {'id': form.vars.id, 'data-collect': 'true', 'class': 'form-dialog'}}) }}
            {{ form_widget(form.orderDiscount) }}

            <div class="widget-actions">
                <button type="reset" class="btn">{{ 'oro.order.orderdiscount.action.cancel'|trans }}</button>
                <button type="submit" class="btn {{ buttonOptions.data.class }}">
                    {{ buttonOptions.data.submit_label|default('oro.form.collection.add')|trans }}
                </button>
            </div>
            {{ form_rest(form) }}
        {{ form_end(form) }}
        {{ oro_form_js_validation(form) }}
    </div>
{% endblock %}
