{% block _matrix_collection_widget %}
<div class="matrix-order-widget__grid fade-in">
    {% for row in form.rows %}
        {% set rowIndex = loop.index %}
        <div class="matrix-order-widget__item"
             data-page-component-collapse="{{ {
                 openClass: 'expanded'
             }|json_encode() }}"
        >
            <div class="matrix-order-widget__item-info" data-collapse-trigger>
                <div>{{ row.vars.label }}</div>
                <div class="matrix-order-widget__item-info-wrapper">
                    <div>
                        <span>{{ 'oro.frontend.shoppinglist.matrix_grid_order.total_qty'|trans }}: </span>
                        <span data-rows-quantity="{{ loop.index }}">0</span>
                    </div>
                    <span class="matrix-order-widget__item-seperator">|</span>
                    <div>
                        <span>{{ 'oro.frontend.shoppinglist.matrix_grid_order.subtotal'|trans }}: </span>
                        <span data-rows-price="{{ loop.index }}">0</span>
                    </div>
                </div>
                <span class="fa-plus fa--large"></span>
                <span class="fa-minus fa--large"></span>
            </div>
            <div class="matrix-order-widget__item-container" data-collapse-container>
                <div class="matrix-order-widget__item-content-wrapper">
                    {% for column in row.columns %}
                        <label class="matrix-order-widget__item-content" data-zoom-disable>
                            {% do set_class_prefix_to_form(column, 'matrix-order-widget') %}
                            <div class="matrix-order-widget__item-label">
                                {{ column.vars.label }}
                            </div>
                            {{ form_widget(column,{
                                'attr': {
                                    'class': 'matrix-order-widget__item-value',
                                    'data-product-id': column.vars.productId,
                                    'data-index': {
                                        'row': rowIndex,
                                        'column': loop.index
                                    }|json_encode
                                },
                            })
                            }}
                        </label>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}
