{% block _customer_user_view_information_content_widget %}
    {% import 'OroUIBundle::macros.html.twig' as UI %}
    {% import 'OroEmailBundle::actions.html.twig' as EmailActions %}
    {% import 'OroEmailBundle::macros.html.twig' as Email %}

    <div class="customer-oq__item__body">
        <div class="widget-content">
            <div class="row-fluid form-horizontal">
                <div class="responsive-block">
                    {% if  customerUser.namePrefix is defined %}
                        {{ UI.renderProperty('oro.customer.customeruser.name_prefix.label'|trans, customerUser.namePrefix) }}
                    {% endif %}
                    {{ UI.renderProperty('oro.customer.customeruser.first_name.label'|trans, customerUser.firstName) }}
                    {% if  customerUser.middleName is defined %}
                        {{ UI.renderProperty('oro.customer.customeruser.middle_name.label'|trans, customerUser.middleName) }}
                    {% endif %}
                    {{ UI.renderProperty('oro.customer.customeruser.last_name.label'|trans, customerUser.lastName) }}
                    {% if  customerUser.nameSuffix is defined %}
                        {{ UI.renderProperty('oro.customer.customeruser.name_suffix.label'|trans, customerUser.nameSuffix) }}
                    {% endif %}

                    {% set birthday_string %}
                        {{ customerUser.birthday is empty ? 'N/A'|trans : customerUser.birthday|oro_format_date }}
                        {% if customerUser.birthday is not empty %}
                            ({{ customerUser.birthday|age_string({'default': 'N/A'}) }})
                        {% endif %}
                    {% endset %}
                    {{ UI.renderProperty('oro.customer.customeruser.birthday.label'|trans, birthday_string) }}
                    {{ UI.renderHtmlProperty('oro.customer.customeruser.email.label'|trans, Email.email_address_simple(customerUser.email)) }}

                    {% if customerUser.customer %}
                        {{ UI.renderProperty('oro.customer.customeruser.profile.company_name'|trans, customerUser.customer.name) }}
                    {% endif %}

                    {% if resource_granted('oro_customer_frontend_customer_user_role_view') %}
                        {% set roles = [] %}
                        {% for customerUserRole in customerUser.roles %}
                            {% set roles = roles|merge([customerUserRole.label|escape]) %}
                        {% endfor %}
                        {{ UI.renderHtmlProperty('oro.customer.customeruser.roles.label'|trans, roles|join('<br />')) }}
                    {% endif %}

                    {% if customerUser.salesRepresentatives | length %}
                        {{ UI.renderHtmlProperty('oro.customer.customeruser.sales_representatives.label'|trans, UI.entityViewLinks(customerUser.salesRepresentatives, 'fullName', 'oro_user_view')) }}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

