{% block oro_redirect_localized_slug_widget %}
    <div
        {% if form.vars.slugify_component_options is defined %}
            data-page-component-module="ororedirect/js/app/components/localized-field-slugify-component"
            data-page-component-options="{{ form.vars.slugify_component_options|json_encode }}"
        {% endif %}
    >
        <div class="control-group">
            {{ form_widget(form.values) }}
            {{ form_errors(form.values) }}
            {{ form_widget(form.ids) }}
            {{ form_errors(form.ids) }}
        </div>
    </div>
{% endblock %}

{% block oro_redirect_slug_widget %}
    <div
            data-page-component-module="ororedirect/js/app/components/text-field-slugify-component"
            data-page-component-options="{{ form.vars.slugify_component_options|json_encode }}"
    >
        {{ form_widget(form) }}
    </div>
{% endblock %}

{% block oro_redirect_localized_slug_with_redirect_widget %}
    {{ form_widget(form.slugPrototypes) }}
    {% if form.createRedirect is defined %}
        <div class="hide"
            data-page-component-module="ororedirect/js/app/components/confirm-slug-change-component"
            data-page-component-options="{{ form.vars.confirm_slug_change_component_options|json_encode }}"
        >
            {{ form_widget(form.createRedirect) }}
        </div>
    {% endif %}
{% endblock %}

{% block oro_redirect_slug_with_redirect_widget %}
    {{ form_widget(form.textSlugPrototype) }}
    {% if form.createRedirect is defined %}
        <div class="hide"
            data-page-component-module="ororedirect/js/app/components/confirm-slug-change-component"
            data-page-component-options="{{ form.vars.confirm_slug_change_component_options|json_encode }}"
        >
            {{ form_widget(form.createRedirect) }}
        </div>
    {% endif %}
{% endblock %}

{% block oro_redirect_sluggable_prefix_widget %}
    <div
            data-page-component-module="oroui/js/app/components/view-component"
            data-page-component-options="{{ {
                'view': 'ororedirect/js/app/views/prefix-redirect-view',
                selectors: {
                    strategySelector: 'select[name$="__redirect_generation_strategy][value]"]',
                    prefixSelector: '#' ~ form.prefix.vars.id,
                },
                askStrategyName: form.vars.askStrategyName,
                isAskStrategy: form.vars.isAskStrategy
            }|json_encode }}">
        {{ form_widget(form.prefix) }}
        <div class="create-redirect hide">
            {{ form_row(form.createRedirect) }}
        </div>
        {{ form_errors(form) }}
    </div>
{% endblock %}
