{% block _product_view_attributes_container_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' product-view__attributes'
    }) %}

    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block attribute_product_images_widget %}
    {% set product = entity %}

    {{ block('_product_media_widget') }}
{% endblock %}

{% block _product_view_attribute_group_general_attribute_text_sku_widget %}
    {% set attr = layout_attr_defaults(attr, {
    '~class': ' product-item__number product-item__number_{{ class_prefix }}'
    }) %}
    <div {{ block('block_attributes') }}>
        Item #: <span class="red">{{ block_widget(block) }}</span>
    </div>
{% endblock %}
