{# Product view Layout START #}
{% block _product_view_container_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' product-view'
    }) %}

    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _product_view_primary_container_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' product-view__primary'
    }) %}

    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _product_view_aside_container_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' product-view__aside'
    }) %}

    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _product_view_main_container_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' product-view__main'
    }) %}

    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _product_view_content_container_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' product-view__content'
    }) %}

    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _product_view_specification_container_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' product-view__specification'
    }) %}

    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _product_view_description_container_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' product-view__description'
    }) %}

    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _product_view_additional_container_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' product-view__additional'
    }) %}

    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}
{# Product view Layout START #}

{% block _product_view_title_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' page-title'
    }) %}

    <h1 {{ block('block_attributes') }}>{{ text }}</h1>
{% endblock %}

{% block _product_view_sku_widget %}
    <p class="sku">
        {{ 'oro.product.frontend.index.item'|trans }} <span class="sku__code">{{ block_widget(block) }}</span>
    </p>
{% endblock %}
