{# Product view Layout START #}
{% block _product_view_container_widget %}
    {% set modelAttr = product.jsonSerialize() %}
    {% if parentProduct is not null %}
        {% set modelAttr = modelAttr|merge({parentProduct: parentProduct.id}) %}
    {% endif %}
    {% set attr = layout_attr_defaults(attr, {
        'data-page-component-module': 'oroui/js/app/components/view-component',
        '~data-page-component-options': {
            view: 'oroproduct/js/app/views/base-product-view',
            modelAttr: modelAttr
        },
        'data-layout': 'separate',
        '~class': ' product-view'
    }) %}

    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _product_view_primary_container_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' product-view__primary'
    }) %}

    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _product_view_aside_container_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' product-view__aside'
    }) %}

    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _product_view_main_container_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' product-view__main'
    }) %}

    <div {{ block('block_attributes') }}>
        {{ parent_block_widget(block) }}
    </div>
{% endblock %}

{% block _product_view_content_container_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' product-view__content'
    }) %}

    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _product_view_specification_container_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' product-view__specification',
        'data-role': 'layout-subtree-loading-container'
    }) %}

    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _product_view_description_container_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' product-view__description'
    }) %}

    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _product_view_additional_container_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' product-view__additional'
    }) %}

    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}
{# Product view Layout START #}

{% block _product_view_attribute_group_general_attribute_localized_fallback_names_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' page-title'
    }) %}

    <h1 {{ block('block_attributes') }}>{{ block_widget(block) }}</h1>
{% endblock %}

{% block _product_view_attribute_group_general_attribute_text_sku_widget %}
    <p class="sku">
        {{ 'oro.product.frontend.index.item'|trans }} <span class="sku__code">{{ block_widget(block) }}</span>
    </p>
{% endblock %}

{% block _product_media_widget %}
    {% import 'OroUIBundle::macros.html.twig' as UI %}
    {% import 'OroProductBundle::image_macros.html.twig' as Image %}
    <!-- START Product Gallery -->
    <div class="product-gallery">

        {% set zoomOptions = {
            viewport: {
                minScreenType: 'desktop'
            },
            component: 'oroui/js/app/components/jquery-widget-component',
            widgetModule: 'oroproduct/js/widget/zoom-widget'
        } %}

        {% set imageListOptions = {
            slidesToShow: 1,
            slidesToScroll: 1,
            fade: true,
            arrows: false,
            asNavFor: '.product-gallery__nav',
            lazyLoad: 'ondemand',
            infinite: false
        } %}

        {% set navListOptions = {
            slidesToShow: 4,
            slidesToScroll: 1,
            asNavFor: '.product-view-media__gallery',
            focusOnSelect: true,
            infinite: false,
            arrows: true
        } %}

        {% set productImages = [] %}

        {% for productImage in product.imagesByType('main')|merge(product.imagesByType('additional')) %}
            {% if productImage not in productImages %}
                {% set productImages = productImages|merge([productImage]) %}
            {% endif %}
        {% endfor %}

        {% if productImages|length == 0 %}
            {% set productImages = product.getImagesByType('listing') %}
        {% endif %}

        {% set slideNavAttr = productImages|length > 1 ? {
            'data-page-component-module': 'orofrontend/js/app/components/list-slider-component',
            'data-page-component-options': navListOptions|json_encode
        } : {} %}

        {% set slideImageAttr = productImages|length > 1 ? {
            'data-page-component-module': 'orofrontend/js/app/components/list-slider-component',
            'data-page-component-options': imageListOptions|json_encode
        } : {} %}

        <div class="product-view-media__gallery" {{ UI.attributes(slideImageAttr) }}>

            {% if productImages|length == 0 %}

                <div class="product-gallery__image-item">
                    <img class="product-gallery__image"
                         src="{{ Image.url(null, 'product_large') }}"
                         alt="{{ product.names|localized_value }}"
                         width="378"
                         height="378"
                     />
                </div>

            {% else %}

                {% for productImage in productImages %}
                    <div class="product-gallery__image-item" data-trigger-gallery-open>
                        <img class="product-gallery__image"
                             data-url-zoom="{{ productImage ? Image.url(productImage.image, 'product_original') : null }}"
                             alt="{{ product.names|localized_value }}"
                             data-zoom-image="{{ Image.url(productImage.image, 'product_original') }}"
                             data-page-component-module="oroui/js/app/components/viewport-component"
                             data-page-component-options="{{ zoomOptions|json_encode }}"
                            {% if loop.first %}
                                src="{{ productImage ? Image.url(productImage.image, 'product_large') : null }}"
                            {% else %}
                                data-lazy="{{ productImage ? Image.url(productImage.image, 'product_large') : null }}"
                            {% endif %}
                        />
                    </div>
                {% endfor %}

            {% endif %}
        </div>

        {% if productImages|length > 1 %}

        <div class="product-gallery__nav" {{ UI.attributes(slideNavAttr) }}>

            {% for productImage in productImages %}
                <div class="product-gallery__nav-item">
                    <img class="product-gallery__image"
                         src="{{ Image.url(productImage.image, 'product_small') }}"/>
                </div>
            {% endfor %}
        </div>

        {% endif %}

    </div>
    <!-- END Product Gallery -->
{% endblock %}

{% block _product_media_popup_widget %}
    {% import 'OroProductBundle::image_macros.html.twig' as Image %}

    {% set productImages = [] %}

    {% for productImage in product.imagesByType('main')|merge(product.imagesByType('additional')) %}
        {% if productImage not in productImages %}
            {% set productImages = productImages|merge([productImage]) %}
        {% endif %}
    {% endfor %}

    {% if productImages|length == 0 %}
        {% set productImages = product.getImagesByType('listing') %}
    {% endif %}

    <div class="popup-gallery-widget"
         data-gallery-content
         data-product-gallery
         data-page-component-module="orofrontend/js/app/components/popup-gallery-widget">
        <div class="popup-gallery-widget__bg"
             data-trigger-gallery-close></div>
        <div class="popup-gallery-widget__wrapper">
            <div class="popup-gallery-widget__close"
                 data-trigger-gallery-close>
            </div>
            <div class="popup-gallery-widget__images"
                 data-gallery-images>
                {% for productImage in productImages %}
                    <div class="popup-gallery-widget__image">
                        <img data-lazy="{{ Image.url(productImage.image, 'product_gallery_popup') }}"
                             width="100%"
                             height="100%"/>
                    </div>
                {% endfor %}
            </div>
            {% if productImages|length > 1 %}
                <div class="popup-gallery-widget__thumbnails"
                     data-gallery-thumbnails>
                    {% for productImage in productImages %}
                        <div class="popup-gallery-widget__thumbnails-img">
                            <img
                                 src="{{ Image.url(productImage.image, 'product_small') }}"
                                 width="80px"
                                 height="80px"/>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
