{# Product view Layout START #}
{% block _product_view_container_widget %}
    {% import 'OroProductBundle::image_macros.html.twig' as Image %}

    {% set productImage = product.imagesByType('listing').first.image|default(null) %}
    {% set productImageUrl = Image.url(productImage, 'product_small') %}

    {% set modelAttr = product.jsonSerialize() %}
    {% set modelAttr = modelAttr|merge({
        'imageUrl': productImageUrl
    }) %}

    {% if parentProduct is not null %}
        {% set modelAttr = modelAttr|merge({parentProduct: parentProduct.id}) %}
    {% endif %}
    {% set attr = layout_attr_defaults(attr, {
        'data-page-component-module': 'oroui/js/app/components/view-component',
        '~data-page-component-options': {
            view: 'oroproduct/js/app/views/base-product-view',
            modelAttr: modelAttr
        },
        'itemscope': '',
        'itemtype': 'http://schema.org/Product',
        'data-layout': 'separate',
        'data-role': 'product-item',
        '~class': ' product-view ' ~ productTheme|default('default') ~ '-theme'
    }) %}

    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _product_view_primary_wrapper_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' product-view__primary-wrapper'
    }) %}

    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _product_view_primary_container_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' product-view__primary'
    }) %}

    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _product_view_aside_container_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' product-view__aside'
    }) %}

    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _product_view_main_container_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' product-view__main'
    }) %}

    <div {{ block('block_attributes') }}>
        {{ parent_block_widget(block) }}
    </div>
{% endblock %}

{% block _product_view_content_container_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' product-view__content'
    }) %}

    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _product_view_specification_container_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' product-view__specification',
        'data-role': 'layout-subtree-loading-container'
    }) %}

    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _product_view_description_container_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' product-view__description',
        'itemprop': 'description'
    }) %}

    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _product_view_attribute_group_general_attribute_localized_fallback_descriptions_widget %}
    {% set description = translated_value|oro_html_sanitize|trim %}
    {% if description %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' collapse-view collapse-view--overflow',
        '~data-page-component-viewport': {
            viewport: {
                maxScreenType: 'tablet',
            },
            widgetModule: 'oroui/js/widget/collapse-widget',
            animationSpeed: 0,
            checkOverflow: true,
            open: false
        }
    }) %}

    <div {{ block('block_attributes') }}>
        <div class="collapse-view__container tiny-container" data-collapse-container>
            {{ description|raw }}
        </div>
        <a href="javascript:void(0)" class="collapse-view__trigger" data-collapse-trigger>
            <i class="collapse-view__trigger-icon fa-chevron-down"></i>
        </a>
    </div>
    {% endif %}
{% endblock %}

{% block _product_view_brand_container_widget %}
    {% set attr = layout_attr_defaults(attr, {
    '~class': ' product-view__brand'
    }) %}

    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _product_view_additional_container_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' product-view__additional'
    }) %}

    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}
{# Product view Layout START #}

{% block _product_view_attribute_group_general_attribute_localized_fallback_names_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' page-title',
        'itemprop': 'name'
    }) %}

    <h1 {{ block('block_attributes') }}>{{ translated_value|oro_html_strip_tags }}</h1>
{% endblock %}

{% block _product_view_attribute_group_general_attribute_text_sku_widget %}
    <p class="sku">
        {{ 'oro.product.frontend.index.item'|trans }} <span class="sku__code" itemprop="sku">{{ entity.sku|oro_html_strip_tags }}</span>
    </p>
{% endblock %}

{% block _product_view_attribute_group_general_attribute_text_brand_widget %}
    <div class="brand">
        <span class="product-view-brand">{{ 'oro.product.brand.entity_label'|trans }}:</span>
        <span class="product-view-brand-title" itemprop="brand">{{ block_widget(block) }}</span>
    </div>
{% endblock %}

{% block _product_require_js_config_widget %}
    <script>
        require({
            config: {
                'oroui/js/app/views/tab-collection-view': {templateClassName: 'product-attributes-tabs'},
                'oroui/js/app/views/tab-item-view': {
                    className: 'product-attributes-tabs__item',
                    templateClassName: 'product-attributes-tabs__link'
                }
            }
        });
    </script>
{% endblock %}

{% block _product_view_line_item_container_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' line-item-form',
    }) %}
    <div {{ block('block_attributes') }}>
    {{ block_widget(block, {attr: attr}) }}
    </div>
{% endblock %}
