{% block _product_container_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' product-view'
    }) %}
    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _product_title_container_widget %}
    {% set attr = attr|merge({
    class: attr.class|default('') ~ " product-view__title-container"
    }) %}
    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _product_title_widget %}
    <h1 class="page-title">{{ text }}</h1>
{% endblock %}

{% block _product_gallery_container_widget %}
    {% set attr = layout_attr_defaults(attr, {
    '~class': ' product-view__gallery'
    }) %}

    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _product_main_data_container_widget %}
    {% set attr = layout_attr_defaults(attr, {
    '~class': ' product-view__main-data'
    }) %}

    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _product_main_data_specification_container_widget %}
    {% set attr = layout_attr_defaults(attr, {
    '~class': ' product-view__main-data__specification'
    }) %}

    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _product_sku_widget %}
    <div>
        {{ 'oro.product.frontend.index.item'|trans }} <span class="red">{{ block_widget(block) }}</span>
    </div>
{% endblock %}

{% block _product_main_data_description_container_widget %}
    {% set attr = layout_attr_defaults(attr, {
    '~class': ' product-view__main-data__description'
    }) %}

    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _product_additional_container_widget %}
    {% set attr = layout_attr_defaults(attr, {
    '~class': ' product-view__additional'
    }) %}

    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}
