{% block _line_item_form_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' line-item-form',
        'data-role': 'line-item-form-container'
    }) %}
    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
        <div class="disabled-overlay"></div>
    </div>
{% endblock %}

{% block _line_item_form_fields_widget %}
    {% if not isProductUnitSelectionVisible %}
        <div class="form__col">
            {{ form_label(form.quantity) }}
            {{ form_widget(form.quantity, {'attr' : {'class': 'input--short'}}) }}

            {% if isUnitVisible %}
                <span class="label">
                    {{ product.primaryUnitPrecision.unit.code|oro_format_product_unit_label }}
                </span>
            {% endif %}
            {{ form_errors(form.quantity) }}
        </div>
    {% else %}
        {{ form_row(form.unit) }}
        {{ form_row(form.quantity) }}
    {% endif %}
{% endblock %}

{% block _line_item_buttons_container_widget %}
    {% if block.children is not empty %}
        {% set attr = layout_attr_defaults(attr, {
            '~class': " form__col"
        }) %}

        <div {{ block('block_attributes') }}>
            {{ block_widget(block) }}
        </div>
    {% endif %}
{% endblock %}