{% block _main_menu_container_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': " main-menu"
    }) %}
    <nav {{ block('block_attributes') }}>
        <div class="container-fluid">
            <ul class="main-menu__list">
                {{ block_widget(block) }}
            </ul>
        </div>
    </nav>
{% endblock %}

{% block _main_menu_widget %}
    {% spaceless %}
        {% for child in item.children -%}
            {% if child.displayed and child.extras.isAllowed %}
            <li class="main-menu__item">
                <a href="{{ app.request.getUriForPath(child.uri) }}" class="main-menu__link">
                    <span>{{ child.label }}</span>
                </a>
            </li>
            {% endif %}
        {%- endfor %}
    {% endspaceless %}
{% endblock %}

{% block _main_menu_widgets_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': " main-menu__list main-menu__list--nested"
    }) %}
    <li><ul {{ block('block_attributes') }}>{{ block_widget(block) }}</ul></li>
{% endblock %}

{% block _main_menu_messages_widget_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': " main-menu__item main-menu__item--nested"
    }) %}
    <li {{ block('block_attributes') }}>
        <button class="messages-widget__trigger" data-oro-mpa-trigger>
            <span class="badge badge_xs badge_circle badge_blue messages-widget__badge">3</span>
            <span class="badge badge_md badge_circle badge_dark"><i class="cf-comment"></i></span>
            <span class="messages-widget__title text-uppercase">Messages</span>
            <i class="cf-down-open-mini"></i>
        </button>
    </li>
{% endblock %}

{% block rule_editor_widget %}
    {% set attr = layout_attr_defaults(attr, {
        'data-page-component-module': 'orofrontend/default/js/components/rule-editor-component',
        'data-page-component-options': {
            data: {
                product: {
                    id: 'any',
                    name: 'any',
                    category: 'any',
                    status: ['ENABLED', 'DISABLED']
                },
                category: {
                    id: 'any',
                    name: 'any',
                    parent: 'any',
                },
                account: {
                    id: 'any',
                    name: 'any',
                    role: 'any',
                },
                products: {
                    type: 'array',
                    entity: 'product'
                }
            },
            operations: ['=', '!=', '+', '-'],
            grouping: ['or', 'and'],
            array_operation: ['all', 'any'],

            input: 'textarea'
        },
        '~class': ' rule-editor'
    }) %}

    <div {{ block('block_attributes') }}>
        <textarea type="text" name="rule-editor" autocomplete="off"></textarea>
    </div>
{% endblock %}
