{% block _header_row_widget %}
    {% set attr = layout_attr_defaults(attr, {
        'data-page-component-module': 'oromenu/default/js/components/header-row',
        '~data-page-component-options': {
            isMobile: isMobileVersion()
        },
        '~class': ' header-row'
    }) %}

    {% if isMobileVersion() %}
        {% set attr = layout_attr_defaults(attr, {
            '~data-sticky': {
                isSticky: true,
                autoWidth: true,
                toggleClass: 'header-row--fixed',
                placeholderId: 'sticky-header-row',
            }
        }) %}
    {% endif %}

    <div class="container-fluid">
        <div {{ block('block_attributes') }}>
            {{ block_widget(block) }}
        </div>

        <input type="radio" id="header-row-overlay" class="header-row-helper" name="dropdowns" checked="checked" hidden="hidden">
        <label class="header-row-overlay hidden-on-desktop" for="header-row-overlay"></label>
    </div>
{% endblock %}

{% block _header_row_links_widget %}
    <input type="radio" id="header-row-links" class="header-row-helper" name="dropdowns" hidden="hidden">
    <div class="header-row__container header-row__container--unstack">
        <label class="header-row__trigger hidden-on-desktop" for="header-row-links">
            <div class="nav-trigger">
                <span class="nav-trigger__icon nav-trigger__icon--transparent nav-trigger__icon--large">
                    <span class="cf-menu cf--gray cf--no-offset"></span>
                </span>
            </div>
        </label>
        <div class="header-row__toggle">
            <div class="header-row__dropdown-mobile" data-main-menu-container>
                {{ block_widget(block) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block _main_menu_axtra_container_widget %}
    {% set attr =  layout_attr_defaults(attr, {
        'data-main-menu-axtra-container': ''
    }) %}

    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _main_menu_container_widget %}
    {% set attr =  layout_attr_defaults(attr, {
        '~class': ' main-menu-outer collapse-view',
        'data-page-component-module': "oroui/js/app/components/jquery-widget-component",
        '~data-page-component-options': {
            widgetModule: 'oroui/js/widget/collapse-widget',
            open: false
        }
    }) %}

    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _main_menu_label_widget %}
    <a href="#" class="main-menu-outer__trigger main-menu__link" data-collapse-trigger>
        <span class="badge badge_sm badge_circled-corners badge_orange main-menu-outer__badge">
            <i class="cf-local_mall"></i>
        </span>
        <span class="collapse-view__trigger collapse-view__trigger--icon" data-collapse-trigger>
                <i class="collapse-view__trigger-icon cf-play cf--gray"></i>
            </span>
        <span class="main-menu-outer__text collapse-view__text">{{ block_widget(block) }}</span>
    </a>
{% endblock %}

{% block _main_menu_list_widget %}
    {% set attr =  layout_attr_defaults(attr, {
        '~class': ' main-menu-outer__container main-menu'
    }) %}
    <ul {{ block('block_attributes') }} data-collapse-container>
        {{ block_widget(block) }}
    </ul>
{% endblock %}

{% block _main_menu_widget %}
    {% spaceless %}
        {% for child in item.children -%}
            {% if child.displayed and child.extras.isAllowed %}
            <li class="main-menu__item">
                <a href="{{ app.request.getUriForPath(child.uri) }}" class="main-menu__link">
                    <span>{{ child.label }}</span>
                </a>
            </li>
            {% endif %}
        {%- endfor %}
    {% endspaceless %}
{% endblock %}
