{% block _header_row_widget %}
    {% set attr = layout_attr_defaults(attr, {
        'data-page-component-module': 'oromenu/default/js/components/header-row',
        '~data-page-component-options': {
            isMobile: isMobileVersion()
        },
        '~class': ' header-row'
    }) %}

    {% if isMobileVersion() %}
        {% set attr = layout_attr_defaults(attr, {
            '~data-sticky': {
                isSticky: true,
                autoWidth: true,
                toggleClass: 'header-row--fixed',
                placeholderId: 'sticky-header-row',
            }
        }) %}
    {% endif %}

    <div class="container-fluid">
        <div {{ block('block_attributes') }}>
            {{ block_widget(block) }}
        </div>

        <input type="radio" id="header-row-overlay" class="header-row-helper" name="dropdowns" checked="checked" hidden="hidden">
        <label class="header-row-overlay hidden-on-desktop" for="header-row-overlay"></label>
    </div>
{% endblock %}

{% block _header_row_links_widget %}
    <input type="radio" id="header-row-links" class="header-row-helper" name="dropdowns" hidden="hidden">
    <div class="header-row__container header-row__container--unstack">
        <label class="header-row__trigger hidden-on-desktop" for="header-row-links">
            <div class="nav-trigger">
                <span class="nav-trigger__icon nav-trigger__icon--transparent nav-trigger__icon--large">
                    <span class="cf-menu cf--gray cf--no-offset"></span>
                </span>
            </div>
        </label>
        <div class="header-row__toggle">
            <div class="header-row__dropdown-mobile" data-main-menu-container>
                {{ block_widget(block) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block _main_menu_container_widget %}
    {% set attr =  layout_attr_defaults(attr, {
        '~class': ' main-menu'
    }) %}

    <ul {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </ul>
{% endblock %}

{% block _main_menu_widget %}
    {% spaceless %}
        {% for child in item.children -%}
            {% if child.displayed and child.extras.isAllowed %}
            <li class="main-menu__item">
                <a href="{{ app.request.getUriForPath(child.uri) }}" class="main-menu__link">
                    <span>{{ child.label }}</span>
                </a>
            </li>
            {% endif %}
        {%- endfor %}
    {% endspaceless %}
{% endblock %}

{% block rule_editor_widget %}
    {% set attr = layout_attr_defaults(attr, {
        'data-page-component-module': 'orofrontend/default/js/components/rule-editor-component',
        'data-page-component-options': {
            data: {
                product: {
                    id: 'any',
                    name: 'any',
                    category: 'any',
                    status: ['ENABLED', 'DISABLED']
                },
                category: {
                    id: 'any',
                    name: 'any',
                    parent: 'any',
                },
                account: {
                    id: 'any',
                    name: 'any',
                    role: 'any',
                },
                products: {
                    type: 'array',
                    entity: 'product'
                }
            },
            operations: ['=', '!=', '+', '-'],
            grouping: ['or', 'and'],
            array_operation: ['all', 'any'],

            input: 'textarea'
        },
        '~class': ' rule-editor'
    }) %}

    <div {{ block('block_attributes') }}>
        <textarea type="text" name="rule-editor" autocomplete="off"></textarea>
    </div>
{% endblock %}
