{% block _quick_access_container_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': " middlebar__right"
    }) %}
    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _quick_access_menu_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': " quick-access"
    }) %}
    {% set iconsClasses = ['cf-assignment', 'cf-local_offer', 'cf-flash'] %}
    {% set colorClasses = ['badge_yellow', 'badge_orange-light', 'badge_orange'] %}

    <div {{ block('block_attributes') }}>
        <ul class="quick-access__list">
        {% set i = 0 %}
        {% for children in item.children %}
            <li class="quick-access__item">
                <a class="quick-access__link" href="{{ children.uri }}">
                    <span class="badge badge_circled-corners {{ colorClasses[i] }} quick-access__badge">
                        <i class="{{ iconsClasses[i] }}"></i>
                    </span>
                    <span class="quick-access__text">{{ children.label }}</span>
                </a>
            </li>
            {% set i = i+1 %}
        {% endfor %}
        </ul>
    </div>
{% endblock %}
