{% block orob2b_sale_quote_product_to_order_widget %}
    {% set maxChars = 60 %}
    {% set product = quoteProduct.productReplacement|default(quoteProduct.product) %}
    {% set offerChoiceName = 'offer_choice_%s'|format(name) %}
    {% set isQuantityValid = form.quantity.vars.valid %}
    {% set selectedOffer = null %}
    {% if selectedOfferId is not defined %}
        {% set selectedOfferId = app.request.request.get(offerChoiceName) %}
    {% endif %}

    {% if selectedOfferId %}
        {% for offer in quoteProduct.quoteProductOffers %}
            {% if offer.id == selectedOfferId %}
                {% set selectedOffer = offer %}
            {% endif %}
        {% endfor %}
    {% else %}
        {# first offer is a default value #}
        {% set selectedOffer = quoteProduct.quoteProductOffers|first %}
    {% endif %}

    {% if selectedOffer %}
        {% set defaultUnitCode = selectedOffer.productUnit.code|orob2b_format_product_unit_label(true) %}
        {% if isQuantityValid %}
            {% set defaultPriceValue = selectedOffer.price|oro_format_price %}
        {% else %}
            {% set defaultPriceValue = 'orob2b.frontend.sale.quoteproductoffer.not_available.message'|trans %}
        {% endif %}
    {% else %}
        {% set defaultUnitCode = '' %}
        {% set defaultPriceValue = '' %}
    {% endif %}

    {% set componentOptions = {
    offerSelector: '[name=\'%s\']'|format(offerChoiceName),
    quantitySelector: '[name=\'%s\']'|format(form.quantity.vars.full_name),
    unitInputSelector: '[name=\'%s\']'|format(form.unit.vars.full_name),
    unitSelector: '#%s .quote-product-offer-quantity-unit'|format(id),
    unitPriceSelector: '#%s .quote-product-offer-price span'|format(id),
    quoteProductId: quoteProduct.id,
    calculatingMessage: 'orob2b.frontend.sale.quoteproductoffer.price_calculating.message'|trans,
    notAvailableMessage: 'orob2b.frontend.sale.quoteproductoffer.not_available.message'|trans,
    subtotalSelector: '#quote-choice-subtotal'
    } %}
    <tr id="{{ id }}"
        class="borderless"
        data-page-component-module="orob2bsale/js/app/components/quote-product-to-order-component"
        data-page-component-options="{{ componentOptions|json_encode }}">
        <td class="va-t_md">
            <h3 class="product-item__title product-item__title_in-cart mb1-md">
                {{ quoteProduct.productName }}
            </h3>
            <div>
                {{ 'orob2b.frontend.sale.quoteproduct.product_sku.label'|trans }}
                <span class="red">
                    {% if quoteProduct.isTypeNotAvailable %}
                        {{ quoteProduct.productReplacementSku }}
                    {% else %}
                        {{ quoteProduct.productSku }}
                    {% endif %}
                </span>
            </div>
        </td>
        <td class="va-t_md offset-top-s">
            <table>
                {% for offer in quoteProduct.quoteProductOffers %}
                    <tr>
                        <td class="quote-product-offer-select-offer-choice {% if loop.first %}offset-top-s{% endif %}" >
                            {% set checked = offer.id == selectedOffer.id %}
                            <label class="radio_custom radio_custom_blue {% if checked %}checked{% endif %}" data-radio="">
                                <input type="radio"
                                       name="{{ offerChoiceName }}"
                                       value="{{ offer.id }}"
                                       data-unit="{{ offer.productUnitCode }}"
                                       data-formatted-unit="{{ offer.productUnit.code|orob2b_format_product_unit_label(true) }}"
                                       data-quantity="{{ offer.quantity }}"
                                       data-price="{{ offer.price|oro_format_price }}"
                                       {% if checked %}checked="checked"{% endif %}
                                />
                                <i class="cf-radio_button_checked radio_checked fs18 mmr5-md"></i>
                                <i class="cf-radio_button_unchecked radio_not-checked fs18 mmr5-md"></i>
                                <span class="checkbox_custom__text fs13">
                                    {{ offer.quantity|orob2b_format_short_product_unit_value(offer.productUnit) }}
                                    {% if offer.allowIncrements %}
                                        {{ 'orob2b.frontend.sale.quoteproductoffer.allow_increments.label'|trans }}
                                    {% endif %}
                                </span>
                            </label>
                        </td>
                        <td class="quote-product-offer-select-offer-price {% if loop.first %}offset-top-s{% endif %}">
                            {{ offer.price|oro_format_price }}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </td>
        <td class="va-t_md">
            <div class="product__qty-input product__qty-input_inline product__qty-input_more-info va-m_md">
                <div class="product__qty-input__count-option">
                    {{ form_widget(form.quantity, {'attr': {'data-valid': isQuantityValid|json_encode}}) }}
                </div>
            </div>
            <div class="product__select inline va-m_md" style="margin-left: 10px">
                {{ form_widget(form.unit) }}
                <span class="quote-product-offer-quantity-unit">{{ defaultUnitCode }}</span>
            </div>
            {{ form_errors(form.quantity) }}
            {{ form_errors(form.unit) }}
        </td>
        <td class="text-right va-t_md quote-product-offer-price">
            <span>{{ defaultPriceValue }}</span>
        </td>
    </tr>
    {% if (quoteProduct.commentAccount is not empty) %}
        <tr class="borderless">
            <td colspan="4">
                <div class="account-oq__order-item-more">
                     <span data-oro-expand-widget>
                        {% if (quoteProduct.commentAccount|length > maxChars) %}
                            <i class="cf-play" data-oro-expand-trigger></i>
                        {% endif %}
                         {{ 'orob2b.frontend.sale.quoteproduct.comment_account.label'|trans }}: <span data-oro-expand-container max-length="{{ maxChars }}">{{ quoteProduct.commentAccount }}</span>
                    </span>
                </div>
            </td>
        </tr>
    {% endif %}

    {% if (quoteProduct.comment is not empty) %}
        <tr class="borderless">
            <td colspan="4">
                <div class="account-oq__order-item-more">
                    <span data-oro-expand-widget>
                        {% if (quoteProduct.comment|length > maxChars) %}
                            <i class="cf-play" data-oro-expand-trigger></i>
                        {% endif %}
                        {{ 'orob2b.frontend.sale.quoteproduct.comment.label'|trans }}: <span data-oro-expand-container max-length="{{ maxChars }}">{{ quoteProduct.comment }}</span>
                    </span>
                </div>
            </td>
        </tr>
    {% endif %}

    <tr>
        <td class="decor-row" colspan="4"></td>
    </tr>
{% endblock %}

{% block orob2b_sale_quote_to_order_widget %}
    {% set attr = attr|merge({'class': (attr.class is defined ? attr.class ~ ' ' : '') ~ 'grid-container' }) %}
    {% spaceless %}
        <div {{ block('widget_container_attributes') }}>
            <table class="oro-grid-table oro-grid-table__orders">
                <thead>
                <tr>
                    <th>{{ 'orob2b.frontend.sale.quoteproduct.product_name.label'|trans }}</th>
                    <th>{{ 'orob2b.frontend.sale.quoteproductoffer.select_offer.label'|trans }}</th>
                    <th>{{ 'orob2b.frontend.sale.quoteproductoffer.quantity_to_order.label'|trans }}</th>
                    <th class="text-right">{{ 'orob2b.frontend.sale.quoteproductoffer.unit_price.label'|trans }}</th>
                </tr>
                </thead>
                <tbody>
                {% for child in form.children %}
                    {% if (child.vars.unique_block_prefix) == form.vars.unique_block_prefix ~ '_entry' %}
                        {{ form_widget(child) }}
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
            {{ form_rest(form) }}
            {{ form_errors(form) }}
        </div>
    {% endspaceless %}
{% endblock %}
