{% block _quote_choice_page_widget %}
    <div{{ block('block_attributes') }}>
        <form method="POST"
              data-nohash="true"
              data-disable-autofocus="true"
              id="{{ form.vars.id }}"
              name="{{ form.vars.name }}"
              class="form-dialog"
        >
            {{ form_widget(form) }}
            {{ form_rest(form) }}

            <div class="widget-actions">
                <button type="reset" class="btn">{{ 'orob2b.frontend.sale.quote.submit_to_order.cancel'|trans }}</button>
                <button type="submit" class="btn btn-success">{{ 'orob2b.frontend.sale.quote.submit_to_order.submit'|trans }}</button>
            </div>
        </form>
        {{ oro_form_js_validation(form) }}
        {{ block_widget(block) }}
    </div>
{% endblock %}
