{% block _rfp_request_view_top_actions_widget %}
    {% set attr = attr|merge({ class: attr.class|default('') ~ " oro-account-user-role__controls-list pull-right mt0-md mb0-md mt0-sm mb0-sm" }) %}
    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _rfp_request_view_controls_list_widget %}
    <ul class="oro-order__controls-list">
        <li><a href="#"><i class="cf-reply"></i>Share</a></li>
        <li><a href="#"><i class="cf-print"></i>Print</a></li>
        <li><a href="#"><i class="cf-insert_drive_file"></i>Save PDF</a></li>
    </ul>
{% endblock %}

{% block _rfp_request_view_information_widget %}
    {% import 'OroUIBundle::macros.html.twig' as UI %}

    <div class="account-oq-container">
        <div class="account-oq__item__head">
            <div class="account-oq__item account-oq__item_full mb0-sm">
                <h2 class="account-oq__item__title">
                    {{ 'orob2b.frontend.rfp.request.sections.general'|trans }}
                </h2>
            </div>
        </div>
        <div class="account-oq__item__body">
            <div class="account-oq__item">
                <div class="account-oq__order-info">
                    <table class="table borderless mobile-table">
                        <tbody>
                            <tr class="account-oq__order-info__control">
                                <td class="account-oq__order-info__title">{{ 'orob2b.frontend.rfp.request.first_name.label'|trans }}</td>
                                <td>{{ entity.firstName }}</td>
                            </tr>
                            <tr class="account-oq__order-info__control">
                                <td class="account-oq__order-info__title">{{ 'orob2b.frontend.rfp.request.last_name.label'|trans }}</td>
                                <td>{{ entity.lastName }}</td>
                            </tr>
                            <tr class="account-oq__order-info__control">
                                <td class="account-oq__order-info__title">{{ 'orob2b.frontend.rfp.request.email.label'|trans }}</td>
                                <td>{{ entity.email }}</td>
                            </tr>
                            {% if entity.phone %}
                                <tr class="account-oq__order-info__control">
                                    <td class="account-oq__order-info__title">{{ 'orob2b.frontend.rfp.request.phone.label'|trans }}</td>
                                    <td>{{ entity.phone }}</td>
                                </tr>
                            {% endif %}
                            <tr class="account-oq__order-info__control">
                                <td class="account-oq__order-info__title">{{ 'orob2b.frontend.rfp.request.company.label'|trans }}</td>
                                <td>{{ entity.company|default('N/A'|trans) }}</td>
                            </tr>
                            {% if entity.role %}
                                <tr class="account-oq__order-info__control">
                                    <td class="account-oq__order-info__title">{{ 'orob2b.frontend.rfp.request.role.label'|trans }}</td>
                                    <td>{{ entity.role }}</td>
                                </tr>
                            {% endif %}
                            {% if entity.poNumber %}
                                <tr class="account-oq__order-info__control">
                                    <td class="account-oq__order-info__title">{{ 'orob2b.frontend.rfp.request.po_number.label'|trans }}</td>
                                    <td>{{ entity.poNumber }}</td>
                                </tr>
                            {% endif %}
                            {% if entity.shipUntil %}
                                <tr class="account-oq__order-info__control">
                                    <td class="account-oq__order-info__title">{{ 'orob2b.frontend.rfp.request.ship_until.label'|trans }}</td>
                                    <td>{{ entity.shipUntil|oro_format_date }}</td>
                                </tr>
                            {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="account-oq__item">
                <div class="account-oq__order-info">
                    <table class="table borderless  mobile-table">
                        <tbody>
                            {% if is_granted_view_account_user(entity) and entity.accountUser %}
                                <tr class="account-oq__order-info__control">
                                    <td class="account-oq__order-info__title">{{ 'orob2b.frontend.rfp.request.account_user.label'|trans }}</td>
                                    <td>
                                        {{ UI.entityViewLink(entity.accountUser, entity.accountUser.fullName, 'orob2b_account_frontend_account_user_view') }}
                                    </td>
                                </tr>
                            {% endif %}
                            {% if entity.assignedAccountUsers|length %}
                                <tr>
                                    <td class="account-oq__order-info__title">{{ 'orob2b.frontend.rfp.request.assigned_account_users.label'|trans }}</td>
                                    <td class="account-rfp_request-assigned_users">
                                        {{ UI.entityViewLinks(entity.assignedAccountUsers, 'fullName', 'orob2b_account_frontend_account_user_view') }}
                                    </td>
                                </tr>
                            {% endif %}
                            <tr class="account-oq__order-info__control">
                                <td class="account-oq__order-info__title">{{ 'orob2b.frontend.rfp.request.status.label'|trans }}</td>
                                <td>{{ entity.status.label }}</td>
                            </tr>
                            {% if entity.status.name =='canceled' %}
                                <tr class="account-oq__order-info__control">
                                    <td class="account-oq__order-info__title">{{ 'orob2b.frontend.rfp.request.cancellation_reason.label'|trans }}</td>
                                    <td>{{ entity.cancellationReason }}</td>
                                </tr>
                            {% endif %}
                            {{ block_widget(block) }}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block _rfp_request_view_line_items_widget %}
    {% import 'OroUIBundle::macros.html.twig' as UI %}
    {% set expandTextOptions = {
        widgetModule: 'orob2bfrontend/default/js/widgets/expand-text-widget',
        maxLength: 100
    }|json_encode() %}
    <!-- START ITEMS ORDERED DESKTOP -->
    <div class="account-oq-container hidden-sm hidden-xs">
        <div class="account-oq__item account-oq__item_full">
            <div class="account-oq__item__head">
                <h2 class="account-oq__item__title">
                    {{ 'orob2b.frontend.rfp.request.sections.request_products.label'|trans }}
                </h2>
            </div>
            <div class="account-oq__item__body">
                <table class="oro-grid-table oro-grid-table__orders">
                    <thead>
                    <tr>
                        <th colspan="2">{{ 'orob2b.frontend.rfp.request.sections.request_products.columns.item.label'|trans }}</th>
                        <th>{{ 'orob2b.frontend.rfp.request.sections.request_products.columns.quantity.label'|trans }}</th>
                        <th class="text-right">{{ 'orob2b.frontend.rfp.request.sections.request_products.columns.price.label'|trans }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for requestProduct in entity.requestProducts %}
                        {% for requestProductItem in requestProduct.requestProductItems %}
                            <tr class="borderless">
                                {% if loop.first %}
                                    <td class="va-t_md" colspan="2" rowspan="{{ requestProduct.requestProductItems|length }}">
                                        <h3 class="oro-grid-table__title">
                                            {% if (requestProduct.product.id is defined) %}
                                                {{ UI.link({
                                                    path: path('orob2b_product_frontend_product_view', {'id': requestProduct.product.id}),
                                                    label : requestProduct.product,
                                                }) }}
                                            {% else %}
                                                {{ requestProduct.product }}
                                            {% endif %}
                                        </h3>
                                        <div>{{ 'orob2b.frontend.rfp.requestproduct.product_sku.label'|trans }} <span class="red">{{ requestProduct.productSku }}</span></div>
                                    </td>
                                {% endif %}
                                <td>
                                    {{ requestProductItem.quantity|orob2b_format_short_product_unit_value(requestProductItem.productUnit) }}
                                </td>
                                <td class="text-right">
                                    {% if requestProductItem.price %}
                                        {{ requestProductItem.price|oro_format_price }}
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}

                        {% if (requestProduct.comment is not empty) %}
                            <tr class="borderless">
                                <td colspan="4">
                                    <div class="account-oq__order-item-more">
                                        <div class="expand-text"
                                             data-page-component-module="oroui/js/app/components/jquery-widget-component"
                                             data-page-component-options="{{ expandTextOptions }}"
                                        >
                                            {{ 'orob2b.frontend.rfp.requestproduct.comment.label'|trans }}: {{ requestProduct.comment }}
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        {% endif %}

                        <tr>
                            <td colspan="4">
                                <div class="decor-row"></div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- END ITEMS ORDERED DESKTOP -->
{% endblock %}

{% block _rfp_request_view_line_items_mobile_widget %}
    {% import 'OroUIBundle::macros.html.twig' as UI %}
    {% set expandTextOptions = {
        widgetModule: 'orob2bfrontend/default/js/widgets/expand-text-widget',
        maxLength: 100
    }|json_encode() %}
    <!-- START ITEMS ORDERED MOBILE -->
    <div class="account-oq-container hidden-lg hidden-md">
        <div class="account-oq__item account-oq__item_full">
            <div class="account-oq__item__head">
                <h2 class="account-oq__item__title styled">
                    {{ 'orob2b.frontend.rfp.request.sections.request_products.label'|trans }}
                </h2>
            </div>
            <div class="account-oq__item__body">
                <table class="oro-grid-table  oro-grid-table-properties oro-grid-table__orders_order-details">
                    <tbody>
                    {% for requestProduct in entity.requestProducts %}
                        <tr>
                            <td class="va-t_sm">
                                <h3 class="product-item__title product-item__title_in-cart mb1-md">
                                    {% if (requestProduct.product.id is defined) %}
                                        {{ UI.link({
                                            path: path('orob2b_product_frontend_product_view', {'id': requestProduct.product.id}),
                                            label : requestProduct.product,
                                        }) }}
                                    {% else %}
                                        {{ requestProduct.product }}
                                    {% endif %}
                                </h3>
                                <div>{{ 'orob2b.frontend.rfp.requestproduct.product_sku.label'|trans }} <span class="red">{{ requestProduct.productSku }}</span></div>

                                <table class="oro-grid-table oro-grid-table-properties">
                                    <tbody>
                                        <tr>
                                            <td class="text-lef titlet">{{ 'orob2b.frontend.rfp.request.sections.request_products.columns.quantity.label'|trans }}</td>
                                            <td class="text-left title">{{ 'orob2b.frontend.rfp.request.sections.request_products.columns.price.label'|trans }}</td>
                                        </tr>
                                        {% for requestProductItem in requestProduct.requestProductItems %}
                                            <tr>
                                                <td class="text-left">
                                                    {{ requestProductItem.quantity|orob2b_format_product_unit_code(requestProductItem.productUnit) }}
                                                </td>
                                                <td class="text-left">
                                                    {% if requestProductItem.price %}
                                                        {{ requestProductItem.price|oro_format_price }}
                                                    {% endif %}
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        {% if (requestProduct.comment is not empty) %}
                                            <tr class="borderless t_paddingless">
                                                <td colspan="2">
                                                    <div class="account-oq__order-item-more">
                                                        <div class="expand-text"
                                                             data-page-component-module="oroui/js/app/components/jquery-widget-component"
                                                             data-page-component-options="{{ expandTextOptions }}"
                                                        >
                                                            {{ 'orob2b.frontend.rfp.requestproduct.comment.label'|trans }}: {{ requestProduct.comment }}
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        {% endif %}
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="decor-row"></div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- END ITEMS ORDERED MOBILE -->
{% endblock %}

{% block _rfp_request_view_notes_container_widget %}
    {% if block.vars.visible %}
        {% set attr = attr|merge({
            class: attr.class|default('') ~ " mt4-md mbt-sm"
        }) %}
        <div {{ block('block_attributes') }}>
            <h3 class="account-navigation-title mb2-md mb2-sm">
                {{ 'orob2b.frontend.rfp.request.sections.notes.label'|trans }}
            </h3>
            {{ block_widget(block) }}
        </div>
    {% endif %}
{% endblock %}

{% block _rfp_request_view_notes_widget %}
    {{ block_widget(block)|nl2br }}
{% endblock %}

{% block _rfp_request_view_bottom_widget %}
    {% set attr = attr|merge({
        class: attr.class|default('') ~ " order-checkout-widget mt4-md mbt-sm"
    }) %}
    <div {{ block('block_attributes') }}>
        <div class="order-builder-clear-btn">
            {{ block_widget(block) }}
        </div>
    </div>
{% endblock %}
