{% block __oro_customer_user_address_list__user_addresses_head_widget %}
    {% set attr = layout_attr_defaults(attr, {'~class': ' grid__row'}) %}
    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block __oro_customer_user_address_list__user_addresses_head_title_widget %}
    {% set attr = layout_attr_defaults(attr, {'~class': ' grid__column grid__column-half'}) %}
    <div {{ block('block_attributes') }}>
        <h2 class="user-page-title">
            <span class="badge">
                <i class="fa-map-marker"></i>
            </span>
            {{ block_widget(block) }}
        </h2>
    </div>
{% endblock %}

{% block __oro_customer_user_address_list__user_addresses_create_button_widget %}
    {% set attr = layout_attr_defaults(attr, {'~class': ' btn-info pull-right'}) %}
    {{ block_widget(block, {attr: attr}) }}
{% endblock %}

{% block __oro_customer_user_address_list__user_addresses_list_widget %}
    {% set attr = layout_attr_defaults(attr, {
        'data-page-component-module': 'orocustomer/js/app/components/frontend-customer-address-book-component',
        'data-page-component-options': componentOptions|merge({
            template: '#customer-address-book-addresses-list-template'
        }),
        '~class': ' address-list'
    }) %}
    <div{{ block('block_attributes') }}>
        {% include "OroUIBundle::view_loading.html.twig" %}
    </div>
{% endblock %}

{% block __oro_customer_user_address_list__user_addresses_list_template_widget %}
    {% set attr = layout_attr_defaults(attr, {
        id: 'customer-address-book-addresses-list-template'
    }) %}
    <script{{ block('block_attributes') }} type="text/template">
        {{ block_widget(block) }}
    </script>
{% endblock %}

{% block __oro_customer_user_address_list__user_addresses_list_template_item_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': " address-list__item"
    }) %}
    <li {{ block('block_attributes_underscore') }}>
        {{ block_widget(block) }}
    </li>
{% endblock %}

{% block __oro_customer_user_address_list__user_addresses_list_template_item_address_widget %}
    {% set attr = layout_attr_defaults(attr, {'~class': " address-list__address"}) %}
    <div {{ block('block_attributes') }}>
        <%= street %>, <%= city %>, <%= postalCode %>, <%= combinedCode %>
    </div>
{% endblock %}

{% block __oro_customer_user_address_list__user_addresses_list_template_item_label_widget %}
    {% set attr = layout_attr_defaults(attr, {'~class': " address-list__label"}) %}
    <% if (primary) { %>
    <div {{ block('block_attributes') }}><%= _.escape(label) %></div>
    <% } %>
{% endblock %}

{% block __oro_customer_user_address_list__user_addresses_list_template_item_type_widget %}
    {% set attr = layout_attr_defaults(attr, {'~class': " address-list__type"}) %}
    <div {{ block('block_attributes') }}>
        <% _.each(types, function(type) { %>
        <div><%= (_.findWhere(defaults, _.pick(type, 'name'))) ? _.__('oro.customer.address.default_type', {type_name: _.escape(type.label)}) : _.escape(type.label) %></div>
        <% }) %>
    </div>
{% endblock %}

{% block __oro_customer_user_address_list__user_addresses_list_template_item_actions_widget %}
    {% set attr = layout_attr_defaults(attr, {'~class': " address-list__actions actions"}) %}
    <nav {{ block('block_attributes') }}>{{ block_widget(block) }}</nav>
{% endblock %}

{% block __oro_customer_user_address_list__user_addresses_list_template_item_actions_edit_widget %}
    {% set attr = layout_attr_defaults(attr, {'~class': " address-list__button item-edit-button"}) %}
    <button {{ block('block_attributes') }}>
        <i class="fa-pencil"></i>
    </button>
{% endblock %}

{% block __oro_customer_user_address_list__user_addresses_list_template_item_actions_remove_widget %}
    {% set attr = layout_attr_defaults(attr, {'~class': " address-list__button item-remove-button"}) %}
    <button {{ block('block_attributes') }}>
        <i class="fa-trash-o"></i>
    </button>
{% endblock %}
