{% set _slidesToShow = slidesToShow is defined and slidesToShow is not null ? slidesToShow : 1 %}
{% set _slidesToScroll = slidesToScroll is defined and slidesToScroll is not null ? slidesToScroll : 1 %}
{% set _autoplay = autoplay is defined and autoplay is not null ? autoplay : true %}
{% set _autoplaySpeed = autoplaySpeed is defined and autoplaySpeed is not null ? autoplaySpeed : 4000 %}
{% set _arrows = arrows is defined and arrows is not null ? arrows : false %}
{% set _dots = dots is defined and dots is not null ? dots : true %}
{% set _infinite = infinite is defined and infinite is not null ? infinite : false %}

<div class="promo-slider{{ _arrows ? ' promo-slider--has-arrows' : '' }}"
     data-page-component-name="{{ pageComponentName }}"
     data-page-component-module="orofrontend/js/app/components/list-slider-component"
     data-page-component-options="{{ {
         slidesToShow: _slidesToShow,
         slidesToScroll: _slidesToScroll,
         autoplay: _autoplay,
         autoplaySpeed: _autoplaySpeed,
         arrows: _arrows,
         dots: _dots,
         infinite: _infinite,
         itemSelector: '[data-role="slide-item"]',
         itemLinkSelector: '[data-role="slide-item-link"]',
         processClick: '[data-role="slide-content"]'
     }|json_encode }}">
    {% spaceless %}
    {% for imageSlide in imageSlides %}
        {% set windowTarget = imageSlide.displayInSameWindow ? '_self' : '_blank' %}
        <div class="promo-slider__item promo-slider__item--fraction-{{ _slidesToShow }}" data-role="slide-item">
            <a href="{{ imageSlide.url|strip_dangerous_protocols }}" target="{{ windowTarget }}" data-role="slide-item-link">
                <div class="promo-slider__picture">
                    <picture>
                        <source srcset="{{ imageSlide.smallImage ? filtered_image_url(imageSlide.smallImage, 'original') : filtered_image_url(imageSlide.mainImage, 'max_width_414') }}"
                                media="(max-width: 414px)">
                        <source srcset="{{ imageSlide.mediumImage ? filtered_image_url(imageSlide.mediumImage, 'original') : filtered_image_url(imageSlide.mainImage, 'max_width_992') }}"
                                media="(max-width: 992px)">
                        <img src="{{ filtered_image_url(imageSlide.mainImage, 'original') }}"
                             class="promo-slider__img"
                             alt="{{ imageSlide.title }}">
                    </picture>
                </div>
            </a>
            {% if imageSlide.text %}
                <div class="promo-slider__info promo-slider__info--{{ imageSlide.textAlignment }}"
                     data-role="slide-content"
                     data-url="{{ imageSlide.url|strip_dangerous_protocols }}"
                     data-target="{{ windowTarget }}"
                >{{ imageSlide.text|raw }}</div>
            {% endif %}
        </div>
    {%- endfor -%}
    {% endspaceless %}
</div>
