{% block _account_menu_container_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' account-menu-container'
    }) %}
    <div {{ block('block_attributes') }}>
        <h3 class="account-menu-title">
            {{ 'oro.customer.frontend.menu.account_user_profile.label'|trans }}
        </h3>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _account_menu_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' primary-menu primary-menu--vertical'
    }) %}
    <ul {{ block('block_attributes') }}>
        {% set requestUrl = path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) %}
        {% set found = false %}

        {% for child in block if child.vars.visible %}
            {% set currentUrl = path(child.vars.route_name, child.vars.route_parameters) %}
            {% set itemCurrentClass = '' %}
            {% set linkCurrentClass = '' %}
            {% if currentUrl in requestUrl and not found %}
                {% set itemCurrentClass = 'primary-menu__item--current' %}
                {% set linkCurrentClass = 'link--current' %}
            {% endif %}

            <li class="primary-menu__item {{ itemCurrentClass }}">
                {{ block_widget(child, {
                    attr: layout_attr_defaults(child.vars.attr, {
                        '~class': ' link ' ~ linkCurrentClass
                    })
                }) }}
            </li>

            {% if currentUrl in requestUrl and not found %}
                {% set found = true %}
            {% endif %}
        {% endfor %}
    </ul>
{% endblock %}
