{% set appliedDiscounts = form.vars.applied_discounts|default({}) %}

{% set appliedDiscountsAmount = appliedDiscounts.discountAmount|default(0.0) %}
{% set currency = appliedDiscountsAmount.currency|default('') %}
{% set taxes = appliedDiscounts.taxes|default({}) %}

{% set rowTotalAfterDiscountIncludingTax = 0.0 %}
{% if taxes is defined and taxes.row is defined and taxes.row.includingTax is defined %}
    {% set rowTotalAfterDiscountIncludingTax = taxes.row.includingTax - appliedDiscountsAmount %}
{% endif %}

{% set rowTotalAfterDiscountExcludingTax = 0.0 %}
{% if taxes is defined and taxes.row is defined and taxes.row.excludingTax is defined %}
    {% set rowTotalAfterDiscountExcludingTax = taxes.row.excludingTax - appliedDiscountsAmount %}
{% endif %}

<div data-page-component-module="oropromotion/js/app/components/order-line-item-discounts-tax-component">
    <span data-value-container>
        <table class="grid grid-main-container table table-condensed table-bordered applied_discounts-result-grid unit-table">
            <thead>
                <tr>
                    <th class="renderable"></th>
                    <th class="renderable">{{ 'oro.order.edit.order_line_item.short.includingTax.label'|trans }}</th>
                    <th class="renderable">{{ 'oro.order.edit.order_line_item.short.excludingTax.label'|trans }}</th>
                    <th class="renderable">{{ 'oro.order.edit.order_line_item.short.discount_amount.label'|trans }}</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="renderable text-nowrap">{{ 'oro.order.edit.order_line_item.row_total'|trans }}</td>
                    <td class="renderable applied-discount-row-total-after-discount-including-tax">{{ rowTotalAfterDiscountIncludingTax|oro_format_currency({currency: currency}) }}</td>
                    <td class="renderable applied-discount-row-total-after-discount-excluding-tax">{{ rowTotalAfterDiscountExcludingTax|oro_format_currency({currency: currency}) }}</td>
                    <td class="renderable applied-discount-row-total-discount-amount">{{ appliedDiscountsAmount|oro_format_currency({currency: currency}) }}</td>
                </tr>
            </tbody>
        </table>
    </span>
</div>
