{% block _quote_view_toolbar_actions_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': " controls-list"
    }) %}

    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _quote_view_top_bar_status_widget %}
    {% import '@OroUI/layouts/renderStatus.html.twig' as renderStatus %}
    {{ renderStatus.status({
        label: text,
        code: text.id,
        map: {
            'open': 'info',
            'expired': '',
            'accepted': 'progress',
            'declined': 'destructive',
            'pending approval': 'warning',
            'approved': 'success',
            'not approved': 'destructive',
        }
    }) }}
{% endblock %}

{% block _quote_view_page_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': " customer-info-grid__section"
    }) %}

    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _quote_view_conainer_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': " customer-info-grid__container"
    }) %}

    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _quote_view_information_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': " customer-info-grid"
    }) %}

    <div {{ block('block_attributes') }}>
        <div class="grid grid-columns-2">
            <div class="grid-col grid-col-mobile-landscape-12">
                <table class="customer-info-grid__list">
                    <tbody>
                        {% if quote.request is not null and is_granted('VIEW', quote.request) and not (
                            quote.request.internalStatus
                            and quote.request.internalStatus.internalId is same as(constant('Oro\\Bundle\\RFPBundle\\Entity\\Request::INTERNAL_STATUS_DELETED'))
                        ) %}
                        <tr class="customer-info-grid__row">
                            <td class="customer-info-grid__element-label">{{ 'oro.frontend.sale.quote.request.label'|trans }}</td>
                            <td class="customer-info-grid__element-content">
                                {% import '@OroUI/macros.html.twig' as UI -%}
                                {{ UI.entityViewLink(
                                    quote.request,
                                    'oro.frontend.rfp.request.title.label'|trans({'%id%': quote.request.id}),
                                    'oro_rfp_frontend_request_view'
                                ) }}
                            </td>
                        </tr>
                        {% endif %}
                        {% if quote.projectName and oro_config_value('oro_sale.enable_quote_project_name') %}
                        <tr class="customer-info-grid__row">
                            <td class="customer-info-grid__element-label">{{ 'oro.frontend.sale.quote.project_name.label'|trans }}</td>
                            <td class="customer-info-grid__element-content">{{ quote.projectName }}</td>
                        </tr>
                        {% endif %}
                        <tr class="customer-info-grid__row">
                            <td class="customer-info-grid__element-label">{{ 'oro.frontend.sale.quote.po_number.label'|trans }}</td>
                            <td class="customer-info-grid__element-content"><bdo dir="ltr">{{ quote.poNumber|default('N/A'|trans) }}</bdo></td>
                        </tr>
                        <tr class="customer-info-grid__row">
                            <td class="customer-info-grid__element-label">{{ 'oro.frontend.sale.quote.ship_until.label'|trans }}</td>
                            <td class="customer-info-grid__element-content">{{ quote.shipUntil|oro_format_date|default('N/A'|trans) }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="grid-col grid-col-mobile-landscape-12">
                <table class="customer-info-grid__list">
                    <tbody>
                        <tr class="customer-info-grid__row">
                            <td class="customer-info-grid__element-label">{{ 'oro.frontend.sale.quote.valid_until.label'|trans }}</td>
                            <td class="customer-info-grid__element-content">{{ quote.validUntil ? quote.validUntil|oro_format_datetime : 'N/A'|trans }}</td>
                        </tr>
                        {% if quote.assignedUsers | length %}
                            <tr class="customer-info-grid__row">
                                <td class="customer-info-grid__element-label">{{ 'oro.frontend.sale.quote.assigned_customer_users.label'|trans }}</td>
                                <td class="customer-info-grid__element-content">
                                    {% set assigned_users = [] %}
                                    {% for entity in quote.assignedUsers %}
                                        {% set assigned_users = assigned_users|merge([entity.fullName]) %}
                                    {% endfor %}
                                    {{ assigned_users|join(', ') }}
                                </td>
                            </tr>
                        {% endif %}
                        {% if quote.shippingCost is not empty %}
                        <tr class="customer-info-grid__row">
                            <td class="customer-info-grid__element-label">{{ 'oro.frontend.sale.quote.ship_estimate.label'|trans }}</td>
                            <td class="customer-info-grid__element-content">{{ quote.shippingCost|oro_format_price }}</td>
                        </tr>
                        {% endif %}
                        {% if paymentTerm is defined and paymentTerm is not empty %}
                            <tr class="customer-info-grid__row">
                                <td class="customer-info-grid__element-label">{{ 'oro.paymentterm.entity_label'|trans }}</td>
                                <td class="customer-info-grid__element-content">{{ paymentTerm.label|escape }}</td>
                            </tr>
                        {% endif %}

                        {{ block_widget(block) }}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block _quote_view_line_items_grid_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': " customer-line-items customer-line-items--rfq"
    }) %}

    <div {{ block('block_attributes') }}>
        <h2 class="customer-line-items__title">
            {{- 'oro.frontend.sale.quote.sections.quote_products.label'|trans -}}
        </h2>
            {{ block_widget(block) }}
    </div>
{% endblock %}

{% block quote_items_block_container_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': " grid grid-columns-2"
    }) %}

    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _quote_view_accept_container_widget %}
    {% set attr = attr|merge({class: attr.class|default('') ~ " order-checkout-widget"}) %}
    <div{{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block address_widget %}
    {% from '@OroAddress/macros.html.twig' import renderAddress %}
    {{ renderAddress(address, true) }}
{% endblock %}

{% block quote_body_column_element_widget %}
    {% if address is not null %}
        <tr class="customer-info-grid__row">
            <td class="customer-info-grid__element-label">{{ label|trans }}</td>
            <td class="customer-info-grid__element-content">{{ block_widget(block) }}</td>
        </tr>
    {% endif %}
{% endblock %}
