{% import 'OroUIBundle::macros.html.twig' as UI %}
{% import 'OroEntityConfigBundle::macros.html.twig' as entityConfig %}

<div class="widget-content">
    <div class="row-fluid form-horizontal">
        <div class="responsive-block">
            {{ UI.renderProperty('orob2b.product.sku.label'|trans, product.sku) }}

            {{ UI.renderHtmlProperty('orob2b.product.status.label'|trans, product.status) }}
            {{ UI.renderHtmlProperty('orob2b.product.inventory_status.label'|trans, product.inventoryStatus) }}

            {{ UI.renderHtmlProperty(
                'orob2b.product.image.label'|trans,
                oro_image_view(product, product.image, null, 'image')
            ) }}

            {% if product.unitPrecisions.count %}
                {% set productUnitPrecisions = [] %}
                {% for unitPrecision in product.unitPrecisions %}
                    {% set unitPrecisionElement %}
                        {{ 'orob2b.product.productunitprecision.representation'|trans({
                            '{{ label }}': ('orob2b.product_unit.'~ unitPrecision.unit.code ~'.label.full')|trans,
                            '{{ precision }}': unitPrecision.precision
                        }) }}
                    {% endset %}
                    {% set productUnitPrecisions = productUnitPrecisions|merge([unitPrecisionElement]) %}
                {% endfor %}
                {{ UI.renderHtmlProperty('orob2b.product.unit_precisions.label'|trans, UI.renderList(productUnitPrecisions)) }}
            {% endif %}
        </div>
        <div class="responsive-block">
            {{ entityConfig.renderDynamicFields(product) }}
        </div>
    </div>
</div>
