{% import 'OroUIBundle::macros.html.twig' as UI %}
{% import 'OroEntityConfigBundle::macros.html.twig' as entityConfig %}

{% set productUnitPrecisions %}
    <ul class="without-markers">
        {% for unitPrecision in product.unitPrecisions %}
            <li>
                {{ 'orob2b.product.productunitprecision.representation'|trans({
                    '{{ label }}': ('orob2b.product_unit.'~ unitPrecision.unit.code ~'.label.full')|trans,
                    '{{ precision }}': unitPrecision.precision
                })|raw }}
            </li>
        {% endfor %}
    </ul>
{% endset %}

<div class="widget-content">
    <div class="row-fluid form-horizontal">
        <div class="responsive-block">
            {{ UI.renderProperty('orob2b.product.sku.label'|trans, product.sku) }}

            {%- if product.category and resource_granted('EDIT', product.category) -%}
                {% set category = UI.renderUrl(path('orob2b_catalog_category_update', {'id': product.category.id}), product.category.defaultTitle) %}
            {%- else -%}
                {% set category = product.category ? product.category.defaultTitle : '' %}
            {%- endif -%}
            {{ UI.renderHtmlProperty('orob2b.product.category.label'|trans, category) }}
            {{ UI.renderHtmlProperty('orob2b.product.inventory_status.label'|trans, product.inventoryStatus) }}
            {{ UI.renderHtmlProperty(
                'orob2b.product.image.label'|trans,
                oro_image_view(product, product.image, null, 'image')
            ) }}
            {% if product.unitPrecisions.count %}
                {{ UI.renderHtmlProperty('orob2b.product.unit_precisions.label'|trans, productUnitPrecisions) }}
            {% endif %}
        </div>
        <div class="responsive-block">
            {{ entityConfig.renderDynamicFields(product) }}
        </div>
    </div>
</div>
