{% block _body_widget %}
    {% if selected_localization is defined %}
        {% set attr = layout_attr_defaults(attr, {
            '~class': ' locale--' ~ selected_localization.formattingCode|lower
        }) %}
    {% endif %}

    {{ parent_block_widget(block) }}
{% endblock %}

{% block _currency_localization_container_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~data-page-component-options': {
            localizations: localizations|reduce((arr, localization) => arr|merge([{
                id: localization.id,
                value: localization.id,
                name: localization.name,
                title: localization.titles|localized_value,
                formattingCode: localization.formattingCode|lower,
                selected: localization == selected_localization,
            }]), [])
        }
    }) %}

    {% set useLocalizations = localizations|length > 1 %}

    {{ parent_block_widget(block) }}
{% endblock %}

{% block _currency_localization_container_inner_widget %}
    {{ parent_block_widget(block) }}

    {% import '@OroUI/layouts/renderIcon.html.twig' as renderIcon %}

    {% if localizations|length == 2 %}
        <div class="oro-toolbar__content localization-switcher">
            {{ renderIcon.icon({name: 'globe', extraClass: 'theme-icon--medium'}) }}
            {% for localization in localizations %}
                {% if selected_localization.id == localization.id %}
                    <span class="oro-toolbar__link oro-toolbar__link--active text-nowrap">{{ localization.title|trans }}</span>
                {% else %}
                    <a class="oro-toolbar__link text-nowrap" href="#" data-localization="{{ localization.id }}">{{ localization.title|trans }}</a>
                {% endif %}
                {% if loop.index == 1 %}
                    <span class="divider"></span>
                {% endif %}
            {% endfor %}
        </div>
    {% elseif localizations|length > 2 %}
        <button
            class="btn btn--colored-inverse btn--text btn--no-padding localization-switcher localization-switcher--{{ selected_localization.formattingCode|lower }}"
            type="button"
        >
            {{ renderIcon.icon({name: 'globe'}) }}
            {{ selected_localization.titles|localized_value }}
            {{ renderIcon.icon({name: 'chevron-down', extraClass: 'dropdown-menu-chevron'}) }}
        </button>
    {% endif %}
{% endblock %}
