{% import '@OroUI/macros.html.twig' as UI %}
{% import '@OroEntityConfig/macros.html.twig' as entityConfig %}
{% import '@OroCurrency/macros.html.twig' as currency %}
{% import '@OroAddress/macros.html.twig' as address %}

{% set sourceEntityBlock %}
  {% set sourceDocumenttitle = order.sourceEntityClass
    |oro_order_format_source_document(
    order.sourceEntityId,
    order.sourceEntityIdentifier
  ) %}

  <i class="{{ oro_entity_config_value(order.sourceEntityClass, 'icon') }}"></i>
  {% if sourceEntity is not null and is_granted('VIEW', sourceEntity) %}
      <a href="{{ oro_entity_view_link(order.sourceEntityClass, order.sourceEntityId) }}">
          {{ sourceDocumenttitle }}
      </a>
  {% else %}
      {{ sourceDocumenttitle|default('N/A') }}
  {% endif %}
{% endset %}

<div class="widget-content">
    <div class="row-fluid form-horizontal">
        <div class="responsive-block">
            {{ UI.renderProperty('oro.order.identifier.label'|trans, order.identifier, null, null, {'dir': 'ltr'}) }}
            {{ UI.renderProperty('oro.order.po_number.label'|trans, order.poNumber, null, null, {'dir': 'ltr'}) }}
            {{ UI.renderProperty('oro.order.currency.label'|trans, order.currency) }}
            {{ UI.renderProperty('oro.order.subtotal.label'|trans, order.subtotal|oro_format_currency({'currency': order.currency})) }}
            {{ currency.convert_to_base_currency(order.subtotalObject, '', order, 'subtotal') }}

            {{ UI.renderHtmlProperty(
                'oro.order.customer.label'|trans,
                UI.entityViewLink(order.customer, order.customer|oro_format_name, 'oro_customer_customer_view')
            ) }}

            {{ UI.renderHtmlProperty(
                'oro.order.customer_user.label'|trans,
                UI.entityViewLink(order.customerUser, order.customerUser|oro_format_name, 'oro_customer_customer_user_view')
            ) }}

            {{ UI.renderProperty('oro.order.internal_status.label'|trans, order.internalStatus.name|default('')) }}
            {{ UI.renderProperty('oro.order.ship_until.label'|trans, order.shipUntil|oro_format_date) }}
            {{ UI.renderHtmlProperty('oro.order.source_document.label'|trans, sourceEntityBlock) }}

            {% if order.parent %}
                {{ UI.renderHtmlProperty(
                    'oro.order.parent.label'|trans,
                    UI.entityViewLink(order.parent, '#' ~ order.parent.identifier, 'oro_order_view')
                ) }}
            {% endif %}
        </div>

        <div class="responsive-block">
            {{ UI.renderHtmlProperty('oro.order.billing_address.label'|trans, address.renderAddress(order.billingAddress, true)) }}
            {{ UI.renderHtmlProperty('oro.order.shipping_address.label'|trans, address.renderAddress(order.shippingAddress, true)) }}
            {{ UI.renderProperty('oro.order.customer_notes.label'|trans, order.customerNotes) }}
            {{ entityConfig.renderDynamicFields(order) }}
        </div>
    </div>
</div>
