{% block payment_additional_data_widget %}
    {% if block(block_name) is defined %}
        {{ block(block_name) }}
    {% endif %}
{% endblock %}

{% block _payment_methods_widget %}
    {% set currentPaymentMethod = currentPaymentMethod|default(views|keys|first) %}

    {% set attr = layout_attr_defaults(attr, {'data-payment-method-forms': ''}) %}

    <div class="{{ class_prefix }}-form grid" data-content="payment_method_form" data-page-component-module="oropayment/js/app/components/payment-method-selector-component">
        {% set uniqueId = 'payment-methods-'|uniqid %}
        <div {{ block('block_attributes') }} role="group" aria-labelledby="{{ uniqueId }}">
            {% if views|length > 0 %}
                <span id="{{ uniqueId }}" class="label label--full">{{ 'oro.payment.methods.select_method'|trans }}<sup class="checkout-form__asterix" aria-hidden="true">*</sup></span>
                {% for name, view in views %}
                    {% if views is defined and view is iterable %}
                        {% set selected = currentPaymentMethod == name %}
                        <div class="{{ class_prefix }}-form__radio" data-item-container>
                            <label class="checkbox-label" data-radio>
                                <input type="radio" name="paymentMethod" data-choice="{{ name }}" value="{{ name }}" {% if selected%}checked="checked"{% endif %} />
                                {{- view.label -}}
                            </label>
                            <div class="{{ class_prefix }}-form__payment-container" data-form-container {% if not selected %} style="display: none;" {% endif %}>
                                {% if block(view.block) is defined %}
                                    {{ block(view.block) }}
                                {% endif %}
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            {% else %}
                <div class="notification notification--alert" role="alert">
                    <span class="notification__text">{{ 'oro.payment.methods.no_method'|trans }}</span>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
