@name = quote_deleted
@entityName = Oro\Bundle\SaleBundle\Entity\Quote
@subject = Quote #{{ entity.id }} has been deleted
@isSystem = 1
@isEditable = 1

Quote #{{ entity.id }} has been deleted {% if transitionUser is defined and transitionUser is not empty %}by {{ transitionUser.firstName }} {{ transitionUser.lastName }}{% endif %} on {{ transitionRecord.transitionDate|oro_format_date_by_entity(entity) }} at {{ transitionRecord.transitionDate|oro_format_time_by_entity(entity) }} (<a href="{{ entity.url.view }}">view quote online</a>).
