@name = quote_expired_automatic
@entityName = Oro\Bundle\SaleBundle\Entity\Quote
@subject = Quote #{{ entity.id }} has expired
@isSystem = 1
@isEditable = 1

Quote #{{ entity.id }} has expired on {{ transitionRecord.transitionDate|oro_format_date_by_entity(entity) }} at {{ transitionRecord.transitionDate|oro_format_time_by_entity(entity) }} (<a href="{{ entity.url.view }}">view quote online</a>).
