{% extends 'OroUIBundle:actions:update.html.twig' %}
{% import 'OroUIBundle::macros.html.twig' as UI %}

{% oro_title_set({params : {
    '%identifier%': entity.invoiceNumber|default('N/A'|trans),
    '%entityName%': 'orob2b.invoice.entity_label'|trans
} }) %}
{% set formAction = entity.id ? path('orob2b_invoice_update', { 'id': entity.id }) : path('orob2b_invoice_create')  %}

{% form_theme form with ['OroB2BInvoiceBundle:Form:fields.html.twig'] %}

{% block navButtons %}
    {{ parent() }}

    {{ UI.cancelButton(path('orob2b_invoice_index')) }}
    {% set html = UI.saveAndCloseButton() %}
    {% if entity.id or resource_granted('orob2b_invoice_update') %}
        {% set html = html ~ UI.saveAndStayButton() %}
    {% endif %}
    {{ UI.dropdownSaveButton({'html': html}) }}
{% endblock navButtons %}

{% block pageHeader %}
    {% if entity.id %}
        {% set breadcrumbs = {
            'entity':      entity,
            'indexPath':   path('orob2b_invoice_index'),
            'indexLabel': 'orob2b.invoice.entity_plural_label'|trans,
            'entityTitle': entity.invoiceNumber|default('N/A'|trans)
        } %}
        {{ parent() }}
    {% else %}
        {% set title = 'oro.ui.create_entity'|trans({'%entityName%': 'orob2b.invoice.entity_label'|trans}) %}
        {% include 'OroUIBundle::page_title_block.html.twig' with { title: title } %}
    {% endif %}
{% endblock pageHeader %}

{% block content_data %}
    {% set id = 'invoice-edit' %}

    {% set totals %}
        {% set events = [
            'line-items-totals:update',
            'update:account',
            'update:currency'
        ]%}
        {% if form.website is defined %}
            {% set events = events|merge(['update:website']) %}
        {% endif %}
        {% include 'OroB2BPricingBundle:Totals:totals.html.twig' with {
            options: {
                route: 'orob2b_pricing_recalculate_entity_totals',
                selectors: {
                    template: '#totals-template',
                    form: '#' ~ form.vars.id
                },
                events: events,
                entityClassName: 'OroB2B\\Bundle\\InvoiceBundle\\Entity\\Invoice',
                entityId: form.vars.value.id,
                data: totals
            }
        } only %}
    {% endset %}

    {% set lineItems %}
        <div class="invoice-line-items"
             data-page-component-module="oroui/js/app/components/view-component"
             data-page-component-options="{{ {
                 view: 'orob2binvoice/js/app/views/invoice-line-items-view',
                 tierPrices: tierPrices|default({}),
                 matchedPrices: matchedPrices|default({}),
                 tierPricesRoute: 'orob2b_pricing_price_by_account',
                 matchedPricesRoute: 'orob2b_pricing_matching_price',
                 currency: entity.currency,
                 account: entity.account is null ? null : entity.account.id
             }|json_encode }}"
             data-layout="separate">
            {{ form_widget(form.lineItems) }}
            {{ form_errors(form.lineItems) }}
        </div>
    {% endset %}

    {% set mainFormFields %}
        <div
            data-page-component-module="oroui/js/app/components/view-component"
            data-page-component-options="{{ {
                'view': 'orob2bfrontend/js/app/views/form-view',
                selectors: {
                    currency: 'select[name$="[currency]"]',
                    account: 'input[name$="[account]"]',
                    website: 'select[name$="[website]"]'
                }
            }|json_encode }}">
            <div data-page-component-module="orob2baccount/js/app/components/account-selection-component">
                {{ form_row(form.account) }}
                {{ form_row(form.accountUser) }}
            </div>
            <div>
                {{ form_row(form.invoiceDate) }}
                {{ form_row(form.paymentDueDate) }}
                {{ form_row(form.poNumber) }}
                {{ form_row(form.currency) }}
            </div>
        </div>
    {% endset %}

    {% set dataBlocks = [
        {
            'title': 'orob2b.invoice.sections.general'|trans,
            'class': 'active',
            'subblocks': [{
                'data': [mainFormFields]
            }]
        },
        {
           'title': 'orob2b.invoice.sections.invoice_line_items'|trans,
            'subblocks': [{
                'title': '',
                'data': [
                    lineItems
                ]
            }]
        }
    ] %}

    {% set dataBlocks = dataBlocks|merge([{
            'title': 'orob2b.invoice.sections.totals'|trans,
            'class': 'active',
            'subblocks': [{
                'data': [totals]
            }]
        }])
    %}

    {% set additionalData = [
        form_row(form.poNumber),
    ] %}

    {% set data = {
        'formErrors': form_errors(form),
        'dataBlocks': dataBlocks
    }%}

    {{ parent() }}
{% endblock content_data %}
