{% extends 'OroUIBundle:actions:view.html.twig' %}

{% oro_title_set({params : {'%id%': entity.qid }}) %}

{% block pageHeader %}
    {% set breadcrumbs = {
        'entity': entity,
        'indexPath': path('oro_sale_quote_index'),
        'indexLabel': 'oro.sale.quote.entity_plural_label'|trans,
        'entityTitle': 'oro.sale.navigation.view'|trans({
            '%id%': entity.qid|default('N/A'|trans)
        })
    } %}
    {{ parent() }}
{% endblock pageHeader %}

{% block breadcrumbs %}
    {{ parent() }}
    <span class="page-title__status">
        {% if entity.expired %}
            {{ UI.badge('oro.sale.quote.expired.label'|trans, 'disabled', 'fa-lock') }}
        {% else %}
            {{ UI.badge('oro.sale.quote.not_expired.label'|trans, 'enabled', 'fa-unlock') }}
        {% endif %}
    </span>
{% endblock breadcrumbs %}

{% block content_data %}
    {% set quoteInformationWidget %}
        {{ oro_widget_render({
            'widgetType': 'block',
            'title': 'oro.sale.quote.widgets.quote_information'|trans,
            'url': path('oro_sale_quote_info', {'id': entity.id})
        }) }}
    {% endset %}

    {% set quoteProducts %}
        <div class="quote-line-items-info grid-container">
            <table class="grid table table-bordered table-condensed quote-line-items">
                <thead>
                    <tr>
                        <th><span>{{ 'oro.product.sku.label'|trans }}</span></th>
                        <th><span>{{ 'oro.sale.quoteproduct.column.product'|trans }}</span></th>
                        <th class="quote-line_item-quantity"><span>{{ 'oro.sale.quoteproductoffer.quantity.label'|trans }}</span></th>
                        <th class="quote-line_item-price"><span>{{ 'oro.sale.quoteproductoffer.price.label'|trans }}</span></th>
                        <th><span>{{ 'oro.sale.quoteproduct.comment_customer.label'|trans }}</span></th>
                        <th><span>{{ 'oro.sale.quoteproduct.comment.label'|trans }}</span></th>
                    </tr>
                </thead>
                {% for quoteProduct in entity.quoteProducts %}
                    {% set numSubItems = quoteProduct.quoteProductOffers|length %}
                    {% if numSubItems > 1 %}<tbody class="hasrs">{% else %}<tbody>{% endif %}
                    {% for quoteProductOffer in quoteProduct.quoteProductOffers %}
                        <tr>
                            {% if loop.first %}
                                <td rowspan="{{ numSubItems }}">
                                    {% if quoteProduct.isTypeNotAvailable %}
                                        {{ quoteProduct.productReplacementSku }}
                                    {% else %}
                                        {{ quoteProduct.productSku }}
                                    {% endif %}
                                </td>
                                <td rowspan="{{ numSubItems }}">
                                    {{ quoteProduct.productName }}
                                </td>
                            {% endif %}
                            <td class="quote-line_item-quantity quote-line_item-quantity-{% if loop.first %}first{% else %}not_first{% endif %}">
                                {% if oro_is_unit_code_visible(quoteProductOffer.productUnit.code) %}
                                    {{ quoteProductOffer.quantity|oro_format_short_product_unit_value(quoteProductOffer.productUnit) }}
                                {% else %}
                                    {{ quoteProductOffer.quantity }}
                                {% endif %}

                                {% if quoteProductOffer.allowIncrements %}{{ 'oro.sale.quoteproductoffer.allow_increments.label'|trans }}{% endif %}
                            </td>
                            <td class="quote-line_item-price quote-line_item-price-{% if loop.first %}first{% else %}not_first{% endif %}">
                                {% if quoteProductOffer.price %}
                                    {{ quoteProductOffer.price|oro_format_price }}
                                {% else %}
                                    {{ 'N/A'|trans }}
                                {% endif %}
                            </td>
                            {% if loop.first %}
                                <td  class="quote-line_item-target_notes" rowspan="{{ numSubItems }}">{{ quoteProduct.commentCustomer }}</td>
                                <td class="quote-line_item-target_notes" rowspan="{{ numSubItems }}">{{ quoteProduct.comment }}</td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                    </tbody>
                {% endfor %}
            </table>
        </div>
    {% endset %}

    {% set shippingAddress %}
        {% if entity.shippingAddress %}
            {{ UI.renderProperty('oro.sale.quoteaddress.label.label'|trans, entity.shippingAddress.label) }}
            {{ UI.renderProperty('oro.sale.quoteaddress.name_prefix.label'|trans, entity.shippingAddress.namePrefix) }}
            {{ UI.renderProperty('oro.sale.quoteaddress.first_name.label'|trans, entity.shippingAddress.firstName) }}
            {{ UI.renderProperty('oro.sale.quoteaddress.middle_name.label'|trans,entity.shippingAddress.middleName) }}
            {{ UI.renderProperty('oro.sale.quoteaddress.last_name.label'|trans, entity.shippingAddress.lastName) }}
            {{ UI.renderProperty('oro.sale.quoteaddress.name_suffix.label'|trans, entity.shippingAddress.nameSuffix) }}
            {{ UI.renderProperty('oro.sale.quoteaddress.organization.label'|trans , entity.shippingAddress.organization) }}
            {{ UI.renderProperty('oro.sale.quoteaddress.country.label'|trans, entity.shippingAddress.country.name|default('N/A')) }}
            {{ UI.renderProperty('oro.sale.quoteaddress.street.label'|trans, entity.shippingAddress.street) }}
            {{ UI.renderProperty('oro.sale.quoteaddress.street2.label'|trans,entity.shippingAddress.street2) }}
            {{ UI.renderProperty('oro.sale.quoteaddress.city.label'|trans, entity.shippingAddress.city) }}
            {{ UI.renderProperty('oro.sale.quoteaddress.region.label'|trans, entity.shippingAddress.region) }}
            {{ UI.renderProperty('oro.sale.quoteaddress.postal_code.label'|trans, entity.shippingAddress.postalCode) }}
            {{ UI.renderProperty('oro.sale.quoteaddress.phone.label'|trans, entity.shippingAddress.phone) }}
        {% else %}
            <div class="items list-box list-shaped"></div>
            <div class="no-data">
                {{ "oro.sale.quoteaddress.no_exist"|trans|raw }}
            </div>
        {% endif %}
    {% endset %}

    {% set shippingInformation %}
        {%- if entity.shippingMethod and entity.shippingMethodType -%}
            {{ UI.renderProperty('oro.sale.quote.shipping_method.label'|trans, oro_shipping_method_with_type_label(entity.shippingMethod, entity.shippingMethodType)) }}
        {%- endif -%}
        {% if entity.shippingCost is not null %}
            {{ UI.renderProperty('oro.sale.quote.shipping_cost.label'|trans,
            entity.shippingCost.value|oro_format_currency({'currency': entity.shippingCost.currency})) }}
        {% else %}
            {{ UI.renderProperty('oro.sale.quote.shipping_cost.label'|trans, 'N/A'|trans) }}
        {% endif %}
    {% endset %}

    {% set id = 'quote-view' %}

    {% set dataBlocks = [{
        'title': 'oro.order.sections.general'|trans,
        'subblocks': [{'data' : [quoteInformationWidget]}]
    }] %}

    {% if entity.quoteProducts | length %}
        {% set dataBlocks = dataBlocks|merge([{
            'title': 'oro.sale.quote.sections.quote_products'|trans,
            'subblocks': [{'data' : {'products' : quoteProducts}}]
        }]) %}
    {% endif %}

    {% set dataBlocks = dataBlocks|merge([{
        'title': 'oro.sale.quote.sections.shipping_address'|trans,
        'subblocks': [{'data' : [shippingAddress]}]
    }]) %}

    {% set dataBlocks = dataBlocks|merge([{
        'title': 'oro.sale.quote.sections.shipping_information'|trans,
        'subblocks': [{'data' : [shippingInformation]}]
    }]) %}

    {% set data = {'dataBlocks': dataBlocks} %}
    {{ parent() }}
    <script type="text/javascript">
        require(['underscore', 'orotranslation/js/translator', 'oroui/js/mediator'],
        function (_, __, mediator) {
            mediator.on('widget_success:notification-email-dialog', function () {
                mediator.execute('refreshPage');
            });
        });
    </script>
{% endblock content_data %}
