{% block orob2b_sale_quote_product_collection_row %}
    <div class="sale-quoteproduct-collection">
        <table class="sale-quoteproduct-collection sale-quoteproduct-collection-table">
            <thead>
                <tr>
                    <th class="sale-quoteproduct-table-column-1">Product</th>
                    <th class="sale-quoteproduct-table-column-2">Type</th>
                    <th class="sale-quoteproduct-table-column-3">Offers</th>
                </tr>
            </thead>
        </table>
        {{ form_widget(form) }}
    </div>
{% endblock %}

{% block orob2b_sale_quote_product_widget %}
    {% set attr = attr|merge({'class': (attr.class is defined ? attr.class : '') ~ ' sale-quoteproduct-widget control-group'}) %}

    {% set commentAccount = form.vars.value.commentAccount|default(null) %}
    {% set commentSeller = form.vars.value.comment|default(null) %}

    <table class="sale-quoteproduct-collection-table" {{ block('widget_container_attributes') }}
           data-page-component-options="{{ componentOptions|json_encode }}"
           data-page-component-module="orob2bsale/js/app/components/sale-quoteproductitem-selection-component">
    <tr>
        <td class="sale-quoteproduct-table-column-1">
            <div class="sale-quoteproduct-product-select">
                {{ form_widget(form.product) }}
                {{ form_errors(form.product) }}
            </div>
            <div class="sale-quoteproduct-product-replacement-select">
                {{ form_row(form.productReplacement) }}
                {{ form_errors(form.productReplacement) }}
            </div>
        </td>
        <td class="sale-quoteproduct-table-column-2">
            {{ form_widget(form.type, {attr: attr|merge({class: 'sale-quoteproduct-type-select'})}) }}
            {{ form_errors(form.type) }}
        </td>
        <td class="sale-quoteproduct-table-column-3">
            <div class="sale-quoteproductitem-collection{% if commentSeller is not empty %} sale-quoteproduct-notes-seller-active{% endif %}">
                <div class="sale-quoteproductrequest-collection sale-quoteproductrequest-only">
                    {{ form_widget(form.quoteProductRequests) }}
                    {{ form_errors(form.quoteProductRequests) }}
                </div>

                <div class="sale-quoteproductoffer-collection">
                    {{ form_widget(form.quoteProductOffers) }}
                    {{ form_errors(form.quoteProductOffers) }}
                </div>

                <div>
                    <a class="btn sale-quoteproduct-add-notes-btn" href="#">
                        {{ 'orob2b.sale.btn.add_seller_notes'|trans }}
                    </a>
                </div>
                {% if commentAccount %}
                    <div class="sale-quoteproduct-notes sale-quoteproduct-notes-account sale-quoteproductrequest-only">
                        {{ form_row(form.commentAccount) }}
                    </div>
                {% endif %}
                <div class="sale-quoteproduct-notes sale-quoteproduct-notes-seller ">
                    {{ form_row(form.comment) }}
                    <a class="btn sale-quoteproduct-remove-notes-btn" href="#">
                        {{ 'orob2b.sale.btn.remove_seller_notes'|trans }}
                    </a>
                </div>
            </div>
        </td>
    </tr>
    </table>
{% endblock %}

{% block orob2b_sale_quote_product_offer_widget %}
    <table class="sale-quoteproductitem-widget">
        <tr>
            <td class="sale-quoteproductitem-widget-quantity">
                {{ form_widget(form.quantity) }}
                {{ form_errors(form.quantity) }}
            </td>
            <td class="sale-quoteproductitem-widget-more">
                {{ form_widget(form.allowIncrements) }}&nbsp;{{ form_label(form.allowIncrements) }}
                {{ form_errors(form.allowIncrements) }}
            </td>
            <td class="sale-quoteproductitem-widget-pricetype">
                {{ form_widget(form.priceType) }}
                {{ form_errors(form.priceType) }}
            </td>
            <td class="sale-quoteproductitem-widget-productunit">
                {{ form_widget(form.productUnit, {attr: attr|merge({class: 'sale-quoteproductitem-productunit-select'})}) }}
                {{ form_errors(form.productUnit) }}
            </td>
            <td class="sale-quoteproductitem-widget-price">
                {{ form_widget(form.price) }}
                {{ form_errors(form.price) }}
            </td>
        </tr>
    </table>
{% endblock %}

{% block orob2b_sale_quote_product_request_widget %}
    <table class="sale-quoteproductitem-widget">
        <tr>
            <td>
                {{ form_row(form.quantity) }}
                {{ form_errors(form.quantity) }}
            </td>
            <td>
                {{ form_widget(form.productUnit, {attr: attr|merge({class: 'sale-quoteproductitem-productunit-select'})}) }}
                {{ form_errors(form.productUnit) }}
            </td>
            <td>
                {{ form_row(form.price) }}
                {{ form_errors(form.price.value) }}
            </td>
        </tr>
    </table>
{% endblock %}

{% block orob2b_sale_quote_product_to_order_widget %}
    {% set quoteProduct = form.vars.quote_product %}
    {% set product = quoteProduct.productReplacement|default(quoteProduct.product) %}
    {% if form.offer|first %}
        {% set defaultUnitCode = form.offer|first.vars.offer.productUnit %}
        {% set defaultPrice = form.offer|first.vars.offer.price|oro_format_price %}
    {% else %}
        {% set defaultUnitCode = '' %}
        {% set defaultPrice = '' %}
    {% endif %}
    {% set componentOptions = {
        offerSelector: '[name=\'%s\']'|format(form.offer.vars.full_name),
        quantitySelector: '[name=\'%s\']'|format(form.quantity.vars.full_name),
        unitSelector: '#%s .quote-product-offer-quantity-unit'|format(form.vars.id),
        unitPriceSelector: '#%s .quote-product-offer-price span'|format(form.vars.id)
    } %}
    <tr id="{{ form.vars.id }}"
        data-page-component-module="orob2bsale/js/app/components/quote-product-to-order-component"
        data-page-component-options="{{ componentOptions|json_encode }}">
        <td class="quote-product-offer-product-sku">
            <span>{{ product.sku }}</span>
        </td>
        <td class="quote-product-offer-product-name">
            <span>{{ product.defaultName }}</span>
        </td>
        <td class="quote-product-offer-customer-notes">
            <span>{{ quoteProduct.comment }}</span>
        </td>
        <td class="quote-product-offer-seller-notes">
            <span>{{ quoteProduct.commentAccount }}</span>
        </td>
        <td class="quote-product-offer-select-offer">
            <table>
                {% for choice in form.offer %}
                    <tr>
                        <td class="quote-product-offer-select-offer-choice">{{ form_widget(choice) }}</td>
                        <td class="quote-product-offer-select-offer-label">{{ choice.vars.label }}</td>
                        <td class="quote-product-offer-select-offer-price">{{ choice.vars.offer.price|oro_format_price }}</td>
                    </tr>
                {% endfor %}
            </table>
            {{ form_errors(form.offer) }}
        </td>
        <td class="quote-product-offer-quantity">
            <div >
                {{ form_widget(form.quantity) }}
                <span class="quote-product-offer-quantity-unit">{{ defaultUnitCode }}</span>
            </div>
            <div>
                {{ form_errors(form.quantity) }}
            </div>
        </td>
        <td class="quote-product-offer-price">
            <span>{{ defaultPrice }}</span>
        </td>
    </tr>
{% endblock %}

{% block orob2b_sale_quote_to_order_widget %}
    {% spaceless %}
        <div {{ block('widget_container_attributes') }}>
            <table class="grid table-hover table table-bordered table-condensed">
                <thead>
                    <tr>
                        <th class="quote-product-offer-product-sku"><span>{{ 'orob2b.frontend.sale.quoteproduct.product_sku.label'|trans }}</span></th>
                        <th class="quote-product-offer-product-name"><span>{{ 'orob2b.frontend.sale.quoteproduct.product_name.label'|trans }}</span></th>
                        <th class="quote-product-offer-customer-notes"><span>{{ 'orob2b.frontend.sale.quoteproduct.comment.label'|trans }}</span></th>
                        <th class="quote-product-offer-seller-notes"><span>{{ 'orob2b.frontend.sale.quoteproduct.comment_account.label'|trans }}</span></th>
                        <th class="quote-product-offer-select-offer"><span>{{ 'orob2b.frontend.sale.quoteproductoffer.select_offer.label'|trans }}</span></th>
                        <th class="quote-product-offer-quantity"><span>{{ 'orob2b.frontend.sale.quoteproductoffer.quantity_to_order.label'|trans }}</span></th>
                        <th class="quote-product-offer-price"><span>{{ 'orob2b.frontend.sale.quoteproductoffer.unit_price.label'|trans }}</span></th>
                    </tr>
                </thead>
                <tbody>
                    {% for child in form.children %}
                        {{ form_widget(child) }}
                        {{ form_errors(child) }}
                    {% endfor %}
                </tbody>
            </table>
            {{ form_rest(form) }}
            {{ form_errors(form) }}
        </div>
    {% endspaceless %}
{% endblock %}
