{% block orob2b_sale_quote_product_item_widget %}
    <table>
        <tr>
            <td>{{ form_widget(form.quantity) }}</td>
            <td>{{ form_widget(form.productUnit) }}</td>
        </tr>
        <tr>
            <td>{{ form_errors(form.quantity) }}</td>
            <td>{{ form_errors(form.productUnit) }}</td>
        </tr>
        <tr>
            <td colspan="2">{{ form_widget(form.price) }}</td>
        </tr>
        <tr>
            <td colspan="2">{{ form_errors(form.price) }}</td>
        </tr>
    </table>
{% endblock %}

{% block orob2b_sale_quote_product_item_collection_widget %}
    {% set attr = attr|merge({'class': (attr.class is defined ? attr.class ~ ' ' : '') ~ 'oro-options-collection quote-product-items-collection' }) %}
    {{ block('oro_collection_widget') }}

    {% set componentOptions = {
        'containerId': '#' ~ form.vars.id ~ '_collection'
    } %}

    <span data-page-component-module="orob2bsale/js/app/components/quote-product-item-unit-selection-limitations-component"
          data-page-component-options="{{ componentOptions|json_encode }}"></span>
{% endblock %}
