{% block orob2b_options_collection_widget %}
    {% set attr = attr|merge({'class': (attr.class is defined ? attr.class ~ ' ' : '') ~ 'oro-options-collection' }) %}
    {{ block('oro_collection_widget') }}
{% endblock %}

{% block orob2b_option_row_widget %}
    {% set groupContainer = '#' ~ form.parent.vars.id ~ '_collection' %}

    {{ form_widget(form.master_option_id) }}
    {{ form_errors(form.master_option_id) }}
    <table class="fallback-container"
            data-page-component-module="oroui/js/app/components/view-component"
            data-page-component-options="{{ {view: 'orob2bfallback/js/app/views/fallback-view'}|json_encode }}"
            data-layout="separate"
            >
        <tr class="fallback-item">
            <td>{{ form.default.vars.label|trans }}</td>
            <td>
                {% set attr = {} %}
                {% if form.vars.is_default_type == 'hidden' %}
                    {% set hiddenClass = 'hidden-default' %}
                    {% set attr = attr|merge({'class' : hiddenClass}) %}
                    <input
                        type="radio"
                        name="default"
                        data-page-component-module="orob2battribute/js/app/components/select-default-value-component"
                        data-page-component-options="{{ {'class' : hiddenClass, 'group-container' : groupContainer}|json_encode }}"
                    />
                {% endif %}
                {{ form_widget(form.is_default, { 'attr' : attr }) }}
                {{ form_errors(form.is_default) }}
            </td>
            <td class="fallback-item-value">
                {{ form_widget(form.default) }}
                {{ form_errors(form.default) }}
            </td>
        </tr>
        {% for localeId, locale in form.locales %}
            <tr class="fallback-item">
                <td>{{ locale.vars.label|trans }}</td>
                <td>
                    {% if locale.extend_value is defined %}
                        {% set attr = {} %}
                        {% if locale.vars.extend_value_type == 'hidden' %}
                            {% set hiddenClass = 'hidden-locale-' ~ localeId %}
                            {% set attr = attr|merge({'class' : hiddenClass}) %}
                            <input
                                type="radio"
                                name="default_{{ localeId }}"
                                data-page-component-module="orob2battribute/js/app/components/select-default-value-component"
                                data-page-component-options="{{ {'class' : hiddenClass, 'group-container' : groupContainer}|json_encode }}"
                            />
                        {% endif %}
                        {{ form_widget(locale.extend_value, { 'attr' : attr }) }}
                        {{ form_errors(locale.extend_value) }}
                    {% else %}
                        &nbsp;
                    {% endif %}
                </td>
                <td>
                    {% if locale.fallback_value is defined %}
                        {{ form_widget(locale.fallback_value) }}
                        {{ form_errors(locale.fallback_value) }}
                    {% else %}
                        {{ form_widget(locale) }}
                        {{ form_errors(locale) }}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        <tr>
            <td>{{ form.order.vars.label|trans }}</td>
            <td>&nbsp;</td>
            <td>
                {{ form_widget(form.order) }}
                {{ form_errors(form.order) }}
            </td>
        </tr>
    </table>
{% endblock %}
