{% block _quick_add_copy_paste_form_start_widget %}
    {% set attr = {
        'data-page-component-module': 'orob2bproduct/js/app/components/quick-add-copy-paste-form-component'
    }|merge(attr) %}
    {{ block('form_start_widget') }}
{% endblock %}

{% block _quick_add_copy_paste_form_widget %}
    {% set attr = attr|merge({
        class: attr.class|default('') ~ '{{ class_prefix }}__col {{ class_prefix }}__col_one-third'
    }) %}
    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _quick_add_copy_paste_title_widget %}
    {% set attr = attr|merge({
        class: attr.class|default('') ~ '{{ class_prefix }}__form__title'
    }) %}
    <h3 {{ block('block_attributes') }}>{{ block_widget(block) }}</h3>
{% endblock %}

{% block _quick_add_copy_paste_description_widget %}
    {% set attr = attr|merge({
        class: attr.class|default('') ~ '{{ class_prefix }}__copy-paste-description'
    }) %}
    <p {{ block('block_attributes') }}>{{ block_widget(block) }}</p>
{% endblock %}

{% block _quick_add_copy_paste_form_buttons_widget %}
    {% set attr = attr|merge({
        class: attr.class|default('') ~ '{{ class_prefix }}__form__row {{ class_prefix }}-buttons'
    }) %}
    <fieldset {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </fieldset>
{% endblock %}
