{% block _quick_add_container_widget %}
    {% set attr = attr|merge({
        class: attr.class|default('') ~ ' {{ class_prefix }}'
    }) %}
    <div {{ block('block_attributes') }}>
        <div class="{{ class_prefix }}__container">
            {{ block_widget(block) }}
        </div>
    </div>
{% endblock %}

{% block _quick_add_form_widget %}
    {% set attr = attr|merge({
       class: attr.class|default('') ~ '{{ class_prefix }}__col {{ class_prefix }}__col_two-thirds'
    }) %}
    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _quick_add_form_start_widget %}
    {% set pageComponentOptions = {
        'componentSelector': '#' ~ form.component.vars.id,
        'additionalSelector': '#' ~ form.additional.vars.id
    } %}
    {% set attr = {
        'data-page-component-module': 'orob2bproduct/js/app/components/quick-add-component',
        'data-page-component-options': pageComponentOptions|json_encode,
        'name': 'orob2b_product_quick_add'
    }|merge(attr) %}
    {{ block('form_start_widget') }}
{% endblock %}

{% block _quick_add_form_fields_widget %}
    {% set attr = attr|merge({
        class: attr.class|default('') ~ 'row-oro add-products'
    }) %}
    <div {{ block('block_attributes') }}>
        {{ form_widget(form.products) }}
    </div>
    {{ form_row(form.component) }}
    {{ form_row(form.additional) }}
    {{ form_errors(form) }}
{% endblock %}

{% block _quick_add_form_buttons_widget %}
    {% set attr = attr|merge({
        class: attr.class|default('') ~ '{{ class_prefix }}__form__row {{ class_prefix }}-buttons'
    }) %}
    <fieldset {{ block('block_attributes') }}>
        {% placeholder orob2b_product_quick_add_buttons %}
    </fieldset>
{% endblock %}

{% block _quick_add_import_button_widget %}
    {% import 'OroUIBundle::macros.html.twig' as UI %}
    {{ UI.clientLink({
        'dataUrl': path('orob2b_product_frontend_quick_add_import'),
        'aCss': 'no-hash import-link download-csv-link',
        'iCss': 'cf-download',
        'label' : 'orob2b.product.frontend.quick_add.import_from_file.title'|trans,
        'widget' : {
            'type' : 'dialog',
            'options' : {
                'dialogOptions' : {
                    'title' : 'orob2b.product.frontend.quick_add.import_from_file.title'|trans,
                    'modal': true,
                    'resizable': false,
                    'width': 820,
                    'autoResize': true,
                    'dialogClass': 'ui-dialog-no-scroll'
                }
            }
        }
    }) }}
{% endblock %}
