{% block summary_collapse_widget %}
    {% import '@OroUI/layouts/renderIcon.html.twig' as renderIcon %}
    {% set collapseId = 'summary-collapse-'|uniqid %}

    {% set attr = layout_attr_defaults(attr, {
        '~class': " #{class_prefix ?: 'summary-collapse'}"
    }) %}

    {% if alwaysShow is defined %}
        {% set attr = layout_attr_defaults(attr, {
            '~class': " #{class_prefix ?: 'summary-collapse'}--show-#{alwaysShow}"
        }) %}
    {% endif %}

    <div {{ block('block_attributes') }}>
        {% if tooltip %}
            <div class="summary-collapse__trigger-tooltip"
                 data-toggle="tooltip"
                 data-placement="{{ tooltipPlacement|default('top') }}"
                 title="{{ tooltipLabel|trans }}"
            >
        {% endif %}
            {% set isOpen = (open == 1 or open == 'true') ? 'true' : 'false' %}
            <button class="btn btn--circle btn--size-small {{ "#{class_prefix ?: 'summary-collapse'}__toggle" }} {{ open ? '' : 'collapsed' }}"
                    type="button"
                    data-toggle="collapse"
                    data-target="#{{ collapseId }}"
                    aria-expanded="{{ isOpen }}"
                    aria-controls="{{ collapseId }}"
                    aria-label="{{ 'oro.frontend.shoppinglist.summary_block.aria_label'|trans }}"
            >
                {{ renderIcon.icon({name: 'chevron-up'}) }}
            </button>
        {% if tooltip %}
            </div>
        {% endif %}
        <div id="{{ collapseId }}" class="{{ "#{class_prefix ?: 'summary-collapse'}-content" }} {{ open ? 'show' : '' }}">
            {{ block_widget(block) }}
        </div>
    </div>
{% endblock %}
