{% block __oro_product_quick_add_validation__quick_add_validation_widget %}
    {% set widgetOptions = {
        _wid: app.request.get('_wid')
    } %}
    {% set attr = {
        id: 'import-validation',
        'data-page-component-module': 'oroproduct/js/app/components/quick-add-import-validation-component',
        'data-page-component-options': widgetOptions|merge({
            'titleTemplate': '<%- _.escapeForJSON(title) %><span class="quick-order-add-widget-subtitle"> <%- _.escapeForJSON(subtitle) %></span>',
            'validItemsCount': collection.validRows|length
        })|json_encode,
        'class': 'validation-info hidden-form'
    }|merge(attr) %}
    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block __oro_product_quick_add_validation__quick_add_validation_items_table_container_widget %}
    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block __oro_product_quick_add_validation__quick_add_validation_invalid_items_warning_widget %}
    {% if collection.invalidRows|length %}
        <p class="notification--error">
            {{ 'oro.feature.quick_add_import_help_widget.invalid_records'|trans }}
        </p>
    {% endif %}
{% endblock %}

{% block __oro_product_quick_add_validation__quick_add_validation_items_table_widget %}
    {% set attr = attr|merge({
        class: attr.class|default('') ~ ' table table-condensed table-hover'
    }) %}
    <table {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </table>
{% endblock %}

{% block __oro_product_quick_add_validation__quick_add_validation_items_table_header_widget %}
    <thead>
        <tr>
            <th>{{ 'oro.product.item_number.label'|trans }}</th>
            <th class="text-center">{{ 'oro.product.quantity.label'|trans }}</th>
            <th>{{ 'oro.product.productunitprecision.unit.label'|trans }}</th>
            {{ block_widget(block) }}
        </tr>
    </thead>
{% endblock %}

{% block __oro_product_quick_add_validation__quick_add_validation_valid_items_additional_fields_header_widget %}
    {{ block_widget(block) }}
{% endblock %}

{% block __oro_product_quick_add_validation__quick_add_validation_items_table_body_widget %}
    <tbody>
        {{ block_widget(block) }}
    </tbody>
{% endblock %}

{% block __oro_product_quick_add_validation__quick_add_validation_valid_items_widget %}
    {% if collection.validRows|length %}
        {% for validRow in collection.validRows %}
        {% set rowItem = {
            sku: validRow.sku,
            quantity: validRow.quantity,
            unit_label: validRow.unit|oro_format_product_unit_label
        } %}
        <tr data-row-item="{{ rowItem|json_encode }}">
            <td>{{ validRow.sku }} - {{ validRow.product.names|localized_value|e }}</td>
            <td class="text-center">{{ validRow.quantity|oro_format_decimal }}</td>
            <td>{{ validRow.unit|oro_format_product_unit_label }}</td>
            {% do block|merge_context({'validRow': validRow}) %}
            {{ block('container_widget') }}
        </tr>
        {% endfor %}
    {% endif %}
{% endblock %}

{% block __oro_product_quick_add_validation__quick_add_validation_valid_items_additional_fields_widget %}
    {% do block|merge_context({'additionalFields': validRow.additionalFields}) %}
    {{ block('container_widget') }}
{% endblock %}

{% block __oro_product_quick_add_validation__quick_add_validation_additional_fields_widget %}
    {% set attr = attr|merge({
        class: attr.class|default('') ~ ' quick-order-import-validation__additional_fields'
    }) %}
    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _quick_add_validation_buttons_widget %}
    {% set attr = attr|merge({
        class: attr.class|default('') ~ " widget-actions"
    }) %}
    <div{{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}
