{% import '@OroDataGrid/macros.html.twig' as dataGrid %}

{% set gridName = 'products-related-products-edit' %}

{% set relatedGridParams = {
    relatedItemsIds: get_related_products_ids(entity),
    _parameters: {
        data_in: [],
        data_not_in: []
    }
} %}

{% if form.appendRelated.vars.value is not empty %}
    {% set relatedGridParams = relatedGridParams|merge({
        _parameters: relatedGridParams._parameters|merge({
            data_in: form.appendRelated.vars.value|split(',')
        })
    }) %}
{% endif %}
{% if form.removeRelated.vars.value is not empty %}
    {% set relatedGridParams = relatedGridParams|merge({
        _parameters: relatedGridParams._parameters|merge({
            data_not_in: form.removeRelated.vars.value|split(',')
        })
    }) %}
{% endif %}

<div id="related-products-block" class="tab-content">
    {{ form_widget(form.appendRelated, {'id': 'productAppendRelated'}) }}
    {{ form_widget(form.removeRelated, {'id': 'productRemoveRelated'}) }}
    {{ placeholder('oro_product_related_products_buttons', {
        'entity':  entity,
        'relatedProductsLimit': relatedProductsLimit,
        'gridName': gridName
    }) }}
    {{ dataGrid.renderGrid(gridName, relatedGridParams, {cssClass: 'inner-grid'}) }}
    {{ placeholder('oro_product_related_items_edit', {'entity': entity}) }}
</div>
