{% block _categories_main_menu_widget %}
    {% if (max_size is not null ) %}
        {% set categories = categories[0:max_size] %}
    {%- endif %}

    {% for category in categories -%}
        {% set hasSublist = category.childCategories is not empty %}
        <li class="top-nav__item {{ hasSublist ? "top-nav__item--ancestor": "" }}" {{ hasSublist ? "data-dropdown-trigger": "" }}>
            {% do block|merge_context({'category': category}) %}
            {{ block('container_widget') }}
        </li>
    {%- endfor %}
{% endblock %}

{% block _categories_main_menu_first_level_item_widget %}
    {% set hasSublist = category.childCategories is not empty %}
    <a href="{{ path('orob2b_product_frontend_product_index', {'categoryId': category.id, 'includeSubcategories': true}) }}"
       class="top-nav__link">
        <span>{{ category.defaultTitle }} </span>
        {% if hasSublist %}
            <i class="cf-down-open-mini"></i>
        {% endif %}
    </a>
    {% if hasSublist %}
        <!-- START TOP NAVIGATION SUBLIST -->
        <div class="top-nav__sublist-container">
            <ul class="top-nav__sublist">
                {% do block|merge_context({'categories': category.childCategories }) %}
                {{ block_widget(block) }}
            </ul>
        </div>
        <!-- ENDTOP NAVIGATION SUBLIST -->
    {% endif %}
{% endblock %}

{% block _categories_main_menu_second_level_widget %}
    {% set attr = attr|merge({
        class: attr.class|default('') ~ " top-nav__sublist__item"
    }) %}
    <li {{ block('block_attributes') }}>
        <div class="top-nav__sublist__title">By Category</div>
        {% for category in categories %}
            {% do block|merge_context({'category': category}) %}
            {{ block('container_widget') }}
        {% endfor %}
    </li>
{% endblock %}

{% block _categories_main_menu_second_level_item_widget %}
    {% set hasSublist = category.childCategories is not empty %}
    {% set class = attr.class|default('') ~ " top-nav__sublist_nested top-nav__sublist__item_has-2columns" %}
    {% set class = hasSublist ? class ~ " top-nav__sublist_nested_has-sibling" : class %}
    {% set attr = attr|merge({class: class}) %}
    <ul {{ block('block_attributes') }}>
        <li class="top-nav__sublist_nested__item">
            <a href="{{ path('orob2b_product_frontend_product_index', {'categoryId': category.id, 'includeSubcategories': true}) }}">
                {{ category.defaultTitle }}
            </a>
            {% if hasSublist %}
                {% do block|merge_context({'categories': category.childCategories }) %}
                {{ block('container_widget') }}
            {% endif %}
        </li>
    </ul>
{% endblock %}

{% block _categories_main_menu_third_level_widget %}
    {% set attr = attr|merge({
        class: attr.class|default('') ~ " top-nav__sublist_subnested"
    }) %}
    <ul {{ block('block_attributes') }}>
        {% for category in categories %}
            <li>
                {% do block|merge_context({'category': category}) %}
                {{ block('container_widget') }}
            </li>
        {% endfor %}
    </ul>
{% endblock %}

{% block _categories_main_menu_third_level_item_widget %}
    {% set attr = attr|merge({
        href: path('orob2b_product_frontend_product_index', {'categoryId': category.id, 'includeSubcategories': true})
    }) %}
    <a {{ block('block_attributes') }}>{{ category.defaultTitle }}</a>
{% endblock %}

{% block _categories_main_menu_second_level_sales_widget %}
    {% set attr = attr|merge({
        class: attr.class|default('') ~ " top-nav__sublist__item top-nav__sublist__item_has-sales-block"
    }) %}
    <li {{ block('block_attributes') }}>
        <div class="top-nav__sublist__title">On Sale</div>
        <div class="sales-block">
            <a href="#">
                <img class="img-responsive"
                     src="{% image '@OroB2BCatalogBundle/Resources/public/default/images/adv_1.jpg' %}{{ asset_url }}{% endimage %}"
                     alt="">
            </a>
        </div>
        <div class="sales-block">
            <a href="#">
                <img class="img-responsive"
                     src="{% image '@OroB2BCatalogBundle/Resources/public/default/images/adv_2.jpg' %}{{ asset_url }}{% endimage %}"
                     alt="">
            </a>
        </div>
    </li>
{% endblock %}
