{% block _categories_main_menu_widget %}
    {% set renderedCount = 0 %}
    {% for category in categories -%}
        {% if (max_size is null or renderedCount < max_size ) %}
            {% set parentCategoryId = category.parentCategory is null ? null : category.parentCategory.id %}
            {% set hasSublist = category.childCategories is not empty %}
            <li class="top-nav__list__item {{ hasSublist ? "top-nav__list__item_has-sublist": "" }}" {{ hasSublist ? "data-dropdown-trigger": "" }}>
                <a href="{{ path('orob2b_product_frontend_product_index', {'categoryId': category.id, 'includeSubcategories': true}) }}"
                   class="top-nav__list__item__link">
                        <span>{{ category.defaultTitle }}
                            {% if hasSublist %}
                                <i class="icon-down-open-mini"></i>
                            {% endif %}
                        </span>
                </a>
                {% if hasSublist %}
                    {% do block|merge_context({'categories': category.childCategories }) %}
                    {{ block('categories_main_menu_second_level_widget') }}
                {% endif %}
            </li>
            {% set renderedCount = renderedCount + 1 %}
        {%- endif %}
    {%- endfor %}
{% endblock %}

{% block categories_main_menu_second_level_widget %}
    <!-- START TOP NAVIGATION SUBLIST -->
    <div class="top-nav__sublist-container">
        <ul class="top-nav__sublist">
            <li class="top-nav__sublist__item top-nav__sublist__item_has-2columns">
                <div class="top-nav__sublist__title">By Category</div>

                {% for category in category.childCategories %}
                    {% set hasSublist = category.childCategories is not empty %}
                    <ul class="top-nav__sublist_nested {{ hasSublist ? "top-nav__sublist_nested_has-sibling" : "" }}">
                        <li class="top-nav__sublist_nested__item">
                            <a href="{{ path('orob2b_product_frontend_product_index', {'categoryId': category.id, 'includeSubcategories': true}) }}">
                                {{ category.defaultTitle }}
                            </a>
                            {% if hasSublist %}
                                {% do block|merge_context({'categories': category.childCategories }) %}
                                {{ block('categories_main_menu_third_level_widget') }}
                            {% endif %}
                        </li>
                    </ul>
                {% endfor %}
            </li>
            <li class="top-nav__sublist__item top-nav__sublist__item_has-adv-block">
                <div class="top-nav__sublist__title">On Sale</div>
                <div class="adv-block">
                    <a href="#"><img class="img-responsive"
                                     src="{% image '@OroB2BCatalogBundle/Resources/public/default/images/adv_1.jpg' %}{{ asset_url }}{% endimage %}"
                                     alt=""></a>
                </div>
                <div class="adv-block">
                    <a href="#"><img class="img-responsive"
                                     src="{% image '@OroB2BCatalogBundle/Resources/public/default/images/adv_2.jpg' %}{{ asset_url }}{% endimage %}"
                                     alt=""></a>
                </div>
            </li>
        </ul>
    </div>
    <!-- ENDTOP NAVIGATION SUBLIST -->
{% endblock %}

{% block categories_main_menu_third_level_widget %}
    <ul class="top-nav__sublist_subnested">
        {% for category in category.childCategories %}
            <li>
                <a href="{{ path('orob2b_product_frontend_product_index', {'categoryId': category.id, 'includeSubcategories': true}) }}">
                    {{ category.defaultTitle }}
                </a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
