{% block _categories_main_menu_widget %}
    {% set attr = attr|merge({
        class: attr.class|default('') ~ " top-nav hidden-sm hidden-xs not-implemented"
    }) %}
    <li class="top-nav__list__item top-nav__list__item_has-sublist" data-dropdown-trigger>
        <a href="#" class="top-nav__list__item__link" >
            <span>Uniforms</span><i class="icon-down-open-mini"></i>
        </a>

        <!-- START TOP NAVIGATION SUBLIST -->
        <div class="top-nav__sublist-container">
            <ul class="top-nav__sublist">
                <li class="top-nav__sublist__item top-nav__sublist__item_has-2columns">
                    <div class="top-nav__sublist__title">By Category</div>
                    <ul class="top-nav__sublist_nested top-nav__sublist_nested_has-sibling">
                        <li class="top-nav__sublist_nested__item">
                            <a href="#">Men's Uniforms</a>
                            <ul class="top-nav__sublist_subnested">
                                <li><a href="#">Doctors Uniforms</a></li>
                                <li><a href="#">Nurse Uniforms</a></li>
                                <li><a href="#">Scrubs</a></li>
                                <li><a href="#">Security</a></li>
                                <li><a href="#">Kitchen</a></li>
                                <li><a href="#">Corporate Uniforms</a></li>
                                <li><a href="#">Assistant Uniforms</a></li>
                                <li><a href="#">All Men's Uniforms</a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="top-nav__sublist_nested top-nav__sublist_nested_has-sibling">
                        <li class="top-nav__sublist_nested__item">
                            <a href="#">Women's Uniforms</a>
                            <ul class="top-nav__sublist_subnested">
                                <li><a href="#">Doctors Uniforms</a></li>
                                <li><a href="#">Nurse Uniforms</a></li>
                                <li><a href="#">Scrubs</a></li>
                                <li><a href="#">Security</a></li>
                                <li><a href="#">Kitchen</a></li>
                                <li><a href="#">Corporate Uniforms</a></li>
                                <li><a href="#">Assistant Uniforms</a></li>
                                <li><a href="#">All Men's Uniforms</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="top-nav__sublist__item top-nav__sublist__item_has-adv-block">
                    <div class="top-nav__sublist__title">On Sale</div>
                    <div class="adv-block">
                        <a href="#"><img class="img-responsive" src="{% image '@OroB2BCatalogBundle/Resources/public/default/images/adv_1.jpg' %}{{ asset_url }}{% endimage %}" alt=""></a>
                    </div>
                    <div class="adv-block">
                        <a href="#"><img class="img-responsive" src="{% image '@OroB2BCatalogBundle/Resources/public/default/images/adv_2.jpg' %}{{ asset_url }}{% endimage %}" alt=""></a>
                    </div>
                </li>
            </ul>
        </div>
        <!-- ENDTOP NAVIGATION SUBLIST -->

    </li>
    <li class="top-nav__list__item top-nav__list__item_has-sublist" data-dropdown-trigger>
        <a href="#" class="top-nav__list__item__link">
            <span>Protective Wear</span><i class="icon-down-open-mini"></i>
        </a>

        <!-- START TOP NAVIGATION SUBLIST -->
        <div class="top-nav__sublist-container">
            <ul class="top-nav__sublist">
                <li class="top-nav__sublist__item top-nav__sublist__item_has-2columns">
                    <div class="top-nav__sublist__title">By Category</div>
                    <ul class="top-nav__sublist_nested top-nav__sublist_nested_has-sibling">
                        <li class="top-nav__sublist_nested__item">
                            <a href="#">Men's Uniforms</a>
                            <ul class="top-nav__sublist_subnested">
                                <li><a href="#">Doctors Uniforms</a></li>
                                <li><a href="#">Nurse Uniforms</a></li>
                                <li><a href="#">Scrubs</a></li>
                                <li><a href="#">Security</a></li>
                                <li><a href="#">Kitchen</a></li>
                                <li><a href="#">Corporate Uniforms</a></li>
                                <li><a href="#">Assistant Uniforms</a></li>
                                <li><a href="#">All Men's Uniforms</a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="top-nav__sublist_nested top-nav__sublist_nested_has-sibling">
                        <li class="top-nav__sublist_nested__item">
                            <a href="#">Women's Uniforms</a>
                            <ul class="top-nav__sublist_subnested">
                                <li><a href="#">Doctors Uniforms</a></li>
                                <li><a href="#">Nurse Uniforms</a></li>
                                <li><a href="#">Scrubs</a></li>
                                <li><a href="#">Security</a></li>
                                <li><a href="#">Kitchen</a></li>
                                <li><a href="#">Corporate Uniforms</a></li>
                                <li><a href="#">Assistant Uniforms</a></li>
                                <li><a href="#">All Men's Uniforms</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                {# This li will be moved to another bundle #}
                <li class="top-nav__sublist__item top-nav__sublist__item_has-adv-block">
                    <div class="top-nav__sublist__title">On Sale</div>
                    <div class="adv-block">
                        <a href="#"><img class="img-responsive" src="{% image '@OroB2BCatalogBundle/Resources/public/default/images/adv_1.jpg' %}{{ asset_url }}{% endimage %}" alt=""></a>
                    </div>
                    <div class="adv-block">
                        <a href="#"><img class="img-responsive" src="{% image '@OroB2BCatalogBundle/Resources/public/default/images/adv_2.jpg' %}{{ asset_url }}{% endimage %}" alt=""></a>
                    </div>
                </li>
            </ul>
        </div>
        <!-- ENDTOP NAVIGATION SUBLIST -->
    </li>
    <li class="top-nav__list__item"><a href="#" class="top-nav__list__item__link"><span>Scrubs</span></a></li>
    <li class="top-nav__list__item"><a href="#" class="top-nav__list__item__link"><span>Supplies</span></a></li>
    <li class="top-nav__list__item"><a href="#" class="top-nav__list__item__link"><span>Men's</span></a></li>
    <li class="top-nav__list__item"><a href="#" class="top-nav__list__item__link"><span>Women's</span></a></li>

    {% set categoriesData = [
        {
            'title': 'First',
            'url': 'http://first/',
            'children': [
                {
                    'title': 'First One',
                    'url': 'http://first.one/',
                    'children': []
                },
                {
                    'title': 'First Two',
                    'url': 'http://first.two/',
                    'children': [
                        {
                            'title': 'First Two Deep',
                            'url': 'http://first.two.deep/',
                            'children': []
                        },
                    ]
                },
            ]
        },
        {
            'title': 'Second',
            'url': 'http://second/',
            'children': []
        },
    ] %}

    <ul>
        {% for firstLevelCategory in categoriesData %}
            <li>
                <a href="{{ firstLevelCategory.url }}">{{ firstLevelCategory.title }}</a>
                {% if firstLevelCategory.children %}
                    <ul>
                        {% for secondLevelCategory in firstLevelCategory.children %}
                            <li>
                                <a href="{{ secondLevelCategory.url }}">{{ secondLevelCategory.title }}</a>
                                {% if secondLevelCategory.children %}
                                    <ul>
                                        {% for thirdLevelCategory in secondLevelCategory.children %}
                                            <li><a href="{{ thirdLevelCategory.url }}">{{ thirdLevelCategory.title }}</a></li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endblock %}
