{% block _loginPage_widget %}
    {% if loginPage and loginPage.backgroundImage %}
        {% set attr = attr|merge({
            style: attr.style|default('') ~ "background-image: url('" ~ file_url(loginPage, 'backgroundImage', loginPage.backgroundImage) ~ "');"
        }) %}
    {% endif %}
    {% set attr = attr|merge({
        class: attr.class|default('') ~ " {{ class_prefix }} {{ class_prefix }}_half-cols"
    }) %}
    <div{{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _loginPageLogo_widget %}
    <div{{ block('block_attributes') }}>
        <img src="{{ filtered_image_url(loginPage.logoImage, 'login_page_logo') }}">
    </div>
{% endblock %}

{% block _loginPageTop_widget %}
    <div{{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _loginPageBottom_widget %}
    <div{{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _loginForm_widget %}
    {% set attr = attr|merge({
        class: attr.class|default('') ~ " {{ class_prefix }}__form-container form-container-x6"
    }) %}
    <div{{ block('block_attributes') }}>
        <form action="{{ path('orob2b_account_account_user_security_check') }}"
              class="{{ class_prefix }}__form {{ class_prefix }}__form_signin"
              method="post">
            {{ block_widget(block) }}
        </form>
    </div>
{% endblock %}

{% block _loginFormLabel_widget %}
    {% set attr = attr|merge({
        class: attr.class|default('') ~ " {{ class_prefix }}__title"
    }) %}
    <h2{{ block('block_attributes') }}>{{ block_widget(block) }}</h2>
{% endblock %}

{% block _loginFormError_widget %}
    {% set attr = attr|merge({
        class: attr.class|default('') ~ " {{ class_prefix }}__form__row alert-error"
    }) %}
    <div{{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _loginFormUsername_widget %}
    {% set attr = {
        required: 'required',
        autofocus: true
    }|merge(attr)|merge({
        class: attr.class|default('') ~ " input input_block input_md {{ class_prefix }}__form__input"
    }) %}
    {% set label_attr = label_attr|merge({
        class: label_attr.class|default('') ~ " {{ class_prefix }}__form__label"
    }) %}
    <fieldset class="{{ class_prefix }}__form__row">
        <div class="{{ class_prefix }}__form__col form__col_x12">
            {{ block_row(block, {
                attr: attr,
                label_attr: label_attr
            }) }}
        </div>
    </fieldset>
{% endblock %}

{% block _loginFormPassword_widget %}
    {% set attr = {
        required: 'required'
    }|merge(attr)|merge({
        class: attr.class|default('') ~ " input input_block input_md {{ class_prefix }}__form__input"
    }) %}
    {% set label_attr = label_attr|merge({
        class: label_attr.class|default('') ~ " {{ class_prefix }}__form__label"
    }) %}
    <fieldset class="{{ class_prefix }}__form__row">
        <div class="{{ class_prefix }}__form__col form__col_x12">
            {{ block_row(block, {
                attr: attr,
                label_attr: label_attr
            }) }}
        </div>
    </fieldset>
{% endblock %}

{% block _loginFormRemember_widget %}
    {% set label_attr = {
        'data-checkbox': null
    }|merge(label_attr)|merge({
        class: label_attr.class|default('') ~ " checkbox_custom checkbox_custom_blue",
    }) %}
    <fieldset class="{{ class_prefix }}__form__row">
        <div class="{{ class_prefix }}__form__col">
            <label{{ block('block_label_attributes') }}>
                {{ block_widget(block) }}
                <i class="material-icons checkbox_checked fs18 mmr5-md">check_box</i>
                <i class="material-icons checkbox_not-checked fs18 mmr5-md">check_box_outline_blank</i>
                <span class="checkbox_custom__text fs13">{{ label|block_text(translation_domain) }}</span>
            </label>
        </div>
    </fieldset>
{% endblock %}

{% block _loginFormSubmit_widget %}
    {% set attr = attr|merge({
        class: attr.class|default('') ~ " btn btn_orange btn_lg {{ class_prefix }}__form__submit"
    }) %}
    <fieldset class="{{ class_prefix }}__form__row mt1-sm">
        <div class="{{ class_prefix }}__form__col form__col_x12">
            {{ block_row(block, {
                attr: attr,
            }) }}
        </div>
    </fieldset>
{% endblock %}
