{% block _login_page_widget %}
    <div{{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _login_form_widget %}
    <form id="form-login"
          action="{{ path('orob2b_account_account_user_security_check') }}"
          class="{{ class_prefix }}__form {{ class_prefix }}__form_signin"
          method="post">
        {{ block_widget(block) }}
    </form>
    <script type="text/javascript">
        require(['jquery', 'jquery.validate'],
        function ($) {
            $('#form-login').validate({});
        });
    </script>
{% endblock %}

{% block _login_form_username_widget %}
    {% set attr = {
        required: 'required',
        autofocus: true,
        'data-validation': {"NotBlank":{"payload":null}}|json_encode
    }|merge(attr)|merge({
        class: attr.class|default('') ~ " input"
    }) %}

    {% set label_attr = label_attr|merge({
        class: label_attr.class|default('') ~ " {{ class_prefix }}__form__label"
    }) %}
    <fieldset class="{{ class_prefix }}__form__row">
        <div class="{{ class_prefix }}__form__col form__col_x12">
            {{ block_row(block, {
                attr: attr,
                label_attr: label_attr
            }) }}
        </div>
    </fieldset>
{% endblock %}

{% block _login_form_password_widget %}
    {% set attr = {
        required: 'required',
        'data-validation': {"NotBlank":{"payload":null}}|json_encode
    }|merge(attr)|merge({
        class: attr.class|default('') ~ " input"
    }) %}
    {% set label_attr = label_attr|merge({
        class: label_attr.class|default('') ~ " {{ class_prefix }}__form__label"
    }) %}
    <fieldset class="{{ class_prefix }}__form__row">
        <div class="{{ class_prefix }}__form__col form__col_x12">
            {{ block_row(block, {
                attr: attr,
                label_attr: label_attr
            }) }}
        </div>
    </fieldset>
{% endblock %}

{% block _login_form_submit_widget %}
    <fieldset class="{{ class_prefix }}__form__row mt1-sm">
        <div class="{{ class_prefix }}__form__col form__col_x12">
            {{ block_widget(block) }}
        </div>
    </fieldset>
{% endblock %}

{% block _login_form_forgot_widget %}
    <div class="row">
        <div class="col-md-12">
            {{ block_widget(block) }}
        </div>
    </div>
{% endblock %}

{% block _login_form_register_widget %}
    <div class="row">
        <div class="col-md-12">
            {{ block_widget(block) }}
        </div>
    </div>
{% endblock %}
