{% extends 'OroUIBundle:actions:view.html.twig' %}

{% oro_title_set({params : {"%code%": entity.code }}) %}

{% block pageHeader %}
    {% set breadcrumbs = {
        'entity': entity,
        'indexPath': path('orob2b_attribute_index'),
        'indexLabel': 'orob2b.attribute.entity_plural_label'|trans,
        'entityTitle': entity.code|default('N/A'|trans)
    } %}
    {{ parent() }}
{% endblock pageHeader %}

{% block navButtons %}
    {% if resource_granted('EDIT', entity) %}
        {{ UI.editButton({
            'path' : path('orob2b_attribute_update', { 'id': entity.id }),
            'entity_label': 'orob2b.attribute.entity_label'|trans
        }) }}
    {% endif %}
    {% if not entity.system and resource_granted('DELETE', entity) %}
        {{ UI.deleteButton({
            'dataUrl': path('orob2b_api_delete_attribute', {'id': entity.id}),
            'dataRedirect': path('orob2b_attribute_index'),
            'aCss': 'no-hash remove-button',
            'dataId': entity.id,
            'id': 'btn-remove-attribute',
            'entity_label': 'orob2b.attribute.entity_label'|trans
        }) }}
    {% endif %}
{% endblock navButtons %}

{% block breadcrumbs %}
    {{ parent() }}

    {% if entity.system %}
        <div class="pull-left">
            <div class="badge badge-disabled status-disabled">
                <i class="icon-status-disabled icon-circle"></i>{{ 'orob2b.attribute.system.label'|trans }}
            </div>
        </div>
    {% endif %}
{% endblock breadcrumbs %}

{% block stats %}{% endblock stats %}

{% block content_data %}
    {% set attributeInformationWidget %}
        {{ oro_widget_render({
            'widgetType': 'block',
            'title': 'orob2b.attribute.widgets.attribute_information'|trans,
            'url': path('orob2b_attribute_info', {id: entity.id})
        }) }}
    {% endset %}

    {% set generalSectionBlocks = [{'data' : [attributeInformationWidget]}]%}

    {% set dataBlocks = [
        {
            'title': 'orob2b.attribute.section.general'|trans,
            'class': 'active',
            'subblocks': generalSectionBlocks
        }
    ] %}

    {% set id = 'attributeView' %}
    {% set data = {'dataBlocks': dataBlocks} %}

    {{ parent() }}
{% endblock content_data %}
