{% extends 'form_div_layout.html.twig' %}

{% block orob2b_account_typed_address_widget %}
    {% spaceless %}
        <div class="oro-grid">
            <div class="oro-grid__row">
                <div class="oro-grid__column-half">
                    {{ form_row(form.label, {'label' : 'orob2b.account.frontend.address.form.label.address_label'|trans}) }}
                </div>
            </div>
            <div class="oro-grid__row oro-grid__row--offset-s">
                <div class="oro-grid__column-half">
                    {{ form_row(form.primary, {'label' : 'orob2b.account.frontend.address.form.label.primary'|trans }) }}
                </div>
            </div>
            <div class="oro-grid__row">
                <div class="oro-grid__column-2">
                    {{ form_row(form.namePrefix, {'attr': {'placeholder': 'orob2b.account.frontend.address.form.placeholder.name.prefix'|trans}}) }}
                </div>
            </div>
            <div class="oro-grid__row">
                <div class="oro-grid__column-half">
                    {{ form_row(form.firstName, {'attr': {'placeholder': 'orob2b.account.frontend.address.form.placeholder.first_name'|trans}}) }}
                </div>
                <div class="oro-grid__column-half">
                    {{ form_row(form.middleName, {'attr': {'placeholder': 'orob2b.account.frontend.address.form.placeholder.middle_name'|trans}}) }}
                </div>
            </div>
            <div class="oro-grid__row">
                <div class="oro-grid__column-half">
                    {{ form_row(form.lastName, {'attr': {'placeholder': 'orob2b.account.frontend.address.form.placeholder.last_name'|trans}}) }}
                </div>
                <div class="oro-grid__column-half">
                    {{ form_row(form.nameSuffix, {'attr': {'placeholder': 'orob2b.account.frontend.address.form.placeholder.name_suffix'|trans}}) }}
                </div>
            </div>
            <div class="oro-grid__row">
                <div class="oro-grid__column-half">
                    {{ form_row(form.organization, {'attr': {'placeholder': 'orob2b.account.frontend.address.form.placeholder.organization'|trans}}) }}
                </div>
            </div>
            <div class="oro-grid__row">
                <div class="oro-grid__column-half">
                {{ form_row(form.phone, {'attr': {'placeholder': 'orob2b.account.frontend.address.form.placeholder.phone'|trans}}) }}
                </div>
            </div>
            <div class="oro-grid__row">
                <div class="oro-grid__column-half">
                    {{ form_row(form.street, {'attr': {'placeholder': 'orob2b.account.frontend.address.form.placeholder.street'|trans}}) }}
                </div>
                <div class="oro-grid__column-half">
                    {{ form_row(form.street2, {'attr': {'placeholder': 'orob2b.account.frontend.address.form.placeholder.street2'|trans}}) }}
                </div>
            </div>
            <div class="oro-grid__row">
                <div class="oro-grid__column-half">
                    {{ form_row(form.city, {'attr': {'placeholder': 'orob2b.account.frontend.address.form.placeholder.city'|trans}}) }}
                </div>
            </div>
            <div class="oro-grid__row">
                <div class="oro-grid__column-3 oro-grid__column--offset-m">
                    {{ form_row(form.country) }}
                </div>
                <div class="oro-grid__column-3">
                    {{ form_row(form.region) }}
                </div>
            </div>
            <div class="oro-grid__row">
                <div class="oro-grid__column-2">
                    {{- form_label(form.postalCode) -}}
                    {{- form_widget(form.postalCode, {'attr' : {'placeholder': 'orob2b.account.frontend.address.form.placeholder.zip'|trans}}) -}}
                    {{- form_errors(form.postalCode) -}}
                </div>
            </div>
        </div>
        <div class="oro-grid__row"
             data-page-component-module="orob2baccount/js/app/components/account-address-component"
             data-page-component-options="{{ {'disableDefaultWithoutType' : true}|json_encode }}">
            <div class="oro-grid__column-half">
                <p class="oro-title">{{ "orob2b.account.frontend.address.form.label.address_types"|trans }}:</p>
                {{ form_widget(form.types) }}
                {{ form_widget(form.defaults) }}
            </div>
        </div>

        <div class="oro-grid__row hidden">
            {{ form_widget(form.id) }}
            {{ form_widget(form.region_text) }}
        </div>
    {% endspaceless %}
{% endblock %}

{% block orob2b_account_typed_address_with_default_widget %}
    {{ form_widget(form.default) }}
{% endblock %}

{% block choice_widget_expanded %}
    <div class="col">
        {% for child in form %}
            <div class="{{ multiple ? "checkbox" : "radio" }} col">
                {{ form_widget(child) }}
            </div>
        {% endfor %}
    </div>
{% endblock %}

{%- block form_row -%}
    {{- form_label(form, null) -}}
    {{- form_widget(form) -}}
    {{- form_errors(form) -}}
{%- endblock -%}

{% block checkbox_row %}
    {{- form_widget(form) -}}
{% endblock %}

{%- block checkbox_widget -%}
    {%- if label is empty -%}
        {% set label = id|humanize %}
    {%- endif -%}

    <label class="oro-checkbox" for="{{ id }}">
        <input class="oro-checkbox__input" type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %}>
        <span class="oro-checkbox__icon"></span>
        <span class="oro-checkbox__text">{{ label|block_text(translation_domain) }} </span>
    </label>

    {{- form_errors(form) -}}
{%- endblock checkbox_widget -%}

{%- block form_label -%}
    {% set label_attr = label_attr|merge({class: ""}) %}

    {{ parent() }}
{%- endblock -%}

{%- block form_widget -%}
    {% set attr = attr|merge({class: ""}) %}
    {{ parent() }}
{%- endblock -%}

{% block form_widget_simple %}
    {% set attr = attr|merge({class: "oro-input oro-input--full"}) %}
    {{ parent() }}
{% endblock %}

{% block orob2b_region_widget %}
    {{ block('oro_region_widget') }}
{% endblock %}

{% block orob2b_country_widget %}
    {{ form_widget(form, {'class_prefix': 'checkout'}) }}
{% endblock %}

{# TODO: remove due BB-3540 #}
{%- block form_errors -%}
    {%- if errors|length > 0 -%}
        <div class="notification notification_xsm notification_error notification-radiused">
            <ul>
                {%- for error in errors -%}
                    <li><i class="cf-attention cf--base-line"></i><span class="mml5-md">{{ error.message }}</span></li>
                {%- endfor -%}
            </ul>
        </div>
    {%- endif -%}
{%- endblock form_errors -%}
