{# @name = order_processing_flow_marked_as_shipped #}
{# @entityName = Oro\Bundle\OrderBundle\Entity\Order #}
{# @subject = Order Shipped - #{{ entity.identifier }} #}
{# @isSystem = 1 #}
{# @isEditable = 1 #}

{% extends oro_get_email_template('base_storefront') %}

{% block content %}
    <h1 style="{{ styleH1 }}">Hello {{ entity.customerUser|oro_format_name }},</h1>

    <!--empty space-->
    <table role="presentation" border="0" cellspacing="0" cellpadding="0">
        <tr>
            <td height="12" style="{{ styleEmptyRowH12 }}">&nbsp;</td>
        </tr>
    </table>

    <p style="{{ styleP }}">Good news! Your order has shipped and is on its way to you.</p>
{% endblock content %}

