{% import 'OroUIBundle::macros.html.twig' as UI %}
{% import 'OroEntityConfigBundle::macros.html.twig' as entityConfig %}

<div class="widget-content">
    <div class="row-fluid form-horizontal">
        <div class="responsive-block">
            {{ UI.renderProperty('orob2b.attribute.type.label'|trans, attribute.type) }}
            {{ UI.renderProperty('orob2b.attribute.code.label'|trans, attribute.code) }}
            {{ UI.renderProperty('orob2b.attribute.sharingType.label'|trans, attribute.sharingType) }}
            {{ UI.renderProperty('orob2b.attribute.validation.label'|trans, attribute.validation) }}
            {{ UI.renderProperty('orob2b.attribute.containHtml.label'|trans, attribute.containHtml ? 'Yes'|trans : 'No'|trans) }}
            {{ UI.renderProperty('orob2b.attribute.localized.label'|trans, attribute.localized ? 'Yes'|trans : 'No'|trans) }}
            {{ UI.renderProperty('orob2b.attribute.system.label'|trans, attribute.system ? 'Yes'|trans : 'No'|trans) }}
            {{ UI.renderProperty('orob2b.attribute.unique.label'|trans, attribute.unique ? 'Yes'|trans : 'No'|trans) }}
            {{ UI.renderProperty('orob2b.attribute.required.label'|trans, attribute.required ? 'Yes'|trans : 'No'|trans) }}
        </div>
        <div class="responsive-block">
            {{ entityConfig.renderDynamicFields(attribute) }}
        </div>
    </div>
</div>
