{% block oro_order_address_type_widget %}
    {% if form.parent is not empty %}
        <div {{ block('widget_container_attributes') }}>
            {% if form.accountAddress is defined %}
                {{ form_row(form.accountAddress) }}
            {% endif %}
            {{ block('oro_address_rows') }}
        </div>
    {% else %}
        {% if form.accountAddress is defined %}
            {{ form_row(form.accountAddress) }}
        {% endif %}
        {{ block('oro_address_rows') }}
    {% endif %}
{% endblock %}

{% macro oro_order_line_items_collection_item_prototype(widget) %}
    {% if 'collection' in widget.vars.block_prefixes %}
        {% set form = widget.vars.prototype %}
        {% set name = widget.vars.full_name ~ '[' ~ widget.vars.prototype.vars.name ~ ']' %}
        {% set disabled = widget.vars.disabled %}
        {% set allow_delete = widget.vars.allow_delete %}
    {% else %}
        {% if widget.vars.disallow_delete is defined and widget.vars.disallow_delete %}
            {% set allow_delete = false %}
        {% else %}
            {% set allow_delete = widget.parent.vars.allow_delete %}
        {% endif %}
        {% set form = widget %}
        {% set name = widget.vars.full_name %}
        {% set disabled = widget.parent.vars.disabled %}
    {% endif %}

    {% set page_component_options = form.vars.page_component_options|merge({
        'disabled': not allow_delete
    }) %}

    <tr data-content="{{ name }}" data-validation-optional-group {{ block('widget_container_attributes') }}
        class="order-line-item"
        data-page-component-module="{{ form.vars.page_component }}"
        data-page-component-options="{{ page_component_options|json_encode }}"
        data-layout="separate">
        {{ form_widget(form) }}

        {% if allow_delete %}
            <td class="order-line-item-remove">
                <button type="button" class="removeLineItem btn icons-holder"><i class="icon-remove"></i></button>
            </td>
        {% elseif widget.parent.vars.allow_delete %}
            <td></td>
        {% endif %}
    </tr>
{% endmacro %}

{% block oro_order_line_items_collection_widget %}
    {% spaceless %}
        {% if prototype is defined %}
            {% set prototype_html = _self.oro_order_line_items_collection_item_prototype(form) %}
        {% endif %}
        {% set attr = attr|merge({'class': (attr.class is defined ? attr.class ~ ' ' : '') ~ 'oro-item-collection grid-container' }) %}
        {% set id = id ~ '_collection' %}
        <div class="row-oro">
            {% set prototype_name = form.vars.prototype_name %}
            <div {{ block('widget_container_attributes') }}>
                <input type="hidden" name="validate_{{ full_name }}" data-collection-name="{{ full_name }}" data-name="collection-validation" disabled data-validate-element>
                <table class="grid table-hover table table-bordered table-condensed order-line-items-table">
                    <thead>
                    <tr>
                        <th class="order-line-item-sku"><span>{{ 'oro.product.sku.label'|trans }}</span></th>
                        <th class="order-line-item-type"><span>{{ 'oro.product.entity_label'|trans }}</span></th>
                        {% if form.vars.prototype.vars.sections is defined and form.vars.prototype.vars.sections|length %}
                            {% for sectionName, section in form.vars.prototype.vars.sections %}
                                {% set label = section.label|default('oro.order.orderlineitem.%s.label'|format(sectionName)) %}
                                <th class="{{ 'order-line-item-%s'|format(sectionName) }}">
                                    <span>{{ label|trans }}</span>
                                </th>
                            {% endfor %}
                        {% endif %}
                        {% if form.vars.allow_delete %}
                            <th class="order-line-item-actions"></th>
                        {% endif %}
                    </tr>
                    </thead>
                    <tbody data-last-index="{{ form.children|length}}" data-prototype-name="{{ prototype_name }}"{% if prototype_html is defined %} data-prototype="{{ prototype_html|escape }}"{% endif %}>
                    {% if form.children|length %}
                        {% for child in form.children %}
                            {{ _self.oro_order_line_items_collection_item_prototype(child) }}
                        {% endfor %}
                    {% elseif show_form_when_empty and prototype_html is defined %}
                        {{ prototype_html|replace({(prototype_name): '0'})|raw }}
                    {% endif %}
                    </tbody>
                </table>
            </div>

            {% if allow_add %}
                <a class="btn add-list-item" data-container=".oro-item-collection tbody" href="javascript: void(0);"><i class="icon-plus"></i>{{ form.vars.add_label|default('oro.form.collection.add')|trans }}</a>
            {% endif %}
        </div>
    {% endspaceless %}
{% endblock %}

{% block oro_order_line_item_widget %}
    <td class="order-line-item-sku">
        <div class="order-line-item-type-product">
            {% if form.vars.value is not empty %}
                {{ form.vars.value.productSku }}
            {% endif %}
        </div>
        <div class="order-line-item-type-free-form" style="display: none;">
            {{ form_widget(form.productSku) }}
        </div>
    </td>
    <td class="order-line-item-type">
        <div class="fields-row">
            <div class="order-line-item-type-product">
                {{ form_widget(form.product) }}
                <a class="order-line-item-type-free-form" href="javascript: void(0);">{{ 'oro.order.orderlineitem.select.free_form'|trans }}</a>
            </div>
            <div class="order-line-item-type-free-form" style="display: none;">
                {{ form_widget(form.freeFormProduct) }}
                <br/><a class="order-line-item-type-product" href="javascript: void(0);">{{ 'oro.order.orderlineitem.select.product'|trans }}</a>
            </div>
        </div>
        {{ form_errors(form.product) }}
        {{ form_errors(form.freeFormProduct) }}
    </td>

    {{ _self.render_form_sections(form.vars.sections, form) }}
{% endblock %}

{% macro render_form_sections(sections, form, overrides) %}
    {% if sections is defined and not sections.isEmpty %}
        {% for sectionName, sections in form.vars.sections %}
            <td class="{{ 'order-line-item-%s'|format(sectionName) }}">
                {% placeholder 'order_edit_section_' ~ sectionName ~ '_before' with {form: form} %}

                {% if overrides[sectionName] is defined %}
                    {{ overrides[sectionName] }}
                {% elseif sections.data is defined and sections.data is iterable %}
                    <div class="fields-row">
                        {% for subSectionName, subSection in sections.data %}
                            <div
                                {% if subSection.page_component is defined %} data-page-component-module="{{ subSection.page_component }}"
                                    {% if subSection.page_component_options is defined %} data-page-component-options="{{ subSection.page_component_options }}"{% endif %}
                                {% endif %}>
                                {% placeholder 'order_edit_subsection_' ~ subSectionName ~ '_before' with {subSection: subSection} %}
                                {% if subSectionName in form|keys %}
                                    {{ form_widget(form[subSectionName]) }}
                                {% endif %}
                                {% placeholder 'order_edit_subsection_' ~ subSectionName ~ '_after' with {subSection: subSection} %}
                            </div>
                        {% endfor %}
                    </div>
                    {% for subSectionName, subSection in sections.data if subSectionName in form|keys %}
                        {{ form_errors(form[subSectionName]) }}
                    {% endfor %}
                {% endif %}

                {% placeholder 'order_edit_section_' ~ sectionName ~ '_after' with {form: form} %}
            </td>
        {% endfor %}
    {% endif %}
{% endmacro %}

{% block oro_order_line_item_frontend_widget %}
    {% set isFreeFormProduct = form.vars.value is not empty and form.vars.value.product is empty and form.vars.value.freeFormProduct is not empty %}

    <td class="order-line-item-sku">
        <div class="order-line-item-type-product">
            {% if form.vars.value is not empty %}
                {{ form.vars.value.productSku }}
            {% endif %}
        </div>
    </td>
    <td class="order-line-item-type">
        <div class="order-line-item-type-product">
            {% if isFreeFormProduct %}
                {{ form.vars.value.freeFormProduct }}
            {% else %}
                {{ form_widget(form.product) }}
                {{ form_errors(form.product) }}
            {% endif %}
        </div>
    </td>

    {% set priceSection %}
        {% if form.vars.value.price is defined and form.vars.value.price is not null %}
            {% set priceValue = form.vars.value.price.value %}
            {% set price = form.vars.value.price %}
        {% else %}
            {% set priceValue = '' %}
        {% endif %}
        <div class="order-line-item-price-value" data-price="{{ priceValue }}">
            {% if price is defined %}{{ price|oro_format_price }}{% endif %}
        </div>
    {% endset %}

    {{ _self.render_form_sections(form.vars.sections, form, { price: priceSection }) }}
{% endblock %}

{% macro oro_order_discount_items_collection_item_prototype(widget) %}
    {% if 'collection' in widget.vars.block_prefixes %}
        {% set form = widget.vars.prototype %}
        {% set name = widget.vars.full_name ~ '[' ~ widget.vars.prototype.vars.name ~ ']' %}
        {% set disabled = widget.vars.disabled %}
        {% set allow_delete = widget.vars.allow_delete %}
    {% else %}
        {% if widget.vars.disallow_delete is defined and widget.vars.disallow_delete %}
            {% set allow_delete = false %}
        {% else %}
            {% set allow_delete = widget.parent.vars.allow_delete %}
        {% endif %}
        {% set form = widget %}
        {% set name = widget.vars.full_name %}
        {% set disabled = widget.parent.vars.disabled %}
    {% endif %}

    {% set page_component_options = form.vars.page_component_options|merge({
        'disabled': not allow_delete
    }) %}

    <tr data-content="{{ name }}" data-validation-optional-group {{ block('widget_container_attributes') }}
        class="order-discount-item"
        data-page-component-module="{{ form.vars.page_component }}"
        data-page-component-options="{{ page_component_options|json_encode }}"
        data-layout="separate">
        {{ form_widget(form) }}

        {% if allow_delete %}
            <td class="order-discount-item-remove">
                <button type="button" class="removeDiscountItem btn icons-holder"><i class="icon-remove"></i></button>
            </td>
        {% elseif widget.parent.vars.allow_delete %}
            <td></td>
        {% endif %}
    </tr>
{% endmacro %}

{% block oro_order_discount_items_collection_widget %}
    {% spaceless %}
        {% if prototype is defined %}
            {% set prototype_html = _self.oro_order_discount_items_collection_item_prototype(form) %}
        {% endif %}
        {% set attr = attr|merge({'class': (attr.class is defined ? attr.class ~ ' ' : '') ~ 'oro-discount-collection grid-container' }) %}
        {% set id = id ~ '_collection' %}
        <div class="row-oro">
            {% set prototype_name = form.vars.prototype_name %}
            <div {{ block('widget_container_attributes') }}>
                <table class="grid table-hover table table-bordered table-condensed">
                    <thead>
                    <tr>
                        <th class="order-discount-item-title"><span>{{ 'oro.order.orderdiscountitem.columns.title'|trans }}</span></th>
                        <th></th>
                        <th></th>
                        <th class="order-discount-item-description"><span>{{ 'oro.order.orderdiscountitem.columns.description'|trans }}</span></th>
                        {% if form.vars.allow_delete %}
                            <th class="order-discount-item-actions"></th>
                        {% endif %}
                    </tr>
                    </thead>
                    <tbody data-last-index="{{ form.children|length}}" data-prototype-name="{{ prototype_name }}"{% if prototype_html is defined %} data-prototype="{{ prototype_html|escape }}"{% endif %}>
                    {% if form.children|length %}
                        {% for child in form.children %}
                            {{ _self.oro_order_discount_items_collection_item_prototype(child) }}
                        {% endfor %}
                    {% elseif show_form_when_empty and prototype_html is defined %}
                        {{ prototype_html|replace({(prototype_name): '0'})|raw }}
                    {% endif %}
                    </tbody>
                </table>
            </div>

            {% if allow_add %}
                <a class="btn add-list-item" data-container=".oro-discount-collection tbody" href="javascript: void(0);"><i class="icon-plus"></i>{{ form.vars.add_label|default('oro.form.collection.add')|trans }}</a>
            {% endif %}
        </div>
    {% endspaceless %}
{% endblock %}

{% block oro_order_discount_item_widget %}
    <td>
        {{ form_widget(form.value) }}
        <span data-validation-ignore="">{{ form_widget(form.percent) }}</span>
        <span data-validation-ignore="">{{ form_widget(form.amount) }}</span>
    </td>
    <td class="discount-item-value-type">
        {{ form_widget(form.type) }}
    </td>
    <td class="discount-item-value-calculated">
        {% if (form.vars.value is not empty) %}
            {{ form.vars.value.amountPrice|oro_format_price }} ({{ form.vars.value.percent|number_format }}%)
        {% endif %}
    </td>
    <td>
        {{ form_widget(form.description) }}
    </td>
{% endblock %}

{% macro oro_order_shipping_tracking_collection_item_prototype(widget) %}
    {% if 'collection' in widget.vars.block_prefixes %}
        {% set form = widget.vars.prototype %}
        {% set name = widget.vars.prototype.vars.name %}
        {% set disabled = widget.vars.disabled %}
        {% set allow_delete = widget.vars.allow_delete %}
        {% set allow_add_after = widget.vars.allow_add_after %}
    {% else %}
        {% set form = widget %}
        {% set name = widget.vars.full_name %}
        {% set disabled = widget.parent.vars.disabled %}
        {% set allow_delete = widget.parent.vars.allow_delete %}
        {% set allow_add_after = widget.parent.vars.allow_add_after %}
        {% if widget.vars.allow_delete is defined %}
            {% set allow_delete = allow_delete and widget.vars.allow_delete %}
        {% endif %}
    {% endif %}
    {{ form_widget(form, {disabled: disabled}) }}
{% endmacro %}

{% block oro_order_shipping_tracking_collection_widget %}
    {% spaceless %}
        {% if prototype is defined %}
            {% set prototype_html = _self.oro_order_shipping_tracking_collection_item_prototype(form) %}
        {% endif %}
        {% set attr = attr|merge({'class': (attr.class is defined ? attr.class ~ ' ' : '') ~ 'oro-item-collection collection-fields-list' }) %}
        {% set id = id ~ '_collection' %}
        <div class="row-oro">
            {% set prototype_name = form.vars.prototype_name %}
            <div>
                <table class="grid table table-condensed table-bordered table-hover">
                    <thead>
                    <th>{{ 'oro.order.shipping_trackings.method.label'|trans }}</th>
                    <th>{{ 'oro.order.shipping_trackings.number.label'|trans }}</th>
                    <th></th>
                    </thead>
                    <tbody {{ block('widget_container_attributes') }} data-last-index="{{ form.children|length}}" data-row-count-add="{{ form.vars.row_count_add }}" data-prototype-name="{{ prototype_name }}"{% if prototype_html is defined %} data-prototype="{{ prototype_html|escape }}"{% endif %}>
                    {% if form.children|length %}
                        {% for child in form.children %}
                            {{ _self.oro_order_shipping_tracking_collection_item_prototype(child) }}
                        {% endfor %}
                    {% elseif show_form_when_empty and prototype_html is defined %}
                        {% for i in 0..(form.vars.row_count_initial - 1) %}
                            {{ prototype_html|replace({(prototype_name): i})|raw }}
                        {% endfor %}
                    {% endif %}
                    </tbody>
                </table>
            </div>
            {% if allow_add %}
                <a class="btn add-list-item" href="javascript: void(0);"><i class="icon-plus"></i>{{ form.vars.add_label|default('oro.form.collection.add')|trans }}</a>
            {% endif %}
        </div>
    {% endspaceless %}
{% endblock %}

{% block oro_order_shipping_tracking_widget %}
    {% set name = form.vars.full_name %}

    <tr data-content="{{ name }}" class="oro-multiselect-holder grid-row">
        <td>{{ form_widget(form.method, { 'attr': {'class': 'order-shipping-tracking-method', 'style': 'width: 100px'}}) }}</td>
        <td>{{ form_widget(form.number, { 'attr': {'class': 'order-shipping-tracking-number', 'style': 'width: 150px'} }) }}</td>
        {% if form.parent.vars.allow_delete %}
            <td><button class="removeRow btn icons-holder" type="button" data-related="{{ name }}"><i class="icon-remove"></i></button></td>
        {% endif %}
    </tr>

{% endblock %}

{% block oro_select_switch_input_widget %}
    <div
        {% import 'OroUIBundle::macros.html.twig' as UI %}
        {{ UI.renderPageComponentAttributes({
            module: 'oroorder/js/app/components/select-switch-input-component',
            options: {
                mode: form.vars.mode,
                choices: form.vars.choices,
                value: form.vars.value
            }
        }) }}>
        <div class="input-group select-switch-input-container">
            {{ form_widget(form) }}
            <span class="input-group-btn">
                <button class="add-on btn input-to-select-btn"><i class="icon-bars"></i></button>
            </span>
            <span class="input-group-btn">
                <button class="add-on btn select-to-input-btn"><i class="icon-plus"></i></button>
            </span>
        </div>
        {{ form_errors(form) }}
    </div>
{% endblock %}
