{% block oro_order_product_kit_item_line_item_widget %}
    <div>
        {{ form_row(form.product, { 'label': false }) }}
        {{ form_row(form.quantity, { 'label': 'oro.order.orderlineitem.draft_form.kit_item.quantity.label' }) }}
        <div class="control-group control-group-oro_currency_price">
            <div class="control-label wrap">
                {{ form_label(form.price, 'oro.order.orderlineitem.draft_form.kit_item.price.label'|trans({ '%currency%': oro_currency_symbol(currency) }), { 'raw_label': true }) }}
            </div>
            <div class="controls" data-page-component-view="oropricing/js/app/views/line-item-product-prices-extended-view">
                {{ form_widget(form.price) }}
                {{ form_help(form.price) }}
                {{ form_errors(form.price) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block _oro_order_line_item_draft_price_widget %}
    <div class="multicurrency-fields-wrapper value-field input-append">
        {{ form_widget(form.value) }}
        {{ form_widget(form.currency) }}
        {{ form_widget(form.is_price_changed) }}
        {{ form_errors(form.value) }}
        {{ form_errors(form.currency) }}
        {{ form_errors(form.is_price_changed) }}
    </div>
{% endblock %}

{% block _oro_order_line_item_draft_kitItemLineItems_entry_price_widget %}
    <div class="multicurrency-fields-wrapper value-field input-append">
        {{ form_widget(form.value, {
            'attr': {
                'data-draft-update-field': ''
            }
        }) }}
        {{ form_widget(form.currency) }}
        {{ form_widget(form.is_price_changed) }}
        {{ form_errors(form.value) }}
        {{ form_errors(form.currency) }}
        {{ form_errors(form.is_price_changed) }}
    </div>
{% endblock %}

{% block _oro_order_line_item_draft_kitItemLineItems_widget %}
    <table class="order-draft-line-item-kit-item-collection table table-borderless">
        <tbody>
        {%- for child in form -%}
            {{ form_widget(child) }}
        {%- endfor -%}
        </tbody>
    </table>
{% endblock %}

{% block _oro_order_line_item_draft_kitItemLineItems_entry_widget %}
    {% import '@OroUI/macros.html.twig' as UI %}

    <tr
        data-layout="separate"
        {% if is_optional %}data-validation-optional-group{% endif %}
            {{ UI.renderPageComponentAttributes({
                view: 'oroorder/js/app/views/kit-item-line-item-view',
                options: {
                    minimumQuantity: minimum_quantity ?: 1.0,
                    maximumQuantity: maximum_quantity ?: null,
                    modelAttr: {
                        unit: unit_code,
                        product_units: {
                            (unit_code): unit_precision
                        }
                    }
                }
            }) }}
            class="order-line-kit-item">
        <td class="line-item-label">
            {{ form_label(form, label, {translatable_label: false}) }}
        </td>
        <td class="line-item-product">
            <div class="fields-row">
                {{ form_widget(form.product, {
                    'attr': {
                        'data-draft-update-field': ''
                    }
                }) }}
                {{ form_errors(form.product) }}
            </div>
        </td>
        <td class="line-item-quantity-label">
            {% set unit_precision_info = oro_format_product_unit_precision_label(unit_code|default('N/A'|trans), unit_precision|default(0)) %}
            {{ form_label(form.quantity, 'oro.order.orderproductkititemlineitem.quantity.short_label'|trans ~ ':', {tooltip: 'oro.order.orderproductkititemlineitem.quantity.form.tooltip'|trans({'{{ unit_precision_info }}': unit_precision_info})}) }}
        </td>
        <td class="line-item-quantity">
            <div class="fields-row">
                {{ form_widget(form.quantity, {
                    attr: {
                        'data-floating-error': true,
                        'data-precision': unit_precision,
                        'class': 'line-item-quantity-field',
                        'data-draft-update-field': ''
                    }
                }) }}
                {{ form_errors(form.quantity) }}
            </div>
        </td>
        <td class="line-item-price-label">
            {{ form_label(
                form.price,
                'oro.order.orderproductkititemlineitem.price.form_label'|trans({'%currency%': oro_currency_symbol(currency)})|oro_html_sanitize ~ ':',
                {'raw_label': true}
            ) }}
        </td>
        <td class="line-item-price">
            <div
            {{ UI.renderPageComponentAttributes({
                view: 'oropricing/js/app/views/line-item-product-prices-extended-view'
            }) }}
            >
                {{ form_widget(form.price) }}
                {{ form_errors(form.price) }}
            </div>
        </td>
    </tr>
{% endblock %}
