{% block product_price_container %}
    {% if product.prices is defined %}
        {% set productPrices = product.prices %}
    {% endif %}
    {% if productPrices is not null %}
        {% do block|merge_context({
            productPrices: is_configurable_product_type(product.type) ? [] : productPrices,
            product: product,
            isPriceUnitsVisible: isPriceUnitsVisible
        }) %}
    {% endif %}

    {% set attr = layout_attr_defaults(attr, {
        'data-page-component-module': 'oroui/js/app/components/view-component',
        '~data-page-component-options': {
            view: 'oropricing/js/app/views/base-product-prices-view',
            changeQuantity: true,
            modelAttr: {
                prices: productPrices
            }
        },
    }) %}

    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block product_price %}
    {% set buttonsId = id|replace({'_price': ''}) ~ '_line_item_form_buttons' %}
    {% if blocks[buttonsId] is defined and blocks[buttonsId].children is not empty %}
        {% if productPrices %}
            {% set attr = layout_attr_defaults(attr, {
                '~class': ' product-price__main'
            }) %}
            <div {{ block('block_attributes') }}>
                {{ block_widget(block) }}
            </div>
        {% else %}
            {{ 'oro.pricing.frontend.product_prices.empty_prices'|trans }}
        {% endif %}
    {% endif %}
{% endblock %}

{% block product_price_value %}
    <div {{ block('block_attributes') }}
            data-name="price">
        {% if not is_configurable_product_type(product.type) %}
            <span class="product-price__label">{{ 'oro.pricing.frontend.pricelist.index.your_price'|trans }}</span>
            {% set firstPrice = productPrices|first %}
            <span class="product-price__main-box">
                <span class="product-price__value" data-name="price-value" itemscope="itemscope" itemtype="http://schema.org/Offer" itemprop="offers">
                    {% spaceless %}
                    {% if firstPrice %}
                        <span itemprop="priceCurrency" content="{{ firstPrice.currency }}">{{ oro_currency_symbol(firstPrice.currency) }}</span>
                        <span itemprop="price" content="{{ firstPrice.price }}">{{ (firstPrice.price|number_format(2, '.', ',')) }}</span>
                    {% endif %}
                    {% endspaceless %}
                </span>
                <span> / </span>
                <span class="product-price__unit" data-name="unit">
                    <span class="product-price__unit-full">
                        {{ firstPrice ? firstPrice.formatted_unit }}
                    </span>
                    <span class="product-price__unit-short">
                        {{ firstPrice ? firstPrice.unit }}
                    </span>
                </span>
            </span>
        {% endif %}
    </div>
{% endblock %}

{% block product_price_not_found %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' hidden'
    }) %}
    {% if not is_configurable_product_type(product.type) %}
        <div {{ block('block_attributes') }}
                data-name="price-not-found">
            {% if productPrices %}
                {{ 'oro.pricing.frontend.product_prices.price_not_found'|trans }}
            {% else %}
                {{ 'oro.pricing.frontend.product_prices.empty_prices'|trans }}
            {% endif %}
        </div>
    {% endif %}
{% endblock %}

{% block product_price_hint %}
    {% if productPrices %}
        {% set attr = layout_attr_defaults(attr, {
        'data-name': 'prices-hint',
        'data-placement': 'bottom',
        'data-close': 'false',
        'data-trigger': 'hover',
        'data-container': 'body',
        'data-class': 'prices-hint-content'
        }) %}
    {% endif %}

    <div {{ block('block_attributes') }}
            class="product-price__hint">
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block product_price_hint_content %}
    <div data-name="prices-hint-content" class="hidden">
        <table class="table">
            <thead>
            <tr>
                <th class="text-uppercase">qty</th>
                <th >Unit Price</th>
            </tr>
            </thead>
            <tbody>
            {% set shownUnit = '' %}
            {% for price in productPrices %}
                {% if shownUnit != price.unit %}
                    {% set shownUnit = price.unit %}
                    <tr>
                        <td colspan="2" class="text-center">
                            {% if loop.index > 1 %}<br/>{% endif %}
                            <strong>{{ shownUnit|oro_format_product_unit_label|capitalize }}</strong>
                        </td>
                    </tr>
                {% endif %}
                <tr>
                    <td>
                        {{ price.quantity }}
                    </td>
                    <td>
                        {{ price.formatted_price }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block product_price_listed %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' product-price__listed'
    }) %}
    {% if productPrices %}
        <div {{ block('block_attributes') }}>
                <span class="product-price__listed-label">{{ 'oro.pricing.frontend.pricelist.index.listed_price'|trans }}</span>
                {% set pricesPerUnits = [] %}
                {% for price in productPrices %}
                    {% set unit = price.unit %}
                    {% if pricesPerUnits[unit] is not defined or price.quantity < pricesPerUnits[unit].quantity %}
                        {% set pricesPerUnits = pricesPerUnits|merge({
                            (unit): price
                        }) %}
                    {% endif %}
                {% endfor %}
                {% for price in pricesPerUnits %}
                    <span class="product-price__listed-box"
                          title="{{ 'oro.pricing.productprice.applicable_from'|trans({'%amount%': price.quantity})|raw }}">
                        <span class="product-price__listed-value">{{ price.formatted_price }}</span>
                        <span> / </span>
                        <span class="product-price__unit">
                            <span class="product-price__unit-full">
                                {{ price.formatted_unit}}
                            </span>
                            <span class="product-price__unit-short">
                                {{ price.unit}}
                            </span>
                        </span>
                    </span>
                {% endfor %}
        </div>
    {% endif %}
{% endblock %}

{% block product_price_table %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' product-prices'
    }) %}
    <div {{ block('block_attributes') }}>
        <table class="product-prices__table">
            <thead class="product-prices__thead">
            <tr class="product-prices__tr">
                <th style="width: 40%" class="product-prices__th text-uppercase">qty</th>
                <th style="width: 60%" class="product-prices__th">Unit Price</th>
            </tr>
            </thead>
            {{ block_widget(block) }}
        </table>
    </div>
{% endblock %}

{% block product_price_table_body %}
    {% set attr = layout_attr_defaults(attr, {
        'data-page-component-module': 'oroui/js/app/components/view-component',
        '~data-page-component-options': {
            view: 'oropricing/js/app/views/base-product-prices-view',
            changeQuantity: true,
            modelAttr: {
                prices: productPrices
            }
        },
        '~class': ' product-prices__tbody'
    }) %}

    {% if (productPrices|length) %}
        {% set attr = layout_attr_defaults(attr, {
            'itemprop': 'offers',
            'itemscope': '',
            'itemtype':'http://schema.org/Offer'
        }) %}
    {% endif %}

    <tbody {{ block('block_attributes') }}>
        {% set currentUnit = '' %}
        {% for price in productPrices %}
            {% if currentUnit != price.formatted_unit %}
                {% set currentUnit = price.formatted_unit %}
                <tr class="product-prices__tr">
                    <td colspan="2" class="product-prices__td">
                        {% if loop.index > 1 %}<br/>{% endif %}
                        {% if isPriceUnitsVisible %}
                            <strong>{{ currentUnit|capitalize }}</strong>
                        {% endif %}
                    </td>
                </tr>
            {% endif %}
            <tr class="product-prices__tr" itemprop="priceSpecification" itemscope itemtype="http://schema.org/UnitPriceSpecification">
                <td class="product-prices__td" itemprop="referenceQuantity" itemscope itemtype="http://schema.org/QuantitativeValue">
                    <span itemprop="value" content="{{ price.quantity }}">{{ price.quantity }}</span>
                    <meta itemprop="unitCode" content="{{ currentUnit }}"/>
                </td>
                <td class="product-prices__td">
                    <span itemprop="priceCurrency" content="{{ price.currency }}">{{ oro_currency_symbol(price.currency) }}</span>
                    <span itemprop="price">{{ (price.price|number_format(2, '.', ',')) }}</span>
                </td>
            </tr>
        {% endfor %}
    </tbody>
{% endblock %}
