{% block __orob2b_rfp_frontend_request_edit__rfp_page_widget %}
    {% set attr = attr|merge({
        class: attr.class|default('') ~ " {{ class_prefix }} {{ class_prefix }}_full"
    }) %}
    <div{{ block('block_attributes') }}>{{ block_widget(block) }}</div>
{% endblock %}

{% block __orob2b_rfp_frontend_request_edit__rfp_form_container_widget %}
    {% set attr = attr|merge({
        class: attr.class|default('') ~ " {{ class_prefix }}__form_container"
    }) %}
    <div{{ block('block_attributes') }}>{{ block_widget(block) }}</div>
{% endblock %}

{% block __orob2b_rfp_frontend_request_edit__rfp_page_title_widget %}
    {% set attr = attr|merge({
        class: attr.class|default('') ~ " {{ class_prefix }}__title"
    }) %}
    <div{{ block('block_attributes') }}>{{ block_widget(block) }}</div>
{% endblock %}

{% block __orob2b_rfp_frontend_request_edit__rfp_form_start_widget %}
    {% set attr = attr|merge({
        class: attr.class|default('') ~ " {{ class_prefix }}__form {{ class_prefix }}__form_register"
    }) %}
    {{ block('form_start_widget') }}
{% endblock %}

{% block __orob2b_rfp_frontend_request_edit__rfp_form_fields_widget %}
    {{ form_row(form.firstName) }}
    {{ form_row(form.lastName) }}
    {{ form_row(form.email)  }}
    {{ form_row(form.phone) }}
    {{ form_row(form.company) }}
    {{ form_row(form.role) }}
    {{ form_row(form.note) }}
    {{ form_row(form.poNumber) }}
    {{ form_row(form.shipUntil, { 'attr': {'class': 'input input_md'} }) }}
    {{ form_row(form.assignedAccountUsers) }}
{% endblock %}

{% block __orob2b_rfp_frontend_request_edit__rfp_form_lineitems_widget %}
    {{ form_widget(form.requestProducts) }}
    {{ form_errors(form.requestProducts) }}
{% endblock %}

{% block __orob2b_rfp_frontend_request_edit__rfp_form_actions_create_widget %}
    <div class="rfq-widget_block text-right">
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block __orob2b_rfp_frontend_request_edit__rfp_form_actions_back_widget %}
    <div class="rfq-widget_block text-right">
        {{ block_widget(block) }}
    </div>
{% endblock %}


