{% extends 'OroUIBundle:actions:view.html.twig' %}
{% import 'OroDataGridBundle::macros.html.twig' as dataGrid %}
{% import 'OroProductBundle::image_macros.html.twig' as Image %}
{% import 'OroEntityConfigBundle::macros.html.twig' as entityConfig %}
{% import 'OroUIBundle::macros.html.twig' as UI %}
{% import 'OroProductBundle:Product/RelatedItems:macros.html.twig' as relatedProductsDataGrid %}

{% oro_title_set({params : {"%sku%": entity.sku|default('N/A'|trans), "%name%": entity.defaultName.string|default('N/A'|trans) }}) %}

{% block pageHeader %}
    {% set breadcrumbs = {
        'entity': entity,
        'indexPath': path('oro_product_index'),
        'indexLabel': 'oro.product.entity_plural_label'|trans,
        'entityTitle': entity.sku ~ ' - ' ~ entity.defaultName
    } %}
    {{ parent() }}
{% endblock pageHeader %}

{% block breadcrumbs %}
    {{ parent() }}
    <span class="page-title__status">
        {% if not entity.status %}
            {# status not defined #}
        {% elseif entity.status == constant('STATUS_ENABLED', entity) %}
            {{ UI.badge('oro.product.status.enabled'|trans, 'enabled') }}
        {% elseif entity.status == constant('STATUS_DISABLED', entity) %}
            {{ UI.badge('oro.product.status.disabled'|trans, 'disabled') }}
        {% endif %}
    </span>
{% endblock breadcrumbs %}

{% block content_data %}
    {% set productInformationWidget %}
        {{ oro_widget_render({
            'widgetType': 'block',
            'url': path('oro_product_info', {id: entity.id})
        }) }}
    {% endset %}
    {% set productDescription %}
        {{ UI.renderCollapsibleHtmlProperty('oro.product.descriptions.label'|trans, entity.defaultDescription|oro_html_sanitize, entity, 'defaultDescription', 'More', 'Less') }}
    {% endset %}
    {% set productShortDescription %}
        {{ UI.renderCollapsibleHtmlProperty('oro.product.short_descriptions.label'|trans, entity.defaultShortDescription|oro_html_sanitize, entity, 'defaultShortDescription', 'More', 'Less') }}
    {% endset %}

    {% set productInfo %}
        {% embed '@OroProduct/Product/widget/info.html.twig' with {'product': entity} %}
            {% block sku_and_name %}{% endblock %}
            {% block images %}{% endblock %}
        {% endembed %}
    {% endset %}

    {% set dataBlocks = {
        'general': {
            'title': 'oro.product.sections.general'|trans,
            'subblocks': [
                {
                    'data' : {
                        'sku': UI.renderProperty('oro.product.sku.label'|trans, entity.sku),
                        'names': UI.renderProperty('oro.product.names.label'|trans, entity.defaultName),
                        'info': productInfo,
                        'featured': UI.renderProperty('oro.product.featured.label'|trans, entity.featured ? 'oro.product.featured.yes'|trans : 'oro.product.featured.no'|trans),
                        'newArrival': UI.renderProperty('oro.product.new_arrival.label'|trans, entity.newArrival ? 'oro.product.new_arrival.yes'|trans : 'oro.product.new_arrival.no'|trans),
                        'brand': UI.renderProperty('oro.product.brand.label'|trans, entity.brand),
                    }
                },
                {'data' : {
                    'shortDescriptions': productShortDescription,
                    'descriptions': productDescription,
                }}
            ]
        }
    } %}

    {% if entity.isConfigurable %}
        {% set dataBlocks = dataBlocks|merge([{
            'title' : 'oro.product.sections.productVariants'|trans,
            'priority': 100,
            'subblocks': [{
                'title' : null,
                'useSpan': false,
                'data' : [
                    dataGrid.renderGrid(
                        'product-product-variants-view',
                        {'parentProduct': entity.id},
                        {cssClass: 'inner-grid'}
                    )
                ]
            }]
        }] ) %}
    {% endif %}

    {% set imagesData = '' %}
    {% if entity.images.count %}
        {% set imagesData = UI.renderHtmlProperty(
                'oro.product.images.label'|trans,
                Image.renderProductImages(entity.images, imageTypes),
                null,
                null,
                {
                    rootClass: 'attribute-item--mobile-full'
                }
            )
        %}
    {% else %}
        {% set imagesData %}
            <div class="no-data">
                {{ 'oro.product.form.no_images'|trans }}
            </div>
        {% endset %}
    {% endif %}

    {% set dataBlocks = dataBlocks|merge({
        'images': {
            'title': 'oro.product.sections.images'|trans,
            'priority': 200,
            'subblocks': [{
                'data': {'images': imagesData}
            }]
        }
    }) %}

    {% set unitOfQuantityData = {} %}

    {% if oro_is_product_primary_unit_visible(entity) %}
        {% set primaryUnitPrecisionElement %}
            {{ 'oro.product.productunitprecision.representation'|transchoice(
            entity.primaryUnitPrecision.precision,
            {
                '{{ label }}': ('oro.product_unit.'~ entity.primaryUnitPrecision.unit.code ~'.label.full')|trans
            }
            ) }}
        {% endset %}
        {% set unitOfQuantityData = { 'unitOfQuantity' : UI.renderProperty('oro.product.productunitprecision.unit.label'|trans, primaryUnitPrecisionElement) } %}
    {% endif %}

    {% if entity.additionalUnitPrecisions.count %}
        {% set titles = [
            'oro.product.productunitprecision.unit.label'|trans,
            'oro.product.productunitprecision.precision.label'|trans,
            'oro.product.productunitprecision.of'|trans ~ ' ' ~('oro.product_unit.'~ entity.primaryUnitPrecision.unit.code ~'.label.full')|trans,
            'oro.product.productunitprecision.sell.label'|trans
        ] %}
        {% set rows = [] %}
        {% for unitPrecision in entity.additionalUnitPrecisions %}
            {% set sell = unitPrecision.sell ? 'oro.product.productunitprecision.sell_yes.label'|trans : 'oro.product.productunitprecision.sell_not.label'|trans %}
            {% set row = [
                ('oro.product_unit.'~ unitPrecision.unit.code ~'.label.full')|trans,
                unitPrecision.precision,
                unitPrecision.conversionRate,
                sell
            ] %}
            {% set rows = rows|merge([row]) %}
        {% endfor %}

        {% set unitOfQuantityData = unitOfQuantityData|merge({
            'additionalUnitPrecisions' : UI.renderHtmlProperty(
                'oro.product.additional_unit_precisions.label'|trans,
                UI.renderTable(titles,rows,"grid table unit-table"),
                null,
                null,
                {
                    rootClass: 'attribute-item--mobile-full'
                }
            )
        }) %}

    {% endif %}

    {% if unitOfQuantityData is not empty %}
        {% set dataBlocks = dataBlocks|merge({
            'unit_of_quantity': {
                'title' : 'oro.product.primary_unit_precision.label'|trans,
                'priority': 300,
                'subblocks': [{
                    'data': unitOfQuantityData
                }]
            }
        }) %}
    {% endif %}

    {% set dataBlocks = dataBlocks|merge({
        'inventory': {
            'title': 'oro.product.sections.inventory'|trans,
            'priority': 400,
            'subblocks': [{
                'title': '',
                'data': {
                    'inventory_status': UI.renderHtmlProperty('oro.product.inventory_status.label'|trans, '<span class="product-inventory-status-' ~ entity.inventoryStatus.id ~'">' ~ entity.inventoryStatus|e ~ '</span>')
                }
            }]
        }
    }) %}

    {% set relatedItemsTabsItems = [] %}
    {% set relatedItemsSubblocks = [] %}

    {% if relatedProductsEnabled and resource_granted('oro_related_products_edit') %}
        {% set relatedItemsTabsItems = relatedItemsTabsItems|merge([{
            'id': 'products-related-products-view',
            'label': 'oro.product.tabs.relatedProducts'|trans}
        ]) %}

        {% set relatedItemsIds = get_related_products_ids(entity) %}
        {% set relatedGrid %}
            {% if relatedItemsIds is not empty %}
                {{
                    relatedProductsDataGrid.renderGrid('products-related-products-view',
                    {'relatedItemsIds': relatedItemsIds},
                    {cssClass: 'inner-grid'})
                }}
            {% else %}
                <div id="products-related-products-view" class="tab-content">
                    <div class="no-data">
                        {{ 'oro.product.related_products.no_entities'|trans }}
                    </div>
                </div>
            {% endif %}
        {% endset %}

        {% set relatedItemsSubblocks = relatedItemsSubblocks|merge([
            relatedGrid,
            placeholder('oro_product_related_items_view', {'entity':  entity}),
        ]) %}
    {% endif %}

    {% if upsellProductsEnabled and resource_granted('oro_upsell_products_edit') %}
        {% set relatedItemsTabsItems = relatedItemsTabsItems|merge([{
            'id': 'products-upsell-products-view',
            'label': 'oro.product.tabs.upsellProducts'|trans
        }]) %}

        {% set relatedItemsIds = get_upsell_products_ids(entity) %}
        {% set relatedGrid %}
            {% if relatedItemsIds is not empty %}
                {{
                    relatedProductsDataGrid.renderGrid('products-upsell-products-view',
                    {'relatedItemsIds': relatedItemsIds},
                    {cssClass: 'inner-grid'})
                }}
            {% else %}
                <div id="products-upsell-products-view" class="tab-content">
                    <div class="no-data">
                        {{ 'oro.product.upsell_products.no_entities'|trans }}
                    </div>
                </div>
            {% endif %}
        {% endset %}

        {% set relatedItemsSubblocks = relatedItemsSubblocks|merge([
            relatedGrid,
            placeholder('oro_product_upsell_products_view', {'entity':  entity})
        ]) %}
    {% endif %}

    {% if relatedItemsSubblocks|length %}
        {% set headerLinkContent = '' %}
        {% if resource_granted('oro_product_update') %}
            {% set headerLinkContent = UI.link({
                path: path('oro_product_related_items_update', {id: entity.id}),
                label: 'oro.product.quick_edit.label'|trans,
                iCss: 'fa-edit',
                class: 'quick-editable'
            }) %}
        {% endif %}

        {% if relatedItemsTabsItems|length == 1 %}
            {% set relatedItemsTabs = '' %}
        {% else %}
            {% set relatedItemsTabs %}
                <div {{ UI.renderPageComponentAttributes({
                    module: 'oroproduct/js/app/components/related-items-tabs-component',
                    options: {
                        'data': relatedItemsTabsItems
                    }
                }) }}></div>
            {% endset %}
        {% endif %}

        {% set dataBlocks = dataBlocks|merge({
            'relatedItems': {
                'title': get_related_items_translation_key()|trans,
                'headerLinkContent': headerLinkContent,
                'priority': 450,
                'subblocks': [{
                    'data': [relatedItemsTabs]|merge(relatedItemsSubblocks)
                }]
            }
        }) %}
    {% endif %}

    {% if pageTemplate == null %}
        {% set pageTemplatesData %}
            <div class="no-data">
                {{ 'oro.product.form.no_page_template'|trans }}
            </div>
        {% endset %}
    {% else %}
        {% set pageTemplatesData = UI.renderProperty(
            'oro.product.page_template.label'|trans,
            pageTemplate.label
        ) %}
    {% endif %}

    {% set dataBlocks = dataBlocks|merge({
        'design': {
            'title': 'oro.product.sections.design'|trans,
            'priority': 700,
            'subblocks': [{
                'data': {'pageTemplate': pageTemplatesData }
            }]
        }
    }) %}

    {% set id = 'product-view' %}
    {% set data = {'dataBlocks': dataBlocks} %}

    {{ parent() }}
{% endblock content_data %}
