{% extends 'OroUIBundle:actions:view.html.twig' %}
{% import 'OroDataGridBundle::macros.html.twig' as dataGrid %}
{% import 'OroProductBundle::image_macros.html.twig' as Image %}
{% import 'OroEntityConfigBundle::macros.html.twig' as entityConfig %}
{% import 'OroUIBundle::macros.html.twig' as UII %}
{% import 'OroRedirectBundle::macros.html.twig' as Redirect %}

{% oro_title_set({params : {"%sku%": entity.sku|default('N/A'|trans), "%name%": entity.defaultName.string|default('N/A'|trans) }}) %}

{% block pageHeader %}
    {% set breadcrumbs = {
        'entity': entity,
        'indexPath': path('oro_product_index'),
        'indexLabel': 'oro.product.entity_plural_label'|trans,
        'entityTitle': entity.sku ~ ' - ' ~ entity.defaultName
    } %}
    {{ parent() }}
{% endblock pageHeader %}

{% block breadcrumbs %}
    {{ parent() }}
    <div class="pull-left">
        {% if not entity.status %}
            {# status not defined #}
        {% elseif entity.status == constant('STATUS_ENABLED', entity) %}
            <div class="badge badge-enabled status-enabled"><i class="icon-status-enabled fa-circle"></i>{{ 'oro.product.status.enabled'|trans }}</div>
        {% elseif entity.status == constant('STATUS_DISABLED', entity) %}
            <div class="badge badge-disabled status-disabled"><i class="icon-status-disabled fa-circle"></i>{{ 'oro.product.status.disabled'|trans }}</div>
        {% endif %}
    </div>
{% endblock breadcrumbs %}

{% block content_data %}
    {% set productInformationWidget %}
        {{ oro_widget_render({
            'widgetType': 'block',
            'url': path('oro_product_info', {id: entity.id})
        }) }}
    {% endset %}
    {% set productDescription %}
        {{ UI.renderHtmlProperty('oro.product.descriptions.label'|trans, entity.defaultDescription) }}
    {% endset %}
    {% set productShortDescription %}
        {{ UI.renderHtmlProperty('oro.product.short_descriptions.label'|trans, entity.defaultShortDescription) }}
    {% endset %}

    {% set productInfo %}
        {% embed '@OroProduct/Product/widget/info.html.twig' with {'product': entity} %}
            {% block sku_and_name %}{% endblock %}
            {% block images %}{% endblock %}
        {% endembed %}
    {% endset %}

    {% set dataBlocks = {
        'general': {
            'title': 'oro.product.sections.general'|trans,
            'class': 'active',
            'subblocks': [
                {
                    'data' : {
                        'sku': UI.renderProperty('oro.product.sku.label'|trans, entity.sku),
                        'names': UI.renderProperty('oro.product.names.label'|trans, entity.defaultName),
                        'info': productInfo,
                        'generatedSugs': Redirect.renderGeneratedSlugs(entity.slugs)
                    }
                },
                {'data' : {
                    'descriptions': productDescription,
                    'shortDescriptions': productShortDescription
                }}
            ]
        }
    } %}

    {% if entity.isConfigurable %}
        {% set dataBlocks = dataBlocks|merge([{
            'title' : 'oro.product.sections.productVariants'|trans,
            'subblocks': [{
                'title' : null,
                'useSpan': false,
                'data' : [
                    dataGrid.renderGrid(
                        'product-product-variants-view',
                        {'parentProduct': entity.id},
                        { cssClass: 'inner-grid' }
                    )
                ]
            }]
        }] ) %}
    {% endif %}

    {% set dataBlocks = dataBlocks|merge({
        'inventory': {
            'title': 'oro.product.sections.inventory'|trans,
            'priority': 5,
            'subblocks': [{
                'title': '',
                'data': {
                    'inventory_status': UI.renderProperty('oro.product.inventory_status.label'|trans, entity.inventoryStatus)
                }
            }]
        }
    }) %}

    {% set imagesData = '' %}
    {% if entity.images.count %}
        {% set imagesData = UI.renderHtmlProperty(
                'oro.product.images.label'|trans,
                Image.renderProductImages(entity.images, imageTypes)
            )
        %}
    {% else %}
        {% set imagesData = 'oro.product.form.no_images'|trans %}
    {% endif %}

    {% set dataBlocks = dataBlocks|merge({
        'images': {
            'title': 'oro.product.sections.images'|trans,
            'priority': 0,
            'subblocks': [{
                'data': {'images': imagesData}
            }]
        }
    }) %}

    {% if pageTemplate == null %}
        {% set pageTemplatesData = 'oro.product.form.no_page_template'|trans %}
    {% else %}
        {% set pageTemplatesData = UI.renderHtmlProperty(
            'oro.product.page_template.label'|trans,
            pageTemplate.label
        ) %}
    {% endif %}

    {% set dataBlocks = dataBlocks|merge({
        'design': {
            'title': 'oro.product.sections.design'|trans,
            'priority': 0,
            'subblocks': [{
                'data': {'pageTemplate': pageTemplatesData }
            }]
        }
    }) %}

    {% set id = 'product-view' %}
    {% set data = {'dataBlocks': dataBlocks} %}

    {{ parent() }}
{% endblock content_data %}
