{% block shipping_methods_widget %}
    {% set currentShippingMethod = currentShippingMethod|default(null) %}
    {% set currentShippingMethodType = currentShippingMethodType|default(null) %}
    <div class="{{ class_prefix }}__form" data-content="shipping_method_form">
        <div class="{{ class_prefix }}__form__row">
            <div class="{{ class_prefix }}__form__col form__col_x6" data-shipping-method-forms>
                {% if methods|length > 0 %}
                    <span class="{{ class_prefix }}__form__label">{{ 'oro.shipping.methods.select_method'|trans }}<sup class="red">*</sup></span>
                    {% for name, method in methods if methods is defined and method is iterable %}

                        {% if method.types is defined and method.types|length > 0 %}
                            <div class="fs13 method_title">
                            {% if method.isGrouped %}
                                <span class="checkbox_custom__text fs13">{{ method.label|trans }}</span>
                            {% endif %}
                            </div>
                            {% for type in method.types if method.types is defined and type is iterable %}
                                {% if type.price %}
                                    {% set selected = currentShippingMethodType == type.identifier %}
                                    <div class="{{ class_prefix }}__form__radio" data-item-container>
                                        <label class="custom-radio custom-radio--large {% if selected %}checked{% endif %}" data-radio tabindex="0">
                                            <input class="custom-radio__control"
                                                   type="radio" name="shippingMethodType" value="{{ type.identifier }}" {% if selected%}checked="checked"{% endif %}
                                                   data-shipping-method="{{ method.identifier }}" data-shipping-price="{{ type.price.value }}" data-choice="{{ type.identifier }}" />
                                            <span class="custom-radio__text">{{ type.label|trans }}: <strong>{{ type.price|oro_format_price }}</strong></span>
                                        </label>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                {% else %}
                    <span class="{{ class_prefix }}__form__label notification notification_xmd notification_alert notification-radiused mb1-md" >{{ 'oro.shipping.methods.no_method'|trans }}</span>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
