{% block action_line_buttons_widget %}
    <ul {{ block('block_attributes') }} >
        {{ block_widget(block) }}
    </ul>
{% endblock %}

{% block action_button_widget %}
    {% block button %}
        <li>
            {% block link %}
                <a {{ block('block_attributes') }}>
                    <i class="{{ buttonOptions.icon|default('') }} {{ buttonOptions.iCss|default('') }} hide-text">{{ linkLabel }}</i>
                    {{ linkLabel|trim }}
                </a>
            {% endblock %}
        </li>
    {% endblock %}
{% endblock %}
