{% block action_line_buttons_widget %}
    <ul {{ block('block_attributes') }} >
        {{ block_widget(block) }}
    </ul>
{% endblock %}


{% block action_combined_buttons_widget %}
    <div{{ block('block_attributes') }} {% if (div_class is defined) %}class="{{ div_class }}"{% endif %} >
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block action_dropdown_toggle_widget %}
    <a href="#" class="dropdown-toggle{% if (class is defined) %} ~' '{{ class }}{% endif %}"
       data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        <i class="material-icons">arrow_drop_down</i>
    </a>
{% endblock %}

{% block action_button_widget %}
    {% block button %}
        {% if only_link is not defined %}<li>{% endif %}
        {% block link %}
            <a {{ block('block_attributes') }}>
                {% if hide_icon is not defined %}
                    <i class="{{ buttonOptions.icon|default('') }} {{ buttonOptions.iCss|default('') }} hide-text">{{ linkLabel }}</i>
                {% endif %}
                {{ linkLabel|trim }}
            </a>
        {% endblock %}
        {% if only_link is not defined %}</li>{% endif %}
    {% endblock %}
{% endblock %}