{% block action_line_buttons_widget %}
    <ul {{ block('block_attributes') }} >
        {{ block_widget(block) }}
    </ul>
{% endblock %}

{% block action_combined_buttons_widget %}
    {{ block_widget(block[primary_button_alias]) }}

    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        <i class="material-icons">arrow_drop_down</i>
    </a>

    <ul>
        {% for action in block.action_dropdown_menu %}
            <li>
                {{ block_widget(action) }}
            </li>
        {% endfor %}
    </ul>

{% endblock %}

{% block action_button_widget %}
    <a {{ block('block_attributes') }}>
        {% if hide_icon is not defined %}
            <i class="{{ buttonOptions.icon|default('') }} {{ buttonOptions.iCss|default('') }} hide-text">{{ linkLabel }}</i>
        {% endif %}
        {{ linkLabel|trim }}
    </a>
{% endblock %}
