{% macro transitionAttrbiutes(transitionData, checkout) %}
{% spaceless %}
    {% import 'OroUIBundle::macros.html.twig' as UI %}
    {# Simplified transitions handler specific for checkout logic #}
    {% set transition = transitionData.transition %}

    {% set pageComponentModule = transition.frontendOptions.page_component_module|default('orob2bcheckout/js/app/components/transition-button-component') %}

    {{ UI.renderPageComponentAttributes({
        module: pageComponentModule,
        options: {
            'enabled': transitionData.isAllowed,
            'hasForm': transition.hasForm(),
            'transitionUrl': path(
                'orob2b_checkout_frontend_checkout',
                {
                    id: checkout.id,
                    checkoutType: checkout.checkoutType,
                    transition: transition.name
                }
            )
    }
    }) }}
{% endspaceless %}
{% endmacro %}

{% macro conditionMessagesStart(transitionData) %}
    {% set hasErrors = transitionData.errors|length > 0 %}
    {% if hasErrors %}
        <span class="ttip__wrap"><span class="ttip__toggle">
    {% endif %}
{% endmacro %}

{% macro conditionMessagesEnd(transitionData) %}
    {% set hasErrors = transitionData.errors|length > 0 %}
    {% if hasErrors %}
        </span>
          <span class="ttip">
            <span class="ttip__content ttip__content_dark">
                {{ _self.transitionConditionMessages(transitionData) }}
            </span>
          </span>
        </span>
    {% endif %}
{% endmacro %}

{% macro transitionConditionMessages(transitionData) %}
    <div>{{ 'orob2b.checkout.workflow.unavailable_transition.message'|trans }}</div>
    <ul>
        {% for error in transitionData.errors %}
            <li>{{ error.message|trans(error.parameters) }}</li>
        {% endfor %}
    </ul>
{% endmacro %}

{% block checkout_transition_back_widget %}
    {% if transitionData is defined and transitionData %}
    {% set transitionUrl = path(
        'orob2b_checkout_frontend_checkout',
        {
            id: checkout.id,
            checkoutType: checkout.checkoutType,
            transition: transitionData.transition.name
        })
    %}
    <a href="{{ transitionUrl }}" {{ _self.transitionAttrbiutes(transitionData, checkout) }}>
        {{ _self.conditionMessagesStart(transitionData) }}
        <i class="cf-left-open-mini"></i>{{ 'orob2b.checkout.workflow.b2b_flow_checkout.transition.back.label'|trans }}
        {{ _self.conditionMessagesEnd(transitionData) }}
    </a>
    {% endif %}
{% endblock %}

{% block checkout_transition_continue_widget %}
    {% if transitionData is defined and transitionData %}
    {{ _self.conditionMessagesStart(transitionData) }}
    <button type="submit" class="btn {% if transitionData.isAllowed %}btn-orange{% endif %} btn_lg checkout__form__submit" {{ _self.transitionAttrbiutes(transitionData, checkout) }}>
        {{ transitionData.transition.label }}&nbsp;<i class="cf-right-open-mini va-m_md"></i>
    </button>
    {{ _self.conditionMessagesEnd(transitionData) }}
    {% endif %}
{% endblock %}

{% block checkout_transition_step_edit_widget %}
    {% if transitionData is defined and transitionData %}
    {% set transitionUrl = path(
        'orob2b_checkout_frontend_checkout',
        {
            id: checkout.id,
            checkoutType: checkout.checkoutType,
            transition: transitionData.transition.name
        })
    %}
    <a href="{{ transitionUrl }}" class="button-icon fs14 gray" {{ _self.transitionAttrbiutes(transitionData, checkout) }}>
        <span class="ttip__wrap">
          <i class="cf-pencil ttip__toggle"></i>
          <span class="ttip">
            <span class="ttip__content ttip__content_dark">
                {% if transitionData.errors|length > 0 %}
                    {{ _self.transitionConditionMessages(transitionData) }}
                {% else %}
                    {{ transitionData.transition.label }}
                {% endif %}
            </span>
          </span>
        </span>
    </a>
    {% endif %}
{% endblock %}
