{% macro transitionAttrbiutes(transitionData, workflowItem) %}
    {# Simplified transitions handler specific for checkout logic #}
    {% set transition = transitionData.transition %}
    {% set data = {
        'enabled': transitionData.isAllowed,
        'message': transition.message|nl2br,
        'transition-url': path(
            'orob2b_api_frontend_workflow_transit',
            {
                workflowItemId: workflowItem.id,
                transitionName: transition.name
            }
        )
    } %}

    {% if transitionData.errors %}
        {% set conditionMessages = [] %}
        {% for error in transitionData.errors %}
            {% set conditionMessages = conditionMessages|merge([error.message|trans(error.parameters)]) %}
        {% endfor %}
    {% endif %}

    {% for key, value in data %}
        data-{{ key }}="{{ value|e('html_attr')|raw }}"
    {% endfor %}
    title="{{ transition.label|trans }}"
{% endmacro %}

{% block checkout_transition_back_widget %}
    {% if transitionData is defined %}
    <a href="#" {{ _self.transitionAttrbiutes(transitionData, workflowItem) }}>
        <i class="icon-left-open-mini"></i>{{ 'orob2b.checkout.workflow.b2b_flow_checkout.transition.back.label'|trans }}
    </a>
    {% endif %}
{% endblock %}

{% block checkout_transition_continue_widget %}
    {% if transitionData is defined %}
    <button type="button" class="btn btn_orange btn_lg checkout__form__submit" {{ _self.transitionAttrbiutes(transitionData, workflowItem) }}>
        {{ transitionData.transition.label|trans }}<i class="icon-right-open-mini va-m_md"></i>
    </button>
    {% endif %}
{% endblock %}

{% block checkout_transition_step_edit_widget %}
    STEP EDIT
{% endblock %}
