{% block orob2b_pricing_product_price_widget %}
    <table>
        <tr>
            <td>{{ form_label(form.priceList) }}</td>
            <td>{{ form_widget(form.priceList, { 'attr': {'class': 'priceList'} }) }}</td>
            <td>{{ form_errors(form.priceList) }}</td>
        </tr>
        <tr>
            <td>{{ form_label(form.quantity) }}</td>
            <td>{{ form_widget(form.quantity, { 'attr': {'class': 'quantity'} }) }}</td>
            <td>{{ form_errors(form.quantity) }}</td>
        </tr>
        <tr>
            <td>{{ form_label(form.unit) }}</td>
            <td>{{ form_widget(form.unit, { 'attr': {'class': 'unit'} }) }}</td>
            <td>{{ form_errors(form.unit) }}</td>
        </tr>
        <tr>
            <td>{{ form_label(form.price.value) }}</td>
            <td>{{ form_widget(form.price.value, { 'attr': {'class': 'price-value'} }) }}</td>
            <td>{{ form_errors(form.price.value) }}</td>
        </tr>
        <tr>
            <td>{{ form_label(form.price.currency) }}</td>
            <td>{{ form_widget(form.price.currency, { 'attr': {'class': 'price-currency'} }) }}</td>
            <td>{{ form_errors(form.price.currency) }}</td>
        </tr>
    </table>
{% endblock %}

{% block orob2b_pricing_product_price_collection_widget %}
    {% set attr = attr|merge({'class': (attr.class is defined ? attr.class ~ ' ' : '') ~ 'oro-options-collection oro-product-price-collection' }) %}
    {{ block('oro_collection_widget') }}

    {% set componentOptions = {'containerId': '#' ~ form.vars.id ~ '_collection'} %}

    <span data-page-component-module="orob2bpricing/js/app/components/product-unit-precision-limitations-component"
          data-page-component-options="{{ componentOptions|json_encode }}"></span>
{% endblock %}
