{% block __oro_checkout_content__checkout_container_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': " checkout__container"
    }) %}

    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block __oro_checkout_content__checkout_content_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': " checkout__content"
    }) %}

    <div {{ block('block_attributes') }}
            data-layout="separate"
            data-role="checkout-content"
            data-page-component-module="oroui/js/app/components/view-component"
            data-page-component-options="{{ {
                view: 'orocheckout/js/app/views/checkout-inner-content-view',
            }|json_encode }}">
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block __oro_checkout_content__checkout_content_main_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': " checkout__content-main"
    }) %}

    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block __oro_checkout_content__checkout_content_main_top_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': " checkout__content-main-top"
    }) %}

    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block __oro_checkout_content__checkout_information_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': " checkout"
    }) %}
    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block __oro_checkout_content__checkout_information_head_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': " checkout__head"
    }) %}
    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block __oro_checkout_content__checkout_information_title_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': " checkout__title hide-on-desktop-small"
    }) %}
    <h3 {{ block('block_attributes') }}>
        <span class="checkout__title-text">{{ workflowStep.label|trans({},'workflows') }}</span>
        {{ block_widget(block) }}
    </h3>
{% endblock %}

{% block __oro_checkout_content__checkout_information_body_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': " checkout__body"
    }) %}
    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block __oro_checkout_content__checkout_form_widget -%}
    {% if form %}
        {{ form_start(form, {
            'method': 'post',
            'action': path('oro_checkout_frontend_checkout', {'id': checkout.id}),
            'attr' : {
                'class': 'checkout-form',
                'data-nohash': 'true',
                'id': form.vars.id
            }})
        }}
        {% if form._token is defined %}
            <div class="hidden">
                {{ form_widget(form._token) }}
            </div>
        {% endif %}
        {{ block_widget(block) }}
        </form>
        {{ oro_form_js_validation(form) }}
    {% else %}
        <form method="post" class="checkout-form" action="">
            {{ block_widget(block) }}
        </form>
    {% endif %}
{%- endblock %}

{% block __oro_checkout_content__checkout_form_errors_widget -%}
    {% if form != null and not form.vars.valid %}
        <div class="checkout-form-errors" id="checkout-form-errors">
            {{ form_errors(form) }}
        </div>
    {% endif %}
{%- endblock %}

{% block __oro_checkout_content__checkout_order_summary_container_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': " checkout-order-summary-container",
        'data-layout': "separate",
        'data-role': "checkout-summary",
        'data-page-component-view': 'orocheckout/js/app/views/checkout-inner-content-view'
    }) %}
    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block __oro_checkout_content__checkout_order_summary_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': " checkout-order-summary"
    }) %}
    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block __oro_checkout_content__checkout_order_summary_edit_link_widget %}
    {% import '@OroUI/layouts/renderIcon.html.twig' as renderIcon %}
    {% set editLink = workflowItem.data.get('edit_order_link') %}
    {% set attr = layout_attr_defaults(attr, {
        'href': editLink,
        '~class': " btn btn--no-padding btn--outlined btn--text checkout-order-summary__edit-link"
    }) %}
    {% if editLink %}
        <a {{ block('block_attributes') }}>
            {{ renderIcon.icon({name: 'settings'}) }}
            <span class="hide-on-tablet-small">{{ 'oro.checkout.order_summary.edit_order.title'|trans }}</span>
        </a>
    {% endif %}
{% endblock %}

{% block __oro_checkout_content__checkout_order_summary_content_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': " checkout-order-summary__content"
    }) %}
    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block __oro_checkout_content__checkout_order_summary_notes_container_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' shopping-list-notes shopping-list-notes--no-offset'
    }) %}
    {% if notes is not null %}
        <div {{ block('block_attributes') }}>{{ block_widget(block) }}</div>
    {% endif %}
{% endblock %}

{% block __oro_checkout_content__checkout_order_summary_notes_title_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' shopping-list-notes__title'
    }) %}
    {% if notes is not null %}
        <h5 {{ block('block_attributes') }}>
            {{- 'oro.checkout.order_summary.notes'|trans -}}
        </h5>
    {% endif %}
{% endblock %}

{% block __oro_checkout_content__checkout_order_summary_notes_widget %}
    {% import '@OroUI/layouts/renderIcon.html.twig' as renderIcon %}
    {% set collapseId = 'collapse-'|uniqid %}
    {% set attr = layout_attr_defaults(attr, {
        'id': collapseId,
        '~class': ' shopping-list-notes__content shopping-list-notes__content--limited collapse collapse-overflow no-transition',
        'data-collapsed-text': 'oro.ui.collapse.more'|trans,
        'data-expanded-text': 'oro.ui.collapse.less'|trans,
        'data-check-overflow': 'true',
        'data-toggle': 'false',
        'data-trigger-icon-hide': 'chevron-down',
        'data-trigger-icon-show': 'chevron-up'
    }) %}
    {% if notes is not null %}

        <div {{ block('block_attributes') }}>{{- notes -}}</div>
        <button class="btn btn--flat collapse-toggle"
                data-toggle="collapse"
                data-target="{{ '#' ~ collapseId }}"
                aria-controls="{{ collapseId }}"
        >
            <span data-text>{{ 'oro.ui.collapse.more'|trans }}</span>
            <span class="shopping-list-notes__icon" data-icon>
                {{ renderIcon.icon({name: 'chevron-down'}) }}
            </span>
        </button>
    {% endif %}
{% endblock %}

{% block __oro_checkout_content__checkout_order_summary_totals_container_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' order-checkout-widget__container-wrapper ',
        'data-page-component-view': 'oroshoppinglist/js/app/views/summary-wrapper-view',
        'data-page-component-options': {
            'showMaskEvents': ['shopping-list:request'],
            'hideMaskEvents': ['shopping-list:refresh']
        }|json_encode
    }) %}

    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block __oro_checkout_content__checkout_order_summary_totals_main_widget %}
    {% import '@OroUI/layouts/renderIcon.html.twig' as renderIcon %}
    {% set collapseId = 'checkout-collapse-'|uniqid %}

    {% set attr = layout_attr_defaults(attr, {
        '~class': " order-checkout-widget__container"
    }) %}

    <div {{ block('block_attributes') }}>
        <button class="btn btn--icon btn--circle btn--size-small order-checkout-widget__toggle collapsed" type="button" data-toggle="collapse" data-target="#{{ collapseId }}" aria-expanded="false" aria-controls="{{ collapseId }}">
            {{ renderIcon.icon({name: 'chevron-up'}) }}
        </button>
        <div id="{{ collapseId }}" class="order-checkout-widget__container-collapse">
            {{ block_widget(block) }}
        </div>
    </div>
{% endblock %}

{% block __oro_checkout_content__checkout_order_summary_totals_widget -%}
    {% set attr = layout_attr_defaults(attr, {
        '~class': " checkout-order-summary__totals"
    }) %}
    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{%- endblock %}

{% block __oro_checkout_content__checkout_order_footer_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': " checkout__footer"
    }) %}
    <div {{ block('block_attributes') }}>{{ block_widget(block) }}</div>
{% endblock %}

{% block __oro_checkout_content__checkout_order_footer_col_first_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': " checkout__footer-col"
    }) %}
    <div {{ block('block_attributes') }}>{{ block_widget(block) }}</div>
{% endblock %}

{% block __oro_checkout_content__checkout_order_sidebar_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': " checkout__sidebar",
        'data-layout': 'separate',
        'data-role': 'checkout-totals',
        'data-page-component-view': 'orocheckout/js/app/views/checkout-inner-content-view'
    }) %}
    <div {{ block('block_attributes') }}>{{ block_widget(block) }}</div>
{% endblock %}

{% block __oro_checkout_content__checkout_button_continue_widget -%}
    {% if transitionData is defined and transitionData %}
        <div class="checkout__botton-container">
            <div class="checkout__botton-action">
                {{ block_widget(block) }}
            </div>
            {% if showRequiredLabel %}
            <div class="checkout__require-label">
                <div data-role="checkout-require"
                     class="required-label {% if transitionData.isAllowed == false %}hidden{% endif %}"
                     aria-hidden="true"
                ><span class="required-symbol" aria-hidden="true">*</span>
                    {{ 'oro.checkout.workflow.b2b_flow_checkout.form.required.label'|trans }}
                </div>
            </div>
            {% endif %}
        </div>
    {% endif %}
{% endblock %}

{% block __oro_checkout_content__checkout_form_buttons_widget -%}
    {% set attr = layout_attr_defaults(attr, {
        '~class': " checkout-form__buttons"
    }) %}
    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block __oro_checkout_content__checkout_outside_form_buttons_widget -%}
    {% set attr = layout_attr_defaults(attr, {
        '~class': " checkout-form__buttons"
    }) %}

    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}
