{% block __oro_checkout_content__checkout_content_widget %}
    <div {{ block('block_attributes') }}
            data-layout="separate"
            data-role="checkout-content"
            data-page-component-module="oroui/js/app/components/view-component"
            data-page-component-options="{{ {
                view: 'orocheckout/js/app/views/checkout-inner-content-view',
            }|json_encode }}">
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block __oro_checkout_content__checkout_information_widget %}
    {% set attr = attr|merge({class: attr.class|default('') ~ " checkout"}) %}
    <div{{ block('block_attributes') }}>
        <div class="checkout__head">
            <h2 class="checkout__title">
                <span class="checkout__title-icon">{{ stepOrder }}</span>
                {{ workflowStep.label|trans({},'workflows') }}
            </h2>
        </div>
        <div class="checkout__body">
            {{ block_widget(block) }}
        </div>
    </div>
{% endblock %}

{% block __oro_checkout_content__checkout_form_widget -%}
    {% if form %}
        {{ form_errors(form) }}
        {{ form_start(form, {
            'method': 'post',
            'action': path('oro_checkout_frontend_checkout', {'id': checkout.id}),
            'attr' : {
                'class': 'checkout__form',
                'data-nohash': 'true',
                'id': form.vars.id
            }})
        }}
        <div class="hidden">
            {{ form_widget(form._token) }}
        </div>
        {{ block_widget(block) }}
        </form>
        {{ oro_form_js_validation(form) }}
    {% else %}
        <form method="post" class="checkout__form" action="">
            {{ block_widget(block) }}
        </form>
    {% endif %}
{%- endblock %}

{% block __oro_checkout_content__checkout_order_summary_widget %}
    {% set attr = attr|merge({class: attr.class|default('') ~ " checkout-order-summary"}) %}
    <div{{ block('block_attributes') }}>
        <div class="checkout-order-summary__tab collapse-view {% if app.request.cookies.has('order-tab:state') %}expanded{% endif %}"
             data-page-component-module="oroui/js/app/components/jquery-widget-component"
             data-page-component-options="{{ {
                 widgetModule: 'oroui/js/widget/collapse-widget',
                 storageKey: id,
                 animationSpeed: 0,
                 forcedState: (false == isLineItemListValid) ? true : null
             }|json_encode() }}"
        >
            <div class="checkout-order-summary__header">
                <div data-collapse-trigger>
                    <div class="checkout-order-summary__icon-group">
                        <span class="badge-square">
                          <i class="fa-shopping-cart"></i>
                        </span>
                        <span class="collapse-view__trigger">
                            <i class="collapse-view__trigger-icon fa-caret-right"></i>
                        </span>
                    </div>
                    <h3 class="checkout-order-summary__title">{{ 'oro.checkout.order_summary.label'|trans }}</h3>
                    <div class="checkout-order-summary__desc">
                        <span class="mr1-md mr1-sm"><strong>{{ lineItemsWithTotals|length }}</strong> {{ 'oro.checkout.order_summary.items'|trans }}</span>
                        <span>{{ 'oro.checkout.order_summary.subtotal'|trans }}: <strong>{{ total.amount|oro_format_currency({'currency': total.currency}) }}</strong></span>
                    </div>
                </div>
                {% set editLink = workflowItem.data.get('edit_order_link') %}
                {% if editLink %}
                    <a href="{{ editLink }}" class="checkout-order-summary__edit-link">
                        <i class="fa-pencil"></i>
                        {{ 'oro.checkout.order_summary.edit_order'|trans }}
                    </a>
                {% endif %}
            </div>
            <div class="collapse-view__container" data-collapse-container>
                {{ block_widget(block) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block __oro_checkout_content__checkout_order_summary_table_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': " checkout-order-summary__content"
    }) %}
    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block __oro_checkout_content__checkout_order_summary_line_items_widget %}
    {% set attr = layout_attr_defaults(attr, {
        'data-page-component-module': 'oroui/js/app/components/view-component',
        '~data-page-component-options': {
            view: 'orofrontend/js/app/views/scrollable-table'
        },
        '~class': " checkout-order-summary__grid"
    }) %}

    <table {{ block('block_attributes') }}>
        <thead class="checkout-order-summary__grid-head">
            <tr data-scrollable-content-head>
                <th class="checkout-order-summary__grid-th">{{ 'oro.checkout.order_summary.item'|trans }}</th>
                <th class="checkout-order-summary__grid-th">{{ 'oro.checkout.order_summary.quantity'|trans }}</th>
                <th class="checkout-order-summary__grid-th" data-scrollable-item-has-offset>{{ 'oro.checkout.order_summary.price'|trans }}</th>
            </tr>
        </thead>
        <tbody>
        <tr>
            <td class="checkout-order-summary__grid-col" colspan="3">
                <div data-scrollable-content class="scrollable-content">
                    <table data-scrollable-inner-content class="checkout-order-summary__table">
                        <tbody class="checkout-order-summary__table-inner">
                        {% for lineItem in lineItemsWithTotals %}
                            {% set lineItemInfo = lineItemsWithTotals.getInfo() %}
                            {% set productSku = lineItem.productSku %}
                            {% if lineItem.product is not null %}
                                {% set productSku = lineItem.product.sku %}
                            {% endif %}
                            <tr data-scrollable-content-body>
                                <td class="checkout-order-summary__table-col checkout-order-summary__product">
                                    <h3 class="product-item__title product-item__title_in-cart">
                                        {% if lineItem.product is not null %}
                                            <a href="{{ path('oro_product_frontend_product_view', {'id':lineItem.product.id}) }}" tabindex="-1">{{ lineItem.product.defaultName }}</a>
                                        {% else %}
                                            {{ lineItem.freeFormProduct }}
                                        {% endif %}
                                    </h3>
                                    <div>{{ 'oro.checkout.order_summary.item'|trans }} #: <span
                                                class="red">{{ productSku }}</span></div>
                                </td>
                                {% set quantity = lineItem.quantity %}
                                <td class="checkout-order-summary__table-col checkout-order-summary__qty">
                                    {% if oro_is_unit_code_visible(lineItem.productUnit.code) %}
                                        {{ quantity ? quantity|oro_format_short_product_unit_value(lineItem.productUnit) : 'N/A'|trans }}
                                    {% else %}
                                        {{ quantity }}
                                    {% endif %}
                                </td>
                                <td class="checkout-order-summary__table-col checkout-order-summary__price">
                                    <div class="checkout-order-summary__price-inner">
                                        <table class="checkout-order-summary__price-table">
                                            <tbody>
                                            <tr>
                                                <td class="checkout-order-summary__price-line">{{ 'oro.checkout.order_summary.price_per_item'|trans }}:</td>
                                                <td class="checkout-order-summary__price-line" data-scrollable-item-has-offset>{{ lineItem.price is not null ? lineItem.price|oro_format_price : 'N/A'|trans }}</td>
                                            </tr>
                                            <tr>
                                                <td class="checkout-order-summary__price-line">
                                                    <span>{{ 'oro.checkout.order_summary.total_price'|trans }}</span>
                                                </td>
                                                <td class="checkout-order-summary__price-line" data-scrollable-item-has-offset>
                                                    <span class="fs16 blue">{{ lineItemInfo.total|oro_format_price }}</span>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </td>
                            </tr>
                            {% set errorPath = 'product.' ~ lineItem.productSku %}
                            {% if lineItemErrors is iterable and lineItemErrors[errorPath] is defined and lineItemErrors[errorPath] is iterable %}
                                {% for error in lineItemErrors[errorPath] %}
                                    <script>
                                        require(['oroui/js/messenger'], function(messenger) {
                                            messenger.notificationFlashMessage('error', '{{ error.message }}', {
                                                style: 'validation',
                                                container: $('#product-error-{{ lineItem.productSku }}')
                                            })
                                        });
                                    </script>
                                    <tr>
                                        <td id="product-error-{{ lineItem.productSku }}" colspan="3"></td>
                                    </tr>
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </td>
        </tr>
        <tr>
            {% set editLink = workflowItem.data.get('edit_order_link') %}
            {% set hasEditList = editLink and workflowStep.name == 'order_review' %}
            {% if hasEditList %}
                <td class="oro-grid-table__edit">
                    <a href="{{ editLink }}">
                        <i class="fa-pencil"></i>
                        {{ 'oro.checkout.order_summary.edit_order'|trans }}
                    </a>
                </td>
            {% endif %}
        </tr>
        </tbody>
    </table>
{% endblock %}

{% block __oro_checkout_content__checkout_order_summary_totals_widget -%}
    {% set attr = layout_attr_defaults(attr, {
        '~class': " order-checkout-widget__container-wrapper checkout-total-container"
    }) %}
    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{%- endblock %}

{% block __oro_checkout_content__checkout_button_continue_widget -%}
    {% if transitionData is defined and transitionData %}
        <fieldset class="grid__row grid__row--offset-y">
            <div class="grid__column">
                {{ block_widget(block) }}
            </div>
            <div class="grid__column">
                <div class="checkout__form__req-text {% if transitionData.isAllowed == false %}hidden{% endif %}"><sup>*</sup>
                    {{ 'oro.checkout.workflow.b2b_flow_checkout.form.required.label'|trans }}
                </div>
            </div>
        </fieldset>
    {% endif %}
{% endblock %}

{% block __oro_checkout_content__checkout_button_back_widget -%}
    <div class="checkout__form__back">
        {{ block_widget(block) }}
    </div>
{%- endblock %}
