{% block _shopping_list_view_tabs_widget %}
    {% set attr = layout_attr_defaults(attr, {
        'data-page-component-module': 'orob2bshoppinglist/js/app/components/shoppinglist-view-component',
        'data-page-component-options': {
            eventChannelId: 'shopping-list-title'
        },
        '~class': "shopping-list-tabs"
    }) %}

    <div{{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _shopping_list_view_container_widget %}
    {% set attr = layout_attr_defaults(attr, {'~class': "shopping-list-wrapper"}) %}

    <div{{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _shopping_list_view_container_content_widget %}
    {% set attr = layout_attr_defaults(attr, {'~class': "shopping-list__content"}) %}

    <div{{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _shopping_list_view_more_widget %}
    {% set attr = layout_attr_defaults(attr, {'~class': "shopping-list-dropdown"}) %}

    <div{{ block('block_attributes') }}>
        <div class="shopping-list-dropdown__handle" data-toggle="dropdown">
            <i class="shopping-list-dropdown__icon cf-add_circle"></i>
        </div>
        <div class="shopping-list-dropdown__nav dropdown-menu">
            <ul class="shopping-list-links">
                {% for shoppingList in shoppingLists %}
                    <li class="shopping-list-links__item {% if shoppingList.id == selectedShoppingList.id %} shopping-list-links__item--current {% endif %}"
                        data-shopping-list-items
                        data-id="{{ shoppingList.id }}"
                    >
                        <a class="shopping-list-links__link" href="{{ path('orob2b_shopping_list_frontend_view', {'id' : shoppingList.id}) }}">
                            <i class="shopping-list-links__icon cf-check"></i>
                            <span class="shopping-list-links__text">{{ shoppingList.label }}</span>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock _shopping_list_view_more_widget %}
