{% block _featured_categories_container_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' featured-categories'
    }) %}

    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _featured_category_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' featured-category__item'
    }) %}
    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _featured_category_link_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' featured-category'
    }) %}
    <a {{ block('block_attributes') }}
        href="{{ path('oro_product_frontend_product_index', {'categoryId': category.id, 'includeSubcategories': true}) }}">
        {{ block_widget(block) }}
    </a>
{% endblock %}

{% block _featured_category_image_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' featured-category__image',
        alt: category.title
    }) %}

    {% if category.small_image %}
        {% set attr = layout_attr_defaults(attr, {
            src: filtered_image_url(category.small_image, 'category_medium')
        }) %}
    {% endif %}

    <img {{ block('block_attributes') }}>
{% endblock %}

{% block _featured_category_desc_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' featured-category__desc'
    }) %}
    <dl {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </dl>
{% endblock %}

{% block _featured_category_label_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' featured-category__name'
    }) %}
    <dt {{ block('block_attributes') }}>{{ category.title }}</dt>
{% endblock %}

{% block _featured_category_products_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' featured-category__qty'
    }) %}
    <dd {{ block('block_attributes') }}>{{ 'oro.catalog.featured_categories.view.items.label'|trans({'%count%': categoryProductsCount}) }}</dd>
{% endblock %}
