{% extends 'OroFrontendBundle:layouts/default:form_theme.html.twig' %}

{%- block form_label -%}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' label'
    }) %}

    {{ parent() }}
{%- endblock form_label -%}

{% block form_widget_simple %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' input input--full input--size-m'
    }) %}

    {{ parent() }}
{% endblock %}

{%- block form_row -%}
    <div class="field {{ parentClass|default('') }}">
        {{- form_label(form) -}}
        {{- form_widget(form) -}}
        {{- form_errors(form) -}}
    </div>
{%- endblock form_row -%}

{% block widget_attributes %}
    {% if errors|length > 0 %}
        {% set attr = layout_attr_defaults(attr, {
            '~class': ' error'
        }) %}
    {% endif %}

    {{ parent() }}
{% endblock widget_attributes %}
