{% block oro_fallback_website_property_widget %}
    <div class="fallback-container"
            data-page-component-module="oroui/js/app/components/view-component"
            data-page-component-options="{{ {view: 'orolocale/js/app/views/fallback-view'}|json_encode }}"
            data-layout="separate"
            >
        <div class="fallback-item">
            <div class="fallback-item-label">{{ form.default.vars.label|trans }}</div>
            <div class="fallback-item-value">
                {{ form_widget(form.default) }}
                {{ form_errors(form.default) }}
            </div>
            <div class="fallback-status"></div>
        </div>
        {% for website in form.websites %}
            <div class="fallback-item" style="display: none">
                <div class="fallback-item-label">{{ website.vars.label|trans }}</div>
                <div colspan="2">
                    {{ form_widget(website) }}
                    {{ form_errors(website) }}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
