{% block oro_checkout_order_limit_widget %}
    <div class="float-holder collection-element-primary--flex-baseline">
        <div class="collection-element-primary">
            {{ form_widget(form.value) }}
            {{ form_errors(form.value) }}
        </div>
        <span class="add-on" title="{{ 'oro.checkout.currency.label'|trans }}">
            {% if form.vars.value is not null and form.vars.value.currency %}
                {{ form.vars.value.currency }}
            {% endif %}
            {{ form_widget(form.currency) }}
            {{ form_errors(form.currency) }}
        </span>
        {% for child in form.children %}
            {% if child.vars.extra_field is defined and child.vars.extra_field %}
                <div class="collection-element-other clearfix">
                    {{ form_widget(child, {'attr': {'title': child.vars.label}}) }}
                </div>
                {{ form_errors(child) }}
            {% endif %}
        {% endfor %}
    </div>
{%  endblock %}
