{% import 'OroUIBundle::macros.html.twig' as UI %}
{% import 'OroEmailBundle::actions.html.twig' as EmailActions %}
{% import 'OroEmailBundle::macros.html.twig' as Email %}

<div class="widget-content">
    <div class="row-fluid form-horizontal">
        <div class="responsive-block">
            {% if  entity.namePrefix|default('N/A'|trans) %}
                {{ UI.renderProperty('orob2b.account.accountuser.name_prefix.label'|trans, entity.namePrefix) }}
            {% endif %}
            {{ UI.renderProperty('orob2b.account.accountuser.first_name.label'|trans, entity.firstName) }}
            {% if  entity.middleName is defined %}
                {{ UI.renderProperty('orob2b.account.accountuser.middle_name.label'|trans, entity.middleName) }}
            {% endif %}
            {{ UI.renderProperty('orob2b.account.accountuser.last_name.label'|trans, entity.lastName) }}
            {% if  entity.nameSuffix is defined %}
                {{ UI.renderProperty('orob2b.account.accountuser.name_suffix.label'|trans, entity.nameSuffix) }}
            {% endif %}

            {% set birthday_string %}
                {{ entity.birthday is empty ? 'N/A'|trans : entity.birthday|oro_format_date }}
                {% if entity.birthday is not empty %}
                    ({{ entity.birthday }})
                {% endif %}
            {% endset %}
            {{ UI.renderProperty('orob2b.account.accountuser.birthday.label'|trans, birthday_string) }}
            {{ UI.renderHtmlProperty('orob2b.account.accountuser.email.label'|trans, Email.email_address_simple(entity.email)) }}

            {% set roles = [] %}
            {% for entityRole in entity.roles %}
                {% set roles = roles|merge([entityRole.label]) %}
            {% endfor %}
            {{ UI.renderHtmlProperty('orob2b.account.accountuser.roles.label'|trans, roles|join('<br />')) }}
        </div>
    </div>
</div>
