{% extends bap.layout %}

{% import 'OroUIBundle::macros.html.twig' as UI %}

{% block content %}
    {% set pageComponentOptions = {
        'componentSelector': '#' ~ form.component.vars.id,
        'additionalSelector': '#' ~ form.additional.vars.id
    } %}

    <div class="container-fluid page-title">
        <div class="navigation clearfix navbar-extra navbar-extra-right">
            <div class="row">
                <div class="pull-left pull-left-extra">
                    <div class="pull-left">
                        <h1 class="oro-subtitle">{{ 'orob2b.product.frontend.quick_add.title'|trans }}</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="layout-content quick-add">
        <div class="container-fluid form-container">
            <div class="responsive-section responsive-section-no-blocks">
                <div class="row-fluid">
                    <div class="pull-left pull-left-extra">
                        <form id="{{ form.vars.id }}" name="{{ form.vars.name }}"
                            action="{{ path('orob2b_product_frontend_quick_add') }}" {{ form_enctype(form) }}
                            method="{{ form.vars.method }}"
                            data-page-component-module="orob2bproduct/js/app/components/quick-add-component"
                            data-page-component-options="{{ pageComponentOptions|json_encode }}"
                            >

                            <fieldset class="form-horizontal">
                                {{ form_errors(form) }}

                                <div class="row-oro add-products">
                                    {{ form_widget(form.products) }}
                                    {% if form.products.vars.allow_add %}
                                        <div class="btn-group pull-left">
                                            <a class="btn add-list-item" data-container=".oro-item-collection tbody" href="javascript: void(0);">
                                                <i class="icon-plus"></i>{{ form.products.vars.add_label|default('oro.form.collection.add')|trans }}
                                            </a>
                                        </div>
                                    {% endif %}
                                    <div class="btn-group pull-right add-buttons">
                                        {% placeholder orob2b_product_quick_add_buttons %}
                                    </div>
                                </div>

                                {{ form_row(form.component) }}
                                {{ form_row(form.additional) }}
                                {{ form_rest(form) }}
                            </fieldset>
                        </form>
                        {{ oro_form_js_validation(form) }}

                        {{ UI.clientLink({
                            'dataUrl': path('orob2b_product_frontend_quick_add_import'),
                            'aCss': 'no-hash import-link',

                            'label' : 'orob2b.product.frontend.quick_add.import_from_file.title'|trans,
                            'widget' : {
                                'type' : 'dialog',
                                'options' : {
                                    'dialogOptions' : {
                                        'title' : 'orob2b.product.frontend.quick_add.import_from_file.title'|trans,
                                        'modal': true,
                                        'resizable': false,
                                        'width': 680,
                                        'height': 350,
                                        'autoResize': true
                                    }
                                }
                            }
                        }) }}
                    </div>

                    <div class="pull-left pull-left-extra copy-paste">
                        <form action="{{ path('orob2b_product_frontend_quick_add_copy_paste') }}"
                              id="{{ copyPasteForm.vars.id }}"
                              name="{{ copyPasteForm.vars.name }}"
                              method="post"
                              class="copy-paste-form"
                              data-page-component-module="orob2bproduct/js/app/components/quick-add-copy-paste-form-component"
                        >

                            <fieldset class="form-horizontal">
                                <div>
                                    <h4>{{ 'orob2b.product.frontend.quick_add.copy_paste.title'|trans }}</h4>

                                    <p>{{ 'orob2b.product.frontend.quick_add.copy_paste.description'|trans }}</p>


                                    {{ form_widget(copyPasteForm.copyPaste, {
                                        'attr': {
                                            'placeholder': 'orob2b.product.frontend.quick_add.copy_paste.placeholder'|trans
                                        }
                                    }
                                    ) }}

                                    {{ form_errors(copyPasteForm.copyPaste) }}

                                </div>

                                <div class="btn-group pull-right">
                                    <button type="submit" class="btn btn-primary copy-paste-button">
                                        {{ 'orob2b.product.frontend.quick_add.continue.label'|trans }}
                                    </button>
                                </div>
                            </fieldset>

                            <div class="hidden">
                                {{ form_rest(copyPasteForm) }}
                            </div>
                        </form>
                        {{ oro_form_js_validation(copyPasteForm) }}

                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock content %}
