{% extends bap.layout %}

{% block content %}
    {% set pageComponentOptions = {
        'componentSelector': '#' ~ form.component.vars.id,
        'additionalSelector': '#' ~ form.additional.vars.id
    } %}

    <div class="container-fluid page-title">
        <div class="navigation clearfix navbar-extra navbar-extra-right">
            <div class="row">
                <div class="pull-left pull-left-extra">
                    <div class="pull-left">
                        <h1 class="oro-subtitle">{{ 'orob2b.product.frontend.quick_add.title'|trans }}</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="layout-content">
        <div class="container-fluid form-container">
            <div class="responsive-section responsive-section-no-blocks">
                <div class="row-fluid">
                    <div class="pull-left pull-left-extra">
                        <form id="{{ form.vars.id }}" name="{{ form.vars.name }}"
                            action="{{ path('orob2b_product_frontend_quick_add') }}" {{ form_enctype(form) }}
                            method="{{ form.vars.method }}"
                            data-page-component-module="orob2bproduct/js/app/components/quick-add-component"
                            data-page-component-options="{{ pageComponentOptions|json_encode }}"
                            >

                            <fieldset class="form-horizontal">
                                {{ form_errors(form) }}
                                {{ form_widget(form.products) }}
                                {{ form_row(form.component) }}
                                {{ form_row(form.additional) }}
                                {{ form_rest(form) }}
                            </fieldset>
                        </form>
                        {{ oro_form_js_validation(form) }}

                        <div>
                            <br>
                            <strong>
                            <a class="import-button"
                               href="javascript: void(0);"
                               data-url="{{ path('orob2b_product_frontend_quick_add_import') }}" >
                                {{ 'orob2b.product.frontend.quick_add.import_from_file.title'|trans }}
                            </a>
                            </strong>
                        </div>
                    </div>

                    <div class="pull-left pull-left-extra">
                        <form action="{{ path('orob2b_product_frontend_quick_add_copy_paste') }}"
                              id="{{ copyPasteForm.vars.id }}"
                              name="{{ copyPasteForm.vars.name }}"
                              method="post"
                              class="copy-paste-form"
                        >

                            <fieldset class="form-horizontal">

                                <div>
                                    <h4>{{ 'orob2b.product.frontend.quick_add.copy_paste.title'|trans }}</h4>

                                    <p>{{ 'orob2b.product.frontend.quick_add.copy_paste.description'|trans }}</p>


                                    {{ form_widget(copyPasteForm.collection, {
                                        'attr': {
                                            'style': 'width: 300px; height: 165px;',
                                            'placeholder': 'orob2b.product.frontend.quick_add.copy_paste.placeholder'|trans
                                        }
                                    }
                                    ) }}

                                    {{ form_errors(copyPasteForm.collection) }}

                                </div>

                                <div class="btn-group pull-right">
                                    <button type="submit" class="btn btn-primary copy-paste-button">
                                        {{ 'orob2b.product.frontend.quick_add.continue.label'|trans }}
                                    </button>
                                </div>


                            </fieldset>

                            <div class="hidden">
                                {{ form_rest(copyPasteForm) }}
                            </div>

                        </form>
                        {{ oro_form_js_validation(copyPasteForm) }}

                    </div>

                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        require(['jquery', 'orotranslation/js/translator', 'orob2bproduct/js/app/widget/quick-add-import-widget'],
                function($, __, QuickAddImportWidget) {
                    $('.import-button').on('click', function(e) {
                        e.preventDefault();

                        var widget = new QuickAddImportWidget({
                            'url': this.dataset.url,
                            'title': __('Import From File')
                        });

                        widget.render();
                    });
                });
        require(['jquery', 'orotranslation/js/translator', 'orob2bproduct/js/app/widget/quick-add-import-widget'],
                function($, __, QuickAddImportWidget) {
                    $('.copy-paste-form').on('submit', function(e) {
                        e.preventDefault();

                        var form = $(e.target);

                        form.validate();

                        if (!form.valid()) {
                            return false;
                        }

                        var widget = new QuickAddImportWidget({
                            'title': __('Import Validation')
                        });

                        widget.render();
                        widget.trigger('beforeContentLoad');

                        form.append($('<input>').attr({
                            type: 'hidden',
                            name: '_wid',
                            value: widget.getWid()
                        }));

                        $.ajax({
                            type: form.attr('method'),
                            url: form.attr('action'),
                            data: form.serialize()
                        }).done(function(data) {
                                widget.setContent(data);
                                widget.trigger('contentLoad');
                        });
                    });
                });
    </script>
{% endblock content %}
