{% set widgetOptions = {
    '_wid': app.request.get('_wid'),
    'backToUrl': backToUrl|default(null)
} %}
<div class="widget-content quick-add"
     data-page-component-module="orob2bfrontend/js/app/components/widget-form-component"
     data-page-component-options="{{ widgetOptions|json_encode }}">
    <div id="import-validation"
         data-page-component-module="orob2bproduct/js/app/components/quick-add-import-validation-component"
         data-page-component-options="{{ widgetOptions|json_encode }}">

        {% set totalRowsCount = result.count() %}
        {% set validRowsCount = result.validRows|length %}
        {% set invalidRowsCount = result.invalidRows|length %}

        <div class="validation-info">
            <strong>
                {{ 'orob2b.product.frontend.quick_add.import_validation.title'|trans }}
            </strong>

            <table class="table table-condensed table-hover">
                <thead>
                <tr>
                    <th></th>
                    <th>
                        <div class="pull-right">
                            {{ 'orob2b.product.frontend.quick_add.import_validation.number_of_items'|trans }}
                        </div>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{{ 'orob2b.product.frontend.quick_add.import_validation.total_items'|trans }}</td>
                    <td>
                        <div class="pull-right">
                            {{ totalRowsCount }}
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>{{ 'orob2b.product.frontend.quick_add.import_validation.valid_items'|trans }}</td>
                    <td>
                        <div class="pull-right">
                            {{ validRowsCount }}
                        </div>
                    </td>
                </tr>

                <tr {% if invalidRowsCount %}class="error"{% endif %}>
                    <td>
                        {% if invalidRowsCount %}
                            <a href="javascript: void(0)" class="error-toggle">
                                {{ 'orob2b.product.frontend.quick_add.import_validation.invalid_items'|trans }}
                            </a>
                        {% else %}
                            {{ 'orob2b.product.frontend.quick_add.import_validation.invalid_items'|trans }}
                        {% endif %}
                    </td>
                    <td>
                        <div class="pull-right">
                            {{ invalidRowsCount }}
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>

        </div>

        {% if invalidRowsCount > 0 %}
            <div class="import-errors">
                <ol>
                    {% for invalidRow in result.invalidRows %}
                        <li>
                            {% if invalidRow.product is empty %}
                                {{ 'orob2b.product.frontend.quick_add.import_validation.validator.not_found'
                                |trans({'%sku%' : invalidRow.sku}) }}
                            {% else %}
                                {{ 'orob2b.product.frontend.quick_add.import_validation.validator.invalid_format'
                                |trans({'%index%' : invalidRow.index}) }}
                            {% endif %}
                        </li>
                    {% endfor %}
                </ol>
                <div class="clearfix">
                    <div class="pull-right">
                        <a href="javascript:void(0);" class="error-toggle">{{ 'Hide'|trans }}</a>
                    </div>
                </div>
            </div>
        {% endif %}

        {% set pageComponentOptions = {
            'componentSelector': '#' ~ form.component.vars.id,
            'additionalSelector': '#' ~ form.additional.vars.id,
            'componentPrefix': 'quick-add-import'
        } %}


        <form id="{{ form.vars.id }}" name="{{ form.vars.name }}" class="hidden-form"
              action="{{ path('orob2b_product_frontend_quick_add_validation_result') }}" method="post"
              data-page-component-module="orob2bproduct/js/app/components/quick-add-component"
              data-page-component-options="{{ pageComponentOptions|json_encode }}" >

            {{ form_widget(form.products) }}
            {{ form_widget(form.component) }}
            {{ form_widget(form.additional) }}

            <div class="btn-group pull-left alt-actions">
                {% if widgetOptions.backToUrl %}
                    <button data-url="{{ widgetOptions.backToUrl }}" class="btn back-action">Back</button>
                {% else %}
                    <button type="reset" class="btn cancel-action">Cancel</button>
                {% endif %}
            </div>
            <div class="btn-group pull-right alt-actions">
                {% if validRowsCount > 0 %}
                    {% placeholder orob2b_product_quick_add_buttons  %}
                {% endif %}
            </div>

            <div class="widget-actions">
            </div>

            {{ form_rest(form) }}

        </form>
    </div>
</div>



