{% set widgetOptions = {
    '_wid': app.request.get('_wid')
} %}
<div class="widget-content"
     data-page-component-module="orob2bfrontend/js/app/components/widget-form-component"
     data-page-component-options="{{ widgetOptions|json_encode }}"
         id="import-validation">

        <style type="text/css">
            #import-validation {
                padding-bottom: 1px;
            }

            .import-errors ol {
                height: 198px;
                overflow: auto;
                padding-left: 25px;
        }

        .import-errors {
            display: none;
        }

        .errors-visible .validation-info {
            display: none;
        }

        .errors-visible .import-errors {
            display: block;
        }

        .errors-visible .error-toggle-head {
            display: block;
            padding: 2px;
            width: 100%;
            margin: 0 0 5px 0;
            background-color: #fafafa;
            border-bottom: 1px solid #e5e5e5;
        }
    </style>

    {% set totalRowsCount = result.count() %}
    {% set validRowsCount = result.getValidRows().count() %}
    {% set invalidRowsCount = result.getInvalidRows().count() %}

    <div class="validation-info">
        <strong>
            {{ 'Import validation results'|trans }}
        </strong>

        <table class="table table-condensed table-hover">
            <thead>
            <tr>
                <th></th>
                <th>
                    <div class="pull-right">
                        {{ 'Number of items'|trans }}
                    </div>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{ 'Total number of records'|trans }}</td>
                <td>
                    <div class="pull-right">
                        {{ totalRowsCount }}
                    </div>
                </td>
            </tr>
            <tr>
                <td>{{ 'Valid items'|trans }}</td>
                <td>
                    <div class="pull-right">
                        {{ validRowsCount }}
                    </div>
                </td>
            </tr>

            <tr {% if invalidRowsCount %}class="error"{% endif %}>
                <td>
                    {% if invalidRowsCount %}
                        <a href="javascript: void(0)" class="error-toggle">
                            {{ 'Records with errors '|trans }}
                        </a>
                    {% else %}
                        {{ 'Records with errors '|trans }}
                    {% endif %}
                </td>
                <td>
                    <div class="pull-right">
                        {{ invalidRowsCount }}
                    </div>
                </td>
            </tr>
            </tbody>
        </table>

    </div>

    {% if invalidRowsCount > 0 %}
        <div class="import-errors">
            <ol>
                {% for invalidRow in result.getInvalidRows() %}
                    <li>
                        {% if not invalidRow.isComplete %}
                            Row #{{ invalidRow.getId() }} has invalid format.
                        {% else %}
                            Item number {{ invalidRow.getSku() }} does not found.
                        {% endif %}
                    </li>
                {% endfor %}
            </ol>
            <div class="clearfix">
                <div class="pull-right">
                    <a href="javascript:void(0);" class="error-toggle">{{ 'Hide'|trans }}</a>
                </div>
            </div>
        </div>
    {% endif %}

    <script type="text/javascript">
        require(['jquery', 'orotranslation/js/translator', 'oroui/js/widget-manager', 'oroui/js/messenger'],
                function($, __, WidgetManager, Messenger) {
                    var container = $('#import-validation');
                    var toggleErrors = function(e) {
                        e.preventDefault();

                        container.toggleClass('errors-visible');
                        var icon = container.find('.error-toggle-head').find('i');
                        if (icon.hasClass('icon-chevron-right')) {
                            icon.removeClass('icon-chevron-right');
                            icon.addClass('icon-chevron-down');
                        } else {
                            icon.removeClass('icon-chevron-down');
                            icon.addClass('icon-chevron-right');
                        }
                    };
                    container.find('.error-toggle').on('click', toggleErrors);
                });
    </script>


    {% set pageComponentOptions = {
        'componentSelector': '#' ~ form.component.vars.id,
        'additionalSelector': '#' ~ form.additional.vars.id,
        'componentPrefix': 'quick-add-import'
    } %}


    <form id="{{ form.vars.id }}" name="{{ form.vars.name }}"
          action="{{ path('orob2b_product_frontend_quick_add_validation_result') }}" method="post"
          data-page-component-module="orob2bproduct/js/app/components/quick-add-component"
          data-page-component-options="{{ pageComponentOptions|json_encode }}" >

        {{ form_widget(form.products) }}
        {{ form_widget(form.component) }}
        {{ form_widget(form.additional) }}

        <div class="btn-group pull-left">
            <button type="reset" class="btn">Cancel</button>
        </div>

        <div class="btn-group pull-right">

            {% if validRowsCount > 0 %}
                {% placeholder orob2b_product_quick_add_import_buttons  %}
            {% endif %}

        </div>

        <div class="widget-actions">
        </div>

        {{ form_rest(form) }}

    </form>

</div>

