{% extends '@OroUI/actions/view.html.twig' %}
{% import '@OroEntityConfig/macros.html.twig' as entityConfig %}

{% oro_title_set({params : {"%entityLabel%": entity.name } }) %}

{% block pageHeader %}
    {% set breadcrumbs = {
        'entity': entity,
        'indexPath': path('oro_web_catalog_index'),
        'indexLabel': 'oro.webcatalog.entity_plural_label'|trans,
        'entityTitle': entity.name|default('N/A'|trans)
    } %}

    {{ parent() }}
{% endblock pageHeader %}

{% block content_data %}
    {% import '@OroUI/macros.html.twig' as UI %}

    {% set webCatalogInformation %}
        <div class="row-fluid form-horizontal">
            <div class="responsive-block">
                {{ UI.renderProperty('oro.webcatalog.name.label'|trans, entity.name) }}
                {{ UI.renderSwitchableHtmlProperty('oro.webcatalog.description.label'|trans, entity.description) }}
            </div>
            <div class="responsive-block">
                {{ entityConfig.renderDynamicFields(entity) }}
            </div>
        </div>
    {% endset %}

    {% set dataBlocks = [
        {
            'title': 'oro.webcatalog.sections.general'|trans,
            'subblocks': [{'data' : [webCatalogInformation]}]
        }
    ] %}

    {% set id = 'web-catalog-view' %}
    {% set data = {'dataBlocks': dataBlocks} %}

    {{ parent() }}
{% endblock content_data %}
