{% block __oro_product_price__product_price_component_widget %}
    {% do block|merge_context({
        showValuePrice: showValuePrice,
        showListedPrice: showListedPrice
    }) %}
    {% if not is_price_hidden(product, matrixFormType|default('') == 'none') %}
        {% set attr = layout_attr_defaults(attr, {
            'data-page-component-module': 'oroui/js/app/components/view-component',
            '~data-page-component-options': {
                view: 'oropricing/js/app/views/list-item-product-prices-view',
                showValuePrice: showValuePrice,
                showListedPrice: showListedPrice,
                modelAttr: {
                    prices: productPrices,
                }
            }
        }) %}
    {% endif %}

    {% if productPrices is not empty or forceComponentRender %}
        {% set attr = layout_attr_defaults(attr, {
            '~class': ' product-price product-price__main'
        }) %}
        <div {{ block('block_attributes') }}>
            {{ block_widget(block) }}
        </div>
    {% else %}
        <div class="product-price__not_found">
            {{ 'oro.pricing.frontend.product_prices.empty_prices'|trans }}
        </div>
    {% endif %}
{% endblock %}

{% block __oro_product_price__product_price_hint_trigger_widget %}
    {% import '@OroUI/layouts/renderIcon.html.twig' as renderIcon %}
    {% if product is defined %}
        {% set attr = layout_attr_defaults(attr, {
            'aria-label': 'oro.pricing.view_all_prices_extended'|trans({
                '%product_attrs%': product.sku|e
            })
        }) %}
    {% endif %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' product-price-hint-btn btn btn--outlined btn--no-padding btn--text',
        'type': 'button',
        'title': 'oro.pricing.view_all_prices'|trans,
        'aria-label': 'oro.pricing.view_all_prices'|trans,
        'data-name': 'prices-hint-trigger'
    }) %}
    <button {{ block('block_attributes') }}>
        {{ renderIcon.icon({name: 'info', extraClass: 'theme-icon--small'}) }}
    </button>
{% endblock %}

{% block __oro_product_price__product_prices_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' product-price-hint__prices',
        'data-name': 'prices',
    }) %}
    <div {{ block('block_attributes') }}>
        {% if productPrices is not empty %}
            {{ block_widget(block) }}
        {% endif %}
    </div>
{% endblock %}

{% block __oro_product_price__product_price_value_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' product-price__your'
    }) %}

    {# Clone js logic in package/commerce/src/Oro/Bundle/PricingBundle/Resources/public/templates/product/list-item-product-prices.html #}
    <div {{ block('block_attributes') }} data-name="price">
        {% set firstPrice = productPrices|first %}
        <span class="product-price__value" data-name="price-value" itemscope="itemscope"
                itemtype="http://schema.org/Offer" itemprop="offers">
            {% apply spaceless %}
                {% if firstPrice %}
                    <span itemprop="priceCurrency" class="hidden" aria-hidden="true">{{ firstPrice.currency }}</span>
                    <span itemprop="price" class="hidden" aria-hidden="true">
                        {{ firstPrice.price|number_format(oro_locale_number_attribute('max_fraction_digits', 'currency'), '.', '') }}
                    </span>
                    {{- firstPrice.formatted_price -}}
                {% endif %}
            {% endapply %}
        </span>
    </div>
{% endblock %}

{% block __oro_product_price__product_price_listed_widget %}
    {# Clone js logic in package/commerce/src/Oro/Bundle/PricingBundle/Resources/public/templates/product/list-item-product-prices.html #}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' product-price__listed'
    }) %}
    {% if productPrices|length > 1 %}
        <div {{ block('block_attributes') }}>
            {% set firstPrice = productPrices|first %}
            <div
                class="product-price__listed-box"
                title="{{ 'oro.pricing.productprice.applicable_from'|trans({'%amount%': firstPrice.quantity})|e('html_attr') }}"
            >
                <span class="product-price__listed-value">{{ firstPrice.formatted_price }}</span>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block __oro_product_price__product_price_hint_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' product-price-hint',
        'data-name': 'prices-hint'
    }) %}

    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}
