{% block __product_shopping_lists__shopping_lists_widget %}
    {% set renderShoppingLists = renderShoppingLists is defined
        ? renderShoppingLists
        : is_configurable_product_type(product.type) == false and is_kit_product_type(product.type) == false
    %}
    {% if renderShoppingLists %}
        {% import '@OroFrontend/layouts/default/utils.html.twig' as utils %}
        {% set shoppingListsTemplate %}
            {% apply spaceless %}
                {{ block_widget(block) }}
            {% endapply %}
        {% endset %}

        {% set attr = layout_attr_defaults(attr, {
            'data-page-component-module': 'oroui/js/app/components/view-component',
            '~data-page-component-options': {
                view: 'oroshoppinglist/js/app/views/product-shopping-lists-view',
                modelAttr: {
                    shopping_lists: productShoppingLists
                },
                template: utils.underscoreRaw('<%#' ~ shoppingListsTemplate ~ '#%>')
            },
            'data-product-shopping-lists': '',
            'data-layout': 'separate',
        }) %}
        <div {{ block('block_attributes') }}></div>
    {% endif %}
{% endblock %}

{% block __product_shopping_lists__shopping_lists_template_widget %}
    <% if (shoppingListsCount) { %>
        <div class="shopping-lists">
            {{ block_widget(block) }}
        </div>
    <% } %>
{% endblock %}

{% block __product_shopping_lists__shopping_lists_popup_widget %}
    {% import '@OroFrontend/layouts/default/utils.html.twig' as utils %}
    {% import '@OroUI/layouts/renderIcon.html.twig' as renderIcon %}
    {% set shoppingListsTemplate %}
        {% apply spaceless %}
            {{ block_widget(block) }}
        {% endapply %}
    {% endset %}
    {% if not is_one_shopping_list_enabled() %}
        {% set attr = layout_attr_defaults(attr, {
            'data-page-component-module': 'oroui/js/app/components/widget-component',
            'data-page-component-options': {
                type: 'product-shopping-lists',
                createOnEvent: 'click',
                options: {
                    template: utils.underscoreRaw('<%#' ~ shoppingListsTemplate ~ '#%>'),
                    shoppingLists: shoppingLists,
                    quantityComponentOptions: {
                        dataKey: constant('Oro\\Bundle\\ProductBundle\\Form\\Type\\FrontendLineItemType::NAME'),
                        enable: is_granted('oro_shopping_list_frontend_update'),
                    },
                    singleUnitMode: singleUnitMode,
                    singleUnitModeCodeVisible: singleUnitModeCodeVisible,
                    configDefaultUnit: defaultUnitCode
                }
            },
            '~class': 'btn btn--outlined btn--size-small',
            'title': 'Edit'|trans,
            'aria-label': 'oro.frontend.shoppinglist.open_modal_btn.aria_label'|trans
        }) %}

        <button {{ block('block_attributes') }}>
            {{ renderIcon.icon({name: 'pencil'}) }}
            <span class="text-clip">
                <% if (shoppingListsCount == 1) { %>
                    <%- _.__('oro.shoppinglist.actions.in_shopping_list') %>
                <% } else { %>
                    <%- _.__('oro.shoppinglist.actions.in_shopping_list_plural', {
                        shoppingListsCount: shoppingListsCount
                    }) %>
                <% } %>
            </span>
        </button>
    {% else %}
        <div class="shopping-lists__text">
            <span class="text-clip">
                <% if (shoppingListsCount == 1) { %>
                    <%- _.__('oro.shoppinglist.actions.in_shopping_list') %>
                <% } else { %>
                    <%- _.__('oro.shoppinglist.actions.in_shopping_lists', {
                        shoppingListsCount: shoppingListsCount
                    }) %>
                <% } %>
            </span>
        </div>
    {% endif %}
{% endblock %}

{% block __product_shopping_lists__shopping_lists_popup_template_widget %}
    {% import '@OroUI/macros.html.twig' as UI %}
    {% import '@OroFrontend/layouts/default/utils.html.twig' as utils %}
    {% import '@OroUI/layouts/renderIcon.html.twig' as renderIcon %}
    <div class="shopping-lists-outer">
        <table class="shopping-lists-popup">
            <thead class="shopping-lists-popup__headline">
            <tr class="shopping-lists-popup__item">
                <th class="shopping-lists-popup__list">{{ 'oro.shoppinglist.entity_label'|trans }}</th>
                <th class="shopping-lists-popup__quantity">{{ 'oro.frontend.shoppinglist.view.qty.label'|trans }}</th>
            </tr>
            </thead>
            <tbody class="shopping-lists-popup__content">
            <% var applySingleUnitMode = isProductApplySingleUnitMode(_.keys(productUnits)) %>
            <% _.each(shoppingLists, function(list) { %>
            <tr class="shopping-lists-popup__item">
                <td class="shopping-lists-popup__list">
                    <% if (_.isString(list.href)) { %>
                    <a class="shopping-lists-popup__link no-decoration" href="<%- list.href %>">
                        <%- list.label %>
                    </a>
                    <% } else { %>
                    <span class="shopping-lists-popup__link">
                        <%- list.label %>
                    </span>
                    <% } %>
                </td>
                <td class="shopping-lists-popup__quantity">
                    <% var ListLineItems = list.line_items; %>
                    <% if (!_.isEmpty(ListLineItems)) { %>
                    <% _.each(ListLineItems, function(lineItem, i) { %>
                    <div class="shopping-lists-units"
                         data-role="line-item"
                         data-unit-precisions="<%- JSON.stringify(productUnitPrecisions) %>"
                            {{ utils.underscoreRaw(UI.renderPageComponentAttributes({
                                view: 'oroproduct/js/app/views/product-quantity-editable-view',
                                options: {
                                    dataKey: constant('Oro\\Bundle\\ProductBundle\\Form\\Type\\FrontendLineItemType::NAME'),
                                    enable: is_granted('oro_shopping_list_frontend_update'),
                                    elements: {
                                        saveButton: '[data-role="accept"]',
                                        quantity: '[data-role="field__quantity"]',
                                        unit: '[data-role="field__unit"]',
                                    },
                                    save_api_accessor: {
                                        default_route_parameters: {
                                            id: '<%- _.escapeForJSON(lineItem.id) %>'
                                        },
                                        route: 'oro_api_shopping_list_frontend_put_line_item'
                                    },
                                    validation: {
                                        showErrorsHandler: 'oroshoppinglist/js/shopping-list-item-errors-handler'
                                    },
                                    triggerData: {
                                        lineItemId: '<%- _.escapeForJSON(lineItem.id) %>',
                                        shoppingListId: '<%- _.escapeForJSON(list.id) %>'
                                    },
                                    successMessageOptions: {namespace: 'shopping_list'}
                                }
                            })) }}>
                        <form action="#">
                            <div class="shopping-lists-units__static"
                                 data-role="line-item-view">
                                <span class="shopping-lists-units__number"><%- QuantityHelper.formatQuantity(lineItem.quantity) %></span>
                                <% if (!isProductApplySingleUnitMode([lineItem.unit]) || singleUnitModeCodeVisible) { %>
                                <span class="shopping-lists-units__separate"></span>
                                <span class="shopping-lists-units__measurements"><%- _.__(
                                            'oro.product.product_unit.' + lineItem.unit + '.value.label',
                                            {count: lineItem.quantity},
                                            QuantityHelper.getQuantityNumberOrDefaultValue(lineItem.quantity)
                                        ) %></span>
                                <% } %>
                                <div class="shopping-lists-units__actions">
                                    <div class="actions-row">
                                        <div class="actions-row__item">
                                            <button class="btn btn--simple actions-row__button" type="button" title="{{ 'Edit'|trans }}"
                                                    aria-label="{{ 'oro.frontend.shoppinglist.btn.edit_aria_label'|trans }}" data-role="edit">
                                                {{ renderIcon.icon({name: 'pencil', extraClass: 'theme-icon--medium'}) }}
                                            </button>
                                        </div>
                                        {% if is_granted('oro_shopping_list_line_item_frontend_delete') %}
                                            <div class="actions-row__item">
                                                <button class="btn btn--simple actions-row__button" type="button"
                                                        title="{{ 'Delete'|trans }}"
                                                        aria-label="{{ 'oro.frontend.shoppinglist.btn.delete_item_aria_label'|trans }}"
                                                        {{ utils.underscoreRaw(UI.renderPageComponentAttributes({
                                                            module: 'orofrontend/js/app/components/delete-item-component',
                                                            options: {
                                                                route: 'oro_api_shopping_list_frontend_delete_line_item',
                                                                routeParams: {
                                                                    id: '<%- _.escapeForJSON(lineItem.id) %>'
                                                                },
                                                                triggerData: {
                                                                    lineItemId: '<%-_.escapeForJSON(lineItem.id) %>'
                                                                },
                                                                confirmMessage: 'oro.frontend.shoppinglist.messages.line_item_delete_confirm'|trans,
                                                                successMessage: 'oro.frontend.shoppinglist.messages.line_item_deleted'|trans,
                                                                successMessageOptions: {namespace: 'shopping_list'}
                                                            }
                                                        })) }}>
                                                    {{ renderIcon.icon({name: 'trash', extraClass: 'theme-icon--medium'}) }}
                                                </button>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="shopping-lists-modify hidden"
                                 data-role="line-item-edit">
                                <div class="shopping-lists-modify__text">
                                    <input class="shopping-lists-modify__input input input--size-md"
                                           type="number"
                                           min="1"
                                           value="<%- lineItem.quantity %>"
                                           data-precision="<%- productUnitPrecisions[lineItem.unit] %>"
                                           name="quantity"
                                           data-role="field__quantity"
                                           disabled="disabled"
                                           aria-label="{{ 'oro.product.lineitem.quantity.enter'|trans }}"
                                           required
                                    <% if (precision) { %>
                                    data-precision="<%- precision %>"
                                    <% } %>
                                    >
                                </div>
                                <div class="shopping-lists-modify__select">
                                    <% if (applySingleUnitMode && isProductApplySingleUnitMode([lineItem.unit])) { %>
                                    <input type="hidden" name="unit" value="<%- lineItem.unit %>" data-role="field__unit" required />

                                    <% if (singleUnitModeCodeVisible) { %>
                                    <%- lineItem.unit %>
                                    <% } %>
                                    <% } else { %>
                                    <select class="oro-select2"
                                            name="unit"
                                            data-role="field__unit"
                                            required
                                    >
                                        <% _.each(productUnits, function(label, unit) { %>
                                        <% if (unit === lineItem.unit) { %>
                                        <option value="<%- unit %>" selected="selected"><%- label %></option>
                                        <% } else { %>
                                        <option value="<%- unit %>"><%- label %></option>
                                        <% } %>
                                        <% }); %>
                                    </select>
                                    <% } %>
                                </div>
                                <div class="shopping-lists-modify__badges">
                                    <span class="shopping-lists-modify__edit">
                                        <button class="btn"
                                                type="button"
                                                title="{{ 'Apply'|trans }}"
                                                aria-label="{{ 'oro.frontend.shoppinglist.btn.apply_aria_label'|trans }}"
                                                disabled
                                                data-role="accept">
                                            {{ renderIcon.icon({name: 'check', extraClass: 'theme-icon--medium'}) }}
                                        </button>
                                    </span>
                                    <span class="shopping-lists-modify__edit">
                                            <button class="btn btn--neutral"
                                                    type="button"
                                                    title="{{ 'Decline'|trans }}"
                                                    aria-label="{{ 'oro.frontend.shoppinglist.btn.decline_aria_label'|trans }}"
                                                    data-role="decline">
                                                {{ renderIcon.icon({name: 'close', extraClass: 'theme-icon--medium'}) }}
                                            </button>
                                        </span>
                                </div>
                            </div>
                        </form>
                    </div>
                    <% }); %>
                    <% } %>
                </td>
            </tr>
            <% }); %>
            </tbody>
        </table>
        <div class="shopping-lists-popup__footer">
            <form method="post" class="shopping-lists-popup__item" data-role="add-form">
                <div class="shopping-lists-popup__list">
                    <select class="oro-select2"
                            name="list"
                            data-role="add-form-shopping-list"
                    >
                        <option value="0">{{ 'oro.shoppinglist.actions.choose_list'|trans }}</option>
                        <% if (!_.isEmpty(shoppingListsCollection)) { %>
                        <% shoppingListsCollection.each(function(list) { %>
                        <option value="<%- list.get('id') %>"><%- list.get('label') %></option>
                        <% }); %>
                        <% } %>
                    </select>
                </div>
                <div class="shopping-lists-popup__quantity">
                    <div class="shopping-lists-units">
                        <div class="shopping-lists-modify"
                             data-role="line-item-edit">
                            <div class="shopping-lists-modify__text">
                                <input class="shopping-lists-modify__input input input--size-md"
                                       type="number"
                                       min="1"
                                       value="1"
                                       data-precision="<%- productUnitPrecisions[unit] %>"
                                       name="oro_product_frontend_line_item[quantity]"
                                       data-role="add-form-qty"
                                       aria-label="{{ 'oro.product.lineitem.quantity.enter'|trans }}">
                            </div>
                            <div class="shopping-lists-modify__select">
                                <% if (singleUnitMode && applySingleUnitMode) { %>
                                <input type="hidden" name="oro_product_frontend_line_item[unit]" value="<%- unit %>" data-role="add-form-unit"/>

                                <% if (singleUnitModeCodeVisible) { %>
                                <%- unit %>
                                <% } %>
                                <% } else { %>
                                <select class="oro-select2"
                                        name="oro_product_frontend_line_item[unit]"
                                        data-role="add-form-unit"
                                >
                                    <% _.each(productUnits, function(label, unit) { %>
                                    <option value="<%- unit %>"><%- label %></option>
                                    <% }); %>
                                </select>
                                <% } %>
                            </div>
                            <div class="shopping-lists-modify__badges">
                                <span class="shopping-lists-modify__edit">
                                    <button class="btn"
                                            type="button"
                                            title="{{ 'Apply'|trans }}"
                                            aria-label="{{ 'oro.frontend.shoppinglist.btn.apply_aria_label'|trans }}"
                                            data-role="add-form-accept">
                                        {{ renderIcon.icon({name: 'check', extraClass: 'theme-icon--medium'}) }}
                                    </button>
                                </span>
                                <span class="shopping-lists-modify__edit">
                                    <button class="btn btn--neutral"
                                            type="reset"
                                            title="{{ 'Decline'|trans }}"
                                            aria-label="{{ 'oro.frontend.shoppinglist.btn.decline_aria_label'|trans }}"
                                            data-role="add-form-reset">
                                            {{ renderIcon.icon({name: 'close', extraClass: 'theme-icon--medium'}) }}
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <input type="hidden" name="oro_product_frontend_line_item[_token]" value="{{ csrf_token('oro_product_frontend_line_item') }}">
            </form>
        </div>
        <div class="widget-actions">
            <button class="btn btn--outlined" type="reset" aria-label="{{ 'oro.orowindows.dialog.close.aria_label'|trans }}">
                <span aria-hidden="true">{{ 'Close'|trans }}</span>
            </button>
        </div>
    </div>
{% endblock %}
