{% block _header_row_shopping_toggle_widget %}
    {% set attr = layout_attr_defaults(attr, {
        'data-page-component-module': 'oroshoppinglist/js/app/components/shoppinglist-widget-view-component',
        '~data-page-component-options': {
            view: 'oroui/js/app/views/layout-subtree-view',
            blockId: id,
            reloadEvents: ['shopping-list:refresh', 'frontend:shopping-list-item-quantity:update', 'frontend:item:delete'],
        },
        '~class': " header-row__toggle header-row__wrapper",
        'data-header-row-toggle': '',
        'aria-labelledby': togglerId|default('')
    }) %}
    <div {{ block('block_attributes') }}>
        <div class="header-row__dropdown">
            {{ block_widget(block) }}
        </div>
    </div>
{% endblock %}

{% block _main_menu_shopping_lists_dropdown_widget %}
    {% import '@OroUI/layouts/renderIcon.html.twig' as renderIcon %}
    {% if showLabel is not defined %}
        {% set showLabel = showLabel|default(true) %}
    {% endif %}
    {{ renderIcon.icon({name: 'shopping-list'}) }}
    <span class="text-clip">
        {% set isShowDropdown = true %}
        {% if not is_one_shopping_list_enabled() %}
            <span class="shopping-list-trigger__count">{{ shoppingLists|length }}</span>
            {% if showLabel %}
                <span class="shopping-list-trigger__label hide-on-tablet">
                    {{- 'oro.frontend.shoppinglist.view.entity.label'|trans({'%count%': shoppingLists|length}) -}}
                </span>
            {% endif %}
        {% else %}
            {% if (shoppingLists|length > 0) %}
                {% set shoppingList = shoppingLists[0] %}
                {% if showLabel %}
                    {{ 'oro.shoppinglist.default.label'|trans}}
                {% endif %}
                {% if shoppingList.lineItems|length > 0 %}
                    {% if showLabel %}
                        <span aria-hidden="true">|</span>
                    {% endif %}
                    {{ shoppingList.subtotal.amount|oro_format_currency({'currency': shoppingList.subtotal.currency}) }}
                {% endif %}
            {% else %}
                {% set isShowDropdown = false %}
                <span class="shopping-list-trigger__count">{{ shoppingLists|length }}</span>
                {% if showLabel %}
                    <span class="shopping-list-trigger__label">
                        {{- 'oro.frontend.shoppinglist.view.entity.label'|trans({'%count%': shoppingLists|length}) -}}
                    </span>
                {% endif %}
            {% endif %}
        {% endif %}
    </span>
    {% if isShowDropdown is same as(true) %}
        {{ renderIcon.icon({name: 'chevron-down', extraClass: 'shopping-list-trigger__dropdown-icon hide-on-tablet'}) }}
    {% endif %}
    {{ block_widget(block) }}
{% endblock %}

{% block _main_menu_shopping_lists_dropdown_container_widget %}
    {% set currentClass = 'checked' %}
    {% set attr = layout_attr_defaults(attr, {
        'data-page-component-module': 'oroshoppinglist/js/app/views/shoppinglist-widget-view',
        'data-page-component-options': {
            'currentClass': currentClass
        },
        'data-scroll': 'true',
        'data-role': 'tooltip-container',
        '~class': " shopping-list-widget__container"
    }) %}

    {% if is_one_shopping_list_enabled() %}
        {% set attr = layout_attr_defaults(attr, {
            '~class': " shopping-list-widget__container--limit"
        }) %}
    {% endif %}

    {% if shoppingLists|length > 0 %}
        <div {{ block('block_attributes') }}>
            <fieldset>
                <legend class="sr-only">{{ 'oro.frontend.shoppinglist.fieldset_legend'|trans }}</legend>
                {% for shoppingList in shoppingLists -%}
                    {% do block|merge_context({
                        shoppingList: shoppingList,
                        shoppingListProducts: shoppingListProducts,
                        productLineItemsPrices: productLineItemsPricesByShoppingList[shoppingList.id]|default([])
                    }) %}
                    {{ block('container_widget') }}
                {%- endfor %}
            </fieldset>
        </div>
    {% endif %}
{% endblock %}

{% block shopping_list_dropdown_item_widget %}
    {% import '@OroUI/layouts/renderIcon.html.twig' as renderIcon %}

    {% if not is_one_shopping_list_enabled() %}
        {% set currentClass = 'checked' %}
        {% set attr = layout_attr_defaults(attr, {
            '~class': " shopping-list-dropdown__item" ~ (shoppingList.isCurrent ? ' shopping-list-dropdown__item--default')
        }) %}
        <div {{ block('block_attributes') }}>
            {% set can_set_as_default = is_granted('oro_shopping_list_frontend_set_as_default', shoppingList) %}
            {% if can_set_as_default %}
                {% set tooltipTemplate = '<div class="tooltip tooltip--high" role="tooltip"><div class="arrow"></div><div class="tooltip-inner"></div></div>' %}
                <div class="shopping-list-dropdown__radio">
                    <label class="checkbox-label"
                        data-toggle="tooltip"
                        data-trigger="hover"
                        data-template="{{ tooltipTemplate }}"
                        title="{{ 'oro.frontend.shoppinglist.radio.title'|trans }}"
                        data-shopping-list-id="{{ shoppingList.id }}"
                        data-role="shopping-list-current-label">
                        <span class="sr-only">{{ 'oro.frontend.shoppinglist.radio.label'|trans({'%shoppinglist%': shoppingList.label}) }}</span>
                        <input type="radio" name="{{ id }}-radio" data-role="set-default" {{ shoppingList.isCurrent ? 'checked' }}
                            value="{{ shoppingList.id }}" data-label="{{ shoppingList.label|oro_html_escape|escape('html_attr') }}">
                    </label>
                </div>
            {% endif %}
            {% set shoppingListAriaLabel = 'oro.frontend.shoppinglist.link.aria_label'|trans({
                '%count%': shoppingList.lineItems|length,
                '%shoppinglist%': shoppingList.label,
                '%total%': shoppingList.subtotal.amount|oro_format_currency({'currency': shoppingList.subtotal.currency}),
            }) %}

            {% if not can_set_as_default and shoppingList.isCurrent %}
                {% set shoppingListAriaLabel = 'oro.frontend.shoppinglist.view.is_default.label'|trans ~ ' ' ~ shoppingListAriaLabel %}
            {% endif %}
            <a class="shopping-list-dropdown__link" href="{{ oro_shopping_list_frontend_url(shoppingList) }}"
               aria-label="{{ shoppingListAriaLabel }}"
                title="{{ 'oro.frontend.shoppinglist.view.view_details.title'|trans }}">
                <span class="shopping-list-dropdown__title">
                    <span class="shopping-list-dropdown__name">
                        <span class="shopping-list-dropdown__name-inner shopping-list-dropdown__name-inner--{{ shoppingList.id }}"
                            title="{{ shoppingList.label|escape('html_attr') }}"
                            data-shopping-list-id="{{ shoppingList.id }}"
                            data-role="shopping-list-title">{{ shoppingList.label }}</span>
                    </span>
                    {% if not can_set_as_default and shoppingList.isCurrent %}
                        <span class="badge-rectangle badge-rectangle--align-start"
                              aria-hidden="true"
                        >{{ 'oro.frontend.shoppinglist.view.is_default.label'|trans }}</span>
                    {% endif %}
                    <span class="shopping-list-dropdown__details">
                        <span class="shopping-list-dropdown__details-count">
                            {{- 'oro.frontend.shoppinglist.view.items.label'|trans({'%count%': shoppingList.lineItems|length}) -}}
                        </span>
                        {% if shoppingList.lineItems|length > 0 %}
                            <span aria-hidden="true">|</span> <span class="shopping-list-dropdown__details-subtotal">{{ shoppingList.subtotal.amount|oro_format_currency({'currency': shoppingList.subtotal.currency}) }}</span>
                        {% endif %}
                    </span>
                </span>
                {% set relatedProducts = shoppingListProducts[shoppingList.id]|default([]) %}
                {% if relatedProducts|length %}
                    <span class="shopping-list-dropdown__products" aria-hidden="true">
                        {% for product in relatedProducts %}
                            {% if loop.index == 3 %}
                                <span class="shopping-list-dropdown__ellipsis">...</span>
                            {% else %}
                                <span class="shopping-list-dropdown__products__item">{{ product.name }}</span>
                            {% endif %}
                        {% endfor %}
                    </span>
                {% endif %}
                <span class="shopping-list-dropdown__info" aria-hidden="true">
                    {{ 'oro.frontend.shoppinglist.view.view_details.label'|trans }}
                </span>
            </a>
        </div>
    {% else %}
        {% set attr = layout_attr_defaults(attr, {
            '~class': " shopping-list-dropdown__item shopping-list-dropdown__item--limit"
        }) %}
        <div {{ block('block_attributes') }}>
            {% if shoppingList.lineItems|length > 0 %}
            <div class="shopping-list-dropdown__product-list">
                {% for key, lineItem in shoppingList.lineItems|default([])|slice(0, 11) %}
                    {% if loop.index == 11 %}
                        <div class="shopping-list-dropdown__product-base">
                            <span class="shopping-list-dropdown__ellipsis">...</span>
                        </div>
                    {% else %}
                        <div class="shopping-list-dropdown__product-item">
                            {%- for child in block -%}
                                {{ block_widget(child, {lineItem: lineItem, productLineItemPrice: productLineItemsPrices[key]|default(null)}) }}
                            {%- endfor -%}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            {% else %}
            <div class="shopping-list-dropdown__empty-list">
                {{- 'oro.frontend.shoppinglist.view.empty_single'|trans -}}
            </div>
            {% endif %}

            {% set buttons = get_shopping_list_widget_buttons(shoppingList) %}
            {% set footerClassNames = '' %}

            {% if shoppingList.lineItems|length == 0 %}
                {% set footerClassNames = footerClassNames ~ ' shopping-list-dropdown__footer--no-items' %}
            {% endif %}

            {% if buttons|length > 0 %}
                {% set footerClassNames = footerClassNames ~ ' shopping-list-dropdown__footer--stack' %}
            {% endif %}

            <div class="shopping-list-dropdown__footer{{ footerClassNames }}">
                {% if shoppingList.lineItems|length > 0 %}
                    <div class="shopping-list-dropdown__total">
                        <h3>{{ shoppingList.subtotal.amount|oro_format_currency({'currency': shoppingList.subtotal.currency}) }}</h3>
                    </div>
                    {% for button in buttons %}
                        {% include button.template with button.templateData|merge({onlyLink: true, aClass: 'btn btn--block btn--outlined', noIconText: true}) %}
                    {% endfor %}
                {% endif %}
                <a href="{{ oro_shopping_list_frontend_url() }}" class="btn">
                    <span>{{ 'oro.frontend.shoppinglist.view.view_list.label'|trans }}</span>
                    {{ renderIcon.icon({name: 'arrow-right'}) }}
                </a>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block _main_menu_shopping_lists_dropdown_item_image_widget %}
    <div class="shopping-list-dropdown__product-img">
        {% set product = lineItem.product %}
        {% set productImageData = product.imagesByType('listing').first.image|default(null) %}
        {% set productTitle = productImageData ? oro_file_title(productImageData) : product.names|localized_value|oro_html_strip_tags %}
        {% include '@OroAttachment/Twig/picture.html.twig' with {
            sources: product_filtered_picture_sources(productImageData, 'product_extra_small'),
            img_attrs: {
                alt: productTitle|escape('html_attr'),
            }
        } %}
    </div>
{% endblock %}

{% block _main_menu_shopping_lists_dropdown_item_product_base_widget %}
    <div class="shopping-list-dropdown__product-base">
        {%- for child in block -%}
            {{ block_widget(child, {lineItem: lineItem, productLineItemPrice: productLineItemPrice}) }}
        {%- endfor -%}
    </div>
{% endblock %}

{% block _main_menu_shopping_lists_dropdown_item_product_base_total_widget %}
    <div class="shopping-list-dropdown__product-total">
        {% set quantity = lineItem.quantity %}
        {% if oro_is_unit_code_visible(lineItem.productUnit.code) %}
            {{ quantity ? quantity|oro_format_short_product_unit_value(lineItem.productUnit) : 'N/A'|trans }}
        {% else %}
            {{ quantity }}
        {% endif %}
        {% if productLineItemPrice is not null %}
            <h5 data-name="price-value">
                {{ productLineItemPrice.price.value|oro_format_currency({'currency': productLineItemPrice.price.currency}) }}
            </h5>
        {% else %}
            <h5 data-name="price-not-found">{{ 'oro.pricing.frontend.product_prices.price_not_found.short_label'|trans }}</h5>
        {% endif %}
    </div>
{% endblock %}

{% block _main_menu_shopping_lists_dropdown_item_product_base_title_widget %}
    {% set product = get_visible_product(lineItem) %}
    {% set routeOptions = {'id': product.id} %}
    <a href="{{ path('oro_product_frontend_product_view', routeOptions) }}" class="shopping-list-dropdown__product-title">
        {{- product.names|localized_value|e -}}
    </a>
{% endblock %}

{% block _main_menu_shopping_lists_dropdown_item_product_base_sku_widget %}
    {% set product = lineItem.product %}
    <div class="shopping-list-dropdown__product-sku">
        <span class="shopping-list-dropdown__product-sku-value">{{ product.sku|e }}</span>
    </div>
{% endblock %}

{% block shopping_list_dropdown_create_widget %}
    {% import '@OroUI/macros.html.twig' as UI %}
    {% import '@OroUI/layouts/renderIcon.html.twig' as renderIcon %}
    <div class="header-row__dropdown-footer">
        <button
            type="button"
            class="btn btn--full"
            aria-label="{{ 'oro.frontend.shoppinglist.view.create_new_shopping_list.aria_label'|trans }}"
            data-shopping-list-create
            {{ UI.renderWidgetAttributes({
                'type' : 'shopping-list-create',
                'createOnEvent': 'click',
                'options': {
                    'createOnly': true
                }
            }) }}
        >
            {{ renderIcon.icon({name: 'plus'}) }}
            {{ 'oro.frontend.shoppinglist.view.create_new_shopping_list.label'|trans }}
        </button>
    </div>
{% endblock %}
