{% block _main_menu_shopping_lists_wrapper_widget %}
    {% set attr = {
        'data-page-component-module': 'oroshoppinglist/js/app/components/shoppinglist-widget-view-component',
        'data-page-component-options': {
            view: 'oroui/js/app/views/layout-subtree-view',
            rootId : block.vars.id,
            reloadEvents: ['shopping-list:created', 'shopping-list:updated', 'frontend:item:delete'],
            eventChannelId: 'shopping-list-title'
        },
        'data-dropdown-trigger': true
    }|merge(attr|merge({
        class: attr.class|default('') ~ " main-menu__item main-menu__item--nested shopping-lists-frontend-widget"
    })) %}

    <li {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </li>
{% endblock %}

{% block _main_menu_shopping_lists_widget_widget %}
    <div class="cart-widget__content">
        <span class="badge badge_md badge_circle badge_orange badge_i-block cart-widget__clipboard">
            <i class="cf-clipboard"></i>
        </span>
        <span class="cart-widget__list-trigger">
            <span class="cart-widget__text">{{ 'oro.frontend.shoppinglist.view.entity.label'|transchoice(shoppingLists|length)|raw }} </span>
            <i class="cf-down-open-mini"></i>
        </span>
    </div>
    {{ block_widget(block) }}
{% endblock %}

{% block _main_menu_shopping_lists_widget_content_widget %}
    {% set attr = attr|merge({
        id: 'order-widget-dropdown',
        class: attr.class|default('') ~ " order-widget order-widget--dropdown-mode shopping-list-dropdown"
    }) %}

    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _main_menu_shopping_lists_widget_content_item_container_widget %}
    {% set attr = attr|merge({
        class: attr.class|default('') ~ " widget__container"
    }) %}

    <div {{ block('block_attributes') }}>
        {% for shoppingList in shoppingLists -%}
            {% do block|merge_context({
                shoppingList: shoppingList
            }) %}
            {{ block('container_widget') }}
        {%- endfor %}
    </div>
{% endblock %}

{% block _main_menu_shopping_lists_widget_content_item_widget %}
    {% set attr = attr|merge({
        class: attr.class|default('') ~ " shopping-list-dropdown__item"
    }) %}

    <div {{ block('block_attributes') }}>
        <div class="shopping-list-dropdown__radio">
            <label class="custom-radio" data-toggle="tooltip" title="Set as default">
                <input class="custom-radio__control" type="radio" name="shopping-list-dropdown-radio" value="{{ shoppingList.id }}" {% if shoppingList.isCurrent %}checked{% endif %}>
                <span class="custom-radio__text"></span>
            </label>
        </div>
        <a class="shopping-list-dropdown__link" href="{{ path('orob2b_shopping_list_frontend_view', {id: shoppingList.id}) }}">
            <span class="shopping-list-dropdown__title">
                <span class="shopping-list-dropdown__name">
                    <span class="shopping-list-dropdown__name-inner shopping-list-dropdown__name-inner--{{ shoppingList.id }}" title="{{ shoppingList.label }}">{{ shoppingList.label }}</span>
                </span>
                <span class="shopping-list-dropdown__details">
                {{ 'oro.frontend.shoppinglist.view.items.label'|transchoice(shoppingList.lineItems|length) }}
                | {{ shoppingList.subtotal.amount|oro_format_currency({'currency': shoppingList.subtotal.currency}) }}</span>
            </span>
            <span class="shopping-list-dropdown__desc">
                220 Lumen Rechargeable Headlamp
                Credit Card Pin Pad Reader
                Women’s Slip-On Clog
            </span>
            <span class="shopping-list-dropdown__info">{{ 'oro.frontend.shoppinglist.view.view_order.label'|trans }} <i class="cf-right-open-mini"></i></span>
        </a>
    </div>
{% endblock %}

{% block _main_menu_shopping_lists_widget_content_new_item_btn_widget %}
    {% import 'OroUIBundle::macros.html.twig' as UI %}
    {{ UI.clientLink({
        'aCss': 'order-widget__create-btn',
        'iCss': 'cf-add_circle nmmt3-md',
        'label' : 'oro.frontend.shoppinglist.view.create_new_order.label'|trans,
        'widget' : {
            'type' : 'shopping-list-create',
            'options': {
                'createOnly': true
            }
        }
    }) }}
{% endblock %}
