{% block _main_menu_shopping_lists_wrapper_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': " cart-widget"
    }) %}

    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _header_row_shopping_toggle_widget %}
    {% set attr = layout_attr_defaults(attr, {
        'data-page-component-module': 'oroshoppinglist/js/app/components/shoppinglist-widget-view-component',
        '~data-page-component-options': {
            view: 'oroui/js/app/views/layout-subtree-view',
            blockId: id,
            reloadEvents: ['shopping-list:refresh', 'frontend:shopping-list-item-quantity:update', 'frontend:item:delete'],
        },
        '~class': " header-row__toggle header-row__wrapper",
        'data-header-row-toggle': '',
        'aria-labelledby': togglerId|default('')
    }) %}
    <div {{ block('block_attributes') }}>
        <div class="header-row__dropdown">
            {{ block_widget(block) }}
        </div>
    </div>
{% endblock %}

{% block _main_menu_shopping_lists_dropdown_widget %}
    <div class="cart-widget__content">
        <span class="cart-widget__icon" aria-hidden="true">
            {% if not is_one_shopping_list_enabled() %}
                <span class="fa-clipboard"></span>
            {% else %}
                <span class="fa-shopping-cart"></span>
            {% endif %}
        </span>
        <span class="cart-widget-counter">
            <span class="cart-widget__text">
                {% set isShowDropdown = true %}
                {% if not is_one_shopping_list_enabled() %}
                    {{ 'oro.frontend.shoppinglist.view.entity.label'|trans({'%count%': shoppingLists|length})|raw }}
                {% else %}
                    {% if (shoppingLists|length > 0) %}
                        {% set shoppingList = shoppingLists[0] %}
                        {{ 'oro.shoppinglist.default.label'|trans}}
                        {% if shoppingList.lineItems|length > 0 %}
                            <span aria-hidden="true">|</span> {{ shoppingList.subtotal.amount|oro_format_currency({'currency': shoppingList.subtotal.currency}) }}
                        {% endif %}
                    {% else %}
                        {% set isShowDropdown = false %}
                        {{ 'oro.frontend.shoppinglist.view.entity.label'|trans({'%count%': shoppingLists|length})|raw }}
                    {% endif %}
                {% endif %}
            </span>
            {% if isShowDropdown is same as(true) %}
                <span class="fa-angle-down" aria-hidden="true"></span>
            {% endif %}
        </span>
    </div>
    {{ block_widget(block) }}
{% endblock %}

{% block _main_menu_shopping_lists_dropdown_container_widget %}
    {% set currentClass = 'checked' %}
    {% set attr = layout_attr_defaults(attr, {
        'data-page-component-module': 'oroshoppinglist/js/app/views/shoppinglist-widget-view',
        'data-page-component-options': {
            'currentClass': currentClass
        },
        'data-scroll': 'true',
        'data-role': 'tooltip-container',
        '~class': " shopping-list-widget__container"
    }) %}

    {% if is_one_shopping_list_enabled() %}
        {% set attr = layout_attr_defaults(attr, {
            '~class': " shopping-list-widget__container--limit"
        }) %}
    {% endif %}

    <div {{ block('block_attributes') }}>
        <fieldset>
            <legend class="sr-only">{{ 'oro.frontend.shoppinglist.fieldset_legend'|trans }}</legend>
            {% for shoppingList in shoppingLists -%}
                {% do block|merge_context({
                    shoppingList: shoppingList,
                    shoppingListProducts: shoppingListProducts,
                    productsMatchedPrices: productsMatchedPrices,
                }) %}
                {{ block('container_widget') }}
            {%- endfor %}
        </fieldset>
    </div>
{% endblock %}

{% block shopping_list_dropdown_item_widget %}
    {% if not is_one_shopping_list_enabled() %}
        {% set currentClass = 'checked' %}
        {% set attr = layout_attr_defaults(attr, {
            '~class': " shopping-list-dropdown__item"
        }) %}
        <div {{ block('block_attributes') }}>
            {% set can_set_as_default = is_granted('oro_shopping_list_frontend_set_as_default', shoppingList) %}
            {% if can_set_as_default %}
                {% set tooltipTemplate = '<div class="tooltip tooltip--high" role="tooltip"><div class="arrow"></div><div class="tooltip-inner"></div></div>' %}
                <div class="shopping-list-dropdown__radio">
                    <label class="checkbox-label"
                        data-toggle="tooltip"
                        data-trigger="hover"
                        data-template="{{ tooltipTemplate }}"
                        data-offset="2, 2"
                        title="{{ 'oro.frontend.shoppinglist.radio.title'|trans }}"
                        data-shopping-list-id="{{ shoppingList.id }}"
                        data-role="shopping-list-current-label">
                        <span class="sr-only">{{ 'oro.frontend.shoppinglist.radio.label'|trans({'%shoppinglist%': shoppingList.label}) }}</span>
                        <input type="radio" name="{{ id }}-radio" data-role="set-default" {{ shoppingList.isCurrent ? 'checked' }}
                            value="{{ shoppingList.id }}" data-label="{{ shoppingList.label|oro_html_escape|escape('html_attr') }}">
                    </label>
                </div>
            {% endif %}
            {% set shoppingListAriaLabel = 'oro.frontend.shoppinglist.link.aria_label'|trans({
                '%count%': shoppingList.lineItems|length,
                '%shoppinglist%': shoppingList.label,
                '%total%': shoppingList.subtotal.amount|oro_format_currency({'currency': shoppingList.subtotal.currency}),
            }) %}

            {% if not can_set_as_default and shoppingList.isCurrent %}
                {% set shoppingListAriaLabel = 'oro.frontend.shoppinglist.view.is_default.label'|trans ~ ' ' ~ shoppingListAriaLabel %}
            {% endif %}
            <a class="shopping-list-dropdown__link" href="{{ oro_shopping_list_frontend_url(shoppingList) }}"
               aria-label="{{ shoppingListAriaLabel }}"
                title="{{ 'oro.frontend.shoppinglist.view.view_details.title'|trans }}">
                <span class="shopping-list-dropdown__title">
                    <span class="shopping-list-dropdown__name">
                        <span class="shopping-list-dropdown__name-inner shopping-list-dropdown__name-inner--{{ shoppingList.id }}"
                            title="{{ shoppingList.label|escape('html_attr') }}"
                            data-shopping-list-id="{{ shoppingList.id }}"
                            data-role="shopping-list-title">{{ shoppingList.label }}</span>
                    </span>
                    {% if not can_set_as_default and shoppingList.isCurrent %}
                        <span class="badge-rectangle badge-rectangle--align-start"
                              aria-hidden="true"
                        >{{ 'oro.frontend.shoppinglist.view.is_default.label'|trans }}</span>
                    {% endif %}
                    <span class="shopping-list-dropdown__details">
                        <span class="shopping-list-dropdown__details-count">
                            {{- 'oro.frontend.shoppinglist.view.items.label'|trans({'%count%': shoppingList.lineItems|length}) -}}
                        </span>
                        {% if shoppingList.lineItems|length > 0 %}
                            <span aria-hidden="true">|</span> <span class="shopping-list-dropdown__details-subtotal">{{ shoppingList.subtotal.amount|oro_format_currency({'currency': shoppingList.subtotal.currency}) }}</span>
                        {% endif %}
                    </span>
                </span>
                {% set relatedProducts = shoppingListProducts[shoppingList.id]|default([]) %}
                {% if relatedProducts|length %}
                    <span class="shopping-list-dropdown__products" aria-hidden="true">
                        {% for product in relatedProducts %}
                            {% if loop.index == 3 %}
                                <span class="shopping-list-dropdown__ellipsis">...</span>
                            {% else %}
                                <span class="shopping-list-dropdown__products__item">{{ product.name }}</span>
                            {% endif %}
                        {% endfor %}
                    </span>
                {% endif %}
                <span class="shopping-list-dropdown__info" aria-hidden="true">
                    {{ 'oro.frontend.shoppinglist.view.view_details.label'|trans }}
                    <span class="fa-angle-right" aria-hidden="true"></span>
                </span>
            </a>
        </div>
    {% else %}
        {% set attr = layout_attr_defaults(attr, {
            '~class': " shopping-list-dropdown__item shopping-list-dropdown__item--limit"
        }) %}
        <div {{ block('block_attributes') }}>
            {% if shoppingList.lineItems|length > 0 %}
            <div class="shopping-list-dropdown__product-list">
                {% for lineItem in shoppingList.lineItems|default([])|slice(0, 11) %}
                    {% if loop.index == 11 %}
                        <div class="shopping-list-dropdown__product-base">
                            <span class="shopping-list-dropdown__ellipsis">...</span>
                        </div>
                    {% else %}
                        <div class="shopping-list-dropdown__product-item">
                            {%- for child in block -%}
                                {{ block_widget(child, {lineItem: lineItem}) }}
                            {%- endfor -%}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            {% else %}
            <div class="shopping-list-dropdown__empty-list">
                {{- 'oro.frontend.shoppinglist.view.empty_single'|trans -}}
            </div>
            {% endif %}
            <div class="shopping-list-dropdown__footer">
                {% if shoppingList.lineItems|length > 0 %}
                    <div class="shopping-list-dropdown__total">
                        {{ 'oro.frontend.shoppinglist.view.total.label'|trans }}
                        {{ 'oro.frontend.shoppinglist.view.items.label'|trans({'%count%': shoppingList.lineItems|length}) }}
                        <span aria-hidden="true">|</span> {{ shoppingList.subtotal.amount|oro_format_currency({'currency': shoppingList.subtotal.currency}) }}
                    </div>
                    <div class="shopping-list-dropdown__order-container">
                        {% set buttons = get_shopping_list_widget_buttons(shoppingList) %}
                        {% for button in buttons %}
                            {% include button.template with button.templateData|merge({onlyLink: true, aClass: 'btn btn--block btn--info', noIconText: true}) %}
                        {% endfor %}
                    </div>
                {% endif %}
                <div class="shopping-list-dropdown__info-container">
                    <a href="{{ oro_shopping_list_frontend_url() }}" class="shopping-list-dropdown__info">
                        <span class="fa-shopping-cart" aria-hidden="true"></span>
                        <span>{{ 'oro.frontend.shoppinglist.view.view_list.label'|trans }}</span>
                    </a>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block _main_menu_shopping_lists_dropdown_item_image_widget %}
    <div class="shopping-list-dropdown__product-img">
        {% set product = lineItem.product %}
        {% set productImageData = product.imagesByType('listing').first.image|default(null) %}
        {% set productTitle = productImageData ? oro_file_title(productImageData) : product.names|localized_value|oro_html_strip_tags %}
        {% include '@OroAttachment/Twig/picture.html.twig' with {
            sources: product_filtered_picture_sources(productImageData, 'product_small'),
            img_attrs: {
                alt: productTitle|escape('html_attr'),
            }
        } %}
    </div>
{% endblock %}

{% block _main_menu_shopping_lists_dropdown_item_product_base_widget %}
    <div class="shopping-list-dropdown__product-base">
        {%- for child in block -%}
            {{ block_widget(child, {lineItem: lineItem}) }}
        {%- endfor -%}
    </div>
{% endblock %}

{% block _main_menu_shopping_lists_dropdown_item_product_base_total_widget %}
    {% set product = lineItem.product %}
    {% set productMatchedPrice = productsMatchedPrices[shoppingList.id][product.id][lineItem.productUnit.code] is defined ? productsMatchedPrices[shoppingList.id][product.id][lineItem.unit.code] : null %}
    <div class="shopping-list-dropdown__product-total">
        {% set quantity = lineItem.quantity %}
        {% if oro_is_unit_code_visible(lineItem.productUnit.code) %}
            {{ quantity ? quantity|oro_format_short_product_unit_value(lineItem.productUnit) : 'N/A'|trans }}
        {% else %}
            {{ quantity }}
        {% endif %}
        <span aria-hidden="true">|</span>
        {% if productMatchedPrice is not null %}
            <span data-name="price-value">
                {{ productMatchedPrice.value|oro_format_currency({'currency': productMatchedPrice.currency}) }}
            </span>
        {% else %}
            <span data-name="price-not-found">{{ 'oro.pricing.frontend.product_prices.price_not_found.short_label'|trans }}</span>
        {% endif %}
    </div>
{% endblock %}

{% block _main_menu_shopping_lists_dropdown_item_product_base_title_widget %}
    {% set product = lineItem.product %}
    {% set routeOptions = {'id': product.id} %}
    <a href="{{ path('oro_product_frontend_product_view', routeOptions) }}" class="shopping-list-dropdown__product-title">
        {{- product.names|localized_value|e -}}
    </a>
{% endblock %}

{% block _main_menu_shopping_lists_dropdown_item_product_base_sku_widget %}
    {% set product = lineItem.product %}
    <div class="shopping-list-dropdown__product-sku">
        {{- 'oro.frontend.shoppinglist.view.item.label'|trans }}
        <span class="shopping-list-dropdown__product-sku-value">{{ product.sku|e }}</span>
    </div>
{% endblock %}

{% block shopping_list_dropdown_create_widget %}
    {% import '@OroUI/macros.html.twig' as UI %}
    <div class="header-row__dropdown-footer">
        {{ UI.clientBtn({
            'btnCss': 'shopping-list-widget__create-btn',
            'iCss': 'fa-plus-circle',
            'label' : 'oro.frontend.shoppinglist.view.create_new_shopping_list.label'|trans,
            'ariaLabel' : 'oro.frontend.shoppinglist.view.create_new_shopping_list.aria_label'|trans,
            'labelInIcon': false,
            'widget' : {
                'type' : 'shopping-list-create',
                'options': {
                    'createOnly': true
                }
            }
        }) }}
    </div>
{% endblock %}
