{% extends 'OroUIBundle:actions:view.html.twig' %}
{% import 'OroUIBundle::macros.html.twig' as UI %}

{% oro_title_set({params : {'%id%': entity.qid }}) %}

{% block pageHeader %}
    {% set breadcrumbs = {
        'entity': entity,
        'indexPath': path('orob2b_sale_quote_frontend_index'),
        'indexLabel': 'orob2b.frontend.sale.quote.entity_plural_label'|trans,
        'entityTitle': entity.qid|default('N/A'|trans)
    } %}
    {{ parent() }}
{% endblock pageHeader %}

{% block navButtons %}
    {% if resource_granted('orob2b_sale_quote_frontend_create_order') %}
        {% set formCreateOrderAction = path('orob2b_sale_quote_frontend_create_order', { 'id': entity.id }) %}
        <form id="{{ formCreateOrder.vars.id }}" name="{{ formCreateOrder.vars.name }}" action="{{ formCreateOrderAction }}" method="post">
            {{ form_widget(formCreateOrder) }}
            <button type="submit" class="no-hash btn">
                <i class="icon-edit hide-text"></i>{{ 'orob2b.frontend.sale.btn.accept_quote_create_order'|trans }}
            </button>
        </form>
    {% endif %}
{% endblock %}

{% block content_data %}
    {% set quoteInformationWidget %}
        {{ oro_widget_render({
            'widgetType': 'block',
            'title': 'orob2b.frontend.sale.quote.widgets.quote_information'|trans,
            'url': path('orob2b_sale_quote_frontend_info', {'id': entity.id})
        }) }}
    {% endset %}
    {% set quoteProducts %}
        <div class="sale-quoteproducts-info control-group">
            <table class="sale-quoteproduct-collection-table sale-quoteproduct-collection-table-view">
                <thead>
                    <tr>
                        <th>{{ 'orob2b.frontend.sale.quoteproduct.column.product'|trans }}</th>
                        <th>{{ 'orob2b.frontend.sale.quoteproduct.column.type'|trans }}</th>
                        <th>{{ 'orob2b.frontend.sale.quoteproduct.column.quote_product_items'|trans }}</th>
                    </tr>
                </thead>
                <tbody>
                {% for quoteProduct in entity.quoteProducts %}
                    <tr>
                        <td>
                            <div>
                                {{ quoteProduct.productSku }}
                            </div>
                            {% if quoteProduct.isTypeNotAvailable %}
                                <div>
                                    <div>{{ 'orob2b.frontend.sale.quoteproduct.product_replacement.label'|trans }}</div>
                                    {{ quoteProduct.productReplacementSku }}
                                </div>
                            {% endif %}
                        </td>
                        <td>
                            {{ quoteProduct.type|orob2b_format_sale_quote_product_type }}
                        </td>
                        <td class="sale-quoteproductitems-info">
                            {% if quoteProduct.quoteProductRequests|length and not quoteProduct.isTypeOffer %}
                                <table>
                                    <tr>
                                        <th>{{ 'orob2b.frontend.sale.quoteproductrequest.quantity.label'|trans }}</th>
                                        <th>{{ 'orob2b.frontend.sale.quoteproductrequest.price.label'|trans }}</th>
                                        <th>{{ 'orob2b.frontend.sale.quoteproductrequest.column_summary'|trans }}</th>
                                    </tr>
                                    {% for quoteProductRequest in quoteProduct.quoteProductRequests %}
                                        {% set quantity = quoteProductRequest.quantity %}
                                        {% set price = quoteProductRequest.price %}
                                        <tr>
                                            <td>{{ quantity ? quantity|orob2b_format_product_unit_value(quoteProductRequest.productUnit) : 'N/A' }}</td>
                                            <td>{{ price ? price|oro_format_price : 'N/A' }}</td>
                                            <td>{{ quoteProductRequest|orob2b_format_sale_quote_product_request }}</td>
                                        </tr>
                                    {% endfor %}
                                    {% if quoteProduct.commentAccount %}
                                        <tr>
                                            <td colspan="3">
                                                {{ UI.renderProperty('orob2b.frontend.sale.quoteproduct.comment_account.label'|trans, quoteProduct.commentAccount) }}
                                            </td>
                                        </tr>
                                    {% endif %}
                                    </table>
                            {% endif %}

                            {% if quoteProduct.quoteProductOffers|length %}
                                <table>
                                    <tr>
                                        <th>{{ 'orob2b.frontend.sale.quoteproductoffer.quantity.label'|trans }}</th>
                                        <th>{{ 'orob2b.frontend.sale.quoteproductoffer.price.label'|trans }}</th>
                                        <th>{{ 'orob2b.frontend.sale.quoteproductoffer.column_summary'|trans }}</th>
                                    </tr>

                                    {% for quoteProductOffer in quoteProduct.quoteProductOffers %}
                                        <tr>
                                            <td>{{ quoteProductOffer.quantity|orob2b_format_product_unit_value(quoteProductOffer.productUnit) }}</td>
                                            <td>{{ quoteProductOffer.price|oro_format_price }}</td>
                                            <td>{{ quoteProductOffer|orob2b_format_sale_quote_product_offer }}</td>
                                        </tr>
                                    {% endfor %}
                                    {% if quoteProduct.comment %}
                                        <tr>
                                            <td colspan="3">
                                                {{ UI.renderProperty('orob2b.frontend.sale.quoteproduct.comment.label'|trans, quoteProduct.comment) }}
                                            </td>
                                        </tr>
                                    {% endif %}
                                </table>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endset %}

    {% set id = 'frontend-quote-view' %}

    {% set generalBlock = {
        'title': 'orob2b.frontend.sale.quote.sections.general'|trans,
        'class': 'active',
        'subblocks': [{'data' : [quoteInformationWidget]}]
    } %}

    {% set lineItemsBlock = {
        'title': 'orob2b.frontend.sale.quote.sections.quote_products'|trans,
        'subblocks': [{'data' : [quoteProducts]}]
    } %}

    {% if entity.quoteProducts | length %}
        {% set data = {'dataBlocks': [generalBlock, lineItemsBlock]} %}
    {% else %}
        {% set data = {'dataBlocks': [generalBlock]} %}
    {% endif %}

    {{ UI.scrollData(id, data) }}
{% endblock content_data %}
