{% extends 'OroB2BFrontendBundle:actions:view.html.twig' %}
{% import 'OroUIBundle::macros.html.twig' as UI %}

{% oro_title_set({params : {'%id%': entity.qid }}) %}

{% block pageHeader %}
    {% set breadcrumbs = {
        'entity': entity,
        'indexPath': path('orob2b_sale_quote_frontend_index'),
        'indexLabel': 'orob2b.frontend.sale.quote.entity_plural_label'|trans,
        'entityTitle': 'orob2b.sale.navigation.view'|trans({
            '%id%': entity.qid|default('N/A'|trans)
        })
    } %}
    {{ parent() }}
{% endblock pageHeader %}

{% block content_data %}
    {% set quoteInformationWidget %}
        {{ oro_widget_render({
            'widgetType': 'block',
            'title': 'orob2b.frontend.sale.quote.widgets.quote_information'|trans,
            'url': path('orob2b_sale_quote_frontend_info', {'id': entity.id})
        }) }}
    {% endset %}
    {% set quoteProducts %}
        <div class="quote-line-items-info grid-container">
            <table class="grid table table-bordered table-condensed quote-line-items">
                <thead>
                    <tr>
                        <th><span>{{ 'orob2b.product.sku.label'|trans }}</span></th>
                        <th><span>{{ 'orob2b.frontend.sale.quoteproduct.column.product'|trans }}</span></th>
                        <th class="quote-line_item-quantity"><span>{{ 'orob2b.frontend.sale.quoteproductoffer.quantity.label'|trans }}</span></th>
                        <th class="quote-line_item-price"><span>{{ 'orob2b.frontend.sale.quoteproductoffer.unit_price.label'|trans }}</span></th>
                        <th><span>{{ 'orob2b.frontend.sale.quoteproduct.comment_account.label'|trans }}</span></th>
                        <th><span>{{ 'orob2b.frontend.sale.quoteproduct.comment.label'|trans }}</span></th>
                    </tr>
                </thead>
                {% for quoteProduct in entity.quoteProducts %}
                    {% set numSubItems = quoteProduct.quoteProductOffers|length %}
                    {% if numSubItems > 1 %}<tbody class="hasrs">{% else %}<tbody>{% endif %}
                        {% for quoteProductOffer in quoteProduct.quoteProductOffers %}
                            <tr>
                                {% if loop.first %}
                                    <td rowspan="{{ numSubItems }}">
                                        {% if quoteProduct.isTypeNotAvailable %}
                                            {{ quoteProduct.productReplacementSku }}
                                        {% else %}
                                            {{ quoteProduct.productSku }}
                                        {% endif %}
                                    </td>
                                    <td rowspan="{{ numSubItems }}">{{ quoteProduct.productName }}</td>
                                {% endif %}
                                <td class="quote-line_item-quantity quote-line_item-quantity-{% if loop.first %}first{% else %}not_first{% endif %}">
                                    {{ quoteProductOffer.quantity|orob2b_format_short_product_unit_value(quoteProductOffer.productUnit) }}
                                    {% if quoteProductOffer.allowIncrements %}{{ 'orob2b.frontend.sale.quoteproductoffer.allow_increments.label'|trans }}{% endif %}
                                </td>
                                <td class="quote-line_item-price quote-line_item-price-{% if loop.first %}first{% else %}not_first{% endif %}">
                                    {{ quoteProductOffer.price|oro_format_price }}
                                </td>
                                {% if loop.first %}
                                    <td rowspan="{{ numSubItems }}">{{ quoteProduct.commentAccount }}</td>
                                    <td rowspan="{{ numSubItems }}">{{ quoteProduct.comment }}</td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </tbody>
                {% endfor %}
            </table>
        </div>
    {% endset %}

    {% set shippingAddress %}
        {% if entity.shippingAddress %}
            {{ UI.renderHtmlProperty('orob2b.sale.quoteaddress.label.label'|trans, entity.shippingAddress.label) }}
            {{ UI.renderHtmlProperty('orob2b.sale.quoteaddress.name_prefix.label'|trans, entity.shippingAddress.namePrefix) }}
            {{ UI.renderHtmlProperty('orob2b.sale.quoteaddress.first_name.label'|trans, entity.shippingAddress.firstName) }}
            {{ UI.renderHtmlProperty('orob2b.sale.quoteaddress.middle_name.label'|trans,entity.shippingAddress.middleName) }}
            {{ UI.renderHtmlProperty('orob2b.sale.quoteaddress.last_name.label'|trans, entity.shippingAddress.lastName) }}
            {{ UI.renderHtmlProperty('orob2b.sale.quoteaddress.name_suffix.label'|trans, entity.shippingAddress.nameSuffix) }}
            {{ UI.renderHtmlProperty('orob2b.sale.quoteaddress.organization.label'|trans , entity.shippingAddress.organization) }}
            {{ UI.renderHtmlProperty('orob2b.sale.quoteaddress.country.label'|trans, entity.shippingAddress.country.name) }}
            {{ UI.renderHtmlProperty('orob2b.sale.quoteaddress.street.label'|trans, entity.shippingAddress.street) }}
            {{ UI.renderHtmlProperty('orob2b.sale.quoteaddress.street2.label'|trans,entity.shippingAddress.street2) }}
            {{ UI.renderHtmlProperty('orob2b.sale.quoteaddress.city.label'|trans, entity.shippingAddress.city) }}
            {{ UI.renderHtmlProperty('orob2b.sale.quoteaddress.postal_code.label'|trans, entity.shippingAddress.postalCode) }}
        {% else %}
            <div class="items list-box list-shaped"></div>
            <div class="no-data">
                <span>{{ "orob2b.sale.quoteaddress.no_exist"|trans|raw }}</span>
            </div>
        {% endif %}
    {% endset %}

    {% set id = 'frontend-quote-view' %}

    {% set dataBlocks = [{
        'title': 'orob2b.order.sections.general'|trans,
        'class': 'active',
        'subblocks': [{'data' : [quoteInformationWidget]}]
    }] %}

    {% set dataBlocks = dataBlocks|merge([{
        'title': 'orob2b.sale.quote.sections.shipping_address'|trans,
        'subblocks': [{'data' : [shippingAddress]}]
    }]) %}

    {% if entity.quoteProducts | length %}
        {% set dataBlocks = dataBlocks|merge([{
        'title': 'orob2b.sale.quote.sections.quote_products'|trans,
        'subblocks': [{'data' : [quoteProducts]}]
        }]) %}
    {% endif %}

    {% set data = {'dataBlocks': dataBlocks} %}
    {{ UI.scrollData(id, data) }}
{% endblock content_data %}
