{% block __oro_product_line_item_form__line_item_form_start_widget %}
    {{ set_unique_line_item_form_id(form, product) }}
    {% set attr = layout_attr_defaults(attr, {
        'id': form.vars.id,
    }) %}
    {{ block('form_start_widget') }}
{% endblock %}

{% block __oro_product_line_item_form__line_item_form_fields_widget %}
    {% set class_prefix = 'line_item_form_fields' %}
    
    {% set unitAttr = {} %}
    {% if skipInputWidgets is not defined %}
        {% set skipInputWidgets = true %}
    {% endif %}

    {% if skipInputWidgets %}
        {% set unitAttr = layout_attr_defaults(unitAttr, {
            'data-skip-input-widgets': ''
        }) %}
    {% endif %}

    {% do block|merge_context({
        class_prefix: class_prefix
    }) %}
    {% do set_class_prefix_to_form(form, class_prefix) %}
    {% if renderCacheQuantity is not defined %}
        {% set renderCacheQuantity %}
            {{ form_widget(form.quantity, {attr: {
                'class': 'product-item__qty-input'
            }}) }}
        {% endset %}
        {% do block|merge_context({
            renderCacheQuantity: renderCacheQuantity
        }) %}
    {% endif %}
    {% if renderCacheUnit is not defined %}
        {% set renderCacheUnit %}
            {{ form_widget(form.unit, {attr: unitAttr}) }}
        {% endset %}
        {% do block|merge_context({
            renderCacheUnit: renderCacheUnit
        }) %}
    {% endif %}
    {% if renderCacheToken is not defined %}
        {% set renderCacheToken %}
            {{ form_widget(form._token) }}
        {% endset %}
        {% do block|merge_context({
            renderCacheToken: renderCacheToken
        }) %}
    {% endif %}
    {% if not is_configurable_product_type(product.type) %}
        {% set attr = layout_attr_defaults(attr, {
            '~class': ' product-item__qty__current-grid',
            'data-page-component-module': 'oroproduct/js/app/components/product-unit-select-component',
            'data-page-component-options': {
                'singleUnitMode': singleUnitMode,
                'singleUnitModeCodeVisible': singleUnitModeCodeVisible,
                'configDefaultUnit': defaultUnitCode
            }|json_encode
        }) %}

        <div {{ block('block_attributes') }}>
            <div class="form-row {{ class_prefix }}">
                {{ renderCacheQuantity }}
            </div>
            <div class="form-row {{ class_prefix }}">
                {% if product is iterable %}
                    {% set currentProduct = product %}
                {% else %}
                    {% set currentProduct = product.jsonSerialize() %}
                {% endif %}

                {% if currentProduct.product_units is not defined or currentProduct.product_units|length > 1 %}
                    {{ renderCacheUnit }}
                {% else %}
                    <div class="product-item__placeholder-label" data-role="unit-label">
                        {{- currentProduct.unit|oro_format_product_unit_label -}}
                    </div>
                    <div class="hidden">
                        {{ renderCacheUnit }}
                    </div>
                {% endif %}
            </div>
            <div class="hidden">
                {{ renderCacheToken }}
                {{ block_widget(block) }}
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block __oro_product_line_item_form__line_item_form_widget %}
    {% import 'OroUIBundle::macros.html.twig' as UI %}

    {% set attr = layout_attr_defaults(attr, {
        '~class': ' product-item__qty product-item__qty--{{ class_prefix }}',
        'data-role': 'line-item-form-container'
    }) %}

    {% do block|merge_context({
        product: product
    }) %}

    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block __oro_product_line_item_form__line_item_form_buttons_widget %}
    {% if block.children is not empty %}
        {% set attr = layout_attr_defaults(attr, {
            '~class': " add-product-from-view-component"
        }) %}

        <div {{ block('block_attributes') }}>
            {{ block_widget(block) }}
        </div>
    {% endif %}
{% endblock %}

{% block __oro_product_line_item_form__line_item_buttons_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~options': {
            'truncateLength': 25,
            'appendToBody': true,
            'decoreClass': 'btn--info'
        }
    }) %}
    {{ block_widget(block, {attr: attr}) }}
{% endblock %}

{% block __oro_product_line_item_form__line_item_view_details_widget %}
    {% if is_configurable_product_type(product.type) and matrixFormType == 'none' %}
        {% set path = product.view_link|default('') %}
        {% set attr = layout_attr_defaults(attr, {
            '~class': " btn btn--info full"
        }) %}
        
        {{ parent_block_widget(block) }}
    {% endif %}
{% endblock %}
