{% block orob2b_catalog_category_tree_row %}
    {{ block('form_row') }}
{% endblock %}

{% block orob2b_catalog_category_tree_widget %}
    <div class="category category-tree-form-type">
        {% set treeOptions = {
            'key' : 'b2b-category',
            'data' : orob2b_category_list(),
            'nodeId' : form.vars.value,
            'fieldSelector': '#' ~ form.vars.id
        } %}
        <div
            data-page-component-module="orob2bcatalog/js/app/components/tree-form-type-component"
            data-page-component-options="{{ treeOptions|json_encode }}"
        ></div>
    </div>

    {{ form_widget(form) }}
    {{ form_errors(form) }}
{% endblock %}

{% block orob2b_catalog_category_unit_precision_widget %}
    <div class="control-group">
            <table
                    class="category-precision-holder"
                    data-page-component-module="oroui/js/app/components/view-component"
                    data-page-component-options="{{ {
                        view: 'orob2bcatalog/js/app/views/category-unit-limitations-view',
                    }|json_encode }}"
            >
                <tr>
                    <td>{{ form_widget(form.unit, { 'attr': {'class': 'unit'}}) }}</td>
                    <td><div class="control-label"><label>{{ 'orob2b.catalog.category.precision.label'|trans }}&nbsp;</label></div></td>
                    <td>{{ form_widget(form.precision, { 'attr': {'class': 'precision'} }) }}</td>
                </tr>
                <tr>
                    <td>{{ form_errors(form.unit) }}</td>
                    <td>{{ form_errors(form.precision) }}</td>
                </tr>
            </table>
    </div>
{% endblock %}
