{% extends 'OroUIBundle:layouts:base/dialog/dialog.html.twig' %}

{% block _widget_content_widget %}
    {% set pageComponentOptions = {
        savedId: savedId|default(null),
        message: 'orob2b.shoppinglist.flash.success'
    } %}
    {% set attr = {
        'data-page-component-module': 'orob2bfrontend/js/app/components/widget-form-component',
    }|merge(attr)|merge({
        'data-page-component-options': pageComponentOptions|merge(attr['data-page-component-options']|default({})),
    }) %}
    {{ parent() }}
{% endblock %}

{% block _form_errors_widget %}
    {% set attr = attr|merge({
        class: attr.class|default('') ~ " alert alert-error"
    }) %}
    {% if form.vars.errors|length > 0 %}
        <div{{ block('block_attributes') }}>
            {{ form_errors(form) }}
        </div>
    {% endif %}
{% endblock %}

{% block _form_comment_widget %}
    <i>
        {{ 'orob2b.shoppinglist.create_new_form.comment'|trans }}<br/>
        {{ 'orob2b.shoppinglist.create_new_form.comment_cancel'|trans }}
    </i>
{% endblock %}

{% block _form_actions_widget %}
    {% set attr = attr|merge({
        class: attr.class|default('') ~ " widget-actions"
    }) %}
    <div{{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}
