{% extends 'OroUIBundle:layouts:base/dialog/dialog.html.twig' %}

{% block _widget_content_widget %}
    {% set shoppingListLink %}
        <a href="{{ path('orob2b_shopping_list_frontend_view', {id: shoppingList.id}) }}">{{ shoppingList.label }}</a>
    {% endset %}

    {% set pageComponentOptions = {
        savedId: savedId|default(null),
        message: 'orob2b.shoppinglist.flash.success'|trans({'%shoppinglist%': shoppingListLink|trim|default(null)})
    } %}
    {% set attr = {
        'data-page-component-module': 'orob2bfrontend/js/app/components/widget-form-component',
    }|merge(attr)|merge({
        'data-page-component-options': pageComponentOptions|merge(attr['data-page-component-options']|default({})),
    }) %}
    {{ parent() }}
{% endblock %}

{% block _form_comment_widget %}
    <i>
        {{ 'orob2b.shoppinglist.create_new_form.comment'|trans }}<br/>
        {{ 'orob2b.shoppinglist.create_new_form.comment_cancel'|trans }}
    </i>
{% endblock %}

{% block _form_actions_widget %}
    {% set attr = attr|merge({
        class: attr.class|default('') ~ " widget-actions"
    }) %}
    <div{{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}
