{% block _widget_content_widget %}
    {% set pageComponentOptions = {
        '_wid': app.request.get('_wid'),
        'savedId': savedId|default(null)
    } %}
    <div class="widget-content"
         data-page-component-module="orob2bfrontend/js/app/components/widget-form-component"
         data-page-component-options="{{ pageComponentOptions|merge({message: 'orob2b.shoppinglist.flash.success'})|json_encode }}"
    >
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _form_errors_widget %}
    {% if form.vars.errors|length > 0 %}
        <div class="alert alert-error">
            {{ form_errors(form) }}
        </div>
    {% endif %}
{% endblock %}

{% block _form_comment_widget %}
    <i>
        {{ 'orob2b.shoppinglist.create_new_form.comment'|trans }}<br/>
        {{ 'orob2b.shoppinglist.create_new_form.comment_cancel'|trans }}
    </i>
{% endblock %}

{% block _form_actions_widget %}
    <div class="widget-actions">
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _form_actions_reset_widget %}
    <input type="reset" class="btn theme-btn_sm btn_gray" value="Cancel" />
{% endblock %}

{% block _form_actions_create_widget %}
    <input type="submit" class="btn theme-btn_sm btn_orange ml1-md" value="Create and Add" />
{% endblock %}