{% extends 'OroAddressBundle:Include:fields.html.twig' %}

{% block orob2b_account_typed_address_with_default_row %}
    {{ form_rest(form) }}
{% endblock %}

{% block orob2b_account_typed_address_widget %}
    {{ form_row(form.types, {label: 'orob2b.account.accountaddress.types.label'}) }}
    {{ form_row(form.defaults, {label: 'orob2b.account.accountaddress.defaults.label'}) }}
    {{ form_row(form.primary, {label: 'orob2b.account.accountaddress.primary.label'}) }}
    {{ block('oro_address_rows') }}
{%  endblock %}

{% block orob2b_account_account_user_typed_address_widget %}
    {{ block('orob2b_account_typed_address_widget') }}
{%  endblock %}

{% block oro_address_rows %}
    {{ form_row(form.id) }}
    {{ form_row(form.label, {label: 'orob2b.account.accountaddress.label.label'}) }}
    {{ form_row(form.namePrefix, {label: 'orob2b.account.accountaddress.name_prefix.label'}) }}
    {{ form_row(form.firstName, {label: 'orob2b.account.accountaddress.first_name.label'}) }}
    {{ form_row(form.middleName, {label: 'orob2b.account.accountaddress.middle_name.label'}) }}
    {{ form_row(form.lastName, {label: 'orob2b.account.accountaddress.last_name.label'}) }}
    {{ form_row(form.nameSuffix, {label: 'orob2b.account.accountaddress.name_suffix.label'}) }}
    {{ form_row(form.organization, {label: 'orob2b.account.accountaddress.organization.label'}) }}
    {{ form_row(form.country, {label: 'orob2b.account.accountaddress.country.label'}) }}
    {{ form_row(form.street, {label: 'orob2b.account.accountaddress.street.label'}) }}
    {{ form_row(form.street2, {label: 'orob2b.account.accountaddress.street2.label'}) }}
    {{ form_row(form.city, {label: 'orob2b.account.accountaddress.city.label'}) }}
    {{ form_row(form.region_text, {label: 'orob2b.account.accountaddress.region_text.label'}) }}
    {{ form_row(form.region, {label: 'orob2b.account.accountaddress.region.label'}) }}
    {{ form_row(form.postalCode, {label: 'orob2b.account.accountaddress.postal_code.label'}) }}
    {{ form_rest(form) }}
{%  endblock %}

{% block oro_address_collection_widget %}
    {% set attr = attr|merge({'class': (attr.class is defined ? attr.class ~ ' ' : '') ~ 'oro-address-collection' }) %}
        {% set options = {
            disableDefaultWithoutType: true,
            disableRepeatedTypes: true
        } %}
    <span
      data-page-component-module="orob2baccount/js/app/components/account-address-component"
      data-page-component-options="{{ options|json_encode }}">
    {{ block('oro_collection_widget') }}
    </span>
{% endblock %}
