{#TODO FIX#}
<div>
    <p>{{ 'orob2b.pricing.fallback.label'|trans }}: <strong>{{ fallback|trans }}</strong></p>
</div>
<div class="clearfix">
    {% if entities %}
        <table class="grid table-hover table table-bordered">
            <thead>
            <tr>
                <th>#</th>
                <th>{{ 'orob2b.pricing.pricelist.name.label'|trans }}</th>
                <th>{{ 'orob2b.pricing.pricelist.priority.label'|trans }}</th>
                <th>{{ 'orob2b.pricing.pricelist.merge_allowed.label'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td><a href="{{ path('orob2b_pricing_price_list_view', {'id': entity.priceList.id}) }}">{{ entity.priceList.name }}</a></td>
                    <td>{{ entity.priority }}</td>
                    <td>{{ entity.mergeAllowed ? 'orob2b.pricing.pricelist.merge_allowed.yes.label'|trans : 'orob2b.pricing.pricelist.merge_allowed.no.label'|trans }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="no-data">
            <span>{{ "orob2b.pricing.no_price_lists"|trans }}</span>
        </div>
    {% endif %}
</div>
