{% block _oro_paypal_credit_card_payment_credit_card_cvv_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' input input--short',
        'autocomplete': 'off',
        'minlength': 3,
        'maxlength': 4,
        'data-page-component-view': 'orofrontend/default/js/app/views/fake-masked-input-view',
        'data-page-component-name': id,
    }) %}

    {%- set type = type|default('text') -%}
    <input type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
    <a href="#"
       data-toggle="tooltip"
       data-title="{{ 'oro.paypal.credit_card.tooltip'|trans }}"
       data-html="true"
       data-container="body"
       data-placement="{% if isMobileVersion() %}top{% else %}right{% endif %}"
       data-offset="0, 8px"
    >
        {{ 'oro.paypal.credit_card.whats_this'|trans }}
    </a>
{% endblock %}

{% block _oro_paypal_credit_card_widget %}
    {% set creditCardComponent = options.creditCardComponent|default('oropaypal/js/app/components/credit-card-component') %}
    {% set creditCardComponentOptions = options.creditCardComponentOptions|default({})|merge({paymentMethod: paymentMethod}) %}
    {% set isAuthorizedCard = creditCardComponentOptions.acct is defined %}

    <div class="{{ class_prefix }}-form__payment-methods"
        data-page-component-module="{{ creditCardComponent }}"
        data-page-component-options="{{ creditCardComponentOptions|json_encode }}">
        {% if isAuthorizedCard %}
            <div class="{{ class_prefix }}-form__payment-methods-authorized-card" data-authorized-card>
                <p>
                    {{ 'oro.paypal.payflow.authorized_card'|trans({'{{ last4 }}': creditCardComponentOptions.acct}) }}
                </p>
                <a href="#" class="{{ class_prefix }}-form__payment-methods-different-card-handle" data-different-card-handle>
                    {{ 'oro.paypal.payflow.use_different_card'|trans }}
                </a>
            </div>
        {% endif %}
        <div {% if isAuthorizedCard %} style="display: none;" data-different-card{% endif %}>
            {% if isAuthorizedCard %}
                <div class="{{ class_prefix }}-form__payment-methods-different-card">
                    <a href="#" class="{{ class_prefix }}-form__payment-methods-authorized-card-handle" data-authorized-card-handle>
                        {{ 'oro.paypal.payflow.use_authorized_card'|trans }}
                    </a>
                </div>
            {% endif %}
            <ul class="{{ class_prefix }}-form__payment-methods-list" aria-label="{{ 'oro_frontend.avaliable_credit_cards.aria_label'|trans }}">
                {% for cc_name in options.creditCardComponentOptions.allowedCreditCards %}
                    <li class="{{ class_prefix }}-form__payment-methods-item" aria-label="{{ cc_name }}">
                        <span class="credit-card-icon credit-card-icon_{{ cc_name }}" aria-hidden="true"></span>
                    </li>
                {% endfor %}
            </ul>
            <div class="{{ class_prefix }}-form__payment-methods-form" data-credit-card-form="data-credit-card-form">
                {% for child in form.children %}
                    {{ form_row(child, {class_prefix: class_prefix}) }}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
