{% block _payment_methods_paypal_express_checkout_widget %}
    <div class="{{ class_prefix }}-form__payment-methods">
        <ul class="{{ class_prefix }}-form__payment-methods-list" aria-label="{{ 'oro_frontend.avaliable_credit_cards.aria_label'|trans }}">
            {% for cc_name in ['paypal', 'mastercard', 'visa', 'discover', 'american_express'] %}
                <li class="{{ class_prefix }}-form__payment-methods-item" aria-label="{{ cc_name }}">
                    <span class="credit-card-icon credit-card-icon_{{ cc_name }}" aria-hidden="true"></span>
                </li>
            {% endfor %}
        </ul>
        <div class="{{ class_prefix }}-form__payment-methods-form">{{ 'oro.paypal.payflow_express_checkout.redirect_to_paypal'|trans|nl2br }}</div>
    </div>
{% endblock %}

{% block _payment_methods_paypal_credit_card_widget %}
    {{ form_widget(
        view.options.formView,
        {class_prefix: class_prefix, paymentMethod: name, options: view.options}
    )
    }}
{% endblock %}
