{% import '@OroDataGrid/macros.html.twig' as dataGrid %}
{% import '@OroUI/macros.html.twig' as UI %}

<div class="oro-tabs" id="categoryVisibilityTabs" {{ UI.renderPageComponentAttributes({
    module: 'oroui/js/app/components/tabs-component'
}) }}>
    <div class="oro-tabs__head">
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
                <a id="categoryVisibilityTab"
                   href="#categoryVisibility"
                   class="nav-link active"
                   data-toggle="tab"
                   role="tab"
                   aria-controls="categoryVisibility"
                   aria-selected="true"
                >
                    {{ 'oro.visibility.categoryvisibility.entity_label'|trans }}
                </a>
            </li>
            <li class="nav-item">
                <a id="CustomerGroupCategoryVisibilityTab"
                   href="#CustomerGroupCategoryVisibility"
                   class="nav-link"
                   data-toggle="tab"
                   role="tab"
                   aria-controls="CustomerGroupCategoryVisibility"
                >
                    {{ 'oro.visibility.customergroupcategoryvisibility.entity_label'|trans }}
                </a>
            </li>
            <li class="nav-item">
                <a id="CustomerCategoryVisibilityTab"
                   href="#CustomerCategoryVisibility"
                   class="nav-link"
                   data-toggle="tab"
                   role="tab"
                   aria-controls="CustomerCategoryVisibility"
                >
                    {{ 'oro.visibility.customercategoryvisibility.entity_label'|trans }}
                </a>
            </li>
        </ul>
    </div>
    <div class="oro-tabs__content">
        <div class="tab-content" id="containerAlias">
            <div class="tab-pane active"
                 id="categoryVisibility"
                 role="tabpanel"
                 aria-labelledby="categoryVisibilityTab"
            >
                {{ form_row(form.visibility.all) }}
            </div>
            <div class="tab-pane"
                 id="CustomerGroupCategoryVisibility"
                 role="tabpanel"
                 aria-labelledby="CustomerGroupCategoryVisibilityTab"
            >
                {{ form_row(form.visibility.customerGroup, {'id': 'customergroup-category-visibility-changeset'}) }}
                {{ dataGrid.renderGrid('customer-group-category-visibility-grid', {target_entity_id: entity.id}) }}
            </div>
            <div class="tab-pane"
                 id="CustomerCategoryVisibility"
                 role="tabpanel"
                 aria-labelledby="CustomerCategoryVisibilityTab"
            >
                {{ form_row(form.visibility.customer, {'id': 'customer-category-visibility-changeset'}) }}
                {{ dataGrid.renderGrid('customer-category-visibility-grid', {target_entity_id: entity.id}) }}
            </div>
        </div>
    </div>
</div>
