{% block _checkout_form_fields_widget -%}
    {% if checkout.allowed and checkout.allowRequestDate %}
        <div class="notification notification_xmd notification_notice notification-radiused mb1-md">
            {{ 'orob2b.alternativecheckout.messages.approved_at'|trans }} {{ checkout.allowRequestDate|oro_format_datetime }}
        </div>
    {% else %}
        <div class="notification notification_xmd notification_alert notification-radiused mb1-md">
            {{ 'orob2b.alternativecheckout.messages.waiting_for_approve'|trans }}
        </div>
    {% endif %}
    {% if checkout.requestApprovalNotes %}
        <label>{{ 'orob2b.alternativecheckout.requestApprovalNotes.label'|trans }}:</label>
        <span>{{ checkout.requestApprovalNotes|nl2br|raw }}</span>
    {% endif %}

    {{ block_widget(block) }}
{%- endblock %}
