{% macro oro_rfp_frontend_request_lineitem_requested_prototype(widget) %}
    {% if 'collection' in widget.vars.block_prefixes %}
        {% set form = widget.vars.prototype %}
        {% set name = widget.vars.full_name ~ '[' ~ widget.vars.prototype.vars.name ~ ']' %}
    {% else %}
        {% set form = widget %}
        {% set name = widget.vars.full_name %}
    {% endif %}
    <tr data-content="{{ name }}" data-validation-optional-group data-role="lineitem" {{ block('widget_container_attributes') }}
        class="request-form-lineitem">
        {{ form_widget(form) }}
        <td class="request-form-lineitem-unit--remove">
            <button type="button" class="removeRow item-remove button-icon gray fs18">
                <i class="cf-trash"></i>
            </button>
        </td>
    </tr>
{% endmacro %}

{% block oro_rfp_request_widget %}
    <div class="rfp-request-widget" data-page-component-module="orocustomer/js/app/components/account-selection-component">
        {{ form(form) }}
    </div>
{% endblock %}

{% block oro_rfp_frontend_request_product_collection_widget %}
    {% if prototype is defined %}
        {% set prototype_html = _self.oro_rfp_frontend_request_lineitem_prototype(form, prototype_name) %}
    {% endif %}
    {% set attr = attr|merge({'class': (attr.class is defined ? attr.class ~ ' ' : '') ~ 'grid-container' }) %}
    {% set id = id ~ '_collection' %}

    <div class="request-form">
        <h2 class="request-form__title">{{ 'oro.rfp.frontend.request.title.label'|trans }}</h2>
        <div class="request-form-product">
            <div class="request-form-product__inner">
                <div class="request-form-product__item request-form-product__item--link">
                    <span class="request-form-product__count">1</span>
                    <a class="request-form-link link" href="#">Basics Unisex Scrub Pants</a>
                </div>
                <div class="request-form-product__item request-form-product__item--quantity">
                    <span class="request-form-quantity">
                        <span class="request-form-quantity__label">QTY:</span>
                        <span class="request-form-quantity__total">34</span>
                        <span class="request-form-quantity__units">Pieces</span>
                    </span>
                </div>
                <div class="request-form-product__item request-form-product__item--amount">
                    <dl class="request-form-amount">
                        <dt class="request-form-amount__piece">
                            <span class="request-form-amount__label">Per Piece:</span>
                            <span class="request-form-amount__currency">$</span>
                            <span class="request-form-amount__total">1.50</span>
                        </dt>
                        <dd class="request-form-amount__price">
                            <span class="request-form-amount__label">Price:</span>
                            <span class="request-form-amount__currency">$</span>
                            <span class="request-form-amount__total">51.00</span>
                        </dd>
                    </dl>
                </div>
                <div class="request-form-product__item request-form-product__item--target">
                    <dl class="request-form-amount">
                        <dt class="request-form-amount__piece">
                            <span class="request-form-amount__label">Target Per Piece:</span>
                            <span class="request-form-amount__currency">$</span>
                            <span class="request-form-amount__total">1.00</span>
                        </dt>
                        <dd class="request-form-amount__price">
                            <span class="request-form-amount__label">Target Price:</span>
                            <span class="request-form-amount__currency">$</span>
                            <span class="request-form-amount__total">34.00</span>
                        </dd>
                    </dl>
                </div>
                <div class="request-form-product__item request-form-product__item--actions">
                    <ul class="actions-row">
                        <li class="actions-row__item actions-row__item--edit">
                            <button class="actions-row__button" title="Edit">
                                <i class="actions-row__icon cf-pencil"></i>
                            </button>
                        </li>
                        <li class="actions-row__item actions-row__item--separate">|</li>
                        <li class="actions-row__item actions-row__item--remove">
                            <button class="actions-row__button" title="Delete">
                                <i class="actions-row__icon cf-trash"></i>
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="request-form-product">
            <div class="request-form-product__inner">
                <div class="request-form-product__item request-form-product__item--link">
                    <span class="request-form-product__count">2</span>
                    <a class="request-form-link link" href="#">Basics Unisex Scrub Pants</a>
                </div>
                <div class="request-form-product__item request-form-product__item--quantity">
                    <span class="request-form-quantity">
                        <span class="request-form-quantity__label">QTY:</span>
                        <span class="request-form-quantity__total">34</span>
                        <span class="request-form-quantity__units">Pieces</span>
                    </span>
                </div>
                <div class="request-form-product__item request-form-product__item--amount">
                    <dl class="request-form-amount">
                        <dt class="request-form-amount__piece">
                            <span class="request-form-amount__label">Per Piece:</span>
                            <span class="request-form-amount__currency">$</span>
                            <span class="request-form-amount__total">1.50</span>
                        </dt>
                        <dd class="request-form-amount__price">
                            <span class="request-form-amount__label">Price:</span>
                            <span class="request-form-amount__currency">$</span>
                            <span class="request-form-amount__total">51.00</span>
                        </dd>
                    </dl>
                </div>
                <div class="request-form-product__item request-form-product__item--target">
                    <dl class="request-form-amount">
                        <dt class="request-form-amount__piece">
                            <span class="request-form-amount__label">Target Per Piece:</span>
                            <span class="request-form-amount__currency">$</span>
                            <span class="request-form-amount__total">1.00</span>
                        </dt>
                        <dd class="request-form-amount__price">
                            <span class="request-form-amount__label">Target Price:</span>
                            <span class="request-form-amount__currency">$</span>
                            <span class="request-form-amount__total">34.00</span>
                        </dd>
                    </dl>
                </div>
                <div class="request-form-product__item request-form-product__item--actions">
                    <ul class="actions-row">
                        <li class="actions-row__item actions-row__item--edit">
                            <button class="actions-row__button" title="Edit">
                                <i class="actions-row__icon cf-pencil"></i>
                            </button>
                        </li>
                        <li class="actions-row__item actions-row__item--separate">|</li>
                        <li class="actions-row__item actions-row__item--remove">
                            <button class="actions-row__button" title="Delete">
                                <i class="actions-row__icon cf-trash"></i>
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <p class="request-form-note">
            Note: This item may be moved to a different quote later.
        </p>
        
        <div class="row-oro">
            {% set prototype_name = form.vars.prototype_name %}
            <div {{ block('widget_container_attributes') }}
                data-last-index="{{ form.children|length}}"
                data-prototype-name="{{ prototype_name }}"
                {% if prototype_html is defined %}
                    data-prototype="{{ prototype_html|escape }}"
                {% endif %}
                data-role="product-container">

                {% if form.children|length %}
                    {% for key, child in form.children %}
                        {{ _self.oro_rfp_frontend_request_lineitem_prototype(child, prototype_name, key) }}
                    {% endfor %}
                {% elseif show_form_when_empty and prototype_html is defined %}
                    {{ prototype_html|replace({(prototype_name): '0'})|raw }}
                {% endif %}
                
            </div>

            <div class="request-form-footer">
                <a class="add-list-item" data-container="[data-role='product-container']" href="javascript: void(0);"><i class="icon-plus"></i>{{ 'oro.rfp.frontend.request.lineitem.add'|trans }}</a>
            </div>
        </div>
    </div>
{% endblock %}

{% macro oro_rfp_frontend_request_lineitem_prototype(widget, prototype_name, key) %}
    {% import 'OroUIBundle::macros.html.twig' as UI %}

    {% if 'collection' in widget.vars.block_prefixes %}
        {% set form = widget.vars.prototype %}
        {% set name = widget.vars.full_name ~ '[' ~ widget.vars.prototype.vars.name ~ ']' %}
        {% set id = widget.vars.id %}
    {% else %}
        {% set form = widget %}
        {% set name = widget.vars.full_name %}
        {% set id = widget.vars.id %}
    {% endif %}

    {% if (key is not null) %}
        {% set prototype_name  = 'child-' ~key %}
    {% endif %}

    {% set page_component_options = form.vars.page_component_options|merge(form.vars.componentOptions|default({})) %}
    <div class="request-form-editline">
        <div data-content="{{ name }}" data-validation-optional-group {{ block('widget_container_attributes') }}
            class="request-form-editline__inner rfp-lineitem"
            data-page-component-module="{{ form.vars.page_component }}"
            data-page-component-options="{{ page_component_options|json_encode }}"
            >
            {{ form_widget(form) }}
            {{ form_errors(form) }}
        </div>
        <div class="request-form-editline__footer">
            <div class="request-form-editline__note">
                <div class="request-form-editnote">
                    {% set notes = form.comment %}
                    <input type="checkbox" name="{{ 'lineItem'~id }}" class="custom-checkbox__input request-form-editnote__toggle" id="{{ 'lineItem-'~prototype_name }}"{% if notes is not empty %} checked="checked"{% endif %}>
                    <label for="{{ 'lineItem-'~prototype_name }}" class="custom-checkbox">
                        <span class="custom-checkbox__icon"></span>
                        <span class="custom-checkbox__text">{{ 'oro.frontend.shoppinglist.view.add_item_note.label'|trans }}</span>
                    </label>
                    <div class="request-form-editnote__body">
                        {{ form_widget(form.comment) }}
                        {{ form_errors(form.comment) }}
                    </div>
                </div>
            </div>
            <div class="request-form-editline__action">
                <div class="request-form-group">
                    <div class="request-form-group__item">
                        <button type="button" class="btn btn-gray">{{ 'oro.rfp.frontend.request.lineitem.cancel'|trans }}</button>
                    </div>
                    <div class="request-form-group__item">
                        <button type="button" class="btn btn-orange">{{ 'oro.rfp.frontend.request.lineitem.update'|trans }}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}

{% block oro_rfp_request_product_collection_widget %}
    <div class="rfp-lineitems"
         data-page-component-module="oroui/js/app/components/view-component"
         data-page-component-options="{{ {
             view: 'ororfp/js/app/views/line-items-view'
         }|json_encode }}"
         data-layout="separate">
        {{ block('oro_rfp_lineitem_collection_widget') }}
    </div>
{% endblock %}

{% block oro_rfp_lineitem_collection_widget %}
    {% if prototype is defined %}
        {% set prototype_html = _self.oro_rfp_request_lineitem_prototype(form) %}
    {% endif %}
    {% set attr = attr|merge({'class': (attr.class is defined ? attr.class ~ ' ' : '') ~ 'oro-item-collection grid-container' }) %}
    {% set id = id ~ '_collection' %}
    <div class="row-oro">
        {% set prototype_name = form.vars.prototype_name %}
        <div {{ block('widget_container_attributes') }}>
            <table class="grid table-hover table table-bordered table-condensed">
                <thead>
                <tr>
                    <th><span>{{ 'oro.rfp.frontend.request.lineitem.product'|trans }}</span></th>
                    <th><span>{{ 'oro.rfp.frontend.request.lineitem.requested.label'|trans }}</span></th>
                    <th><span>{{ 'oro.rfp.frontend.request.lineitem.notes'|trans }}</span></th>
                    <th></th>
                </tr>
                </thead>
                <tbody data-last-index="{{ form.children|length}}" data-prototype-name="{{ prototype_name }}"{% if prototype_html is defined %} data-prototype="{{ prototype_html|escape }}"{% endif %}>
                {% if form.children|length %}
                    {% for child in form.children %}
                        {{ _self.oro_rfp_request_lineitem_prototype(child) }}
                    {% endfor %}
                {% elseif show_form_when_empty and prototype_html is defined %}
                    {{ prototype_html|replace({(prototype_name): '0'})|raw }}
                {% endif %}
                </tbody>
            </table>
        </div>
        <a class="btn add-list-item" data-container=".oro-item-collection tbody" href="javascript: void(0);"><i class="icon-plus"></i>{{ 'oro.rfp.frontend.request.lineitem.add'|trans }}</a>
    </div>
{% endblock %}

{% macro oro_rfp_request_lineitem_prototype(widget) %}
    {% if 'collection' in widget.vars.block_prefixes %}
        {% set form = widget.vars.prototype %}
        {% set name = widget.vars.full_name ~ '[' ~ widget.vars.prototype.vars.name ~ ']' %}
    {% else %}
        {% set form = widget %}
        {% set name = widget.vars.full_name %}
    {% endif %}
    {% set page_component_options = form.vars.page_component_options|merge(form.vars.componentOptions|default({})) %}
    <tr data-content="{{ name }}" data-validation-optional-group {{ block('widget_container_attributes') }}
        class="rfp-lineitem"
        data-page-component-module="{{ form.vars.page_component }}"
        data-page-component-options="{{ page_component_options|json_encode }}"
            >
        {{ form_widget(form) }}
        {{ form_errors(form) }}
        <td class="request-form-lineitem-unit--remove">
            <button type="button" class="removeLineItem btn icons-holder"><i class="icon-remove"></i></button>
        </td>
    </tr>
{% endmacro %}

{% block oro_rfp_frontend_request_product_widget %}
    {% set attr = layout_attr_defaults(attr, {
        'data-role': 'lineitem-product'
    }) %}
    <div class="request-form-editline__product">
        {{ form_widget(form.product, {attr: attr}) }}
        {{ form_errors(form.product) }}
    </div>
    <div class="rfp-lineitem-requested request-form-editline__lines">
        {{ form_widget(form.requestProductItems) }}
        {{ form_errors(form.requestProductItems) }}
    </div>
{% endblock %}

{% block oro_rfp_request_product_widget %}
    <td class="rfp-lineitem-product">
        {{ form_widget(form.product) }}
        {{ form_errors(form.product) }}
    </td>
    <td class="rfp-lineitem-requested">
        {{ form_widget(form.requestProductItems) }}
        {{ form_errors(form.requestProductItems) }}
    </td>
    <td class="rfp-lineitem-notes">
        <div data-page-component-module="oroorder/js/app/components/notes-component" style="display: none;">
            {{ form_widget(form.comment) }}
            {{ form_errors(form.comment) }}
        </div>
    </td>
{% endblock %}

{% block oro_rfp_request_frontend_product_item_collection_widget %}
    {% if prototype is defined %}
        {% set prototype_html = _self.oro_rfp_frontend_request_lineitem_requested_prototype(form) %}
    {% endif %}
    {% set attr = attr|merge({'class': (attr.class is defined ? attr.class ~ ' ' : '') ~ 'oro-item-collection grid-container' }) %}
    {% set id = id ~ '_collection' %}
    <div class="row-oro">
        {% set prototype_name = form.vars.prototype_name %}
        <div {{ block('widget_container_attributes') }}>
            <table class="table-hover table table-bordered rfp-lineitem-requested">
                <thead>
                <tr>
                    <th colspan="2"><span>{{ 'oro.rfp.frontend.request.lineitem.requested.quantity'|trans }}</span></th>
                    <th colspan="2"><span>{{ 'oro.rfp.frontend.request.lineitem.requested.price'|trans }}</span></th>
                    <th></th>
                </tr>
                </thead>
                <tbody class="rfp-lineitem-requested-items" data-last-index="{{ form.children|length}}" data-prototype-name="{{ prototype_name }}"{% if prototype_html is defined %} data-prototype="{{ prototype_html|escape }}"{% endif %} data-content>
                {% if form.children|length %}
                    {% for child in form.children %}
                        {{ _self.oro_rfp_frontend_request_lineitem_requested_prototype(child) }}
                    {% endfor %}
                {% elseif show_form_when_empty and prototype_html is defined %}
                    {{ prototype_html|replace({(prototype_name): '0'})|raw }}
                {% endif %}
                </tbody>
            </table>
        </div>
        <a class="btn add-list-item rfp-lineitem-requested-item-add" data-container=".oro-item-collection tbody" href="javascript: void(0);"><i class="icon-plus"></i>{{ 'oro.rfp.frontend.request.lineitem.requested.add'|trans }}</a>
    </div>
{% endblock %}

{% block oro_rfp_frontend_request_product_item_collection_widget %}
    {% if prototype is defined %}
        {% set prototype_html = _self.oro_rfp_frontend_request_lineitem_requested_prototype(form) %}
    {% endif %}
    {% set attr = attr|merge({'class': (attr.class is defined ? attr.class ~ ' ' : '') ~ 'grid-container' }) %}
    {% set id = id ~ '_collection' %}
    <div class="row-oro">
        {% set prototype_name = form.vars.prototype_name %}
        <div {{ block('widget_container_attributes') }}>
            <input type="hidden" name="validate_{{ full_name }}" data-collection-name="{{ full_name }}" data-name="collection-validation" disabled data-validate-element>
            <table class="request-form-lineitems">
                <tbody data-last-index="{{ form.children|length}}"
                data-prototype-name="{{ prototype_name }}"
                {% if prototype_html is defined %}
                    data-prototype="{{ prototype_html|escape }}"
                {% endif %}
                data-content
                data-role="lineitems">
                {% if form.children|length %}
                    {% for child in form.children %}
                        {{ _self.oro_rfp_frontend_request_lineitem_requested_prototype(child) }}
                    {% endfor %}
                {% elseif show_form_when_empty and prototype_html is defined %}
                    {{ prototype_html|replace({(prototype_name): '0'})|raw }}
                {% endif %}
                </tbody>
            </table>
        </div>
        <a class="add-list-item" data-role="lineitem-add" data-container="[data-role='lineitems']" href="javascript: void(0);"><i class="icon-plus"></i>{{ 'oro.rfp.frontend.request.lineitem.requested.add'|trans }}</a>
    </div>
{% endblock %}

{% block oro_rfp_request_product_item_collection_widget %}
    {% if prototype is defined %}
        {% set prototype_html = _self.oro_rfp_request_lineitem_requested_prototype(form) %}
    {% endif %}
    {% set attr = attr|merge({'class': (attr.class is defined ? attr.class ~ ' ' : '') ~ 'oro-item-collection grid-container' }) %}
    {% set id = id ~ '_collection' %}
    <div class="row-oro">
        {% set prototype_name = form.vars.prototype_name %}
        <div {{ block('widget_container_attributes') }}>
            <input type="hidden" name="validate_{{ full_name }}" data-collection-name="{{ full_name }}" data-name="collection-validation" disabled data-validate-element>
            <table class="table-hover table table-bordered rfp-lineitem-requested">
                <thead>
                <tr>
                    <th colspan="2"><span>{{ 'oro.rfp.frontend.request.lineitem.requested.quantity'|trans }}</span></th>
                    <th colspan="2"><span>{{ 'oro.rfp.frontend.request.lineitem.requested.price'|trans }}</span></th>
                    <th></th>
                </tr>
                </thead>
                <tbody class="rfp-lineitem-requested-items" data-last-index="{{ form.children|length}}" data-prototype-name="{{ prototype_name }}"{% if prototype_html is defined %} data-prototype="{{ prototype_html|escape }}"{% endif %} data-content>
                {% if form.children|length %}
                    {% for child in form.children %}
                        {{ _self.oro_rfp_request_lineitem_requested_prototype(child) }}
                    {% endfor %}
                {% elseif show_form_when_empty and prototype_html is defined %}
                    {{ prototype_html|replace({(prototype_name): '0'})|raw }}
                {% endif %}
                </tbody>
            </table>
        </div>
        <a class="btn add-list-item rfp-lineitem-requested-item-add" data-container=".oro-item-collection tbody" href="javascript: void(0);"><i class="icon-plus"></i>{{ 'oro.rfp.frontend.request.lineitem.requested.add'|trans }}</a>
    </div>
{% endblock %}

{% macro oro_rfp_request_lineitem_requested_prototype(widget) %}
    {% if 'collection' in widget.vars.block_prefixes %}
        {% set form = widget.vars.prototype %}
        {% set name = widget.vars.full_name ~ '[' ~ widget.vars.prototype.vars.name ~ ']' %}
    {% else %}
        {% set form = widget %}
        {% set name = widget.vars.full_name %}
    {% endif %}
    <tr data-content="{{ name }}" data-validation-optional-group {{ block('widget_container_attributes') }}
        class="rfp-lineitem-requested rfp-lineitem-requested-item">
        {{ form_widget(form) }}
        <td class="rfp-lineitem-requested-remove">
            <button type="button" class="removeRow btn icons-holder"><i class="icon-remove"></i></button>
        </td>
    </tr>
{% endmacro %}

{% block oro_rfp_request_product_item_widget %}
    {% set attr_quantity = layout_attr_defaults(attr, {
        'data-role': 'lineitem-quantity'
    }) %}
    <td class="request-form-lineitem-unit">
        {{ form_widget(form.quantity, {attr: attr_quantity}) }}
        {{ form_errors(form.quantity) }}
    </td>
    {% set attr_unit = layout_attr_defaults(attr, {
        class: 'rfp-requestproductitem-productunit-select',
        'data-role': 'lineitem-unit'
    }) %}
    <td class="request-form-lineitem-unit">
        {{ form_widget(form.productUnit, {attr: attr_unit}) }}
        {{ form_errors(form.productUnit) }}
    </td>
    <td class="request-form-lineitem-unit--text-node">
        <label>Target price:</label>
    </td>
    {% set attr_price = layout_attr_defaults(attr, {
        'data-role': 'lineitem-price'
    }) %}
    <td class="request-form-lineitem-unit">
        {{ form_widget(form.price.value, {attr: attr_price}) }}
        {{ form_errors(form.price.value) }}
    </td>
    {% set attr_currency = layout_attr_defaults(attr, {
        'data-role': 'lineitem-currency'
    }) %}
    <td class="request-form-lineitem-unit hide">
        {{ form_widget(form.price.currency, {attr: attr_currency}) }}
        {{ form_errors(form.price.currency) }}
    </td>
{% endblock %}

{% block _oro_order_type_lineItems_entry_offers_widget %}
    {% if offers is defined and offers|length %}
        {% set page_component_options = {
        offersSelector: '[name="%s"]'|format(full_name),
        quantitySelector: '#%s'|format(form.parent.quantity.vars.id),
        unitSelector: '#%s'|format(form.parent.productUnit.vars.id),
        productSelector: '#%s'|format(form.parent.product.vars.id),
        productSkuSelector: '#%s'|format(form.parent.productSku.vars.id),
        offersDataSelector: '#%s'|format(form.parent.offers_data.vars.id),
        } %}

        <table class="grid table table-hover table-bordered order-line-item-offers"
               data-page-component-module="ororfp/js/app/components/order-line-item-offers"
               data-page-component-options="{{ page_component_options|json_encode }}">
            <tbody>
            {% for child in form.children %}
                <tr>
                    {{ form_row(child, {offer: offers[loop.index-1]}) }}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}

{% block _oro_order_type_lineItems_entry_offers_entry_row %}
    <td class="order-line-item-offers-radio">
        {{ form_widget(form, {
            attr: {
                'data-quantity': offer.quantity|default,
                'data-unit': offer.unit|default,
                'data-price': offer.price|default,
                'data-currenct': offer.currency|default
            }
        }) }}
    </td>
    <td class="order-line-item-offers-quantity">
        {% if offer.quantity is defined and offer.unit is defined %}
            <label for="{{ id }}">
                {{ offer.quantity|oro_format_product_unit_code(offer.unit) }}
            </label>
        {% endif %}
    </td>
    <td class="order-line-item-offers-price">
        {% if offer.price is defined and offer.currency is defined %}
            <label for="{{ id }}">
                {{ offer.price|oro_format_currency({'currency': offer.currency}) }}
            </label>
        {% endif %}
    </td>
{% endblock %}
