{% extends '@OroUI/actions/view.html.twig' %}
{% import '@OroUI/macros.html.twig' as UI %}
{% import '@OroDataGrid/macros.html.twig' as dataGrid %}

{% oro_title_set({params : {"%title%": entity.__toString()}}) %}

{% block pageHeader %}
    {% set breadcrumbs = {
        'entity': entity,
        'indexPath': path('oro_rfp_request_index'),
        'indexLabel': 'oro.rfp.request.entity_plural_label'|trans,
        'entityTitle': 'oro.rfp.request.id.label'|trans ~ entity.id
    } %}
    {{ parent() }}
{% endblock pageHeader %}

{% block navButtonContainer %}
    {% placeholder view_navButtons_before with {entity: entity} %}
    {% block navButtons %}
        {% import '@OroUI/macros.html.twig' as UI %}

        {{ parent() }}

        {% if is_granted('oro_order_create') %}
            <div class="btn-group">
                {{ UI.link({
                    path: path('oro_rfp_request_create_order', {id: entity.id}),
                    label: 'oro.ui.create_entity'|trans({'%entityName%': 'oro.order.entity_label'|trans}),
                    class: 'btn',
                    iCss: 'fa-briefcase',
                }) }}
            </div>
        {% endif %}
    {% endblock navButtons %}
    {% placeholder rfp_view_navButtons_after with {entity: entity} %}
{% endblock navButtonContainer%}

{% block content_data %}
    {% set requestInfo %}
        {{ oro_widget_render({
            'widgetType': 'block',
            'url': path('oro_rfp_request_info', {id: entity.id}),
            'alias': 'request-info-widget'
        }) }}
    {% endset %}

    {% set dataBlocks = [
        {
            'title': 'oro.rfp.sections.general'|trans,
            'subblocks': [{'data' : [requestInfo]}]
        }
    ] %}

    {% set dataBlocks = dataBlocks|merge([{
        'title': 'oro.rfp.sections.note'|trans,
        'subblocks': [{'data': [
            dataGrid.renderGrid('rfp-request-additional-notes-grid', {request: entity.id}, {cssClass: 'inner-grid'})
        ]}]
    }]) %}

    {% if entity.requestProducts|length %}
        {% set lineItems %}
            <div class="rfp-line-items-info grid-container">
                <table class="grid grid-main-container table table-bordered table-condensed rfp-line-items">
                    <thead>
                        <tr>
                            <th class="rfp-line_item-sku"><span>{{ 'oro.product.sku.label'|trans }}</span></th>
                            <th class="rfp-line_item-product"><span>{{ 'oro.product.entity_label'|trans }}</span></th>
                            <th class="rfp-line_item-requested_quantity"><span>{{ 'oro.rfp.requestproductitem.quantity.label'|trans }}</span></th>
                            <th class="rfp-line_item-target_price"><span>{{ 'oro.rfp.requestproductitem.price.label'|trans }}</span></th>
                            <th class="rfp-line_item-target_notes"><span>{{ 'oro.rfp.requestproduct.comment.label'|trans }}</span></th>
                        </tr>
                    </thead>
                    {% for lineItem in entity.requestProducts %}
                        {% set numSubItems =  lineItem.requestProductItems|length %}
                        {% if numSubItems > 1 %}<tbody class="hasrs">{% else %}<tbody>{% endif %}
                        {% for subItem in lineItem.requestProductItems %}
                            {% set quantity = subItem.quantity %}
                            {% set price = subItem.price %}
                            <tr>
                                {% if loop.first %}
                                    <td rowspan="{{ numSubItems }}" class="rfp-line_item-sku" dir="ltr">{{ lineItem.productSku }}</td>
                                    <td rowspan="{{ numSubItems }}" class="rfp-line_item-product">
                                        {{ lineItem.product }}
                                    </td>
                                {% endif %}
                                <td class="rfp-line_item-requested_quantity rfp-line_item-requested_quantity-{% if loop.first %}first{% else %}not_first{% endif %}">
                                    {% if subItem.productUnit %}
                                        {% if oro_is_unit_code_visible(subItem.productUnit.code) %}
                                            {{ quantity ? quantity|oro_format_short_product_unit_value(subItem.productUnit) : 'N/A'|trans }}
                                        {% else %}
                                            {{ quantity ? quantity|oro_format_decimal : 'N/A'|trans }}
                                        {% endif %}
                                    {% else %}
                                        {{ quantity ? quantity ~ ' ' ~ 'oro.rfp.message.requestproductitem.unit.removed'|trans({'{title}': subItem.productUnitCode}) : 'N/A'|trans }}
                                    {% endif %}
                                </td>
                                <td class="rfp-line_item-target_price rfp-line_item-target_price-{% if loop.first %}first{% else %}not_first{% endif %}">
                                    {{ price ? price|oro_format_price : ''|trans }}
                                </td>
                                {% if loop.first %}
                                    <td rowspan="{{ numSubItems }}" class="rfp-line_item-target_notes">{{ lineItem.comment }}</td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    {% endfor %}
                </table>
            </div>
        {% endset %}

        {% set dataBlocks = dataBlocks|merge([{
            'title': 'oro.rfp.sections.request_products'|trans,
            'subblocks': [{'data' : [lineItems]}]
        }]) %}
    {% endif %}

    {% set id = 'request-view' %}
    {% set data = {'dataBlocks': dataBlocks} %}

    {{ parent() }}
{% endblock content_data %}
