{% block __oro_consent_items__consent_wrapper_widget %}
    {% set attr = layout_attr_defaults(attr, {
        'class': 'consent-items form-row'
    }) %}

    {% if consents is defined %}
        {% do block|merge_context({
            class_prefix: class_prefix,
            consents: consents
        }) %}

        <div {{ block('block_attributes') }}>
            {{ parent_block_widget(block) }}
        </div>
    {% endif %}
{% endblock %}

{% block __oro_consent_items__consent_items_widget %}
    {% set attr = layout_attr_defaults(attr, {
        'class': 'consent-item'
    }) %}

    {% for consent in consents %}
        {% set requiredClass = consent.required ? ' required' : ' optional' %}

        {% do block|merge_context({
            class_prefix: class_prefix,
            consent: consent,
            index: consent.id,
            requiredClass: requiredClass
        }) %}

        {% set attr = attr|merge({
            'class': 'consent-item' ~ requiredClass,
            'data-page-component-view': 'oroconsent/js/app/views/base-consent-item-view',
            'data-page-component-options': consent|json_encode
        }) %}

        <div {{ block('block_attributes') }}>
            {{ parent_block_widget(block) }}
        </div>
    {% endfor %}
{% endblock %}

{% block __oro_consent_items__consent_item_widget %}
    {% set attr = layout_attr_defaults(attr, {
        'class': 'custom-checkbox input-widget' ~ requiredClass,
        'for': 'consent-' ~ index
    }) %}

    <label {{ block('block_attributes') }}>
        {% spaceless %}
            {{ parent_block_widget(block) }}
            {% if consent.required %}
                <em class="consent-item__asterisk">*</em>
            {% endif %}
        {% endspaceless %}
    </label>
{% endblock %}

{% block __oro_consent_items__link_widget %}
    {% if consent.cmsPageData.url is defined %}
        {% set attr = layout_attr_defaults(attr, {
            'href': consent.cmsPageData.url
        }) %}

        <a {{ block('block_attributes') }}>{{ consent.title }}</a>
    {% else %}
        <span {{ block('block_attributes') }}>{{ consent.title }}</span>
    {% endif %}
{% endblock %}

{% block __oro_consent_items__checkbox_widget %}
    {% set attr = layout_attr_defaults(attr, {
        'class': 'custom-checkbox__input',
        'type': 'checkbox',
        'id': 'consent-' ~ index,
        'name': 'consent-' ~ index,
        'data-role': 'consent-checkbox'
    }) %}

    {% if consent.required == true %}
        {% set attr = attr|merge({
            'required': 'required',
            'data-validation': {
                NotBlank: {
                    message: 'oro.consent.frontend.form.validation.unaccepted_consent'|trans,
                    payload: null
                }
            }
        }) %}
    {% endif %}
    <input {{ block('block_attributes') }} {% if consent.accepted %} checked {% endif %}>
    <span class="custom-checkbox__icon"></span>
{% endblock %}

{% block __oro_consent_items__text_widget %}
    {% set attr = layout_attr_defaults(attr, {
        'class': ' custom-checkbox__text',
    }) %}

    <span {{ block('block_attributes') }}>
        {{ 'oro.consent.frontend.form.agree.label'|trans }}
        {{ parent_block_widget(block) }}
    </span>
{% endblock %}
