{% extends 'OroB2BFrontendBundle:actions:update.html.twig' %}

{% oro_title_set({
    params : {
        "%email%": entity.email|default('N/A'|trans),
        "%entityName%": 'orob2b.account.accountuser.entity_label'|trans
    }
}) %}

{% set formAction = path('orob2b_account_frontend_account_user_profile_update')  %}

{% block navButtons %}
    {{ UI.cancelButton(path('orob2b_account_frontend_account_user_profile')) }}
    {% set html = UI.saveAndCloseButton() %}
    {% if entity.id or resource_granted('orob2b_account_frontend_account_user_profile_update') %}
        {% set html = html ~ UI.saveAndStayButton() %}
    {% endif %}
    {{ UI.dropdownSaveButton({'html': html}) }}
{% endblock navButtons %}

{% block pageHeader %}
    {% set title = 'orob2b.account.accountuser.profile.edit'|trans %}
    {% include 'OroUIBundle::page_title_block.html.twig' with { title: title } %}
{% endblock pageHeader %}

{% block stats %}
    <li>{{ 'oro.ui.created_at'|trans }}: {{ entity.createdAt ? entity.createdAt|oro_format_datetime : 'N/A' }}</li>
    <li>{{ 'oro.ui.updated_at'|trans }}: {{ entity.updatedAt ? entity.updatedAt|oro_format_datetime : 'N/A' }}</li>
    <li>{{ 'orob2b.account.accountuser.last_login.label'|trans }}: {{ entity.lastLogin ? entity.lastLogin|oro_format_datetime : 'N/A' }}</li>
    <li>{{ 'orob2b.account.accountuser.login_count.label'|trans }}: {{ entity.loginCount|default(0) }}</li>
{% endblock stats %}

{% block content_data %}
    {% set id = 'account-user-profile-edit' %}

    {% set dataBlocks = [
        {
            'title': 'orob2b.account.sections.general'|trans,
            'class': 'active',
            'subblocks': [
                {
                    'data': [
                        form_row(form.namePrefix),
                        form_row(form.firstName),
                        form_row(form.middleName),
                        form_row(form.lastName),
                        form_row(form.nameSuffix),
                        form_row(form.email),
                        form_row(form.birthday),
                    ]
                }
            ]
        },
        {
            'title': 'orob2b.account.sections.password'|trans,
            'class': 'active',
            'subblocks': [
                {
                    'data': [form_widget(form.changePassword)]
                }
            ]
        }
    ] %}

    {% set data = {
        'formErrors': form_errors(form),
        'dataBlocks': dataBlocks
    }%}

    {{ parent() }}
{% endblock content_data %}
