@name = account_user_reset_password
@entityName = Oro\Bundle\UserBundle\Entity\User
@subject = Reset password
@isSystem = 1
@isEditable = 1

<h1>Hello, {{ entity|oro_format_name }}!</h1>

{% set resetPasswordLink = {{ oro_config_value('oro_ui.application_url') }}{{ path('oro_user_reset_reset', { token: entity.confirmationToken }) }} %}
<p>To reset your password - please visit <a href="{{ resetPasswordLink }}">{{ resetPasswordLink }}</a></p>
