{% block oro_sale_quote_product_demand_widget %}
    {% import '@OroUI/macros.html.twig' as UI %}

    {% set product = quoteProduct.productReplacement|default(quoteProduct.product) %}
    {% set isQuantityValid = form.quantity.vars.valid %}
    {% set selectedOffer = form.quoteProductOffer.vars.data %}
    {% set defaultUnitCode = selectedOffer.productUnit.code|oro_format_product_unit_label(true) %}
    {% if isQuantityValid %}
        {% set defaultPriceValue = selectedOffer.price|oro_format_price %}
    {% else %}
        {% set defaultPriceValue = 'oro.frontend.sale.quoteproductoffer.not_available.message'|trans %}
    {% endif %}

    {% set componentOptions = {
        unitPrecisions: unitPrecisions,
        offerSelector: '[name="%s"]'|format(form.quoteProductOffer.vars.full_name),
        quantitySelector: '[name="%s"]'|format(form.quantity.vars.full_name),
        unitInputSelector: '[name="%s"]'|format(form.unit.vars.full_name),
        unitSelector: '[data-role="unit-view"]',
        unitPriceSelector: '[data-role="price-view"]',
        quoteProductId: quoteProduct.id,
        quoteDemandId: form.vars.value.quoteDemand.id,
        calculatingMessage: 'oro.frontend.sale.quoteproductoffer.price_calculating.message'|trans,
        notAvailableMessage: 'oro.frontend.sale.quoteproductoffer.not_available.message'|trans,
        currentLineItemSelector: '#' ~ id
    } %}
    <tr id="{{ id }}"
        class="quote-line-items grid-row"
        data-page-component-module="orosale/js/app/components/quote-product-to-order-component"
        data-page-component-options="{{ componentOptions|json_encode }}">
        <td class="grid-cell grid-cell--offset-l-none-mobile primary-cell">
            {{ block('oro_sale_quote_product_demand_item_title') }}
            {{ block('oro_sale_quote_product_demand_item_attributes_container') }}
        </td>
        <td class="grid-cell grid-cell--offset-l-none-mobile">
            {{ form_widget(form.quoteProductOffer) }}
            {{ form_errors(form.quoteProductOffer) }}
        </td>
        <td class="grid-cell qty-cell">
            <div class="fields-row">
                <div class="product__qty-input product__qty-input_inline product__qty-input_more-info">
                    {% set quantityReadOnly = form.quantity.vars.attr.readonly is defined and true %}
                    {{ form_widget(form.quantity, {
                        'attr': {
                            'data-valid': isQuantityValid|json_encode,
                            'class': attr.class|default('') ~ quantityReadOnly ? 'disabled'
                        }})
                    }}
                    {{ form_widget(form.unit) }}
                    {% if oro_is_unit_code_visible(defaultUnitCode) %}
                        <span data-role="unit-view">{{ defaultUnitCode }}</span>
                    {% endif %}
                </div>
                <div class="fields-row-error">
                    {{ form_errors(form.quantity) }}
                    {{ form_errors(form.unit) }}
                </div>
            </div>
        </td>
        <td class="grid-cell grid-cell--offset-l-none-mobile">
            <span class="hide-on-desktop hide-on-strict-tablet" aria-hidden="true">
                {{ 'oro.frontend.sale.quoteproductoffer.unit_price.label'|trans }}:
            </span>
            <span data-role="price-view">{{ defaultPriceValue }}</span>
        </td>
    </tr>
    {% if (quoteProduct.commentCustomer is not empty) %}
        <tr class="grid-row">
            <td class="grid-cell notes-cell grid-cell--offset-l-none-mobile" colspan="4">
                <div class="customer-line-items__notes">
                    {{ 'oro.frontend.sale.quoteproduct.comment_customer.label'|trans }}: {{ quoteProduct.commentCustomer }}
                </div>
            </td>
        </tr>
    {% endif %}

    {% if (quoteProduct.comment is not empty) %}
        <tr class="grid-row">
            <td class="grid-cell notes-cell" colspan="4">
                <div class="customer-line-items__notes">
                    {{ 'oro.frontend.sale.quoteproduct.comment.label'|trans }}: {{ quoteProduct.comment }}
                </div>
            </td>
        </tr>
    {% endif %}
{% endblock %}

{% block oro_sale_quote_product_demand_item_title %}
    {% import '@OroUI/macros.html.twig' as UI %}
    <h3 class="oro-grid-table__title">
        {% if (quoteProduct.product.id is defined) %}
            {{ UI.link({
                path: path('oro_product_frontend_product_view', {'id': quoteProduct.product.id}),
                label : quoteProduct.product.names|localized_value,
            }) }}
        {% else %}
            {{ quoteProduct.productName }}
        {% endif %}
    </h3>
{% endblock %}

{% block oro_sale_quote_product_demand_item_attributes_container %}
    <div class="customer-line-items__row">
        {{ block('oro_sale_quote_product_demand_item_attributes_sku') }}
    </div>
{% endblock %}

{% block oro_sale_quote_product_demand_item_attributes_sku %}
    {{ 'oro.frontend.sale.quoteproduct.product_sku.label'|trans }}
    <span class="customer-line-items__sku-value">
        {% if quoteProduct.isTypeNotAvailable %}
            {{ quoteProduct.productReplacementSku }}
        {% else %}
            {{ quoteProduct.productSku }}
        {% endif %}
    </span>
{% endblock %}

{% block oro_sale_quote_product_demand_collection_widget %}
    {% set attr = attr|merge({'class': (attr.class is defined ? attr.class ~ ' ' : '') ~ 'grid-container customer-line-items' }) %}
    {% apply spaceless %}
        <div {{ block('widget_container_attributes') }}>
            <table class="oro-grid-table customer-line-items__table">
                <thead class="grid-header hide-on-mobile-landscape">
                <tr class="grid-header-row">
                    <th class="grid-cell">{{ 'oro.frontend.sale.quoteproduct.product_name.label'|trans }}</th>
                    <th class="grid-cell">{{ 'oro.frontend.sale.quoteproductoffer.select_offer.label'|trans }}</th>
                    <th class="grid-cell">{{ 'oro.frontend.sale.quoteproductoffer.quantity_to_order.label'|trans }}</th>
                    <th class="grid-cell">{{ 'oro.frontend.sale.quoteproductoffer.unit_price.label'|trans }}</th>
                </tr>
                </thead>
                {% for child in form.children %}
                    <tbody class="grid-body">
                        {% if (child.vars.unique_block_prefix) == form.vars.unique_block_prefix ~ '_entry' %}
                            {{ form_widget(child) }}
                        {% endif %}
                    </tbody>
                {% endfor %}
            </table>
            {{ form_rest(form) }}
            {{ form_errors(form) }}
        </div>
    {% endapply %}
{% endblock %}

{% block oro_sale_quote_product_demand_offer_choice_widget %}
    <table class="oro-grid-table">
        <tbody>
            {% for child in form %}
                {% set choice = choices[child.vars.value] %}
                {% set offer = choice.data %}
                <tr>
                    <td class="grid-cell grid-cell--offset-l-none" >
                        {% set formattedUnitCode = '' %}
                        {% if oro_is_unit_code_visible(offer.productUnit.code) %}
                            {% set formattedUnitCode = offer.productUnit.code|oro_format_product_unit_label(true) %}
                        {% endif %}

                        {% set attr = {
                            'data-value': offer.id,
                            'data-allow-increment': offer.allowIncrements ? 'true' : 'false',
                            'data-unit': offer.productUnitCode,
                            'data-formatted-unit': formattedUnitCode,
                            'data-quantity': offer.quantity,
                            'data-price': offer.price|oro_format_price
                        } %}

                        {% set label_attr = {
                            'class': 'absolute'
                        } %}

                        {{ form_widget(child, {
                            attr: attr,
                            label_attr: label_attr
                        }) }}
                    </td>
                    <td class="grid-cell quote-product-offer-select-offer-price">
                        {{ offer.price|oro_format_price }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
