{% block _page_title_widget %}
    {% set hasActions = true %}
    {{ parent_block_widget(block) }}
{% endblock %}

{% block _quote_choice_page_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': " customer-info-grid__order"
    }) %}

    <div{{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _quote_choice_data_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': " customer-info-grid__data"
    }) %}

    <div{{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _quote_choice_total_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': " customer-info-grid__total"
    }) %}

    <div{{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _quote_choice_actions_container_widget %}
    {% set attr = layout_attr_defaults(attr, {
        'class': attr.class|default('') ~ "page-title-actions"
    }) %}
    <div {{ block('block_attributes') }}>
        <div class="page-title-actions__actions_list">
            {{ block_widget(block) }}
        </div>
    </div>
{% endblock %}

{% block _quote_choice_submit_button_wrapper_widget %}
    <div{{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _quote_choice_back_button_wrapper_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' ',
        'data-dom-relocation-options': {
            responsive: [
                {
                    viewport: 'mobile-landscape',
                    moveTo: '.page-title-wrapper',
                    prepend: true
                }
            ]
        }|json_encode
    }) %}
    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _quote_choice_form_widget %}
    {% set componentOptions = {
        subtotalsRoute: 'oro_sale_quote_frontend_subtotals',
        quoteDemandId: quoteDemand.id,
        subtotalSelector: '#quote-choice-subtotal',
        lineItemsSelector: '.quote-line-items'
    } %}

    <div data-page-component-module="orosale/js/app/components/quote-demand-component"
         data-page-component-options="{{ componentOptions|json_encode }}">
        {{ form_errors(form) }}
        <form method="POST"
              data-nohash="true"
              data-disable-autofocus="true"
              id="{{ form.vars.id }}"
              name="{{ form.vars.name }}"
              class="quote-choice-form"
        >

                {{ form_widget(form.demandProducts) }}
                {{ form_rest(form) }}
                <div class="order-checkout-widget">
                    {{ block_widget(block) }}
                </div>

        </form>
        {{ oro_form_js_validation(form) }}
    </div>
{% endblock %}

{% block _quote_choice_submit_button_widget %}
    {% import '@OroUI/layouts/renderIcon.html.twig' as renderIcon %}
    {% if form.vars.id is defined %}
        {% set attr = layout_attr_defaults(attr, {
            'form': form.vars.id
        }) %}
    {% endif %}
    <div class=" order-checkout-widget" >
        <div class=" text-right">
            <button {{ block('block_attributes') }} type="submit"> {{ renderIcon.icon({name: 'shopping-cart'}) }}{{ 'oro.frontend.sale.quote.submit_to_order.submit'|trans }}</button>
        </div>
    </div>
{% endblock %}

{% block _quote_choice_subtotals_widget %}
    <div id="quote-choice-subtotal" class="summary-widget__inner">
        <div class="summary-widget__summary">
            <table class="summary-table">
                {% for subtotal in subtotals %}
                    {% if subtotal.visible %}
                        <tr>
                            <th>{{ subtotal.label }}</th>
                            <td>{{ subtotal.amount|oro_format_currency({'currency': subtotal.currency}) }}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
                <tr aria-hidden="true" class="summary-table__presentation">
                    <td colspan="2">
                        <hr class="summary-table__divider">
                    </td>
                </tr>
                <tr class="summary-table__total-row">
                    <th class="summary-table__total">{{ total.label }}</th>
                    <td class="summary-table__total"><span class="summary-table__total-price">{{ total.amount|oro_format_currency({'currency': total.currency}) }}</span></td>
                </tr>
            </table>
        </div>
    </div>
{% endblock %}

{% block _quote_choice_information_widget %}
    <div class="customer-info-grid">
        <div class="grid grid-columns-2">
            <div class="grid-col grid-col-mobile-landscape-12">
                <table class="customer-info-grid__list">
                    <tbody>
                        {% if quote.assignedUsers | length %}
                            <tr class="customer-info-grid__row">
                                <td class="customer-info-grid__element-label">{{ 'oro.frontend.sale.quote.assigned_customer_users.label'|trans }}</td>
                                <td class="customer-info-grid__element-content">
                                    {% set assigned_users = [] %}
                                    {% for entity in quote.assignedUsers %}
                                        {% set assigned_users = assigned_users|merge([entity.fullName]) %}
                                    {% endfor %}
                                    {{ assigned_users|join(', ') }}
                                </td>
                            </tr>
                        {% endif %}
                        <tr class="customer-info-grid__row">
                            <td class="customer-info-grid__element-label">{{ 'oro.frontend.sale.quote.valid_until.label'|trans }}</td>
                            <td class="customer-info-grid__element-content">{{ quote.validUntil ? quote.validUntil|oro_format_datetime : 'N/A'|trans }}</td>
                        </tr>
                        <tr class="customer-info-grid__row">
                            <td class="customer-info-grid__element-label">{{ 'oro.frontend.sale.quote.po_number.label'|trans }}</td>
                            <td class="customer-info-grid__element-content"><bdo dir="ltr">{{ quote.poNumber|default('N/A'|trans) }}</bdo></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="grid-col grid-col-mobile-landscape-12">
                <table class="customer-info-grid__list">
                    <tbody>
                        <tr class="customer-info-grid__row">
                            <td class="customer-info-grid__element-label">{{ 'oro.frontend.sale.quote.ship_until.label'|trans }}</td>
                            <td class="customer-info-grid__element-content">{{ quote.shipUntil|oro_format_date|default('N/A'|trans) }}</td>
                        </tr>
                        {% if paymentTerm is defined and paymentTerm is not empty %}
                            <tr class="customer-info-grid__row">
                                <td class="customer-info-grid__element-label">{{ 'oro.paymentterm.entity_label'|trans }}</td>
                                <td class="customer-info-grid__element-content">{{ paymentTerm.label|escape }}</td>
                            </tr>
                        {% endif %}
                        {{ block_widget(block) }}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block _quote_choice_info_container_widget %}
    {% set attr = layout_attr_defaults(attr, {
        'class': attr.class|default('') ~ " customer-info-grid__container"
    }) %}
    <div{{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block address_widget %}
    {% from '@OroAddress/macros.html.twig' import renderAddress %}
    {{ renderAddress(address, true) }}
{% endblock %}

{% block quote_body_column_element_widget %}
    {% if address is not null %}
        <tr class="customer-info-grid__row">
            <td class="customer-info-grid__element-label">{{ label|trans }}</td>
            <td class="customer-info-grid__element-content">{{ block_widget(block) }}</td>
        </tr>
    {% endif %}
{% endblock %}
