{% block _product_grid_row_template_widget %}
    {% set attr = layout_attr_defaults(attr, {
        id: 'template-grid-row',
        type: 'text/template'
    }) %}
    <script {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </script>
{% endblock %}

{% block _datagrid_row_product_widget %}
    {% do block|merge_context({
        product: {
            id: '<%= model.id %>',
            sku: '<%= model.sku %>',
            getDefaultName: '<%= model.name %>',
            shortDescription: '<%= model.shortDescription %>',
        },
        class_prefix: '<%= themeOptions.currentRowView %>'
    }) %}
    {% import 'OroFrontendBundle:layouts/default:utils.html.twig' as utils %}
    {{ utils.underscoreRaw(block_widget(block)) }}
{% endblock %}

{% block _datagrid_row_product_image_holder_widget %}
    {% import 'OroProductBundle::image_macros.html.twig' as Image %}

    {% set attr = layout_attr_defaults(attr, {
        '~class': " product-item__image-holder product-item__image-holder_{{ class_prefix }}"
    }) %}
    <div {{ block('block_attributes') }}>
        {% set noImageUrl = Image.url(null, 'product_large') %}
        <a href="<%= model.view_link %>" class="view-product"
           style="background-image: url('<% if (model.image) { %><%= model.image %><% } else { %>{{ noImageUrl }}<% } %>')">
        </a>
    </div>
{% endblock %}

{% block _datagrid_row_product_title_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': " product-item__title product-item__title_{{ class_prefix }}"
    }) %}
    <h3 {{ block('block_attributes') }}>
        <a href="<%= model.view_link %>"
           class="view-product">{{ product.getDefaultName }}</a>
    </h3>
{% endblock %}

{% block _datagrid_row_product_details_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': " product__view-details-link product__view-details-link_{{ class_prefix }}"
    }) %}
    <div {{ block('block_attributes') }}>
        <a href="<%= model.view_link %>" class="view-product">
            <span class="underlined">{{ 'oro.product.frontend.index.view_details'|trans }}</span><i class="cf-right-open-mini"></i>
        </a>
    </div>
{% endblock %}

{% block _datagrid_row_product_line_item_form_fields_widget %}
    <% if (!_.isEmpty(model.product_units)) { %>
        {{ block_widget(block, {attr: attr}) }}
    <% } %>
{% endblock %}
