{% block _orob2b_shopping_list_frontend_line_item_widget_shoppingList_widget %}
    {% set currentShoppingList = currentShoppingList is not defined ? null : currentShoppingList %}
    {% set isPost = app.request.isMethod('POST') %}
    {% spaceless %}
        <select {{ block('widget_attributes') }}>
            {% for group_label, choice in choices %}
                {% set isCurrent = currentShoppingList is not null and choice.value == currentShoppingList.id %}
                {% set label = choice.label ~ (isCurrent ? ' (current)') %}
                {% set isSelected =
                    not isPost and value is empty and isCurrent
                    or isPost and value is not empty and choice is selectedchoice(value)
                %}
                <option value="{{ choice.value }}"{{ isSelected ? ' selected="selected"' }}>
                    {{ label }}
                </option>
            {% endfor %}
            <option value=""{% if value is empty and (currentShoppingList is null or isPost) %} selected="selected"{% endif %}>
                {{  empty_value|trans({},translation_domain) }}
            </option>
        </select>
    {% endspaceless %}
{% endblock %}
