{% block _forgot_password_form_start_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' forgot-password'
    }) %}

    {{ block_widget(block, {attr: attr}) }}
{% endblock %}

{% block _forgot_password_form_label_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' page-title'
    }) %}

    <h1 {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </h1>
{% endblock %}

{% block _forgot_password_form_submit_wrap_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' form-row'
    }) %}

    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _forgot_password_form_submit_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' button'
    }) %}

    {{ block_widget(block, {attr: attr}) }}
{% endblock %}

{% block _forgot_password_form_return_to_login_widget %}
    {% set attr = layout_attr_defaults(attr, {
    '~class': ' link'
    }) %}

    {{ block_widget(block, {attr: attr}) }}
{% endblock %}
