{% block _web_catalog_menu_list_widget %}
    {% set attr =  layout_attr_defaults(attr, {'~class': ' main-menu'}) %}

    <ul {{ block('block_attributes') }} data-collapse-container>
        {{ block_widget(block) }}
    </ul>
{% endblock %}

{% block _web_catalog_menu_widget %}
    {% if (max_size is not null ) %}
        {% set categories = categories[0:max_size] %}
    {%- endif %}
    {% set categoriesAttr = layout_attr_defaults(attr, {
        '~class': ' main-menu__item'
    }) %}
    {% for category in categories -%}
        {% set hasSublist = category.children is not empty %}
        {% set categoryAttr = categoriesAttr %}
        {% if hasSublist  %}
            {% set categoryAttr = layout_attr_defaults(categoryAttr, {
                '~class': ' main-menu__item--ancestor',
                'data-dropdown-trigger': true,
                'data-page-component-module': 'oroui/js/app/components/viewport-component',
                '~data-page-component-options': {
                    screenType: 'tablet',
                    component: 'oroui/js/app/components/jquery-widget-component',
                    widgetModule: 'oroui/js/widget/collapse-widget',
                    trigger: '[data-collapse-trigger-second]',
                    container: '[data-collapse-container-second]',
                    hideSibling: true,
                    open: false
                }
            }) %}
        {% endif  %}
        {% do block|merge_context({'category': category}) %}
        {% for child in block if child.vars.visible -%}
            {% if (child.vars.use_for is not empty and category.identifier in child.vars.use_for|keys) or
                (child.vars.not_use_for is not empty and category.identifier not in child.vars.not_use_for|keys) %}
                    {{ block_widget(child, {attr: categoryAttr}) }}
            {%- endif %}
        {%- endfor %}
    {%- endfor %}
{% endblock %}

{% block _web_catalog_menu_first_level_item_simple_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' main-menu__item--floated-dropdown'
    }) %}
    {% set sub_block = '_web_catalog_menu_main_menu_sub_block_simple' %}
    {{ block('_web_catalog_menu_main_menu_link') }}
{% endblock %}

{% block _web_catalog_menu_first_level_item_head_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' main-menu__item--' ~ (block.children|length == 1 ? 'floated' : 'centered') ~ '-dropdown'
    }) %}
    {% set sub_block = '_web_catalog_menu_main_menu_sub_block_head' %}
    {{ block('_web_catalog_menu_main_menu_link') }}
{% endblock %}

{% block _web_catalog_menu_first_level_item_mega_widget %}
    {% set sub_block = '_web_catalog_menu_main_menu_sub_block_mega' %}
    {{ block('_web_catalog_menu_main_menu_link') }}
{% endblock %}

{% block _web_catalog_menu_second_level_item_simple_widget %}
    {% for category in categories %}
        {{ block('_web_catalog_menu_second_level_item') }}
    {% endfor %}
{% endblock %}

{% block _web_catalog_menu_second_level_item_head_widget %}
    {% set label = category.label %}
    {% set content %}
        {% for category in categories %}
            {{ block('_web_catalog_menu_second_level_item') }}
        {% endfor %}
    {% endset %}
    {{ block('_web_catalog_menu_second_level_column') }}
{% endblock %}

{% block _web_catalog_menu_second_level_sale_head_widget %}
    {% set label = 'On Sale' %}
    {% set content %}
        <li class="main-menu-column__item">
            <a class="main-menu-column__link" href="#">
                <img class="main-menu-column__image" src="{% image '@OroWebCatalogBundle/Resources/public/images/adv_3.jpg' %}{{ asset_url }}{% endimage %}">
            </a>
        </li>
    {% endset %}
    {{ block('_web_catalog_menu_second_level_column') }}
{% endblock %}

{% block _web_catalog_menu_second_level_sale_mega_widget %}
    {% set label = 'On Sale' %}
    {% set content %}
        <li class="main-menu-column__item">
            <a class="main-menu-column__link" href="#">
                <img class="main-menu-column__image" src="{% image '@OroWebCatalogBundle/Resources/public/images/adv_1.jpg' %}{{ asset_url }}{% endimage %}">
            </a>
        </li>
        {#<li class="main-menu-column__item">#}
            {#<a class="main-menu-column__link" href="#">#}
                {#<img class="main-menu-column__image" src="{% image '@OroWebCatalogBundle/Resources/public/images/adv_2.jpg' %}{{ asset_url }}{% endimage %}">#}
            {#</a>#}
        {#</li>#}
    {% endset %}
    {{ block('_web_catalog_menu_second_level_column') }}
{% endblock %}

{% block _web_catalog_menu_second_level_item_mega_widget %}
    {% for category in categories %}
        {% set two_column = loop.index == 1 %}
        {% set hasSublist = category.children is not empty %}

        {% set label = category.label %}
        {% set addClass = two_column ? 'main-menu-column--splited' %}
        {% set contentTag = 'div' %}
        {% set content %}
            {% if hasSublist %}
                {% do block|merge_context({
                    'categories': category.children,
                    'two_column': two_column,
                }) %}
                {{ block('container_widget') }}
            {% endif %}
        {% endset %}
        {{ block('_web_catalog_menu_second_level_column') }}
    {% endfor %}
{% endblock %}

{% block _web_catalog_menu_third_level_item_mega_widget %}
    {% for category in categories %}
        {% if two_column or loop.first %}
        <ul class="main-menu-column__inner-{{ loop.index % 2 ? 'left' : 'right' }}">
        {% endif %}
            {{ block('_web_catalog_menu_second_level_item') }}
            {{ block('_web_catalog_menu_children') }}
            {% set hasSublist = category.children is not empty %}
            {% if hasSublist %}
                {% do block|merge_context({'categories': category.children }) %}
                {{ block('container_widget') }}
            {% endif %}
        {% if two_column or loop.last %}
        </ul>
        {% endif %}
    {% endfor %}
{% endblock %}

{% block _web_catalog_menu_four_level_item_mega_widget %}
    {% for category in categories %}
        {{ block('_web_catalog_menu_third_level_item') }}
    {% endfor %}
{% endblock %}

{% block _web_catalog_menu_main_menu_link %}
    <li {{ block('block_attributes') }}>
        {% set hasSublist = category.children is not empty %}
        <a href="{{ app.request.uriForPath(category.url) }}"
           class="main-menu__link" data-collapse-trigger-second>
            <span class="main-menu__text">{{ category.label }}</span>
            {% if hasSublist %}
                <span class="main-menu__taptick">
                    <i class="fa-angle-down fa--no-offset"></i>        
                </span>
            {% endif %}
        </a>
        {% if hasSublist %}
            <button data-toggle="dropdown" aria-haspopup="true" class="main-menu__button-arrow">
                <i class="fa-angle-down fa--no-offset"></i>
            </button>
            {{ block(sub_block) }}
        {% endif %}
    </li>
{% endblock %}

{% block _web_catalog_menu_main_menu_sub_block_simple %}
    <div class="main-menu__sublist-container" data-header-row-toggle data-collapse-container-second>
        <div class="main-menu-columns main-menu-columns--single">
            <div class="main-menu-column">
                <ul class="main-menu-column__inner">
                    {% do block|merge_context({'categories': category.children }) %}
                    {{ block('container_widget') }}
                </ul>
            </div>
        </div>
    </div>
{% endblock  %}

{% block _web_catalog_menu_main_menu_sub_block_head %}
    <div class="main-menu__sublist-container" data-header-row-toggle data-collapse-container-second>
        <div class="main-menu-columns">
            {% do block|merge_context({'categories': category.children }) %}
            {{ block('container_widget') }}
        </div>
    </div>
{% endblock  %}

{% block _web_catalog_menu_second_level_column %}
    {% set collapseView =  layout_attr_defaults(attr, {
        screenType: 'tablet',
        component: 'oroui/js/app/components/jquery-widget-component',
        widgetModule: 'oroui/js/widget/collapse-widget',
        trigger: '[data-collapse-trigger-third]',
        container: '[data-collapse-container-third]',
        open: false
    }) %}
    <div class="main-menu-column collapse-view {{ addClass|default('') }}"
         data-page-component-module="oroui/js/app/components/viewport-component"
         data-page-component-options="{{ collapseView|json_encode }}">
        <div class="main-menu-column__title" data-collapse-trigger-third>
            {{ label }} <i class="main-menu-column__icon fa-angle-down"></i>
        </div>
        <{{ contentTag|default('ul') }} class="main-menu-column__inner" data-collapse-container-third>
            {{ content }}
        </{{ contentTag|default('ul') }}>
    </div>
{% endblock  %}

{% block _web_catalog_menu_main_menu_sub_block_mega %}
    <div class="main-menu__sublist-container" data-header-row-toggle data-collapse-container-second>
        <div class="main-menu-columns">
            {% do block|merge_context({'categories': category.children }) %}
            {{ block('container_widget') }}
        </div>
    </div>
{% endblock  %}

{% block _web_catalog_menu_second_level_item %}
    <li class="main-menu-column__item">
        <a class="main-menu-column__link" href="{{ app.request.uriForPath(category.url) }}">{{ category.label }}</a>
    </li>
{% endblock %}

{% block _web_catalog_menu_third_level_item %}
    <li class="main-menu-column__subitem">
        <a class="main-menu-column__link" href="{{ app.request.uriForPath(category.url) }}">{{ category.label }}</a>
    </li>
{% endblock %}
