{% block _web_catalog_menu_list_widget %}
    {% set attr =  layout_attr_defaults(attr, {'~class': ' main-menu'}) %}

    <ul {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </ul>
{% endblock %}

{% block _web_catalog_menu_widget %}
    {% if (max_size is not null ) %}
        {% set categories = categories[0:max_size] %}
    {%- endif %}
    {% set categoriesAttr = layout_attr_defaults(attr, {
        '~class': ' main-menu__item'
    }) %}
    {% for category in categories -%}
        {% set hasSublist = category.children is not empty %}
        {% set categoryAttr = categoriesAttr %}
        {% if hasSublist  %}
            {% set categoryAttr = layout_attr_defaults(categoryAttr, {
                '~class': ' main-menu__item--ancestor'
            }) %}
        {% endif  %}
        {% do block|merge_context({'category': category}) %}
        {% for child in block if child.vars.visible -%}
            {% if (child.vars.use_for is not empty and category.identifier in child.vars.use_for|keys) or
                (child.vars.not_use_for is not empty and category.identifier not in child.vars.not_use_for|keys) %}
                    {{ block_widget(child, {attr: categoryAttr}) }}
            {%- endif %}
        {%- endfor %}
    {%- endfor %}
{% endblock %}

{% block _web_catalog_menu_first_level_item_simple_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' main-menu__item--floated-dropdown'
    }) %}
    {% set sub_block = '_web_catalog_menu_main_menu_sub_block_simple' %}
    {{ block('_web_catalog_menu_main_menu_link') }}
{% endblock %}

{% block _web_catalog_menu_first_level_item_head_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' main-menu__item--' ~ (block.children|length == 1 ? 'floated' : 'centered') ~ '-dropdown'
    }) %}
    {% set sub_block = '_web_catalog_menu_main_menu_sub_block_head' %}
    {{ block('_web_catalog_menu_main_menu_link') }}
{% endblock %}

{% block _web_catalog_menu_first_level_item_mega_widget %}
    {% set sub_block = '_web_catalog_menu_main_menu_sub_block_mega' %}
    {{ block('_web_catalog_menu_main_menu_link') }}
{% endblock %}

{% block _web_catalog_menu_second_level_item_simple_widget %}
    {% for category in categories %}
        {{ block('_web_catalog_menu_second_level_item_simple') }}
    {% endfor %}
{% endblock %}

{% block _web_catalog_menu_second_level_item_head_widget %}
    {% set label = category.label %}
    {% set content %}
        {% for category in categories %}
            {{ block('_web_catalog_menu_second_level_item') }}
        {% endfor %}
    {% endset %}
    {{ block('_web_catalog_menu_second_level_column') }}
{% endblock %}

{% block _web_catalog_menu_second_level_sale_head_widget %}
    {% set label = 'On Sale' %}
    {% set content %}
        <li class="main-menu-column__item">
            <a class="main-menu-column__link" href="#">
                <img class="main-menu-column__image"
                     src="{{ asset('bundles/orowebcatalog/images/adv_3.jpg') }}
                ">
            </a>
        </li>
    {% endset %}
    {{ block('_web_catalog_menu_second_level_column') }}
{% endblock %}

{% block _web_catalog_menu_second_level_sale_mega_widget %}
    {% set label = 'On Sale' %}
    {% set content %}
        <li class="main-menu-column__item">
            <a class="main-menu-column__link" href="#">
                <img class="main-menu-column__image"
                     src="{{ asset('bundles/orowebcatalog/images/adv_1.jpg') }}
                ">
            </a>
        </li>
        {#<li class="main-menu-column__item">#}
            {#<a class="main-menu-column__link" href="#">#}
                {#<img class="main-menu-column__image"
                       src="{{ asset('bundles/orowebcatalog/images/adv_2.jpg') }}
                  ">#}
            {#</a>#}
        {#</li>#}
    {% endset %}
    {{ block('_web_catalog_menu_second_level_column') }}
{% endblock %}

{% block _web_catalog_menu_second_level_item_mega_widget %}
    {% for category in categories %}
        {% set two_column = loop.index == 1 %}
        {% set hasSublist = category.children is not empty %}

        {% set label = category.label %}
        {% set addClass = two_column ? 'main-menu-column--splited' %}
        {% set contentTag = 'div' %}
        {% set content %}
            {% if hasSublist %}
                {% do block|merge_context({
                    'categories': category.children,
                    'two_column': two_column,
                }) %}
                {{ block('container_widget') }}
            {% endif %}
        {% endset %}
        {{ block('_web_catalog_menu_second_level_column') }}
    {% endfor %}
{% endblock %}

{% block _web_catalog_menu_third_level_item_mega_widget %}
    {% for category in categories %}
        {% if two_column or loop.first %}
        <ul class="main-menu-column__inner-{{ loop.index % 2 ? 'left' : 'right' }}">
        {% endif %}
            {{ block('_web_catalog_menu_second_level_item') }}
            {{ block('_web_catalog_menu_children') }}
            {% set hasSublist = category.children is not empty %}
            {% if hasSublist %}
                {% do block|merge_context({'categories': category.children }) %}
                {{ block('container_widget') }}
            {% endif %}
        {% if two_column or loop.last %}
        </ul>
        {% endif %}
    {% endfor %}
{% endblock %}

{% block _web_catalog_menu_four_level_item_mega_widget %}
    {% for category in categories %}
        {{ block('_web_catalog_menu_third_level_item') }}
    {% endfor %}
{% endblock %}

{% block _web_catalog_menu_main_menu_link %}
    <li {{ block('block_attributes') }}>
        {% set hasSublist = category.children is not empty %}
        <a href="{{ oro_commercemenu_get_url(category.url) }}"
           class="main-menu__link">
            <span class="main-menu__text">{{ category.label }}</span>
            {% if hasSublist %}
                <span class="main-menu__taptick" aria-hidden="true">
                    <span class="fa-angle-down fa--no-offset"></span>
                </span>
            {% endif %}
        </a>
        {% if hasSublist %}
            {% set togglerId = 'dropdown-'|uniqid %}
            <button class="main-menu__button-arrow"
                    data-toggle="dropdown"
                    data-popper="false"
                    data-go-to="next"
                    id="{{ togglerId }}"
                    aria-haspopup="true"
                    aria-expanded="false"
                    aria-label="{{ category.label }}"
            >
                <span class="fa-angle-down fa--no-offset" aria-hidden="true"></span>
            </button>
            {% do block|merge_context({'togglerId': togglerId}) %}
            {{ block(sub_block) }}
        {% endif %}
    </li>
{% endblock %}

{% block _web_catalog_menu_main_menu_sub_block_simple %}
    <div class="main-menu__sublist-container"
         data-header-row-toggle
         data-scroll="true"
         aria-labelledby="{{ togglerId }}">
        <div class="main-menu-columns main-menu-columns--single">
            <div class="main-menu-column">
                <ul class="main-menu-column__inner">
                    {% do block|merge_context({'categories': category.children }) %}
                    {{ block('container_widget') }}
                </ul>
            </div>
        </div>
    </div>
{% endblock  %}

{% block _web_catalog_menu_main_menu_sub_block_head %}
    <div class="main-menu__sublist-container"
         data-header-row-toggle
         data-scroll="true"
         aria-labelledby="{{ togglerId }}">
        <div class="main-menu-columns">
            {% do block|merge_context({'categories': category.children }) %}
            {{ block('container_widget') }}
        </div>
    </div>
{% endblock  %}

{% block _web_catalog_menu_second_level_column %}
    <div class="main-menu-column {{ addClass|default('') }}">
        <p class="main-menu-column__title">
            {{ label }}
        </p>
        <{{ contentTag|default('ul') }} class="main-menu-column__inner">
            {{ content }}
        </{{ contentTag|default('ul') }}>
    </div>
{% endblock  %}

{% block _web_catalog_menu_main_menu_sub_block_mega %}
    <div class="main-menu__sublist-container"
         data-header-row-toggle
         data-scroll="true"
         aria-labelledby="{{ togglerId }}">
        <div class="main-menu-columns">
            {% do block|merge_context({'categories': category.children }) %}
            {{ block('container_widget') }}
        </div>
    </div>
{% endblock  %}

{% block _web_catalog_menu_second_level_item %}
    <li class="main-menu-column__item">
        <a class="main-menu-column__link" href="{{ app.request.uriForPath(category.url) }}">{{ category.label }}</a>
    </li>
{% endblock %}

{% block _web_catalog_menu_third_level_item %}
    <li class="main-menu-column__subitem">
        <a class="main-menu-column__link" href="{{ app.request.uriForPath(category.url) }}">{{ category.label }}</a>
    </li>
{% endblock %}

{% block _web_catalog_menu_second_level_item_simple %}
    <li class="main-menu-column__item">
        <a class="main-menu-column__link" href="{{ app.request.uriForPath(category.url) }}">{{ category.label }}</a>
    </li>
    {% if category.children is not empty %}
        {% set categories = category.children %}
        {{ block('_web_catalog_menu_four_level_item_mega_widget') }}
    {% endif %}
{% endblock %}
