{% macro oro_web_catalog_content_variant_prototype_body(form, disabled, expanded) %}
    <div class="content-variant-item-content__body">
        {% if not form.vars.valid and form.vars.errors|length %}
            <div class="alert alert-error" role="alert">
                <div class="message">
                    {{ form_errors(form) }}
                </div>
            </div>
        {% endif %}

        {{ form_widget(form, {disabled: disabled}) }}
        {{ form_widget(form.expanded) }}

        <div data-page-component-module="oroui/js/app/components/view-component"
            data-page-component-options="{{ {
                view: 'oroscope/js/app/views/scope-toggle-view',
                selectors: {
                    useParentScopeSelector: '#' ~ form.default.vars.id,
                    scopesSelector: '.scope-elements',
                    containerSelector: '.content-variant-item'
                }
            }|json_encode }}"
            data-layout="separate"
        >
            <div class="scope-elements">
                <h5>{{ form.scopes.vars.label|trans }}</h5>
                {% if not form.scopes.vars.valid and form.scopes.vars.errors|length %}
                    <div class="alert alert-error" role="alert">
                        <div class="message">
                            {{ form_errors(form.scopes) }}
                        </div>
                    </div>
                {% endif %}
                {{ form_widget(form.scopes) }}
            </div>
        </div>

        <div class="hide">
            {{ form_rest(form) }}
        </div>
    </div>
{% endmacro %}

{% macro oro_web_catalog_content_variant_collection_item_prototype(form, name, disabled, expanded) %}
    {% import _self as fields %}

    {% apply spaceless %}
    {% set expanded = expanded|default(false) %}
    <div data-content="{{ name }}"
         data-role="content-variant-item"
         class="content-variant-item {% if form.default.vars.data %}content-variant-item-default{% endif %}"
    >
        {% set collapseId = 'collapse-'|uniqid ~ form.default.vars.id %}
        <button class="btn-toggle-variant btn btn-icon btn-square-light"
                type="button"
                data-toggle="collapse"
                data-target="{{ '#' ~ collapseId }}"
                data-related="{{ name }}"
                aria-expanded="{{ expanded }}"
                title="{{ expanded ? 'Collapse'|trans : 'Expand'|trans }}">
            <span class="fa-icon oro-collapse-icon" aria-hidden="true"></span>
        </button>

        <label class="h5 content-variant-item-title">
            {{ form_widget(form.default) }}
            {{ form_widget(form.type) }}
            {{ oro_web_catalog_content_variant_title(form.type.vars.data)|trans }}
            <span class="label label-info content-variant-item-default-label">{{ "oro.webcatalog.contentvariant.default.label"|trans }}</span>
        </label>

        <div id="{{ collapseId }}" class="content-variant-item-content collapse"
            data-collapsed-title="{{ 'Expand'|trans }}"
            data-expanded-title="{{ 'Collapse'|trans }}"
            data-page-component-module="oroui/js/app/components/view-component"
            data-page-component-options="{{ {
                view: 'orowebcatalog/js/app/views/variant-body-view',
                expanded: expanded,
                selectors: {
                    container: '.content-variant-item-content',
                    trigger: '.btn-toggle-variant',
                    body: '.content-variant-item-content__body'
                }
            }|json_encode }}"
            data-layout="separate"
            data-body-prototype="{{ fields.oro_web_catalog_content_variant_prototype_body(form, disabled, expanded)|escape }}"
        ></div>

        <button class="btn-remove-variant btn btn-icon btn-square-light" type="button" data-related="{{ name }}" data-action="remove" aria-label="{{ 'Remove row'|trans }}"><span class="fa-trash-o" aria-hidden="true"></span></button>
    </div>
    {% endapply %}
{% endmacro %}

{% macro oro_web_catalog_content_variant_prototype_attributes(form) %}
    {% import _self as fields %}

    {% for contentVarientTypeName, contentVariantPrototypeData in form.vars.prototypes %}
        {% set contentVariantPrototypeForm = contentVariantPrototypeData.form %}
        {% set contentVariantPrototypeFormHtml = fields.oro_web_catalog_content_variant_collection_item_prototype(
            contentVariantPrototypeForm,
            contentVariantPrototypeForm.vars.name,
            form.vars.disabled,
            true
        ) %}
        data-prototype-{{ contentVarientTypeName }}="{{ contentVariantPrototypeFormHtml|escape }}"
    {% endfor %}
{% endmacro %}

{% macro oro_web_catalog_content_variant_button(form) %}
    {% import '@OroUI/macros.html.twig' as UI %}
    {% set numberOfVariants = form.vars.prototypes|length %}

    <div class="btn-group pull-right">
    {% if numberOfVariants > 0 %}
        {% set contentVarientTypeName = form.vars.prototypes|keys|first %}
        {% set variant = form.vars.prototypes[contentVarientTypeName] %}

        {% set buttonsHtml = UI.button({
            'path': '#',
            'label': 'oro.webcatalog.form.add_variant.label'|trans({'%variantName%': variant.title|trans }),
            'data': {
                'content-variant-type-name': contentVarientTypeName,
                'role': 'variant-button'
            }
        }) %}

        {% for contentVarientTypeName in form.vars.prototypes|keys|slice(1) %}
            {% set variant = form.vars.prototypes[contentVarientTypeName] %}

            {% set buttonsHtml = buttonsHtml ~ UI.button({
                'path': '#',
                'label': 'oro.webcatalog.form.add_variant.label'|trans({'%variantName%': variant.title|trans }),
                'data': {
                    'content-variant-type-name': contentVarientTypeName,
                    'role': 'variant-button'
                }
            }) %}
        {% endfor %}

        {{ UI.pinnedDropdownButton({'html': buttonsHtml}) }}
    {% endif %}
    </div>
{% endmacro %}

{% block oro_web_catalog_content_variant_collection_widget %}
    {% import _self as fields %}

    {% apply spaceless %}
        {% set prototype_name = form.vars.prototype_name %}
        {% set attr = attr|merge({'class': (attr.class is defined ? attr.class ~ ' ' : '') ~ 'oro-content-variant-collection' }) %}
        <div {{ block('widget_container_attributes') }}
            data-role="content-variant-collection"
            data-page-component-module="orowebcatalog/js/app/components/content-variant-collection-component"
            data-last-index="{{ form.children|length}}"
            data-prototype-name="{{ prototype_name }}"
            {{ fields.oro_web_catalog_content_variant_prototype_attributes(form) }}
        >
            <input type="hidden" name="validate_{{ full_name }}" data-collection-name="{{ full_name }}" data-name="collection-validation" disabled data-validate-element>

            <div class="content-variant-add-btn-container clearfix-oro">
                {{ fields.oro_web_catalog_content_variant_button(form) }}
            </div>

            <div class="variant-collection" data-role="collection-container"
                 data-page-component-module="oroui/js/app/components/view-component"
                 data-page-component-options="{{ {
                     view: 'orowebcatalog/js/app/views/default-variant-collection-view',
                     defaultSelector: '[name$="[default]"]'
                 }|json_encode }}"
            >
                {% if form.children|length %}
                    {% for child in form.children %}
                        {% set expanded = false %}

                        {# Expand only defined content variant forms #}
                        {% if expandedContentVariantForms is defined %}
                            {% for expandedForm in expandedContentVariantForms %}
                                {% if expandedForm == child %}
                                    {% set expanded = true %}
                                {% endif %}
                            {% endfor %}
                        {% endif %}

                        {{ fields.oro_web_catalog_content_variant_collection_item_prototype(child, child.vars.full_name, form.vars.disabled, expanded) }}
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        {{ fields.content_vriant_default_js(_context) }}
    {% endapply %}
{% endblock %}

{% macro content_vriant_default_js(context) %}
    {% import '@OroUI/macros.html.twig' as UI %}
    <div {{ UI.renderPageComponentAttributes({
        module: 'oroui/js/app/components/view-component',
        options: {
            _sourceElement: '#' ~ context.id,
            view: 'orowebcatalog/js/app/views/variants-collection-view'
        }
    }) }}></div>
{% endmacro %}

{% block oro_web_catalog_system_page_variant_widget %}
    {{ form_row(form.systemPageRoute) }}
{% endblock %}
