{% block _add_to_shopping_list_form_widget %}
    {% set attr = attr|merge({
        class: attr.class|default('') ~ " add_to_shopping_list_form_product_view"
    }) %}
    <div {{ block('block_attributes') }}>{{ block_widget(block) }}</div>
{% endblock %}

{% block _add_to_shopping_list_form_button_widget %}
    {% import 'OroB2BShoppingListBundle:ShoppingList/Frontend:buttons.html.twig' as buttons %}
    {% set commonOptions = {
        dataUrl: 'orob2b_shopping_list_frontend_add_product',
        dataUrlOptions: {
            productId: product.id
        },
        dataAttributes: {}
    } %}
    {% set removeOptions = commonOptions|merge({
        dataUrl: 'orob2b_shopping_list_frontend_remove_product',
        actionLabel: 'orob2b.shoppinglist.actions.remove_from_shopping_list'|trans
    }) %}
    {% set units = {} %}
    {% for unitCode in product.availableUnitCodes %}
        {% set units = units|merge({(unitCode): unitCode}) %}
    {% endfor %}

    <div class="form__col "
         data-product='{"id": {{ product.id }}, "units": {{ units|json_encode }}, "lineItems": {{ unitsQuantity|json_encode }}}'
         data-page-component-module="oroui/js/app/components/view-component"
         data-page-component-options='{"view": "orob2bshoppinglist/js/app/views/add-product-view"}'
         data-layout="separate"
    >
        {{ buttons.createAddToShoppingListButton({
            groupContainer: '<div class="btn btn-block btn-orange btn_has-dropdown btn_has-dropdown_lg"></div>',
            new: commonOptions,
            current: commonOptions,
            remove: removeOptions,
            existing: commonOptions,
            shoppingLists: shoppingLists,
            singleButtonACss: 'btn-block btn-orange btn_lg',
            defaultClass: 'btn-orange',
            addedClass: 'btn-green'
        }) }}
    </div>
{% endblock %}
