{% block currency_switcher_widget %}
    {% if currencies|length > 1 %}
    <div class="oro-toolbar"
         data-page-component-module="orob2bpricing/js/app/components/currency-switcher-component"
         data-page-component-options="{{ {
             'selectedCurrency': selected_currency,
             'currencySwitcherRoute': 'orob2b_pricing_frontend_set_current_currency'
         }|json_encode }}">
        <div class="oro-toolbar__content" data-toggle="dropdown">
            {{ oro_currency_symbol(selected_currency) }}
            <span class="oro-toolbar__icon">
                <i class="cf-down-open-mini"></i>
            </span>
        </div>

        <div class="oro-toolbar__dropdown dropdown-menu">
            <ul class="oro-toolbar__list">
                {% for currency in currencies %}
                <li class="oro-toolbar__list-item">
                    <a class="oro-toolbar__link" href="#" data-currency="{{ currency }}">
                        <b class="oro-toolbar__currency">{{ oro_currency_symbol(currency) }}</b>{{ oro_currency_name(currency) }}
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% endif %}
{% endblock %}

{% block price_totals_widget %}
    {% set options = {
        route: route,
        events: events|default({}),
        selectors: {
            subtotalTemplate: '#frontend-subtotals-template',
            template: '#frontend-totals-template',
        }|merge(selectors|default({})),
        entityClassName: entityClassName,
        entityId: entityId,
        skipMaskView: skipMaskView,
        data: data
    }%}
    {% placeholder orob2b_pricing_totals_before %}

    {% set pageComponent = pageComponent|default('orob2bpricing/js/app/components/totals-component') %}
    <div data-page-component-module="{{ pageComponent }}" data-page-component-options="{{ options|default({})|json_encode }}">
        <div class="totals-container">
            {% block data_totals_container %}
                <div class="order-checkout-widget__container">
                    <div class="totals-container">
                        <table class="order-checkout-widget__table pull-right">
                            <tbody data-totals-container></tbody>
                        </table>
                    </div>
                </div>
            {% endblock data_totals_container %}
        </div>
        {% placeholder orob2b_pricing_totals %}
    </div>

    {% placeholder orob2b_pricing_totals_after %}
{% endblock %}
