{% set currencyTemplate %}
    <div class="choice-widget-expanded__item">
        <label for="oro_currency_selection_<%- ftid %>-uid-<%- uid %>" class="checkbox-label">
            <input type="checkbox"
                id="oro_currency_selection_<%- ftid %>-uid-<%- uid %>"
                name="oro_currency_selection[]"
                data-ftid="oro_currency_selection_<%- ftid %>"
                value="<%- value %>"
                <%- checked %> >
            <%- text %><em>&nbsp;</em>
        </label>
    </div>
{% endset %}

{% set pageComponentOptions = {
    'websitesSelector': '#' ~ websites.vars.id,
    'customersSelector': '#' ~ customers.vars.id
} %}
{% if currencies is defined %}
    {% set pageComponentOptions = pageComponentOptions|merge({
        'currenciesSelector': '#' ~ currencies.vars.id,
        'currencyTemplate': currencyTemplate,
    }) %}
{% endif %}

{% if showTierPrices is defined %}
    {% form_theme showTierPrices with '@OroPricing/Form/sidebar.html.twig' %}
    {% set pageComponentOptions = pageComponentOptions|merge({'showTierPricesSelector': '#' ~ showTierPrices.vars.id}) %}
{% endif %}

<div class="sidebar-items"
    data-page-component-module="oropricing/js/app/components/product-price-debug-sidebar-component"
    data-page-component-options="{{ pageComponentOptions|json_encode }}">
        {% if websites is defined %}<div class="websites">{{ form_row(websites) }}</div>{% endif %}
        {% if customers is defined %}<div class="customers">{{ form_row(customers) }}</div>{% endif %}
        {% if showTierPrices is defined %}<div class="show-tier-prices-choice">{{ form_row(showTierPrices) }}</div>{% endif %}
        {% if currencies is defined %}<div class="currencies">{{ form_row(currencies) }}</div>{% endif %}
</div>
