{% set pageComponentOptions = {
    'websitesSelector': '#' ~ websites.vars.id,
    'customersSelector': '#' ~ customers.vars.id,
    'dateSelector': '#hidden_' ~ date.vars.id,
    'showDevelopersInfoSelector': '#' ~ showDevelopersInfo.vars.id,
    'showDetailedAssignmentInfoSelector': '#' ~ showDetailedAssignmentInfo.vars.id,
    'productId': product.id
} %}

{% form_theme showDetailedAssignmentInfo with '@OroPricing/Form/sidebar.html.twig' %}
{% form_theme showDevelopersInfo with '@OroPricing/Form/sidebar.html.twig' %}

{# TODO: Move me elsewhere #}
<style>
    .sidebar-items .date .datepicker-input {
        width: 165px;
    }
    .sidebar-items .date .timepicker-input {
        width: 100px;
    }
</style>

<div class="sidebar-items"
    data-page-component-module="oropricing/js/app/components/product-price-debug-sidebar-view-component"
    data-page-component-options="{{ pageComponentOptions|json_encode }}">
        <div class="websites">{{ form_row(websites) }}</div>
        <p></p><div class="customers">{{ form_row(customers) }}</div>
        <p></p><div class="date">{{ form_row(date) }}</div>
        <p></p><div class="show-detailed-assignment-info">{{ form_row(showDetailedAssignmentInfo) }}</div>
        <p></p><div class="show-developers-info">{{ form_row(showDevelopersInfo) }}</div>
</div>
