{% block _login_form_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' login-form'
    }) %}

    <form id="form-login" {{ block('block_attributes') }}
          action="{{ path('orob2b_account_account_user_security_check') }}"
          method="post"
    >
        <div class="grid">
            {{ block_widget(block) }}
        </div>
    </form>
    <script type="text/javascript">
        require(['jquery', 'jquery.validate', 'oroui/js/input-widget-manager'],
            function ($) {
                $('.login-form').validate({});
            });
    </script>
{% endblock %}

{% block _login_form_title_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' page-title'
    }) %}

    <h2 {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </h2>
{% endblock %}

{% block _login_form_notifications_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' notifications'
    }) %}
    <div class="grid__row">
        <p  class="notifications notifications--error">{{ block_widget(block) }}</p>
    </div>

{% endblock %}

{% block _login_form_username_label_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' label'
    }) %}

    <label {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </label>
{% endblock %}

{% block _login_form_password_label_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' label'
    }) %}

    <label {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </label>
{% endblock %}

{% block _login_form_email_item_widget %}
    {% set attr = layout_attr_defaults(attr, {
    '~class': ' grid__row grid__row--offset-m'
    }) %}

    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _login_form_passwors_item_widget %}
    {% set attr = layout_attr_defaults(attr, {
    '~class': ' grid__row grid__row--offset-m'
    }) %}

    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _login_form_remenber_item_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' grid__row grid__row--offset-m'
    }) %}

    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _login_form_submit_item_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' grid__row'
    }) %}

    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _login_form_forgot_item_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' grid__row grid__row--offset-m'
    }) %}

    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _login_form_register_item_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' grid__row grid__row--offset-none'
    }) %}

    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _login_form_username_widget %}
    {% set attr = layout_attr_defaults(attr, {
        required: 'required',
        autofocus: true,
        'data-validation': {"NotBlank":{"payload":null}}|json_encode
    }) %}

    {{ block_widget(block, {attr: attr}) }}
{% endblock %}

+{% block _login_form_password_widget %}
    {% set attr = layout_attr_defaults(attr, {
        required: 'required',
        'data-validation': {"NotBlank":{"payload":null}}|json_encode
    }) %}
    {{ block_widget(block, {attr: attr}) }}
{% endblock %}
