{% import 'OroUIBundle::macros.html.twig' as UI %}
<div class="row-fluid form-horizontal">
    <div class="responsive-block">
        <div class="oro-tabs">
            <ul class="nav nav-tabs">
                {% for websiteId, priceListsByWebsite in priceListsByWebsites %}
                    <li {% if websiteId == priceListsByWebsites|first.website.id %} class="active" {% endif %}>
                        <a href="#website{{ websiteId }}" data-toggle="tab">
                            {{ priceListsByWebsite.website.name|trans }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
            <div class="tab-content">
                {% for websiteId, priceListsByWebsite in priceListsByWebsites %}
                    <div class="tab-pane{% if websiteId == priceListsByWebsites|first.website.id %} active{% endif %}"
                         id="website{{ websiteId }}"><br>
                        {% for priceListToAccount in priceListsByWebsite.priceLists %}
                            {% set priceList = priceListToAccount.priceList %}
                            {% if is_granted('VIEW', priceList) %}
                                {% set priceListData %}
                                    <a href="{{ path('orob2b_pricing_price_list_view', {id: priceList.id}) }}">
                                        {{ priceList.name }}
                                    </a>
                                {% endset %}
                                {{ UI.renderHtmlProperty('orob2b.pricing.pricelist.entity_label'|trans, priceListData) }}
                                {{ UI.renderHtmlProperty('Priority'|trans, priceListToAccount.priority) }}
                            {% else %}
                                {{ UI.renderProperty('orob2b.pricing.pricelist.entity_label'|trans, priceList.name) }}
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

