{% import 'OroUIBundle::macros.html.twig' as UI %}
<div class="row-fluid form-horizontal">
    <div class="responsive-block">
        <div class="oro-tabs">
            <ul class="nav nav-tabs">
                {% for websiteId, priceListsByWebsite in priceListsByWebsites %}
                    <li {% if websiteId == priceListsByWebsites|first.website.id %} class="active" {% endif %}>
                        <a href="#website{{ websiteId }}" data-toggle="tab">
                            {{ priceListsByWebsite.website.name }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
            <div class="tab-content">
                {% for websiteId, priceListsByWebsite in priceListsByWebsites %}
                    <div class="tab-pane{% if websiteId == priceListsByWebsites|first.website.id %} active{% endif %} price-list-by-account-grid"
                         id="website{{ websiteId }}"><br>
                        <table class="grid table-hover table table-bordered">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>{{ 'orob2b.pricing.pricelist.entity_label'|trans }}</th>
                                <th>{{ 'orob2b.pricing.pricelist.priority_label'|trans }}</th>
                            </tr>
                            </thead>

                            <tbody>
                            {% for priceListToAccount in priceListsByWebsite.priceLists %}
                                {% set priceList = priceListToAccount.priceList %}
                                <tr>
                                    <td>{{ loop.index }}</td>
                                    <td>
                                        <a href="{{ path('orob2b_pricing_price_list_view', {'id': priceList.id}) }}">
                                            {{ priceList.name }}
                                        </a>
                                    </td>
                                    <td>{{ priceListToAccount.priority }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
