{% import 'OroUIBundle::macros.html.twig' as UI %}
<div class="row-fluid form-horizontal">
</div>
<div class="row-fluid form-horizontal">
    <div class="responsive-block">
        {% if priceListsByWebsites %}
            <div class="oro-tabs">
                <ul class="nav nav-tabs">
                    {% for websiteId, fallbackByWebsite in fallbackByWebsites %}
                        <li {% if websiteId == fallbackByWebsites|first.website.id %} class="active" {% endif %}>
                            <a href="#website{{ websiteId }}" data-toggle="tab">
                                {{ fallbackByWebsite.website.name }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
                <div class="tab-content">
                    {% for websiteId, fallbackByWebsite in fallbackByWebsites %}
                        <div class="tab-pane{% if websiteId == fallbackByWebsites|first.website.id %} active{% endif %} price-list-by-account-grid"
                             id="website{{ websiteId }}"><br>

                            <p>{{ 'orob2b.pricing.fallback.label'|trans }}:
                                <strong>{{ fallbackByWebsites[websiteId]['value']|trans }}</strong></p>
                            <tbody>

                            {% if  priceListsByWebsites[websiteId] is defined %}
                                <table class="grid table-hover table table-bordered">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>{{ 'orob2b.pricing.pricelist.entity_label'|trans }}</th>
                                        <th>{{ 'orob2b.pricing.pricelist.priority.label'|trans }}</th>
                                        <th>{{ 'orob2b.pricing.pricelist.merge_allowed.label'|trans }}</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for priceListToAccount in priceListsByWebsites[websiteId]['priceLists'] %}
                                        {% set priceList = priceListToAccount.priceList %}
                                        <tr class="price_list{{ priceList.id }}">
                                            <td>{{ loop.index }}</td>
                                            <td>
                                                <a href="{{ path('orob2b_pricing_price_list_view', {'id': priceList.id}) }}" class="price_list_link">
                                                    {{ priceList.name }}
                                                </a>
                                            </td>
                                            <td class="price_list_priority">{{ priceListToAccount.priority }}</td>
                                            <td class="price_list_merge_allowed">{{ priceListToAccount.mergeAllowed ? 'orob2b.pricing.pricelist.merge_allowed.yes.label'|trans : 'orob2b.pricing.pricelist.merge_allowed.no.label'|trans }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% else %}
            <div class="no-data">
                <span>{{ "orob2b.pricing.no_price_lists"|trans }}</span>
            </div>
        {% endif %}
    </div>
</div>
