{% block _top_selling_items_container_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' top-selling-items'
    }) %}

    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _top_selling_items_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~data-page-component-options': {
            autoplaySpeed: 4000,
        }
    }) %}

    {{ block_widget(block, {
        attr: attr
    }) }}
{% endblock %}

{% block _top_selling_item_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' top-selling-item'
    }) %}

    <div {{ block('block_attributes') }}>
        {{ item }}
    </div>
{% endblock %}
