{% block oro_product_primary_unit_precision_widget %}
    {% set precisions = {} %}
    {% set initialAdditionalUnits = {} %}

    {% for choice in form.unit.vars.choices %}
        {% set precisions = precisions|merge({ (choice.data.code) : choice.data.defaultPrecision}) %}
    {% endfor %}
    {% if form.vars.data.product is not null %}
        {% for addPrecision in form.vars.data.product.additionalUnitPrecisions %}
            {% set initialAdditionalUnits = initialAdditionalUnits|merge({ (addPrecision.unit.code) : addPrecision.unit.code}) %}
        {% endfor %}
    {% endif %}

    <div class="controls-inner product-primary-unit-controls"
         data-page-component-module="oroproduct/js/app/components/product-primary-unit-limitations-component"
         data-page-component-options="{{ { 'precisions': precisions, 'initialAdditionalUnits': initialAdditionalUnits }|json_encode  }}">

        <div class="entity-fallback-container">
            <div class="entity-fallback-container__value">
                {{ form_widget(form.unit) }}{% if form.unit_disabled is defined %}{{ form_widget(form.unit_disabled) }}{% endif %}
            </div>
            <div class="entity-fallback-container__line">
                <div class="entity-fallback-container__use">{{-
                    'oro.product.productunitprecision.precision.label'|trans
                -}}</div>
                <div class="entity-fallback-container__fallback">
                    {{ form_widget(form.precision, { 'attr': {'class': 'precision'} }) }}
                </div>
            </div>
        </div>

        {{ form_widget(form.conversionRate) }}

        {{ form_widget(form.sell) }}

        {{ form_errors(form.unit) }}
        {{ form_errors(form.precision) }}
    </div>
{% endblock %}

{% block oro_product_unit_precision_widget %}
    {% set name = form.vars.full_name %}

            <tr data-content="{{ name }}" data-validation-optional-group class="oro-multiselect-holder grid-row">
                <td>{{ form_widget(form.unit, { 'attr': {'style': 'width: 100px'}}) }}{% if form.unit_disabled is defined %}{{ form_widget(form.unit_disabled, { 'attr': {'style': 'width: 100px'}}) }}{% endif %}</td>
                <td>{{ form_widget(form.precision, { 'attr': {'class': 'precision'} }) }}</td>
                <td>{{ form_widget(form.conversionRate, { 'attr': {'class': 'conversionRate'} }) }}</td>
                <td>{{ form_widget(form.sell, { 'attr': {'class': 'sell'} }) }}</td>
                {% if form.parent.vars.allow_delete %}
                    <td><button class="removeLineItem btn btn-icon btn-square-lighter" type="button" data-related="{{ name }}"><span class="fa-close"></span></button></td>
                {% endif %}
            </tr>

{% endblock %}

{% macro oro_collection_item_prototype(widget) %}
    {% if 'collection' in widget.vars.block_prefixes %}
        {% set form = widget.vars.prototype %}
        {% set name = widget.vars.prototype.vars.name %}
        {% set disabled = widget.vars.disabled %}
        {% set allow_delete = widget.vars.allow_delete %}
        {% set allow_add_after = widget.vars.allow_add_after %}
    {% else %}
        {% set form = widget %}
        {% set name = widget.vars.full_name %}
        {% set disabled = widget.parent.vars.disabled %}
        {% set allow_delete = widget.parent.vars.allow_delete %}
        {% set allow_add_after = widget.parent.vars.allow_add_after %}
        {% if widget.vars.allow_delete is defined %}
            {% set allow_delete = allow_delete and widget.vars.allow_delete %}
        {% endif %}
    {% endif %}
        {{ form_widget(form, {disabled: disabled}) }}
{% endmacro %}

{% block oro_entity_extend_enum_value_widget %}
    <div class="float-holder {% if form.label.vars.errors|length > 0 %} validation-error{% endif %}">
        <div class="input-append input-append-sortable collection-element-primary">
            {{ form_widget(form.label, {disabled: disabled}) }}
            <span class="add-on ui-sortable-handle{% if disabled %} disabled{% endif %}"
                  data-name="sortable-handle"
                  title="{{ 'oro.entity_extend.enum_options.priority.tooltip'|trans }}">
                 <i class="fa-arrows-v {% if disabled %} disabled{% endif %}"></i>
                {{ form_widget(form.priority, {disabled: disabled}) }}
            </span>
            <label class="add-on{% if disabled %} disabled{% endif %}"
                   title="{{ 'oro.entity_extend.enum_options.default.tooltip'|trans }}">
                {{ form_widget(form.is_default, {disabled: disabled}) }}
            </label>
        </div>
        {{ form_errors(form.label) }}
    </div>
    {% if tooltip is defined  and tooltip %}
        {% import 'OroUIBundle::macros.html.twig' as ui %}
        <div class="tooltip-icon-container">
            {{ ui.tooltip(
                tooltip,
                tooltip_parameters|default({}),
                tooltip_placement|default(null),
                tooltip_details_enabled|default(false),
                tooltip_details_link|default(null),
                tooltip_details_anchor|default(null)
            ) }}
        </div>
    {% endif %}
    {{ form_rest(form) }}
{% endblock %}

{% block oro_product_precision_collection_widget %}
    {% spaceless %}
        {% if prototype is defined %}
            {% set prototype_html = _self.oro_collection_item_prototype(form) %}
        {% endif %}
        {% set attr = attr|merge({'class': (attr.class is defined ? attr.class ~ ' ' : '') ~ 'oro-item-collection collection-fields-list' }) %}
        {% set id = id ~ '_collection' %}
        <div class="row-oro">
            {% set prototype_name = form.vars.prototype_name %}
            <div>
                <table class="grid table table-condensed table-bordered table-hover">
                    <thead>
                        <th>{{ 'oro.product.productunitprecision.unit.label'|trans }}</th>
                        <th>{{ 'oro.product.productunitprecision.precision.label'|trans }}</th>
                        <th>{{ 'oro.product.productunitprecision.conversion_rate.label'|trans }}</th>
                        <th>{{ 'oro.product.productunitprecision.sell.label'|trans }}</th>
                        <th></th>
                    </thead>
                    <tbody {{ block('widget_container_attributes') }} data-last-index="{{ form.children|length}}" data-row-count-add="{{ form.vars.row_count_add }}" data-prototype-name="{{ prototype_name }}"{% if prototype_html is defined %} data-prototype="{{ prototype_html|escape }}"{% endif %}>
                    {% if form.children|length %}
                        {% for child in form.children %}
                            {{ _self.oro_collection_item_prototype(child) }}
                        {% endfor %}
                    {% elseif show_form_when_empty and prototype_html is defined %}
                        {% for i in 0..(form.vars.row_count_initial - 1) %}
                            {{ prototype_html|replace({(prototype_name): i})|raw }}
                        {% endfor %}
                    {% endif %}
                    </tbody>
                </table>
            </div>
            {% if allow_add and oro_is_adding_additional_units_to_product_available() %}
                <a class="btn add-list-item" href="javascript: void(0);">{{ form.vars.add_label|default('oro.form.collection.add')|trans }}</a>
            {% endif %}
        </div>
    {% endspaceless %}
{% endblock %}

{% block oro_product_unit_precision_collection_widget %}
    {% set precisions = {} %}

    {% for choice in form.vars.prototype.unit.vars.choices %}
        {% set precisions = precisions|merge({ (choice.data.code) : choice.data.defaultPrecision}) %}
    {% endfor %}

    <div data-page-component-module="oroproduct/js/app/components/product-unit-selection-limitations-component"
         data-page-component-options="{{ {'precisions': precisions}|json_encode }}" class="controls-inner unit-precisions-collection">
        {% set attr = attr|merge({'class': (attr.class is defined ? attr.class ~ ' ' : '') ~ 'oro-options-collection ' }) %}
        {{ block('oro_product_precision_collection_widget') }}
    </div>
{% endblock %}

{% macro oro_product_image_collection_item_prototype(widget) %}
    {% if 'collection' in widget.vars.block_prefixes %}
        {% set form = widget.vars.prototype %}
        {% set name = widget.vars.full_name ~ '[' ~ widget.vars.prototype.vars.name ~ ']' %}
        {% set disabled = widget.vars.disabled %}
        {% set allow_delete = widget.vars.allow_delete %}
    {% else %}
        {% set form = widget %}
        {% set name = widget.vars.full_name %}
        {% set disabled = widget.parent.vars.disabled %}
        {% set allow_delete = widget.parent.vars.allow_delete %}
    {% endif %}

    <tr data-content="{{ name }}" data-validation-optional-group {{ block('widget_container_attributes') }}>

        {{ form_widget(form) }}

        {% if allow_delete %}
            <td>
                <button type="button" class="removeRow btn btn-icon btn-square-lighter">
                    <span class="fa-close"></span>
                </button>
            </td>
        {% endif %}

    </tr>
{% endmacro %}

{% block oro_product_image_collection_widget %}
    {% spaceless %}
        {% if prototype is defined %}
            {% set prototype_html = _self.oro_product_image_collection_item_prototype(form) %}
        {% endif %}
        {% set attr = attr|merge({'class': (attr.class is defined ? attr.class ~ ' ' : '') ~ 'image-collection oro-item-collection grid-container' }) %}
        {% set id = id ~ '_collection' %}
        {% set prototype_name = form.vars.prototype_name %}

        <div class="row-oro" data-page-component-module="oroproduct/js/app/components/product-image-type-radio-control-component">
            <div {{ block('widget_container_attributes') }}>
                <table class="grid table-hover table table-bordered table-condensed">
                    <thead>
                        <tr>
                            <th class="file"><span>{{ 'oro.product.productimage.file.label'|trans }}</span></th>
                            {% for imageType in form.vars.imageTypes %}
                                <th><span>{{ imageType.label|trans }}</span></th>
                            {% endfor %}

                            {% if form.vars.allow_delete %}
                                <th class="remove"></th>
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody data-last-index="{{ form.children|length}}"
                           data-row-count-add="{{ form.vars.row_count_add }}"
                           data-prototype-name="{{ prototype_name }}"
                            {% if prototype_html is defined %} data-prototype="{{ prototype_html|escape }}"{% endif %}
                    >
                    {% if form.children|length %}
                        {% for child in form.children %}
                            {{ _self.oro_product_image_collection_item_prototype(child) }}
                        {% endfor %}
                    {% elseif show_form_when_empty and prototype_html is defined %}
                        {% for i in 0..(form.vars.row_count_initial - 1) %}
                            {{ prototype_html|replace({(prototype_name): i})|raw }}
                        {% endfor %}
                    {% endif %}
                    </tbody>
                </table>
                {% if allow_add %}
                    <a class="btn add-list-item" data-container=".image-collection tbody" href="javascript: void(0);">
                        {{ 'oro.product.productimage.add.label'|trans }}
                    </a>
                {% endif %}
            </div>
        </div>

    {% endspaceless %}
{% endblock %}

{% block oro_product_image_widget %}
    <td><div>{{ form_widget(form.image) }}{{ form_errors(form) }}</div></td>

    {% for imageType in form.vars.imageTypes|keys %}
        <td>{{ form_widget(form[imageType], { attr: {'data-image-type': imageType} }) }}</td>
    {% endfor %}
{% endblock %}

{% block oro_product_page_variant_widget %}
    {{ form_row(form.productPageProduct) }}
{% endblock %}

{% block oro_product_collection_segment_type_widget %}
    {% set scope = 'scope_' ~ scopeValue %}
    {% set gridWidgetAlias = 'product-collection-products-grid-' ~ scope %}
    {% set controlsBlockAlias = 'product-collection-grid-control-' ~ scope %}

    {% set gridName = oro_datagrid_build_fullname(form.vars.results_grid, scope) %}
    {% set excludedProductsGridName = oro_datagrid_build_fullname(excludedProductsGrid, scope) %}
    {% set includedProductsGridName = oro_datagrid_build_fullname(includedProductsGrid, scope) %}
    {% set widgetRouteParameters = {
        'gridName': gridName,
        ('sd_' ~ gridName): form.vars.segmentDefinition,
        ('sd_' ~ gridName ~ ':incl'): form.includedProducts.vars.value,
        ('sd_' ~ gridName ~ ':excl'): form.excludedProducts.vars.value
    } %}
    {% set excludedWidgetRouteParameters = {
        'gridName': excludedProductsGridName,
        'params': {'selectedProducts': form.excludedProducts.vars.value}
    } %}
    {% set includedWidgetRouteParameters = {
        'gridName': includedProductsGridName,
        'params': {'selectedProducts': form.includedProducts.vars.value}
    } %}

    {% set gridSidebarComponentOptions = {
        'sidebarAlias': controlsBlockAlias,
        'widgetAlias': gridWidgetAlias,
        'widgetRouteParameters': widgetRouteParameters
    } %}

    {% set excludedControlsBlockAlias = 'product-collection-excluded-grid-control-' ~ scope %}
    {% set includedControlsBlockAlias = 'product-collection-included-grid-control-' ~ scope %}
    {% set excludedProductsElementId = '#' ~ form.excludedProducts.vars.id %}
    {% set includedProductsElementId = '#' ~ form.includedProducts.vars.id %}
    {% set productCollectionApplyQueryComponentOptions = {
        'selectors': {
            'reset': '.filter-reset',
            'apply': '.filter-apply',
            'included': includedProductsElementId,
            'excluded': excludedProductsElementId
        },
        'segmentDefinitionFieldName': form.vars.segmentDefinitionFieldName,
        'controlsBlockAlias': controlsBlockAlias,
        'gridName': gridName,
        'scope': scope,
        'excludedProductsGridName': excludedProductsGrid,
        'includedProductsGridName': includedProductsGrid,
        'excludedControlsBlockAlias': excludedControlsBlockAlias,
        'includedControlsBlockAlias': includedControlsBlockAlias,
    } %}

    {% set productCollectionSegmentOptions = {} %}
    {% if form.vars.value is null or form.vars.value.id is null %}
        {% set productCollectionSegmentOptions = {'attr': {placeholder: 'oro.product.content_variant.product_collection.segment_name_placeholder'| trans}} %}
    {% endif %}

    {% if addNameField %}
        {{ form_row(form.name, productCollectionSegmentOptions) }}
    {% endif %}

    <div data-role="grid-sidebar-component-container" class="product-collection-segment">
        {# --Apply Query component start-- #}
        <div
                data-page-component-module="oroproduct/js/app/components/product-collection-apply-query-component"
                data-page-component-options="{{ productCollectionApplyQueryComponentOptions|json_encode }}"
        >
            {# --Grid sidebar component start-- #}
            <div class="{{ controlsBlockAlias }}"
                 data-page-component-module="orodatagrid/js/app/components/grid-sidebar-component"
                 data-page-component-options="{{ gridSidebarComponentOptions|json_encode }}"
            >
                {% import 'OroProductBundle::product_collection_macros.html.twig' as ProductCollection %}
                {% set uniqueId = 'dropdown-'|uniqid %}
                <div class="oro-tabs">
                    <div class="oro-tabs__head">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item">
                                <a id="{{ 'filtered_products' ~ uniqueId ~ scope ~ '-tab' }}"
                                   href="#{{ 'filtered_products' ~ uniqueId ~ scope }}"
                                   class="nav-link active"
                                   data-toggle="tab"
                                   data-role="tab-filtered"
                                   role="tab"
                                   aria-controls="{{'filtered_products' ~ uniqueId ~ scope }}"
                                   aria-selected="true"
                                >
                                    {{ 'oro.product.content_variant.ui.filtered_products'|trans }}
                                    (<span data-role="counter">{{ render(controller('OroProductBundle:AjaxGetProductsCount:get', widgetRouteParameters)) }}</span>)
                                </a>
                            </li>
                            <li class="nav-item">
                                <a id="{{ 'excluded_products' ~ uniqueId ~ scope ~ '-tab' }}"
                                   href="#{{ 'excluded_products' ~ uniqueId ~ scope}}"
                                   class="nav-link"
                                   data-toggle="tab"
                                   data-role="tab-excluded"
                                   role="tab"
                                   aria-controls="{{ 'excluded_products' ~ uniqueId ~ scope}}"
                                   aria-selected="false"
                                >
                                    {{ 'oro.product.content_variant.ui.excluded_products'|trans }}
                                    (<span data-role="counter">{{ render(controller('OroProductBundle:AjaxGetProductsCount:get', excludedWidgetRouteParameters)) }}</span>)
                                </a>
                            </li>
                            <li class="nav-item">
                                <a id="{{ 'included_products' ~ uniqueId ~ scope ~ '-id' }}"
                                   href="#{{ 'included_products' ~ uniqueId ~ scope}}"
                                   class="nav-link"
                                   data-toggle="tab"
                                   data-role="tab-included"
                                   role="tab"
                                   aria-controls="{{ 'included_products' ~ uniqueId ~ scope}}"
                                   aria-selected="false"
                                >
                                    {{ 'oro.product.content_variant.ui.included_products'|trans }}
                                    (<span data-role="counter">{{ render(controller('OroProductBundle:AjaxGetProductsCount:get', includedWidgetRouteParameters)) }}</span>)
                                </a>
                            </li>
                            <li class="nav-item pull-right">
                                {# --Reset button start-- #}
                                <div class="btn-group">
                                    <a class="btn filter-reset">
                                        {{ 'oro.product.content_variant.ui.reset'|trans }}
                                    </a>
                                </div>
                                {# --Reset button end-- #}
                            </li>
                        </ul>
                    </div>
                    <div class="oro-tabs__content">
                        <div class="tab-content">
                            <div class="tab-pane active"
                                 id="{{ 'filtered_products' ~ uniqueId ~ scope }}"
                                 role="tabpanel"
                                 aria-labelledby="{{ 'filtered_products' ~ uniqueId ~ scope ~ '-tab' }}"
                            >
                                <div class="collapse-view"
                                     data-page-component-collapse="{{ {
                                         openClass: 'expanded',
                                         open: hasFilters
                                     }|json_encode() }}"
                                >
                                    <div class="control-group">
                                        <div class="pull-right">
                                            <div data-collapse-trigger class="btn-group icons-holder">
                                                <a class="collapse-view__trigger btn"><i class="fa-filter"></i> {{ 'oro.product.content_variant.ui.advanced_filter'|trans }}</a>
                                            </div>
                                            {{ ProductCollection.popupButton(
                                                oro_datagrid_build_fullname('product-collection-add-products-to-included-grid', scope),
                                                includedProductsElementId,
                                                'oro.product.content_variant.ui.hint.add_to_included'|trans
                                            ) }}
                                        </div>
                                    </div>
                                    <div data-collapse-container class="filter control-group fields-row">
                                        {{ block('oro_segment_filter_builder_row') }}
                                        {# --Apply Query button start--#}
                                        <div class="clearfix">
                                            <div class="pull-right">
                                                <a href="#" class="btn btn-primary filter-apply">
                                                    {{ 'oro.product.content_variant.ui.apply_query'|trans }}
                                                </a>
                                            </div>
                                        </div>
                                        {# --Apply Query button end-- #}
                                    </div>
                                    {{ oro_widget_render({
                                        'widgetType': 'block',
                                        'url': path('oro_datagrid_widget', widgetRouteParameters),
                                        'title': '',
                                        'alias': gridWidgetAlias
                                    }) }}
                                </div>
                            </div>

                            <div class="tab-pane"
                                 id="{{ 'excluded_products' ~ uniqueId ~ scope }}"
                                 role="tabpanel"
                                 aria-labelledby="{{ 'excluded_products' ~ uniqueId ~ scope ~ '-tab' }}"
                            >
                                <div class="control-group">
                                    <div class="pull-right">
                                        {{ ProductCollection.popupButton(
                                            oro_datagrid_build_fullname('product-collection-add-products-to-excluded-grid', scope),
                                            excludedProductsElementId,
                                            'oro.product.content_variant.ui.hint.add_to_excluded'|trans
                                        ) }}
                                    </div>
                                </div>


                                {% set excludedGridWidgetAlias = 'product-collection-excluded-products-grid-' ~ scope %}
                                {% set excludedGridSidebarComponentOptions = {
                                    'sidebarAlias': excludedControlsBlockAlias,
                                    'widgetAlias': excludedGridWidgetAlias,
                                    'widgetRouteParameters': excludedWidgetRouteParameters
                                } %}

                                <div class="{{ excludedControlsBlockAlias }} control-group"
                                     data-page-component-module="orodatagrid/js/app/components/grid-sidebar-component"
                                     data-page-component-options="{{ excludedGridSidebarComponentOptions|json_encode }}"
                                >
                                    {{ form_widget(form.excludedProducts) }}
                                    {{ oro_widget_render({
                                        'widgetType': 'block',
                                        'url': path('oro_datagrid_widget', excludedWidgetRouteParameters),
                                        'title': '',
                                        'alias': excludedGridWidgetAlias
                                    }) }}
                                </div>

                            </div>

                            <div class="tab-pane"
                                 id="{{ 'included_products' ~ uniqueId ~ scope }}"
                                 role="tabpanel"
                                 aria-labelledby="{{ 'included_products' ~ uniqueId ~ scope ~ '-id' }}"
                            >
                                <div class="control-group">
                                    <div class="pull-right">
                                        {{ ProductCollection.popupButton(
                                            oro_datagrid_build_fullname('product-collection-add-products-to-included-grid', scope),
                                            includedProductsElementId,
                                            'oro.product.content_variant.ui.hint.add_to_included'|trans
                                        ) }}
                                    </div>
                                </div>


                                {% set includedGridWidgetAlias = 'product-collection-included-products-grid-' ~ scope %}
                                {% set includedGridSidebarComponentOptions = {
                                    'sidebarAlias': includedControlsBlockAlias,
                                    'widgetAlias': includedGridWidgetAlias,
                                    'widgetRouteParameters': includedWidgetRouteParameters
                                } %}

                                <div class="{{ includedControlsBlockAlias }} control-group"
                                     data-page-component-module="orodatagrid/js/app/components/grid-sidebar-component"
                                     data-page-component-options="{{ includedGridSidebarComponentOptions|json_encode }}"
                                >
                                    {{ form_widget(form.includedProducts) }}
                                    {{ oro_widget_render({
                                        'widgetType': 'block',
                                        'url': path('oro_datagrid_widget', includedWidgetRouteParameters),
                                        'title': '',
                                        'alias': includedGridWidgetAlias
                                    }) }}
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {# --Grid sidebar component end-- #}
        </div>
        {# --Apply Query component end-- #}
    </div>
{% endblock %}

{% block oro_product_collection_variant_widget %}
    {{ form_widget(form.productCollectionSegment) }}
{% endblock %}

{% block oro_product_custom_variant_fields_collection_widget %}
    {% import 'OroUIBundle::macros.html.twig' as UI %}
    <div class="enum-value-collection" {{ UI.renderPageComponentAttributes({
        module: 'oroui/js/app/components/view-component',
        options: {
            view: 'oroproduct/js/app/views/variant-fields-view',
            autoRender: true
        }
    }) }}>
        {{ block('oro_collection_widget') }}
    </div>
{% endblock %}

{% block oro_product_variant_field_widget %}
    <div class="float-holder">
        <div class="input-append input-append-sortable collection-element-primary">
            <span class="add-on ui-sortable-handle"
                  data-name="sortable-handle"
                  title="{{ 'oro.product.variant_field.priority.tooltip'|trans }}">
                <i class="fa-arrows-v"></i>
                {{ form_widget(form.priority) }}
            </span>
            <div class="add-on" title="{{ 'oro.product.variant_field.default.tooltip'|trans }}">
                {{ form_widget(form.is_selected) }}
            </div>
            <div class="add-on float-width" title="{{ 'oro.product.variant_field.default.tooltip'|trans }}">
                {{ form_label(form.is_selected) }}
            </div>
        </div>
    </div>
{% endblock %}
