{#
    Deprecated since 1.1.0, to be removed in 1.3.0.
    Use Oro/Bundle/CacheBundle/Resources/views/Action/invalidate.html.twig instead
#}
{% extends 'OroActionBundle:Operation:form.html.twig' %}
{% block form %}
    {% set buttonOptions = operation.definition.buttonOptions %}
    {% set pageComponentOptions = {} %}
     <div class="widget-content invalidate-cache-content" data-page-component-module="oroups/js/app/components/invalidate-cache-button-component">
        <form id="{{ form.vars.id }}" name="{{ form.vars.name }}" action="{{ app.request.uri }}" {{ form_enctype(form) }}
              method="{{ form.vars.method }}" data-collect="true" class="form-dialog invalidate-cache-form"

                {% if buttonOptions.page_component_module is defined %}data-page-component-module="{{ buttonOptions.page_component_module }}"{% endif %}
        >
            <table>
                <tbody>
                    <tr class="invalidate-cache-tr">
                      <td class="invalidate-cache-td-labels">{{ 'oro.ups.form.invalidate_cache.label'|trans }}:&nbsp;</td>
                      <td>{{ form_widget(form.invalidateType, { 'attr': {'class': 'cache-invalidate-type'}}) }}</td>
                      <td class="invalidate-cache-td-labels">&nbsp;{{ 'oro.ups.form.invalidate_cache.at.label'|trans }}&nbsp;</td>
                      <td class="invalidate-cache-td-fields">{{ form_widget(form.invalidateCacheAt)}}</td>
                    </tr>
                </tbody>
            </table>
            <div class="hidden">
                {{ form_rest(form) }}
            </div>
            <div class="widget-actions invalidate-cache-buttons">
                <button type="reset" class="btn">{{ 'oro.ups.form.invalidate_cache.action.cancel'|trans }}</button>
                <button type="button" class="btn btn-danger" id="remove_scheduled_cache_invalidation_button">{{ 'oro.ups.form.invalidate_cache.action.remove'|trans }}</button>
                <button type="submit" class="btn btn-success">{{ 'oro.ups.form.invalidate_cache.action.submit'|trans }}</button>
            </div>
        </form>
         {{ oro_form_js_validation(form) }}
    </div>
{% endblock %}
