{% block _quick_add_form_widget %}
    {% set attr = attr|merge({
        class: attr.class|default('') ~ ' hidden-form'
    }) %}
    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _quick_add_form_start_widget %}
    {% set pageComponentOptions = {
        'componentSelector': '#' ~ form.component.vars.id,
        'additionalSelector': '#' ~ form.additional.vars.id,
        'componentPrefix': 'quick-add-import'
    } %}
    {% set attr = {
        'data-page-component-module': 'orob2bproduct/js/app/components/quick-add-component',
        'data-page-component-options': pageComponentOptions|json_encode
    }|merge(attr) %}
    {{ block('form_start_widget') }}
{% endblock %}

{% block _quick_add_form_buttons_widget %}
    {% set attr = attr|merge({
        class: attr.class|default('') ~ ' clearfix'
    }) %}
    <div {{ block('block_attributes') }}>
        <div class="pull-left">{{ block_widget(block) }}</div>
        <fieldset class="{{ class_prefix }}-buttons">
            {% placeholder orob2b_product_quick_add_buttons %}
        </fieldset>
    </div>
{% endblock %}
