{% block __oro_product_price__product_customer_price_widget %}
    {% if productPrices %}
        {% set attr = layout_attr_defaults(attr, {
            '~class': ' product-price__main'
        }) %}
        <div {{ block('block_attributes') }}>
            {{ block_widget(block) }}
        </div>
    {% endif %}
{% endblock %}

{% block __oro_product_price__product_customer_price_value_widget %}
    <div data-name="price">
        {% if not is_configurable_product_type(product.type) %}
            <span class="product-price__label">{{ 'oro.pricing.frontend.pricelist.index.your_price'|trans }}</span>
            {% set firstPrice = productPrices|first %}
            <span class="product-price__main-box">
                <span class="product-price__value" data-name="price-value">{{ firstPrice ? firstPrice.formatted_price }}</span>
                <span> / </span>
                <span data-name="unit">{{ firstPrice ? firstPrice.formatted_unit }}</span>
            </span>
        {% endif %}
    </div>
{% endblock %}

{% block __oro_product_price__product_customer_price_not_found_widget %}
    {% if not is_configurable_product_type(product.type) %}
        <div data-name="price-not-found" class="hidden">
            {% if productPrices %}
                {{ 'oro.pricing.frontend.product_prices.price_not_found'|trans }}
            {% else %}
                {{ 'oro.pricing.frontend.product_prices.empty_prices'|trans }}
            {% endif %}
        </div>
    {% endif %}
{% endblock %}
