{% block _product_list_matrix_form_summary_widget %}
    <div class="{{ class_prefix }}__summary--inline">
        {{ block('container_widget') }}
    </div>
{% endblock %}

{% block _product_list_matrix_form_summary_wrapper_widget %}
    <div class="{{ class_prefix }}__summary-wrapper--inline">
        {{ block('container_widget') }}
    </div>
{% endblock %}

{% block _product_list_matrix_form_summary_quantity_widget %}
    <span class="{{ class_prefix }}__summary-label {{ class_prefix }}__summary-label--inline">
        {{ 'oro.frontend.shoppinglist.matrix_grid_order.total_qty'|trans }}
    </span>
    <span class="{{ class_prefix }}__total-quantity-value" data-role="total-quantity"></span>
    <span class="{{ class_prefix }}__total-separator">|</span>
{% endblock %}

{% block _product_list_matrix_form_summary_total_widget %}
    <span class="{{ class_prefix }}__summary-label {{ class_prefix }}__summary-label--inline">
        {{ 'oro.frontend.shoppinglist.matrix_grid_order.subtotal'|trans }}
    </span>
    <span class="{{ class_prefix }}__total-price-value" data-role="total-price"></span>
{% endblock %}
