{% block _product_prices_widget %}
    {% set minimumQuantities = {} %}
    {% for price in productPrices %}
        {% if minimumQuantities[price.unit] is not defined or price.quantity < minimumQuantities[price.unit] %}
            {% set minimumQuantities = minimumQuantities|merge({ (price.unit): price.quantity }) %}
        {% endif %}
    {% endfor %}

    {% set attr = attr|merge({
        'data-page-component-module': 'oropricing/js/app/components/product-minimum-quantity-component',
        'data-page-component-options': {
            quantities: minimumQuantities,
        },
        class: attr.class|default('') ~ "product__qnty"
    }) %}

    <div {{ block('block_attributes') }}>

        <table class="table">
            <thead>
            <tr>
                <th style="width: 40%" class="text-center text-uppercase">qty</th>
                <th style="width: 60%" class="text-center">Unit Price</th>
            </tr>
            </thead>
            <tbody>
            {% set shownUnit = '' %}
            {% for price in productPrices %}
                {% if shownUnit != price.formatted_unit %}
                    {% set shownUnit = price.formatted_unit %}
                    <tr>
                        <td colspan="2" class="text-center">
                            {% if loop.index > 1 %}<br/>{% endif %}
                            <strong>{{ shownUnit|capitalize }}</strong>
                        </td>
                    </tr>
                {% endif %}
                <tr>
                    <td class="text-center">
                        {{ price.quantity }}
                    </td>
                    <td class="text-center">
                        {{ price.formatted_price }}
                    </td>
                </tr>
            {% endfor %}
            {{ block_widget(block) }}
            </tbody>
        </table>
    </div>
{% endblock %}
