{% block __product_kit_line_item_form__wrapper_widget %}
    {% set class_prefix = 'product-kit-line-item-widget' %}
    {% set extraFormId = form.vars.id ~ ''|uniqid %}
    {% do block|merge_context({
        class_prefix: class_prefix,
        form: form,
        product: product,
        shoppingList: shoppingList,
        shoppingLists: shoppingLists,
        lineItem: lineItem ?? null,
        productShoppingLists: productShoppingLists ?? [],
        extraFormId: extraFormId
    }) %}

    {% set attr = layout_attr_defaults(attr, {
        '~class': ' {{ class_prefix }}'
    }) %}

    <div{{ block('block_attributes') }}>
        {{ parent_block_widget(block) }}
    </div>
{% endblock %}

{% block __product_kit_line_item_form__header_wrapper_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' product-popup__header',
        'data-dialog-extra-header-content': ''
    }) %}
    <div {{ block('block_attributes') }}>
        {{ parent_block_widget(block) }}
    </div>
{% endblock %}

{% block __product_kit_line_item_form__header_product_picture_widget %}
    {% set productImageData = product.imagesByType('listing').first.image|default(null) %}
    <div class="product-item product-popup__header-img">
        <div class="product-item__image-holder--aspect-ratio product-item__image-holder--tiny">
            <div class="product-item__preview">
                {% include '@OroAttachment/Twig/picture.html.twig' with {
                    sources: product_filtered_picture_sources(productImageData, 'product_small'),
                    picture_attrs: attr,
                    picture_attrs: {
                        class: 'product-item__preview-picture product-item__preview-picture--tiny'
                    },
                    img_attrs: {
                        class: 'product-item__preview-image cover-img'
                    }
                } %}
            </div>
        </div>
    </div>
{% endblock %}

{% block __product_kit_line_item_form__header_product_attributes_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' product-popup__header-attributes',
    }) %}

    <div {{ block('block_attributes') }}>
        {{ parent_block_widget(block) }}
    </div>
{% endblock %}

{% block __product_kit_line_item_form__header_product_name_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' product-popup__header-title h3',
    }) %}

    <p {{ block('block_attributes') }}>{{ block_widget(block) }}</p>
{% endblock %}

{% block __product_kit_line_item_form__header_product_name_text_widget %}
    {{ product.names|localized_value|e }}
{% endblock %}

{% block __product_kit_line_item_form__header_product_sku_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' product-popup__header-sku',
    }) %}

    <div {{ block('block_attributes') }}>
        {{- product.sku -}}
    </div>
{% endblock %}

{% block __product_kit_line_item_form__product_total_widget %}
    {% set attr = layout_attr_defaults(attr, {
        'id': form.vars.id ~ 'totals',
        '~class': ' product-totals',
        'data-role': 'totals',
        'data-page-component-module': 'oroproduct/js/app/components/product-unit-select-component',
        'data-page-component-options': {
            'singleUnitMode': singleUnitMode,
            'singleUnitModeCodeVisible': singleUnitModeCodeVisible,
            'configDefaultUnit': defaultUnitCode
        }|json_encode
    }) %}

    {% set avaibleUnits = product.unitPrecisions|map(v => v)|filter(v => v.sell) %}

    <div {{ block('block_attributes') }}>
        <div class="product-totals__wrapper">
            <div class="product-totals__total-price">
                <div class="product-totals__label">
                    {{ 'oro.frontend.shoppinglist.product_kit_line_item.dialog_widget.subtotal.label'|trans }}
                </div>
                <div id="{{ form.vars.id ~ 'amount' }}" class="product-totals__total-price-value">
                    {% if form.vars.subtotal|default(null) is not null %}
                        {{ form.vars.subtotal.amount|default(0)|oro_format_currency({'currency': form.vars.subtotal.currency|default(null)}) }}
                    {% else %}
                        {{ 'oro.pricing.frontend.product_prices.price_not_found.short_label'|trans }}
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="product-totals__controls"
             data-role="totals-controls"
             data-page-component-view="oroproduct/js/app/views/product-unit-quantity-view"
        >
            <div class="product-item-quantity fields-row" data-extra-form="{{ extraFormId }}">
                {{ form_widget(form.quantity, {label: false, attr: {
                    'aria-label': 'oro.product.quantity.aria_label'|trans,
                    'class': 'product-item-quantity__input',
                    'data-floating-error': '',
                    'data-role': 'quantity',
                    'data-form-element': form.vars.id,
                    'data-boundaries-element': '[role="dialog"]',
                    'data-input-widget': 'number'
                }}) }}

                {% if avaibleUnits|length > 1 %}
                     {{ form_widget(form.unit, {attr: {
                         'class': 'product-item-quantity__choice invisible',
                         'data-role': 'unit',
                         'data-form-element': form.vars.id,
                     }}) }}
                {% else %}
                    <div class="product-view-line-item__unit">
                        <input form="{{ form.vars.id }}" type="hidden" name="{{ form.unit.vars.full_name }}" value="{{ product.primaryUnitPrecision.unit.code }}" data-name="{{ form.unit.vars.attr['data-name'] }}" data-role="unit" data-unit-precisions="{{ form.unit.vars.attr['data-unit-precisions'] }}" />
                        <span data-role="unit-label" data-toggle-type="single">{{- product.primaryUnitPrecision.unit.code|oro_format_product_unit_label -}}</span>
                    </div>
                {% endif %}

                <div class="fields-row-error">
                    {{- form_errors(form.quantity) -}}
                    {{- form_errors(form.unit) -}}
                </div>
            </div>
            {{ block_widget(block) }}
        </div>
    </div>
{% endblock %}
