{% block __product_kit_line_item_form__wrapper_widget %}
    {% set class_prefix = 'product-kit-line-item-widget' %}

    {% do block|merge_context({
        class_prefix: class_prefix,
        form: form,
        product: product,
        shoppingList: shoppingList,
        shoppingLists: shoppingLists,
    }) %}

    {% set attr = layout_attr_defaults(attr, {
        '~class': ' {{ class_prefix }}'
    }) %}

    <div{{ block('block_attributes') }}>
        {{ parent_block_widget(block) }}
    </div>
{% endblock %}

{% block __product_kit_line_item_form__header_wrapper_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' product-popup__header',
    }) %}
    <div {{ block('block_attributes') }}>
        {{ parent_block_widget(block) }}
    </div>
{% endblock %}

{% block __product_kit_line_item_form__header_product_picture_widget %}
    {% set productImageData = product.imagesByType('listing').first.image|default(null) %}
    {% set productName = product.names|localized_value %}
    {% include '@OroAttachment/Twig/picture.html.twig' with {
        sources: product_filtered_picture_sources(productImageData, 'product_small'),
        picture_attrs: attr,
        img_attrs: {class: "product-popup__header-img"}
    } %}
{% endblock %}

{% block __product_kit_line_item_form__header_product_attributes_widget %}
    <section {{ block('block_attributes') }}>
        {{ parent_block_widget(block) }}
    </section>
{% endblock %}

{% block __product_kit_line_item_form__header_product_name_widget %}
    <h4 {{ block('block_attributes') }}>
        {{ product.names|localized_value|e }}
    </h4>
{% endblock %}

{% block __product_kit_line_item_form__header_product_sku_widget %}
    <div {{ block('block_attributes') }}>
        {{ 'oro.product.frontend.index.item'|trans }}
        <span class="product-item__sku-value">{{ product.sku }}</span>
    </div>
{% endblock %}

{% block __product_kit_line_item_form__form_start_widget %}
    {% set form_route_name = 'oro_shopping_list_frontend_product_kit_line_item_create' %}
    {% set form_route_parameters = form_route_parameters|merge({
        productId: product.id,
        shoppingListId: shoppingList is not empty ? shoppingList.id : null
    }) %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': class_prefix ~ '__form fields-row',
        'novalidate': 'novalidate'
    }) %}
    {{ parent_block_widget(block) }}
    {{ form_widget(form._token) }}
{% endblock %}
