{% extends '@OroFrontend/layouts/default/form_theme.html.twig' %}

{%- block form_row -%}
    {% set renderLabel = false %}
    {% set unwrap = true %}
    {{ parent() }}
{%- endblock form_row -%}

{%- block form_label -%}
    {% set tagName = 'h5' %}
    {% set label_attr = layout_attr_defaults(label_attr, {
        '~class': ' h5 product-kit-items__label'
    }) %}
    {{ parent() }}
{%- endblock form_label -%}

{% block form_rows %}
    <div class="product-kit-items-grid">
        <div class="product-kit-items-grid__header">
            <div class="product-kit-items-grid__head product-kit-items-grid__head--item">{{ 'oro.frontend.shoppinglist.product_kit_line_item.dialog_widget.datagrid_titles.kit_item'|trans }}</div>
            <div class="product-kit-items-grid__head product-kit-items-grid__head--qty">{{ 'oro.frontend.shoppinglist.product_kit_line_item.dialog_widget.datagrid_titles.qty'|trans }}</div>
        </div>
        {{ parent() }}
    </div>
{% endblock form_rows %}

{% block oro_product_kit_line_item_widget %}
    <div class="product-kit-items">
        {{ form_row(form.kitItemLineItems, {label: false}) }}
        <div class="fields-row product-kit-items__notes">
            <label class="h5 label label--full product-kit-items__label-notes" for="{{ form.notes.vars.id }}">{{ 'oro.frontend.shoppinglist.product_kit_line_item.dialog_widget.notes'|trans }}:</label>
            {{ form_row(form.notes, {label: false}) }}
        </div>
    </div>
{% endblock %}

{% block _oro_product_kit_line_item_kitItemLineItems_entry_label %}
    {{ form_label(form, kitItem.labels|localized_value ~ ':') }}
{% endblock %}

{% block _oro_product_kit_line_item_kitItemLineItems_entry_widget %}
    {{ form_row(form.product, {label: false, kitItem: value.kitItem, productPrices: form.parent.vars.productPrices|default({})}) }}
{% endblock %}

{% block _oro_product_kit_line_item_kitItemLineItems_entry_product_widget %}
    <div class="product-kit-items-grid__group">
        <div class="product-kit-items-grid__label-cell">
            {{ block('_oro_product_kit_line_item_kitItemLineItems_entry_label')}}
        </div>
        <div class="product-kit-items-grid__items">
        {%- for index, choice in choices -%}
        {% set choiceID = form.children[index].vars.id|default(null) %}
        {%- set product = choice.data -%}
            <div class="product-kit-items-grid__product{% if product is null %} no-product-cell{% endif %}">
                <div class="product-kit-items-grid__radio-sku">
                    <div class="product-kit-items-grid__radio-cell{% if product is null %} no-product-cell{% endif %}">{{- form_row(form[index], {label: false, product: product}) -}}</div>
                    <div class="product-kit-items-grid__sku-cell{% if product is null %} no-product-cell{% endif %}">
                        <label {% if choiceID is not null %}for="{{ choiceID }}"{% endif %}>
                            {%- if product -%}
                                {{ product.skuUppercase }}
                            {% else %}
                                {{ 'oro.frontend.shoppinglist.product_kit_line_item.dialog_widget.product_kit_item_line_item.product.choices.none'|trans }}
                            {% endif %}
                        </label>
                    </div>
                </div>
                <div class="product-kit-items-grid__item-cell{% if product is null %} no-product-cell{% endif %}">
                    {% import '@OroUI/macros.html.twig' as UI %}
                    {% if product is not null %}
                        {% set productImageData = product.imagesByType('listing').first.image|default(null) %}
                        {% set productName = product.names|localized_value %}
                        <div class="product-item grid-line-items">
                            <div class="grid-line-items__row grid-line-items__row--offset-y-end product-item__image-holder--aspect-ratio product-item__image-holder--tiny-small">
                                <div class="product-item__preview">
                                    {% include '@OroAttachment/Twig/picture.html.twig' with {
                                        sources: product_filtered_picture_sources(productImageData, 'product_small'),
                                        picture_attrs: {
                                            class: 'product-item__preview-picture product-item__preview-picture--tiny'
                                        },
                                        img_attrs: {
                                            class: 'product-item__preview-image cover-img'
                                        }
                                    } %}
                                </div>
                            </div>
                            <div class="grid-line-items__row">
                                <div class="grid-line-items__row-item product-kit-items-grid__line-item">
                                    <h3 class="grid-line-items__title">
                                        {% set productId = product.id|default(0) %}
                                        {% if productId and is_visible_product(productId) %}
                                            {{ UI.link({
                                                path: path('oro_product_frontend_product_view', {'id': productId}),
                                                label: productName,
                                                class: 'no-decoration'
                                            }) }}
                                        {% else %}
                                            {{ productName|e }}
                                        {% endif %}
                                    </h3>
                                </div>
                                {%- if product -%}
                                <div class="product-kit-items-grid__line-item-sku">
                                    {{- product.skuUppercase -}}
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    {% else %}
                        <div class="product-kit-items-grid__line-item-sku">
                            {{- 'oro.frontend.shoppinglist.product_kit_line_item.dialog_widget.product_kit_item_line_item.product.choices.none'|trans -}}
                        </div>
                    {% endif %}
                </div>
                <div class="product-kit-items-grid__price-cell{% if product is null %} no-product-cell{% endif %}"
                    {%- if product -%}
                        {%- set productPrice = productPrices[product.id|default(0)][kitItem.productUnit.code|default('')]|default([null])|first -%}
                        {%- if productPrice is null -%}
                            data-blank-content="{{ 'oro.pricing.frontend.product_prices.price_not_found.short_label'|trans }}"
                        {% endif %}
                    {%- endif -%}
                >
                    {%- if product -%}
                        {%- set productPrice = productPrices[product.id|default(0)][kitItem.productUnit.code|default('')]|default([null])|first -%}
                        {%- if productPrice is not null -%}
                            <span data-name="price-value">
                                {{ productPrice.price.value|default(0)|oro_format_currency({'currency': productPrice.price.currency|default(null)}) }}
                            </span>
                        {%- endif -%}
                    {%- endif -%}
                </div>
            </div>
        {%- endfor -%}
        </div>
        <div class="product-kit-items-grid__quantity-cell">
            <div class="product-item-quantity product-item-quantity--justify-end fields-row">
                {{ form_widget(form.parent.quantity, {'attr' : {
                    'aria-label': 'oro.shoppinglist.productkititemlineitem.quantity.aria_label'|trans,
                    'class': 'product-item-quantity__input',
                    'data-floating-error': '',
                    'data-boundaries-element': '[role="dialog"]',
                    'data-role': 'kit-line-item-quantity',
                    'data-input-widget': 'number',
                    'data-value': kitItem.minimumQuantity|default(1),
                    'data-precision': kitItem|oro_product_kit_item_unit_precision,
                    'data-minimum-quantity': kitItem.minimumQuantity|default(1),
                    'data-maximum-quantity': kitItem.maximumQuantity
                }}) }}
                <div class="fields-row-error">
                    {{ form_errors(form.parent.quantity) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block _oro_product_kit_line_item_kitItemLineItems_entry_product_entry_widget %}
    {% set label %}
        {% if product is not null %}
            {% set productName = product.names|localized_value %}
            <span class="sr-only">{{ product.skuUppercase ~ ' - ' ~ productName }}</span>
        {% else %}
            <span class="sr-only">{{ 'oro.frontend.shoppinglist.product_kit_line_item.dialog_widget.product_kit_item_line_item.product.choices.none'|trans }}</span>
        {% endif %}
    {% endset %}
    {% set attr = layout_attr_defaults(attr, {
        'data-role': 'kit-line-item-product',
    }) %}
    {% set relatedInputId = form.parent.parent.children.quantity.vars.id|default(null) %}
    {% if relatedInputId %}
        {% set attr = layout_attr_defaults(attr, {
            'data-related-elements': '#' ~ relatedInputId
        }) %}
    {% endif %}
    {{ block('radio_widget') }}
{% endblock %}
