{#{% block root_widget %}#}
    {#{% if not oro_is_hash_navigation() %}#}
        {#<!DOCTYPE {{ doctype|default('html') }}>#}
        {#<html>#}
        {#{{ block_widget(block) }}#}
        {#</html>#}
    {#{% else %}#}
        {#{% include 'OroNavigationBundle:HashNav:hashNavAjax.html.twig' with {#}
            {#'data': {#}
                {#'content': block_widget(blocks.wrapper),#}
            {#}#}
        {#} %}#}
    {#{% endif %}#}
{#{% endblock %}#}

{#{% block _header_widget %}#}
    {#<header{{ block('block_attributes') }}>#}
        {#{{ block_widget(block) }}#}
    {#</header>#}
{#{% endblock %}#}

{#{% block _require_js_config_widget %}#}
    {#<script>#}
        {#require({#}
            {#config: {#}
                {#'oroui/js/app': {routeLinks: ''},#}
                {#'controllers/page-controller': {fullRedirect: true},#}
                {#'oroui/js/app/modules/views-module': {showLoadingMaskOnStartup: false},#}
                {#'oro/datagrid/cell/action-cell': {showCloseButton: false},#}
                {#'orodatagrid/js/app/plugins/grid/column-manager-plugin': {icon: 'gear'},#}
                {#'orodatagrid/js/datagrid/action-launcher': {iconHideText: false},#}
                {#'oro/filter/abstract-filter': {#}
                    {#placeholder: null,#}
                    {#labelPrefix: '{{ 'oro.ui.filter.by'|trans  }} '#}
                {#},#}
                {#'orofilter/js/filter-hint': {inline: false}#}
            {#}#}
        {#});#}
        {#require({#}
            {#appmodules: (requirejs.s.contexts._.config.appmodules || []).concat([#}
                {#'orob2bfrontend/default/js/app/modules/input-widgets',#}
                {#'orob2bfrontend/default/js/app/modules/action-manager',#}
                {#'orob2bfrontend/default/js/app/modules/delete-action',#}
                {#'orob2bfrontend/default/js/app/modules/select-filter'#}
            {#])#}
        {#});#}
    {#</script>#}
{#{% endblock %}#}

{#{% block _wrapper_widget %}#}
    {#{% set attr = attr|merge({#}
        {#class: attr.class|default('') ~ " wrapper"#}
    {#}) %}#}
    {#<div{{ block('block_attributes') }}>#}
        {#{{ block_widget(block) }}#}
    {#</div>#}
{#{% endblock %}#}

{#{% block _main_widget %}#}
    {#{% set attr = attr|merge({#}
        {#class: attr.class|default('') ~ " main"#}
    {#}) %}#}
    {#<main{{ block('block_attributes') }}>#}
        {#{{ block_widget(block) }}#}
    {#</main>#}
{#{% endblock %}#}

{#{% block _content_widget %}#}
    {#{% set visibleSidebarChildren = [] %}#}
    {#{% for child in blocks.sidebar_left.children %}#}
        {#{% if child.vars.visible %}#}
            {#{% set visibleSidebarChildren  = visibleSidebarChildren|merge([child]) %}#}
        {#{% endif %}#}
    {#{% endfor %}#}
    {#{% set hasSidebarLeft = blocks.sidebar_left is defined and visibleSidebarChildren|length > 0 %}#}
    {#{% set attr = attr|merge({#}
        {#class: attr.class|default('') ~ " content" ~ (hasSidebarLeft ? " content--has-sidebar")#}
    {#}) %}#}
    {#<div{{ block('block_attributes') }}>#}
        {#<div class="content__container">#}
            {#<div class="container-fluid">#}
                {#<div class="content__inner">#}
                    {#{{ block_widget(block) }}#}
                {#</div>#}
            {#</div>#}
        {#</div>#}
    {#</div>#}
{#{% endblock %}#}

{#{% block _page_title_container_widget %}#}
    {#{% set content = block_widget(block)|trim %}#}
    {#{% set attr = attr|merge({#}
        {#class: attr.class|default('') ~ " page-title " ~ (class_prefix ? " {{ class_prefix }}-page-title")#}
    {#}) %}#}
    {#{% if content|length %}#}
        {#<h1{{ block('block_attributes') }}>{{ content|raw }}</h1>#}
    {#{% endif %}#}
{#{% endblock %}#}

{#{% block _page_title_widget %}#}
    {#{{ block_widget(block) }}#}
{#{% endblock %}#}

{#{% block _sidebar_left_widget %}#}
    {#{% if block.count > 0 %}#}
        {#{% set attr = attr|merge({#}
            {#class: attr.class|default('') ~ " sidebar sidebar_left"#}
        {#}) %}#}
        {#<aside{{ block('block_attributes') }}>#}
            {#{{ block_widget(block) }}#}
        {#</aside>#}
    {#{% endif %}#}
{#{% endblock %}#}

{#{% block _notification_widget %}#}
    {#{% set attr = {#}
        {#id: 'flash-messages'#}
    {#}|merge(attr)|merge({#}
        {#class: attr.class|default('') ~ " notification-flash"#}
    {#}) %}#}
    {#<div{{ block('block_attributes') }}></div>#}
    {#<script type="text/template" id="message-item-template">#}
        {#<% iconClass = 'cf-check' %>#}
        {#<% if (type === "error" || type === "warning") {#}
            {#iconClass = 'cf-attention';#}
        {#}%>#}
        {#<div class="container-fluid alert mt1-md notification notification_<%= type %> notification_lg">#}
            {#<span class="badge badge_sm_xs badge_<%= type %>"><i class="<%= iconClass %>"></i></span>#}
            {#<span class="fs16 ml1-sm"><%= message %></span>#}
            {#<i class="cf-clear" data-dismiss="alert"></i>#}
        {#</div>#}
    {#</script>#}
    {#<script type="text/javascript">#}
        {#require(['jquery', 'oroui/js/messenger'],#}
            {#function($, messenger) {#}
                {#messenger.setup({#}
                    {#container: '#{{ attr.id }}',#}
                    {#template: _.template($.trim($('#message-item-template').html()))#}
                {#});#}
                {#{% if app.session.flashbag.peekAll|length > 0 %}#}
                {#$(function() {#}
                    {#{% for type, messages in app.session.flashbag.all %}#}
                        {#{% for message in messages %}#}
                            {#messenger.notificationFlashMessage({{ type|json_encode|raw }}, {{ message|trans|json_encode|raw }});#}
                        {#{% endfor %}#}
                    {#{% endfor %}#}
                {#});#}
                {#{% endif %}#}
            {#});#}
    {#</script>#}
{#{% endblock %}#}
