{% set isFreeFormProduct = record.getValue('productName') is empty and record.getValue('freeFormProduct') is not empty %}
{% set product = record.getValue('product') %}

<h3 class="oro-grid-table__title">
    {% if isFreeFormProduct %}
        {{ record.getValue('freeFormProduct') }}
    {% elseif product %}
        {% if record.getValue('parentProduct') %}
            {% set product = record.getValue('parentProduct') %}
        {% endif %}
        {% set routeOptions = {'id': product.id} %}
        {% if product.isConfigurable %}
            {% set routeOptions = routeOptions|merge({'variantProductId': record.getRootEntity().product.id}) %}
        {% endif %}
        <a href="{{ path('oro_product_frontend_product_view', routeOptions) }}">{{ product.names|localized_value|e }}</a>
    {% else %}
        {{ record.getValue('productName') }}
    {% endif %}
</h3>

{% if not isFreeFormProduct %}
    <div class="customer-line-items__row">
        {{ 'oro.product.item_number.label'|trans }}: <span class="customer-line-items__sku-value">{{ record.getValue('productSku') }}</span>
        {% for label, value in record.getValue('productAdditionalAttributes') %}
            {{ label|trans }} <span class="customer-line-items__attr-value">{{ value }}</span>
        {% endfor %}
    </div>
    {% for field in record.getValue('productVariantFields') %}
        <div  class="customer-line-items__row">
            {{ field.label|trans }}:
            <span class="customer-line-items__value">{{ field.value }}</span>
        </div>
    {% endfor %}
{% endif %}
