{% block block_row -%}
    <div class="form-row">
        <div class="form-row__label">{{ block_label(block) -}}</div>
        <div class="form-row__content">{{ block_widget(block) -}}</div>
    </div>
{%- endblock %}

{% block _login_page_widget %}
    <div{{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _login_form_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' login-form'
    }) %}

    <form id="form-login" {{ block('block_attributes') }}
          action="{{ path('oro_account_account_user_security_check') }}"
          method="post"
    >
        <div class="grid">
            {{ block_widget(block) }}
        </div>
    </form>
    <script type="text/javascript">
        require(['jquery', 'jquery.validate'],
            function ($) {
                $('#form-login').validate({});
            });
    </script>
{% endblock %}

{% block _login_form_title_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' page-title'
    }) %}

    <h1 {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </h1>
{% endblock %}

{% block _login_form_notifications_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' notifications'
    }) %}
    <div class="form-row">
        <p  class="notifications notifications--error">{{ block_widget(block) }}</p>
    </div>

{% endblock %}

{% block _login_form_remember_item_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' form-row'
    }) %}

    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _login_form_submit_item_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' form-row'
    }) %}

    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}


{% block _login_form_forgot_item_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' form-row'
    }) %}

    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _login_form_register_item_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' form-row form-row--offset-none'
    }) %}

    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _login_form_forgot_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' link'
    }) %}

    {{ block_widget(block, {attr: attr}) }}
{% endblock %}

{% block _login_form_register_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' link'
    }) %}

    {{ block_widget(block, {attr: attr}) }}
{% endblock %}

{% block _login_form_username_widget %}
    {% set attr = {
        required: 'required',
        autofocus: true,
        'data-validation': {"NotBlank":{"payload":null}}|json_encode,
    }|merge(attr)|merge({
            class: attr.class|default('') ~ " input input--full"
    }) %}

    {% set label_attr = label_attr|merge({
        class: label_attr.class|default('') ~ " label"
    }) %}

    {{ block_row(block, {
        attr: attr,
        label_attr: label_attr
    }) }}
{% endblock %}

{% block _login_form_password_widget %}
    {% set attr = {
        required: 'required',
        autofocus: true,
        'data-validation': {"NotBlank":{"payload":null}}|json_encode,
    }|merge(attr)|merge({
        class: attr.class|default('') ~ " input input--full"
    }) %}

    {% set label_attr = label_attr|merge({
        class: label_attr.class|default('') ~ " label"
    }) %}


    {{ block_row(block, {
        attr: attr,
        label_attr: label_attr
    }) }}
{% endblock %}
