{% block orob2b_payment_paypal_password_type_widget %}
    {{ block('password_widget') }}
{% endblock %}

{% block orob2b_payment_credit_card_expiration_date_widget -%}
    {% set
        validation = {
            'creditCardExpirationDateNotBlank': {'message': 'orob2b.payment.validation.expiration_date', 'payload': null},
            'creditCardExpirationDate': {'message': 'orob2b.payment.validation.month', 'payload': null}
        }
    %}

    <div {{ block('widget_attributes') }} data-validation="{{ validation|json_encode }}">
        <div class="{{ class_prefix }}__form__select {{ class_prefix }}__form__select--exp-month">
            {{ form_widget(form.month, {'attr': {'data-expiration-date-month': true}}) }}
        </div>
        <div class="{{ class_prefix }}__form__select {{ class_prefix }}__form__select--exp-year">
            {{ form_widget(form.year, {'attr': {'data-expiration-date-year': true}}) }}
        </div>
    </div>
{%- endblock %}

{% block _orob2b_payment_credit_card_save_for_later_row %}
    {{ form_widget(form) }}
{% endblock %}
