{% block orob2b_payment_method_widget %}
<form action="#" class="checkout__form">
    <fieldset class="checkout__form__row" data-page-component-module="orob2bpayment/js/app/components/payment-method-selector-component">
        <div class="checkout__form__col form__col_x6">
            <span class="checkout__form__label">{{ 'orob2b.payment.methods.select_method'|trans }}<sup class="red">*</sup></span>
            {% for child in form.children %}
                {{ form_widget(child) }}
            {% endfor %}
        </div>
    </fieldset>

    <fieldset class="checkout__form__row">
        <div class="create-account__form__req-text"><sup>*</sup>{{ 'orob2b.payment.methods.required_field'|trans }}</div>
        <div class="create-account__form__col form__col_x12">
            <button type="submit" class="btn btn_orange btn_lg checkout__form__submit">
                {{ 'orob2b.payment.methods.continue'|trans }}<i class="icon-right-open-mini va-m_md"></i>
            </button>
        </div>
    </fieldset>
    <div class="checkout__form__back">
        <a href="#"><i class="icon-left-open-mini"></i>{{ 'orob2b.payment.methods.back'|trans }}</a>
    </div>
</form>
{% endblock %}

{% block _orob2b_payment_method_paymentMethod_entry_widget %}
    <div class="checkout__form__radio" data-item-container>
        <label class="radio_custom radio_custom_blue">
            <input type="radio" name="paymentMethod" data-choice="{{ form.vars.name }}" />
            <span class="checkbox_custom__text fs13">{{ form.vars.label|trans }}</span>
        </label>
        <div class="checkout__form__payment-container" data-form-container>
            {% if form.vars.subform.vars.unique_block_prefix == '_orob2b_payment_term_method' %}
                {{ block('orob2b_payment_term_method_widget') }}
            {% else %}
                {{ form_widget(form.vars.subform) }}
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block _orob2b_payment_method_paymentMethod_entry_label %}{% endblock %}

{% block orob2b_payment_term_method_widget %}
    <div>
        {{ subform.vars.paymentTerm }}
    </div>
{% endblock %}

{% block orob2b_payment_paypal_password_type_widget %}
    {{ block('password_widget') }}
{% endblock %}
