{% import 'OroUIBundle::macros.html.twig' as UI %}
{% import 'OroEntityConfigBundle::macros.html.twig' as entityConfig %}

<div class="widget-content">
    <div class="row-fluid form-horizontal">
        <div class="responsive-block">
            {{ UI.renderProperty('orob2b.sale.quote.id.label'|trans, entity.id) }}
            {{ UI.renderProperty('orob2b.sale.quote.qid.label'|trans, entity.qid) }}
            {{ UI.renderProperty('orob2b.sale.quote.owner.label'|trans, entity.owner.username) }}
            {{ UI.renderProperty('orob2b.sale.quote.valid_until.label'|trans, entity.validUntil ? entity.validUntil|oro_format_datetime : 'N/A') }}

            <div class="sale-quote-info-products">
                {% for quoteProduct in entity.quoteProducts %}
                    {% set itemData %}
                        <div class="sale-quote-info-product">
                            <a href="{{ path('orob2b_product_view', { id: quoteProduct.product.id }) }}">{{ quoteProduct.product | raw }}</a>
                        </div>
                        <div class="sale-quote-info-product-items">
                            {% for quoteProductItem in quoteProduct.quoteProductItems %}
                                <div class="sale-quote-info-product-item">
                                    {{ quoteProductItem | orob2b_format_sale_quote_product_item }}
                                </div>
                            {% endfor %}
                        </div>
                    {% endset %}
                    {{ UI.renderHtmlProperty('orob2b.product.entity_label'|trans, itemData ) }}
                {% endfor %}
            </div>
        </div>
        <div class="responsive-block">
            {{ entityConfig.renderDynamicFields(entity) }}
        </div>
    </div>
</div>
