{% import 'OroUIBundle::macros.html.twig' as UI %}
{% import 'OroEntityConfigBundle::macros.html.twig' as entityConfig %}

<div class="widget-content">
    <div class="row-fluid form-horizontal">
        <div class="responsive-block">
            {{ UI.renderProperty('orob2b.sale.quote.qid.label'|trans, entity.qid) }}
            {% if entity.accountUser %}
                {{ UI.renderHtmlProperty('orob2b.sale.quote.account_user.label'|trans, UI.entityViewLink(entity.accountUser, entity.accountUser.fullName, 'orob2b_account_account_user_view')) }}
            {% endif %}
            {% if entity.account %}
                {{ UI.renderHtmlProperty('orob2b.sale.quote.account.label'|trans, UI.entityViewLink(entity.account, entity.account.name, 'orob2b_account_view')) }}
            {% endif %}

            {{ UI.renderProperty('orob2b.sale.quote.valid_until.label'|trans, entity.validUntil ? entity.validUntil|oro_format_datetime : 'N/A'|trans) }}
            {% if entity.request %}
                {{ UI.renderHtmlProperty('orob2b.sale.quote.request.label'|trans, UI.entityViewLink(entity.request, entity.request, 'orob2b_rfp_request_view')) }}
            {% endif %}
            {{ UI.renderProperty('orob2b.sale.quote.po_number.label'|trans, entity.poNumber|default('N/A'|trans)) }}
            {{ UI.renderProperty('orob2b.sale.quote.ship_until.label'|trans, entity.shipUntil|oro_format_date|default('N/A'|trans)) }}

            {% if entity.assignedUsers | length %}
                {{ UI.renderHtmlProperty('orob2b.sale.quote.assigned_users.label'|trans, UI.entityViewLinks(entity.assignedUsers, 'fullName', 'oro_user_view')) }}
            {% endif %}
            {% if entity.assignedAccountUsers | length %}
                {{ UI.renderHtmlProperty('orob2b.sale.quote.assigned_account_users.label'|trans, UI.entityViewLinks(entity.assignedAccountUsers, 'fullName', 'orob2b_account_account_user_view')) }}
            {% endif %}

            {% set paymentTermView = '' %}
            {% if entity.paymentTerm %}
                {% if resource_granted('VIEW', entity.paymentTerm) %}
                    {% set paymentTermView = UI.renderUrl(path('orob2b_payment_term_view', {'id': entity.paymentTerm.id}), entity.paymentTerm.label) %}
                {% else %}
                    {% set paymentTermView = entity.paymentTerm.label|escape %}
                {% endif %}
                {{ UI.renderHtmlProperty('orob2b.sale.quote.payment_term.label'|trans, paymentTermView) }}
            {% endif %}
        </div>
        <div class="responsive-block">
            {{ entityConfig.renderDynamicFields(entity) }}
        </div>
    </div>
</div>
