{% block oro_product_row_widget %}
    {% import 'OroUIBundle::macros.html.twig' as UI %}
    {% set name = form.vars.full_name %}
    {% set disabled = form.parent.vars.disabled %}
    {% set allow_delete = form.parent.vars.allow_delete %}
    {% set row_component_name = form.vars.attr['data-ftid'] %}
    <div data-content="{{ name }}"
         data-validation-optional-group
         data-role="row"
         class="quick-order-add__row fields-row"
         {{ block('widget_container_attributes') }}
    >
        <div class="quick-order-add__row-content"
            {{ UI.renderPageComponentAttributes({
                view: "oroproduct/js/app/views/quick-add-row-view",
                name: row_component_name,
                options: {ignoreSubPromises: true}
            }) }}
        >
            <div class="quick-order-add__col quick-order-add__product"
                 data-page-component-init-on="click,focusin"
                 data-label="{{ 'oro.product.item_number.label'|trans }}"
            >
                {{ form_widget(form.productDisplayName, {attr: {
                    placeholder: "oro.product.sku.placeholder",
                    'aria-label': "oro.product.sku.aria_label",
                    'data-value': form.productDisplayName.vars.value,
                    'data-dropdown-classes':{
                        holder: 'select2-drop oro-select2__dropdown',
                        menu: 'select2-results',
                        item: 'select2-result',
                        link: 'select2-result-label'
                    }|json_encode
                }}) }}
                {{ form_widget(form.productSku) }}
            </div>
            <div class="quick-order-add__col quick-order-add__quantity"
                 data-label="{{ 'oro.product.quantity.label'|trans }}"
            >
                {{ form_widget(form.productQuantity, {attr: {
                    class: ' quick-order-add__quantity-input',
                    placeholder: "oro.product.quantity.placeholder",
                    'aria-label': "oro.product.quantity.aria_label"
                }}) }}
            </div>
            <div class="quick-order-add__col quick-order-add__unit"
                 data-label="{{ 'oro.product.productunitprecision.unit.label'|trans }}"
                 data-validation="{{ {'QuickAddUnit': {}}|json_encode(constant('JSON_FORCE_OBJECT')) }}"
            >
                {{ form_widget(form.productUnit, {attr: {
                    'class': 'disabled',
                    'aria-label': 'oro.product.productunitprecision.unit.label',
                    'data-skip-input-widgets': ''
                }|merge(form.productUnit.vars.value is empty ? {'disabled': 'disabled'} : {})}) }}
            </div>
            {% placeholder oro_product_quick_add_additional_fields with {
                row_component_name: row_component_name,
                _collection_unique_prefix: form.parent.vars.unique_block_prefix
            } %}
            {% if allow_delete %}
                <button class="btn btn--plain quick-order-add__remove-row removeRow" data-role="row-remove" type="button"
                        aria-label="{{ 'oro.product.remove_row.aria_label'|trans }}">
                </button>
            {% endif %}
        </div>
        <div class="quick-order-add__error fields-row-error">{{ form_errors(form.productQuantity) }}</div>
    </div>
{% endblock %}

{% block oro_product_row_collection_widget %}
    {% spaceless %}
        {% if prototype is defined %}
            {% set prototype_html = form_widget(form.vars.prototype) %}
        {% endif %}
        {% set attr = attr|merge({
            'class': (attr.class is defined ? attr.class ~ ' ' : '') ~  'quick-order-add__grid grid-container',
            'data-validation': false
        }) %}
        {% set id = id ~ '_collection' %}
        {% set prototype_name = form.vars.prototype_name %}
        <div {{ block('widget_container_attributes') }}>
            {% set data_last_index = form.children ? form.children|length : form.vars.row_count_initial %}
            <div class="quick-order-add__body js-item-collection"
                 data-last-index="{{ data_last_index }}"
                 data-row-count-add="{{ form.vars.row_count_add }}"
                 data-prototype-name="{{ prototype_name }}"{% if prototype_html is defined %}
                 data-prototype="{{ prototype_html|escape }}"{% endif %}
            >
                {% if form.children|length %}
                    {% for child in form.children %}
                        {{ form_widget(child) }}
                    {% endfor %}
                {% elseif show_form_when_empty and prototype_html is defined %}
                    {% for i in 0..(form.vars.row_count_initial - 1) %}
                        {{ prototype_html|replace({(prototype_name): i})|raw }}
                    {% endfor %}
                {% endif %}
            </div>
        </div>

        {% if allow_add %}
            <button class="btn btn--primary btn--block add-list-item"
               data-container=".js-item-collection" type="button"
            >
                <span class="fa-plus-circle" aria-hidden="true"></span>
                <span>{{ form.vars.add_label|default('oro.form.collection.add')|trans }}</span>
            </button>
        {% endif %}
        {% placeholder oro_product_quick_add_collection_after with {
            _collection_unique_prefix: form.vars.unique_block_prefix
        } %}
    {% endspaceless %}
{% endblock %}

{% block oro_product_quick_add_import_from_file_widget %}
    {% spaceless %}
        <div class="quick-order-import__content">
            <label role="button" tabindex="0" class="btn btn--large" for="{{ form.file.vars.id }}"
                   aria-label="{{ 'oro.product.frontend.quick_add.import_from_file.choose_file.aria_label'|trans }}"
                   aria-haspopup="true"
                   data-emulate-btn-press
                >{{ 'oro.product.frontend.quick_add.import_from_file.choose_file.label'|trans }}</label>
            {{ form_widget(form.file, {attr: {class:'hidden'}}) }}
        </div>
    {% endspaceless %}
{% endblock %}

{% block oro_product_quick_add_copy_paste_widget %}
    {% spaceless %}
        {{ form_widget(form.copyPaste, {'id': 'oro_product_quick_add_copy_paste_copyPaste','attr': {
            class: ' quick-order-copy-paste__textarea',
            placeholder: "oro.product.frontend.quick_add.copy_paste.placeholder"
        }}) }}
    {% endspaceless %}
{% endblock %}
