{% block oro_product_row_widget %}
    {% set name = form.vars.full_name %}
    {% set disabled = form.parent.vars.disabled %}
    {% set allow_delete = form.parent.vars.allow_delete %}

    <div data-content="{{ name }}"
         data-validation-optional-group
         data-role="row"
         class="quick-order-add__row fields-row"
         {{ block('widget_container_attributes') }}
    >
        <div data-page-component-module="oroui/js/app/components/view-component"
             data-page-component-options="{{ {
                 view: 'oroproduct/js/app/views/quick-add-item-view',
                 changeQuantity: true
             }|json_encode }}"
             class="quick-order-add__row-content">
            <div class="quick-order-add__col quick-order-add__product">
                <label class="quick-order-add__label">{{ 'oro.product.item_number.label'|trans }}</label>
                {{ form_widget(form.productDisplayName, {attr: {
                    placeholder: "oro.product.sku.placeholder",
                    'data-value': form.productDisplayName.vars.value,
                    'data-dropdown-classes':{
                        holder: 'select2-drop oro-select2__dropdown',
                        menu: 'select2-results',
                        item: 'select2-result',
                        link: 'select2-result-label'
                    }|json_encode
                }}) }}
                {{ form_widget(form.productSku) }}
            </div>
            <div class="quick-order-add__col quick-order-add__quantity">
                <label class="quick-order-add__label">{{ 'oro.product.quantity.label'|trans }}</label>
                {{ form_widget(form.productQuantity, {attr: {
                    class: ' quick-order-add__quantity-input',
                    placeholder: "oro.product.quantity.placeholder"
                }}) }}
            </div>
            <div class="quick-order-add__col quick-order-add__unit">
                <label class="quick-order-add__label">{{ 'oro.product.productunitprecision.unit.label'|trans }}</label>
                {{ form_widget(form.productUnit, {'disabled': 'disabled'}) }}
            </div>
            {% placeholder oro_product_quick_add_additional_fields %}
            {% if allow_delete %}
                <span class="quick-order-add__remove-row removeRow" data-role="row-remove"><i class="fa-close"></i></span>
            {% endif %}
        </div>
        <div class="quick-order-add__error fields-row-error">{# Dinamic content #}</div>
        <div class="quick-order-add__error-autocomplete">
            {{ form_errors(form.productQuantity) }}
            <div class="product-autocomplete-error" style="display: none;" data-role="autocomplete-error">
                <span class="validation-failed">
                    <span class="validation-failed__icon" aria-hidden="true"></span>
                    <span>{{ 'oro.product.sku.not_found'|trans }}</span>
                </span>
            </div>
        </div>
    </div>
{% endblock %}

{% block oro_product_row_collection_widget %}
    {% spaceless %}
        {% if prototype is defined %}
            {% set prototype_html = form_widget(form.vars.prototype) %}
        {% endif %}
        {% set attr = attr|merge({
            'class': (attr.class is defined ? attr.class ~ ' ' : '') ~  'quick-order-add__grid grid-container',
            'data-validation': false
        }) %}
        {% set id = id ~ '_collection' %}
        {% set prototype_name = form.vars.prototype_name %}
        <div {{ block('widget_container_attributes') }}>
            {% set data_last_index = form.children ? form.children|length : form.vars.row_count_initial %}
            <div class="quick-order-add__body js-item-collection"
                 data-last-index="{{ data_last_index }}"
                 data-row-count-add="{{ form.vars.row_count_add }}"
                 data-prototype-name="{{ prototype_name }}"{% if prototype_html is defined %}
                 data-prototype="{{ prototype_html|escape }}"{% endif %}
            >
                {% if form.children|length %}
                    {% for child in form.children %}
                        {{ form_widget(child) }}
                    {% endfor %}
                {% elseif show_form_when_empty and prototype_html is defined %}
                    {% for i in 0..(form.vars.row_count_initial - 1) %}
                        {{ prototype_html|replace({(prototype_name): i})|raw }}
                    {% endfor %}
                {% endif %}
            </div>
        </div>

        {% if allow_add %}
            <a href="#" class="btn btn--primary btn--block add-list-item"
               data-container=".js-item-collection"
            >
                <i class="fa-plus-circle"></i>
                <span>{{ form.vars.add_label|default('oro.form.collection.add')|trans }}</span>
            </a>
        {% endif %}
    {% endspaceless %}
{% endblock %}

{% block oro_product_quick_add_import_from_file_widget %}
    {% spaceless %}
        <div class="quick-order-import__content">
            <label class="btn btn--large" for="{{ form.file.vars.id }}">
                {{ 'oro.product.frontend.quick_add.import_from_file.choose_file.label'|trans }}
            </label>
            {{ form_widget(form.file, {attr: {class:'hidden'}}) }}
        </div>
    {% endspaceless %}
{% endblock %}

{% block oro_product_quick_add_copy_paste_widget %}
    {% spaceless %}
        {{ form_widget(form.copyPaste, {attr: {
            class: ' quick-order-copy-paste__textarea',
            placeholder: "oro.product.frontend.quick_add.copy_paste.placeholder"
        }}) }}
    {% endspaceless %}
{% endblock %}
