{% block _quick_add_import_form_widget %}
    {% set attr = attr|merge({
        class: attr.class|default('') ~ ' quick-order-import'
    }) %}
    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _quick_add_import_form_start_widget %}
    {% set attr = {
        'data-page-component-view': 'oroproduct/js/app/views/quick-add-import-form-view'
    }|merge(attr) %}
    {{ block('form_start_widget') }}
{% endblock %}

{% block _quick_add_import_form_container_widget %}
    {% set attr = attr|merge({
        class: attr.class|default('') ~ ' quick-order-import__container'
    }) %}
    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _quick_add_import_title_widget %}
    {% set attr = attr|merge({
        class: attr.class|default('') ~ ' quick-order-import__title'
    }) %}
    <h2 {{ block('block_attributes') }}>
        <span class="fa-paperclip" aria-hidden="true"></span>
        {{ block_widget(block) }}
    </h2>
{% endblock %}

{% block _quick_add_import_description_widget %}
    {% set attr = attr|merge({
        class: attr.class|default('') ~ ' quick-order-import__description'
    }) %}
    <p {{ block('block_attributes') }}>{{ block_widget(block) }}</p>
{% endblock %}

{% block _quick_add_import_link_widget %}
    {% import '@OroUI/macros.html.twig' as UI %}
    {{ UI.clientLink({
        'dataUrl': path(route_name),
        'aCss': 'no-hash quick-order-import__link',
        'iCss': 'fa-info-circle',
        'label': text|trans,
        'ariaLabel': 'oro.product.frontend.quick_add.import_from_file.label_directions.aria_label'|trans,
        'role': 'button',
        'ariaHaspopup': true,
        'labelInIcon': false,
        'widget': {
            'type': 'dialog',
            'options': {
                'dialogOptions': {
                    'title': 'oro.product.frontend.quick_add.import_from_file.title_dialog'|trans,
                    'modal': true,
                    'resizable': false,
                    'width': 600,
                    'autoResize': true,
                    'dialogClass': 'ui-dialog-no-scroll'
                }
            }
        }
    }) }}
{% endblock %}

{% block _quick_add_import_form_submit_widget %}
    {% set attr = attr|merge({
        class: attr.class|default('') ~ ' hidden '
    }) %}
    {{ block_widget(block, {attr: attr}) }}
{% endblock %}
