{% block _page_title_widget %}
    {% set titleIcon = 'fa-flash' %}
    {{ parent_block_widget(block) }}
{% endblock %}

{% block _quick_add_container_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' quick-order',
        'data-focusable': true,
        'data-page-component-view': 'oroproduct/js/app/views/quick-order-view',
        'data-layout': 'separate',
    }) %}
    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _quick_add_form_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' quick-order-add',
        'data-role': 'quick-order-add-container'
    }) %}
    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _quick_add_form_start_widget %}
    {% set pageComponentOptions = {
        'componentSelector': '#' ~ form.component.vars.id,
        'additionalSelector': '#' ~ form.additional.vars.id
    } %}
    {% set attr = layout_attr_defaults(attr, {
        'autocomplete': 'off',
        'data-page-component-view': 'oroproduct/js/app/views/quick-add-form-view',
        '~data-page-component-options': pageComponentOptions
    }) %}
    {{ block('form_start_widget') }}
    {% set errors = form_errors(form) %}
    {% if errors|trim|length %}
        <div class="grid-col-12">
            {{ errors|raw }}
        </div>
    {% endif %}
{% endblock %}

{% block _quick_add_form_grid_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' grid'
    }) %}
    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _quick_add_form_fields_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' grid-col-12 grid quick-order-add__fields row-oro'
    }) %}
    <div {{ block('block_attributes') }}>
        {{ form_widget(form.products) }}
    </div>
    <fieldset data-name="rest-fields">
        {{ form_row(form.component) }}
        {{ form_row(form.additional) }}
        {{ form_row(form.transition) }}
        {{ form_rest(form) }}
    </fieldset>
{% endblock %}

{% block _quick_add_form_buttons_wrapper_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' grid-col-12 quick-order-add__buttons-wrapper',
        'data-role': 'quick-order-add-buttons'
    }) %}
    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _quick_add_form_clear_button_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' btn btn--action quick-order-add__clear-button hidden',
        'data-role': 'quick-order-add-clear'
    }) %}
    {{ block_widget(block, {attr: attr}) }}
{% endblock %}

{% block _quick_add_form_buttons_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' quick-order-add__buttons'
    }) %}
    <div {{ block('block_attributes') }}>
        {% placeholder oro_product_quick_add_buttons %}
    </div>
{% endblock %}
