{% extends '@OroUI/actions/update.html.twig' %}
{% import '@OroUI/macros.html.twig' as UI %}

{% set entityId = entity.id %}

{% if entityId %}
    {% oro_title_set({params : {"%name%": entity.rule.name} }) %}
{% else %}
    {% oro_title_set({params : {"%entityName%": 'oro.promotion.entity_label'|trans} }) %}
{% endif %}

{% set formAction = entityId ? path('oro_promotion_update', { 'id': entityId }) : path('oro_promotion_create')  %}

{% block navButtons %}
    {% import '@OroUI/macros.html.twig' as UI %}

    {{ UI.cancelButton(path('oro_promotion_index')) }}

    {% set html = '' %}
    {% if is_granted('oro_promotion_view') %}
        {% set html = html ~ UI.saveAndCloseButton({
            'route' : 'oro_promotion_view',
            'params' : {'id': '$id'}
        }) %}
    {% endif %}
    {% if entityId or is_granted('oro_promotion_update') %}
        {% set html = html ~ UI.saveAndStayButton({
            'route' : 'oro_promotion_update',
            'params' : {'id': '$id'}
        }) %}
    {% endif %}
    {{ UI.dropdownSaveButton({'html': html}) }}
{% endblock navButtons %}

{% block pageHeader %}
    {% if entityId %}
        {% set breadcrumbs = {
            'entity':      entity,
            'indexPath':   path('oro_promotion_index'),
            'indexLabel': 'oro.promotion.entity_plural_label'|trans,
            'entityTitle': entity.rule.name|default('N/A'|trans)
        } %}
        {{ parent() }}
    {% else %}
        {% set title = 'oro.ui.create_entity'|trans({'%entityName%': 'oro.promotion.entity_label'|trans}) %}
        {% include '@OroUI/page_title_block.html.twig' with { title: title } %}
    {% endif %}
{% endblock pageHeader %}

{% block content_data %}
    {% set id = 'promotion-edit' %}

    {% set advancedConditions %}
        {% set collapseId = 'collapse-'|uniqid %}
        <div class="control-group">
            <div class="control-label wrap">
                {{ form_label(form.rule.expression) }}
            </div>
            <div data-collapse-trigger class="controls">
                <div class="control-label">
                    <a href="#"
                       role="button"
                       class="control-label collapse-toggle"
                       data-toggle="collapse"
                       data-target="{{ '#' ~ collapseId }}"
                       aria-expanded="false"
                       aria-controls="{{ collapseId }}"><span data-text>{{ 'oro.promotion.rule.expression.toggle.show'|trans }}</span></a>
                </div>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <div id="{{ collapseId }}"
                     class="collapse"
                     data-collapsed-text="{{ 'oro.promotion.rule.expression.toggle.show'|trans }}"
                     data-expanded-text="{{ 'oro.promotion.rule.expression.toggle.hide'|trans }}"
                     data-toggle="{{ form.rule.expression.vars.value is not empty  }}"
                >{{ form_widget(form.rule.expression) }}</div>
            </div>
        </div>
    {% endset %}

    {% set dataBlocks = [
        {
            'title': 'oro.promotion.blocks.general'|trans,
            'subblocks': [{
                'title': '',
                'data': [
                    form_row(form.owner),
                    form_row(form.rule.name),
                    form_row(form.rule.sortOrder),
                    form_row(form.rule.enabled, {'label': 'oro.promotion.rule.enabled.label'}),
                    form_row(form.rule.stopProcessing),
                    form_row(form.useCoupons)
                ]
            }]
        },
        {
            'title': 'oro.promotion.blocks.discount_options'|trans,
            'subblocks': [{
                'title': '',
                'data': [
                    form_widget(form.discountConfiguration)
                ]
            }]
        },
        {
            'title': 'oro.promotion.blocks.schedules'|trans,
            'subblocks': [{
                'title': '',
                'data': [
                    form_row(form.schedules)
                ]
            }]
        },
        {
            'title': 'oro.promotion.blocks.conditions'|trans,
            'subblocks': [{
                'title': '',
                'data': [
                    form_row(form.scopes),
                    advancedConditions
                ]
            }]
        },
        {
            'title': 'oro.promotion.blocks.matching_items'|trans,
            'subblocks': [{
                'title': '',
                'data': [
                    form_widget(form.productsSegment)
                ]
            }]
        }
    ] %}

    {% set dataBlocks = dataBlocks|merge(oro_form_additional_data(form, 'Additional'|trans)) %}

    {% set dataBlocks = dataBlocks|merge([{
        'title': 'oro.promotion.blocks.store_frontend'|trans,
        'subblocks': [{
            'title': '',
            'data': [
                form_row(form.labels)
            ]
        }]
    }]) %}

    {% set data = {
        'formErrors': form_errors(form),
        'dataBlocks': dataBlocks
    }%}

    {{ parent() }}
{% endblock content_data %}
