{% block _check_email_page_widget %}
    {% set attr = attr|merge({
        class: attr.class|default('') ~ " {{ class_prefix }} {{ class_prefix }}_full {{ class_prefix }}_pos-absolute_vert-centered"
    }) %}
    <div{{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _check_email_widget %}
    {% set attr = attr|merge({
        class: attr.class|default('') ~ " {{ class_prefix }}__container container-x6"
    }) %}
    <div{{ block('block_attributes') }}>
        <div class="check-email__block">
            {{ block_widget(block) }}
        </div>
    </div>
{% endblock %}

{% block _check_email_message_widget %}
    <div class="notification notification_xmd notification_notice notification-radiused mb1-md">
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _check_email_label_widget %}
    {% set attr = attr|merge({
        class: attr.class|default('') ~ " {{ class_prefix }}__title"
    }) %}
    <h2{{ block('block_attributes') }}>{{ block_widget(block) }}</h2>
{% endblock %}

