<div class="widget-content" data-page-component-module="orob2baccount/js/app/components/account-address-component"
     data-page-component-options="{{ {disableDefaultWithoutType: true}|json_encode }}">
    {% if saved %}
        <script type="text/javascript">
        require(['oroui/js/widget-manager'],
        function(widgetManager) {
            widgetManager.getWidgetInstance({{ app.request.get('_wid')|json_encode|raw }}, function(widget) {
                widget.trigger('formSave', {{ form.vars.value.id|json_encode|raw }});
            });
        });
        </script>
    {% else %}
        {% if not form.vars.valid and form_errors(form) %}
        <div class="alert alert-error" style="margin:0">
            <div class="message">
                {{ form_errors(form) }}
            </div>
        </div>
        {% endif %}

        <form id="{{ form.vars.name }}"
              action="{{ form.vars.value and form.vars.value.id > 0
                  ? path(routes.update, { id: form.vars.value.id, entityId: entity.id })
                  : path(routes.create, { entityId: entity.id })
              }}"
              method="post" class="form-register form-dialog">
            <fieldset class="form-horizontal">
                {{ form_widget(form) }}
                <div class="widget-actions form-actions" style="display: none;">
                    <button class="btn" type="reset">{{ 'orob2b.account.address.cancel'|trans }}</button>
                    <button class="btn btn-primary" type="submit">{{ 'orob2b.account.address.save'|trans }}</button>
                </div>
            </fieldset>
        </form>
        {{ oro_form_js_validation(form) }}
    {% endif %}
</div>
