{% block _product_grid_container_widget %}
    {% set attr = layout_attr_defaults(attr, {
        'data-page-component-module': 'oroui/js/app/components/view-component',
        '~data-page-component-options': {
            view: 'orofrontend/default/js/app/views/footer-align-view',
            elements: {
                items: '.product-item--gallery-view',
                footer: '.product-item__qty'
            }
        }
    }) %}
    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _sticky_element_toolbar_widget %}
    {% set attr = layout_attr_defaults(attr, {
        'id': 'sticky_element_toolbar',
        '~class': ' sticky-panel__toolbar toolbar-sticky-container'
    }) %}
    <div {{ block('block_attributes') }}>{{ block_widget(block) }}</div>
{% endblock %}

{% block _product_require_js_config_widget %}
    {% set attr = layout_attr_defaults(attr, {
        'data-grid-toolbar': 'top'
    }) %}

    {% if (not isMobileVersion()) %}
        {% set attr = layout_attr_defaults(attr, {
            'data-grid-toolbar': 'top',
            'data-sticky-target': 'top-sticky-panel',
            'data-proxy-data': 'true',
            'data-sticky': {
                'isSticky': true,
                'autoWidth': true,
                'toggleClass': 'toolbar-sticky-container',
                'placeholderId': 'sticky_element_toolbar'
            }
        }) %}
    {% endif %}

    {% set attr = block('block_attributes') %}
    <script>
        require({
            config: {
                'orofrontend/js/app/datafilter/frontend-collection-filters-manager': {
                    templateData: {
                        attributes: '{{ attr|raw }}'
                    }
                }
            }
        });
    </script>
{% endblock %}
