{% block _middle_bar_widget %}
    {% set attr = attr|merge({
    class: attr.class|default('') ~ " middlebar"
    }) %}
    <div {{ block('block_attributes') }}>
        <div class="container-fluid">
            {{ block_widget(block) }}
        </div>
    </div>
{% endblock %}

{% block _middle_bar_logo_widget %}
    {% set attr = attr|merge({
    class: attr.class|default('') ~ " middlebar__left"
    }) %}
    <div {{ block('block_attributes') }}>
        <a href="{{ path('orob2b_frontend_root') }}" class="logo" style="background: url('{% image '@OroB2BFrontendBundle/Resources/public/default/images/logo/logo-oroacem.svg' %}{{ asset_url }}{% endimage %}') no-repeat;">OROCommerce</a>
    </div>
{% endblock %}

{% block _middle_bar_center_widget %}
    {% set attr = attr|merge({
    class: attr.class|default('') ~ " middlebar__center hidden-sm hidden-xs"
    }) %}
    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _middle_bar_search_widget %}
    {% set attr = attr|merge({
    class: attr.class|default('') ~ " search-widget search-widget_centered search-widget_has-options bordered radiused not-implemented"
    }) %}
    <div {{ block('block_attributes') }}>
        <div class="search-widget__options">
            <button class="search-widget__options__btn" type="submit" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                <span class="options__btn__text">All</span>
                <i class="icon-down-open-mini"></i>
            </button>
            <ul class="dropdown-menu">
                <li><a href="#">Search All Items</a></li>
                <li><a href="#">Search department 1</a></li>
                <li><a href="#">Search department 2</a></li>
                <li><a href="#">Search department 3</a></li>
            </ul>
        </div>
        <div class="search-widget__container">
            <input class="search-widget__input" type="text" placeholder="Search for a product" value="" />
            <button class="search-widget__submit" type="submit">
                <i class="icon-search"></i>
            </button>
        </div>
    </div>
{% endblock %}
