{% block _line_wrapper_widget %}
<div {{ block('block_attributes') }}>
    {{ block_widget(block) }}
</div>
{% endblock %}

{% block _account_address_book_addresses_list_heading_text_and_icon_widget %}
    <h2 {{ block('block_attributes') }}>
        <span class="address-list-heading__icon">
            <i class="badge badge_sm badge_circle badge_orange icon-map-marker"></i>
        </span>
    {{ block_widget(block) }}
    </h2>
{% endblock %}

{% block _account_address_book_addresses_list_add_company_action_widget %}
    {{ block_widget(block) }}
{% endblock %}


{# addresses_list - list #}
{% block _account_address_book_addresses_list_widget %}
    {% set attr = layout_attr_merge(attr, {'~class': " address-list"}) %}

    <ul {{ block('block_attributes') }}>
        {% for address in addresses %}

            {% do block|merge_context({'address': address}) %}
            {{ block('container_widget') }}

        {% endfor %}
    </ul>
{% endblock %}

{# addresses_list - item #}
{% block _account_address_book_addresses_list_item_widget %}
    {% if address.isPrimary %}
        {% set attr = layout_attr_merge(attr, {'~class': " address-list__item address-list__item--active"}) %}
    {% else %}
        {% set attr = layout_attr_merge(attr, {'~class': " address-list__item"}) %}
    {% endif %}

    {#<li class="{{ class_prefix }}__item {% if address.isPrimary %}{{ class_prefix }}__item--active{% endif %}">#}
        {#{{ block('container_widget') }}#}
    {#</li>#}
    <li {{ block('block_attributes') }}>
    {{ block('container_widget') }}
    </li>
{% endblock %}

    {# addresses_list - item address #}
    {% block _account_address_book_addresses_list_item_address_widget %}
        {% set attr = layout_attr_merge(attr, {'~class': " address-list__address"}) %}

        <div {{ block('block_attributes') }}>
            {{ address.street }}, {{ address.city }}, {{ address.postalCode }}, {{ address.region.combinedCode }}
        </div>
    {% endblock %}

    {# addresses_list - item label #}
    {% block _account_address_book_addresses_list_item_label_widget %}
        {% if address.isPrimary %}
            {% set attr = layout_attr_merge(attr, {'~class': " address-list__label"}) %}

            <div {{ block('block_attributes') }}>
                {{ address.label }}
            </div>
        {% endif %}
    {% endblock %}

    {# addresses_list - item actions #}
    {% block _account_address_book_addresses_list_item_actions_widget %}
        {% set attr = layout_attr_merge(attr, {'~class': " address-list__actions"}) %}

        <nav {{ block('block_attributes') }}>
            {{ block('container_widget') }}
        </nav>
    {% endblock %}

{# addresses_list - item button 'edit' #}
{% block _account_address_book_addresses_list_item_action_edit_widget %}
    {% set attr = layout_attr_merge(attr, {'~class': " address-list__button"}) %}

    <button {{ block('block_attributes') }}>
        <i class="cf-pencil cf--no-offset"></i>
    </button>
{% endblock %}

{# addresses_list - item button 'delete' #}
{% block _account_address_book_addresses_list_item_action_delete_widget %}
    {% set attr = layout_attr_merge(attr, {'~class': " address-list__button"}) %}

    {% if not address.isPrimary %}
        <button {{ block('block_attributes') }}>
            <i class="cf-trash cf--no-offset"></i>
        </button>
    {% endif %}
{% endblock %}

{# addresses_list - map #}
{% block _account_address_book_addresses_list_map_widget %}
    {% set attr = layout_attr_merge(attr, {'~class': " address-list-map"}) %}

    <div {{ block('block_attributes') }}">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6446.584101967654!2d-79.67825230562099!3d36.1107420162977!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x885321185b60513b%3A0x3c13048694fa19fa!2sHarvest+Rd%2C+McLeansville%2C+NC+27301%2C+USA!5e0!3m2!1sen!2sua!4v1467043537874" width="100%" height="420" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
{% endblock %}



