{#{% set parentClass = attr.class %}#}
{% block _page_wrapper_widget %}
<div class="line-wrapper">
    {{ block_widget(block) }}
</div>
{% endblock %}

{% block _page_heading_text_and_icon_widget %}
    <h2{{ block('block_attributes') }}>
        <span class="address-list-heading__icon">
            <i class="badge badge_sm badge_circle badge_orange icon-map-marker"></i>
        </span>
    {{ block_widget(block) }}
    </h2>
{% endblock %}

{% block _add_company_action_widget %}
    {{ block_widget(block) }}
{% endblock %}



{% block _account_user_address_view_account_addresses_widget %}
{# static content - start #}

    <ul class="address-list">
        {% for address in addresses %}

            {% do block|merge_context({'address': address}) %}
            {{ block('container_widget') }}

        {% endfor %}
    </ul>

    <div class="address-list-map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6446.584101967654!2d-79.67825230562099!3d36.1107420162977!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x885321185b60513b%3A0x3c13048694fa19fa!2sHarvest+Rd%2C+McLeansville%2C+NC+27301%2C+USA!5e0!3m2!1sen!2sua!4v1467043537874" width="100%" height="420" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>

{# static content - end #}

{% endblock %}

{% block _account_user_address_view_account_addresses_item_widget %}
    {#{% set parentClass = attr.class %}#}

    <li class="address-list__item {% if address.isPrimary %}address-list__item--active{% endif %}">

        <div class="address-list__address">{{ address.street }}, {{ address.city }}, {{ address.postalCode }}, {{ address.region.combinedCode }}</div>
        <div class="address-list__label">{{ address.label }}</div>

        <nav class="address-list__actions">
            <button type="button" class="address-list__button">
                <i class="cf-pencil cf--no-offset"></i>
            </button>
            {% if not address.isPrimary %}
                <button type="button" class="address-list__button">
                    <i class="cf-trash cf--no-offset"></i>
                </button>
            {% endif %}
        </nav>

    </li>
{% endblock %}



