{% block _account_address_book_user_addresses_head_widget %}
    {% set attr = layout_attr_merge(attr, {
        '~class': " oro-grid__row"
    }) %}
    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _account_address_book_user_addresses_title_widget %}
    {% set attr = layout_attr_merge(attr, {
        '~class': " oro-grid__column oro-grid__column-half"
    }) %}
    <div {{ block('block_attributes') }}>
        <h2 class="user-page-title">
            <span class="badge badge_sm badge_circle badge_orange">
                <i class="icon-map-marker"></i>
            </span>
            {{ block_widget(block) }}
        </h2>
    </div>
{% endblock %}

{% block _account_address_book_user_addresses_create_button_widget %}
    {% set attr = layout_attr_merge(attr, {
        '~class': " btn btn_xsm btn-dark oq-group-btn"
    }) %}
    {{ block_widget(block, {
        attr: attr
    }) }}
{% endblock %}

{% block _account_address_book_user_addresses_grid_widget %}
    {% set attr = layout_attr_merge(attr, {
        '~class': " oro-grid__row"
    }) %}
    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}
