{% block _account_user_address_view_account_addresses_widget %}
    {{ block_widget(block) }}
{% endblock %}

{% block _account_user_address_view_account_addresses_head_widget %}
    {% set attr = layout_attr_merge(attr, {
    '~class': " oro-grid__row"
    }) %}
    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _account_user_address_view_account_addresses_title_widget %}
    {% set attr = layout_attr_merge(attr, {
    '~class': " {{ class_prefix }} {{ class_prefix }}-half"
    }) %}
    <div {{ block('block_attributes') }}>
        <h2 class="user-page-title">
            <span class="badge badge_sm badge_circle badge_orange">
                <i class="icon-map-marker"></i>
            </span>
            {{ block_widget(block) }}
        </h2>
    </div>
{% endblock %}

{% block _account_user_address_view_account_addresses_add_button_widget %}
    {{ block_widget(block) }}
{% endblock %}

{% block _account_user_address_view_account_addresses_content_list_widget %}
    {{ block_widget(block) }}
{% endblock %}

{% block _account_user_address_view_account_addresses_content_grid_widget %}
    {% set attr = layout_attr_merge(attr, {
    '~class': " oro-grid__row"
    }) %}
    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _account_user_address_view_account_user_addresses_widget %}
    {{ block_widget(block) }}
{% endblock %}

{% block _account_user_address_view_account_user_addresses_head_widget %}
    {% set attr = layout_attr_merge(attr, {
    '~class': " oro-grid__row"
    }) %}
    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _account_user_address_view_account_user_addresses_title_widget %}
    {% set attr = layout_attr_merge(attr, {
    '~class': " {{ class_prefix }} {{ class_prefix }}-half"
    }) %}
    <div {{ block('block_attributes') }}>
        <h2 class="user-page-title">
            <span class="badge badge_sm badge_circle badge_orange">
                <i class="icon-map-marker"></i>
            </span>
            {{ block_widget(block) }}
        </h2>
    </div>
{% endblock %}

{% block _account_user_address_view_account_user_addresses_add_button_widget %}
    {{ block_widget(block) }}
{% endblock %}

{% block _account_user_address_view_account_user_addresses_content_list_widget %}
    {{ block_widget(block) }}
{% endblock %}

{% block _account_user_address_view_account_user_addresses_content_grid_widget %}
    {% set attr = layout_attr_merge(attr, {
    '~class': " oro-grid__row"
    }) %}
    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}
