{% block _account_user_address_view_page_widget %}
    {% set attr = attr|merge({
    class: attr.class|default('') ~ " {{ class_prefix }} {{ class_prefix }}_full"
    }) %}
    <div{{ block('block_attributes') }}>{{ block_widget(block) }}</div>
{% endblock %}

{% block _account_user_address_view_account_addresses_widget %}
    {{ block_widget(block) }}
{% endblock %}

{% block _account_user_address_view_account_addresses_content_list_widget %}
    {{ block_widget(block) }}
{% endblock %}

{% block _account_user_address_view_account_user_addresses_content_list_widget %}
    {{ block_widget(block) }}
{% endblock %}

{% block _account_user_address_view_account_user_addresses_widget %}
    <div{{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _account_user_address_view_account_user_addresses_head_widget %}
    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _account_user_address_view_account_user_addresses_title_widget %}
    {% set attr = attr|merge({
    class: attr.class|default('') ~ "{{ class_prefix }} {{ class_prefix }}-half"
    }) %}
    <div {{ block('block_attributes') }}>
        <h2 class="user-page-title">
            <span class="badge badge_sm badge_circle badge_orange">
                <i class="icon-map-marker"></i>
            </span>
            {{ block_widget(block) }}
        </h2>
    </div>
{% endblock %}

{% block _account_user_address_view_account_user_addresses_add_button_container_widget %}
    {% set attr = attr|merge({
    class: attr.class|default('') ~ "{{ class_prefix }} {{ class_prefix }}-half text-right"
    }) %}
    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _account_user_address_view_account_user_addresses_add_button_widget %}
    {{ block_widget(block) }}
{% endblock %}

{% block _account_user_address_view_account_addresses_content_grid_widget %}
    {{ block_widget(block) }}
{% endblock %}

{% block _account_user_address_view_account_user_addresses_content_grid_widget %}
    {{ block_widget(block) }}
{% endblock %}
